
.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.noseFirst{background: url(../../images/nose/nose_detail_section01.jpg) center center; background-size: cover;
		& .detail__inner{text-align:center;}
	}
	&.noseSection01{background: url(../../images/nose/nose_detail_section02.jpg) center 100%; background-size: cover;
		& .detail__section-box{float:right; color:#333; bottom:-80px;}
		& .detail__section-subtit{color:#333;}
	}
	&.noseSection02{background: url(../../images/nose/nose_detail_section03.jpg) center 100%; background-size: cover;}
	&.noseSection03{background: url(../../images/nose/nose_detail_section04.jpg) center 100%; background-size: cover;
		& .detail__section-box{float:right; color:#333; bottom:-80px; width:410px;}
		& .detail__section-subtit{color:#333;}
	}
	&.noseSection04{background: url(../../images/nose/nose_detail_section05.jpg) center 100%; background-size: cover;
		& .detail__section-box{bottom:-60px;}
	}
	&.noseSection05{background: url(../../images/nose/nose_detail_section06.jpg) center 100%; background-size: cover;
		& .detail__section-box{top:-30px;}
	}
	@media only screen and (max-width:$tablet-size){
		&.noseFirst{background: url(../../images/nose/nose_detail_section01_992.jpg) center 100%; background-size: cover;}
		&.noseSection01{background: url(../../images/nose/nose_detail_section02_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:auto; left:auto; bottom:-50px; width:230px;}
		}
		&.noseSection02{background: url(../../images/nose/nose_detail_section03_992.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:auto; width:250px;}
		}
		&.noseSection03{background: url(../../images/nose/nose_detail_section04_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:-140px; left:auto; right:auto; width:280px;}
		}
		&.noseSection04{background: url(../../images/nose/nose_detail_section05_768.jpg) center center; background-size: cover;
			& .detail__section-box{top:-20px; bottom:auto;}
		}
		&.noseSection05{background: url(../../images/nose/nose_detail_section06_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:-180px; left:auto; bottom:auto; width:79%;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.noseFirst{background: url(../../images/nose/nose_detail_section01_640.jpg) center center; background-size: cover;}
		&.noseSection01{height:860px !important; background: url(../../images/nose/nose_detail_section02_640.jpg) center bottom; background-size: cover;
			& .detail__section-box{top:-226px; bottom:auto; right:auto; width:100%;}
		}
		&.noseSection02{height:600px !important; background: url(../../images/nose/nose_detail_section03_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:auto; bottom:-46px; width:200px;}
		}
		&.noseSection03{height:850px !important; background: url(../../images/nose/nose_detail_section04_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:-232px; left:auto; bottom:auto; width:100%;}
		}
		&.noseSection04{height:760px !important; background: url(../../images/nose/nose_detail_section05_640.jpg) center center; background-size: cover;
			& .detail__section-box{width:100%;}
		}
		&.noseSection05{height:700px !important; background: url(../../images/nose/nose_detail_section06_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:auto; right:auto; bottom:auto; width:100%;}
		}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&.noseSection03{
			& .detail__section-box{top:-120px; width:450px;}
		}
		&.noseSection05{
			& .detail__section-box{top:0px; left:-120px; width:400px;}
		}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&.noseSection01{
			& .detail__section-box{top:auto; bottom:-300px;}
		}
		&.noseSection03{
			& .detail__section-box{top:-285px;}
		}
		// &.noseSection02{background: url(../../images/nose/nose_detail_section03_640.jpg) center 45%; background-size: cover;
		// 	& .detail__section-box{bottom:-300px;}
		// }
		&.noseSection05{
			& .detail__section-box{ left:0; width:100%;}
		}
	}
}

.fake-table{width:529px; margin-top:40px; border-top:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb;
	@media only screen and (max-width:$mobile-size){width:100%; margin-top:0px;}
	&__tit{display:table-cell; width:1%; height:36px; color:#666; font-weight:400; background-color:#ded7d2; text-align: center; vertical-align:middle; font-size:14px;
		@media only screen and (max-width:$mobile-size){height:32px; font-size:1.3rem;}
	}
	&__list{
		@media only screen and (max-width:$mobile-size){position:relative;
			&:before{position:absolute; top:0; left:0; width:100%; height:32px; background-color:#ded7d2; content:'';}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative; display:inline-block; width:28%; height:536px; font-size:14px;
		@media only screen and (max-width:$mobile-size){height:490px; font-size:1.3rem;}
		@media only screen and (max-width:$iphone-size){font-size:1.2rem;}
		&:first-child{width:16%;
			& .fake-table__tit{color:#333;}
			& .fake-table__txt{display:inline-block; width:100%; height:500px;
				background:url('../../images/nose/popup_img2.jpg') no-repeat center center; line-height:500px; color:#333; font-weight:400; background-color:#f5f5f5;
				@media only screen and (max-width:$mobile-size){background:url('../../images/nose/popup_img2_m.jpg') center center no-repeat; background-color:#f5f5f5;
					background-size:40px 442px; height:459px; line-height:1.3; padding-top:205px; }
			}
		}
		& + &{border-left:1px solid #bbbbbb;}
		&:nth-child(1){
			& .fake-table-txt{margin-top:86px;}
		}
	}
	&__txt{color:#666; line-height:1.3;
		&.type-2{background-color:#f5f5f5;}
		&.type-1{border-bottom:1px solid #eeeeee;}
		&.type-3{position:absolute; bottom:0; background-color:#b4866b; color:#fff;
			& .fake-table__wrap{height:140px;
				@media only screen and (max-width:$mobile-size){height:125px;}
				@media only screen and (max-width:$iphone-size){height:140px;}
			}
		}
		&.type-another1{margin-top:80px; border-top:1px solid #eee;}
		&.type-another2{margin-top:40px;}
		// @media only screen and (max-width:$mobile-size){
		// 	&.type-another1{margin-top:74px;}
		// 	&.type-another2{margin-top:37px;}
		// }
	}
	&__type{display:inline-block; font-size:12px; margin-bottom:3px; padding:4px 8px; color:#fff; border-radius:20px 20px 20px 20px;
		@media only screen and (max-width:$mobile-size){font-size:1rem;}
		@media only screen and (max-width:$iphone-size){font-size:0.9rem;}
	}
	&__type1{background-color:#7d5b47;}
	&__type2{background-color:#997058;}
	&__type3{background-color:#b4866b;}
	&__type4{background-color:#ffffff; color:#b4866b;}
	&__wrap{display:table-cell; width:1%; height:80px; vertical-align:middle; padding:0 26px;
		@media only screen and (max-width:$mobile-size){padding:0 8px;}
	}
}

.layer-img{position:absolute; top:50%; right:15%; transform: translateY(-60%); -ms-transform: translateY(-60%);
	width:40.36%; height:49%; background:url('../../images/nose/layer_img1.jpg') center center no-repeat; background-size:cover;
	@media only screen and (max-width:$tablet-size){top:auto; right:8%; left:auto; bottom:12%;  width:444px; height:282px; transform: none; background:url('../../images/nose/layer_img1_t.jpg') center center; }
	@media only screen and (max-width:$mobile-size){position:relative; right:auto; bottom:auto; width:100%; height:0; margin-top:50px; padding-bottom:63.38%; background:none;
		&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../../images/nose/layer_img1_m.jpg') center center; background-size:cover; content:'';}
	}
}


.color-nose0{color:#666666; font-weight:300;}
.color-nose1{color:#ff3399 !important;}
.color-nose2{color:#df2683 !important;}
.color-nose3{color:#ff7fac !important;}
.color-nose4{color:#fdff7b !important;}
.color-nose5{color:#e765a7 !important;}
.color-nose6{color:#ff3469 !important;}
.color-nose7{color:#ff4173 !important;}
.color-nose8{color:#d41f4e !important;}
.color-comma{color:#ffbccc !important;}
