
.low-box1 {
	.content-section__tit {margin-left: -30px;}
	.quotation2{width: 100%; margin-top: 40px; padding: 4.1% 7%; word-break: keep-all;}
	@media only screen and (max-width: $mobile-size) { padding: 0 35px; margin:0 -20px;
		.content-section__tit {margin-left: -15px;}
		.content-section__txt1{
			&.type-special{margin-top: 90px;}
		}
		.quotation2{width: auto; margin-top: 15px; margin-right: -65px;}
	}
	@media only screen and (max-width: 350px) {
		.content-section__tit {font-size: 3.0rem;}
	}
}

.low-box2{
	.content-section__tit.type-left {text-align: center; margin-left: -30px;}
	.brace{width: 100%; padding: 30px;}
	.brace__txt{ height: auto; display: block; margin-top: 10px; }

	@media only screen and (max-width: $mobile-size) {padding: 0px 5px;
		.brace{padding:15px 10px;}
		.content-section__tit.type-left {margin-left: -15px;}
	}
}

.low-box3{
	.content-section__tit{margin-left: -2px;}
	.point-box__item{height:440px;}
	@media only screen and (max-width: $tablet-size) {
		.content-section__sub-tit{width:300px;}
		.content-section__txt1{width:300px;}
		.point-box__item{height:auto;}
	}
	@media only screen and (max-width: $mobile-size) { padding: 0 0px; margin: 0 -15px;
		.content-section__tit{margin-left: -3px;}
		.content-section__box.w-5.type-another{padding: 0 20px;}
	}

}
.nose-detail{
	$this:&;
	&__list{width:1200px; margin:0 0 0 -56px; text-align:left; padding:0; font-size: 0;
		&:after{display:block; clear:both; content:'';}
	}
	&__tit{
		&:before{display:block; width:280px; height:168px; margin-bottom:20px; background:url('../../images/nose/nose_icon.jpg'); content:'';}
	}
	&__item{display: inline-block; width:33.33%;  margin-top:80px; padding-left:56px; box-sizing:border-box; list-style:none;vertical-align: top;
		&.nth-2 #{$this}__tit:before{background-position:0px -168px;}
		&.nth-3 #{$this}__tit:before{background-position:0px -336px;}
		&.nth-4 #{$this}__tit:before{background-position:0px -504px;}
		&.nth-5 #{$this}__tit:before{background-position:0px -672px;}
		&.nth-6 #{$this}__tit:before{background-position:0px -840px;}
		&.nth-7 #{$this}__tit:before{background-position:0px -1008px;}
	}
	&__txt{margin-top:10px; line-height:1.7;}
	@media only screen and (max-width:$tablet-size){
		&__list{width:auto; margin-top:80px;}
		&__item{width:50%; margin-top:0;
			& + & + &{margin-top:40px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{margin-top:56px; margin-left:0;}
		&__item{width:auto; padding-left:0;
			&.nth-2 #{$this}__tit:before{background-position:0px -84px;}
			&.nth-3 #{$this}__tit:before{background-position:0px -168px;}
			&.nth-4 #{$this}__tit:before{background-position:0px -252px;}
			&.nth-5 #{$this}__tit:before{background-position:0px -336px;}
			&.nth-6 #{$this}__tit:before{background-position:0px -420px;}
			&.nth-7 #{$this}__tit:before{background-position:0px -504px;}
			& + & + &{margin-top:30px;}
		}
		&__tit{
			&:before{width:140px; height:84px; margin:0 auto 15px; background-size:140px 588px;}
		}
	}
}

.nose-side__img{
	@media only screen and (max-width:$tablet-size){padding-right:330px; margin-right:-50px; background:url('../../images/nose/nose_low_img02_t.png') no-repeat right center; background-size:54%;}
	@media only screen and (max-width:$mobile-size){padding-right:128px; margin-right: -35px; background:url('../../images/nose/nose_low_img02_m.jpg') no-repeat right center; background-size:85%;}
}
