<%
	type = "detail"
	page = "eye"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="eye detail-common">
    <section class="fs_section eyeFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-eye">
					Alami,
					nyaman,
					cantik
				</p>
				<h3 class="detail__first-txt type-eye">
					<strong class="detail__first-point">Kombinasi dari keahlian dan</strong><br>
					Detail dari <span class="color-eye1">operasi mata</span> Banobagi
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Selanjutnya</em>
		</div>
    </section>

    <section class="fs_section n-eyeSection01" data-section-name="n-eyeSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-eye type-quotation2">
	              	<h4 class="detail__section-tit">
						Operasi mata,
						Metode operasi <span class="color-eye2">Banobagi</span>
	              	</h4>
	              	<p class="detail__section-subtit">Operasi yang disesuaikan dengan kebutuhan pasien sejak proses diagnosis sampai operasi dilakukan</p>
	              	<p class="detail__section-txt">
						Saat melakukan operasi mata apapun, dibutuhkan diagnosis dari berbagai aspek perawatan, seperti bentuk mata, ketebalan kelopak mata, dan apakah ada masalah fungsional mata saat mata ditutup dan dibuka. Tujuan utama kami adalah untuk memberikan informasi dan keyakinan kepada Anda agar kami dapat menciptakan dan menyediakan rencana operasi yang sesuai untuk Anda.
	              	</p>
	            </div>
			</div>
		</div>
		<div class="detail__dim">dim</div>
		<div class="detail__popup-m type-another"  >
			<div class="layer-doc hidden-p type-eye">
				<ul class="layer-doc__list">
					<li class="layer-doc__item">Kekuatan Otot kelopak mata</li>
					<li class="layer-doc__item">Ukuran dan Lokasi Pupil Mata</li>
					<li class="layer-doc__item">Ketebalan dan Elastisitas Kulit</li>
					<li class="layer-doc__item">Arah dari Bentuk Mata</li>
					<li class="layer-doc__item">Bentuk dari Sudut Mata</li>
					<li class="layer-doc__item">Jarak Antar Mata</li>
					<li class="layer-doc__item">Kedalaman kelopak mata</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-p">
			<div class="detail__section-set">
				<span>Sistem perawatan operasi mata</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye" data-popup-type="section">button</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section n-eyeSection02" data-section-name="n-eyeSection02">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-eye type-normal">
					<h4 class="detail__section-tit">
						Operasi mata,<br>
						Banobagi melakukannya dengan <span class="color-eye3">benar</span>
					</h4>
					<p class="detail__section-subtit">Apapun tentang operasi mata</p>
					<p class="detail__section-txt">
						Hasil akhir yang dikejar oleh Banobagi adalah:
						<span class="detail__num">
							① Bentuk mata yang lebih alamiah tanpa adanya bekas luka pasca operasi<br>
							② Tidak ada masalah fungsional mata<br>
							③ Hasil yang sesuai dengan keinginan pasien
						</span>
						Di Banobagi, kami memiliki metode, keterampilan, keahlian, dan prosedur operasi yang akan membuat mata Anda tampak lebih indah.
					</p>
				</div>
			</div>
			<!-- layer-doc5 -->
	  		<div class="layer-doc5">
	  			<ul class="layer-doc5__list">
	  				<li class="layer-doc5__item nth-1">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">01</p>
	  						<h5 class="layer-doc5__tit">Operasi kelopak mata ganda</h5>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-2">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">02</p>
	  						<h5 class="layer-doc5__tit">Perbaikan mata yang menonjol keluar</h5>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-3">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">03</p>
	  						<h5 class="layer-doc5__tit">Pengangkatan alis mata</h5>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-4">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">04</p>
	  						<h5 class="layer-doc5__tit">Pembentukan sudut mata</h5>
	  					</div>
	  				</li>
	  				<li class="layer-doc5__item nth-5">
	  					<div class="layer-doc5__wrap">
	  						<p class="layer-doc5__num">05</p>
	  						<h5 class="layer-doc5__tit">Reposisi kantung mata melalui konjungtiva mata</h5>
	  					</div>
	  				</li>
	  			</ul>
	  		</div>
	  		  <!-- //layer-doc5 -->
		</div>
	</section>

	<section class="fs_section n-eyeSection03" data-section-name="n-eyeSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-eye">
					<h4 class="detail__section-tit">
						Operasi Mata,<br>
						Banobagi memiliki sesuatu yang <span class="color-eye3">spesial</span>
					</h4>
					<p class="detail__section-subtit">Rumah sakit yang khusus melakukan operasi mata tanpa sayatan</p>
					<p class="detail__section-txt color-eye5">
						Di Banobagi, kami yakin dan bangga akan prosedur kami, bagaimana kami melakukan operasi mata tanpa sayatan. Departemen operasi mata Banobagi bersama dengan dr. Park Sun-Jae, yang telah melakukan studi dan melakukan operasi mata selama lebih dari <?php echo date("Y") - 2001; ?> tahun, menyediakan pelayanan ahli terbaik dengan terampil dan profesional bagi para pasien. Ini merupakan keahlian kami untuk meningkatkan teknik dan pengetahuan untuk memperbaiki sesederhana dan seefektif mungkin, tanpa membuat sayatan di kulit.
					</p>
				</div>
			</div>
  		</div>
		<div class="detail__dim">dim</div>
		<div class="detail__popup-m type-another">
			<div class="layer-doc hidden-p type-eye type-another">
				<ul class="layer-doc__list">
					<li class="layer-doc__item">Operasi kelopak mata tanpa sayatan</li>
					<li class="layer-doc__item">Operasi sudut mata tanpa sayatan</li>
					<li class="layer-doc__item">Koreksi mata menonjol tanpa sayatan</li>
					<li class="layer-doc__item">Pembuatan lipatan kelopak mata atas tanpa sayatan</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-p">
			<div class="detail__section-set">
				<span class="color-eye8">Operasi mata tanpa sayatan</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye" data-popup-type="section">button</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section n-eyeSection04" data-section-name="n-eyeSection04">
		<div class="detail__inner">
			<div class="detail__popup" >
			  <div class="detail__popup-wrap">
				  	<h5 class="detail__popup-tit">Anestesi tanpa Sedasi dengan rasa sakit yg minimal di BANOBAGI<span class="color-eye9">.</span></h5>
				 	<div class="eye-popup">
					 	<ul class="eye-popup__list">
					 		<li class="eye-popup__item nth-1">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">01</p>
					 				<h6 class="eye-popup__tit">Penggunaan jarum yang halus</h6>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-2">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">02</p>
					 				<h6 class="eye-popup__tit">Teknik dari para spesialis kami</h6>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-3">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">03</p>
					 				<h6 class="eye-popup__tit">Penggunaan krim anestesi sebelum prosedur operasi</h6>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-4">
					 			<div class="eye-popup__wrap">
					 				<p class="eye-popup__num">04</p>
					 				<h6 class="eye-popup__tit">Penggunaan obat lokal anestesi</h6>
					 			</div>
					 		</li>
					 		<li class="eye-popup__item nth-5"><div class="eye-popup__wrap">mark</div></li>
					 	</ul>
				 	</div>
				  	<a href="" class="detail__popup-close js-popup-close">Tutup</a>
			  	</div>
		  	</div>
  		  	<div class="detail__vertical">
  			  	<div class="detail__section-box type-wide type-eye type-quotation2">
				  	<h4 class="detail__section-tit">
  					  	Operasi mata,<br>
						Banobagi melakukannya <span class="color-eye3">dengan terperinci</span>
  				  	</h4>
  				  	<p class="detail__section-subtit">Alasan kami mengarah pada</p>
  				  	<p class="detail__section-txt">
					  	Akan lebih baik bagi pasien jika tetap sadar penuh dan tidak dibius terlalu dalam guna menghasilkan hasil operasi mata terbaik. Hal ini membuat prosedur lebih aman dan hasil yang lebih baik. Kami mempertahankan pembiusan tanpa menidurkan terlalu lelap dan terus mempelajari berbagai metode pemakaian obat-obatan anestesi dalam rangka meminimalisir rasa nyeri selama operasi. Banyak pasien kami yang telah memberi saran berupa operasi yang terasa nyaman tanpa tidur terlalu lelap.
  				  	</p>
  			  	</div>
  		  	</div><!-- //detail__vertical -->
	    </div>
	  	<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				Anestesi tanpa Sedasi dengan rasa<br class="hidden-pt"> sakit yg minimal di BANOBAGI
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-eye">button</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section n-eyeSection05" data-section-name="n-eyeSection05">
		<div class="detail__inner">
  		  	<div class="detail__vertical">
  			  	<div class="detail__section-box type-wide type-eye type-quotation2">
  				  	<h4 class="detail__section-tit">
  					  	Operasi mata, <br>
						Banobagi mendengarkan pasien kami
  				  	</h4>
  				  	<p class="detail__section-subtit">Alasan Banobagi menjadwalkan konferensi teratur</p>
  				  	<p class="detail__section-txt color-eye6">
						Banobagi menghadiri konferensi dua kali seminggu untuk memperoleh pengetahuan dan ilmu dengan standar tinggi terkait prosedur operasi yang terperinci. Tim dokter bedah, perawat, dan konsultan Banobagi secara teratur mendiskusikan masalah yang sering muncul dari pasien kami terkait prosedur operasi, perawatan pasca operasi, ketidaknyamanan pasca operasi, dan penyembuhan pasien. Kami tidak pernah menelantarkan pasien kami maupun pentingnya kemajuan pengetahuan dan profesionalisme kami selama lebih dari 18 tahun ini, sehingga kami sangat bangga dan yakin dalam membuat pencapaian lain di masa depan sebagai pemimpin di bidang bedah plastik.
  				  	</p>
  			  	</div>
  		  	</div>
	  	</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
