<%
	type = "content"
	page = "eye"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-eye-incisional">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-eye-incisional">
	            <p class="content-visual__txt1">Sebuah kesalahpahaman tentang sayatan membuat mata tampak tidak alami</p>
	            <h3 class="content-visual__tit"># Operasi Mata <span class="color-incisional1">Sayatan</span></h3>
	            <p class="content-visual__txt2 type-eye-incisional">Pesona yg alami</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content-->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="incisional-box1">
	            <div class="content-section type-first">
	                <div class="content-section__wrap">
	                    <div class="content-section__box1 type-w4">
							<h4 class="content-section__tit type-top">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">01</span>
		                        </span>
                                Kami disini untuk mengupas tentang
                                <strong class="color-incisional1">kesalahpahaman mengenai insisi</strong>
                            </h4>
	                        <p class="content-section__txt1">
	                            Insisi yang dilakukan dalam membuat kelopak mata ganda didesain dengan menggambar garis kelopak, membuang otot dan lemak, kemudian menjahit otot dan kulit untuk dperbaiki. Bagi mereka yang memiliki kulit yang menggelambir atau memiliki sel lemak yang banyak pada kelopak mata, operasi dengan insisi akan lebih menguntungkan.
	                        </p>
	                        <p class="content-section__txt2">
	                            Metode dengan insisi memiliki lebih banyak pro dibanding kontranya: insisi dapat menciptakan variasi-variasi garis mata dan membuat bentuk mata yang lebih tajam dan besar.
	                        </p>
	                    </div>
	                    <div class="content-section__box1 type-w6 ">
	                        <div class="content-section__img sec1-thumb">
	                            <img src="../../images/eye/incisional-sec1_01.png" loading="lazy" alt="model">
	                            model
	                        </div>
	                    </div>
	                </div>
	                <!-- //content-section__wrap-->
	                <div class="content-section__wrap">
	                    <div class="content-section__border">
	                        <p class="content-section__txt3 type-sec1">
	                            Terdapat banyak kesalahpahaman mengenai metode insisi. Penggunaan kata insisi itu sendiri terdengar mengerikan dan menyakitkan. Anda mungkin lebih khawatir terhadap luka atau hasil akhir mata yang disebut “mata sosis”.
	                            <br>
	                            <br>
	                            <span class="color-incisional1">Tetapi, metode insisi dan tanpa insisi memiliki sedikit perbedaan dalam hasil.</span>
	                            <br>
	                            Ketika dengan dokter spesialis bedah
	                        </p>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box2">
				<h4 class="incisional-box2__tit">
                    <strong class="color-incisional2">Beragam variasi</strong> garis kelopak mata ganda
                </h4>
	            <div class="incisional-box2__wrapper type-wrapper">
	                <div class="site-box__wrap">
						<div class="item-box3 type-incisional">
                            <ul class="item-box3__list">
                                <li class="item-box3__item nth-1">
                                    <div class="item-box3__box">
                                        <div class="item-box3__wrap">
                                            <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">In-line</span></h5>
                                            <p class="item-box3__txt txt-v1">
                                                Garis kelopak mata ganda menyatu di pangkal bagian depan mata dan melebar sampai ke ujungnya.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-box3__item nth-2">
                                    <div class="item-box3__box">
                                        <div class="item-box3__wrap">
                                            <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">Out-line</span></h5>
                                            <p class="item-box3__txt txt-v1">
                                                Garis kelopak mata ganda tampak terpisah dan paralel dari pangkal sampai dengan ujung sesuai bentuk mata.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-box3__item nth-3">
                                    <div class="item-box3__box">
                                        <div class="item-box3__wrap">
                                            <h5 class="item-box3__tit tit-v2"><span class="color-incisional1">In-out-line</span></h5>
                                            <p class="item-box3__txt txt-v1">
                                                Secara keseluruhan tampak kedua garis kelopak mata paralel dari pangkal ke ujung, namun sangat tipis di pangkal dan menebal sampai ke ujung.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //item-box3-->
	                </div>
	            </div>
	        </div>
	        <div class="incisional-box3">
	            <div class="content-section">
                    <div class="content-section__box1 type-sort">
						<h4 class="content-section__tit type-center">
	                        <span class="content-section__number">
	                            <span class="content-section__number-wrap">
	                                02
	                            </span>
	                        </span>
                            Insisi: jika diperlukan, harus <strong class="color-incisional1">dilakukan dengan tepat</strong>
						</h4>
                    </div>
                    <div class="content-section__box1">
                        <p class="content-section__txt1">
                           	Sebagian besar pasien tidak memilih metode insisi, begitu juga klinik kami. Insisi pada operasi mata hanya dilakukan jika memang diperlukan (misalnya, jaringan lemak sekitar mata sangat tebal atau kelopak mata yang sangat turun), setelah konsultasi yang memadai.
                        </p>
                        <div class="content-section__img-wrap type-width clearfix">
                            <div class="content-section__img ">
                                <div class="content-section__item">
                                    <img src="../../images/eye/incisional-sec3-01.jpg" loading="lazy" alt="" class="content-section__thumb sec2-pic1">
                                    <div class="content-section__thumb sec2-pic1"></div>
                                </div>
                            </div>
                            <div class="content-section__img">
                                <div class="content-section__item">
                                    <img src="../../images/eye/incisional-sec3-02.jpg" loading="lazy" alt=""class="content-section__thumb sec2-pic1">
                                </div>
                            </div>
                        </div>
                        <div class="brace type-incisional">
                            <p class="brace__txt txt-v4">
                                Jika insisi diperlukan, maka harus dilakukan dengan tepat. Insisi dalam pembuatan kelopak mata ganda dapat menghasilkan kepuasan yang lebih besar daripada tanpa insisi, jika dilakukan <span class="color-incisional1">oleh dokter bedah ahli.</span>
                            </p>
                        </div>
                    </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box4">
	            <div class="content-section">
	                <div class="content-section__wrapper type-bg">
	                    <div class="content-section__wrapper type-desc clearfix">
	                        <div class="content-section__wrapper type-bg--tm">
	                            <h4 class="content-section__tit type-left">
									<span class="content-section__number">
										<span class="content-section__number-wrap">03</span>
									</span>
	                                <strong class="color-incisional1">Tampilan alami:</strong><br>
	                                Banobagi<br>
									pantang menyerah
	                            </h4>
	                        </div>
	                        <div class="content-section__desc">
	                            <h5 class="content-section__question1 highlight-incisional1">“Apakah benar itu dilakukan dengan insisi?”</h5>
	                            <div class="content-section__txt1">
	                                Banyak pasien kami yang menanyakan hal itu. Mereka menceritakan bahwa telah dilakukan insisi, namun temannya tidak dapat melihatnya. Seperti inilah kealamian hasil operasi kelopak mata Banobagi. Jaringan kelopak mata ditipiskan secara presisi dan insisi dibuat secara efektif: tidak meninggalkan jaringan parut, tapi garis yang alami yang membuat Anda merasa seperti memilikinya sejak lahir.
	                                <span class="content-section__dot"></span>
	                            </div>
	                            <h5 class="content-section__question1 highlight-incisional2">Apakah metode insisi selalu meninggalkan tanda?</h5>
	                            <div class="content-section__txt1">
	                                Tidak semua. Keahlian para dokter bedah menjadi bukti pada metode insisi, banyak diantara mereka yang memilih metode insisi untuk menciptakan hasil tampilan yang  alami. Jika insisi dibutuhkan, pasien harus mencari klinik dengan dokter bedah yang ahli di bidang tersebut.
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
	        <div class="incisional-box5">
	            <div class="content-section">
	                <div class="content-section__wrapper type-width">
	                    <div class="content-section__wrapper">
	                        <h4 class="content-section__tit type-center">
								<span class="content-section__number">
									<span class="content-section__number-wrap">04</span>
								</span>
	                            <strong class="color-incisional1">Jaringan parut dan pembengkakan,</strong> tak perlu dikhawatirkan
	                        </h4>
	                    </div>
	                    <div class="content-section__wrapper type-contents">
	                        <div class="content-section__txt1">
	                            Jaringan parut mungkin menjadi kekhawatiran besar para pasien mengenai metode insisi. Hal ini merupakan kekhawatiran yang bisa dipahami, karena metode insisi biasanya meninggalkan bekas yang tampak. Tetapi, luka akan hilang dalam 6 bulan.
	                        </div>
	                        <div class="after-surgery">
	                            <ul class="after-surgery__list clearfix">
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img01">Setelah pengangkatan jahitan</div>
	                                        <div class="after-surgery__desc color">
	                                            <p class="after-surgery__txt1">Setelah pengangkatan jahitan</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img02">Setelah 1 bulan</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">Setelah 1 bulan</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img03">Setelah 3 bulan</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">Setelah 3 bulan</p>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="after-surgery__item">
	                                    <div class="after-surgery__inner">
	                                        <div class="after-surgery__thumb img04">Setelah 6 bulan</div>
	                                        <div class="after-surgery__desc">
	                                            <p class="after-surgery__txt1">Setelah 6 bulan</p>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="content-section__txt1 type-special">
	                            Metode insisi biasanya meninggalkan bengkak yang lebih lama daripada metode tanpa insisi. Pembengkakan terparah terjadi 2-3 hari setelah operasi, yang akan semakin berkurang seiring berjalannya waktu.
	                        </div>
	                        <div class="open-close">
	                            <ul class="open-close__list clearfix">
	                                <li class="open-close__item">
	                                    <div class="open-close__inner">
	                                        <div class="open-close__thumb img01">img</div>
	                                    </div>
	                                </li>
	                                <li class="open-close__item">
	                                    <div class="open-close__inner">
	                                        <div class="open-close__thumb img02">img</div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="content-section__txt3">
	                            [ Foto-foto diatas merupakan pasien Banobagi untuk pemahaman prosedur yang lebih baik, dan telah mendapatkan persetujuan dari pasien yang bersangkutan. ]
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--contenct-section-->
	        </div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Informasi Operasi</h4>
							<!-- <p class="operation-v2__subtit">Lebih lanjut menganai operasi kelopak mata ganda</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
										<p class="operation-v2__txt txt-new1">± 30 menit ~ 1 jam</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
										<p class="operation-v2__txt txt-new1">Anestesi Lokal</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
										<p class="operation-v2__txt txt-new1">Dilepas ± stlh 2 ~ 3 hari</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
										<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
										<p class="operation-v2__txt txt-new1">± 1 X</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
										<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 7 ~ 14 hari</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Jika pembiusan diperlukan, metode insisi lebih tidak sakit dibanding metode tanpa insisi.<br>
									Pasien baru merasakan sakit dan tidak nyaman setelah efek obat bius tersebut hilang.<br>
									Jika nyeri sangat hebat, kami akan memberikan anti nyeri, ditambah dengan kompres dingin di area yang bengkak dan terasa panas.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
									<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- // container -->

<% include ../_include/_footer %>
