<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-eye-double">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Perubahan yg bisa diciptakan hanya dengan jahitan simpul sederhana</p>
				<h3 class="content-visual__tit"># Operasi Mata <span class="double-color1">Jahitan</span></h3>
				<p class="content-visual__txt2">Tampilan alami dan cantik</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-eye-double">
		<div class="content-wrap">
			<div class="content-section type-first">
				<div class="double-box1">
					<div class="double-box1__box">
						<h4 class="double-box1__tit">
							<span class="double-color1">Perbaikan semi permanen</span> tanpa pengenduran<br>
							<span class="double-color1">Penyembuhan cepat</span> dengan bengkak dan memar minimal
						</h4>
						<p class="double-box1__txt">Dasar pembedahan kelopak mata Banobagi</p>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box2">
					<div class="double-box2__box pop-info">
						<h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							Simpul yang rumit menyebabkan <br>
							<a href="" class="info-btn js-info">
								<span class="info-btn__icon">info-btn</span>
								<strong class="double-color2">adhesi yang lebih ketat dan lebih kuat</strong>
								<span class="info-desc type-eye-double">
									<span class="info-desc__item">
										<span class="info-desc__box">
											<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>Apa itu adhesi?</strong><br class="hidden-tm"></span>
											<span class="info-desc__content">
												<span class="info-desc__txt1">
                                                    Proses operasi yg mengikat atau menghubungkan jaringan di sekitar mata bersamaan. Proses ini dapat dengan mudah dipahami dalam arti bahwa area yang dirawat akan sembuh lebih cepat dan jaringan kulit akan menjadi lebih erat melekat.
												 </span>
											</span>
										</span>
										<button class="info-desc__btn js-close">
											<span class="info-desc__stick type-left"></span>
											<span class="info-desc__stick type-another"></span>
											Tutup
										</button>
									</span>
								</span>
							</a>
						</h4>

						<p class="content-section__txt1">
							Di masa lalu, metode penempelan dilakukan secara sederhana dan pemulihan pada umumnya cepat, namun masalah yang muncul adalah kelopak mata menjadi mudah lepas. Penelitian kami berfokus pada pengembangan teknik untuk menguatkan metode penempelan kelopak mata untuk mengatasi masalah di masa lalu ini. Hari ini, Banobagi menawarkan operasi kelopak mata dengan pelekat alami tanpa insisi ataupun jahitan dibagian luar kulit. Namun hanya dengan pembuatan simpul kecil halus yang melekatkan kelopak mata secara alami diantara jaringan kulit dan otot.
						</p>
						<p class="content-section__txt2">
							<strong class="content-highlight type-eye-double">
								Kelopak mata ganda yang secara detil “terikat” bersama dan tetap dengan metode penempelan ganda ini, melibatkan teknik yang penuh keterampilan dan spesial yang bukan sembarang orang bisa melakukannya. Di Banobagi, kami bisa bangga untuk melakukannya dengan benar, penuh ketrampilan dan secara efisien guna mencapai hasil terbaik yang Anda inginkan.
							</strong>
						</p>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box3">
					<div class="double-box3__wrap">
						<p class="double-box3__subtit">Tampilan alami dan cantik!</p>
						<h4 class="content-section__tit">
							Banobagi menemukan
							<span class="content-highlight type-eye-double2">metode penempelan ganda</span>
							tanpa insisi dan telah menyempurnakan operasi kelopak mata dengan terampil.
						</h4>
						<div class="double-box3__box">
							<p class="content-section__txt1">
								Dr. Park Sun-jae, pemimpin departemen Operasi Mata Banobagi, memperlengkapi dan menyempurnakan teknik operasi penempelan ganda tanpa insisi pada tahun 2003, berdasarkan filosofi <span class="double-color4">“pengertian yang sempurna mengenai prinsip pembedahan membantu menghasilkan sesuatu yang baru”</span><br class="hidden-m">
								Di Banobagi, kami secara konsisten menggantikan kelemahan dan kekurangan metode lama dengan teknik dan teknologi yang baru, sesuai dengan prinsip-prinsip bedah. Banobagi telah mengembangkan dan menyempurnakan prosedur kami menjadi operasi bedah plastik tanpa insisi yang menghasilkan mata yang lebih alamiah dan cantik.
							</p>
						</div>
					</div>
					<div class="double-box3__area">
						<div class="eye-table--outer">
				          	<div class="eye-table">
					            <ul class="eye-table__list">
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">Tradisional tanpa insisi</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap">VS</div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">Pelekat alami tanpa insisi</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">Simpul tanpa pelekat</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">Perkembangan</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">Simpul + pelekat alami</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap type-longer">Kelopak mata kembali tidak terlipat (5-50%)</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">Penggantian</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap type-longer">Minimal pembukaan kembali (kurang dari 1%)</div></div>
									</li>
									<li class="eye-table__item">
										<div class="eye-table__box type-left"><div class="eye-table__wrap">Tampilan alami</div></div>
										<div class="eye-table__center"><div class="eye-table__wrap"><span class="eye-table__arrow">Mempertahankan</span></div></div>
										<div class="eye-table__box type-right"><div class="eye-table__wrap">Tampilan alami</div></div>
									</li>
					            </ul>
				          	</div>
				        </div>
					</div>
				</div>
			</div>

			<div class="content-section">
				<div class="double-box4">
					<div class="double-box4__wrap">
						<div class="double-box4__img">
							<img src="../../images/eye/double/double_img_02.jpg" loading="lazy" alt="">
						</div>
						<div class="double-box4__box">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										02
									</span>
								</span>
								Pengaplikasian metode
								<strong class="double-color2">kami ke sebanyak mungkin orang</strong>
							</h4>
							<div class="axiety quotation type-eye-double">
			                    <ul class="axiety__list">
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">Saya ingin terlihat <strong class="double-color2">lebih alami</strong> seperti saya terlahir dengan kelopak mata ganda</p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">Saya ingin membuat kelopak mata ganda pada akhir minggu dan <strong class="double-color2">kembali bekerja</strong> pada hari Senin</p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1"><strong class="double-color2">Saya tidak ingin ada jaringan parut yang tampak</strong> saat saya menutup mata</p>
			                        </li>
			                        <li class="axiety__item">
			                            <p class="axiety__txt1">Saya pernah operasi kelopak mata tanpa insisi sebelumnya, namun sudah <strong class="double-color2">hilang dengan begitu cepat.</strong></p>
			                        </li>
			                    </ul>
			                    <p class="axiety__txt2">
									<span class="eclipsis type-eye-double">
										<span class="eclipsis__wrap">
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
											<span class="eclipsis__circle"></span>
										</span>
									</span>
			                    </p>
			                </div>
						</div>
					</div>
				</div>

				<div class="double-box5">
					<p class="content-section__txt1">
						Sebagian besar pasien yang ingin membuat kelopak mata ganda memilih operasi tanpa insisi. <br>
						Pasien sangat ingin bengkak dan memar yang minimal pasca operasi dan tanpa bekas luka.<br>
						Selain itu, beberapa pasien takut jika wajah mereka tampak berbeda setelah operasi dan khawatir akan kembalinya kelopak mata seperti semula seperti sebelum operasi.<br>
						<strong class="content-highlight type-eye-double">Metode operasi kelopak mata dengen pelekat alami tanpa insisi milik Banobagi adalah satu-satunya cara untuk mengatasi kekhawatiran ini.</strong><br>
						Tentu saja, metode kami mungkin tidak berlaku pada semua orang atau kasus tertentu
					</p>

					<p class="content-section__txt2">
						<span class="double-box5__division">Tetapi!</span>
						<strong>di Banobagi, kami berdedikasi dan yakin dalam menghasilkan kelopak mata <span class="double-color3">yang cantik, alami, tanpa luka</span>untuk sebanyak mungkin orang. </strong>
					</p>
				</div>
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-eye">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Informasi Operasi</h4>
							<!-- <p class="operation-v2__subtit">Pemulihan dari augmentasi dada itu cepat</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
										<p class="operation-v2__txt txt-new1">± 30 menit</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
										<p class="operation-v2__txt txt-new1">Anestesi Lokal</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
										<p class="operation-v2__txt txt-new1">Dilepas ± stlh 3 hari</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
										<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
										<p class="operation-v2__txt txt-new1">± 1 X</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
										<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 3 hari</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-eye">
								<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Operasi kelopak mata ganda tanpa insisi merupakan salah satu operasi dengan nyeri minimal.<br>
									Normal serta alami bila Anda merasakan sedikit nyeri dan tidak nyaman setelah prosedur.<br>
									Jika nyeri, Anda dapat mengkonsumsi obat anti nyeri tanpa resep dokter.<br>
									Jika Anda merasakan panas di area penyembuhan, Anda dapat menggunakan kompres dingin untuk merasa nyaman dan mengurangi bengkak.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
									<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
		</div>
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
