<%
	type = "content"
	page = "eye"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-middle-age">
		<div class="content-visual__box">
			<div class="content-visual__border type-middle-age">
				<p class="content-visual__txt1 type-middle-age">
					Dari impresi yang cerah,
					<span class="inline-block">sampai perbaikan fungsi mata</span>
				</p>
				<h3 class="content-visual__tit type-middle-age"># Operasi <span class="color-middle-age1">Usia-menengah</span></h3>
				<p class="content-visual__txt2 type-middle-age">Bentuk mata menjadi lebih muda secara natural</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="middle-box1">
	            <div class="content-section type-first">
	                <div class="quotes">
	                    <div class="quotes__wrapper quotation">
	                        <h4 class="quotes__txt1">
	                            BANOBAGI selalu memahami kekhawatiran dari pasien usia menengah.  Maka dari itu BANOBAGI menawarkan operasi plastik mata yg dapat
	                            <span class="type-border">mengurangi kekhawatiran melalui metode sederhana bagi pasien <span class="color-middle-age2">usia menengah.</span></span>
	                        </h4>
	                    </div>
	                    <p class="quotes__txt2">
	                        Operasi plastik mata untuk usia menengah membutuhkan pendekatan yg berbeda dengan operasi plastik mata umum yg diterapkan untuk pasien yg lebih muda.
	                    </p>
	                </div>
	                <div class="site-box6__wrapper">
	                    <div class="site-box6">
	                        <div class="site-box6__box">
	                            <ul class="site-box6__list clearfix">
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
											<span class="link__icon-wrap">
												<span class="link__icon"><span class="link__line"></span></span>
											</span>
	                                        <p class="site-box6__txt1">
	                                           	Apa yg lebih penting daripada perubahan drastis adalah
	                                            <strong class="color-middle-age10">mengembalikan kondisi mata secara natural</strong> melalui perbaikan keriput mata & kekenduran kulit.
	                                        </p>
	                                    </div>
	                                </li>
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
	                                        <p class="site-box6__txt1"><span class="color-middle-age4">Beban tindakan operasi </span> harus lebih kecil.</p>
	                                    </div>
	                                </li>
	                                <li class="site-box6__item">
	                                    <div class="site-box6__inner">
											<span class="link__icon-wrap type-rotate">
												<span class="link__icon"><span class="link__line"></span></span>
											</span>
	                                        <p class="site-box6__txt1">Bahkan seklaigus berfungsi lebih baik dalam <strong class="color-middle-age10">memperbaiki fungsi mata</strong></p>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>

	                        <div class="site-box6__slogan">
	                            <p class="site-box6__txt2">
	                                Dengan <strong class="border-bottom">perencanaan operasi yg terperinci</strong> dalam penanganan hal-hal tersebut, BANOBAGI berusaha
									<span class="color-middle-age3 border-bottom">memberikan kepuasan hasil operasi mata bagi pasien usia menengah. </span>
	                            </p>
	                        </div>
	                    </div>

	                </div>
	            </div><!-- //content-section -->
	        </div>

	        <div class="content-tab">
	            <div class="content-tab__inner">
	                <ul class="content-tab__list">
	                    <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-nonincision">Upper Blepharoplasty</a></li>
	                    <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-incise">Lower Blepharoplasty</a></li>
	                </ul>
	            </div>
	        </div>

	        <!-- tab contents -->
	        <div class="content-tab__page page-nonincision is-active">
	            <div class="content-tab__box">
	                <div class="content-tab__wrapper">
	                    <div class="middle-box2">
	                        <div class="content-section">
	                            <div class="content-section__wrapper type-width">
	                                <div class="content-section__wrapper type-unique">
										<h4 class="content-section__tit type-top">
                                            <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
                                            Mata kendur yg disebabkan oleh penuaan harus diperbaiki untuk
                                            <strong class="color-middle-age5">kesehatan mata</strong>
                                        </h4>
	                                </div>
	                                <div class="content-section__wrapper">
	                                    <p class="content-section__txt1">
                                            Seperti kulit bagian lain, kelopak mata juga akan kendur karena kehilangan elastisitas.<br class="hidden-tm">
											Kelopak mata yg kendur membuat seluruh wajah terlihat lebih tua & bahkan menghalangi penglihatan.<br class="hidden-m">
	                                        <span class="content-highlight type-eye-middle-age">Saat penglihatan semakin berkurang, kita cenderung memberikan tekanan pada mata yg menyebabkan keriput wajah secara keseluruhan</span>
	                                    </p>
	                                    <p class="content-section__txt1">
	                                       	Masalah terbesar pada kelopak mata yg kendur adalah efek buruk pada kesehatan mata. <br class="hidden-tm">
	                                        <strong>Mata menjadi bengkak, air mata mengalir secara mudah & menimbulkan nanah/ dermatitis kontak pada sudut mata.</strong><br class="hidden-tm">
	                                        <span class="inline-block">Oleh karena itu, kelopak mata yg kendur harus dikoreksi dengan operasi Upper Blepharoplasty</span>
	                                    </p>
	                                </div>
	                            </div>
	                            <div class="content-section__wrapper">
	                                <div class="eye-case">
	                                    <div class="eye-case__box">
	                                        <h5 class="eye-case__tit">Pasien usia menengah yg membutuhkan operasi mata</h5>
	                                    </div>
	                                    <div class="eye-case__box type-special">
	                                        <ul class="eye-case__list clearfix">
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img01">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                Sering bengkak
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img02">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                Mata yg kendur
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img03">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                Air mata
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                            <li class="eye-case__item">
	                                                <div class="eye-case__inner clearfix">
	                                                    <div class="eye-case__thumb type-img04">
	                                                        <div class="eye-case__desc">
	                                                            <p class="eye-case__txt1">
	                                                                Sudut mata yg bernanah
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box3">
	                        <div class="content-section">
	                            <div class="content-section__wrapper clearfix">
	                                <div class="content-section__inner type-thumb">
	                                    <img src="../../images/eye/middleage-2-01.jpg" loading="lazy" alt="model">
	                                </div>
	                                <div class="content-section__inner">
										<h4 class="content-section__tit type-left">
                                            <span class="content-section__number type-0"><span class="content-section__number-wrap">02</span></span>
                                            BANOBAGI memahami keraguan Anda meskipun merasa
                                            <strong class="color-middle-age6">tidak nyaman</strong>.
                                        </h4>
	                                    <div class="content-section__outer">
	                                        <div class="content-section__thumb">model</div>
	                                    </div>
	                                    <div class="axiety quotation type-eye-middle-age">
	                                        <ul class="axiety__list">
	                                            <li class="axiety__item">
													<p class="axiety__txt1">
                                                        <span class="axiety__number">01 . </span>
                                                        <span class="axiety__span">
                                                            <strong class="color-middle-age7">Perasaan takut</strong> terhadap <strong>‘operasi’</strong>
                                                        </span>
                                                    </p>
	                                            </li>
	                                            <li class="axiety__item">
													<p class="axiety__txt1">
                                                        <span class="axiety__number">02 . </span>
                                                        <span class="axiety__span">
                                                            <strong class="color-middle-age7">Kekhawatiran</strong> terhadap <strong>‘perubahan drastis pd impresi wajah’</strong>
                                                        </span>
                                                    </p>
	                                            </li>

	                                            <li class="axiety__item">
													<p class="axiety__txt1">
                                                        <span class="axiety__number">03 . </span>
                                                        <span class="axiety__span">
                                                            <strong class="color-middle-age7">Beban</strong> terhadap <strong>‘rasa sakit’</strong>
                                                        </span>
                                                    </p>
	                                            </li>

	                                            <li class="axiety__item">
													<p class="axiety__txt1">
                                                        <span class="axiety__number">04 . </span>
                                                        <span class="axiety__span">
                                                            <strong class="color-middle-age7">Kekhawatiran</strong> terhadap <strong>‘masalah pada aktifitas sehari-hari’</strong>
                                                        </span>
                                                    </p>
	                                            </li>
	                                        </ul>
	                                        <p class="axiety__txt2">
												<span class="eclipsis type-eye-middle-age">
													<span class="eclipsis__wrap">
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
														<span class="eclipsis__circle"></span>
													</span>
												</span>
	                                            “Bagaimana saya harus menahan semua ketidaknyamanan ini …”
	                                        </p>
	                                    </div>
	                                </div>
	                            </div>
	                            <p class="content-section__txt1">
	                                Kebanyakan pasien mengalami kesulitan untuk melakukan operasi Upper Blepharoplasty meskipun mengalami berbagai ketidaknyamanan dengan kekenduran mata.<br class="hidden-tm">
	                                <span class="content-highlight type-eye-middle-age">Hal ini disebabkan oleh ketakutan konseptual terhadap operasi, kekhawatiran tentang perubahan wajah yg berlebihan & keengganan merasakan rasa sakit juga proses penyembuhan.</span><br class="hidden-tm">
	                                BANOBAGI memahami kesulitan ini & telah memikirkan bagaimana kami dapat menawarkan solusi yg lebih baik.
	                            </p>
	                        </div>
	                        <!--contenct-section-->

	                    </div>
	                    <div class="middle-box4">
	                        <div class="content-section">
	                            <div class="content-section__wrapper">
	                                <div class="content-section__wrapper bg img01">
										<h4 class="content-section__tit type-center">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													03
												</span>
											</span>
                                            Kami menemukan
                                            <strong class="color-middle-age8">Upper Blepharoplasty metode jahitan ganda</strong> untuk membantu kekhawatiran tersebut.
                                        </h4>
	                                    <div class="content-section__wrapper content-box">
											<p class="content-section__txt1">
                                                Kebanyakan kekhawatiran tentang operasi Upper Blepharoplasty adalah sayatan yg akan dibuat selama prosedur. Namun, jika kelopak mata yg kendur diperbaiki dengan benang saja, kemungkinan besar hasil akan tidak efektif & benang berisiko terlepas seiring berjalannya waktu.
                                            </p>
											<p class="content-section__txt1">
												<span class="content-highlight type-eye-middle-age2">
													Inilah alasan mengapa BANOBAGI mencanangkan prosedur Upper Blepharoplasty dengan metode jahitan ganda untuk menambah kekuatan adhesi jaringan kulit.
												</span>
                                            </p>
	                                        <div class="uppereye">
	                                            <div class="uppereye__wrapper bg">
	                                                <div class="uppereye__item clearfix">
	                                                    <div class="uppereye__wrapper thumb">
	                                                        <div class="uppereye__img eye"></div>
	                                                        <div class="uppereye__wrapper guide-box">
																<div class="uppereye__guide"><span class="uppereye__dot black">icon</span>Kekuatan benang</div>
                                                                <div class="uppereye__guide plus"><span class="uppereye__dot red">icon</span>Adhesi jaringan kulit</div>
	                                                        </div>
	                                                        <div class="uppereye__desc">
																<p class="rectangle">
	                                                                <span class="rectangle__inner">
	                                                                    Upper Blepharoplasty metode jahitan ganda
	                                                                    <span class="triangle">triangle</span>
	                                                                </span>
                                                                </p>
	                                                            <p class="uppereye__txt1">
	                                                                Koreksi lipatan mata tanpa sayatan melalui kekuatan ganda menggunakan kekuatan benang & perekatan jaringan
	                                                            </p>
	                                                        </div>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                                <div class="content-section__wrapper bg img02">
	                                    <div class="content-section__wrapper type-width quotation type-eye-middle-age2">
	                                        <div class="content-section__txt1 type-width">
	                                            Operasi Upper Blepharoplasty metode jahitan ganda menghindari sayatan & melakukan koreksi secara lebih efektif juga konsisten melalui kekuatan ganda, yaitu kekuatan benang & adhesi jaringan kulit. Karena prosedur ini tidak melibatkan sayatan, kekhawatiran pasien dapat dikurangi. Secepat waktu operasi, waktu penyembuhan juga akan lebih cepat.
	                                        </div>
	                                        <p class="content-section__txt2 type-width">
												Selain itu, prosedur ini mengurangi pembengkakan & rasa sakit dengan
                                                <strong class="color-middle-age11">hasil yg lebih alami & pemulihan yg cepat untuk kembali beraktifitas.</strong>
	                                        </p>
	                                    </div>
	                                    <div class="content-section__wrapper type-rhombus">
											<div class="site-box8">
                                                <div class="site-box8__layer nth1">
                                                    <div class="site-box8__box">
                                                        <div class="site-box8__item">
                                                            <div class="site-box8__desc">
                                                                <p class="site-box8__txt1">
                                                                    Waktu operasi lebih pendek
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="site-box8__box">
                                                        <div class="site-box8__item">
                                                            <div class="site-box8__desc">
                                                                <p class="site-box8__txt1">
                                                                    Pemulihan relatif cepat
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="site-box8__layer nth2">
                                                    <div class="site-box8__box">
                                                        <div class="site-box8__item">
                                                            <div class="site-box8__desc">
                                                                <p class="site-box8__txt1">
                                                                    Koreksi yg efektif & stabil
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="site-box8__box">
                                                        <div class="site-box8__item type-special">
                                                            <div class="site-box8__desc">
                                                                <h5 class="site-box8__txt1">
                                                                    Upper Blepharoplasty metode jahitan ganda
                                                                </h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="site-box8__box">
                                                        <div class="site-box8__item">
                                                            <div class="site-box8__desc">
                                                                <p class="site-box8__txt1">
                                                                    Penguatan otot mata
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="site-box8__layer nth3">
                                                    <div class="site-box8__box">
                                                        <div class="site-box8__item">
                                                            <div class="site-box8__desc">
                                                                <p class="site-box8__txt1">
                                                                    Mata yg natural & lembut
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="site-box8__box">
                                                        <div class="site-box8__item">
                                                            <div class="site-box8__desc">
                                                                <p class="site-box8__txt1">
                                                                    Impresi yg lebih muda & cerah
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
	                                    </div>
	                                </div>

	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-eye">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">Informasi Operasi</h4>
										<!-- <p class="operation-v2__subtit">Memberikan perawatan secara detail bahkan rasa sakit saat anestesi</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
													<p class="operation-v2__txt txt-new1"> ± 30 menit</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
													<p class="operation-v2__txt txt-new1">Anestesi lokal, Anestesi dengan rasa sakit yg minimal tanpa tidur</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
													<p class="operation-v2__txt txt-new1">Dilepas ± stlh 3 ~ 5 hari</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
													<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
													<p class="operation-v2__txt txt-new1">± 1 X</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
													<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 7 ~ 14 hari</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-eye">
											<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 1){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">circle</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">circle</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												Anestesi dengan nyeri minimal tanpa tidur menghilangkan rasa sakit dari proses anestesi.<br>
												Setelah operasi, pasien dapat merasa kesemutan & demam yg akan berkurang seiring berjalannya waktu.<br>
												Rasa sakit yg kaku disebabkan oleh pembengkakan dapat dikurangi dengan obat penghilang rasa sakit & kompres dingin akan membantu mengurangi rasa sakit.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
												<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>
			            </div>

	                    <div class="middle-box5">
	                        <div class="content-section">
	                            <div class="content-section__wrapper">
	                                <div class="content-section__wrapper">
	                                    <h4 class="content-section__tit type-center">
											<span class="content-section__number">
												<span class="content-section__number-wrap sec2-number-wrap">
													04
												</span>
											</span>
											Upper Blepharoplasty metode sayatan juga dapat membuat
                                            <strong class="color-middle-age5">hasil yang natural.</strong>
	                                    </h4>
	                                    <div class="content-section__wrapper type-desc">
											<p class="content-section__txt1">
												Lipatan mata yg sangat kendur sulit diperbaiki melalui metode jahitan ganda.
												Sebagaimanapun koreksi dilakukan secara presisi/ seberapa banyak otot mata diperkuat, tetapi bila kulit tetap kendur, operasi yang akan sia-sia.
												Dalam kasus tersebut, Upper Blepharoplasty metode sayatan diperlukan. Dengan metode tersebut, kulit & lemak berlebih dapat dibuang untuk memperbaiki kekenduran kelopak mata secara lebih tepat.
                                            </p>
                                            <p class="content-section__txt1">
												Karena BANOBAGI dapat menyesuaikan garis kelopak mata ganda melalui pengalaman & keterampilan yg terpercaya.
												Bergantung pada kondisi kelopak mata pasien, sayatan dapat dibuat di area tepat di atas bulu mata untuk membuat kelopak mata ganda/ kami dapat meninggalkan kelopak mata tanpa pembuatan garis kelopak mata baru.
                                            </p>
                                            <p class="content-section__txt1">
												Dikarenakan metode yg dilakukan melalui sayatan, pembengkakan mata akan terlihat lebih besar & canggung setelah operasi.
												Namun, setelah pembengkakan hilang, hasil dapat terlihat secara lebih natural & memuaskan.
                                            </p>
	                                    </div>
	                                    <div class="content-section__wrapper main-point clearfix">
	                                        <div class="content-section__wrapper eye"></div>
	                                        <div class="content-section__wrapper circle-box">
	                                            <div class="site-box7">
	                                                <h5 class="site-box7__tit">Titik utama</h5>
													<ul class="site-box7__list clearfix">
                                                        <li class="site-box7__item">
                                                            <div class="site-box7__inner">
                                                                <div class="site-box7__desc">
                                                                    <h6 class="site-box7__number">01</h6>
                                                                    <p class="site-box7__txt1 txt-v5">
                                                                        Sayatan dekat dengan bulu mata membuat garis kelopak mata ganda yg natural.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="site-box7__item">
                                                            <div class="site-box7__inner">
                                                                <div class="site-box7__desc">
                                                                    <h6 class="site-box7__number">02</h6>
                                                                    <p class="site-box7__txt1 txt-v5">
                                                                        Keputusan proporsi kelopak mata yg perlu disayat dengan perhitungan yang teliti.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="site-box7__item">
                                                            <div class="site-box7__inner">
                                                                <div class="site-box7__desc">
                                                                    <h6 class="site-box7__number">03</h6>
                                                                    <p class="site-box7__txt1 txt-v5">
                                                                        Sayatan minimum membantu pemulihan cepat
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="site-box7__item">
                                                            <div class="site-box7__inner">
                                                                <div class="site-box7__desc">
                                                                    <h6 class="site-box7__number">04</h6>
                                                                    <p class="site-box7__txt1 txt-v5">
                                                                        Mata yg indah & cerah memberikan kesan lebih ceria
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-eye">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">Informasi Operasi</h4>
										<!-- <p class="operation-v2__subtit">Memberikan perawatan secara detail bahkan rasa sakit saat anestesi</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
													<p class="operation-v2__txt txt-new1"> ± 40 menit ~ 1 jam</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
													<p class="operation-v2__txt txt-new1">Anestesi lokal, Anestesi dengan rasa sakit yg minimal tanpa tidur</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
													<p class="operation-v2__txt txt-new1">Dilepas ± stlh 5 ~ 7 hari</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
													<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
													<p class="operation-v2__txt txt-new1"> ± 1 X</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
													<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 7 ~ 14 hari</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-eye">
											<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 1){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">circle</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">circle</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												Anestesi dengan nyeri minimal tanpa tidur menghilangkan rasa sakit dari proses anestesi.<br>
												Setelah operasi, pasien dapat merasa kesemutan & demam yg akan berkurang seiring berjalannya waktu.<br>
												Rasa sakit yg kaku disebabkan oleh pembengkakan dapat dikurangi dengan obat penghilang rasa sakit & kompres dingin akan membantu mengurangi rasa sakit.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
												<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>
			            </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-tab__page page-incise">
	            <div class="content-tab__box">
	                <div class="content-tab__wrapper">
	                    <div class="middle-box6">
	                        <div class="content-section">
	                            <div class="content-section__wrapper middle-bg-w">
	                                <div class="content-section__wrapper middle-bg-m">
										<h4 class="content-section__tit type-top">
    										<span class="content-section__number">
    											<span class="content-section__number-wrap sec2-number-wrap">
    												01
    											</span>
    										</span>
                                            Jejak penuaan yg kompleks di bawah mata dapat diperbaiki secara efektif dengan operasi
											<span class="content-highlight type-eye-middle-age4">Lower Blepharoplasty</span>
                                        </h4>
	                                </div>
	                                <p class="content-section__txt2">
										Bagian bawah mata adalah salah satu<br class="hidden-m">
                                        <strong class="color-middle-age12">bagian dimana penuaan terlihat jelas</strong><br class="hidden-m">
										dengan kerutan tipis.
	                                </p>
	                                <p class="content-section__txt1">
										Kulit di bawah mata kehilangan elastisitas hingga menimbulkan kerutan-kerutan yg tampak kasar, perubahan warna kulit gelap & kantung lemak yg kendur.
										Wajah seperti ini membuat seseorang terlihat lelah/ tua. Maka dari itu, penampilan yg lebih muda & lebih cerah dapat diperoleh melalui operasi Lower Blepharoplasty.
                                        <span class="content-highlight type-eye-middle-age5">Kebanyakan kasus kerutan tipis ditimbulkan oleh pengaruhan matahari, dapat diperbaiki secara lebih efektif melalui Lower Blepharoplasty</span> daripada pengobatan laser saja.
	                                </p>
	                            </div>

								<div class="site-box9">
                                    <div class="site-box9__wrapper">
                                        <div class="site-box9__desc">
                                            <div class="site-box9__brace">
                                                <div class="site-box9__wrapper brace type-eye-middle-age">
                                                    <h5 class="site-box9__tit">
                                                        Saat operasi <span class="color-middle-age11">Lower Blepharoplasty</span> diperlukan
                                                    </h5>
                                                </div>
                                            </div>
                                            <p class="site-box9__txt1">
											<span class="eclipsis type-eye-middle-age2">
												<span class="eclipsis__wrap">
													<span class="eclipsis__circle type-eye-middle-age2"></span>
													<span class="eclipsis__circle type-eye-middle-age2"></span>
													<span class="eclipsis__circle type-eye-middle-age2"></span>
													<span class="eclipsis__circle type-eye-middle-age2"></span>
												</span>
											</span>
                                                Bagian bawah mata yg gelap<br>
                                                Kerutan di bawah mata<br>
                                                Kantong lemak yg tebal di bawah mata<br>
                                            </p>
                                            <div class="site-box9__thumb">
                                                <ul class="site-box9__list clearfix">
                                                    <li class="site-box9__item img1"></li>
                                                    <li class="site-box9__item img2"></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box7">
	                        <div class="content-section type-eye-middle-age">
								<div class="content-section__wrap lower-eye-2 clearfix">
                                    <div class="content-section__box w-7">
                                        <div class="content-section__img type-special6">
                                            <img src="../../images/eye/lower-eye-sec2.jpg" loading="lazy" alt="">
                                        </div>
                                    </div>
                                    <div class="content-section__box w-4 type-bottom">
                                        <h4 class="content-section__tit type-left">
                                            <span class="content-section__number type-0"><span class="content-section__number-wrap">02</span></span>
                                            <strong class="color-middle-age6">Lower Blepharoplasty</strong><br class="hidden-t">
                                            memiliki berbagai manfaat
                                        </h4>
                                        <div class="content-section__wrapper thumb"></div>
                                        <p class="content-section__txt1">
                                            Operasi Lower Blepharoplasty membuat sayatan di bawah kelopak mata di dekat akar bulu mata untuk menghilangkan kulit/ lemak yg tidak diinginkan.<br>
                                            <span class="content-highlight type-eye-middle-age3 type-font">
        										Bergantung pada kebutuhan pasien, prosedur ini dapat menghaluskan kerutan-kerutan/ menghilangkan lemak secukupnya & meratakan permukaan di bawah mata dari area kantung mata yg kendur.
                                            </span>
                                        </p>
                                        <p class="content-section__txt1">
                                            Operasi ini menawarkan tingkat kepuasan yg tinggi karena operasi ini memperbaiki masalah di bawah mata yg kompleks seperti keriput, warna kulit & lemak secara sekaligus.
                                        </p>
                                    </div>
                                </div><!-- //content-section__wrap-->
	                        </div>
	                        <!--contenct-section-->
	                    </div>
	                    <div class="middle-box8">
	                        <div class="content-section">
	                            <div class="content-section__wrapper type-wide">
	                                <div class="content-section__bg img1">
	                                    <div class="content-section__wrapper type-width quotation type-eye-middle-age3">
											<div class="content-section__txt1 type-width">
                                                Jika kulit disayat secara berlebihan saat operasi Lower Blepharoplasty, hal tsbt dapat menyebabkan bagian putih mata terekspos secara berlebihan.<br class="hidden-m">
                                                Oleh karena itu, konsultasi bersama Dokter Bedah berpengalaman yg dapat melakukan operasi secara sistematis adalah hal yg sangat penting. Operasi BANOBAGI memanfaatkan metode ganda yg membuat sayatan yg tepat & menghilangkan lemak melalui konjungtiva kulit bagian dalam untuk meminimalkan efek samping & mendorong pemulihan yg lebih cepat.
                                            </div>
                                            <p class="content-section__txt2 type-width">
                                                Selain itu,
                                                <strong class="color-middle-age11">bekas luka hampir tidak terlihat karena sayatan dibuat di bagian dalam bulu mata.</strong>
												Oleh karena itu, <strong class="color-middle-age11">penuaan bagian mata dapat diperbaiki secara natural.</strong>
												Prosedur ini tidak terlalu membebani & proses <strong class="color-middle-age11">anti-aging menjadi lebih alami.</strong>
                                            </p>
	                                    </div>
	                                    <div class="site-box10">
											<h5 class="site-box10__tit"><strong class="color-middle-age15">Keuntungan</strong> dari operasi<br> Lower Blepharoplasty</h5>
                                            <ul class="site-box10__list clearfix">
                                                <li class="site-box10__item">
                                                    <div class="site-box10__inner">
                                                        <div class="site-box10__desc">
                                                            <p class="site-box10__txt1">
                                                                Sayatan dekat bulu mata membantu pasien mengurangi kekhawatiran terhadap bekas luka
                                                            </p>
                                                        </div>

                                                    </div>
                                                </li>

                                                <li class="site-box10__item">
                                                    <div class="site-box10__inner">
                                                        <div class="site-box10__desc">
                                                            <p class="site-box10__txt1">
                                                                Koreksi jaringan lemak secara tepat menjaga kondisi bagian bawah mata agar tetap rata & halus
                                                            </p>
                                                        </div>

                                                    </div>
                                                </li>
                                                <li class="site-box10__item">
                                                    <div class="site-box10__inner">
                                                        <div class="site-box10__desc">
                                                            <p class="site-box10__txt1">
                                                                Operasi sistematis yg meminimalkan efek samping
                                                            </p>
                                                        </div>

                                                    </div>
                                                </li>
                                                <li class="site-box10__item">
                                                    <div class="site-box10__inner">
                                                        <div class="site-box10__desc">
                                                            <p class="site-box10__txt1">
                                                                Sayatan & perawatan pasca operasi yg tepat memudahkan pemulihan
                                                            </p>
                                                        </div>

                                                    </div>
                                                </li>
                                            </ul>
	                                    </div>

	                                </div>
	                                <div class="content-section__bg img2">
										<div class="content-section__wrapper type-unique">
                                            <div class="content-section__wrapper type-width2 quotation type-eye-middle-age4">
                                                <h4 class="content-section__tit">
                                                    <span class="color-middle-age14 type-bigger">Mendapatkan kembali keindahan</span><br>
                                                    yg hilang seiring berjalannya waktu
                                                </h4>
                                                <p class="content-section__txt3 type-width">
                                                    “Banyak yg bertanya, bagaimana saya menjaga kecantikan & tetap terlihat awet muda dengan penampilan saya saat ini..”
                                                </p>
                                                <p class="content-section__txt4 color-middle-age11">“Saya merasa terlahir kembali”</p>
                                            </div>
                                            <div class="content-section__wrapper bf">
                                                <div class="content-section__wrapper before">BEFORE</div>
                                                <div class="content-section__thumb"></div>
                                            </div>
                                            <p class="content-section__notice caution-para1">
                                                ※ Gambar ini dapat terlihat berbeda dengan aslinya & diambil di bawah persetujuan pasien.
                                            </p>
                                        </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!--contenct-section-->
	                    </div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-eye">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">Informasi Operasi</h4>
										<!-- <p class="operation-v2__subtit">Insisi yang tepat dan manajemen sistematis mengarah ke pemulihan yang relatif cepat±</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
													<p class="operation-v2__txt txt-new1"> ± 1 jam</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
													<p class="operation-v2__txt txt-new1">Anestesi Sedasi IV</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
													<p class="operation-v2__txt txt-new1">Pencabutan benang ± dalam 7 hari</p>
												</div>
											</li>
											<li class="operation-v2__item nth-4 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
													<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
													<p class="operation-v2__txt txt-new1">± 1 X</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
													<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 7 ~ 14 hari</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-eye">
											<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 1){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">circle</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">circle</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												Rasa sakit tidak terlalu terasa selama operasi karena Anestesi Sedasi IV Pasien dapat merasa kesemutan seiring dengan demam yg akan berkurang secara perlahan. <br>
												Rasa sakit kaku yang disebabkan oleh pembengkakan dapat dikurangi dengan obat pereda rasa sakit dan kompres dingin. <br>
												Perawatan tersebut akan membantu untuk membuka mata lebih kuat yang akan mengurangi pembengkakan.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
												<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>
			            </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
