<%
	type = "content"
	page = "eye"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-eye-correction">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1 type-eye-correction">Tak hanya lipatan mata yg indah tetapi juga bentuk mata yg mempesona</p>
				<h3 class="content-visual__tit type-eye-correction"># Koreksi <span class="color-correction1">otot mata </span></h3>
				<p class="content-visual__txt2 type-eye-correction">Kekuatan otot mata yg memperindah bentuk mata</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content-->
	<div class="content">
        <div class="content-wrap">
            <div class="correction-box1">
                <div class="content-section type-first">
                    <h4 class="content-section__tit type-center">
						<span class="content-section__number">
							<span class="content-section__number-wrap">01</span>
						</span>
                        <span class="content-highlight2 type-eye-correction2">Bentuk mata</span> mendefinisikan mata yang mempesona
                    </h4>
					<p class="content-section__txt1">
                        Banyak wawasan bahwa mata yang mempesona hanya dapat didapatkan jika memiliki kelopak mata. Hal tsbt karena operasi kelopak mata telah dikenal sebagai operasi bedah plastik yg mewakili keseluruhan operasi mata. Bagaimanapun, Anda pun pasti sering melihat bentuk mata yg cukup mempesona tanpa lipatan mata atau hampir tidak kelihatan lipatan mata. Bentuk mata tersebut mempunyai titik kesamaan bahwa bentuk mata dapat tetap terlihat ideal tanpa lipatan mata.
                        <strong>Apa yang membuat kesan wajah yg indah adalah bentuk matanya dibandingkan lipatan mata.</strong> Bahkan, posisi dan seberapa terlihatnya pupil sangatlah penting.
                    </p>
                    <div class="site-box14">
                        <div class="site-box14__outer type-bg clearfix">
                            <div class="site-box14__model--m">
                                <img class="hidden-pt" src="../../images/eye/eyeexposure-bg-m.jpg" loading="lazy" alt="model">

                                model</div>
                            <div class="site-box14__inner">
								<h5 class="site-box14__tit">
                                    { Bentuk mata menentukan eksposur pupil }
                                </h5>
                                <div class="site-box14__thumb main">
                                    <img class="hidden-t normal" src="../../images/eye/eyeform1-pm.jpg" loading="lazy" alt="Bentuk mata normal">
                                    <img class="hidden-pm" src="../../images/eye/eyeform1-t.jpg" loading="lazy" alt="Bentuk mata normal">
                                    <p class="site-box14__txt1">Bentuk mata normal</p>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img02 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform2-pm.jpg" loading="lazy" alt="Mild hypertropia">
                                        <img class="hidden-pm" src="../../images/eye/eyeform2-t.jpg" loading="lazy" alt="Mild hypertropia">
                                        <span class="site-box14__tit--m">
										<span class="site-box14__box--m">
											Mild hypertropia <br>
											<span class="site-box14__smallest">(pseudo ptosis)</span>
										</span>
									</span>
                                    </div>
                                    <div class="site-box14__desc">
										<h6 class="site-box14__sub-tit">
                                            Mild hypertropia (pseudo ptosis)
                                        </h6>
										<p class="site-box14__txt2">
                                            Kelopak mata atas dapat terbuka secara baik dengan otot mata normal. Tetapi, bagian kelopak mata luar menutupi mata karena kendur.
                                        </p>
                                    </div>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img03 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform3-pm.jpg" loading="lazy" alt="Severe hypertropia">
                                        <img class="hidden-pm" src="../../images/eye/eyeform3-t.jpg" loading="lazy" alt="Severe hypertropia">
                                        <span class="site-box14__tit--m">
											<span class="site-box14__box--m">
												Severe hypertropia<br>
												<span class="site-box14__smallest">(pseudo ptosis)</span>
											</span>
										</span>
                                    </div>
                                    <div class="site-box14__desc">
										<h6 class="site-box14__sub-tit">
                                            Severe hypertropia (pseudo ptosis)
                                        </h6>
                                        <p class="site-box14__txt2">
											Walaupun mata terlihat normal tetapi posisi pupil mata rerlihat naik ke atas yg menyebabkan area putih pupil mata bagian bawah terlihat berlebihan.
										</p>
                                    </div>
                                </div>
                                <div class="site-box14__thumb sub clearfix">
                                    <div class="site-box14__img img04 clearfix">
                                        <img class="hidden-t" src="../../images/eye/eyeform4-pm.jpg" loading="lazy" alt="Ptosis">
                                        <img class="hidden-pm" src="../../images/eye/eyeform4-t.jpg" loading="lazy" alt="Ptosis">
                                        <span class="site-box14__tit--m">
											<span class="site-box14__box--m">
												Ptosis
											</span>
										</span>
                                    </div>
                                    <div class="site-box14__desc">
										<h6 class="site-box14__sub-tit">
                                            Ptosis
                                        </h6>
                                        <p class="site-box14__txt2">
                                            Mata terlihat mengantuk dan terbuka kurang dari 7 mm
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="site-box14__info">
							<div class="site-box14__tit--info">
                                Apa itu <span class="color-correction4">koreksi otot mata(Ptosis Correction)</span>?
                            </div>

							<div class="site-box14__txt--info">
								Koreksi otot mata(Ptosis Correction) adalah operasi pembuatan bentuk mata yg lebih kelihatan mempesona
                                <span class="color-correction4">dengan membuka mata secara lebih tepat agar pupil terlihat lebih jelas.</span>
                            </div>
                        </div>
                        <div class="site-box14__bf">
                            <img class="hidden-tm" src="../../images/eye/eyeform5-p.jpg" loading="lazy" alt="before,after">
                            <img class="hidden-pm" src="../../images/eye/eyeform5-t.jpg" loading="lazy" alt="before,after">
                            <img class="hidden-pt" src="../../images/eye/eyeform5-m.jpg" loading="lazy" alt="before,after">
                            <span class="progress-tag type-before">before</span>
                            <span class="progress-tag type-after">after</span>
                        </div>

                    </div>
                    <div class="content-section__wrapper">
						<p class="content-section__txt2">
                            Oleh karena itu, jika Anda mempunyai bentuk mata dimana pupil mata terlihat kurang ideal,
                            <span class="content-highlight type-eye-correction4">sebaiknya mempertimbangkan operasi seperti koreksi otot mata(Ptosis Correction) atau Canthoplasty yang dapat memperbaiki bentuk mata</span> dibandingkan memfokuskan pada operasi lipatan mata.
                        </p>
                        <p class="content-section__txt1 lg brace type-eye-correction">
                            Terutama, untuk kasus dimana pupil hanya kelihatan sedikit karena <strong class="type-border">kekuatan otot mata yg lemah,</strong><br class="hidden-tm">pasien dapat mendapatkan hasil mata yg kelihatan lebih besar &amp; jelas hanya melalui <span class="color-correction6">koreksi otot mata</span> <strong>koreksi otot mata</strong> yg digunakan saat membuka mata.
                        </p>
                    </div>
                </div>
                <!-- content-section -->
            </div>

            <div class="correction-box2">
                <div class="content-section">
                    <div class="content-section__wrapper">
                        <div class="content-section__desc">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number">
									<span class="content-section__number-wrap">02</span>
								</span>
                                Operasi lipatan mata dan koreksi otot mata adalah
                                <span class="content-highlight2 type-eye-correction3">jenis operasi yg memiliki tujuan yg berbeda</span>
                            </h4>
							<p class="content-section__txt1">
                                Operasi lipatan mata menghubungkan kelopak mata dan otot supaya kulit terlipat secara natural saat membuka mata. Bagaimanapun, jika <strong><span class="type-border">kekuatan otot mata lemah, mata akan tetap terlihat mengantuk dan kabur walaupun memiliki lipatan mata atau tidak. </span></strong> Gejala ini tidak ada terkaitan dengan ketidakadaan kelopak mata ganda. Set mata yg ideal adalah dimana kelopak mata terbuka dgn jelas & pupil mata yg terpapar dengan benar, tetapi operasi lipatan mata hanya menciptakan garis tambahan pada kelopak mata dimana pupil terbuka sebagaimana adanya.
                            </p>
                            <p class="content-section__txt1">
                                Oleh karena itu, yang diperlukan adlh koreksi otot mata.
                                <span class="content-highlight type-eye-correction5">Koreksi otot mata adalah operasi yg memperkuat kekuatan otot mata untuk bentuk mata yg mempesona.</span>
								Oleh karena itu, untuk kekuatan mata yg lemah dapat diperbaiki melalui koreksi otot mata agar mata kelihatan lebih jelas dan cerah juga dapat membuat lipatan mata yang lebih jelas dan mempesona daripada sebelumnya. Selain itu, operasi tsbt membantu mata agar dapat terbuka secara lebih mudah dan memperbaiki kebiasaan melirik ke atas yang menyebabkan keriput.
                            </p>
                        </div>
                        <div class="content-section__wrap site-box">
                            <div class="site-box15 clearfix">
                                <div class="site-box15__wrapper clearfix">
                                    <div class="site-box15__outer">
                                        <div class="site-box15__inner">
                                            <img class="hidden-t" src="../../images/eye/eyepurpose1-pm.jpg" loading="lazy" alt="Koreksi otot mata">
                                            <img class="hidden-pm" src="../../images/eye/eyepurpose1-pm.jpg" loading="lazy" alt="Koreksi otot mata">
                                            <span class="progress-tag type-before">BEFORE</span>
                                        </div>
                                    </div>
                                    <div class="site-box15__outer">
                                        <div class="site-box15__inner">
                                            <img class="hidden-t" src="../../images/eye/eyepurpose2-pm.jpg" loading="lazy" alt="Koreksi otot mata">
                                            <img class="hidden-pm" src="../../images/eye/eyepurpose2-t.jpg" loading="lazy" alt="Koreksi otot mata">
                                            <span class="progress-tag type-after">AFTER 6 MONTH</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="site-box15__quotation">
									<p class="site-box15__txt1">
                                        Walaupun ada lipatan mata, jika kekuatan otot mata lemah, pupil mata tidak bisa terlihat ideal.
                                    </p>
                                    <p class="site-box15__txt2">
                                        Koreksi otot mata memperbaiki bentuk mata dengan membantu membuka mata secara lebih jelas
                                    </p>
                                </div>
                            </div>
                        </div>
						<p class="caution-para1">
                            ※ Foto yang terlampir dapat terlihat berbeda dari bentuk asli bergantung pada kebutuhan pemotretan dan hasil foto telah mendapat persetujuan dari pasien yg terlampir.
                        </p>
                    </div>
                </div>
                <!-- content-section -->
            </div>

            <div class="correction-box3">
                <div class="content-section">
                    <div class="content-section__wrapper type-left">
						<h4 class="content-section__tit type-top">
							<span class="content-section__number">
								<span class="content-section__number-wrap correction-n3">03</span>
							</span>
                            Operasi ini bukan operasi yang dapat diaplikasikan pada seluruh kasus, sehingga
                            <span class="content-highlight2 type-eye-correction1">harus lebih berhati-hati</span>
                        </h4>
                        <div class="content-section__wrapper type-width">
							<p class="content-section__txt1 correction-n3">
								Seperti dijelaskan sebelumnya, koreksi otot mata dapat dilakukan untuk kasus kekuatan otot yg lemah saat membuka mata.
								Dengan kata lain, jika pasien memiliki kekuatan otot mata yg cukup, operasi tidak diperlukan.
								Oleh karena itu, diagnosa tepat tehadap kondisi mata sangatlah penting sebelum operasi.
								Terkadang ada kasus dimana koreksi otot mata direkomendasikan untuk  alasan seperti berikut yaitu; mengalami kesulitan membuka mata, timbulnya keriput dahi saat mata terbuka, mata yang kendur tanpa kelopak mata ganda. Bagaimanapun, jika tidak memiliki diagnosis seperti diatas dikhawatirkan akan menjadi pilihan operasi yang tidak tepat dengan kondisi pasien.
                            </p>
                            <p class="content-section__txt1 correction-n3 content-highlight type-eye-correction3">
                                Inilah alasan mengapa Anda harus memilih spesialis yg merencanakan secara tepat perencanaan koreksi untuk mendapatkan hasil yang tepat.
                            </p>
                        </div>
                    </div>
                    <div class="diagnosis">
                        <div class="diagnosis__outer clearfix">
                            <div class="diagnosis__inner">
								<div class="diagnosis__thumb">
                                    eye diagnostics image
                                </div>
                                <div class="diagnosis__desc">
                                    <h5 class="diagnosis__tit">
                                        <strong class="color-correction9">Metode diagnosis yang tidak tepat untuk otot mata</strong>
                                    </h5>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">01.</span>
                                        Kasus dimana kesulitan membuka mata saat menekan dahi &amp; kekuatan otot mata didiagnosis lemah
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">02.</span>
                                        Kasus dimana keriput muncul pada dahi saat membuka mata &amp; kekuatan otot mata didiagnosis lemah
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">03.</span>
                                        Kasus dimana pupil mata kelihatan hanya setengah saja
                                    </p>
                                    <p class="diagnosis__txt--numbering">
                                        <span class="diagnosis__numbering">04.</span>
                                        Kasus yang didiagnosis setelah melihat ukuran mata
                                    </p>
                                </div>
                            </div>
							<div class="diagnosis__txt1 type-quotation">
								Koreksi otot mata <span class="color-correction10">harus didiagnosis dan diperiksa secara tepat apakah pasien memerlukan koreksi atau tidak.</span> Hal tsbt juga harus dilakukan bersamaan dengan pemeriksaan kekuatan otot untuk membuka mata sebelum dilakukan.
                            </div>
                        </div>
                        <div class="diagnosis__ways clearfix">
                            <div class="diagnosis__circle">
                                img
                                <div class="diagnosis__border">

                                </div>
                            </div>

                            <div class="diagnosis__wrapper type-desc">
								<h5 class="diagnosis__sub-tit">
                                    Karena <span class="color-correction11">kekuatan otot masing-masing pribadi berbeda</span>
                                    Pastikan untuk menggunakan metode yg disesuaikan dengan kondisi mata pribadi untuk koreksi otot mata
                                </h5>
                                <p class="diagnosis__txt2">
                                    Jika kekuatan otot yg dipakai untuk membuka mata terlalu lemah sampai menutupi setengah pupil, koreksi otot mata melalui metode sayatan diperlukan. Bagaimanapun, metode jahitan ganda juga dapat direkomendasikan untuk kasus dimana mat memiliki kekuatan yg cukup(walaupun tidak sampai 100%) untuk membuka mata.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-section -->
            </div>

            <!-- tab  -->
            <div class="content-tab">
                <div class="content-tab__inner">
                    <ul class="content-tab__list">
						<li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-double">Koreksi otot mata dengan metode jahitan ganda</a></li>
                        <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-ptosis">Koreksi otot mata dengan metode sayatan</a></li>
                    </ul>
                </div>
            </div>

            <!-- tab contents -->
            <div class="content-tab__page page-double is-active">
                <div class="content-tab__box">
                    <div class="correction-box4">
                        <div class="content-section">
                            <div class="content-section__wrapper">
								<p class="content-section__txt1">
									Koreksi otot mata dengan metode jahitan ganda diciptakan oleh salah satu Direktur RS BANOBAGI, Dr. Park Sunjae. Metode ini hanya memanfaatkan kekuatan antara benang dan jaringan kulit dan tidak memakai metode sayatan, bentuk mata dapat direvisi secara efektif dan stabil.
                                </p>
                                <p class="content-section__txt1">
                                    Dahulu, koreksi otot mata adalah operasi sensitif yg dilakukan untuk kasus dimana kekuatan otot mata lemah yg hanya bisa dilakukan melalui metode sayatan & tidak bisa dilakukan hanya dengan benang karena tegangan otot tidak cukup kuat untuk dikontrol dan hasil lipatan mata bisa terlepas hanya dengan benang saja. Akan tetapi, Koreksi otot mata dengan metode jahitan ganda dapat mengatasi kelemahan tersebut sambil tetap menjaga kelebihannya.
                                </p>
                                <p class="content-section__txt2">
                                    Operasi tanpa sayatan meminimalis waktu operasi dan waktu penyembuhan.
                                    <span class="color-correction16">Selain itu, pembengkakan dan rasa sakit yang minimal membantu untuk dapat cepat kembali ke aktifitas sehari-hari</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="incisional-eye">
                        <div class="incisional-eye__wrapper clearfix">
                            <div class="layer-doc7">
                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
											<p class="layer-doc7__tit">
                                                Memperkuat<br>
												otot mata untuk<br>
												membuka mata
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
											<p class="layer-doc7__tit">
                                                Koreksi yang<br>
												efektif & stabil
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
											<p class="layer-doc7__tit">
                                                Penyembuhan<br>
												relatif<br>
												cepat
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer type-bigger">
                                        <div class="layer-doc7__inner type-bigger">
											<h4 class="layer-doc7__tit type-bigger">
                                                Koreksi otot mata<br>
												dengan metode<br>
												jahitan ganda
                                            </h4>
                                        </div>
                                    </div>

                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
											<p class="layer-doc7__tit">
                                                Bentuk mata yang<br>
												natural & lembut
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="layer-doc7__wrapper">
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
											<p class="layer-doc7__tit">
                                                Waktu<br>
												operasi pendek
                                            </p>
                                        </div>
                                    </div>
                                    <div class="layer-doc7__outer">
                                        <div class="layer-doc7__inner">
											<p class="layer-doc7__tit">
                                                Kesan wajah<br>
												yang<br>
												cerah & jelas
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

							<div class="advantage">
                                <div class="advantage__wrap">
                                    <h4 class="advantage__tit">Koreksi otot mata dengan metode jahitan ganda</h4>

                                    <ul class="advantage__list">
                                        <li class="advantage__item nth-1">
                                            Memperkuat otot mata untuk membuka mata
                                        </li>
                                        <li class="advantage__item nth-2">
                                            Koreksi yang efektif & stabil
                                        </li>
                                        <li class="advantage__item nth-3">
                                            Penyembuhan relatif cepat
                                        </li>
                                        <li class="advantage__item nth-4">
                                            Bentuk mata yang natural & lembut
                                        </li>
                                        <li class="advantage__item nth-5">
                                            Waktu operasi pendek
                                        </li>
                                        <li class="advantage__item nth-6">
                                            Kesan wajah yang cerah & jelas
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="incisional-eye__bar">
							<div class="incisional-eye__tit">
                                <strong class="color-correction17">Koreksi otot mata dengan metode jahitan ganda</strong>
                            </div>
                            <div class="incisional-eye__txt1">
                                Metode koreksi otot mata yang hanya memanfaatkan kekuatan dualis antara benang & jaringan kulit tanpa sayatan
                            </div>
                        </div>
                    </div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-eye">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Informasi Operasi</h4>
									<!-- <p class="operation-v2__subtit">Memberikan perawatan secara detail bahkan rasa sakit saat anestesi</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
												<p class="operation-v2__txt txt-new1"> ± 30 menit</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
												<p class="operation-v2__txt txt-new1">Anestesi Lokal/Anestesi Minimum tanpa sedasi</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
												<p class="operation-v2__txt txt-new1">Dilepas ± stlh 3 ~ 5 hari</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
												<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
												<p class="operation-v2__txt txt-new1">± 1 X</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
												<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 3 hari</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-eye">
										<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Gejala sakit melalui anestesi tanpa tidur mengurangi rasa nyeri Pasien dapat merasa kesemutan seiring dengan demam yg akan berkurang secara perlahan.<br>
											Rasa sakit kaku yang disebabkan oleh pembengkakan dapat dikurangi dengan obat pereda rasa sakit dan kompres dingin. <br>
											Perawatan tersebut akan membantu untuk membuka mata lebih kuat yang akan mengurangi pembengkakan.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
											<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
                </div>
            </div>

            <div class="content-tab__page page-ptosis">
                <div class="content-tab__box">
                    <div class="correction-box5">
                        <div class="content-section">
                            <div class="content-section__wrapper">
								<p class="content-section__txt1">
                                    Jika diputuskan bahwa metode jahitan ganda tidak cukup untuk memberikan hasil yg maksimal disebabkan oleh kekuatan otot mata yg terlalu lemah, koreksi otot mata dapat dilakuakn melalui metode sayatan. Secara umum, pasien tidak bersedia melakukan metode sayatan karena perasaan takut dan wawasan bahwa sayatan menimbulkan hasil yang tidak natural. Bagaimanapun, metode sayatan juga dapat membuat hasil yang natural jika dilakukan oleh Dokter Spesialis.
                                </p>
                                <p class="content-section__txt1">
                                    Prasangka bahwa metode sayatan membawa hasil yang tidak natural adalah kesalahpahaman karena pembengkakan selama masa penyembuhan. Jika pembengkakan sudah berkurang, tidak akan terdapat perbedaan dengan hasil dari metode tanpa sayatan. Terkadang ada kasus dengan hasil yang tidak natural karena garis koreksi berada terlalu ke atas. Bagaimanapun, ini bukan permasalahan metode sayatan / jahitan tetapi keputusan diagnosis dokter.
                                </p>
                                <p class="content-section__txt1">
                                    Koreksi otot mata dengan metode sayatan mempunyai banyak kelebihan terlepas dr prasangka publik. Metode ini sangat efektif karena kekuatan otot mata dapat diperiksa & posisi koreksi yg diperlukan juga dapat ditentukan secara detail. Pasien dapat membuka mata lebih nyaman setelah operasi dan saat pembengkakan menurun, pasien dapat langsung kembali ke aktifitas sehari-hari dengan cepat.
                                </p>
                                <p class="content-section__txt2 brace ">
                                    Metode sayatan sangat efektif karena dokter dapat mengamati kekuatan tarik otot mata secara langsung & dapat memperbaiki bagian yang akan direvisi. <span class="color-correction12">Pasien dapat membuka mata lebih nyaman setelah operasi dan saat pembengkakan menurun,</span> pasien dapat langsung kembali ke aktifitas sehari-hari dengan cepat.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="misunderstanding">
                        <div class="misunderstanding__bg clearfix">
                            <div class="misunderstanding__wrapper align">
								<h4 class="misunderstanding__tit">
									<span class="content-highlight type-eye-correction6">
										Kesalahpahaman terhadap<br><span class="color-correction13">Koreksi otot mata dengan metode sayatan</span>
									</span>
                                </h4>
                                <div class="misunderstanding__desc">
									<h5 class="misunderstanding__sub-tit">
                                        <span class="misunderstanding__number">01.</span>
                                        Hasil yang canggung?
                                    </h5>
									<p class="misunderstanding__txt1">
                                        Pemikiran ini muncul dikarenakan metode sayatan menghasilkan lebih banyak pembengkakan selama penyembuhan daripada metode jahitan. Terkadang, hasil yang canggung dapat terlihat jika garis revisi dibuat terlalu tinggi. Sehingga, masalah ini bukan timbul dari metodenya tetapi dari kemampuan Dokter masing-masing.
                                    </p>
                                </div>

                                <div class="misunderstanding__desc">
									<h5 class="misunderstanding__sub-tit">
                                        <span class="misunderstanding__number">02.</span>
                                        Bekas luka terlihat secara jelas?
                                    </h5>
                                    <p class="misunderstanding__txt1">
                                        Ini adalah kekhawatiran yang dapat dimengerti, karena bekas luka terlihat jelas setelah operasi. Bagaimanapun, bekas luka akan hilang dalam ± 6 bulan.
                                    </p>
                                </div>
                                <div class="misunderstanding__thumb">
                                    <ul class="misunderstanding__list clearfix">
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar1-p.jpg" loading="lazy" alt="Setelah pencabutan benang">
                                                <img class="hidden-pm" src="../../images/eye/eyescar1-t.jpg" loading="lazy" alt="Setelah pencabutan benang">
                                                <img class="hidden-pt" src="../../images/eye/eyescar1-m.jpg" loading="lazy" alt="Setelah pencabutan benang">
                                            </div>
											<div class="misunderstanding__desc-box">
                                                Setelah pencabutan benang
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar2-p.jpg" loading="lazy" alt="1 bulan pos-operasi">
                                                <img class="hidden-pm" src="../../images/eye/eyescar2-t.jpg" loading="lazy" alt="1 bulan pos-operasi">
                                                <img class="hidden-pt" src="../../images/eye/eyescar2-m.jpg" loading="lazy" alt="1 bulan pos-operasi">
                                            </div>
											<div class="misunderstanding__desc-box">
                                                1 bulan pos-operasi
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar3-p.jpg" loading="lazy" alt="3 bulan pos-operasi">
                                                <img class="hidden-pm" src="../../images/eye/eyescar3-t.jpg" loading="lazy" alt="3 bulan pos-operasi">
                                                <img class="hidden-pt" src="../../images/eye/eyescar3-m.jpg" loading="lazy" alt="3 bulan pos-operasi">
                                            </div>
											<div class="misunderstanding__desc-box">
                                                3 bulan pos-operasi
                                            </div>
                                        </li>
                                        <li class="misunderstanding__item">
                                            <div class="misunderstanding__inner">
                                                <img class="hidden-tm" src="../../images/eye/eyescar4-p.jpg" loading="lazy" alt="6 bulan pos-operasi">
                                                <img class="hidden-pm" src="../../images/eye/eyescar4-t.jpg" loading="lazy" alt="6 bulan pos-operasi">
                                                <img class="hidden-pt" src="../../images/eye/eyescar4-m.jpg" loading="lazy" alt="6 bulan pos-operasi">
                                            </div>
											<div class="misunderstanding__desc-box">
                                                6 bulan pos-operasi
                                            </div>
                                        </li>
                                    </ul>
                                    <p class="misunderstanding__info">※ Foto yang terlampir dapat terlihat berbeda dari bentuk asli bergantung pada kebutuhan pemotretan dan hasil foto telah mendapat persetujuan dari pasien yg terlampir.</p>
                                </div>
                            </div>
                        </div>
                        <div class="misunderstanding__bg-dark">
                            <div class="misunderstanding__inner-box">
                                <div class="misunderstanding__wrapper quotation type-eye-correction">
									<p class="misunderstanding__txt2">
                                        Metode sayatan sangat efektif karena Dokter bedah dapat mengamati kekuatan otot mata secara langsung & dapat memperbaiki bagian yang akan direvisi. BANOBAGI menjalankan operasi koreksi otot mata metode sayatan <span class="color-correction14 border">sebagai operasi spesial dengan keahlian yang sistematis</span>
                                    </p>
                                    <p class="misunderstanding__txt3">
                                        <span class="color-correction15">Garis yang natural</span> dengan sayatan yang detail<br>
                                        <span class="color-correction14">Penyembuhan cepat</span> dengan sayatan minimum<br>
                                        <span class="color-correction15">Kesan cerah</span> dari bentuk mata yang indah dan cerah<br>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-eye">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Informasi Operasi</h4>
									<!-- <p class="operation-v2__subtit">Memberikan perawatan secara detail bahkan rasa sakit saat anestesi</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
												<p class="operation-v2__txt txt-new1">± 40 menit ~ 1 jam</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
												<p class="operation-v2__txt txt-new1">Anestesi Lokal/Anestesi Minimum tanpa sedasi</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
												<p class="operation-v2__txt txt-new1">Dilepas ± stlh 4 ~ 5 hari</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
												<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
												<p class="operation-v2__txt txt-new1">± 1 X</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
												<p class="operation-v2__txt txt-new1"> Aktifitas normal dpt dilakukan stlh ± 7 hari</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-eye">
										<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 1){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Gejala sakit melalui anestesi tanpa tidur mengurangi rasa nyeri Pasien dapat merasa kesemutan seiring dengan demam yg akan berkurang secara perlahan.<br>
											Rasa sakit kaku yang disebabkan oleh pembengkakan dapat dikurangi dengan obat pereda rasa sakit dan kompres dingin.<br>
											Perawatan tersebut akan membantu untuk membuka mata lebih kuat yang akan mengurangi pembengkakan.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
											<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
                </div>
            </div>
        </div>
    	<!-- //content-tab-upper-eye -->
    </div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div><!-- //container-->

<% include ../_include/_footer %>
