<%
	type = "detail-new"
	page = "hair"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="onepage type-detail">
	<div class="detail-section type-visual hair-section0" data-section-name="home">
		<div class="inner-wrap type-detail">
			<div class="onepage__box">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="detail-visual type-hair">
							<p class="detail-visual__tit">
								Untuk hasil se<span class="n-color-hair4">natural</span>,<br class="hidden-p"> se<span class="n-color-hair4">detail</span> & se<span class="n-color-hair4">sehat</span> mungkin
							</p>
							<h3 class="detail-visual__txt">
								Teknologi relokasi <strong class="detail-visual__point">Detail <span class="n-color-hair4">Transplantasi Rambut</span> BANOBAGI</strong> yg canggih untuk hasil yg luar biasa
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll type-detail">
			<div class="scroll__inner">
				<i class="scroll__ball"></i>
			</div>
			<p class="scroll__txt">SCROLL</p>
		</div>
	</div>

	<div class="detail-section hair-section1" data-section-name="hair-section1">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail1__tit">
								<span class="n-color-hair1">Inilah</span> cara BANOBAGI men-Transplantasi Rambut
							</h4>
							<p class="onepage__subtit hair-detail1__subtit">
								Spesialis Bedah dengan pengalaman lebih dari 3.000 kasus
							</p>
							<p class="onepage__txt hair-detail1__txt">
								Dr. Lee Kyoung Ku adalah Spesialis Transplantasi rambut profesional yg telah mengoperasikan prosedur ini lebih dari 3.000 kasus.
								Dia terus-menerus mempelajari & meneliti tentang bagaimana menghasilkan hasil yg lebih baik dengan cara yg lebih alami & canggih juga bagaimana mempertahankan hasilnya.
								Kami merekomendasikan untuk mengonsultasikan keluhan Anda mengenai <span class="n-color-hair1">transplantasi rambut melalui konsultasi langsung bersama Dr. Lee Kyoung Ku.
								Anda akan mendapatkan transplantasi rambut berkualitas tinggi o/ Dr. Lee Kyoung Ku dengan staf yg berpengalaman & teknik yg terampil.</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="detail-section hair-section2" data-section-name="hair-section2">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair2">
							<h4 class="onepage__tit hair-detail2__tit">
								<span class="n-color-hair2">Sayatan atau Jahitan</span>
								tidaklah penting dalam Transplantasi Rambut
							</h4>
							<p class="onepage__subtit hair-detail2__subtit">
								Ini adalah bagaimana mencangkok daripada mengekstrak rambut.
							</p>
							<p class="onepage__txt hair-detail2__txt">
								Banyak pertanyaan mengenai metode sayatan / jahitan yg lebih baik untuk transplantasi rambut.
								Harapan pasien harus terlebih dahulu ditanyakan sebelum bertanya apakah transplantasi rambut harus dilakukan melalui metode sayatan / jahitan. Karena satu-satunya perbedaan adalah bagaimana rambut diekstrak & hal tersebut tidak mempengaruhi hasil Spesialis yg berpengalaman.
								BANOBAGI berfokus pada bagaimana rambut ditransplantasi dibandingkan ekstraksi. Kami sepenuhnya menjelaskan kelebihan & kekurangan dari kedua metode sayatan & jahitan kemudian <span class="n-color-hair2">merekomendasikan metode terbaik yg sesuai untuk kebutuhan individu & hasil yang maksimal.</span>

							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="detail-section hair-section3" data-section-name="hair-section3">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail3__tit">
								Transplantasi Rambut BANOBAGI
								<span class="n-color-hair1">Mereposisi rambut secara terperinci</span>.
							</h4>
							<p class="onepage__subtit hair-detail3__subtit">
								Walaupun jumlah rambut yg sama diekstraksi,<br>
								hasil dapat bervariasi bergantung pada bagaimana rambut direposisi
							</p>
							<p class="onepage__txt hair-detail3__txt">
								Teknik utama dari transplantasi rambut adalah bagaimana cara mentransplantasi rambut yg diekstraksi, yang berarti cara mereposisikan rambut.
								Kondisi, ketebalan & kerapatan rambut masing-masing berbeda.
								<span class="n-color-hair1">Merelokasi rambut lebih alami & detail harus dilakukan setelah mendiagnosis kondisi secara khusus</span>. Spesialis & staf kami yg berpengalaman menciptakan hasil yg lebih alami & memuaskan.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="detail-section hair-section4" data-section-name="hair-section4">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half type-r font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair2">
							<h4 class="onepage__tit hair-detail4__tit">
								Transplantasi rambut,
								Perawatan Pos-Operasi
								untuk <span class="n-color-hair2">pencangkokan yg sehat</span>.
							</h4>
							<p class="onepage__subtit hair-detail4__subtit">
								Perawatan kulit kepala setelah operasi lebih penting, Total Tenaga Teknis BANOBAGI
							</p>
							<p class="onepage__txt hair-detail4__txt">
								Banyak pasien yg ragu-ragu untuk melakukan transplantasi rambut khawatir akan hasil dari pencangkokan.
								Transplantasi rambut hanyalah awal dari perawatan rambut rontok, jadi Anda tidak perlu khawatir akan transplantasi rambut pada tahap ini.
								BANOBAGI menyediakan program perawatan kulit kepala sistematis setelah operasi untuk membantu pasien kami mempertahankan hasil yg lebih lama & sehat. BANOBAGI memberikan perawatan Pos-Operasi terbaik dengan <span class="n-color-hair2">pengetahuan & keterampilan 19 tahun pengalaman untuk hasil terbaik</span> termasuk perawatan SVF dengan menggunakan SVF yg diekstrak & dipisahkan dari Klinik Pusat SVF kami.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="detail-section hair-section5" data-section-name="hair-section5">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair">
							<h4 class="onepage__tit hair-detail5__tit">
								Transplantasi Rambut,
								Kami beroperasi dgn <span class="n-color-hair3">Unit Folikel Rambut</span>.
							</h4>
							<p class="onepage__subtit hair-detail5__subtit">
								Transplantasi rambut adalah operasi yg mentransplantasikan folikel rambut, bukan rambut.
							</p>
							<p class="onepage__txt hair-detail5__txt">
								Prosedur Transplantasi Rambut adalah pemisahan folikel setelah ekstraksi.
								3 rambut dari 1 folikel dapat tumbuh.
								Yang terbaik adalah fokus pada berapa banyak folikel yg ditransplantasikan daripada berapa banyak rambut yg ditransplantasikan.
								Ketika dikatakan 2.000 transplantasi rambut, sangat penting u/ mengklarifikasi apakah 2.000 transplantasi tersebut adalah folikel / rambut.
								Melalui <span class="n-color-hair3">komunikasi dengan pasien secara jelas untuk hasil operasi yg bagus</span>, BANOBAGI memberikan <span class="n-color-hair3">konsultasi & operasi dengan unit folikel</span>.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="detail-section hair-section6" data-section-name="hair-section6">
		<div class="inner-wrap type-detail">
			<div class="onepage__box type-half font-black">
				<div class="onepage__inner">
					<div class="onepage__vertical">
						<div class="onepage__quotation type-hair3">
							<h4 class="onepage__tit hair-detail6__tit">
								Transplantasi rambut,
								BANOBAGI mengutamakan <span class="n-color-hair4">Detail</span>
							</h4>
							<p class="onepage__subtit hair-detail6__subtit">
								Teknik transplantasi yg mempertimbangkan bentuk & keseimbangan wajah juga sudut & kepadatan rambut.
							</p>
							<p class="onepage__txt hair-detail6__txt">
								Alasan mengapa hasil o/ Spesialis yg berpengalaman berbeda adalah karena satu pertimbangan detail untuk hasil terbaik tidak terlewatkan.
								BANOBAGI menjanjikan hasil terperinci o/ Dr. Lee Kyoung Ku & staf medis yg terampil & berpengalaman dalam setiap langkah dari seluruh prosedur termasuk konsultasi, ekstraksi, transplantasi & perawatan Pos-Operasi.
								<span class="n-color-hair4">Teknik rekomendasi khusus yg dirancang untuk bentuk wajah individu & pertimbangan menyeluruh dari kepadatan, sudut & kedalaman folikel rambut</span>
								adalah kebanggaan dari tim khusus Transplantasi Rambut BANOBAGI.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //Content -->


<% include ../_include/_footer %>
