@charset "utf-8";
@import "mixins";
.c-visual{
    $this:&;
    &.type-proposal{background: url('../images/membership/proposal/proposal_bg_1.jpg') center center/cover no-repeat;
        #{$this}__img{overflow:hidden; position:absolute; top:0; left:0; opacity:0; display:block; width:100%; height:100%; background: url('../images/membership/proposal/proposal_bg_2.jpg') center center/cover no-repeat; text-indent:-9999px;}
    }
    @media only screen and (max-width: $tablet-size){background: url('../images/membership/proposal/proposal_bg_1_t.jpg') center center/cover no-repeat;
        &.type-proposal{
            #{$this}__img{background: url('../images/membership/proposal/proposal_bg_2_t.jpg') center center/cover no-repeat;}
        }
    }
}
.proposal{padding:0 108px; box-sizing:border-box;
    &__wrap{padding-top:60px; border-top:1px solid #9999; box-sizing:border-box;}
    &__noti{position:relative; margin:10px 0 0 0; padding-left:10px; font-size:13px; color:$black2;
        &:before{position:absolute; top:3px; left:0; display:block; content:'*'}
    }
    &__terms{margin-top:60px; border-top:1px solid #999999; padding-top:60px; box-sizing:border-box;}
    &__required{margin:0 0 16px; text-align: right; font-size:15px;}
    @media only screen and (max-width: $tablet-size){padding:0;}
    @media only screen and (max-width: $mobile-size){
        &__noti{ margin-top:5px; padding-left:8px; font-size:1.1rem;}
        &__terms{margin-top:40px; padding-top:40px;}
        &__wrap{padding-top:40px;}
        &__required{font-size:1.2rem;}
    }
}
