<%
	type = "content"
	page = "chest"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-chest-extension">
		<div class="content-visual__box">
            <div class="content-visual__border">
                <p class="content-visual__txt1">Kepuasan yang lebih besar dengan pilihan tepat</p>
                <h3 class="content-visual__tit"># <span class="color-chest7">Augmentasi</span> payudara</h3>
                <p class="content-visual__txt2">Kepercayaan diri atas hasil yang alami</p>
            </div>
        </div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-chest-extension">
		<div class="content-wrap">
			<section class="interaction">
				<div class="content-section type-first">
					<h4 class="content-section__tit type-center">
						<span class="content-section__number">
							<span class="content-section__number-wrap">
								01
							</span>
						</span>
						Pertanyaan-pertanyaan harus terus menerus ditanyakan, dan
						<strong class="color-chest7">relasi</strong> harus dibuat
					</h4>
					<div class="content-section__wrap clearfix">
						<div class="content-section__item type-width">
							<div class="content-section__img"></div>
						</div>
						<div class="content-section__item">
							<div class="content-section__desc">
								<p class="content-section__txt1">
									Proses augmentasi payudara mencakup pengambilan banyak keputusan: dari berbagai tipe implant sampai dengan teknik operasi yang disesuaikan dengan bentuk badan masing-masing individu, operasi yang menunjukan jumlah keputusan besar untuk diambil. Hal ini terkadang menjadi terburu-buru dalam menentukan pilihan: kurang informasi dan sepenuhnya bergantung pada keputusan oleh klinik. Namun, operasi payudara merupakan prosedur yang dimana di tiap keputusan dalam persiapan memiliki implikasi yang besar. Oleh karena itu, baik pasien maupun dokter bedah harus keras hati: kami percaya bahwa keputusan yang muncul setelah diskusi yang baik, akan menghasilkan hasil yang lebih baik. Demi tercapainya hal ini,
									<span class="content-highlight type-chest-extension">Banobagi memastikan diagnosis pasien secara terperinci terkait kondisi, data mengenai implant, dan sisi positif maupun negatif dari setiap metode.</span> Diatas segalanya, kami mendengarkan pasien dengan lebih seksama: tujuan mereka terhadap bentuk dan ukuran sebagai hasil akhir operasi payudara. Tampilan yang alami dan memuaskan hanya dapat diperoleh dari proses yang tersebut di atas.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="kind-req">
				<div class="content-section">
					<h4 class="content-section__tit type-center">
                        <span class="content-section__number">
                            <span class="content-section__number-wrap">
                                02
                            </span>
                        </span>
						Kami tidak merekomendasikan implan yang terbaik, kami merekomendasikan
						<strong class="color-chest7">implan yang paling tepat</strong>
					</h4>
					<p class="content-section__txt1">
						Implan merupakan bagian penyusun utama dalam operasi augmentasi payudara, sehingga harus berhati-hati dalam memilihnya-baik dari sisi keindahan maupun kedokteran-demi mencapai hasil yang diinginkan. Permasalahan yang sering muncul adalah terletak pada bahwa implan memiliki karakteristik yang bervariasi, dan bentuk payudara individu yang sangat bervariasi juga. Hal inilah yang membuat pilihan implant “yang terbaik” sebagai hal yang tidak mungkin.
					</p>
					<p class="content-section__txt1">
						Demi hasil yang lebih memuaskan, klinik harus menyediakan berbagai jenis implan.
						<span class="content-highlight type-chest-extension">Oleh karena itu, konsultasi dengan dokter spesialis yang ahli di bidang ini merupakan hal yang krusial. </span>
					</p>
					<div class="content-section__wrapper type-background">
						<p class="content-section__txt type-sub">Jantung dari augmentasi payudara BANOBAGI</p>
						<div class="content-section__quotation">
							<div class="content-section__quotation-wrapper">
								<div class="quotation type-chest-extension">
									<h5 class="content-section__tit-quote">
										Tipe-tipe <strong class="color-chest8">implan</strong>
									</h5>
								</div>
							</div>
						</div>
						<div class="extension-box1">
							<h6 class="kind-req__tit">Pemilihan berdasarkan bahan pengisi</h6>
							<ul class="clearfix item-box2__list chest-group1">
								<li class="item-box2__item">
									<div class="item-box2__outer">
										<div class="type-pic1 item-box2__thumb">content image</div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height js-height">
												<p class="item-box2__tit tit-v2">
													Jel kohesif
												</p>
												<p class="item-box2__txt1 txt-v2">
													Jel kohesif telah menggantikan implan berisi implan cairan fisiologis, yang telah banyak digunakan di Korea. Daya ikatnya yang kuat mencegah kemungkinannya tercampur di tubuh jika terjadi kerusakan setelah operasi. Bahan ini telah disetujui FDA dan KFDA. Keuntungan bahan ini adalah teksturnya yang alami sehingga penggunaannya mudah digunakan pada banyak kasus.
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="item-box2__item">
									<div class="item-box2__outer">
										<div class="type-pic2 item-box2__thumb">content image</div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height js-height">
												<p class="item-box2__tit tit-v2">
													Cairan fisiologis
												</p>
												<p class="item-box2__txt1 txt-v2">
													Banyak digunakan dimasa lalu, dimana implan diisi cairan fisiologis. Keuntungan tipe ini adalah pengontrolan ukuran augmentasi yang lebih mudah diatur, namun kelemahannya ialah tidak lembut saat disentuh.
												</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="extension-box2">
							<div class="category-list__cate-2">
								<h6 class="kind-req__tit">Pemilihan berdasarkan tekstur permukaan</h6>
								<ul class="category-list__list-wrapper clearfix">
									<li class="category-list__category2">
										<div class="category-list__cate-box2">
											<div class="category-list__thumb2 type-pic3">
											</div>
											<div class="category-list__desc2">
												<p class="category-list__cate2-tit">Tipe mulus</p>
												<p class="category-list__cate2-txt">
													Permukaan yang mulus dan lembut membuatnya lebih mudah untuk diletakkan dan membutuhkan insisi yang lebih kecil, sehingga jaringan parut yang terbentuk lebih kecil. Namun risikonya adalah terbentuknya kontraktur kapsular jika tidak dirawat dengan baik pasca operasi.
												</p>
											</div>
										</div>
									</li>
									<li class="category-list__category2">
										<div class="category-list__cate-box2">
											<div class="category-list__thumb2 type-pic4">
											</div>
											<div class="category-list__desc2">
												<p class="category-list__cate2-tit">Tipe bertekstur</p>
												<p class="category-list__cate2-txt">
													Permukaan yang tidak rata merupakan tempat melekatnya jaringan payudara selama operasi, mencegah kontraktur kapsular dan membuat payudara terasa lebih lembut.
												</p>
											</div>
										</div>
									</li>
									<li class="category-list__category2">
										<div class="category-list__cate-box2">
											<div class="category-list__thumb2 type-pic5">
											</div>
											<div class="category-list__desc2">
												<p class="category-list__cate2-tit">Tipe tekstur mikro</p>
												<p class="category-list__cate2-txt">
													Tipe ini mengambil keuntungan campuran antara tipe mulus dan bertekstur. Permukaan ireguler yang lebih halus membuat pelekatan dengan jaringan lebih mudah sehingga mencegah kontraktur kapsular, selain itu tetap membuat implan mudah diletakkan saat proses operasi; dengan demikian tipe ini lebih tepat digunakan pada pasien dengan lebar dada yang cenderung sempit.
												</p>
											</div>
										</div>
									</li>
									<li class="category-list__category2 type-center">
										<div class="category-list__cate-box2">
											<div class="category-list__thumb2 type-pic6">
											</div>
											<div class="category-list__desc2">
												<p class="category-list__cate2-tit">Tipe tekstur sutra</p>
												<p class="category-list__cate2-txt">
													Tipe ini memiliki permukaan yang tidak rata. Selama proses operasi, jaringan payudara akan melekat pada permukaan tidak rata namun halus sehingga menciptakan hasil akhir yang lebih lembut.
												</p>
											</div>
										</div>
									</li>
									<li class="category-list__category2 type-center">
										<div class="category-list__cate-box2">
											<div class="category-list__thumb2 type-pic7">
											</div>
											<div class="category-list__desc2">
												<p class="category-list__cate2-tit">Tipe poliuretan mikro</p>
												<p class="category-list__cate2-txt">
													Tipe ini membedakan dirinya dengan yang lain karena memiliki permukaan poliuretan yang berlubang sangat halus. Jaringan payudara menempel pada permukaan berlubang tersebut, mencegah timbulnya kontraktur kapsular dan memberikan fiksasi maksimal yang mencegah rotasi implan saat pergerakan. Penyembuhan yang cepat dan tampilan yang lebih alami juga menjadi keunggulan tipe ini.
												</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="category-list__cate-3">
								<h6 class="kind-req__tit">Pemilihan berdasarkan bentuk</h6>
								<ul class="clearfix item-box2__list chest-group2">
									<li class="item-box2__item">
										<div class="item-box2__outer">
											<div class="type-pic8 item-box2__thumb">Bentuk bulat</div>
											<div class="item-box2__inner clearfix">
												<div class="item-box2__desc js-height js-height">
													<p class="item-box2__tit tit-v2">
														Bentuk bulat
													</p>
													<p class="item-box2__txt1 txt-v2">
														Merupakan bentuk paling umum implan, bulat setengah bola. Karena bentuknya memuncak di tengah, tipe ini dapat menonjolkan aspek atas dan bawah payudara. Selain itu, gaya gravitasi menarik implan saat posisi tegak, yang menghasilkan tampilan payudara alami saat dilihat dari sisi samping.
													</p>
												</div>
											</div>
										</div>
									</li>
									<li class="item-box2__item">
										<div class="item-box2__outer">
											<div class="type-pic9 item-box2__thumb">Tipe anatomis atau tetes air</div>
											<div class="item-box2__inner clearfix">
												<div class="item-box2__desc js-height js-height">
													<p class="item-box2__tit tit-v2">
														Tipe anatomis atau tetes air
													</p>
													<p class="item-box2__txt1 txt-v2">
														Tipe anatomis didesain sebagai bentuk yang paling menyerupai bentuk payudara ideal yang umum, yaitu bentuk seperti tetes air. Walau demikian, jika dilihat saat postur tubuh tertentu, payudara bisa terlihat tidak alami. Selain itu, pemasangan implan jenis ini jika tidak dengan ketat mengikuti prosedur, implant bisa aja  berputar dan dibutuhkan prosedur operasi kedua untuk memperbaiki posisi implan.
													</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="operation-ways">
				<section class="content-section">
					<div class="content-section__bg">
						<div class="content-section__wrapper">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number">
									<span class="content-section__number-wrap">
										03
									</span>
								</span>
								<strong class="color-chest9">Teknik operasi</strong>
								tidaklah kalah penting dengan jenis implan
							</h4>
							<p class="content-section__txt1">
								Hasil augmentasi payudara bervariasi tergantung keinginan pasien dan <strong class="color-chest10">struktur alami tubuh.</strong>
								Teknik operasi yang berbeda termasuk titik memasukkan implan dan lokasi jaringan parut. Oleh karena itu, penting bagi pasien untuk memahami teknik operasi sebagaimana memahami jenis implan.
							</p>
						</div>
						<div class="extension-box3">
							<h5 class="operation-ways__tit">
								Penempatan implan
							</h5>
							<ul class="item-box2__list clearfix chest-group3">
								<li class="item-box2__item">
									<div class="item-box2__outer">
										<div class="type-pic10 item-box2__thumb">Di bawah otot image</div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height js-height">
												<h6 class="item-box2__tit tit-v2">
													Di bawah otot
												</h6>
												<p class="item-box2__txt1 txt-v2">
													Lokasi ini mempertahankan struktur asli payudara, sehingga tidak mengganggu fungsi dan cenderung membutuhkan waktu pemulihan yang lebih cepat. Tampilan akhir payudara dengan penempatan di bawah otot juga lebih menonjol, asalkan implan diposisikan seimbang dan dapat menyanggah bagian bawah payudara.
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="item-box2__item">
									<div class="item-box2__outer">
										<div class="type-pic11 item-box2__thumb">Di atas otot image</div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height js-height">
												<h6 class="item-box2__tit tit-v2">
													Di atas otot
												</h6>
												<p class="item-box2__txt1 txt-v2 pop-info">
													jika pasien memiliki otot pektoral yg berkembang dgn baik/ memilih implan solusi saline, implan itu akan berposisi di tengah antara jaringan halus & otot dada. Manfaat dari kasus tersebut adlh prosedur yg lebih mudah u/ memperbaiki payudara yg kendur. Akan tetapi, kesulitannya adlh
													<a href="" class="info-btn js-info">
														<span class="info-btn__icon type-chest-extension">info button</span>
														kapsular kontrakur
														<span class="info-desc type-chest-extension">
                                                            <span class="info-desc__item">
                                                                <span class="info-desc__box">
                                                                    <span class="info-desc__tit"><span class="info-desc__icon"></span><strong>Apa itu kapsular kontraktur?</strong><br class="hidden-tm"></span>
                                                                    <span class="info-desc__content">
                                                                        <span class="info-desc__txt1">
																			Kontraktur adlh fenomena dimana epitelium di dalam tubuh kita menegang. Dalam kasus pembesaran payudara, epitel dapat membungkus di sekitar implan & menjadi mengeras. Kontraktur sedang bukanlah masalah serius, tetapi dalam kasus yg lebih serius, kontraktur membuat payudara terasa tidak alami. Pencegahan & pengobatan yang tepat berdasarkan tingkat kontraktur sangatlah diperlukan.
                                                                         </span>
                                                                    </span>
                                                                </span>
                                                                <button class="info-desc__btn js-close">
                                                                    <span class="info-desc__stick type-left"></span>
                                                                    <span class="info-desc__stick type-another"></span>
                                                                    Tutup
                                                                </button>
                                                            </span>
                                                        </span>
													</a>
													yg membutuhkan perawatan yg harus diperhatikan.
												</p>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="extension-box4">
							<h5 class="operation-ways__tit">
								Metode insisi
							</h5>
							<ul class="item-box2__list clearfix chest-group4">
								<li class="item-box2__item">
									<div class="item-box2__outer clearfix">
										<div class="item-box2__thumb type-pic12"></div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height js-height">
												<h6 class="item-box2__tit tit-v1">
													Insisi di ketiak
												</h6>
												<p class="item-box2__txt1 txt-v2">
													Lokasi insisi ini menyembunyikan jaringan parut dengan efektif, mengurangi kerusakan saraf dan pembuluh darah, serta meminimalisir risiko infeksi atau hilangnya sensasi areolar. Prosedur yang cepat dengan insisi ini juga membuat waktu pemulihan lebih cepat.
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="item-box2__item">
									<div class="item-box2__outer clearfix">
										<div class="item-box2__thumb type-pic13"></div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height js-height">
												<h6 class="item-box2__tit tit-v1">
													Insisi di bawah payudara
												</h6>
												<p class="item-box2__txt1 txt-v2">
													Insisi pada lokasi ini sangat menguntungkan untuk merekonstruksi bentuk payudara, juga dengan nyeri yang lebih ringan dan pemulihan yang lebih cepan. Di masa lampau, insisi di bawah payudara dihindari karena risiko jaringan parut yang terbentuk, namun saat ini jaringan parut dapat diatasi dan diminimalisir, selain itu lokasinya pun tersembunyi di bawah payudara.
												</p>
											</div>
										</div>
									</div>
								</li>
								<li class="item-box2__item">
									<div class="item-box2__outer clearfix">
										<div class="item-box2__thumb type-pic14"></div>
										<div class="item-box2__inner clearfix">
											<div class="item-box2__desc js-height js-height">
												<h6 class="item-box2__tit tit-v1">
													Insisi sekitar areola
												</h6>
												<p class="item-box2__txt1 txt-v2">
													Karena insisi ini dibuat ditengah payudara - tempat implan akan dipasang, dokter bedah memiliki akses dan visualisasi yang lebih mudah. Bahkan dapat disimpulkan insisi di area ini tidak memiliki efek samping pada proses menyusui atau kehamilan, tapi dapat memperbaiki bentuk payudara yang kendur dan meminimalisir risiko posisi implan yang tidak seimbang.
												</p>
											</div>
										</div>
									</div>
								</li>
							</ul>

						</div>
					</div>
				</section>
			</section>
			<section class="responsibility">
				<div class="content-section">
					<div class="content-section__wrap">
						<div class="content-section__tit-wrap">
							<h4 class="content-section__tit type-center">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                04
		                            </span>
		                        </span>
								Merupakan kewajiban klinik
								<span class="color-chest7">untuk memastikan keamanan dan kesehatan pasien</span>
							</h4>
							<p class="content-section__txt1">
								Keamanan dan kesehatan pasien adalah hal mendasar bagi setiap klinik. Bagaimanapun juga, dokter bedah plastik sering terlalu berfokus pada keindahan dan melupakan elemen dasar ini. Banobagi merupakan klinik yang menjunjung tinggi nilai kemanusiaan, dan bertanggung jawab penuh atas keamanan dan kesehatan pasien terkait operasi augmentasi payudara.
							</p>
						</div>
						<div class="responsibility__contents-box">
							<ul class="responsibility__list clearfix">
								<li class="responsibility__item">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												Sistem <span class="color-chest11 type-bold">pemeriksaan payudara yang lengkap</span>
											</h5>
											<p class="responsibility__item-txt pop-info">
												Payudara wanita tak hanya menjadi simbol feminitas, tetapi juga memiliki fungsi yang penting. Oleh karena itu pemeriksaan kesehatan payudara merupakan pemeriksaan yang krusial dilakukan. Namun, banyak pasien merasa tidak nyaman jika operasi augmentasi payudara mereka terungkap. Banobagi merupakan anggota aktif
												<a href="" class="info-btn js-info">
													<span class="info-btn__icon type-chest-ribbon">info button</span>
													pink-ribbon campaign,
													<span class="info-desc type-chest-ribbon">
                                                            <span class="info-desc__item">
                                                                <span class="info-desc__box">
                                                                    <span class="info-desc__tit"><span class="info-desc__icon"></span><strong>Apa itu “pink-ribbon campaign”</strong><br class="hidden-tm"></span>
                                                                    <span class="info-desc__content">
                                                                        <span class="info-desc__txt1">
																			“pink-ribbon campaign”<br>
																			Pita Pink mewakili Kanker Payudara. Kampanye ini dibuat untuk meningkatkan kesadaran akan resiko kanker & pentingnya penceggahan kanker melalui pemeriksaan reguler.
                                                                         </span>
                                                                    </span>
                                                                </span>
                                                                <button class="info-desc__btn js-close">
                                                                    <span class="info-desc__stick type-left"></span>
                                                                    <span class="info-desc__stick type-another"></span>
                                                                    Tutup
                                                                </button>
                                                            </span>
                                                        </span>
												</a>
												dan memiliki fasilitas dan staf medis yang lengkap untuk memeriksakan kesehatan payudara Anda.
												<strong class="color-chest12">Kami menawarkan program pemeriksaan payudara rutin, bahkan penemuan dan pengangkatan tumor payudara. </strong>
											</p>
											<div class="responsibility__thumb type-pic15">
												Sistem pemeriksaan payudara yang lengkap - img
											</div>
										</div>
									</div>
								</li>
								<li class="responsibility__item type-special">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												Hanya implan asli
											</h5>
											<p class="responsibility__item-txt">
												Sebagaimana implan merupakan bagian penting dalam augmentasi payudara, orisinalitas implan merupakan hal yang krusial. Implan yang dipakai tanpa melalui proses uji coba dapat menimbulkan reaksi infeksi dan efek samping lain pada pasien. Banobagi selalu memiliki persediaan berbagai
												<strong class="color-chest12">jenis implan yang orisinal dari pabrik-pabrik asli terpercaya. </strong>
											</p>
											<div class="responsibility__thumb type-pic16">
												Hanya implan asli - img
											</div>
										</div>
									</div>
								</li>
								<li class="responsibility__item type-mt20">
									<div class="responsibility__box">
										<div class="responsibility__desc">
											<h5 class="responsibility__item-tit">
												Operasi <span class="color-chest11 type-bold">dengan durasi 30 menit</span>
											</h5>
											<p class="responsibility__item-txt">
												Pasien seringkali berpikiran bahwa semakin lama operasi, semakin baik hasil akhirnya. Namun faktanya ialah, operasi yang makin lama, memiliki risiko kontaminasi dan infeksi yang lebih besar, seiring dengan bertambahnya risiko kerusakan jaringan dan lamanya proses pemulihan. Jika bertanya tentang waktu operasi, lebih cepat lebih baik. <span class="color-chest11">Banobagi, dengan banyaknya pengalaman para dokter bedah kami, operasi augmentasi payudara hanya berdurasi sekitar 30 menit.</span> Para pakar Banobagi menggunakan peralatan yang miminimalisir perdarahan dan kerusakan jaringan, sehingga menghasilkan proses augmentas payudara yang lebih aman.
											</p>
											<div class="responsibility__thumb type-pic17">
												dengan durasi 30 menit - img
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>

					</div>
				</div>

			</section>
			<section class="recovery">
				<div class="recovery__wrap">
					<div class="recovery__tit-wrap">
						<h4 class="content-section__tit type-top">
	                        <span class="content-section__number">
	                            <span class="content-section__number-wrap">
	                                05
	                            </span>
	                        </span>
							<span class="color-chest7">Pemulihan</span> dan
							<span class="color-chest7">Perawatan,</span><br>
							BANOBAGI menawarkan Anda kelegaan.
						</h4>
						<div class="recovery__img-wrapper clearfix">
							<div class="recovery__pic-list">
								<div class="recovery__pic-item pic18"></div>
							</div>
							<div class="recovery__pic-list">
								<div class="recovery__pic-item pic19"></div>
							</div>
						</div>
						<p class="content-section__txt1">
							Setiap operasi membutuhkan proses penyembuhan – hal demikian berlaku juga dalam augmentasi payudara, terkait jaringan parut dan kontraktur kapsular. Kontraktur kapsular dapat dicegah dengan memilih implan tertentu dengan prosedur yang tepat.
							<span class="content-highlight type-chest-extension">Banobagi menawarkan program pijat sistematik untuk mendampingi pasien pasca operasi augmentasi payudara dengan implan tipe halus.</span> Lebih lagi, kami berkolaborasi dengan tim Dermatologi Banobagi untuk menyediakan perawatan jaringan parut yang lebih optimal bagi pasien.
						</p>
					</div>
				</div>
			</section>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-chest">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Informasi Operasi</h4>
							<!-- <p class="operation-v2__subtit">Pemulihan operasi augmentasi payudara itu cepat</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
										<p class="operation-v2__txt txt-new1"> ± 1 jam</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
										<p class="operation-v2__txt txt-new1">Anestesi Total</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
										<p class="operation-v2__txt txt-new1">
											Dilepas ± stlh 7 hari<br>
											(Tdk memerlukan Derma Bond)
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
										<p class="operation-v2__txt txt-new1">Pulang di hari yg sama/Rawat inap ± 1 hari</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
										<p class="operation-v2__txt txt-new1">± 2 X</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
										<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 3 ~ 5 hari</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-chest">
								<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Rasa nyeri akan muncul, tergantung tipe operasi dan jenis implan.<br>
									Obat anti nyeri akan diberikan dan nyeri akan hilang seiring berjalannya waktu.<br>
									Kontraktur kapsular pun akan hilang melalui pemijitan.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
									<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!--// Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
