<%
	type = "content"
	page = "chest"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
    <div class="content-visual type-reduction">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Kepekaan dan pengetahuan mengenai berbagai permasalahan</p>
				<h3 class="content-visual__tit"># <span class="color-chest7">Reduksi</span> Payudara</h3>
				<p class="content-visual__txt2">Payudara yang tidak berlebihan dan lebih cantik</p>
			</div>
		</div>
    </div>
    <!-- //visual -->

	<!-- content -->
	<div class="content type-chest-extension">
		<div class="content-wrap">
			<div class="content-section type-reduction type-first">
				<div class="reduction-box1">
					<h4 class="content-section__tit type-center">
						<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
						Prosedur ini
						<strong class="color-chest7">melampaui </strong>
						sekedar pengurangan ukuran payudara
					</h4>
					<p class="content-section__txt1">
						Reduksi payudara bukanlah usaha sederhana dalam peningkatan kecantikan seseorang. Karena payudara yang besar mempengaruhi kesehatan dan kondisi psikologis, disamping ketidakpuasan secara keindahan. Payudara yang sangat besar juga menyebabkan beberapa gangguan kulit seperti eksim dan juga membebani tulang belakang dan bahu: ini menjadi masalah yang harus dipertimbangkan. Membiarkan masalah ini membentuk postur tubuh yang kurang baik dan mengurangi kepercayaan diri,
						<span class="content-highlight type-chest">oleh karena itu reduksi payudara berarti lebih dari sekedar meningkatkan keindahan. </span>
					</p>
					<div class="reduction-box1__img">
						<img src="../../images/chest/chest_reduction_img02.jpg" loading="lazy" alt="Payudara yang amat besar - Kesehatan yang memburuk, Ketidakpuasan dari sisi keindahan, Hilangnya kepercayaan diri"><!-- mobile -->
					</div>
				</div>
				<div class="reduction-box2">
					<div class="reduction-wrap">
						<div class="reduction-box2__box">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
								Sepasang mata, Berpengalaman baik dalam
								<strong class="color-chest7">pembentukan tubuh</strong> dan
								<strong class="color-chest7">peningkatan bentuk payudara</strong>
							</h4>
							<p class="content-section__txt1">
								Pada akhirnya, reduksi payudara bertujuan untuk meningkatkan kesehatan sekaligus mempercantik tubuh. Oleh karena itu, bukan hanya penting untuk mereduksi ukuran payudara, tetapi juga menentukan ukuran yang proporsional dengan tubuh secara keseluruhan.
							</p>
						</div>
						<div class="reduction-box2__img">
							mobile img
						</div>
						<div class="cosmetic">
							<div class="cosmetic__bg">
								<ul class="cosmetic__list">
									<li class="cosmetic__item">
										<div class="cosmetic__wrap nth-1">
											<div class="cosmetic__box nth-1">
												<div class="cosmetic__box-wrap">
													<p class="cosmetic__txt">Pembentukan Payudara</p>
												</div>
											</div>
											<div class="cosmetic__box nth-2">
												<div class="cosmetic__box-wrap">
													<p class="cosmetic__txt">Pembentukan kontur tubuh</p>
												</div>
											</div>
										</div>
									</li>
									<li class="cosmetic__item">
										<div class="cosmetic__wrap nth-2">
											<div class="cosmetic__box nth-3">
												<div class="cosmetic__box-wrap">
													<p class="cosmetic__txt">Kemampuan untuk menyediakan perawatan yang mengerti kebutuhan tubuh secara proporsional</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div><!--//cosmetic-->
						<div class="reduction-box2__txt">
							Banobagi adalah institusi yang komprehensif dalam menangani tubuh Anda. Pembentukan payudara dan pembentukan kontur tubuh terkait erat satu sama lain, sehingga kami memiliki Dr. Barn Jae Sang yang ahli pada kedua bidang tersebut, sebagai pemimpin tim. Hal ini memampukan <strong class="color-chest7">Banobagi menghasilkan operasi reduksi payudara yang proporsional dengan bentuk tubuh, indah, dan nyaman. </strong>
						</div>
					</div><!-- //reduction-wrap-->
				</div><!-- //reduction-box2-->
				<div class="reduction-box3">
					<div class="reduction-wrap">
						<div class="content-section">
							<h4 class="content-section__tit type-center">
								<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
								Kami menyarankan prosedur yang terbaik
								<strong class="color-chest7">demi hasil yang Anda inginkan</strong>
							</h4>
							<p class="content-section__txt1">
								Operasi reduksi payudara terdiri dari 4 jenis dengan kelebihan dan kelemahan masing-masing. Penting bagi Anda untuk mengerti lebih dahulu sebelum menentukan jenis operasi mana yang Anda akan jalani.
							</p>
							<div class="reduction-box3__box">
								<div class="item-box3 type-reduction">
									<ul class="item-box3__list">
										<li class="item-box3__item nth-1">
											<div class="item-box3__box">
												<div class="item-box3__wrap">
													<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">Reduksi payudara melalui insisi areola</span></h5>
													<p class="item-box3__txt txt-v1">
														Metode ini membuat akses ke dalam jaringan payudara di sekitar areola, namun sulit dilakukan jika ukuran payudara terlampau besar. Metode ini meninggalkan jaringan parut minimal, dan prosedur tidak mengganggu fungsi payudara itu sendiri.
													</p>
												</div>
											</div>
										</li>
										<li class="item-box3__item nth-2">
											<div class="item-box3__box">
												<div class="item-box3__wrap">
													<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">Reduksi payudara dengan insisi vertikal</span></h5>
													<p class="item-box3__txt txt-v1">
														Insisi vertikal dilakukan sepanjang 4-5cm di bawah areolar. Insisi ini merupakan keseimbangan antara insisi areola dan insisi “berbentuk O“: dapat dilakukan untuk payudara yang berukuran besar, dan meninggalkan jaringan parut yang lebih kecil daripada insisi “berbentuk O“. Tipe insisi ini juga memiliki waktu pemulihan yang cepat dan pembentukan payudara yang lebih mudah. Kelemahannya hanya jaringan parut yang muncul pasca operasi.
													</p>
												</div>
											</div>
										</li>
										<li class="item-box3__item nth-3">
											<div class="item-box3__box">
												<div class="item-box3__wrap">
													<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">Reduksi payudara dengan insisi “berbentuk O”</span></h5>
													<p class="item-box3__txt txt-v1">
														insisi “berbentuk O” merupakan tipe insisi paling sering digunakan dan hampir pada semua kasus (payudara yang sangat berat, sangat turun, dan lainnya). Hasil dari insisi ini lebih mudah diprediksi dan tidak menimbulkan efek baal di sekitar areola. Namun bagaimanapun juga, jaringan parut bisa timbul dibawah payudara dan dibawah aerola: mereka yang berkeinginan besar untuk menghindari jaringan parut harus mencari yang lain.
													</p>
												</div>
											</div>
										</li>
										<li class="item-box3__item nth-4">
											<div class="item-box3__box">
												<div class="item-box3__wrap">
													<h5 class="item-box3__tit tit-v2"><span class="color-reduction1">Reduksi payudara melalui sedot lemak</span></h5>
													<p class="item-box3__txt txt-v1">
														Metode ini mengurangi ukuran payudara dengan menghilangkan lemak dalam payudara. Pada kasus payudara yang besar akibat obesitas umum, lemak dalam payudara sangat banyak, sehingga sedot lemak merupakan pilihan efektif. Waktu prosedur ini sangat singkat, jaringan parut yang muncul sangat minimal; menjadikan metode sedot lemak banyak dipilih pasien yang takut pembekasan. Namun, jika kulit payudara telah tertarik akibat besarnya ukuran payudara, prosedur sedot lemak dapat membuat payudara mengendur.
													</p>
												</div>
											</div>
										</li>
									</ul>
								</div><!-- //item-box3-->
							</div>
						</div>
					</div><!-- //reduction-wrap-->
				</div><!-- //item-box1-->
				<div class="reduction-box4">
					<h4 class="reduction-box4__tit">
						Sebuah kesalahpahaman mengenai reduksi payudara adalah
						<strong class="color-chest13">prosedur ini mengakibatkan payudara tampak tidak memukau.</strong>
					</h4>
					<p class="reduction-box4__txt txt-v5">
						Jika bentuk payudara menjadi tidak menarik setelah prosedur, maka kemungkinannya adalah desain yang kurang tepat dari awal atau kurangnya perawatan pasca operasi.
						<br><br>
						Banobagi memastikan perawatan pasca operasi yang proaktif, seperti perawatan dengan fototerapi, pemijatan, dan lainnya. Selain itu, kami akan mendampingi pasien selama pemulihan sampai mendapatkan hasil akhir yang diinginkan. Lebih lagi, perawatan kami berkolaborasi dengan Dermatologi Banobagi sehingga masalah jaringan parut pasien dapat ditangani dengan baik.
					</p>
					<div class="bio">
						<div class="bio__box type-img">
							<div class="bio__img nth-1">Biophoton - img</div>
						</div>
						<div class="bio__box type-txt">
							<div class="bio__wrap">
								<h5 class="bio__tit">Terapi biofoton</h5>
								<p class="bio__txt txt-v1">
									Merupakan fototerapi seluruh tubuh dengan pemanasan seluruh tubuh menggunakan foton platinum dan permata, sebagai pemancar partikel nano. Teknologi ini memungkinkan pemancaran energi 4 sampai dengan 14 mikro, yang menaikkan suhu tubuh, meningkatkan sistem imun tubuh, dan membantu tubuh membuang zat-zat sisa metabolism. Lebih daripada itu, teknologi ini meningkatkan sirkulasi sehingga membantu memecahkan sel-sel lemak.
								</p>
							</div>
						</div>
					</div>
					<div class="after-style type-chest">
						<ul class="after-style__list">
							<li class="after-style__item nth-1">
								<div class="after-style__txt txt-new2">1 bulan setelah operasi</div>
							</li>
							<li class="after-style__item nth-2">
								<div class="after-style__txt txt-new2">6 bulan setelah operasi</div>
							</li>
							<li class="after-style__item nth-3">
								<div class="after-style__txt txt-new2">12 bulan setelah operasi</div>
							</li>
						</ul>
					</div>
					<!-- <ul class="reduction-box4__list">
						<li class="reduction-box4__item">
							<img src="../../images/chest/cosmetic_img9.jpg" loading="lazy" alt="1 bulan setelah operasi">
							<p class="reduction-box4__subject nth-1"><span class="reduction-box4__after">1 bulan setelah operasi</span></p>
						</li>
						<li class="reduction-box4__item">
							<img src="../../images/chest/cosmetic_img10.jpg" loading="lazy" alt="6 bulan setelah operasi">
							<p class="reduction-box4__subject nth-2"><span class="reduction-box4__after">6 bulan setelah operasi</span></p>
						</li>
						<li class="reduction-box4__item">
							<img src="../../images/chest/cosmetic_img11.jpg" loading="lazy" alt="12 bulan setelah operasi">
							<p class="reduction-box4__subject nth-3"><span class="reduction-box4__after">12 bulan setelah operasi</span></p>
						</li>
					</ul> -->
				</div><!-- //reduction-box4-->

				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Informasi Operasi</h4>
								<!-- <p class="operation-v2__subtit">Kepuasan tinggi melalui perawatan yang proaktif</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
											<p class="operation-v2__txt txt-new1"> ± 3 ~ 3 jam 30 menit</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
											<p class="operation-v2__txt txt-new1">Anestesi Total</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
											<p class="operation-v2__txt txt-new1">Pembuangan secara bertahap ± 8 ~ 15 hari</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
											<p class="operation-v2__txt txt-new1">± 1 hari</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
											<p class="operation-v2__txt txt-new1">± 4 ~ 5 X</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
											<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 5 ~ 7 hari</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 4){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Nyeri mungkin dirasakan pasca operasi, yang akan berkurang seiring berjalan waktu.<br>
										Sentuhan di area operasi dapat menimbulkan nyeri dan terbukanya luka operasi.<br>
										 Diperlukan kehati-hatian tinggi.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
										<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>

				<div class="reduction-box5">
					<div class="content-section">
						<div class="reduction-box5__box">
							<div class="reduction-box5__wrap type-unique">
								<h4 class="content-section__tit type-left">
									<span class="content-section__number"><span class="content-section__number-wrap">05</span></span>
									Reduksi payudara dengan perampingan ganda:
									<strong class="color-chest7">Usaha BANOBAGI</strong>
									untuk memahami perjuangan pasien
								</h4>
							</div>
							<p class="content-section__txt2">
								Hubungan antara payudara yang besar dengan obesitas tubuh bagian atas
							</p>
							<p class="content-section__txt1">
								Payudara yang besar biasanya disertai dengan obesitas secara keseluruhan; perut dan payudara tambahan, akibat posisi yang berdekatan, sebaiknya diperbaiki bersamaan dengan reduksi payudara. Tanpa menangani jaringan lemak seluruh tubuh bersama dengan reduksi payudara, hasil akhir yang diperoleh akan tampak aneh.
							</p>
						</div>
					</div>
				</div><!-- //reduction-box5-->
				<div class="reduction-box6">
					<h5 class="reduction-box6__tit">
						Banobagi menciptakan program reduksi payudara dengan perampingan ganda yang
						<strong>mencakup reduksi payudra dan sedot lemak secara bersamaan. </strong>
					</h5>
					<p class="reduction-box6__txt txt-v5">
						Prosedur perampingan ganda menjadikan Banobagi ahli di bidang pembentukan kontur tubuh dan pembentukan payudara. Sejak konsultasi pertama, kami sudah menawarkan desain yang proporsional dengan bentuk tubuh secara keseluruhan dan termasuk payudara. Pasien dapat mengharapkan bentuk tubuh yang komplit: payudara indah dan tubuh yang ramping.
					</p>
					<ul class="reduction-box6__list">
						<li class="reduction-box6__item">
							<img src="../../images/chest/chest_reduction_img11.jpg" loading="lazy" alt="Reduksi payudara pada umumnya - img">
							<p class="reduction-box6__subject nth-1">Reduksi payudara pada umumnya</p>
						</li>
						<li class="reduction-box6__item">
							<img src="../../images/chest/chest_reduction_img12.jpg" loading="lazy" alt="Reduksi payudara dan perampingan ganda - img">
							<p class="reduction-box6__subject nth-2">Reduksi payudara dan perampingan ganda</p>
						</li>
					</ul>
				</div>
				<div class="reduction-box4 type-another">
					<h4 class="reduction-box4__tit">
						Seperti layaknya reduksi payudara yang ditawarkan Banobagi, program perampingan ganda juga
						<strong class="color-chest13">dilengkapi dengan perawatan yang dibutuhkan pasca operasi.</strong>
					</h4>
					<p class="reduction-box4__txt txt-v5">
						Banobagi menjamin perawatan pasca operasi yang kooperatif (fototerapi, program pemijitan, dan lainnya), dan mendampingi selama proses pemulihan demi mencapai bentuk tubuh dan payudara yang optimal. Tidak hanya itu, kami berkolaborasi dengan Dermatologi BANOBAGI guna menyediakan perawatan jaringan parut pasien pasca operasi.
					</p>
					<!-- <div class="bio">
                        <div class="bio__box type-img">
                            <div class="bio__img nth-1">바이오포톤 - img</div>
                        </div>
                        <div class="bio__box type-txt">
                            <div class="bio__wrap">
                                <h3 class="bio__tit">바이오포톤</h3>
                                <p class="bio__txt">
                                    바이오포톤은 백금과 다이아몬드의 나노 입자가 결합된 신소재 PDP
                                    (Platinum Diamond Photon)를 사용하여 만든 회복 관리용 전신 온열 기기입니다.
                                    PDP가 발산하는 4~14 미크론의 빛 에너지는 체온을 높여 면역력을 키우고
                                    신체 유해 물질과 노폐물의 배출을 돕습니다. 또한 혈액순환 개선으로 체지방을
                                    적극적으로 분해하는 효과가 있습니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <ul class="reduction-box4__list">
                        <li class="reduction-box4__item">
                            <img src="../../images/chest/cosmetic_img9.jpg" loading="lazy" alt="수술후 1개월 사진">
                            <p class="reduction-box4__subject nth-1">수술 후 1개월</p>
                        </li>
                        <li class="reduction-box4__item">
                            <img src="../../images/chest/cosmetic_img10.jpg" loading="lazy" alt="수술후 6개월 사진">
                            <p class="reduction-box4__subject nth-2">수술 후 6개월</p>
                        </li>
                        <li class="reduction-box4__item">
                            <img src="../../images/chest/cosmetic_img11.jpg" loading="lazy" alt="수술후 12개월 사진">
                            <p class="reduction-box4__subject nth-3">수술 후 12개월</p>
                        </li>
                    </ul> -->
				</div><!-- //reduction-box4-->

				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-chest">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Informasi Operasi</h4>
								<!-- <p class="operation-v2__subtit">Kepuasan tinggi melalui perawatan yang proaktif</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
											<p class="operation-v2__txt txt-new1"> ± 3 ~ 3 jam 30 menit</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
											<p class="operation-v2__txt txt-new1">Anestesi Total</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
											<p class="operation-v2__txt txt-new1">Pembuangan secara bertahap ± 8 ~ 15 hari</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
											<p class="operation-v2__txt txt-new1"> ± 1 hari</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
											<p class="operation-v2__txt txt-new1">± 4 ~ 5 X</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
											<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 5 ~ 7 hari</p>
										</div>
									</li>
								</ul>
								<div class="pain-v2 type-chest">
									<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 4){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Nyeri mungkin dirasakan pasca operasi, yang akan berkurang seiring berjalan waktu.<br>
										Sentuhan di area operasi dapat menimbulkan nyeri dan terbukanya luka operasi.<br>
										Diperlukan kehati-hatian tinggi.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
										<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
			</div><!-- //content-section-->
		</div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
