<%
	type = "detail"
	page = "chest"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="chest detail-common">
    <section class="fs_section chestFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-chest">
					Implan <span class="color-chest0">yang sama,</span> hasil <span class="color-chest0">yang berbeda,</span><br class="hidden-p">
					Kepercayaan diri <span class="color-chest0">dalam keberagaman</span>
				</p>
				<h3 class="detail__first-txt">
					<strong class="detail__first-point">Sebagai tambahan dari alamiah,</strong><br>
					Detail dari <span class="color-chest1">Operasi Payudara</span> BANOBAGI.
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Selanjutnya</em>
		</div>
    </section>

    <section class="fs_section chestSection01" data-section-name="chestSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-another">
	              	<h4 class="detail__section-tit">
						Operasi payudara,
						Metode Pembedahan <span class="color-chest2">BANOBAGI</span>
	              	</h4>
	              	<p class="detail__section-subtit">Operasi yang dapat dimengerti dan memuaskan pasien.</p>
	              	<p class="detail__section-txt">
						Keputusan untuk menjalankan operasi payudara membutuhkan banyak faktor yang dipertimbangkan, seperti ukuran dan bentuk dengan sensitifitas dan sensasi, gaya hidup, kondisi kesehatan, dan sifat dasar implan akan mempengaruhi hasil yang diharapkan. Maka, sangat penting untuk mempertimbangkan hal-hal tersebut dalam memperoleh hasil terbaik.
						<span class="color-chest2">Melalui konsultasi terperinci dengan para ahli kami, BANOBAGI mendampingi pasien dalam memperoleh pengertian dan mendukung pasien untuk terlibat secara aktif dalam proses perencanaan tujuan akhir.</span> Dengan demikian, hasil yang diperoleh lebih memuaskan, karena kami raih hasil ideal tersebut secara bersama-sama dan dengan pengertian yang sama.
                  	</p>
	            </div>
			</div>
		</div>
		<div class="detail__dim">screen</div>
		<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				<span>Konsultasi Payudara di BANOBAGI</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open" data-popup-type="section">pop-up button</a></span>
			</div>
		</div>
		<div class="detail__popup-m">
			<h5 class="detail__popup-m__tit">Konsultasi Payudara<span class="color-chest1">.</span></h5>
			<ul class="detail__popup-m__list">
				<li class="detail__popup-m__item">- Lokasi pembedahan</li>
				<li class="detail__popup-m__item">- Bentuk</li>
				<li class="detail__popup-m__item">- Sentuhan</li>
				<li class="detail__popup-m__item">- sPemilihan jenis implan</li>
			</ul>
		</div>
    </section>

    <section class="fs_section chestSection02" data-section-name="chestSection02">
		<div class="detail__inner type-full">
			<div class="detail__popup is-active">
				<div class="detail__popup-wrap">
                  <!--누락-->
					<h5 class="detail__popup-tit">Pembuatan Implan</h5>
					<p class="detail__popup-subtit">Berbagai pilihan implan dari berbagai manufaktur di BANOBAGI</p>
					<ul class="detail__logo-list">
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-1">MOTIVA</span>
						</li>
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-2">POLYTECH</span>
						</li>
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-7">EUROSILICONE</span>
						</li>
						<!-- <li class="detail__logo-item">
							<span class="detail__logo-txt nth-3">SILIMED</span>
						</li> -->
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-4">ALLERGAN</span>
						</li>
						<!-- <li class="detail__logo-item">
							<span class="detail__logo-txt nth-5">SEBBIN</span>
						</li> -->
						<li class="detail__logo-item">
							<span class="detail__logo-txt nth-6">MENTOR</span>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">Tutup</a>
				</div>
			</div>
  			<div class="detail__section-wrap">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right">
						<h4 class="detail__section-tit">
							<strong>Operasi payudara,</strong><br>
                         	BANOBAGI sudah menjadi yang <span class="color-chest4">terdepan</span>
						</h4>
						<p class="detail__section-subtit">Operasi payudara BANOBAGI memimpin tren terkini</p>
						<p class="detail__section-txt">
							Berbagai jenis implan payudara sedang dikembangkan dan ditujukan untuk keamanan pemakaian, hasil yang lebih lebih alamiah dan cantik di dunia operasi payudara. Mengetahui keuntungan dan karakteristik dari masing-masing implan merupakan hal esensial sehingga Anda mengetahui jenis yang terbaik dan sesuai dengan hasil yang Anda inginkan.
							<span class="color-chest4">Sejak BANOBAGI beroperasi di tahun 2000, BANOBAGI selalu menggunakan teknologi implan payudara terkini dengan metode operasi yang mendukung. </span>
							Dengan perkembangan teknologi yang sangat cepat, pengetahuan dan pengalaman para spesialis di BANOBAGI memegang kunci kepuasan bagi para pasien kami.
                        </p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom">
			<div class="detail__section-set">
				Berbagai pilihan implan<br class="hidden-p"> Dari berbagai manufaktur di BANOBAGI
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open">pop-up button</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section chestSection03" data-section-name="chestSection03">
		<div class="detail__inner">
  			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-down type-quotation2">
					<h4 class="detail__section-tit">
						Operasi payudara,
						BANOBAGI <span class="color-chest6">bertanggung jawab</span>
					</h4>
					<p class="detail__section-subtit">Sistem medis yang memperhatikan kesehatan payudara</p>
					<p class="detail__section-txt">
						Kesehatan pasien merupakan tanggung jawab penting yang harus selalu diperhatikan. Oleh karena itu, seluruh proses operasi payudara di BANOBAGI tidak berakhir sebatas satu prosedur operasi. Kami secara aktif menindaklanjuti pasien-pasien untuk <span class="color-chest3">memeriksa secara pasti dengan berbagai peralatan dan jika diperlukan, melakukan prosedur pengangkatan tumor payudara.</span> Para spesialis bedah plastik di BANOBAGI bertanggung jawab atas kebutuhan prosedur setiap pasien, perawatan pascra operasi, pemeriksaan berkala, dan proses pemulihan.
					</p>
				</div>
				<div class="layer-doc hidden-m"><!-- pc용 -->
					<h5 class="layer-doc__tit">Sistem Perawatan Payudara BANOBAGI</h5>
					<ul class="layer-doc__list">
						<li class="layer-doc__item">Diagnosis Payudara</li>
						<li class="layer-doc__item">Pemeriksaan fisik</li>
						<li class="layer-doc__item">Operasi</li>
						<li class="layer-doc__item">Perawatan pasca operasi</li>
						<li class="layer-doc__item">Pemeriksaan berkala</li>
					</ul>
				</div>
  			</div>

  		</div>
		<div class="detail__dim">dim</div>
		<div class="detail__popup-m">
			<div class="layer-doc hidden-pt">
				<h5 class="layer-doc__tit">Sistem Perawatan Payudara BANOBAGI</h5>
				<ul class="layer-doc__list">
					<li class="layer-doc__item">Diagnosis Payudara</li>
					<li class="layer-doc__item">Pemeriksaan fisik</li>
					<li class="layer-doc__item">Operasi</li>
					<li class="layer-doc__item">Perawatan pasca operasi</li>
					<li class="layer-doc__item">Pemeriksaan berkala</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				<span>Sistem Perawatan Payudara BANOBAGI</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open" data-popup-type="section">pop-up</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section chestSection04" data-section-name="chestSection04">
		<div class="detail__inner">
    		<div class="detail__vertical">
  				<div class="detail__section-box type-center">
  					<h4 class="detail__section-tit">
  						Operasi payudara,
						Banobagi <span class="color-chest6">meminimalisir</span> waktu operasi
  					</h4>
  					<p class="detail__section-subtit">Semakin pendek waktu yang diperlukan untuk operasi, semakin baik pula hasil operasi payudara.</p>
  					<p class="detail__section-txt">
                      	Semakin pendek durasi operasi mengurangi kemungkinan kontaminasi dari implan payudara. Hal ini juga memperkecil kemungkinan peradangan pasca operasi dan pengerutan implan setelah operasi. Oleh karena itu, <span class="color-chest3">kami berusaha melakukan operasi tidak lebih dari 30 menit. </span> Pengalaman dan keterampilan tim operasi payudara Banobagi sudah diperoleh selama bertahun-tahun, didukung juga dengan teknologi canggih guna menghasilkan <span class="color-chest3">operasi yang seaman mungkin,</span> dan sebagai hasilnya, tidak perlu sampai dilakukan, misalnya penambahan darah, dan pasien bisa pulang tanpa rawat inap setelah prosedur.
                    </p>
  				</div>
    		</div>
		</div>
    </section>

    <section class="fs_section chestSection05" data-section-name="chestSection05">
		<div class="detail__inner">
            <div class="detail__vertical">
                <div class="detail__section-box type-wide">
                    <h4 class="detail__section-tit">
                        Operasi payudara,
                        Banobagi mencakup seluruhnya <span class="color-chest4">secara terperinci</span>
                    </h4>
                    <p class="detail__section-subtit">‘Healing Scar Project’ untuk mendukung wanita selama proses transformasi</p>
                    <p class="detail__section-txt">
                      	Munculnya bekas luka pada proses operasi bukanlah hal yang tak dapat dihindari. Perawatan bekas luka merupakan bagian utama dari operasi payudara dan penyembuhannya. Berdasarkan hal ini, Banobagi telah menciptakan dan mengembangkan ‘Healing Scar Project‘. <span class="color-chest4">Semua jenis bekas luka, seperti bekas luka berwarna kemerahan, bekas luka yang berbentuk terowongan, bekas luka yang berbentuk cekungan, dapat kembali sehat seperti semula seperti kulit yang mulus dan tidak meninggalkan bekas. </span>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
