@charset "utf-8";
@import "mixins";
.new-visual{
	&.type-rapid{
		&:before{
			@include background('../images/introduce/rapid/rapid_visual_1.jpg','no-repeat center center/cover');}
		}
	@media only screen and (max-width: $tablet-size) {
		&.type-rapid{
			&:before{
				@include background('../images/introduce/rapid/rapid_visual_1_t.jpg','no-repeat center center/cover');
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-rapid{
			&:before{
				@include background('../images/introduce/rapid/rapid_visual_1_m.jpg','no-repeat center center/cover');
			}
		}
	}
}
.section-normal{
	$this:&;
	&.type-rapid{background:url('../images/introduce/rapid/rapid_bg_1.jpg') no-repeat center bottom / cover;}
	&.type-rapid2{background:url('../images/introduce/rapid/rapid_bg_2.jpg') no-repeat center center / cover; padding-bottom:100px;
		#{$this}__eng{color:#fff;}
		#{$this}__tit{color:#fff;}
		#{$this}__txt2{color:#fff;}
		#{$this}__txt1{color:#aaa;}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-rapid2{padding-bottom:40px;
			#{$this}__img{padding:0 15px;}
		}
	}
}

.new-explan{background-color:#fae8ed;
	$this:&;
	@media only screen and (max-width: $tablet-size) {
		&.type-rapid{
			#{$this}__tit{margin:0 -30px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&.type-rapid{
			#{$this}__tit{margin:0;}
		}
	}
}
