@charset "UTF-8";
@import "mixins";

.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.contour-section99{
		&:before{position:absolute; bottom:0; left:0; display:block; width:100%; height:100%; @include background('../images/contour/detail/contour_detail_bg_0.jpg','no-repeat center center / cover'); z-index:-1; content:'';}
	}
	&.contourFirst{background: url(../../images/contour/contour_detail_section01.jpg) center center; background-size: cover;
		& .detail__inner{text-align:center;}
		}
	&.contourSection01{background: url(../../images/contour/contour_detail_section02.jpg) center 100%; background-size: cover;}
	&.contourSection02{background: url(../../images/contour/contour_detail_section03.jpg) center 100%; background-size: cover;}
	&.contourSection03{background: url(../../images/contour/contour_detail_section04.jpg) center 100%; background-size: cover;
		& .color-contour1{color:inherit;}
		}
	&.contourSection04{background: url(../../images/contour/contour_detail_section05.jpg) center 100%; background-size: cover;}
	// @media only screen and (max-width:$minpc-size3){
	// 	&.contourSection01{background: url(../../images/contour/contour_detail_section02_992.jpg) 86% 100%; background-size: cover;}
	// 	&.contourSection04{background: url(../../images/contour/contour_detail_section05_768.jpg) center 100%; background-size: cover;}
	// }
	// @media only screen and (max-width:$minpc-size3) and (orientation: landscape){
	// 	&.contourSection04{background: url(../../images/contour/contour_detail_section05_768.jpg) center 80%; background-size: cover;}
	// }
	@media only screen and (max-width:$tablet-size){
		&.contour-section99{
			&:before{height:calc(100% - 60px); @include background('../images/contour/detail/contour_detail_bg_0_t.jpg','no-repeat center center / cover');}
		}
		&.contourFirst{background: url(../../images/contour/contour_detail_section01_992.jpg) center 100%; background-size: cover;}
		&.contourSection01{background: url(../../images/contour/contour_detail_section02_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{height: 770px; bottom:auto;
				&.type-270{width:250px;}
				}
			}
		&.contourSection02{background: url(../../images/contour/contour_detail_section03_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:-70px;}
			}
		&.contourSection03{background: url(../../images/contour/contour_detail_section04_768.jpg) center 100%; background-size: cover;}
		}
	@media only screen and (max-width:$mobile-size){
		&.contour-section99{
			&:before{height:calc(100% - 50px);}
		}
		&.contourFirst{background: url(../../images/contour/contour_detail_section01_640.jpg) center center; background-size: cover;}
		&.contourSection01{height:770px !important; background: url(../../images/contour/contour_detail_section02_640.jpg) center bottom; background-size: cover;
			& .detail__section-box{top:-190px; bottom:auto;width:100%;height: 0;}
			}
		&.contourSection02{height:860px !important; background: url(../../images/contour/contour_detail_section03_640.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:-120px;}
			}
		&.contourSection03{height:730px !important; background: url(../../images/contour/contour_detail_section04_640.jpg) center 100%; background-size: cover;
			& .color-contour1{color:#255ed0;}
			}
		&.contourSection04{height:750px !important; background: url(../../images/contour/contour_detail_section05_640.jpg) center center; background-size: cover;}
		}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&.contourSection01{background: url(../../images/contour/contour_detail_section02.jpg) center 100%; background-size: cover;
			& .detail__section-box{height:auto; bottom:auto; width:360px;
				&.type-270{width:250px;}
				}
		}
		&.contourSection02{
			.detail__section-box{top:auto; width:360px;}
		}
		&.contourSection04{
			.detail__section-box{width:360px;}
		}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&.contour-section99{height:800px !important;
			.onepage-video{height:100%;}
		}
		&.contourSection01{
			& .detail__section-box{top:88px; bottom:auto;width:50%}
			}
		&.contourSection02{height:740px !important; background: url(../../images/contour/contour_detail_section03_640.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:0px;}
			}
		}
	}


	.diagram{float:right; margin-top:50px;
		$this:&;
		@media only screen and (max-width:$minpc-size3){float:none; position:absolute; right:10%; bottom:18%;}
		@media only screen and (max-width:$minpc-size3) and (orientation: landscape){position:relative; top:50px; right:auto; bottom:auto; margin-right:40px; float:right; }

		@media only screen and (max-width:$mobile-size){right:0px; bottom:8%;}
		@media only screen and (max-width:$iphone-size){right:-10px;}
		@media only screen and (max-width:$mobile-size) and (orientation: landscape){position:static; top:auto;}
		&__list{position:relative; margin:0; padding:0;
			@media only screen and (max-width:$mobile-size){width:400px; height:288px;}
			}
		&__item{position:absolute; width:248px; list-style:none;
			&.nth-1{position:static; width:434px; background:url(../../images/contour/diagram1.png);
				& #{$this}__wrap{height:322px;}
				& #{$this}__tit{margin-top:90px;padding: 0 24%;}
				}
			&.nth-2{top:-150px; left:0; right:0; margin:0 auto; background:url(../../images/contour/diagram2.png) no-repeat;}
			&.nth-3{bottom:-140px; left:-100px;  background:url(../../images/contour/diagram3.png) no-repeat;}
			&.nth-4{bottom:-140px; right:-100px;  background:url(../../images/contour/diagram4.png) no-repeat;}
			@media only screen and (max-width:$minpc-size3){width:200px;
				&.nth-1{position:static; width:304px; background:url(../../images/contour/diagram1.png); background-size:304px 226px;
					& #{$this}__wrap{height:226px;}
					& #{$this}__tit{margin-top:58px;}
					}
				&.nth-2{top:-140px; left:0; right:0; margin:0 auto; background-size:200px 230px;}
				&.nth-3{bottom:-130px; left:-90px; background-size:200px 230px;}
				&.nth-4{bottom:-130px; right:-90px; background-size:200px 230px;}
				}
			@media only screen and (max-width:$mobile-size){width:100px;
				&.nth-1{position:absolute; top:0; right:0; width:100px; background:url(../../images/contour/diagram1_m.png) no-repeat; background-size:100px 116px;
					& #{$this}__wrap{height:116px;}
					& #{$this}__tit{margin-top:0px;padding: 0;}
					}
				&.nth-2{top:86px; left:auto; right:50px; margin:0 auto; background-size:100px 116px;}
				&.nth-3{bottom:0px; left:auto; right:100px; background-size:100px 116px;}
				&.nth-4{bottom:0px; right:0px; background-size:100px 116px;}
				}
			}
		&__wrap{ display:table-cell; color:#fff; width:1%; height:286px; vertical-align:middle; text-align: center;
			@media only screen and (max-width:$minpc-size3){height:230px;}
			@media only screen and (max-width:$mobile-size){height:116px;}
			}
		&__tit{margin:0; font-size:24px; line-height:1.3; font-weight:400;
			@media only screen and (max-width:$minpc-size3){font-size:20px;}
			@media only screen and (max-width:$mobile-size){font-size:1.3rem;}
			}
		&__txt{margin:14px 0 0 0; font-size:15px; line-height:1.6;
			@media only screen and (max-width:$minpc-size3){font-size:14px;}
			@media only screen and (max-width:$mobile-size){font-size:1.0rem;}
			}
		}

	.layer-doc2{position:absolute; right:0; top:50%; margin-top:-320px;
		@media only screen and (max-width:$minpc-size3){position:relative; top:70px; right:auto; margin-top:0;}
		@media only screen and (max-width:$mobile-size){top:0; margin-top:40px;}
		@media only screen and (max-width:$minpc-size3) and (orientation: landscape){position:absolute; right:0; top:50%; margin-top:-270px}
		@media only screen and (max-width:$mobile-size) and (orientation: landscape){position:relative; right:auto; top:auto; margin-top:20px;}
		$this:&;
		&__list{margin:0; padding:0;}
		&__item{width:616px; border-bottom:5px solid #2da4be; background:url('../../images/contour/popup_icon2.jpg') no-repeat left top; background-color:#fff; list-style:none;
			@media only screen and (max-width:$minpc-size3){width:410px; background-size:270px 429px;}
			@media only screen and (max-width:$mobile-size){background-size:189px 300px; border-bottom:2px solid #2da4be; width:100%; max-width:316px;}
			// @media only screen and (max-width:$mobile-size) and (orientation: landscape){width:316px;}
			&.nth-1{
				& #{$this}__tit{color:#2da4be;}
				}
			&.nth-2{margin-left:158px; background-position:0px -220px;
				& #{$this}__tit{color:#2d86be;}
				@media only screen and (max-width:$minpc-size3){margin-left:204px; background-position:0px -143px;}
				@media only screen and (max-width:$mobile-size){margin-left:0; background-position:0px -100px;}
				@media only screen and (max-width:$minpc-size3) and (orientation: landscape){margin-left:0;}
				}
			&.nth-3{background-position:0px -440px;
				& #{$this}__tit{color:#2d6ebe;}
				@media only screen and (max-width:$minpc-size3){background-position:0px -286px;}
				@media only screen and (max-width:$mobile-size){margin-left:0; background-position:0px -200px;}
				}
			&:after{display:block; clear:both; content:'';}
			& + #{$this}__item{margin-top:30px;
				@media only screen and (max-width:$minpc-size3){margin-top:10px;}
				@media only screen and (max-width:$mobile-size){margin-top:15px;}
				}
			}
		&__tit{margin:16px 0 0 0; font-size:24px; line-height:1.3; font-weight:400;
			@media only screen and (max-width:$minpc-size3){margin-top:10px; font-size:18px;}
			@media only screen and (max-width:$mobile-size){margin-top:5px; font-size:1.3rem;}
			}
		&__txt{font-size:15px; line-height:1.6;
			@media only screen and (max-width:$minpc-size3){font-size:13px;}
			@media only screen and (max-width:$mobile-size){font-size:1.0rem;}
			}
		&__wrap{display:table-cell; width:200px; height:220px; vertical-align:middle;
			@media only screen and (max-width:$minpc-size3){width:140px; height:143px;}
			@media only screen and (max-width:$mobile-size){width:140px; height:100px; background-color:#fff;}
			@media only screen and (max-width:$mobile-size){width:130px; height:100px; background-color:#fff;}
			}
		&__box{float:right; text-align: center;}
		}

	.color-contour0{color:#333; font-weight:400;}
	.color-contour1{color:#255ed0;}
	.color-contour2{color:#7bfdff;}
	.color-contour3{color:#c8eeff;}
	.color-contour4{color:#5a90fe;}
	.color-contour5{color:#8fb4ff;}
	.color-contour6{color:#7bfdff}
	.color-contour7{color:#6e9eff}
	.color-contour8{color:#2e69df;}
	.color-contour9{color: #6e9eff;}
	.color-comma{color:#aab8d2;}
