<%
	type = "membership"
	page = "etc"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h2 class="container__tit">개인정보취급방침</h2>
		<p class="container__txt">바노바기피부과 홈페이지 개인정보취급방침에 대해 알려드립니다.</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="etc">
			<div class="tab-v3">
				<ul class="tab-v3__list">
					<li data-tab="etc1" class="tab-v3__item is-active"><a class="tab-v3__link js-tab-link" href="">개인정보취급방침</a></li>
					<li data-tab="etc2" class="tab-v3__item"><a class="tab-v3__link js-tab-link" href="">개인정보 수집 및 이용 동의</a></li>
				</ul>
			</div>
			<!-- 개인정보취급방침 Start -->
			<div class="etc__content is-active etc1">
				<p class="etc__txt">
					바노바기피부과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 병원 이용함에 있어서 병원에게 제공한 개인정보가 보호 받을 수 있도록
					최선을 다하고 있습니다. 이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호
					정책을 만들어 이를 준수해 나가고 있습니다.<br><br>
					본 개인정보처리방침은 정부의 법률 및 지침 변경이나 병원의 내부방침 변경 등으로 인하여 수시로 변경될 수 있으며, 병원은 변경사항이 있을 경우 즉시 관련 내용을 홈페이지 초기 화면에 게시된
					개인정보처리방침에 반영하고 있습니다.   본 개인정보처리방침을 통하여 이용자는 수집된 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 어떻게 안전하게 보호되고 있는지 이해하실 수 있을
					것입니다.
				</p>
				<h3 class="etc__tit">이 개인정보처리방침의 순서는 다음과 같습니다.</h3>
				<div class="etc__box">
					<div class="etc__box-double">
						<ol class="etc__box-list">
							<li class="etc__box-item nth-1"><a href="#etc-tit1" class="etc__box-link">수집하는 개인정보의 항목 및 수집방법</a></li>
							<li class="etc__box-item nth-2"><a href="#etc-tit2" class="etc__box-link">개인정보의 수집 및 이용목적</a></li>
							<li class="etc__box-item nth-3"><a href="#etc-tit3" class="etc__box-link">개인정보의 보유 및 이용기간</a></li>
							<li class="etc__box-item nth-4"><a href="#etc-tit4" class="etc__box-link">개인정보의 파기절차 및 그 방법</a></li>
							<li class="etc__box-item nth-5"><a href="#etc-tit5" class="etc__box-link">개인정보 제공 및 공유</a></li>
							<li class="etc__box-item nth-6"><a href="#etc-tit6" class="etc__box-link">이용자 및 법정대리인의 권리와 그 행사방법</a></li>
						</ol>
					</div>
					<div class="etc__box-double">
						<ol class="etc__box-list">
							<li class="etc__box-item nth-7"><a href="#etc-tit7" class="etc__box-link">동의철회 / 회원탈퇴 방법</a></li>
							<li class="etc__box-item nth-8"><a href="#etc-tit8" class="etc__box-link">개인정보 자동 수집 장치의 설치/운영 및 그 거부에 관한 사항</a></li>
							<li class="etc__box-item nth-9"><a href="#etc-tit9" class="etc__box-link">개인정보관리책임자</a></li>
							<li class="etc__box-item nth-10"><a href="#etc-tit10" class="etc__box-link">개인정보의 안전성 확보조치</a></li>
							<li class="etc__box-item nth-11"><a href="#etc-tit11" class="etc__box-link">정책 변경에 따른 공지의무</a></li>
						</ol>
					</div>
				</div><!-- //etc__box -->
				<ul class="etc__list">
					<li class="etc__item"  id="etc-tit1">
						<dl class="etc__dl">
							<dt class="etc__dt">
								<span class="etc__num">01</span><br>
								수집하는 개인정보의<br class="hidden-m">
								항목 및 수집방법
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									본원은 서비스 이용을 위해 필요한 최소한의 개인 정보만을 수집합니다.
									<span class="etc__sub-tit">[진료정보]</span>
									<ul class="bullet__list">
										<li class="bullet__item">수집항목  :  성명, 주민등록번호, 주소, 연락처, 진료기록</li>
									</ul>
									<span class="etc__point">※ 의료법에 의해 고유식별정보 및 진료정보를 의무적으로 보유하여야 하여야 함(별도 동의 불필요)</span>
								</div>
								<div class="etc__para">
									<span class="etc__sub-tit">[홈페이지 회원가입 시 수집항목]</span>
									<ul class="bullet__list">
										<li class="bullet__item">수집항목 : 이름, 연락처, 이메일</li>
										<li class="bullet__item">서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.   :  서비스 이용기록, 접속로그, 쿠키, 접속 IP 정보</li>
									</ul>
								</div>
								<div class="etc__para">
									<span class="etc__sub-tit">[개인정보 수집방법]</span>
									<ul class="bullet__list">
										<li class="bullet__item">다음과 같은 방법으로 개인정보를 수집합니다. (홈페이지, 서면양식, 팩스, 전화, 이메일, 실시간상담 , 카카오톡상담, 비용상담, 영상기기)</li>
									</ul>
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit2">
						<dl class="etc__dl">
							<dt class="etc__dt">
								<span class="etc__num">02</span><br>
								개인정보의 수집 및<br class="hidden-m">
								이용목적
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									본원은 수집한 개인정보를 다음의 목적을 위해 활용합니다.
									이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 것입니다.
									<span class="etc__sub-tit">[진료정보]</span>
									<ul class="bullet__list">
										<li class="bullet__item">진단 및 치료를 위한 진료서비스와 청구, 수납 및 환급 등의 원무서비스 제공</li>
									</ul>
								</div>
								<div class="etc__para">
									<span class="etc__sub-tit">[홈페이지 회원정보]</span>
									<ul class="bullet__list">
										<li class="bullet__item">필수정보 : 홈페이지를 통한 진료 예약, 예약조회 및 회원제 서비스 제공,</li>
										<li class="bullet__item">MMS, SNS, SMS, 이메일을 통한 본원소식 및 고지사항 전달, 질병정보 안내, 설문조사, 불만처리 등을 위한 원활한 의사소통 경로의 확보 등</li>
									</ul>
								</div>
								<div class="etc__para">
									<span class="etc__sub-tit">[영상정보 처리기기 운영, 관리 방침]</span>
									<ul class="bullet__list">
										<li class="bullet__item">본원은 영상정보 처리기기 운영 관리방침을 통해 본원에서 처리하는 영상정보가 어떠한 용도와 방식으로 이용, 관리 되고 있는지 알려드립니다.</li>
									</ul>
									<span class="etc__sub-tit type-another">제 1 조 (영상정보처리기기의 설치 근거 및 설치 목적) </span>
									<p class="etc__txt type-another">본원은 개인정보보호법 제25조 제1항에 따라 다음과 같은 목적으로 영상정보 처리기기를 설치 운영합니다.</p>
									<ul class="bullet__list type-another">
										<li class="bullet__item">고객의 안전을 위한 범죄 예방</li>
										<li class="bullet__item">시설안전 및 화재 예방</li>
										<li class="bullet__item">고객의 안전을 위한 범죄 예방</li>
									</ul>
									<span class="etc__sub-tit type-another">제 2 조 (설치대수, 설치위치 및 촬영범위)</span>
									<p class="etc__txt type-another">영상정보처리기기의 설치대수, 위치 및 촬영범위는 아래와 같습니다.</p>
									<ul class="bullet__list type-another">
										<li class="bullet__item">설치대수 8대</li>
										<li class="bullet__item">시설안전 및 화재 예방</li>
									</ul>
									<span class="etc__sub-tit type-another">제 3 조 (관리책임자 및 접근권한자)</span>
									<p class="etc__txt type-another">정보주체의 영상정보를 보호하고 개인영상정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인영상정보 보호 책임자를 두고 있습니다.</p>
									<ul class="bullet__list type-another">
										<li class="bullet__item">관리책임자 : 이민영 총괄실장 (관리팀) 02-561-5510</li>
										<li class="bullet__item">접근권한자 : 김경희 팀장 (관리팀) 02-552-0490</li>
									</ul>
									<span class="etc__sub-tit type-another">제 4 조 (영상정보의 촬영시간, 보관기간)</span>
									<p class="etc__txt type-another">영상정보의 촬영 시간, 보관 기간 및 보관 장소는 아래와 같습니다.</p>
									<ul class="bullet__list type-another">
										<li class="bullet__item">촬영시간 : 24시간</li>
										<li class="bullet__item">보관기간 : 촬영일로부터 14일 이내</li>
										<li class="bullet__item">보관장소 : 원내서버실</li>
									</ul>
									<span class="etc__sub-tit type-another">제 5 조 (개인영상정보의 확인 방법 및 장소에 관한 사항)</span>
									<p class="etc__txt type-another">영상정보의 촬영 시간, 보관 기간 및 보관 장소는 아래와 같습니다.</p>
									<ul class="bullet__list type-another">
										<li class="bullet__item">확인 방법 : 영상정보 관리책임자에게 미리 연락하고 본원에 방문하시면 확인 가능합니다.</li>
										<li class="bullet__item">확인 장소 : 원내서버실</li>
									</ul>
									<span class="etc__sub-tit type-another">제 6 조 (정보주체의 영상정보 열람 등 요구에 대한 조치)</span>
									<p class="etc__txt type-another">
										정보주체는 개인영상정보에 관하여 열람 또는 존재확인, 삭제를 원하는 경우 언제든지 영상정보 처리기기 운영자에게 요구하실 수 있습니다.
										단, 귀하가 촬영된 개인영상정보 및 명백히 정보주체의 급박한 생명, 신체, 재산의 이익을 위하여 필요한 개인영상정보에 한정됩니다. 본원은
										개인영상정보에 관하여 열람 또는 존재확인, 삭제를 요구한 경우 지체 없이 필요한 조치를 하겠습니다. 정보주체의 열람 등 요구에도 불구하고
										아래와 같은 경우에는 개인영상정보 열람 등 요구를 거부할 수 있으며, 이 경우에 10일 이내에 서면 등으로 거부 사유 및 불복할 수 있는 방법을
										정보주체에게 통지합니다.
									</p>
									<ul class="bullet__list type-another">
										<li class="bullet__item">개인영상정보의 보관기간이 경과하여 파기한 경우</li>
										<li class="bullet__item">기타 정보주체의 열람 등 요구를 거부할 만한 정당한 사유가 존재하는 경우</li>
									</ul>
									<span class="etc__sub-tit type-another">제 7 조 (영상정보의 안전성 확보 조치)</span>
									<p class="etc__txt type-another">
										본원에서 처리하는 영상정보는 암호화 조치 등을 통하여 안전하게 관리되고 있습니다. 또한 본원은 개인영상정보보호를 위한 관리적 대책으로서
										개인정보에 대한 접근 권한을 차등 부여하고 있고, 개인영상정보의 위, 변조 방지를 위하여 개인영상정보의 생성 일시, 열람시 열람 목적, 열람자,
										열람 일시 등을 기록하여 관리하고 있습니다. 이 외에도 개인영상정보의 안전한 물리적 보관을 위하여 잠금 장치를 설치하고 있습니다.
									</p>
									<span class="etc__sub-tit type-another">제 8 조 (개인정보 취급방침 변경에 관한 사항)</span>
									<p class="etc__txt type-another">
										이 영상정보처리기기 운영, 관리방침은 2012년 3월 29일 제정 되었으며 법령, 정책 또는 보안기술의 변경에 따라 내용의 추가, 삭제 및 수정이 있을
										시에는 시행하기 최소 7일전에 본원 홈페이지를 통해 변경사유 및 내용 등을 공지하도록 하겠습니다.
									</p>
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit3">
						<dl class="etc__dl">
							<dt class="etc__dt">
								<span class="etc__num">03</span><br>
								개인정보의 보유 및<br class="hidden-m">
								이용기간
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									본원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다.
									<span class="etc__sub-tit">[진료정보]</span>
									<ul class="bullet__list">
										<li class="bullet__item">의료법에 명시된 진료기록 보관 기준에 준하여 보관</li>
									</ul>
								</div>
								<div class="etc__para">
									<span class="etc__sub-tit">[홈페이지 회원정보]</span>
									<ul class="bullet__list">
										<li class="bullet__item">회원가입을 탈퇴하거나 회원에서 제명된 때 다만, 수집목적 또는 제공받은 목적이 달성된 경우에도 상법 등 법령의 규정에 의하여 보존할 필요성이 있는 경우에는 귀하의 개인정보를 보유할 수 있습니다. </li>
										<li class="bullet__item">소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래 등에서의 소비자보호에 관한 법률)</li>
										<li class="bullet__item">신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년 (신용정보의 이용 및 보호에 관한 법률)</li>
										<li class="bullet__item">방문에 관한 기록 : 3개월 (통신비밀보호법)</li>
									</ul>
								</div>
								<div class="etc__para">
									<span class="etc__sub-tit">[영상정보 처리기기]</span>
									<ul class="bullet__list">
										<li class="bullet__item">본 바노바 기피부과의원(이하 의원이라 함)은 영상정보 처리기기 운영 관리방침을 통해 본 의원에서 처리하는 영상정보가 어떠한 용도와 방식으로 이용, 관리 되고 있는지 알려드립니다.</li>
										<li class="bullet__item">본 의원은 개인정보보호법 제25조 제1항에 따라 다음과 같은 목적으로 영상정보 처리기기를 설치 운영합니다.</li>
										<li class="bullet__item">시설안전 및 화재 예방</li>
										<li class="bullet__item">고객의 안전을 위한 범죄 예방</li>
										<li class="bullet__item">촬영시간 : 24시간</li>
										<li class="bullet__item">보관기간 : 14일 이내</li>
										<li class="bullet__item">보관장소 : 서버실</li>
									</ul>
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit4">
						<dl class="etc__dl">
							<dt class="etc__dt">
								<span class="etc__num">04</span><br>
								개인정보의 파기절차 및<br class="hidden-m">
								그 방법
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									본원은 『개인정보의 수집 및 이용목적』이 달성된 후에는 즉시 파기합니다. 파기절차 및 방법은 다음과 같습니다.
									<span class="etc__sub-tit">[파기절차]</span>
									<ul class="bullet__list">
										<li class="bullet__item">이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 파기방법에 의하여 즉시 파기합니다.</li>
									</ul>
								</div>
								<div class="etc__para">
									<span class="etc__sub-tit">[파기방법]</span>
									<ul class="bullet__list">
										<li class="bullet__item">전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각하여 파기합니다.</li>
									</ul>
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit5">
						<dl class="etc__dl">
							<dt class="etc__dt">
								<span class="etc__num">05</span><br>
								개인정보 제공 및 공유
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									본원은 귀하의 동의가 있거나 관련법령의 규정에 의한 경우를 제외하고는 어떠한 경우에도 『개인정보의 수집 및 이용목적』에서 고지한 범위를 넘어 귀하의 개인정보를 이용하거나 타인 또는 타기업ㆍ기관에 제공하지 않습니다.
									<ul class="bullet__list">
										<li class="bullet__item">국민건강보험법에 의해 건강보험심사평가원에 요양급여비용 청구를 위한 진료기록 제출</li>
										<li class="bullet__item">통계작성ㆍ학술연구를 위하여 필요한 경우 특정 개인을 알아볼 수 없는 형태로 가공하여 제공</li>
										<li class="bullet__item">법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우 제출 등</li>
									</ul>
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit6">
						<dl class="etc__dl">
							<dt class="etc__dt">
								<span class="etc__num">06</span><br>
								이용자 및 법정대리인의<br class="hidden-m">
								권리와 그 행사방법
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									만14세 미만 아동(이하 "아동"이라 함)의 회원가입은 아동이 이해하기 쉬운 평이한 표현으로 작성된 별도의 양식을 통해 이루어지고 있으며 개인
									정보 수집시 반드시 법정대리인의 동의를 구하고 있습니다. 본원은 법정대리인의 동의를 받기 위하여 아동으로부터 법정대리인의 성명과 연락처
									등 최소한의 정보를 수집하고 있으며, 개인정보취급방침에서 규정하고 있는 방법에 따라 법정대리인의 동의를 받고 있습니다.
									아동의 법정대리인은 아동의 개인정보에 대한 열람, 정정 및 삭제를 요청할 수 있습니다. 아동의 개인정보를 열람·정정, 삭제하고자 할 경우에는
									회원정보수정을 클릭하여 법정대리인 확인 절차를 거치신 후 아동의 개인정보를 법정대리인이 직접 열람·정정, 삭제하거나, 개인정보보호책임자
									로 서면, 전화, 또는 Fax 등으로 연락하시면 필요한 조치를 취합니다. 본원은 아동에 관한 정보를 제3자에게 제공하거나 공유하지 않으며, 아동으로
									부터 수집한 개인정보에 대하여 법정대리인이 오류의 정정을 요구하는 경우 그 오류를 정정할 때까지 해당 개인정보의 이용 및 제공을 금지합니다
									<span class="etc__point">※ 법에 의해 보관이 의무화된 개인정보는 요청이 있더라도 보관기간내에 수정·삭제할 수 없습니다.</span>
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit7">
						<dl class="etc__dl">
							<dt class="etc__dt">
								<span class="etc__num">07</span><br>
								동의철회 /<br class="hidden-m">
								회원탈퇴 방법
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									귀하는 회원가입 시 개인정보의 수집ㆍ이용 및 제공에 대해 동의하신 내용을 언제든지 철회하실 수 있습니다. 회원탈퇴는 본원 홈페이지 마이페이
									지의 『회원탈퇴』를 클릭하여 본인 확인 절차를 거치신 후 직접 회원탈퇴를 하시거나, 개인정보관리책임자로 서면, 전화 또는 Fax 등으로 연락하시면
									지체 없이 귀하의 개인정보를 파기하는 등 필요한 조치를 하겠습니다.
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit8">
						<dl class="etc__dl">
							<dt class="etc__dt">
								<span class="etc__num">08</span><br>
								개인정보 자동 수집 장치의<br class="hidden-m">
								설치/운영 및 그 거부에<br class="hidden-m">
								관한 사항
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									본원은 귀하의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)'를 운용합니다. 쿠키란 본원의 웹사이트를 운영하는데 이용되는 서버가 귀하의
									브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. 본원은 다음과 같은 목적을 위해 쿠키를 사용합니다.
									귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될
									때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.  회원님께서 쿠키 설치를 거부하셨을 경우 일부 서비스 제공에 어려움이
									있습니다.
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit9">
						<dl class="etc__dl">
							<dt class="etc__dt">
								<span class="etc__num">09</span><br>
								개인정보관리책임자
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									귀하의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 본원은 아래와 같이 개인정보관리책임자를 두고 있습니다.
									<span class="etc__sub-tit">[개인정보 관리책임자]</span>
									<ul class="bullet__list">
										<li class="bullet__item">관리 책임자 : 반재용</li>
										<li class="bullet__item">취급담당자 : 배은태</li>
										<li class="bullet__item">직 위 : 통합 마케팅 총괄이사</li>
										<li class="bullet__item">소 속 : 경영지원실</li>
										<li class="bullet__item">연 락 처 : 02-3288-3322</li>
										<li class="bullet__item">이 메 일 : manager@skinbanobagi.com</li>
									</ul><br><br>
									귀하께서는 본원의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자로 신고하실 수 있습니다. 본원은 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
									<ul class="bullet__list">
										<li class="bullet__item">개인분쟁조정위원회 (http://www.1336.or.kr / 1336)</li>
										<li class="bullet__item">정보보호마크인증위원회 (http://www.eprivacy.or.kr / (02) 580-0533~4)</li>
										<li class="bullet__item">대검찰청 사이버범죄수사단 (http://www.spo.go.kr / (02) 3480-3573)</li>
										<li class="bullet__item">경찰청 사이버테러대응센터 (http://www.ctrc.go.kr / (02) 392-0330)</li>
									</ul>
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit10">
						<dl class="etc__dl">
							<dt class="etc__dt">
								<span class="etc__num">10</span><br>
								개인정보의 안전성<br class="hidden-m">
								확보조치
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									본원은 이용자의 개인정보보호를 위한 기술적 대책으로서 여러 보안장치를 마련하고 있습니다. 이용자께서 보내시는 모든 정보는 방화벽장치에
									의해 보호되는 보안시스템에 안전하게 보관/관리되고 있습니다. 또한 본원은 이용자의 개인정보보호를 위한 관리적 대책으로서 이용자의 개인정
									보에 대한 접근 및 관리에 필요한 절차를 마련하고, 이용자의 개인정보를 취급하는 인원을 최소한으로 제한하여 지속적인 보안교육을 실시하고
									있습니다. 또한 개인정보를 처리하는 시스템의 사용자를 지정하여 사용자 비밀번호를 부여하고 이를 정기적으로 갱신하겠습니다.
								</div>
							</dd>
						</dl>
					</li>
					<li class="etc__item" id="etc-tit11">
						<dl class="etc__dl">
							<dt class="etc__dt">
								<span class="etc__num">11</span><br>
								정책 변경에 따른 공지의무
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									이 개인정보취급방침은 2012년 3월 20일에 제정되었으며 법령ㆍ정책 또는 보안기술의 변경에 따라 내용의 추가ㆍ삭제 및 수정이 있을 시에는 변경되는 개인정보취급방침을 시행하기 최소 7일전에 본원 홈페이지를 통해 변경이유 및 내용 등을 공지하도록 하겠습니다.
									<ul class="bullet__list">
										<li class="bullet__item">공고일자 : 2012년 3월20일</li>
										<li class="bullet__item">시행일자 : 2012년 4월 1일</li>
									</ul>
								</div>
							</dd>
						</dl>
					</li>
					<!-- <li class="etc__item" id="etc-tit12">
						<dl class="etc__dl">
							<dt class="etc__dt">
								<span class="etc__num">12</span><br>
								정책 변경에 따른 공지의무
							</dt>
							<dd class="etc__dd">
								<div class="etc__para">
									이 개인정보취급방침은 2012년 3월 20일에 제정되었으며 법령ㆍ정책 또는 보안기술의 변경에 따라 내용의 추가ㆍ삭제 및 수정이 있을 시에는
									변경되는 개인정보취급방침을 시행하기 최소 7일전에 본원 홈페이지를 통해 변경이유 및 내용 등을 공지하도록 하겠습니다.
									<ul class="bullet__list">
										<li class="bullet__item">수탁자, 수탁범위, 공유 정보의 범위 등에 관한 사항을 전자우편, 전화 또는 홈페이지를 통해 게시합니다.</li>
										<li class="bullet__item">위탁계약 시 서비스 제공자의 개인정보보호 관련 지시엄수, 개인정보에 관한 비밀유지, 제3자 제공의 금지 등을 규정하고 계약내용을 전자적으로 보관합니다.</li>
									</ul>
								</div>
								<div class="etc__para type-another">
									현재 개인정보취급수탁자와 그 업무의 내용은 다음과 같습니다.
									<div class="fake-table">
										<dl class="fake-table__dl">
											<dt class="fake-table__dt">
												제공받는자
											</dt>
											<dd class="fake-table__dd">
												(주)어메이징소프트
											</dd>
										</dl>
										<dl class="fake-table__dl">
											<dt class="fake-table__dt">
												제공항목
											</dt>
											<dd class="fake-table__dd">
												회원아이디, 쿠키,
												<span class="inline-block">이동경로 등의 로그데이터</span>
											</dd>
										</dl>
										<dl class="fake-table__dl">
											<dt class="fake-table__dt">
												이용목적
											</dt>
											<dd class="fake-table__dd">
												웹로그분석
											</dd>
										</dl>
										<dl class="fake-table__dl">
											<dt class="fake-table__dt">
												위탁기간
											</dt>
											<dd class="fake-table__dd">
												계약시작일로부터<br>
												계약종료일까지
											</dd>
										</dl>
									</div>
									<ul class="bullet__list">
										<li class="bullet__item">공고일자 : 2012년 3월 20일</li>
										<li class="bullet__item">시행일자 : 2012년 4월 1일 </li>
									</ul>
								</div>
							</dd>
						</dl>
					</li> -->
				</ul>
			</div>
			<div class="etc__content etc2">
				<ul class="etc__list type-another">
						<li class="etc__item">
							<div class="etc__para">
								<h3 class="etc__tit type-another">수집하는 개인정보의 항목</h3>
								<span class="etc__sub-tit">[홈페이지 회원가입 시 수집항목]</span>
								<ul class="bullet__list">
									<li class="bullet__item">수집항목  :  이름, 연락처, 이메일</li>
									<li class="bullet__item">서비스 이용 과정이나 서비스 제공 업무 처리 과정에서 다음과 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.   :  서비스 이용기록, 접속로그, 쿠키, 접속 IP 정보</li>
								</ul>
							</div>
							<div class="etc__para">
								<h3 class="etc__tit type-another">개인정보의 수집 및 이용 목적</h3>
								본원은 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br>
								이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 것입니다.
							</div>
							<div class="etc__para">
								<span class="etc__sub-tit">[진료정보]</span>
								<ul class="bullet__list">
									<li class="bullet__item">진단 및 치료를 위한 진료서비스와 청구, 수납 및 환급 등의 원무서비스 제공</li>
								</ul>
							</div>
							<div class="etc__para">
								<span class="etc__sub-tit">[홈페이지 수집정보]</span>
								<ul class="bullet__list">
									<li class="bullet__item">필수정보 : 홈페이지를 통한 진료 예약, 예약조회 및 회원제 서비스 제공</li>
									<li class="bullet__item">선택정보 : MMS, SNS, SMS, 이메일을 통한 본원소식 및 고지사항 전달, 질병정보 안내, 설문조사, 불만처리 등을 위한 원활한 의사소통 경로의 확보 등</li>
								</ul>
							</div>
						</li>
						<li class="etc__item">
							<div class="etc__para">
								<h3 class="etc__tit type-another">개인정보의 보유 및 이용기간</h3>
								본원은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 귀하의 개인정보를 지체 없이 파기합니다.
							</div>
							<div class="etc__para">
								<span class="etc__sub-tit">[진료정보]</span>
								<ul class="bullet__list">
									<li class="bullet__item">의료법에 명시된 진료기록 보관 기준에 준하여 보관</li>
								</ul>
							</div>
							<div class="etc__para">
								<span class="etc__sub-tit">[홈페이지 회원정보]</span>
								<ul class="bullet__list">
									<li class="bullet__item">회원가입을 탈퇴하거나 회원에서 제명된 때</li>
								</ul>
							</div>
							<div class="etc__para">
								개인정보는 『개인정보의 수집 및 이용목적』을 위해 서비스 제공 기간 동안에 한하여 보유 및 이용되며, 진료서비스 제공을 위하여 수집된 정보는 의료법에 준하여 보관하고 있습니다. 다만, 수집 목적 및 제공받은 목적이 달성된 경우에도 다른 법령 등에 의하여 보관의 필요성이 있는 경우에는 개인정보를 보유할 수 있습니다.
							</div>
						</li>
					</ul>
			</div>
		</div><!-- // etc-->
	</div><!-- //container__wrap-->
</div><!-- //container -->
<% include ../_include/_footer %>
