<!-- //section끝 -->
<!--footer시작-->
		<div class="footer">
			<div class="footer__noti">
				<span class="footer__noti-icon">Komplikasi seperti pendarahan, infeksi atau inflamasi dapat terjadi setelah operasi dan hasil kepuasan individu pun dapat berbeda mengikuti perbedaan kondisi setiap individu. Mohon konsultasikan kepada Dokter</span>
			</div>
			<div class="footer__wrap">
				<img src="../../images/common/logo_bottom.png" loading="lazy" alt="바노바기성형외과" class="footer__logo-p">
				<ul class="address">
					<li class="address__item">517 Nonhyeon-Ro, Gangnam-Gu, Seoul Korea.</li>
					<li class="address__item">CS CENTER <a href="tel:+8210 2273 6508">+8210 2273 6508</a></li>
				</ul>
				<ul class="address">
					<li class="address__item">Klinik Bedah Plastik & Kecantikan BANOBAGI. <span class="inline-block">Park Sun Jae 220-08-87096</span></li>
					<li class="address__item">Pengaduan bisnis telemarketing <span class="inline-block">2015-Seoul Gangnam- No 03292</span></li>
				</ul>
				<p class="copyright">Hak cipta @2014 hak cipta BANOBAGI dilindungi</p>
				<ul class="sns">
					<li class="sns__item"><a href="https://www.facebook.com/BanobagiIndonesia" target="_blank" class="sns__link"><i class="fa fa-facebook"></i></a></li>
					<!-- <li class="sns__item nth-2"><a href="https://ameblo.jp/banobagijapan" target="_blank" class="sns__link">blogger</a></li> -->
					<li class="sns__item"><a href="https://www.instagram.com/indonesia_banobagi/" target="_blank" class="sns__link"><i class="fa fa-instagram"></i></a></li>
					<li class="sns__item"><a href="https://www.youtube.com/channel/UCibg014iCi5KugH2Gn2OLCw" target="_blank" class="sns__link"><i class="fa fa-youtube-play"></i></a></li>
				</ul>
				<ul class="footer-info">
					<!--<li class="footer-info__item"><a class="footer-info__link" href="https://www.banobagi.com/membership/membershipEtc1.php">개인정보 취급방침</a></li>
					<li class="footer-info__item"><a class="footer-info__link" href="https://www.banobagi.com/membership/membershipEtc2.php">이용약관</a></li>-->
					<li class="footer-info__item"><a href="../sitemap/sitemap.html" class="footer-info__link">Peta</a></li>
					<li class="footer-info__item"><a href="../membership/mbship_proposal.html" class="footer-info__link">Proposal Kerjasama</a></li>
				</ul>
			</div>
		</div>
	</div><!--// common-->
	<script type="text/javascript" src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.matchHeight-min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="../../js/libs/owl.carousel.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.validate.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery.mCustomScrollbar.min.js"></script>
	<script type="text/javascript" src="../../js/libs/slick.min.js"></script>
	<script type="text/javascript" src="../../js/libs/circle-progress.min.js"></script>
	<script type="text/javascript" src="../../js/libs/jquery-progress-indicator-1.0.6.min.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<!-- //공톹 js -->
	<% if (type == "content") { %>
		<script type="text/javascript" src="../../js/content.js"></script>
	<% }else if(type == "introduce"){ %>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/introduce.js"></script>
	<% }else if(type == "search"){ %>
		<script type="text/javascript" src="../../js/search.js"></script>
	<% }else if(type == "detail"){ %>
		<script src="https://player.vimeo.com/api/player.js"></script>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.min.js"></script>
		<script type="text/javascript" src="../../js/detail.js"></script>
	<% }else if(type == "membership"){ %>
		<script type="text/javascript" src="../../js/membership.js"></script>
	<% } %>
	<% if (page == "main") { %>
		<!-- main js -->
		<!-- 	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=257d367d5a0070f35e1b7ddf7b4907a4"></script>'; -->
		<!-- <script type="text/javascript" src="../../js/map.js"></script> -->
		<script src="https://player.vimeo.com/api/player.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="../../js/libs/typed.min.js"></script>
		<script type="text/javascript" src="../../js/main.js"></script>
		<!-- //main js -->
	<% }else if(page == "about"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.swipe.min.js"></script>
		<script type="text/javascript" src="../../js/about.js"></script>
	<% }else if(page == "photo"){ %>
		<script type="text/javascript" src="../../js/photo.js"></script>
	<% }else if(page == "epilogue"){ %>
		<script type="text/javascript" src="../../js/epilogue.js"></script>
	<% }else if(page == "location"){ %>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=257d367d5a0070f35e1b7ddf7b4907a4"></script>';
		<script type="text/javascript" src="../../js/map.js"></script><!-- main js -->
	<% }else if(page == "philosophy"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.min.js"></script>
		<script type="text/javascript" src="../../js/detail.js"></script><!-- onepage js -->
	<% }else if(type == "detail-new"){ %>
		<script type="text/javascript" src="../../js/libs/TweenMax.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.scrollify.js"></script>
		<script type="text/javascript" src="../../js/onepage.js"></script>
	<% }else if(page == "program"){ %>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.min.js"></script>
		<script type="text/javascript" src="../../js/libs/jquery.cycle2.swipe.min.js"></script>
		<script type="text/javascript" src="../../js/program.js"></script>
	<% }else if(page == "sitemap"){ %>
		<script type="text/javascript" src="../../js/sitemap.js"></script>
	<% } %>

</body>
</html>
<!--footer끝-->
