<%
	var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="ศัลยกรรมเกาหลี วีไลน์ เกาหลี ตาสองชั้น เสริมจมูก รีวิวศัลยกรรม - รพ.บาโนบากิ">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/libs/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="../../css/libs/font-awesome.min.css">
<link rel="stylesheet" href="../../css/libs/owl.carousel.min.css">
<link rel="stylesheet" href="../../css/libs/slick.min.css">
<link rel="stylesheet" href="../../css/libs/slick-theme.min.css">
<!-- <link rel="stylesheet" href="../../css/common.css"> -->
<link rel="stylesheet" href="../../css/style.css">
<link rel="stylesheet" href="../../css/gnb.css">
<link rel="stylesheet" href="../../css/popup.css">
<link rel="stylesheet" href="../../css/login.css"><!-- //공통 css -->
<% if (type == "content") { %>
	<link rel="stylesheet" href="../../css/content_common.css">
	<link rel="stylesheet" href="../../css/new_content_common.css">
	<link rel="stylesheet" href="../../css/season1.css">
<% }else if(type == "detail"){ %>
	<link rel="stylesheet" href="../../css/detail_common.css">
<% }else if(type == "detail-new"){ %>
	<link rel="stylesheet" href="../../css/onepage_common.css">
<% }else if(type == "review"){ %>
	<link rel="stylesheet" href="../../css/review.css">
<% }else if(type == "introduce"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(type == "search"){ %>
	<link rel="stylesheet" href="../../css/search.css">
<% }else if(type == "membership"){ %>
	<link rel="stylesheet" href="../../css/membership.css">
<% }else if(type == "sitemap"){ %>
	<link rel="stylesheet" href="../../css/sitemap.css">
<% } %>
<% if (page == "main") { %>
	<link rel="stylesheet" href="../../css/main.css"><!-- main css -->
	<link rel="stylesheet" href="../../css/libs/animated.css">
<% }else if(page == "introduce"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(page == "only"){ %>
	<link rel="stylesheet" href="../../css/only.css">
<% }else if(page == "heal"){ %>
	<link rel="stylesheet" href="../../css/heal.css">
<% }else if(page == "contour"){ %>
	<link rel="stylesheet" href="../../css/contour.css">
<% }else if(page == "chest"){ %>
	<link rel="stylesheet" href="../../css/chest.css">
<% }else if(page == "eye"){ %>
	<link rel="stylesheet" href="../../css/eye.css">
<% }else if(page == "nose"){ %>
	<link rel="stylesheet" href="../../css/nose.css">
<% }else if(page == "wrinkle"){ %>
	<link rel="stylesheet" href="../../css/wrinkle.css">
<% }else if(page == "svf"){ %>
	<link rel="stylesheet" href="../../css/svf.css">
<% }else if(page == "body"){ %>
	<link rel="stylesheet" href="../../css/body.css">
<% }else if(page == "reoperation"){ %>
	<link rel="stylesheet" href="../../css/reoperation.css">
<% }else if(page == "special"){ %>
	<link rel="stylesheet" href="../../css/special.css">
<% }else if(page == "hair"){ %>
	<link rel="stylesheet" href="../../css/hair.css">
<% }else if(page == "about"){ %>
	<link rel="stylesheet" href="../../css/introduce.css">
<% }else if(page == "program"){ %>
	<link rel="stylesheet" href="../../css/program.css">
<% } %>
<link rel="icon" href="../../images/common/favicon.ico">
<!-- 공통 js -->

</head>
<body>
	<h1 class="hidden-tit">바노바기 성형외과의원</h1>
	<div class="common">
		<% include ../_include/_popup %>
		<!-- gnb-->
		<div class="header">
			<div class="mobile-menu"><!-- 모바일 햄버거 -->
				<a href="#" class="mobile-menu__wrap">
					<span class="mobile-menu__line"></span>
				</a>
			</div>
			<div class="header__bg">모바일 헤더 배경</div><!-- 모바일 헤더부분 bg -->
			<a href="" class="m-search__close js-search-close">Tutup</a><!-- 모바일 검색창 닫기 -->
			<div class="m-gnb">
				<div class="national-gnb">
					<ul class="national-gnb__list">
						<li class="national-gnb__item nth-7">
							<a href="http://www.indonesiabanobagi.com" target="_blank" class="national-gnb__link">ID</a>
						</li>
						<li class="national-gnb__item nth-4">
							<a href="http://www.engbanobagi.com" class="national-gnb__link">EN</a>
						</li>
						<li class="national-gnb__item nth-1">
							<a href="https://www.banobagi.com" target="_blank" class="national-gnb__link">KOR</a>
						</li>
						<li class="national-gnb__item nth-2">
							<a href="http://www.chinabanobagi.com" target="_blank" class="national-gnb__link">CN</a>
						</li>
						<li class="national-gnb__item nth-3">
							<a href="https://www.thailandbanobagi.com" target="_blank" class="national-gnb__link">TH</a>
						</li>
						<li class="national-gnb__item nth-5">
							<a href="http://www.vnbanobagi.com" target="_blank" class="national-gnb__link">VN</a>
						</li>
						<li class="national-gnb__item nth-6">
							<a href="http://www.japanbanobagi.com" target="_blank" class="national-gnb__link">JP</a>
						</li>
					</ul>
				</div>
				<div class="m-menu">
					<div class="m-1depth">
						<div class="m-1depth__wrap">
							<ul class="m-1depth__list">
								<li class="m-1depth__item nth-1 is-active"><a href="" class="m-1depth__link" data-tab="CONTOUR"><span class="m-1depth__icon">Kontur Wajah</span></a></li>
								<li class="m-1depth__item nth-2"><a href="" class="m-1depth__link" data-tab="BODY"><span class="m-1depth__icon">Tubuh</span></a></li>
								<li class="m-1depth__item nth-3"><a href="" class="m-1depth__link" data-tab="BREAST"><span class="m-1depth__icon">Payudara</span></a></li>
								<li class="m-1depth__item nth-4"><a href="" class="m-1depth__link" data-tab="EYE"><span class="m-1depth__icon">Mata</span></a></li>
								<li class="m-1depth__item nth-5"><a href="" class="m-1depth__link" data-tab="NOSE"><span class="m-1depth__icon">Operasi Hidung</span></a></li>
								<li class="m-1depth__item nth-6"><a href="" class="m-1depth__link" data-tab="WRINKLE"><span class="m-1depth__icon">Anti-Aging</span></a></li>
								<li class="m-1depth__item nth-7"><a href="" class="m-1depth__link" data-tab="SVF"><span class="m-1depth__icon">SVF</span></a></li>
								<li class="m-1depth__item nth-8"><a href="" class="m-1depth__link" data-tab="REOP"><span class="m-1depth__icon">Operasi Revisi</span></a></li>
								<li class="m-1depth__item nth-9"><a href="" class="m-1depth__link" data-tab="HAIR"><span class="m-1depth__icon">Rambut</span></a></li>
								<li class="m-1depth__item nth-10"><a href="" class="m-1depth__link" data-tab="SPECIAL"><span class="m-1depth__icon">Spesial</span></a></li>
								<li class="m-1depth__item nth-11"><a href="" class="m-1depth__link" data-tab="BNBG"><span class="m-1depth__icon">Banobagi</span></a></li>
								<li class="m-1depth__item nth-12"><a href="" class="m-1depth__link" data-tab="REVIEW"><span class="m-1depth__icon">Review</span></a></li>
							</ul>
						</div>
					</div>
					<div class="m-2depth">
						<ul class="m-2depth__list CONTOUR is-active">
							<li class="m-2depth__item"><a href="../contour/contour_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">BANOBAGI Detail Kontur Wajah</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_square.html" class="m-2depth__link"><span class="m-2depth__wrap">Rahang Kotak</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_cheek.html" class="m-2depth__link"><span class="m-2depth__wrap">Rekonstruksi Tulang Pipi</span></a></li>
							<li class="m-2depth__item"><a href="../contour/contour_front.html" class="m-2depth__link"><span class="m-2depth__wrap">Genioplasty</span></a></li>
						</ul>
						<ul class="m-2depth__list BODY">
							<li class="m-2depth__item"><a href="../body/body_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">BANOBAGI Detail Kontur Tubuh</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_fat.html" class="m-2depth__link"><span class="m-2depth__wrap">Liposuction Seluruh Tubuh</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_partfat.html" class="m-2depth__link"><span class="m-2depth__wrap">Liposuction Individual</span></a></li>
							<li class="m-2depth__item"><a href="../body/body_dual.html" class="m-2depth__link"><span class="m-2depth__wrap">Dual-Slim</span></a></li>
						</ul>
						<ul class="m-2depth__list BREAST">
							<li class="m-2depth__item"><a href="../chest/chest_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">BANOBAGI Detail Payudara</span></a></li>
							<li class="m-2depth__item"><a href="../chest/chest_extension.html" class="m-2depth__link"><span class="m-2depth__wrap">Augmentasi Payudara</span></a></li>
							<li class="m-2depth__item"><a href="../chest/chest_reduction.html" class="m-2depth__link"><span class="m-2depth__wrap">Reduksi Payudara</span></a></li>
						</ul>
						<ul class="m-2depth__list EYE">
							<li class="m-2depth__item"><a href="../eye/eye_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">BANOBAGI Detail Mata</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_double.html" class="m-2depth__link"><span class="m-2depth__wrap">Operasi Mata Jahitan</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_incisional.html" class="m-2depth__link"><span class="m-2depth__wrap">Operasi Mata Sayatan</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_middle_age.html" class="m-2depth__link"><span class="m-2depth__wrap">Upper Blepharoplasty</span></a></li>
							<li class="m-2depth__item"><a href="../eye/eye_correction.html" class="m-2depth__link"><span class="m-2depth__wrap">Koreksi Otot Mata</span></a></li>
						</ul>
						<ul class="m-2depth__list NOSE">
							<li class="m-2depth__item"><a href="../nose/nose_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">BANOBAGI Detail Rhinoplasty</span></a></li>
							<li class="m-2depth__item"><a href="../nose/nose_low.html" class="m-2depth__link"><span class="m-2depth__wrap">Augmentasi Hidung</span></a></li>
							<li class="m-2depth__item"><a href="../nose/nose_casetype.html" class="m-2depth__link"><span class="m-2depth__wrap">Jenis Operasi Hidung</span></a></li>
							<li class="m-2depth__item"><a href="../nose/nose_reduction.html" class="m-2depth__link"><span class="m-2depth__wrap">Reduksi Hidung</span></a></li>
						</ul>
						<ul class="m-2depth__list WRINKLE">
							<li class="m-2depth__item"><a href="../wrinkle/wrinkle_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">BANOBAGI Detail Anti-Aging</span></a></li>
							<li class="m-2depth__item"><a href="http://elasticum.indonesiabanobagi.com/elasticum02.php" class="m-2depth__link" target="_blank"><span class="m-2depth__wrap">Lifting Elasticum</span></a></li>
						</ul>
						<ul class="m-2depth__list SVF">
							<li class="m-2depth__item"><a href="../svf/svf_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">BANOBAGI Detail StemSel</span></a></li>
							<li class="m-2depth__item"><a href="../svf/cell_transplant.html" class="m-2depth__link"><span class="m-2depth__wrap">Cangkok Lemak StemSel</span></a></li>
							<li class="m-2depth__item"><a href="../svf/svf_chest_extension.html" class="m-2depth__link"><span class="m-2depth__wrap">Augmentasi Payudara SVF</span></a></li>
						</ul>
						<ul class="m-2depth__list REOP">
							<li class="m-2depth__item"><a href="../reoperation/reoperation_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">BANOBAGI Detail Revisi</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_nose.html" class="m-2depth__link"><span class="m-2depth__wrap">Revisi Hidung</span></a></li>
							<li class="m-2depth__item"><a href="../reoperation/reoperation_eye.html" class="m-2depth__link"><span class="m-2depth__wrap">Revisi Mata</span></a></li>
						</ul>
						<ul class="m-2depth__list HAIR">
							<li class="m-2depth__item"><a href="../hair/hair_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">BANOBAGI Detail Rambut</span></a></li>
						</ul>
						<ul class="m-2depth__list SPECIAL">
							<li class="m-2depth__item"><a href="../special/special_detail.html" class="m-2depth__link"><span class="m-2depth__wrap">BANOBAGI Detail Spesial</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_artecoll.html" class="m-2depth__link"><span class="m-2depth__wrap">Filler Semi Permanen Artecoll</span></a></li>
							<li class="m-2depth__item"><a href="../special/special_design.html" class="m-2depth__link"><span class="m-2depth__wrap">Filler Desain</span></a></li>
						</ul>
						<ul class="m-2depth__list BNBG">
							<li class="m-2depth__item"><a href="../introduce/introduce_banobagi.html" class="m-2depth__link"><span class="m-2depth__wrap">Introduksi</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_medical.html" class="m-2depth__link"><span class="m-2depth__wrap">Introduksi Tim Medis</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_map.html" class="m-2depth__link"><span class="m-2depth__wrap">Informasi Pengobatan/Lokasi</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_history.html" class="m-2depth__link"><span class="m-2depth__wrap">Sejarah BANOBAGI</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/introduce_tour.html" class="m-2depth__link"><span class="m-2depth__wrap">Lihat BANOBAGI</span></a></li>
							<li class="m-2depth__item type-3depth">
								<a href="../introduce/news_list.html" class="m-2depth__link"><span class="m-2depth__wrap">BANOBAGI di Media Massa</span></a>
								<ul class="m-3depth__list">
									<li class="m-3depth__item"><a href="../introduce/news_list.html" class="m-3depth__link">News</a></li>
									<li class="m-3depth__item"><a href="../introduce/media.html" class="m-3depth__link">Media</a></li>
								</ul>
							</li>
							<li class="m-2depth__item"><a href="../introduce/introduce_live.html" class="m-2depth__link"><span class="m-2depth__wrap">BANOBAGI LIVE</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/academic_list.html" class="m-2depth__link"><span class="m-2depth__wrap">Pertukaran Ilmiah</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/society_list.html" class="m-2depth__link"><span class="m-2depth__wrap">Kontribusi Masyarakat</span></a></li>
							<li class="m-2depth__item"><a href="../introduce/rapid.html" class="m-2depth__link"><span class="m-2depth__wrap">Rapid Healing - Self Care</span></a></li>
						</ul>
						<ul class="m-2depth__list REVIEW">
							<li class="m-2depth__item"><a href="../review/epilogue_list.html" class="m-2depth__link"><span class="m-2depth__wrap">Real Review</span></a></li>
							<li class="m-2depth__item"><a href="../review/photo_gallery.html" class="m-2depth__link"><span class="m-2depth__wrap">Galeri Foto</span></a></li>

							<!--<li class="m-review__item nth-1">
								<a href="http://rebreast.indonesiabanobagi.com" target="_blank"><p class="m-review__tit">모티바재수술</p></a>
							</li>-->
							<li class="m-review__item nth-2">
								<a href="http://elasticum.indonesiabanobagi.com" class="m-review__tit" target="_blank">ELASTICUM</a>
							</li>
							 <!--<li class="m-review__item nth-3">
								<a href="http://motiva.indonesiabanobagi.com" target="_blank"><p class="m-review__tit">MOTIVA</p></a>
							</li>-->
						</ul>
					</div><!-- //m-2depth -->
				</div>
			</div><!-- //m-gnb-->
			<div class="m-search">
				<div class="m-search__inner">
					<div class="search_container">
						<form id="seearchForm2" name="seearchForm2" class="form-inline" method="post" action="http://renewal.engbanobagi.com/searchResult.php">
							<div class="m-search__box">
								<div class="m-search__group">
									<label class="sr-only" for="keyword2">Search</label>
									<input type="text" class="m-search__input" name="keyword" id="keyword2" autocomplete="off" placeholder="Search" required>
								</div>
								<button type="submit" class="m-search__btn"></button>
							</div> <!-- //searchGroup -->
						</form>
						<div class="keyword-box2">
							<ul class="keyword-tab2">
								<li class="keyword-tab2__item is-active nth-1 js-keyord-link" data-tab="popular">Populer</li>
								<li class="keyword-tab2__item nth-2 js-keyord-link" data-tab="recommended">Rekomendasi</li>
							</ul>
							<ul class="keyword-box2__list popular is-active">
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link fist" href="javascript:$.fnSearchSubmit2('Lifting');"><span class="keyword-box2__num">1</span>Lifting</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit2('Hidung');"><span class="keyword-box2__num">2</span>Hidung</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit2('SVF');"><span class="keyword-box2__num">3</span>SVF</a></li>
									</ul>
								</li>
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit2('Filler');"><span class="keyword-box2__num">4</span>Filler</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit2('Payudara');"><span class="keyword-box2__num">5</span>Payudara</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit2('Mata');"><span class="keyword-box2__num">6</span>Mata</a></li>
									</ul>
								</li>
							</ul>
							<ul class="keyword-box2__list recommended">
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit2('Lifting');"><em class="keyword-box2__icon">#</em>Lifting</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit2('Hidung');"><em class="keyword-box2__icon">#</em>Hidung</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit2('SVF');"><em class="keyword-box2__icon">#</em>SVF</a></li>
									</ul>
								</li>
								<li class="keyword-box2__group">
									<ul class="keyword-box2__list2">
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit2('Filler');"><em class="keyword-box2__icon">#</em>Filler</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit2('Payudara');"><em class="keyword-box2__icon">#</em>Payudara</a></li>
										<li class="keyword-box2__item"><a class="keyword-box2__link" href="javascript:$.fnSearchSubmit2('Mata');"><em class="keyword-box2__icon">#</em>Mata</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="search-info">
							<div class="search-info__wrap">
								<div class="search-info__group">
									<div class="search-info__hour">시계 - 시</div>
									<div class="search-info__minute">시계 - 분</div>
									<div class="search-info__second">시계 - 초</div>
									<div class="search-info__box">
										<h2 class="search-info__tit">Petunjuk Perawatan</h2>
										<ul class="search-info__list">
											<li class="search-info__item">
												<span class="search-info__txt">Senin ~ Jumat</span>
												<span class="search-info__txt">09:30~18:30</span>
											</li>
											<!--<li class="search-info__item">
												<span class="search-info__txt">Jumat</span>
												<span class="search-info__txt">09:30~20:00</span>
												<span class="search-info__txt type-night">Perawatan malam</span>
											</li>-->
											<li class="search-info__item">
												<span class="search-info__txt">Sabtu</span>
												<span class="search-info__txt">09:30~16:00</span>
												<span class="search-info__txt type-block">(16/3, 20/4, 18/5, 15/6, 20/7 Libur)</span>
											</li>
										</ul>
									</div>
									<div class="search-info__box">
										<h2 class="search-info__tit">No tlp konsultasi pasien</h2>
										<ul class="search-info__list">
											<li class="search-info__item"><a class="search-info__link" href="tel:1588-6508">+82-10-2273-6508</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="search-info__addr">
								<span>517 Nonhyeon-Ro, Gangnam-Gu, Seoul Korea. Klinik Bedah Plastik &amp; Kecantikan BANOBAGI.</span>
								<span class="inline-block">Jalan lurus ±100m dari ’Yeoksam’ (line 2), exit no.6</span>
							</div>
						</div> <!-- //infoWrapper -->
					</div> <!-- //search_container -->
				</div>  <!-- //search_inner -->
			</div> <!-- //inner searchWrapper -->
			<div class="header__logo">
				<a href="/" class="header__logo-link">logo</a>
			</div>
			<div class="header__wrap">
				<div class="gnb">
					<h2 class="gnb__tit"><span>Main Menu</span></h2>
					<ul class="gnb__depth1-list">
						<!-- 전체메뉴 -->
						<li class="gnb__all">
							<span class="gnb__all-tit">All</span>
							<a href="#" class="gnb__all-wrap js-all-menu">
								<span class="gnb__all-line"></span>
							</a>
							<div class="gnb__depth2-wrap type-all">
								<div class="gnb__depth2-align">
									<div class="total__depth-scroll">
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../contour/contour_detail.html" class="total__depth1-link">Kontur Wajah</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../contour/contour_detail.html" class="total__depth2-link">BANOBAGI Detail Kontur Wajah</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_square.html" class="total__depth2-link">Rahang Kotak</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_cheek.html" class="total__depth2-link">Rekonstruksi Tulang Pipi</a>
													</li>
													<li class="total__depth2-item">
														<a href="../contour/contour_front.html" class="total__depth2-link">Genioplasty</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../body/body_detail.html" class="total__depth1-link">Tubuh</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../body/body_detail.html" class="total__depth2-link">BANOBAGI Detail Kontur Tubuh</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_fat.html" class="total__depth2-link">Liposuction Seluruh Tubuh</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_partfat.html" class="total__depth2-link">Liposuction Individual</a>
													</li>
													<li class="total__depth2-item">
														<a href="../body/body_dual.html" class="total__depth2-link">Dual-Slim</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../chest/chestDetail.html" class="total__depth1-link">Payudara</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../chest/chest_detail.html" class="total__depth2-link">BANOBAGI Detail Payudara</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_extension.html" class="total__depth2-link">Augmentasi Payudara</a>
													</li>
													<li class="total__depth2-item">
														<a href="../chest/chest_reduction.html" class="total__depth2-link">Reduksi Payudara</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../eye/eye_detail.html" class="total__depth1-link">Mata</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../eye/eye_detail.html" class="total__depth2-link">BANOBAGI Detail Mata</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_double.html" class="total__depth2-link">Operasi Mata Jahitan</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_incisional.html" class="total__depth2-link">Operasi Mata Sayatan</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_middle_age.html" class="total__depth2-link">Upper Blepharoplasty</a>
													</li>
													<li class="total__depth2-item">
														<a href="../eye/eye_correction.html" class="total__depth2-link">Koreksi Otot Mata</a>
													</li>
												</ul>
											</li>
										</ul>
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../nose/nose_detail.html" class="total__depth1-link">Operasi Hidung</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../nose/nose_detail.html" class="total__depth2-link">BANOBAGI Detail Rhinoplasty</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_low.html" class="total__depth2-link">Augmentasi Hidung</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_casetype.html" class="total__depth2-link">Jenis Operasi Hidung</a>
													</li>
													<li class="total__depth2-item">
														<a href="../nose/nose_reduction.html" class="total__depth2-link">Reduksi Hidung</a>
													</li>
												</ul>
											</li>

											<li class="total__depth1-item">
												<a href="../wrinkle/wrinkle_detail.html" class="total__depth1-link">Anti-Aging</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../wrinkle/wrinkle_detail.html" class="total__depth2-link">BANOBAGI Detail Anti-Aging</a>
													</li>
													<li class="total__depth2-item">
														<a href="http://elasticum.indonesiabanobagi.com/elasticum02.php" class="total__depth2-link" target="_blank">Lifting Elasticum</a>
													</li>
												</ul>
											</li>

											<li class="total__depth1-item">
												<a href="../svf/svf_detail.html" class="total__depth1-link">SVF</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../svf/svf_detail.html" class="total__depth2-link">BANOBAGI Detail StemSel</a>
													</li>
													<li class="total__depth2-item">
														<a href="../svf/cell_transplant.html" class="total__depth2-link">Cangkok Lemak StemSel</a>
													</li>
													<li class="total__depth2-item">
														<a href="../svf/svf_chest_extension.html" class="total__depth2-link">Augmentasi Payudara SVF</a>
													</li>
												</ul>
											</li>

											<li class="total__depth1-item">
												<a href="../reoperation/reoperation_detail.html" class="total__depth1-link">Operasi Revisi</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_detail.html" class="total__depth2-link">BANOBAGI Detail Revisi</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_nose.html" class="total__depth2-link">Revisi Hidung</a>
													</li>
													<li class="total__depth2-item">
														<a href="../reoperation/reoperation_eye.html" class="total__depth2-link">Revisi Mata</a>
													</li>
												</ul>
											</li>
										</ul>
										<ul class="total__depth1-list">
											<li class="total__depth1-item">
												<a href="../special/special_detail.html" class="total__depth1-link">Rambut</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../hair/hair_detail.html" class="total__depth2-link">BANOBAGI Detail Rambut</a>
													</li>
												</ul>
											</li>
											<li class="total__depth1-item">
												<a href="../special/special_detail.html" class="total__depth1-link">Spesial</a>
												<ul class="total__depth2-list">
													<li class="total__depth2-item">
														<a href="../special/special_detail.html" class="total__depth2-link">BANOBAGI Detail Spesial</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_artecoll.html" class="total__depth2-link">Filler Semi Permanen Artecoll</a>
													</li>
													<li class="total__depth2-item">
														<a href="../special/special_design.html" class="total__depth2-link">Filler Desain</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //전체메뉴 -->
						<li class="gnb__depth1-item" data-title-en="Face Contour">
							<a href="" class="gnb__depth1-link">Kontur Wajah</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_detail.html" class="gnb__depth2-link">BANOBAGI Detail Kontur Wajah</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_square.html" class="gnb__depth2-link">Rahang Kotak</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_cheek.html" class="gnb__depth2-link">Rekonstruksi Tulang Pipi</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../contour/contour_front.html" class="gnb__depth2-link">Genioplasty</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //올인원 시리즈 -->

						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">Tubuh</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../body/body_detail.html" class="gnb__depth2-link">BANOBAGI Detail Kontur Tubuh</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_fat.html" class="gnb__depth2-link">Liposuction Seluruh Tubuh</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_partfat.html" class="gnb__depth2-link">Liposuction Individual</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../body/body_dual.html" class="gnb__depth2-link">Dual-Slim</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //힐 에이징 프로그램 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">Payudara</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_detail.html" class="gnb__depth2-link">BANOBAGI Detail Payudara</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_extension.html" class="gnb__depth2-link">Augmentasi Payudara</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../chest/chest_reduction.html" class="gnb__depth2-link">Reduksi Payudara</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //윤곽 교정 프로그램 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">Mata</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_detail.html" class="gnb__depth2-link">BANOBAGI Detail Mata</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_double.html" class="gnb__depth2-link">Operasi Mata Jahitan</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_incisional.html" class="gnb__depth2-link">Operasi Mata Sayatan</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_middle_age.html" class="gnb__depth2-link">Upper Blepharoplasty</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../eye/eye_correction.html" class="gnb__depth2-link">Koreksi Otot Mata</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //모공 탄력 프로그램 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">Operasi Hidung</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_detail.html" class="gnb__depth2-link">BANOBAGI Detail Rhinoplasty</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_low.html" class="gnb__depth2-link">Augmentasi Hidung</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_casetype.html" class="gnb__depth2-link">Jenis Operasi Hidung</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../nose/nose_reduction.html" class="gnb__depth2-link">Reduksi Hidung</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //미백/브라이트닝 프로그램 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">Anti-Aging</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../wrinkle/wrinkle_detail.html" class="gnb__depth2-link">BANOBAGI Detail Anti-Aging</a></li>
											<li class="gnb__depth2-item nth-1"><a href="http://elasticum.indonesiabanobagi.com/elasticum02.php" class="gnb__depth2-link" target="_blank">Lifting Elasticum</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //메디컬 스킨케어 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">SVF</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../svf/svf_detail.html" class="gnb__depth2-link">BANOBAGI Detail SVF</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../svf/cell_transplant.html" class="gnb__depth2-link">Cangkok Lemak SVF</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../svf/svf_chest_extension.html" class="gnb__depth2-link">Augmentasi Payudara SVF</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //메디컬 스킨케어 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">Operasi Revisi</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_detail.html" class="gnb__depth2-link">BANOBAGI Detail Revisi</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_nose.html" class="gnb__depth2-link">Revisi Hidung</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../reoperation/reoperation_eye.html" class="gnb__depth2-link">Revisi Mata</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //메디컬 스킨케어 -->
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">Rambut</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../hair/hair_detail.html" class="gnb__depth2-link">BANOBAGI Detail Rambut</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li class="gnb__depth1-item">
							<a href="" class="gnb__depth1-link">Spesial</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1 is-active"><a href="../special/special_detail.html" class="gnb__depth2-link">BANOBAGI Detail Spesial</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_artecoll.html" class="gnb__depth2-link">Filler Semi Permanen Artecoll</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../special/special_design.html" class="gnb__depth2-link">Filler Desain</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //메디컬 스킨케어 -->
						<li class="gnb__depth1-item type-bano type-another">
							<a href="" class="gnb__depth1-link">Banobagi</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_banobagi.html" class="gnb__depth2-link">Introduksi</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_medical.html" class="gnb__depth2-link">Introduksi Tim Medis</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_map.html" class="gnb__depth2-link">Informasi Pengobatan/Lokasi</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_history.html" class="gnb__depth2-link">Sejarah BANOBAGI</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_tour.html" class="gnb__depth2-link">Lihat BANOBAGI</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/news_list.html" class="gnb__depth2-link">BANOBAGI di Media Massa</a>
											<ul class="gnb__depth3-list">
												<li class="gnb__depth3-item">
													<a href="../introduce/news_list.html" class="gnb__depth3-link">- News</a>
												</li>
												<li class="gnb__depth3-item">
													<a href="../introduce/media.html" class="gnb__depth3-link">- Media</a>
												</li>
												</ul>
											</li>
										</ul>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../introduce/introduce_live.html" class="gnb__depth2-link">BANOBAGI LIVE</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/academic_list.html" class="gnb__depth2-link">Pertukaran Ilmiah</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/society_list.html" class="gnb__depth2-link">Kontribusi Masyarakat</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../introduce/rapid.html" class="gnb__depth2-link">Rapid Healing - Self Care</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->
						<li class="gnb__depth1-item type-review type-another">
							<a href="" class="gnb__depth1-link">Review</a>
							<div class="gnb__depth2-wrap">
								<div class="gnb__depth2-align">
									<div class="gnb__depth2-box type-img">
										<div class="gnb__depth2-img owl-carousel gnb__full-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_full1.jpg" loading="lazy" alt=""></a>
										</div>
										<div class="gnb__depth2-img owl-carousel gnb__mini-img">
											<a href="" target="_blank"><img src="../../images/common/gnb/gnb_mini.jpg" loading="lazy" alt=""></a>
										</div>
									</div>
									<div class="gnb__depth2-box">
										<ul class="gnb__depth2-list">
											<li class="gnb__depth2-item nth-1"><a href="../review/epilogue_list.html" class="gnb__depth2-link">Real Review</a></li>
											<li class="gnb__depth2-item nth-1"><a href="../review/photo_gallery.html" class="gnb__depth2-link">Galeri Foto</a></li>
										</ul>
									</div>
									<div class="gnb__depth2-box type-review">
										<div class="gnb-slide2 owl-carousel">
											<div class="gnb-review">
												<ul class="gnb-review__list">
													<li class="gnb-review__item">
														<img src="../../images/common/gnb/review_icon1.png" loading="lazy" alt="">
														<p class="gnb-review__tit">ELASTICUM</p>
														<a href="" class="gnb-review__link">Go</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<!-- //바노바기 -->
					</ul>
				</div><!-- //gnb -->
			</div>
			<div class="header__right">
				<div class="snb">
					<ul class="snb__list">
						<li class="snb__item type-bano"><a href="#" class="snb__link1 js-bano-link">Banobagi</a></li>
						<li class="snb__item type-review"><a href="" class="snb__link1 js-review-link">Review</a></li>
						<li class="snb__item type-phone">
							<div class="snb__wrap">
								Call for consultation
							</div>
							<a href="tel:+82-2-522-6636" class="snb__link2">Call</a>
						</li>
						<li class="snb__item type-consultation">
							<div class="snb__wrap">
								<span class="consultation-icon">Icon</span>
								<span class="snb__wrap-consultation">
									<span class="snb__wrap-bg">Consultation</span>
								</span>
							</div>
							<a href="" class="snb__link2 js-consultation">Go</a>
						</li>
						<li class="snb__item type-search"><a href="#" class="snb__link2 js-search">search</a></li>
						<li class="snb__item type-global">
							<a href="" class="snb__link2 js-global">global</a>
							<ul class="global__list">
								<li class="global__item nth-6"><a href="http://www.engbanobagi.com" class="global__link">EN</a></li>
								<li class="global__item nth-1"><a href="https://www.banobagi.com" target="_blank" class="global__link">KR</a></li>
								<li class="global__item nth-2"><a href="http://www.chinabanobagi.com" target="_blank" class="global__link">CN</a></li>
								<li class="global__item nth-3"><a href="http://www.thailandbanobagi.com" target="_blank" class="global__link">TH</a></li>
								<li class="global__item nth-5"><a href="http://www.vnbanobagi.com" target="_blank" class="global__link">VN</a></li>
								<li class="global__item nth-4"><a href="http://www.mglbanobagi.com" target="_blank" class="global__link">MN</a></li>
								<li class="global__item nth-7"><a href="http://www.japanbanobagi.com" target="_blank" class="global__link">JP</a></li>
								<li class="global__item nth-8"><a href="http://www.rubanobagi.com" target="_blank" class="global__link">RU</a></li>
							</ul>
						</li>
						<li class="snb__item type-close">
							<a href="" class="snb__link2 js-intro-close">Close</a>
						</li>
					</ul>
				</div>
			</div><!-- //header__right-->

			<div class="header-search">
				<form id="seearchForm" name="seearchForm" class="form-inline" method="post" action="https://www.banobagi.com/searchResult.php">
					<input type="hidden" name="isFirstSearch" value="Y">
					<input type="hidden" name="inputSearch" id="gnbHiddenInputSearch">
					<div class="header-search__box">
						<div class="header-search__group animated fadeInRight">
							<button type="submit" class="header-search__btn type-submit">검색</button>
							<label class="sr-only" for="keyword">검색</label>
							<input type="text" class="header-search__input" name="keyword" id="keyword" autocomplete="off" placeholder="Search" required="">
						</div>
						<button type="button" class="header-search__btn type-close js-search-close"><img src="../../images/common/search_icon.png" loading="lazy" alt="검색닫기"></button>
					</div> <!-- //header-search__box -->
				</form>
				<div class="keyword-box">
					<ul class="keyword-tab">
						<li class="keyword-tab__item is-active nth-1 js-keyord-link" data-tab="popular">popular</li>
						<li class="keyword-tab__item nth-2 js-keyord-link" data-tab="recommended">REKOMENDASI</li>
					</ul>
					<ul class="keyword-box__list is-active popular">
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('Lifting');"><span class="keyword-box__num">1</span>Lifting</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('Hidung');"><span class="keyword-box__num">2</span>Hidung</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('SVF');"><span class="keyword-box__num">3</span>SVF</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('Filler');"><span class="keyword-box__num">4</span>Filler</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('Payudara');"><span class="keyword-box__num">5</span>Payudara</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('Mata');"><span class="keyword-box__num">6</span>Mata</a></li>
					</ul>
					<ul class="keyword-box__list recommended">
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('Lifting');"><em class="keyword-box__icon">#</em>Lifting</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('Hidung');"><em class="keyword-box__icon">#</em>Hidung</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('SVF');"><em class="keyword-box__icon">#</em>SVF</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('Filler');"><em class="keyword-box__icon">#</em>Filler</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('Payudara');"><em class="keyword-box__icon">#</em>Payudara</a></li>
						<li class="keyword-box__item"><a class="keyword-box__link" href="javascript:$.fnSearchSubmit('Mata');"><em class="keyword-box__icon">#</em>Mata</a></li>
					</ul>
				</div>
			</div><!-- header-search -->

			<!--레이어팝업 로그인 -->
			<% include ../_include/_login %>
			<!--//레이어팝업 로그인 -->
		</div><!--header-->
		<div class="quick-menu">
			<ul class="quick-menu__list">
				<li class="quick-menu__item">
					<div class="quick-menu__box">
						<img src="../../images/common/wow.png" alt="상담신청" class="hidden-tm">
						<img src="../../images/common/wow_t.png" alt="상담신청" class="hidden-pm">
						<img src="../../images/common/wow_m.png" alt="상담신청" class="hidden-pt">
					</div>
					<a href="../../program" class="quick-menu__link">바로가기</a>
				</li>
				<li class="quick-menu__item">
					<a href="#" class="scroll-top">
				        <span class="scroll-top__progress">
							<span class="scroll-top__arrow"></span>
				        </span>
				    </a>
				</li>
			</ul>
		</div>
		<!-- //gnb-->
	<!-- //header끝 -->
<!-- section시작 -->
