<!--lnb시작 -->
<div class="dim type-lnb">딤처리</div>
<% if (type == "content") { %>
	<div class="lnb type-3depth type-content"><!-- 3depth 이용시 type-3depth-->
<% }else{ %>
	<div class="lnb"><!-- 3depth 이용시 type-3depth-->
<% } %>
	<div class="lnb__wrap">
		<ul class="lnb__list">
			<li class="lnb__item type-home">
				<a href="" class="lnb__link">home</a>
			</li>
			<li class="lnb__item">
				<a href="" class="lnb__link">윤곽교정</a>
			</li>
			<li class="lnb__item type-active">
				<a href="" class="lnb__link js-lnb">
					<span class="lnb__bar">bar</span>
					톡톡튀는 리얼후기
					<span class="lnb__caret"><i class="fa fa-angle-down"></i></span>
				</a>
				<ul class="lnb__2depth-list">
					<li class="lnb__2depth-item"><a href="http://www.naver.com" class="lnb__2depth-link">윤광 교정 디테일</a></li>
					<li class="lnb__2depth-item"><a href="http://www.daum.net" class="lnb__2depth-link">올인원 리프팅</a></li>
					<li class="lnb__2depth-item"><a href="" class="lnb__2depth-link">작은 얼굴 v라인</a></li>
					<li class="lnb__2depth-item"><a href="" class="lnb__2depth-link">인디언주름 필러</a></li>
					<li class="lnb__2depth-item"><a href="" class="lnb__2depth-link">이미지필러</a></li>
					<li class="lnb__2depth-item"><a href="" class="lnb__2depth-link">애교필러</a></li>
					<li class="lnb__2depth-item"><a href="" class="lnb__2depth-link">Botox 스페셜</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div><!-- //lnb-->
<!--//lnb끝-->
