<!--popup시작 -->
<div class="popup-c type-common">
	<div class="popup-c__wrap">
		<a href="" class="popup-c__close js-c-close">close</a>
		<h3 class="popup-c__tit">Konsultasi</h3>
		<ul class="popup-c__list">
			<li class="popup-c__item nth-1 is-active"><a href="#" class="popup-c__link" data-tab="call"><span class="popup-c__icon">Telp</span></a></li>
			<li class="popup-c__item nth-2"><a href="#" class="popup-c__link" data-tab="whatsApp"><span class="popup-c__icon">Whatsapp</span></a></li>
			<li class="popup-c__item nth-3"><a href="#" class="popup-c__link" data-tab="email"><span class="popup-c__icon">Email</span></a></li>
		</ul>
		<!-- call -->
		<div class="popup-c__content call is-active">
			<div class="consultation">
				<p class="consultation__tit nth-1">No telp untuk Konsultasi</p>
				<p class="consultation__num nth-1"><a href="tel:+82-10-2273-6508" class="consultation__tel">+82 10 2273 6508</a></p>
				<p class="consultation__txt">
					Jangan sungkan untuk menghubungi kami.<br>
					Kami akan berusaha untuk menjawab pertanyaan Anda secepatnya
				</p>
			</div>
		</div>
		<!-- //call -->
		<!-- WhatsApp -->
		<div class="popup-c__content whatsApp">
			<div class="consultation">
				<p class="consultation__tit nth-2">Whatsapp</p>
				<p class="consultation__num nth-2"><a href="tel:+82-10-2273-6508" class="consultation__tel">+82 10 2273 6508</a></p>
				<p class="consultation__txt">
					Jangan sungkan untuk menghubungi kami.<br>
					Kami akan berusaha untuk menjawab pertanyaan Anda secepatnya
				</p>
			</div>
		</div>
		<!-- //WhatsApp -->
		<!-- Email -->
		<div class="popup-c__content email">
			<div class="consultation">
				<p class="consultation__tit nth-3">Email</p>
				<a href="#" class="consultation__num nth-3">indonesia@banobagi.com</a>
				<p class="consultation__copy type-copy">
					Klik E-mail untuk mengcopy
				</p>
				<p class="consultation__txt">
					Jangan sungkan untuk menghubungi kami.<br>
					Kami akan berusaha untuk menjawab pertanyaan Anda secepatnya
				</p>
			</div>
		</div>
		<!-- //Email -->
		<div class="consultation-info">
			<ul class="consultation-info__list">
				<li class="consultation-info__item type-time">
					<p class="consultation-info__date">
						<strong class="consultation-info__day">Senin ~ Jumat</strong>
						<span class="consultation-info__time">09:30~18:30</span>
					</p>
					<!--<p class="consultation-info__date">
						<strong class="consultation-info__day">Jumat</strong>
						<span class="consultation-info__time">09:30~20:00</span>
						<span class="consultation-info__night">Perawatan lembur</span>
					</p>-->
					<p class="consultation-info__date">
						<strong class="consultation-info__day">Sabtu</strong>
						<span class="consultation-info__time">09:30~16:00<span class="inline-block">(16/3, 20/4, 18/5, 15/6, 20/7 Libur)</span></span>
					</p>
				</li>
				<li class="consultation-info__item type-location">
					<p class="consultation-info__tit">517, Nonhyeon-ro, Gangnam-gu, Seoul, Korea</p>
					<p class="consultation-info__txt">Gunakan subway line 2 dan turun di Stasiun ‘Yeoksam’<br>exit no.6  dan berjalan lurus ±100m</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--//popup끝-->
