<!-- popup-c type-event-->
<div class="popup-c type-event">
	<div class="popup-c__wrap">
		<div class="popup-c__tit">상담신청</div>
		<a href="" class="popup-c__close">Tutup</a>
		<div class="popup-c__scroll">
			<div class="popup-c__box">
				<div class="popup-content online is-active">
					<form name="onlineForm2" id="onlineForm2" method="post">
						<h2 class="popup-content__tit2"><strong>바노바기 피부과</strong> 전문 상담원이 <span class="inline-block">친절히 상담 도와드립니다.</span></h2>
						<div class="popup-content__wrap">
							<div class="popup-content__box">
								<div class="input1__box">
									<input type="text" placeholder="이름"  name="onlineName2" id="onlineName2" autocomplete="off" class="popup-input1" required>
									<button class="input1__clear"></button>
								</div>
								<div class="input1__box">
									<input type="tel" placeholder="연락처" class="popup-input1" id="onlinePhone2" name="onlinePhone2" autocomplete="off" required>
									<button class="input1__clear"></button>
								</div>
								<div class="popup-select">
									<a href="#" class="popup-select__tit">원하시는 상담</a>
									<div class="popup-select__box">
										<p class="popup-select2__subject type-another">관심부위</p>
										<ul class="popup-select__list">
											<li class="popup-select__item" id="online_01">탄력실 맥스리프팅</li>
											<li class="popup-select__item" id="online_02">피팅리프팅(복합맞춤리프팅)</li>
											<li class="popup-select__item" id="online_03">이마엔도타인</li>
											<li class="popup-select__item" id="online_04">SVF 지방이식</li>
											<li class="popup-select__item" id="online_05">탄력실 맥스리프팅</li>
											<li class="popup-select__item" id="online_06">피팅리프팅(복합맞춤리프팅)</li>
											<li class="popup-select__item" id="online_07">이마엔도타인</li>
											<li class="popup-select__item" id="online_08">SVF 지방이식</li>
										</ul>
									</div>
								</div>
								<input type="text" name="onlinePartItem2" id="onlinePartItem2" value="" class="popup-content__hidden" required> <!-- 실제 관심부위 입력값 -->
								<!-- //select -->
							</div>
						</div>
						<div class="popup-content__wrap">
							<div class="popup-content__box type-check">
								<div class="popup-content__check">
									<input type="checkbox" name="chkAgree3" id="chkAgree3" class="checkbox02 type-online" required><label for="chkAgree3">개인정보 수집 및 이용 동의(필수)</label>
								</div>
								<div class="popup-content__check">
									<input type="checkbox" name="chkAgree4" id="chkAgree4" class="checkbox02 type-online" required><label for="chkAgree4"> 마케팅 및 광고 활용 동의(선택)</label>
									<a href="" class="popup-content__btn2 is-view js-terms-open">[자세히 보기]</a>
								</div>
							</div>
						</div>
						<div class="popup-content__wrap">
							<div class="popup-content__box">
								<div class="popup-content__hide">
									<div class="popup-select">
										<a href="#" class="popup-select__tit">나이</a>
										<div class="popup-select__box">
											<p class="popup-select2__subject type-another">관심부위</p>
											<ul class="popup-select__list">
												<li class="popup-select__item" id="online_01">탄력실 맥스리프팅</li>
												<li class="popup-select__item" id="online_02">피팅리프팅(복합맞춤리프팅)</li>
												<li class="popup-select__item" id="online_03">이마엔도타인</li>
											</ul>
										</div>
									</div>
									<div class="popup-select">
										<a href="#" class="popup-select__tit">성별</a>
										<div class="popup-select__box">
											<p class="popup-select2__subject type-another">관심부위</p>
											<ul class="popup-select__list">
												<li class="popup-select__item" id="online_01">탄력실 맥스리프팅</li>
												<li class="popup-select__item" id="online_02">피팅리프팅(복합맞춤리프팅)</li>
												<li class="popup-select__item" id="online_03">이마엔도타인</li>
											</ul>
										</div>
									</div>
									<div class="popup-select">
										<a href="#" class="popup-select__tit">지역</a>
										<div class="popup-select__box">
											<p class="popup-select2__subject type-another">관심부위</p>
											<ul class="popup-select__list">
												<li class="popup-select__item" id="online_01">탄력실 맥스리프팅</li>
												<li class="popup-select__item" id="online_02">피팅리프팅(복합맞춤리프팅)</li>
												<li class="popup-select__item" id="online_03">이마엔도타인</li>
											</ul>
										</div>
									</div>
									<div class="popup-radio">
										<p class="popup-radio__tit">상담희망시간</p>
										<div class="popup-radio__wrap">
											<input type="radio" name="agree1" value="" id="agree1_1" class="radio1" checked="checked"><label for="agree1_1">수신동의</label>
											<input type="radio" name="agree1" value="" id="agree1_2" class="radio1"><label for="agree1_2">수신거부</label>
										</div>
									</div>
									<textarea placeholder="메모" class="popup-textarea" name="onlineContent2" id="onlineContent2" required="" aria-required="true"></textarea>
								</div>
								<div class="popup-c__detail">
									<a href="" class="popup-content__subtit js-detail-open"><span>세부사항입력</span><span class="popup-content__arrow">펼치기</span></a>
									<p class="popup-content__noti">※ 세부사항 입력 없이도 상담이 가능하며, 세부사항 입력 시 <span class="inline-block">디테일한 상담을 받으실 수 있습니다.</span></p>
								</div>
							</div>
						</div>
						<ul class="popup-content__list">
							<li class="popup-content__item">
								<button type="submit" class="popup-content__btn type-online">전화상담</button>
							</li>
							<li class="popup-content__item">
								<button type="submit" class="popup-content__btn type-katalk">카톡상담</button>
							</li>
						</ul>
					</form>
				</div>
				<div class="popup-c__terms">
					<div class="terms-c">
						<a href="" class="terms-c__btn js-terms-close">Tutup</a>
						<div class="terms-c__box">
							<h3 class="terms-c__tit">개인정보 수집 및 이용 동의(필수)</h2>
							<div class="terms-c__area">
								<p>바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
								<br>
								<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
							</div>
						</div>
						<div class="terms-c__box">
							<h3 class="terms-c__tit">마케팅 광고 활용 동의(선택)</h2>
							<div class="terms-c__area">
								<p>바노바기성형외과의원 (이하 ‘본원’라 합니다)는 인터넷 상에서의 개인정보 보호를 매우 중요하게 생각하고 있으며, 이용자가 이용함에 있어서 본원에게 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다.</p>
								<br>
								<p>이에 따라, 본원은 통신비밀보호법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 등 정보통신 서비스 제공자가 준수하여야 할 관련 법규를 바탕으로 개인정보 보호정책을 만들어 이를 준수해 나가고 있습니다.</p>
							</div>
						</div>
					</div><!--//terms-c-->
				</div><!-- //popup-c__terms-->
			</div>
		</div>
	</div>
</div>
<!-- //popup-c type-event-->
