<!--quick-->
<div class="quick">
	<ul class="quick__list">
		<!-- <li class="quick__item type-list">
			<a href="" class="quick__link"><span class="quick__wrap">List</span></a>
		</li> -->
		<!-- landing promotion 2019 whatsApp quick -->
		<!-- <li class="quick__item type-whatsapp">
			<a href="http://wa.me/820102273650" target="_blank" class="quick__link">
				<span class="quick__whatsapp">
					Klik untuk<br>
					langsung <br>
					bertanya via<br>
					<span class="quick__span">Whatsapp</span>
				</span>
			</a>
		</li> -->
		<li class="quick__item type-top">
			<a href="" class="quick__link js-top"><span class="quick__wrap">TOP</span></a>
		</li>
	</ul>
</div>
<!--//quick-->
