<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-cheekbone">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-cheekbone">
	            <p class="content-visual__txt1">Integrasi total dari teknologi pembentukan kontur wajah</p>
	            <h3 class="content-visual__tit"># Rekonstruksi <span class="color-contour9">tulang pipi</span></h3>
	            <p class="content-visual__txt2 type-cheekbone">Bagian kecil dan lembut yang membutuhkan perencanaan detil</p>
				<p class="content-visual__txt3 type-cheekbone">※ foto ini dapat sedikit berbeda dengan aslinya terkait kondisi pemotretan, dan telah melalui izin pasien untuk dipublikasikan</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content cheekbone">
        <div class="content-wrap">
			<div class="content-section type-first">
				<div class="content-section__wrap">
					<div class="cheek-box1">
						<div class="content-section__box1 type-w4">
							<h4 class="content-section__tit type-left">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">01</span>
		                        </span>
								Tulang pipi
								<strong class="color-contour10">secara cantik meningkatkan</strong> estetika wajah
							</h4>
							<p class="content-section__txt1">
								Tulang pipi yang tegas, berlekuk dan menjadi ciri khas wajah seseorang, adalah alasan para pasien mengunjungi dokter bedah plastik. Hal ini seiring dengan tren publik yang menunjukkan riasan wajah yang menonjolkan bagian tulang pipi.
							</p>
							<p class="content-section__txt1 type-special">
								Ironi adalah kita seringkali ingin menonjolkan ataupun meniadakan tampilan tulang pipi, namun inilah penjelasannya: tulang pipi yang dibentuk dengan tepat yang masuk dengan struktur wajah tidak akan meniadakan keindahan wajah, malah sebaliknya akan memberikan impresi yang tegas dan segar.
							</p>

							<p class="content-section__txt2">
								<strong>
									Ini mengapa kita tidak seharusnya mengecilkan tulang pipi begitu saja, tetapi melakukan pendekatan agar tulang pipi dapat menjadi bagian wajah Anda yang bersinar.
								</strong>
							</p>

						</div>
						<div class="content-section__box1 type-w6 ">
							<div class="content-section__img sec1-thumb">
								<img src="../../images/contour/contour_cheekbone_section02.png" loading="lazy" alt="">
							</div>
						</div>
					</div>
				</div><!-- //content-section__wrap-->
			</div>
			<!--contenct-section-->
			<div class="content-section sec2-section">
				<div class="cheek-box2">
					<div class="content-section__box1 sec2-bg">
						<div class="content-section__box1 tit-box">
							<h4 class="content-section__tit type-center">
		                        <span class="content-section__number">
		                            <span class="content-section__number-wrap">
		                                02
		                            </span>
		                        </span>
								<strong class="color-contour10">Kuncinya</strong> adalah rekonstruksi tulang pipi
							</h4>
						</div>
						<div class="content-section__box1">
							<p class="content-section__txt1 type-sort color-contour13 type-unique">
								Banobagi menangani bagian tubuh tulang pipi dan juga lekukannya sebagai unit tersendiri, dan merelokasikannya ke bagian wajah lain. Dengan kata lain, sebagian tulang pipi akan dipotong dan dipindahkan ke lokasi yang lebih baik, bukan sekedar dibuang. Karena efektivitas prosedur tergantung dari keamanan dan ukuran area wajah yang akan diperbaiki, prosedur ini membutuhkan kepekaan terhadap kekuatan tulang dan keterampilan untuk menginsisi sampai batas ekstrim yang aman.
							</p>
							<div class="content-section__img-wrap sec2-box clearfix">
								<div class="content-section__img sec2-unique">
									<div class="content-section__item sec2-item">
										<img src="../../images/contour/contour_cheekbone_section03-1.jpg" loading="lazy" alt="" class="content-section__thumb sec2-pic1">
										<div class="content-section__thumb sec2-pic1"></div>
										<div class="content-section__desc type-wide color-contour14">
											<p class="content-section__txt sec2-txt">Area insisi yang umum</p>
										</div>
									</div>
								</div>
								<div class="content-section__img sec2-unique">
									<div class="content-section__item sec2-item">
										<img src="../../images/contour/contour_cheekbone_section03-2.jpg" loading="lazy" alt="" class="content-section__thumb sec2-pic1">
										<div class="content-section__desc type-wide color-contour15">
											<p class="content-section__txt sec2-txt">Area maksimum insisi Banobagi</p>
										</div>
									</div>
								</div>
							</div>
							<div class="content-section__wrapper">
								<div class="brace type-basic">
									<p class="brace__txt txt-v4">
										Tulang pipi yang telah diperbaiki dengan relokasi dari struktur yang ada akan menghasilkan bentuk yang alami dan tampilan yang lebih ramping dari berbagai sudut pandang.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--contenct-section-->
			<div class="content-section">
				<div class="cheek-box3">
					<div class="content-section__bg clearfix">
						<div class="content-section__box1 sec3-width type-w6">
							<h4 class="content-section__tit type-left">
		                        <span class="content-section__number sec3-number">
		                            <span class="content-section__number-wrap">
		                                03
		                            </span>
		                        </span>
								<strong class="color-contour10">Integritas struktur</strong>
								harus berimbang dengan peningkatan kecantikan
							</h4>
							<div class="content-section__box1 sec3-unique">img</div>
							<div class="content-section__desc-box sec3-desc">
								<p class="content-section__txt1">
									Keuntungan lain dari prosedur Banobagi adalah keamanan dan keawetan hasil yang diperoleh dari
									<span class="content-highlight type-cheekbone">teknik kombinasi yang melibatkan otot pelipis di dalam kompleks tulang pipi.</span>
									<br>
									Selain itu, baik bagian depan maupun tepi dari permukaan persambungan tersebut tetap kuat dan aman saat bergerak. Kombinasi yang tepat ini mempermudah penyembuhan secara alamiah seperti tubuh yang melakukan penyatuan saat terjadi fraktur, dan proses penulangan terjadi lebih kokoh dengan sendirinya.
								</p>
							</div>
						</div>
						<div class="content-section__box1 sec3-width sec3-type-w4">
							<div class="content-section__thumb">
								<img src="../../images/contour/contour_cheekbone_section04.png" loading="lazy" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--contenct-section-->
			<div class="content-section">
				<div class="cheek-box4">
					<div class="content-section__bg sec4-bg">
						<div class="content-section__bg type-special">
							<div class="content-section__box1 sec4-tit-box">
								<div class="content-section__point">
									<div class="content-section__point-wrap"><span class="">Titik penting</span></div>
								</div>
								<h5 class="content-section__tit sec4-tit">
									Pemasangan tulang yang paten dan aman membuat tulang pipi menonjol:
									<strong class="color-contour16">keuntungan teknik BANOBAGI</strong>
								</h5>
							</div>

							<div class="content-section__screen type-pc">
								<div class="hexa-pattern type-cheekbone">
									<ul class="hexa-pattern__list">
										<li class="hexa-pattern__item nth-1">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">01</p>
												<p class="hexa-pattern__txt type-cheekbone">
													Analisis ilmiah terkait kekuatan yang ditekankan ke bagian kompleks tulang pipi
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-2">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">02</p>
												<p class="hexa-pattern__txt type-cheekbone">
													Permukaan penyambungan tulang yang erat namun dinamis
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-3">
											<div class="hexa-pattern__wrap">
												<p class="hexa-pattern__tit type-cheekbone">03</p>
												<p class="hexa-pattern__txt type-cheekbone">
													Kombinasi simultan dan aman dalam menggunakan baik bagian tubuh tulang pipi mapun lekukannya
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-4">
											<div class="hexa-pattern__wrap">
												<div class="hexa-pattern__thumb"></div>
												<h6 class="hexa-pattern__txt type-cheekbone type-unique">
													Keuntungan teknik Banobagi
												</h6>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="content-section__screen type-mobile">
						<div class="hexa-pattern type-cheekbone">
							<ul class="hexa-pattern__list">
								<li class="hexa-pattern__item nth-1">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">01</p>
										<p class="hexa-pattern__txt type-cheekbone">
											Analisis ilmiah terkait kekuatan yang ditekankan ke bagian kompleks tulang pipi
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-2">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">02</p>
										<p class="hexa-pattern__txt type-cheekbone">
											Permukaan penyambungan tulang yang erat namun dinamis
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-3">
									<div class="hexa-pattern__wrap">
										<p class="hexa-pattern__tit type-cheekbone">03</p>
										<p class="hexa-pattern__txt type-cheekbone">
											Kombinasi simultan dan aman dalam menggunakan baik bagian tubuh tulang pipi mapun lekukannya
										</p>
									</div>
								</li>
								<li class="hexa-pattern__item nth-4">
									<div class="hexa-pattern__wrap">
										<div class="hexa-pattern__thumb"></div>
										<h4 class="hexa-pattern__txt type-cheekbone type-unique">
											Keuntungan teknik Banobagi
										</h4>
									</div>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<!--contenct-section-->

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Informasi Operasi</h4>
							<!-- <p class="operation-v2__subtit">Lebih kepada rekonstruksi tulang pipi</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
										<p class="operation-v2__txt txt-new1"> ± 1 ~ 1 jam 30 menit</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
										<p class="operation-v2__txt txt-new1">Anestesi Total</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
										<p class="operation-v2__txt txt-new1">Dilepas ± stlh 7 hari</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
										<p class="operation-v2__txt txt-new1">Pulang di hari yg sama/Rawat inap ± 1 hari</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
										<p class="operation-v2__txt txt-new1"> ± 1 ~ 2 X</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
										<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 5 ~ 7 hari</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Pasien dapat merasakan nyeri setelah efek pembiusan hilang.<br>
									Rasa kaku dan tidak nyaman dapat muncul namun akan diatasi dengan obat-obat yang diresepkan. <br>
									Kadar nyeri pada tulang lebih sedikit dibandingkan pada insisi kulit, selama bagian tulang yang bersangkutan tidak ditekan.<br>
									 Nyeri dan bengkak akan berkurang setelah 5 hari. <br>
									 Perawatan sistematis akan membuat proses pemulihan yang halus.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
									<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
            <!--operation-->
			<div class="content-section sec5-section">
				<div class="cheek-box5">
					<div class="content-section__box1">
						<div class="content-section__bg sec5-bg">
							<div class="content-section__box1 sec5-bg-small">
								<h4 class="content-section__tit">
									Bertujuan pada peningkatan tulang pipi yang
									<strong class="color-contour12">mencegah kulit menggantung</strong>
								</h4>
								<p class="content-section__txt1 type-unique">
									Idealnya, saat tulang pipi direlokasi dan dikurangi ukurannya, jaringan yang menutupi tulang pipi harus turut disesuaikan. Namun, kadang jaringan kulit tersebut sudah kekurangan elastisitas atau sudah menua, yang jika tidak ditindaklanjuti akan membuat kulit yang menutupi pipi tampak menggantung. Kulit bagian ujung tempat menitikkan airmata, lekukan pembentuk bibir, dan lipatan atas bibir juga menjadi lokasi umum yang harus disesuaikan.
								</p>
							</div>
							<div class="content-section__desc type-unique">
								<p class="content-section__txt1 sec5-txt1 type-space">
			                        <span class="color-contour11">
			                            Dalam mengatasi efek samping, Banobagi menggunakan
			                            <span class="content-section__info pop-info">
											<a href="" class="info-btn js-info type-cheek">
												<span class="info-btn__icon type-cheek">info-info button</span>
												Elasticum
												<span class="info-desc type-cheekbone">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>Apa itu Elasticum?</strong><br class="hidden-tm"></span>
															<span class="info-desc__content">
																<img src="../../images/contour/contour_cheekbone_info-img.jpg" loading="lazy" alt="Elasticum img" class="info-desc__thumb">
																<span class="info-desc__txt1">
																	Elasticum menyatukan diri dengan jaringan disekitar tubuh dan berfungsi sebagai jaringan pengikat sendi. Elasticum memperkuat lapisan myofascial dibawah kulit yang rusak, melawan kekenduran kulit secara efektif. Elastisitasnya yg tinggi juga memberikan hasil yg natural.
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left"></span>
															<span class="info-desc__stick type-another"></span>
															Tutup
														</button>
													</span>
												</span>
											</a>
			                            </span> dan
			                            <span class="content-section__info pop-info">
											<a href="" class="info-btn js-info type-cheek">
												<span class="info-btn__icon type-cheek">info button</span>
													Endotine.
												<span class="info-desc type-cheekbone">
													<span class="info-desc__item">
														<span class="info-desc__box">
															<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>Apa itu Endotine?</strong><br class="hidden-tm"></span>
															<span class="info-desc__content">
																<img src="../../images/contour/contour_cheekbone_info-endo.jpg" loading="lazy" alt="Endotine image" class="info-desc__thumb">
																<span class="info-desc__txt1">
																	Endotine adalah material yg telah telah disetujui oleh FDA dengan bio-affinity. Endotine bahkan berlaku pd jaringan kulit yg tertekan dan secara halus mengencangkan kulit; ini pun berlaku pada lifting kulit yg tidak mencolok, dilakukan dgn luka yg minimal, hasil yg bertahan lama dan disintegrasi yg natural. Endotine digunakan dalam berbagai prosedur anti-aging untuk melawan kendurnya kulit.
																 </span>
															</span>
														</span>
														<button class="info-desc__btn js-close">
															<span class="info-desc__stick type-left"></span>
															<span class="info-desc__stick type-another"></span>
															Tutup
														</button>
													</span>
												</span>
											</a>
			                            </span>
		                           	</span>
									Elasticum, benang berdesain khusus dalam menopang jaringan bawah otot dimana kekenduran kulit terletak. Endotine merupakan zat pelekat jaringan lunak yang akan melekatkan kulit dan jaringan dengan erat. Banobagi menggunakan dua teknologi anti penuaan tersebut dengan tepat, dan menghasilkan kepuasan hasil operasi tulang pipi: bebas dari kulit pipi yang kendur.
								</p>
							</div>
							<div class="content-section__box1">
								<ul class="content-section__list type-wrap clearfix">
									<li class="content-section__img sec5-unique">
										<div class="content-section__item sec5-item">
											<img src="../../images/contour/contour_cheekbone_section05-1.jpg" loading="lazy" alt="Saluran kanal telinga (dengan Endotine)">
											<div class="content-section__thumb sec5-pic1">Saluran kanal telinga (dengan Endotine)</div>
											<div class="content-section__desc sec5-desc color-contour17">
												<p class="content-section__txt sec5-txt">Saluran kanal telinga <br class="hidden-p">(dengan Endotine)</p>
											</div>
										</div>
									</li>
									<li class="content-section__img sec5-unique">
										<div class="content-section__item sec5-item">
											<img src="../../images/contour/contour_cheekbone_section05-2.jpg" loading="lazy" alt="Lekukan pembentuk bibir (dengan Elasticum dan Endotine)">
											<div class="content-section__desc sec5-desc color-contour17">
												<p class="content-section__txt sec5-txt">Lekukan pembentuk bibir <br class="hidden-p"> (dengan Elasticum dan Endotine)</p>
											</div>
										</div>
									</li>
									<li class="content-section__img sec5-unique">
										<div class="content-section__item sec5-item">
											<img src="../../images/contour/contour_cheekbone_section05-3.jpg" loading="lazy" alt="Lipatan atas bibir (dengan Elasticum dan Endotine)">
											<div class="content-section__desc sec5-desc color-contour17">
												<p class="content-section__txt sec5-txt">Lipatan atas bibir <br class="hidden-p"> (dengan Elasticum dan Endotine)</p>
											</div>
										</div>
									</li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!--contenct-section-->
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Informasi Operasi</h4>
							<!-- <p class="operation-v2__subtit">Mencapai penonjolan tulang yang sempurna tanpa kulit yang menggantung.</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
										<p class="operation-v2__txt txt-new1">± 50 menit</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
										<p class="operation-v2__txt txt-new1">Anestesi Total/Anestesi Lokal</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
										<p class="operation-v2__txt txt-new1">Dilepas ± stlh 14 hari</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
										<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
										<p class="operation-v2__txt txt-new1"> ± 1 X</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
										<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 5 ~ 7 hari</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 3){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Pasien dapat mengalami nyeri setelah efek obat bius hilang.<br>
									Rasa kaku dan tidak nyaman bisa muncul tapi akan teratasi dengan obat yang diresepkan. <br>
									Kadar nyeri pada tulang lebih sedikit terasa dibanding pada insisi kulit, selama tidak mengalami penekanan di area yang bersangkutan.<br>
									Rasa kencang dapat muncul, tergantung dari ekspresi wajah dan lokasi peletakan Elasticum dan Endotine.<br>
									Nyeri dan bengkak akan hilang setelah 5 hari.<br>
									Perawatan sistematik memungkinkan pemulihan yang mulus.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
									<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
        </div><!-- //content-wrap -->
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
