<%
	type = "detail"
	page = "contour"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="contour detail-common" data-video="true">
    <section class="fs_section contourFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-contour">
					Tulang, Otot, dan Kulit – <span class="color-contour0">Pendekatan Multi-dimensi</span>
				</p>
				<h3 class="detail__first-txt type-contour">
					Perincian dari proses <span class="color-contour1">Kontur Wajah</span> BANOBAGI<br>
					<strong class="detail__first-point">akan menghasilkan wajah yang alami.</strong>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Selanjutnya</em>
		</div>
    </section>

    <section class="fs_section contourSection01" data-section-name="contourSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-contour type-quotation2">
		            <h4 class="detail__section-tit">
		                <strong>Operasi Kontur Wajah, </strong><br>
						<span class="detail__section-bwrap"><span class="color-contour2">Metode Operasi</span> BANOBAGI</span>
		            </h4>
	              	<p class="detail__section-subtit">Operasi yang memperhitungkan setiap individu lebih dari sekedar bentuk tulang</p>
	              	<p class="detail__section-txt color-contour3">
					  	Tujuan dari operasi Kontur Wajah bukanlah sekedar memodifikasi tulang wajah, melainkan juga membuat garis wajah pasien lebih cantik dengan proporsi yang simetris. Maka dari itu, sangatlah penting untuk memprediksi perubahan yang akan muncul pada otot dan kulit wajah seiring modifikasi yang dilakukan pada tulang-tulang wajah. BANOBAGI memperhitungkan secara teliti otot-otot, jaringan lemak, dan kulit wajah pasien demi menghasilkan ekspresi wajah yang lebih cantik, dan wajah tampak lebih kecil dan cantik alami.
	              	</p>
	            </div>
			</div>
		</div>
    </section>

	<section class="fs_section contourSection02" data-section-name="contourSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-wide type-down type-contour type-another">
				  	<h4 class="detail__section-tit">
					  	<strong>Berbagai cara</strong>
					  	<span class="color-contour4">teknik</span>
					  	Kontur Wajah Banobagi
				  	</h4>
				  	<p class="detail__section-subtit">Kontur wajah yang cantik dan anti penuaan</p>
				  	<p class="detail__section-txt">
					  	Proses pengikisan dan pemotongan tulang, pengangkatan kulit yang kendur, dan penghilangan jaringan lemak, merupakan rangkaian proses unik demi peningkatan bentuk wajah. BANOBAGI secara hati-hati memperhitungkan dan memperhatikan hal-hal tersebut pada saat yang bersamaan, demi menghasilkan kontur wajah yang lebih alamiah dan cantik.
					  	<span class="color-contour5">Operasi kontur wajah kami, dikombinasikan dengan teknik benang elastik untuk memperbaiki kulit kendur, dan penggunaan laser Accusculpt dalam menghilangkan lemak dan kulit yang kaku</span>, sangat direkomendasikan oleh spesialis kontur wajah BANOBAGI.
				  	</p>
			  	</div>
			  	<div class="diagram">
					<ul class="diagram__list">
						<li class="diagram__item nth-1">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">Pengencangan kembali kulit yang kendur</h5>
							</div>
						</li>
						<li class="diagram__item nth-2">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">Pembentukan kontur wajah</h5>
							</div>
						</li>
						<li class="diagram__item nth-3">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">Pengembalian elastisitas kulit</h5>
							</div>
						</li>
						<li class="diagram__item nth-4">
							<div class="diagram__wrap">
								<h5 class="diagram__tit">Pembentukaan otot dan kulit dengan teknik laser</h5>
							</div>
						</li>
					</ul>
			  	</div>
			</div>
		</div>
	</section>

	<section class="fs_section contourSection03" data-section-name="contourSection03">
		<div class="detail__inner type-full">
			<div class="detail__popup type-contour">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">Persiapan Operasi yang sistematis<span class="color-contour1">.</span></h5>
					<p class="detail__popup-subtit">Persiapan operasi sistematis kami merupakan proses memperlengkapi operasi pembentukan kontur wajah</p>
					<ul class="detail__popup-list">
						<li class="detail__popup-item nth-1">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">CT Scan 3D Wajah</h6>
								<p class="detail__popup-txt">Scan 3D untuk menganalisis tulang-tulang wajah, kepadatan tulang, dan prediksi hasil operasi yang lebih akurat.</p>
							</div>
						</li>
						<li class="detail__popup-item nth-2">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">Pemeriksaan Kesehatan Terspesifikasi</h6>
								<p class="detail__popup-txt">Pemeriksaan kesehatan yang terperinci dilakukan demi keamanan pasien, dan merupakan prosedur profesional pra-operasi. </p>
							</div>
						</li>
						<li class="detail__popup-item nth-3">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">Konsultasi mendalam dengan salah satu spesialis kami</h6>
								<p class="detail__popup-txt">Pelayanan profesional dan konsultasi untuk pasien dan hasil akhir yang diharapkan pasien. </p>
							</div>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">Tutup</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-contour">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-contour type-quotation2">
						<h4 class="detail__section-tit">
							<strong>Pembentukan kontur wajah,
							<span class="color-contour6">Langkah pertama</span> yang krusial</strong>
						</h4>
						<p class="detail__section-subtit">Persiapan sistematik melalui konsultasi mendalam dan peralatan yang canggih</p>
						<p class="detail__section-txt color-contour3">
							Karena wajah merupakan objek tiga dimensi, Pembentukan kontur wajah BANOBAGI didasarkan pada data-data dari para spesialis dan pengertian yang benar mengenai bentuk wajah dari segala sisi. Selain itu, para spesialis kami menganalisis wajah pasien secara anatomis untuk menghasilkan wajah yang alamiah. BANOBAGI menganggap penting suatu dasar kecantikan yang berfokus pada kontur wajah yang proporsional untuk membentuk wajah yang cantik dan ekspresi wajah yang lebih alamiah.
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-contour">
			<div class="detail__section-set">
				Persiapan Operasi BANOBAGI yang sistematis
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-contour">Tutup</a></span>
			</div>
		</div>
    </section>

    <section class="fs_section contourSection04" data-section-name="contourSection04">
		<div class="detail__inner">
	  		<div class="detail__vertical">
	  			<div class="detail__section-box type-wide type-contour type-full">
	  				<h4 class="detail__section-tit">
						Operasi pembentukan kontur wajah, BANOBAGI lakukan secara
						<strong class="color-contour4">terperinci.</strong>
	  				</h4>
	  				<p class="detail__section-subtit">Rahasia kesuksesan BANOBAGI ialah perawatan pasca operasi</p>
	  				<p class="detail__section-txt">
						Tidak peduli seberapa bagus operasi yang dilakukan, hasil akhir operasi tetap tergantung pada proses pemulihan dan perawatan pasca operasi. Penyembuhan otot dan kulit merupakan hal esensial dalam mengadaptasi perubahan bentuk tulang. BANOBAGI telah mengembangkan perawatan pasca operasi khusus, berdasarkan pengalaman bertahun-tahun dan hasil yang memuaskan. <span class="color-contour5">Perawatan pasca operasi yang spesifik, terperinci, dan profesional akan membantu pasien mendapatkan hasil terbaik. </span>
	  				</p>
	  			</div>
				<div class="layer-doc2">
				  	<ul class="layer-doc2__list">
				  		<li class="layer-doc2__item nth-1">
				  			<div class="layer-doc2__box">
				  				<div class="layer-doc2__wrap">
				  					<h5 class="layer-doc2__tit">Sistem check-up rutin</h5>
				  				</div>
				  			</div>
				  		</li>
				  		<li class="layer-doc2__item nth-2">
				  			<div class="layer-doc2__box">
				  				<div class="layer-doc2__wrap">
				  					<p class="layer-doc2__txt">Untuk pemulihan yang lebih cepat</p>
				  					<h5 class="layer-doc2__tit">Peralatan yang baru, spesifik, dan modern</h5>
				  				</div>
				  			</div>
				  		</li>
				  		<li class="layer-doc2__item nth-3">
				  			<div class="layer-doc2__box">
				  				<div class="layer-doc2__wrap">
				  					<h5 class="layer-doc2__tit">Proses pemulihan yang sistematis</h5>
				  				</div>
				  			</div>
				  		</li>
				  	</ul>
				</div>
	  		</div>
		</div>
    </section>

	<section class="fs_section contourSection05 detail-doctor" data-section-name="detail-docter">
	  	<div class="detail__inner">
	  		<div class="detail__vertical">
				<div class="detail-doctor__wrap">
					<p class="detail-doctor__txt">Details of Banobagi’s <span class="weight-bold">Face Contouring</span> Surgery</p>
					<h4 class="detail-doctor__tit">Tim Eksklusif Detail <span class="weight-bold detail-doctor__highlight">Operasi Kontur Wajah</span> BANOBAGI</h4>
					<ul class="detail-doctor__list">
						<% for(var i = 1; i<= 9; i++){%>
							<li class="detail-doctor__item js-doctor-hover">
								<a href="" class="detail-doctor__link">
									<div class="detail-doctor__area">
										<div class="detail-doctor__img"><img src="../../images/detail/detail_doctor_1.jpg" loading="lazy" alt="" class="img-w100"></div>
										<div class="detail-doctor__outer">
											<div class="detail-doctor__inner">
												<div class="detail-doctor__vertical">
													<p class="detail-doctor__department">Dokter Spesialis Bedah Plastik</p>
													<p class="detail-doctor__name">Jaesang Barn</p>
												</div>
											</div>
										</div>
									</div>
								</a>
							</li>
						<%}%>
					</ul>
					<p class="detail-doctor__noti">※ <span class="weight-medium">Klik</span> Staf medis untuk <span class="weight-medium">pergi ke Halaman Introduksi</span>.</p>
				</div>
			</div>
	  	</div>
  	</section>

	<section class="fs_section contour-section99" data-section-name="contour-section99" id="contour-section99">
		<div class="onepage-video type-contour">
			<div class="onepage-video__wrap">
				<div class="onepage-video__vertical">
					<p class="onepage-video__txt type-star">Operasi Kontur Wajah Minimal 20 tahun<i>!</i></p>
					<h3 class="onepage-video__tit">Kontur Wajah BANOBAGI</h3>
					<h4 class="onepage-video__subtit">Tim Dokter Spesial Kontur Wajah lulusan Universitas Nasional Seoul</h4>
					<div class="onepage-video__outer">
						<div class="onepage-video__inner">
							<iframe id="onepage-video__iframe" src="https://player.vimeo.com/video/360442945?muted=1&amp;autoplay=1" class="onepage-video__iframe" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
						</div>
					</div>
					<a href="" class="onepage-video__btn js-consultation">Konsultasi</a>
					<div class="onepage-video__arrow"><img src="../../images/content/detail_scroll.png" class="img-normal" loading="lazy" alt="scroll - bottom"/></div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
