<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
    <div class="content-visual type-contour">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Temukan garis V yang lebih menarik</p>
				<h3 class="content-visual__tit"># Reduksi <span class="color-contour7">rahang kotak</span></h3>
				<p class="content-visual__txt2">Garis rahang yang menarik dengan berbagai sudut</p>
			</div>
		</div>
    </div>
    <!-- //visual -->

	<!-- Content -->
	<div class="content type-square">
		<div class="content-wrap">
		   	<div class="content-section type-first">
			   	<div class="contour-box1">
				   	<div class="content-section__wrap">
					   	<div class="content-section__box">
						   	<h4 class="content-section__tit type-left">
							   	<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
							   	Garis V hanyalah sebuah ide:
							   	<strong class="color-contour7"><span class="inline-block">Hal ini harus tidak</span></strong>
							   	distandarisasi.
						  	</h4>
						   	<p class="content-section__txt1">
							   	Memiliki garis V merupakan hal mendasar untuk membentuk wajah yang menarik: apakah daya tariknya?<br><br>
								Sebenarnya keindahan wajah tergantung dari proporsionalitas dagu dan rahan. Garis rahang yang lembut memberikan seseorang senyuman yang lebih menarik. Oleh karena itu, kami dapat mengatakan bahwa inti dari reduksi rahang adalah <strong class="content-highlight type-contour">mengkonstruksikan garis rahang bawah yang jelas dan proporsional.</strong>
						   	</p>
						   	<div class="contour-box1__img">Reduksi rahang kotak img1</div>
						   	<div class="quotation2 type-contour">
							   	<p class="quotation2__txt txt-v5">
								   	Memberikan semua orang garis rahang V adalah hal yang sia-sia. Sekali kami mengerti esensi dari reduksi rahang bawah, <i class="quotation2__style1">ini bisa dilakukan untuk secara operasi menampilkan garis rahang V yang lebih menarik bagi setiap pasien.</i> Hal ini memungkinkan pembuatan desain rahang yang bersinar dari segala sudut, lebih dari sekedar bentuk V yang terlihat dari depan.
							   	</p>
						   	</div>
						   	<p class="content-section__txt2">
							   	Garis V Banobagi adalah
							   	<span class="color-contour8">bentuk V yang lembut dengan lekukan yang indah dari berbagai sudut, dari pangkal dagu sampai dengan ujungnya.</span>
						   	</p>
					   	</div><!-- //content-section__box-->
				   	</div><!-- //content-section__wrap-->
			   	</div>
		   	</div><!-- //content-section -->

		   	<div class="content-section">
			   	<div class="contour-bg">
				   	<div class="contour-box2">
					   	<div class="content-section__box w-6">
						   	<h4 class="content-section__tit type-top">
								<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
							   	Itu akan lebih efektif untuk membuat peningkatan dengan
							   	<strong class="content-highlight2 type-contour">sekali operasi.</strong>
						   	</h4>
						   	<p class="content-section__txt1">
							  	Operasi rahang bawah pada umumnya dilakukan dengan memotong tulang rahang (misal pada sisi samping atau depan, dan lainnya) untuk kemudahan para dokter bedah. Misalnya, rahang kotak dapat direduksi dengan membuat kontur tepi rahang di sisi samping dan dagu yang tebal dapat ditangani dengan menonjolkan bagian ujungnya. Prosedur ini seringkali disalahartikan, garis rahang tidak hanya dibentuk oleh 1 tulang, tetapi juga terdiri dari 3 dimensi.
							   	<strong class="content-highlight type-contour">Hal ini memungkinkan tindakan dari beberapa sisi,</strong>
							   	depan maupun samping di waktu yang sama, yang menghasilkan hasil yang lebih halus dan proporsional.
						   	</p>
					   	</div>
					   	<div class="contour-box2__img">Reduksi rahang kotak img2</div>
				   	</div><!-- //contour-box2 -->
				   	<div class="contour-box3">
					   	<ul class="contour-box3__list">
						   	<li class="contour-box3__item">
							   	<img src="../../images/contour/contour_chin_img04.jpg" loading="lazy" alt="" class="hidden-tm">
							   	<img src="../../images/contour/contour_chin_img04_768.jpg" loading="lazy" alt="" class="hidden-p">
						   	</li>
						   	<li class="contour-box3__item">
							   	<img src="../../images/contour/contour_chin_img05.jpg" loading="lazy" alt="" class="hidden-tm">
							   	<img src="../../images/contour/contour_chin_img05_768.jpg" loading="lazy" alt="" class="hidden-p">
						   	</li>
					   	</ul>
					   	<p class="contour-box3__txt1">
						   	Prosedur demikian tidaklah mudah atau sederhana, ini membutuhkan dokter bedah untuk melekukan secara halus baik dari depan dan sisi tanpa menimbulkan stres pada kondisi pasien.
					   	</p>
					   	<p class="contour-box3__txt2">
						   	Reduksi rahang kotak dengan hasil yang alami dan indah: hanya dapat diperoleh dari <span class="color-contour8">tim pembentukan wajah Banobagi yang menawarkan presisi, keterampilan, dan pengalaman para spesialis. </span>
					   	</p>
				   	</div><!-- //contour-box3 -->
			   	</div>
		   	</div><!-- //content-section-->

		   	<div class="content-section">
			   	<div class="contour-box4">
				   	<h4 class="content-section__tit type-center">
					   	<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
					   	Menemukan solusi yang tepat pada sebuah prosedur
					   	<strong class="color-contour7">yang mencakup berbagai jenis jaringan lunak.</strong>
				   	</h4>
				   	<div class="contour-box4__img">
					   	<img src="../../images/contour/contour_chin_img06.jpg" loading="lazy" alt="" class="hidden-tm">
					   	<img src="../../images/contour/contour_chin_img06_768.jpg" loading="lazy" alt="" class="hidden-p">
				   	</div>
				   	<p class="content-section__txt1">
						Secara umum, tulang rahang yang besar memiliki otot yang besar juga, dan otot wajah yang besar biasanya memiliki jaringan lemak bawah kulit dan dalam mulut yang banyak juga. Pasien dengan kekhawatiran demikian, koreksi hanya dengan memotong tulang rahang tidaklah efektif.<br>
						Akan lebih baik untuk mengambil pendekatan yang lebih komprehensif yang terdiri dari aneka jaringan wajah seperti otot dan lemak.<br>
						Diagnosis rumit dan operasi demikian secara natural menutupi seluruh lekukan wajah, dan memerlukan tim medis yang berpengetahuan untuk hasil yang memuaskan.
				   	</p>
			   	</div>
		   	</div><!-- //content-section-->
		   	<div class="content-section">
			   	<div class="contour-box5">
				   	<ul class="contour-box5__list">
					   	<li class="contour-box5__item type-txt">
						   	<h4 class="content-section__tit">
							   	BANOBAGI
						   	</h4>
						   	<p class="content-section__txt1 type-special">
								—sejak didirikannya pada tahun 2000-Banobagi telah bertumbuh menjadi institusi medis dengan infrastruktur sistematis, dimana para spesialis dari berbagai bidang berkumpul, melakukan penelitian, dan beroperasi pada masalah medis yang diberikan.<br><br>
								Operasi reduksi rahang kotak Banobagi merupakan produk unggulan spesialis pembentukan wajah, dimana melibatkan banyak tulang wajah dan jaringan lunak sekitar wajah.
						   	</p>
						   	<p class="content-section__txt2">
							   	Sebagai hasilnya, metode reduksi rahang kotak terus disempurnakan secara komprehensif: mulai dari pemotongan tulang rahang bawah, reduksi
							   	<span class="color-contour9">otot samping penyangga rahang, pemotongan tulang bagian luar,</span> sampai dengan <span class="color-contour9">penghilangan lemak dalam mulut. </span>
						   	</p>
					   	</li>
					   	<li class="contour-box5__item type-img">
						   	<img src="../../images/contour/contour_chin_img07_mini.jpg" loading="lazy" alt="" class="hidden-tm">
						   	<img src="../../images/contour/contour_chin_img07_mini_768.jpg" loading="lazy" alt="" class="hidden-pm">
						   	<img src="../../images/contour/contour_chin_img07_mini_640.jpg" loading="lazy" alt="" class="hidden-pt">
					   	</li>
				   	</ul>
			   	</div>
			   	<div class="contour-box6">
				   	<div class="item-box1">
					   	<ul class="item-box1__list js-wrapper">
						   	<li class="item-box1__item">
							   	<div class="item-box1__inner js-height">
								   	<h5 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> Pemotongan tulang rahang bawah</h5>
								   	<p class="item-box1__txt txt-v1">
									   	Sudut yang cukup jelas yang membentuk tulang rahang di bawah batas telinga sering disebut sebagai “rahang kotak”. Manipulasi yang berlebihan pada rahang ini dapat menyebabkan rahang tampak tebal dan wajah yang tampak tidak alami. <br><br>

									   	Pemotongan tulang rahang bawah dilakukan secara halus dengan mengikis dan menipiskan tulang rahang bawah, menghasilkan lekuk alami saat dilihat baik dari depan maupun samping; selain itu rahang tampak ramping dan memuluskan bentuk wajah bawah sampai ke dagu.
								   	</p>
							   	</div>
						   	</li>
						   	<li class="item-box1__item">
							   	<div class="item-box1__inner js-height">
								   	<h5 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> Reduksi otot samping penyangga rahang</h5>
								   	<p class="item-box1__txt txt-v1">
									   	Saat rahang bawah digerakan, kita dapat merasakan otot samping yang kuat, yang terletak tepat di bawah telinga, inilah otot maseter; otot yang berperan dalam mengunyah, namun dapat menjadi terlalu menonjol jika terlalu banyak dimanipulasi.<br><br>

									   	Botoks dapat memberikan efek reduksi sementara, namun prosedur operasi dapat menghilangkan bagian yang berlebihan sehingga reduksi otot ini bertahan lama dan memuaskan.
								   	</p>
							   	</div>
						   	</li>
					   	</ul>
					   	<ul class="item-box1__list">
							<li class="item-box1__item">
								<div class="item-box1__inner js-height">
									<h5 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> Pemotongan tulang wajah bagian luar</h5>
									<p class="item-box1__txt txt-v1">
										Tulang wajah terdiri dari 3 lapis, bagian luar, tulang rawan, dan tulang bagian dalam. Pemotongan tulang bagian luar dilakukan dengan mengikis sedikit lapisan tulang luar, yang menghasilkan tampilan rahang lebih baik dengan aman dan efektif, oleh para dokter spesialis yang berpengalaman.
									</p>
								</div>
							</li>
							<li class="item-box1__item">
								<div class="item-box1__inner js-height">
									<h5 class="item-box1__tit tit-v1"><span class="item-box1__plus"><span class="item-box1__plus-wrap">plus</span></span> Pengangkatan lemak dalam mulut</h5>
									<p class="item-box1__txt txt-v1">
										Terdapat 2 lapis lemak di wajah: lapisan tipis lemak bawah kulit, dan lemak yang di dalam mulut di balik pipi. Lemak bawah kulit dapat dihilangkan dengan mudah melalui sedot lemak, tetapi lemak dalam mulut di balik pipi harus melalui eksisi dari bagian dalam mulut.
									</p>
								</div>
							</li>
					   	</ul>
				   	</div>
			   	</div>
		   	</div>

		   	<div class="content-section type-margin">
			   	<div class="contour-box7">
				   	<div class="contour-box7__box">
					   	<p class="contour-box7__txt">Operasi Banobagi</p>
					   	<h4 class="content-section__tit">
						   	Ahli dalam operasi pembentukan wajah tercanggih: dikenal baik oleh media maupun akademia
					   	</h4>
				   	</div>
				   	<div class="contour-box7__img">Reduksi rahang kotak img3</div>
			   	</div>
			   	<div class="contour-box8">
				   	<div class="contour-box8__box">
					   	<p class="contour-box8__txt">Let Me In, Let Me In: Thailand, Vietnam Change Life, Beautiful You, Trendy Men, dan media lainnya.</p>
					   	<h5 class="content-section__tit">
						   	Dokter andalan yang terpercaya
					   	</h5>
				   	</div>
			   	</div>
			   	<div class="contour-img">
				   	<img src="../../images/contour/contour_chin_img10.jpg" loading="lazy" alt="Reduksi rahang kotak news">
			   	</div>
			   	<div class="contour-box9">
				   	<div class="content-section__wrap">
					   	<div class="content-section__box w-4">
						   	<p class="contour-box9__txt">Berbagai aktivitas akademis, publikasi penelitian, dan lainnya</p>
						   	<h5 class="content-section__tit">
							   	Dr. Park Jong Lim, minatnya hanya pada pembentukan wajah
						   	</h5>
					   	</div>
					   	<div class="content-section__box w-6">
						   	<img src="../../images/contour/contour_chin_img11.png" loading="lazy" alt="Reduksi rahang kotak news">
					   	</div>
				   	</div>
			   	</div><!-- //contour-box9 -->
			   	<div class="contour-img">
				   	<img src="../../images/contour/contour_chin_img12.jpg" loading="lazy" alt="Reduksi rahang kotak">
			   	</div>
		   	</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-contour">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Informasi Operasi</h4>
							<!-- <p class="operation-v2__subtit">Sebuah rencana operasi reduksi rahang kotak yang disesuaikan sesuai kondisi pasien</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
										<p class="operation-v2__txt txt-new1"> ± 1 jam 30 menit</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
										<p class="operation-v2__txt txt-new1">Anestesi Total</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
										<p class="operation-v2__txt txt-new1">Dilepas ± stlh 14 hari</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
										<p class="operation-v2__txt txt-new1"> ± 1 hari</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
										<p class="operation-v2__txt txt-new1"> ± 2 X</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
										<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 5 ~ 7 hari</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-contour">
								<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 5){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Pasien dapat merasakan nyeri setelah efek obat bius hilang.<br>
									Rasa kaku atau tidak nyaman dapat muncul tapi teratasi dengan obat yang diresepkan.<br>
									 Nyeri dan bengkak akan berkurang setelah 5 hari. <br>
									 Perawatan sistematis diperlukan untuk pemulihan yang mulus.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
									<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
	   	</div><!--//content-wrap-->
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
