<%
	type = "content"
	page = "contour"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
    <div class="content-visual type-front">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Keputusan garis yang jelas untuk wajah yang kecil</p>
				<h3 class="content-visual__tit"># <span class="color-contour9">Genioplasty</span></h3>
				<p class="content-visual__txt2">Garis rahang yang rapi & harmonis dengan bentuk wajah</p>
			</div>
		</div>
    </div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-square">
		<div class="content-wrap">
            <div class="content-section type-first">
                <div class="front-box1">
                    <div class="front-box1__box">
                        <h4 class="content-section__tit type-left">
      						<span class="content-section__number ">
      							<span class="content-section__number-wrap">
      								01
      							</span>
      						</span>
      						Dagu adalah <strong class="content-highlight2 type-front">dasar</strong> yang mendefinisikan proporsi wajah
      					</h4>
                        <p class="content-section__txt1">
      						Biasanya, kita mengukur panjang atau proporsi wajah berdasarkan jarak dari dahi sampai ujung dagu. Ini berarti bahwa keseluruhan proporsi wajah dilihat berdasarkan posisi dagu. Jika begitu, <strong>bagaimana seharusnya posisi dagu untuk proporsi wajah yang ideal?</strong>
                            <br><br class="hidden-m">

  							Orang-orang biasanya menganggap <strong class="color-contour18">rasio 1:1:0.8</strong> sebagai perbandingan paling ideal; kening, bawah hidung dan ujung dagu.
  							Jika rasio dagu lebih panjang, wajah terlihat lebih tua. Sebaliknya, jika lebih pendek, garis samar antara leher dan wajah menghasilkan kesan wajah yang tidak jelas. Jika dagu miring atau lebar, secara estetika juga tidak memuaskan.
                        </p>
                        <p class="content-section__txt2">
                            <strong>Oleh karena itu, dalam kasus tersebut, Anda dapat mendapatkan proporsi wajah yang ideal melalui Genioplasty.</strong>
                        </p>
                        <div class="brace type-front">
      						<p class="brace__txt txt-v4">
  								<span class="color-contour18">Rasio wajah 1 : 1 : 0.8~0.9 (kening, bawah hidung & dagu hampir sama dalam ukuran)</span> adalah proporsi yang paling ideal
      						</p>
      					</div>
                    </div>
                    <div class="front-box1__img"></div>
                </div>
            </div>

            <div class="content-section type-margin0">
                <div class="front-box2">
                    <div class="front-box2__box">
                        <div class="front-box2__wrap">
                          	<h4 class="content-section__tit type-center">
                          	    <span class="content-section__number">
                          	        <span class="content-section__number-wrap">
                          	            02
                          	        </span>
                          	    </span>
                          	    Genioplasty harus dilakukan <strong class="color-contour19">3D</strong>
                          	</h4>
                          	<p class="content-section__txt1">
								Biasanya, Genioplasty berfokus pada bentuk dagu seperti V-line / panjang dagu yg dilihat dari depan. Tetapi, dagu adalah bagian wajah yg bersifat 3D, sehingga dagu adlh poin yg juga penting untuk mendefinisikan kesan wajah dari samping.
								Jika rasio dahi-hidung-dagu seimbang dari samping, hal tsbt menciptakan profil yg lebih menarik. Selain itu, posisi dagu yg tepat membawa efek wajah untuk terlihat lebih ramping karena perbatasan antara leher dan wajah menjadi lebih jelas.
                          	</p>
                          	<p class="content-section__txt2">
                          	    Oleh karena itu, <span class="color-contour20">genioplasty yg tepat adalah hal yang dipertimbangkan bukan hanya dari panjang / bentuk tetapi juga sisi 3D dari samping.</span>
                          	</p>
                        </div>
                        <div class="front-box2__model">Lebar Tulang pipi 1 (Garis dasar), Lebar Rahang 0.7, Lebar dagu 0.4</div>
                    </div>

                    <div class="front-box2__area">
                        <div class="list-box type-front">
                            <div class="list-box__box">
                                <div class="list-box__wrap">
                                    <div class="list-box__vertical">
                                        <h5 class="list-box__tit tit-v3">
                                            Kunci Genioplasty
                                            <strong>POINT</strong>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <ol class="list-box__list">
                                <li class="list-box__item txt-v3">Garis ramping yg berfokus pada dagu</li>
                                <li class="list-box__item txt-v3">Panjang yg tepat sesuai proporsi wajah</li>
                                <li class="list-box__item txt-v3">Bentuk dagu yg harmonis dengan siluet wajah dari samping</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- tab  -->
  			<div class="content-tab type-front">
  				<div class="content-tab__inner">
  					<ul class="content-tab__list">
  						<!-- <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-broken">절골 앞턱 수술</a></li> -->
                          <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-implant">Koreksi dagu dengan implan</a></li>
  						<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-injection">Penyuntikan dagu</a></li>
  					</ul>
  				</div>
  			</div>

  			<!-- tab contents -->
            <!-- tab1 : 절골 앞턱 수술 -->
  			<div class="content-tab__page page-broken">
  				<div class="content-tab__box">
                    <div class="front-box3">
                        <h4 class="content-section__tit">
                            <strong>절골을 통한<br class="hidden-pt"> 앞턱 수술,</strong><br>
                            거의 모든 케이스에 <br class="hidden-pt"><strong class="content-highlight2 type-front">가능</strong>합니다
                        </h4>
                        <p class="content-section__txt1">
                            절골을 통한 앞턱 수술의 가장 큰 장점은 다양한 케이스에 대한 개선이 가능하고 그 효과가 크다는 것입니다.<br class="hidden-m">
                            다양한 수술법들이 고안되어, 턱이 길고 돌출된 경우, 짧고 들어간 경우,<br class="hidden-m">
                            삐뚤거나 라인이 뭉뚝한 경우 등 거의 모든 케이스에 대한 개선이 가능하죠.<br>
                            <strong>또한 뼈 자체의 개선이기 때문에 그 정도가 비교적 심한 경우에도 개선이 가능하며 그만큼 느껴지는 만족도도 높습니다.</strong>
      					</p>
                        <div class="front-type">
                            <ul class="front-type__list">
                                <li class="front-type__item">
                                    <div class="front-type__img">
                                        <img src="../../images/contour/front/front_type_img_01.jpg" loading="lazy" alt="턱이 길고 돌출된 얼굴">
                                        <p class="front-type__caption">
                                            <span class="color-contour19">턱이 길고</span> 돌출된 얼굴
                                        </p>
                                	</div>
                                </li>
                                <li class="front-type__item">
                                    <div class="front-type__img">
                                        <img src="../../images/contour/front/front_type_img_02.jpg" loading="lazy" alt="턱이 짧고 들어간 얼굴">
                                        <p class="front-type__caption"><span class="color-contour19">턱이 짧고</span> 들어간 얼굴</p>
                                    </div>
                                </li>
                                <li class="front-type__item">
                                    <div class="front-type__img">
                                        <img src="../../images/contour/front/front_type_img_03.jpg" loading="lazy" alt="턱이 삐뚤어진 얼굴">
                                        <p class="front-type__caption"><span class="color-contour19">턱이 삐뚤어진</span> 얼굴</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="front-point">
                            <ul class="front-point__list">
                                <li class="front-point__item">
                                    <div class="front-point__wrap">
                                    	<p class="front-point__txt">턱 끝 전진</p>
                                    </div>
                                </li>
                              	<li class="front-point__item">
                                  	<div class="front-point__wrap">
                                  		<p class="front-point__txt">턱 뼈 후진</p>
                                 	</div>
                              	</li>
                                <li class="front-point__item">
                                    <div class="front-point__wrap">
                                        <p class="front-point__txt">비대칭 교정</p>
                                    </div>
                                </li>
                                <li class="front-point__item">
                                    <div class="front-point__wrap">
                                        <p class="front-point__txt">턱 끝 길이<br class="hidden-p"> 단축</p>
                                    </div>
                                </li>
                                <li class="front-point__item">
                                    <div class="front-point__wrap">
                                        <p class="front-point__txt">턱 끝 길이<br class="hidden-p"> 연장</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="front-box4">
                        <h4 class="content-section__tit">
                            <strong>환자의 상태</strong>에<br class="hidden-pt"> 적합한 방법이<br>
                            <strong class="color-contour18">가장 좋은 방법</strong>입니다
                        </h4>
                        <p class="content-section__txt1">
  							앞턱 수술에 관한 정보들을 찾다 보면 앞턱 전진, ㅅ 절골, T 절골 등 그 방법이 실로 다양한 것을 볼 수 있습니다.<br class="hidden-m">
                            각자 나름의 이유를 들어 어떤 특정 방법이 가장 효과적이라며 정답인 듯이 이야기하죠. 하지만 어떤 한가지 방법을 모든 환자분들에게 획일화하여 대입할 수는 없습니다.<br>
                            개개인마다 턱의 상태가 다르고, 추구하는 바 또한 다르기 때문입니다.
  						</p>
                        <p class="content-section__txt2">
                            <strong>따라서 가장 좋은 앞턱 성형은 전문의가 모든 앞턱 수술 방법을 알고, <span class="color-contour18">정밀한 진단을 통해 환자 개개인에 적합한 방법을 선택</span>하여 수술하는 것이라고 할 수 있습니다. </strong>
                        </p>

                        <div class="front-case">
                            <div class="front-case__box">
                                <div class="front-case__tit-wrap">
                                    <p class="front-case__tit">앞턱이 너무 길거나<br>돌출되었을 경우</p>
                                </div>
                                <div class="front-case__list-wrap">
                                    <ul class="front-case__list">
                                        <li class="front-case__item">
                                            <div class="front-case__item-wrap">
                                                <img src="" loading="lazy" alt="">
                                                <p class="front-case__txt">ㅅ자 절골</p>
                                            </div>
                                        </li>
                                        <li class="front-case__item">
                                            <div class="front-case__item-wrap">
                                                <img src="" loading="lazy" alt="">
                                                <p class="front-case__txt">T자 절골</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="front-case__box">
                                <div class="front-case__tit-wrap">
                                    <p class="front-case__tit">앞턱이 너무 짧거나<br>들어간 경우</p>
                                </div>
                                <div class="front-case__list-wrap">
                                    <ul class="front-case__list">
                                        <li class="front-case__item">
                                            <div class="front-case__item-wrap">
                                                <img src="" loading="lazy" alt="">
                                                <p class="front-case__txt">앞턱 전진</p>
                                            </div>
                                        </li>
                                        <li class="front-case__item">
                                            <div class="front-case__item-wrap">
                                                <img src="" loading="lazy" alt="">
                                                <p class="front-case__txt">앞턱 + 뼈 이식</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="front-box5">
                    	<h4 class="content-section__tit">
                            <strong>바노바기<br class="hidden-pt"> 운곽 성형 전문팀</strong>의<br>
                            <strong class="color-contour21">절골 앞턱 수술</strong>은
                            <strong class="content-highlight2 type-front type-alpha">효과적</strong>입니다
                        </h4>
                        <p class="content-section__txt1">
      						바노바기는 오랜 경험과 노하우를 가진 윤곽 성형 전문팀이 앞턱 수술을 책임지고 있습니다.<br>
                            수많은 환자분들과의 대화와 발 빠른 장비 도입을 통한 정밀한 진단을 기반으로, 다양한 학술 교류와 연구로 체득된 다양한 절골 방법 중 환자에게 적절한 수술 방법을 결정하죠.
      					</p>
                        <p class="content-section__txt2">
      						또한 안면 근육과 지방, 피부 등 얼굴 각 층에 대한 전문적인 이해를 가지고 수술하기 때문에 앞턱 수술 후 생길 수 있는<br class="hidden-t">
                            조직 손상이나 피부 처짐 등의 부작용도 사전에 예방이 가능합니다.
      					</p>

                        <div class="front-box5__doctor-img">
                            <img src="../../images/contour/front/front_doctor_01_m.png" loading="lazy" alt="">
                        </div>
                        <div class="front-box5__doctor">
                            <div class="front-box5__name nth-1">
                                성형외과전문의
                                <strong>오창현 원장</strong>
                            </div>
                            <div class="front-box5__name nth-2">
                                성형외과전문의
                                <strong>박종림 원장</strong>
                            </div>
                        </div>
                    </div>

                    <div class="front-box6">
                        <ul class="front-box6__list">
                            <li class="front-box6__item nth-1">
                                <div class="front-box6__wrap">
                                    <div class="front-box6__img">
                                        <div class="front-box6__caption">
                                            <div class="front-box6__vertical">
                                                심도 있는 상담과 장비를 통한 정밀 진단
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="front-box6__item nth-2">
                                <div class="front-box6__wrap">
                                    <div class="front-box6__img">
                                        <div class="front-box6__caption">
                                            <div class="front-box6__vertical">
                                                오랜 경험과 노하우로<br class="hidden-pm"> 맞춤 수술 가능
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="front-box6__item nth-3">
                                <div class="front-box6__wrap">
                                    <div class="front-box6__img">
                                        <div class="front-box6__caption">
                                            <div class="front-box6__vertical">
                                                얼굴 각 층에 대한 이해로 처짐없는<br class="hidden-pm"> 윤곽 추구
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="front-box__wrap">
                        <div class="front-box7">
                            <div class="content-section__box w-6">
                                <h4 class="content-section__tit">
                                    <span class="content-highlight2 type-front type-sky">한 번의 수술</span>로<br class="hidden-t">
                                    개선하는 것이 <br class="hidden-t"> <strong>효과적입니다.</strong>
                                </h4>
                            	<p class="content-section__txt1">
                                    흔히 턱 수술을 편의상 옆 턱, 앞 턱 등으로 구분하여 진행하곤 합니다.<br class="hidden-tm">
                                    사각 턱이 고민이라면 옆의 각진 부분을 깎아내고, 앞 턱이 고민이라면<br class="hidden-tm">
                                    턱 끝을 돋보이게 해줄 수 있는 수술을 진행하는 식이죠.<br class="hidden-tm">
                                    하지만 실제 사람의 아래턱은 하나의 뼈로 이루어져 있습니다. 또한 입체적이죠.<br class="hidden-pm">
                                    <span class="content-highlight type-contour">그래서 앞턱 수술은 옆 턱과 앞 턱을 한 번에 진행하는 것이 좋습니다.</span>
                                    그래야만 비율적으로 더 아름다운 결과를 기대할 수 있고 자연스럽습니다.
                                </p>
                            </div>
                            <div class="front-box7__img">앞턱 이미지</div>
                        </div>

                        <div class="front-box8">
                            <ul class="front-box8__list">
                                <li class="front-box8__item">
                                    <img src="../../images/contour/front/front_img_06.jpg" loading="lazy" alt="" class="hidden-tm">
                                    <img src="../../images/contour/front/front_img_06_t.jpg" loading="lazy" alt="" class="hidden-p">
                                </li>
                                <li class="front-box8__item">
                                    <img src="../../images/contour/front/front_img_07.jpg" loading="lazy" alt="" class="hidden-tm">
                                    <img src="../../images/contour/front/front_img_07_t.jpg" loading="lazy" alt="" class="hidden-p">
                                </li>
                            </ul>
                            <p class="front-box8__txt1">
                                물론 이런 수술 방법은 단순하지도, 쉽지도 않습니다.<br>
                                환자에게 부담을 주지 않는 시간 내에 정면과 측면을 동시에 생각하며 진행해야 하니까요.
                            </p>
                            <p class="front-box8__txt2">
                                자연스럽고 아름다운 앞턱 수술,<br class="hidden-pt"> <span class="color-contour18">정밀한 계측과 숙련된 전문의의 기술을 갖춘<br class="hidden-tm">
                				바노바기 윤곽 성형 전담팀</span> 이기에 가능합니다.
                            </p>
                        </div>
                    </div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Informasi Operasi</h4>
									<!-- <p class="operation-v2__subtit">바노바기 절골 앞턱 수술은 회복이 빠릅니다</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
												<p class="operation-v2__txt txt-new1">± 1 jam</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
												<p class="operation-v2__txt txt-new1">Anestesi Total</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
												<p class="operation-v2__txt txt-new1">Dilepas ± stlh 14 hari</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
												<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
												<p class="operation-v2__txt txt-new1"> ± 2 X</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
												<p class="operation-v2__txt txt-new1">s normal dpt dilakukan stlh ± 5 ~ 7 hari</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Aftercare sistematis kami membantu penyembuhan pasien lebih cepat & lebih proaktif.<br>
											Rasa nyeri dapat meningkat ketika anestesi hilang & dapat meningkat seiring masa penyembuhan.<br>
											Tingkat rasa sakit saat pencabutan benang/ pembersihan jahitan hanyalah sengatan ringan.<br>
											Demam & rasa sakit akibat pembengkakan dapat diatasi melalui obat penghilang rasa sakit & dapat dibantu ice-pack.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
											<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
                </div>
  			</div>

            <!-- tab2 : Koreksi dagu dengan implan -->
  			<div class="content-tab__page page-implant is-active">
  				<div class="content-tab__box">
                    <div class="front-box9">
                        <h4 class="content-section__tit">
							<strong>Dalam kasus tertentu</strong>, Koreksi dagu dengan implan juga <strong class="content-highlight2 type-front">dapat dilakukan</strong>
                        </h4>
                        <p class="content-section__txt1">
							Bagi pasien yg merasa terbeban dgn operasi Osteotomi atau didiagnosa tidak diperlukan, koreksi dagu dengan implan adalah metode yang tepat.
							Koreksi dagu dengan implan dapat membuat bentuk dagu ideal dengan penyisipan implan seperti
                            <span class="content-section__info pop-info">
                                <a href="" class="info-btn js-info type-front">
                                    <span class="info-btn__icon type-design">info btn</span>
                                        silikon, Gore-tex
                                    	<span class="info-desc type-design" style="display: none;">
                                        	<span class="info-desc__item">
                                                <span class="info-desc__box">
                                                    <span class="info-desc__tit"><span class="info-desc__icon"></span>Apa itu Silikon atatu Gore-Tex?<br class="hidden-tm"></span>
                                                    <span class="info-desc__content">
                                                        <img src="../../images/contour/front/front_img_02.jpg" loading="lazy" alt="실리콘, 고어텍스 이미지" class="info-desc__thumb">
                                                      	<span class="info-desc__txt1">
                                                          	Bahan tersebut diketahui sebagai bahan yg relatif aman untuk badan manusia berdasarkan studi klinik yg telah lama dilakukan. Bahan tersebut mudah dibentuk sesuai bagian yg dibutuhkan dan bahaya perubahan / kerusakan sangatlah kecil.
                                                       	</span>
                                                	</span>
                                            	</span>
                                            <button class="info-desc__btn js-close">
                                                <span class="info-desc__stick type-left"></span>
                                                <span class="info-desc__stick type-another"></span>
                                                Tutup
                                            </button>
                                        </span>
                                    </span>
                                </a>
                            </span>
  							dll. Ini hanyalah prinsip untuk melengkapi kekurangan panjang dagu / tonjolan dagu. Bagaimanapun, kondisi dagu yg menonjol ke depan(Two Jaw) tidak bisa dikoreksi dengan metode ini, tetapi tetap bisa dalam kasus pengoreksian dagu pendek / dagu yang tenggelam.
      					</p>
                        <div class="front-type">
                            <ul class="front-type__list">
                                <li class="front-type__item">
                                    <div class="front-type__img">
                                        <img src="../../images/contour/front/front_type_img_04.jpg" loading="lazy" alt="Short chin">
                                        <p class="front-type__caption"><span class="color-contour19">Dagu pendek</span></p>
                                    </div>
                                </li>
                                <li class="front-type__item">
                                    <div class="front-type__img">
                                        <img src="../../images/contour/front/front_type_img_05.jpg" loading="lazy" alt="Retracted chin and protruded mouth">
                                        <p class="front-type__caption"><span class="color-contour19">Dagu yang tenggelam</span> menyebabkan mulut terlihat menonjol</p>
                                    </div>
                                </li>
                                <li class="front-type__item">
                                    <div class="front-type__img">
                                        <img src="../../images/contour/front/front_type_img_06.jpg" loading="lazy" alt="A small chin that creates double-jaw">
                                        <p class="front-type__caption"><span class="color-contour19">Dagu kecil yang</span> menyebabkan double chin</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="front-box9__box">
                            <div class="brace type-front type-another">
          						<p class="brace__txt txt-v4">
          							Dagu kecil menyamarkan garis antara leher dan wajah!<br>
                                    <span class="color-contour18">Memberikan hasil dagu yg indah & menciptakan garis kontur yang jelas!</span>
          						</p>
          					</div>
                        </div>
                    </div>

                    <div class="front-box10">
                        <h4 class="content-section__tit">
                            Ada
                            <strong class="content-highlight type-front">banyak manfaat</strong>
                            jika semua kondisi terpenuhi.
                        </h4>
                        <p class="content-section__txt1">
							Manfaat terbesar dari koreksi dagu dengan implan adalah metode ini jauh lebih tidak mengintimidasi dibandingkan operasi genioplasty osteotomi.
							Karena ini adalah operasi yang mudah dengan metode penyisipan implant yang sudah dibuat sesuai tulang dagu, operasi dilakukan dlm durasi singkat sehingga pasien dapat pulih dgn cepat.
  						</p>
                        <p class="content-section__txt2">
  							Selain itu, <span class="color-contour18">implan disisipkan</span> melalui kulit bagian dalam bibir, <span class="color-contour18">maka tidak ada banyak kekhawatiran akan bekas luka dan pnyesuaian implan yg tepat dengan dagu</span> membawa hasil yang sangat memuaskan
  						</p>
                    </div>

                    <div class="front-box11">
                        <ol class="front-box11__list">
                            <li class="front-box11__item nth-1">
                                <div class="front-box11__num">
                                    <span class="front-box11__step">STEP</span>
                                </div>
                                <div class="front-box11__img"></div>
                                <div class="front-box11__desc">
                                    <h5 class="front-box11__tit">Sayatan</h5>
                                    <p class="front-box11__txt">Membuat satu atau dua sayatan sepanjang 1 cm di bagian dalam bibir bawah.</p>
                                </div>
                            </li>
                            <li class="front-box11__item nth-2">
                                <div class="front-box11__num">
                                    <span class="front-box11__step">STEP</span>
                                </div>
                                <div class="front-box11__img"></div>
                                <div class="front-box11__desc">
                                    <h5 class="front-box11__tit">Penyisipan implan</h5>
                                    <p class="front-box11__txt">Menyisipkan implan yg disesuaikan dengan bentuk tulang pribadi</p>
                                </div>
                            </li>
                            <li class="front-box11__item nth-3">
                                <div class="front-box11__num">
                                    <span class="front-box11__step">STEP</span>
                                </div>
                                <div class="front-box11__img"></div>
                                <div class="front-box11__desc">
                                    <h5 class="front-box11__tit">Penjahitan</h5>
                                    <p class="front-box11__txt">Implan ditetapkan pada posisi aman sebelum dijahit</p>
                                </div>
                            </li>
                        </ol>
                    </div>

                    <div class="front-box12">
                        <div class="front-box12__wrap">
                            <div class="front-box12__box">
                                <div class="front-box12__tit">
                                    <h4 class="content-section__tit">
                  						<span class="content-highlight2 type-front type-gray">Implan</span> yang tepat menghasilkan bentuk dagu yg indah dan
                                        <span class="content-highlight2 type-front type-gray">garis kontur yang jelas</span>
                  					</h4>
                                </div>
                            </div>

                            <div class="front-box12__box2">
                                <div class="front-box12__list-wrap">
                                    <ul class="front-box12__list">
                                        <li class="front-box12__item nth-1">
                                            <p class="front-box12__txt">
                                                <strong class="color-contour22">Bekas luka tidak terlihat dr luar</strong>
												melalui sayatan di bagian dalam<br>
												mulut
                                            </p>
                                        </li>
                                        <li class="front-box12__item nth-2">
                                            <p class="front-box12__txt">
  												Operasi dapat dilakukan melalui
                                                <strong class="color-contour22">Anestesi Lokal</strong>
                                            </p>
                                        </li>
                                        <li class="front-box12__item nth-3">
                                            <p class="front-box12__txt">
												Operasi singkat dalam
                                                <strong class="color-contour22">30 menit</strong><br>
												saja
                                            </p>
                                        </li>
                                        <li class="front-box12__item nth-4">
                                            <p class="front-box12__txt">
                                                <strong class="color-contour22">Implan</strong> dengan<br>
                                                <strong class="color-contour22">berbagai bentuk</strong> dan ukuran
                                            </p>
                                        </li>
                                        <li class="front-box12__item nth-5">
                                            <p class="front-box12__txt">
                                                <strong class="color-contour22">Tidak perlu rawat inap</strong>
                                            </p>
                                        </li>
                                        <li class="front-box12__item nth-6">
                                            <p class="front-box12__txt">
  												Perubahan yang indah
                                                <strong class="color-contour22">tanpa osteotomi</strong>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-contour">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Informasi Operasi</h4>
									<!-- <p class="operation-v2__subtit">Koreksi dagu berbasis implan BANOBAGI hadir dengan pemulihan yang lebih cepat</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
												<p class="operation-v2__txt txt-new1"> ± 30 menit</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
												<p class="operation-v2__txt txt-new1">Anestesi Lokal</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
												<p class="operation-v2__txt txt-new1">Dilepas ± stlh 14 hari</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
												<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
												<p class="operation-v2__txt txt-new1"> ± 2 X</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
												<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 5 ~ 7 hari</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-contour">
										<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 2){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Aftercare sistematis kami membantu penyembuhan pasien lebih cepat & lebih proaktif. <br>
											Rasa nyeri dapat meningkat ketika anestesi hilang & dapat meningkat seiring masa penyembuhan. <br>
											Tingkat rasa sakit saat pencabutan benang/ pembersihan jahitan hanyalah sengatan ringan.<br>
											Demam & rasa sakit akibat pembengkakan dapat diatasi melalui obat penghilang rasa sakit & dapat dibantu ice-pack.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
											<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>

		            </div>
                </div>
  			</div>

            <!-- tab3 : Penyuntikan dagu-->
            <div class="content-tab__page page-injection">
  				<div class="content-tab__box type-margin0">
  					<div class="front-box13">
                        <div class="front-box13__wrap">
                            <div class="front-box13__box">
                                <div class="front-box13__tit">
                                    <h4 class="content-section__tit">
  										Jika diperlukan perubahan akurat dan detil, Anda dapat melakukan
                                        <span class="content-highlight2 type-front type-dark">perawatan injeksi dagu</span>
                  					</h4>
                                    <p class="content-section__txt1">
										Jika Anda tidak merasa siap dengan operasi osteotomi dan tidak tertarik dengan implan, injeksi dagu dapat menghasilkan volume yang natural.
										Prosedur ini dilakukan untuk menambah volume dengan menyuntikkan lemak / filler ke lapisan dalam kulit, bukan pada tulang.
              						</p>
                                    <p class="content-section__txt2">
              							Metode ini kurang efektif daripada operasi osteotomy / implan, tetapi jika hanya sedikit volume diperlukan untuk dagu, metode tersebut memiliki keunggulan unutk mengoreksi bentuk dagu dengan cara sederhana.
              						</p>
                                </div>
                            </div>

                            <div class="front-box13__box2">
                                <div class="front-box13__list-wrap">
	                                <ul class="front-box13__list">
	                                    <li class="front-box13__item nth-1">
	                                        <div class="front-box13__img">
	                                            <p class="front-box13__caption">Transplantasi sel lemak milik pribadi</p>
	                                        </div>
	                                        <div class="front-box13__area js-height">
	                                            <ul class="front-box13__list2">
	                                                <li class="front-box13__item2">
	                                                    <p class="front-box13__txt">Lemak diambil dari paha atau perut</p>
	                                                </li>
	                                                <li class="front-box13__item2">
	                                                    <p class="front-box13__txt">Sel induk dipisahkan dengan pemisah sentrifugal</p>
	                                                </li>
	                                                <li class="front-box13__item2">
	                                                    <p class="front-box13__txt">Persentase tahan sel yang tinggi melalui injeksi bagian dagu secara merata</p>
	                                                </li>
	                                            </ul>
	                                        </div>
	                                    </li>
	                                    <li class="front-box13__item nth-2">
	                                        <div class="front-box13__img">
	                                            <p class="front-box13__caption">Artecoll / general filler</p>
	                                        </div>
	                                        <div class="front-box13__area js-height">
	                                            <ul class="front-box13__list2">
	                                                <li class="front-box13__item2">
	                                                    <p class="front-box13__txt">Nyeri minimal dengan krim anestesi sebelum operasi</p>
	                                                </li>
	                                                <li class="front-box13__item2">
	                                                    <p class="front-box13__txt">Bentuk indah dengan jarum suntik mikro</p>
	                                                </li>
	                                                <li class="front-box13__item2">
	                                                    <p class="front-box13__txt">Artecoll semi permanen filler adalah prosedur paling cocok</p>
	                                                </li>
	                                            </ul>
	                                        </div>
	                                    </li>
	                                </ul>
	                            </div>
                        	</div>
                    	</div>
                	</div>
  				</div>
  			</div>
    	</div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
