@charset "UTF-8";
@import "variables";
@import "mixins";

.scroll {width: 70px; display: inline-block; position: absolute; bottom: 30px; left: 0; right: 0; z-index:10;
	$this:&;
	margin:0 auto; text-align: center;
	&__txt{margin:0; font-size: 13px; color: #e8e8e8;}
    &__inner{position:relative;  width: 20px; height: 34px; border: 2px solid #d7d7d7; border-radius: 30px; margin: 7px auto 0; padding-top: 3px; font-size:0; box-sizing:border-box;}
    &__ball{position:absolute; left:0; right:0;  display: block; width: 6px; height: 6px; margin:0px auto; background: #fff; border-radius: 50%; font-size: 13px;
	opacity: 0.5; top: 12px; z-index: 2; -webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; animation-delay: 1.5s;
	-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;
	-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s; -webkit-animation-name: scroll_indicator;
	-moz-animation-name: scroll_indicator; animation-name: scroll_indicator; -webkit-animation-iteration-count: infinite; -moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-timing-function: linear; animation-timing-function: linear;}
	&.type-detail{bottom:60px;
		#{$this}__txt{margin-top:10px; color:#fff;}
		#{$this}__inner{border-color:#fff;}
		&.type-another{
			#{$this}__txt{color:#ccc;}
			#{$this}__inner{border-color:#ccc;}
			#{$this}__ball{background-color:#ccc;}
		}
	}

	@media only screen and (max-width: $tablet-size) {
		&.type-detail{display:none;}
		&__txt{display:none;}
	}
	@media only screen and (max-width: $mobile-size) {border-width:1px; bottom:20px;}
}
.typed-cursor {opacity: 0; position: relative; display: inline-block; top: -8px; margin-left: 5px;font-weight: 500; font-size: 60px;
	@media only screen and (max-width: $tablet-size) {font-size:56px;}
	@media only screen and (max-width: $mobile-size) {top:-3px; font-size:2.6rem}
}
.typed-cursor.is-focus{
	opacity: 1;
	-webkit-animation: blink 0.6s infinite;
	-moz-animation: blink 0.6s infinite;
	-ms-animation: blink 0.6s infinite;
	-o-animation: blink 0.6s infinite;
	animation: blink 0.6s infinite;
}
@-webkit-keyframes blink {
	0%,
	50% { opacity: 1; }
	50.01%,
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0%,
	50% { opacity: 1; }
	50.01%,
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0%,
	50% { opacity: 1; }
	50.01%,
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0%,
	50% { opacity: 1; }
	50.01%,
	100% { opacity: 0; }
}
@keyframes blink {
	0%,
	50% { opacity: 1; }
	50.01%,
	100% { opacity: 0; }
}


@keyframes scroll_indicator {
	0%,
	10% {opacity: 0; -webkit-transform:translateY(-150%); -moz-transform:translateY(-150%); -ms-transform:translateY(-150%);
		-o-transform:translateY(-150%); transform:translateY(-150%);
	}
	50% {opacity: 1; -webkit-transform:translateY(-25%); -moz-transform:translateY(-25%); -ms-transform:translateY(-25%);
		-o-transform:translateY(-25%); transform:translateY(-25%)
	}
	100%,
	90% {opacity: 0; -webkit-transform:translateY(50%); -moz-transform:translateY(50%); -ms-transform:translateY(50%);
		-o-transform:translateY(50%); transform:translateY(50%);
	}
}


/*애니메이션*/
.animated {
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
}

.fadeInUp {
	opacity:0;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

/*애니메이션*/
@-webkit-keyframes fadeInUp {
		0% {
				opacity: 0;
				-webkit-transform: translateY(100px);
				-ms-transform: translateY(100px);
				transform: translateY(100px);
		}
		100% {
				opacity: 1;
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
		}
}

@keyframes fadeInUp {
		0% {
				opacity: 0;
				-webkit-transform: translateY(100px);
				-ms-transform: translateY(100px);
				transform: translateY(100px);
		}
		100% {
				opacity: 1;
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
		}
}


.is-rotate{
	animation-name: objRotate;
	animation-duration: 30000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-ms-animation-name: objRotate;
	-ms-animation-duration: 30000ms;
	-ms-animation-timing-function: linear;
	-webkit-animation-name: objRotate;
	-webkit-animation-duration: 30000ms;
	-webkit-animation-timing-function: linear;
}
@keyframes objRotate {
	from {
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		}
	to {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		}
	}
@-webkit-keyframes objRotate {
	from {
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		}
	to {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		}
	}
@-ms-keyframes objRotate {
	from {
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		}
	to {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
		-ms-transform:rotate(360deg);
		}
	}
