<%
	type = "detail"
	page = "about"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="about detail-common">
	<section class="fs_section aboutFirst js-first" data-section-name="home">
		<div class="detail__dim"></div>
		<div class="detail__inner">
			<div class="detail__popup type-about">
				<div class="detail__popup-wrap">
					<h4 class="detail__popup-tit">Sistem Nama Asli Ruang Operasi<span class="about__color2">.</span></h4>
					<div class="detail__popup-scroll">
						<p class="detail__popup-subtit">
							Rumah Sakit Bedah Plastik BANOBAGI memiliki<br>
							<span class="about__color2">sistem Tim medis khusus 1:1 </span>,<br class="hidden-m">
							dimana dokter menangani semuanya mulai dari konsultasi sebelum operasi hingga perawatan pos-operasi.<br>
							Di setiap pintu ruang operasi, kami mempublikasikan nama Dokter Operasi dan asisten(termasuk Dokter Anestesi) untuk melaksanakan kepercayaan kami terhadap kejujuran.
						</p>
						<div class="about__popup-img">Operasi</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">Tutup</a>
				</div>
			</div>
			<p class="about__top">
				<span class="about__top-bar">Dimana kecantikan diciptakan</span><br>
				<span class="about__top-bar about__top-point">Rumah Sakit Bedah Plastik BANOBAGI</span>
			</p>

		</div>
		<div class="about__black">
			<div class="detail__inner">
				<div class="about__box">
					<h3 class="about__tit-eng">
						Rumah Sakit Bedah Plastik<br class="hidden-tm">
						BANOBAGI
					</h3>
					<p class="about__txt">
						Filosofi medis BANOBAGI adalah <span class="about__color1">Humanisme</span><br>
						Kami melarang dengan tegas pembedahan berlebihan atau pembedahan yang tidak diperlukan untuk kepentingan Rumah Sakit.<br>
						Kami mempertimbangkan martabat pasien terlebih dahulu secara menyeluruh dan berusaha mewujudkan nilai kecantikan menurut dasar kedokteran.<br>
					</p>
					<div class="detail__section-set type-about">
						Pemakaian Sistem Nama Asli Ruang Operasi
						<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-about">button</a></span>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
	</section>

	<section class="fs_section aboutSection01" data-section-name="aboutSection01">
		<div class="detail__dim"></div>
		<div class="detail__popup type-about type-another">
		  	<div class="detail__popup-wrap">
			  	<h5 class="detail__popup-tit type-another">Kami hanya melakukan  <span class="about__color3">operasi yang diperlukan </span><br class="hidden-pt"> untuk pasien<span class="about__color3">.</span></h5>
			  	<div class="detail__popup-scroll">
					<ul class="about__popup-list">
					<li class="about__popup-item nth-1">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">Konsultan Ahli</span>
								</span>
							</h6>
							<p class="about__popup-txt">
								Survey,<br class="hidden-tm">
								Pengambilan foto sebelum pemeriksaan medis<br class="hidden-tm">
								dan mengisi riwayat medis
							</p>
						</div>
					</li>
					<li class="about__popup-item nth-2">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">Pemeriksaan Dokter Spesialis</span>
								</span>
							</h6>
							<p class="about__popup-txt">
								Diagnosis yang akurat melalui <br class="hidden-tm">
								<span class="about__color3">konsultasi terperinci</span>dan profesional untuk bagian tubuh
							</p>
						</div>
					</li>
					<li class="about__popup-item nth-3">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">Sistem Pemeriksaan</span>
								</span>
							</h6>
							<p class="about__popup-txt">
								Peralatan medis canggih<br class="hidden-tm">
								Sistem pemeriksaan yang <br class="hidden-tm">
								sistematis untuk memeriksa penyakit<br>
								<span class="about__color3">(*Spesialis Laboratorium Medis siap sedia)</span>
							</p>
						</div>
					</li>
					<li class="about__popup-item nth-4">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">Operasi</span>
								</span>
							</h6>
							<p class="about__popup-txt">
								<span class="about__color3">(Rapid Healing)</span><br>
								Layanan medis maksimal untuk <br class="hidden-tm">
								kepuasan pasien dalam meminimalisasi <br class="hidden-tm">
								pembengkakan, memar dll
							</p>
						</div>
					</li>
					<li class="about__popup-item nth-5">
						<div class="about__popup-wrap">
							<h6 class="about__popup-tit">
								<span class="about__popup-line">
									<span class="about__popup-bg">Perawatan Pos-Operasi</span>
								</span>
							</h6>
							<div class="about__popup-txt">
								Berbagai sistem perawatan<br class="hidden-tm">
								untuk pemulihan cepat pos-operasi<br>
								<ul class="about__review-list">
									<li class="about__review-item">- Perawatan bekas luka</li>
									<li class="about__review-item">- Perawatan nyeri</li>
									<li class="about__review-item">- Perawatan sirkulasi darah</li>
									<li class="about__review-item">- Perawatan pembengkakan</li>
								</ul>
							</div>
						</div>
					</li>
			  		</ul>
				</div>
				<a href="" class="detail__popup-close js-popup-close">Tutup</a>
		  	</div>
	   </div>
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							Slow<br>
							<span class="about__color0">Banobagi</span><span class="about__comma">.</span>
						</h4>
						<p class="about__circle-subtit">Kebijaksanaan keindahan BANOBAGI</p>
						<p class="about__circle-txt">
							Waktu BANOBAGI mengalir secara perlahan.<br>
							Operasi plastik yang aman melalui pre-testing, <br class="hidden-tm">
							konsultasi bertahap, perawatan pos-operasi dan aftercare<br class="hidden-m">
							BANOBAGI selalu mencari keindahan<br>
							<a href="#" class="about__circle-link js-popup-open"><span>Sistem BANOBAGI</span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section aboutSection02" data-section-name="aboutSection02">
		<div class="detail__dim"></div>
		<div class="detail__popup type-about type-another2">
			<div class="detail__popup-wrap">
				<h5 class="detail__popup-tit">
					Anda dapat <strong class="about__popup-point">yakin</strong> ketika datang ke tempat yang <span class="about__color6">aman</span>
				</h5>
				<div class="detail__popup-scroll">
					<div class="about__popup2-box">
						<ul class="about__popup2-list">
							<li class="about__popup2-item nth-1">
								<div class="about__popup2-wrap">
									<h6 class="about__popup2-tit">
										SISTEM DARURAT
										untuk mengatasi situasi darurat
									</h6>
									<p class="about__popup2-txt">
										Untuk mengatasi situasi darurat yang mungkin timbul,
										kami memiliki defibrilator jantung berkualitas tinggi yang penting untuk CPR.
									</p>
								</div>
							</li>
							<li class="about__popup2-item nth-2">
								<div class="about__popup2-wrap">
									<h6 class="about__popup2-tit">
										Perangkat Keamanan Ganda
										untuk keamanan pasokan daya selama operasi
									</h6>
									<p class="about__popup2-txt">
										Dilengkapi dengan generator berkapasitas tinggi yang digunakan
										di Rumah Sakit Universitas dan sistem pasokan daya darurat ganda UPS
									</p>
								</div>
							</li>
							<li class="about__popup2-item nth-3">
								<div class="about__popup2-wrap">
									<h6 class="about__popup2-tit">
										Sistem PEMANTAUAN PASIEN
										yang presisi selama dan setelah operasi
									</h6>
									<p class="about__popup2-txt">
										Sistem PEMANTAUAN PASIEN
										yang presisi selama dan setelah operasi
									</p>
								</div>
							</li>
					  	</ul>
				  	</div>
				</div>
				<a href="" class="detail__popup-close js-popup-close">Tutup</a>
			</div>
		</div>
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							<span class="about__color4">Safe</span> <span class="about__color5">Beauty</span>
							Banobagi<span class="about__color5 about__comma">.</span>
						</h4>
						<p class="about__circle-subtit">Keindahan yg aman bersama BANOBAGI</p>
						<p class="about__circle-txt">
							Keselamatan adalah pertimbangan terpenting dalam operasi apa pun. Dokter bedah plastic BANOBAGI tidak ragu untuk berinvestasi dalam fasilitas untuk operasi yang aman & kami meningkatkan kualitas fasilitas kami dari waktu ke waktu dengan sistem bedah canggih dan sistem pembangkit listrik darurat untuk mempersiapkan keadaan darurat. Selain itu, <span class="about__color4">4 Spesialis Anestesi hadir setiap saat</span> untuk memonitor semua operasi.<br>
							<a href="#" class="about__circle-link js-popup-open"><span>Sistem yg aman</span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section aboutSection03" data-section-name="aboutSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another2">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							<span class="about__color7">Study</span> <span class="about__color8">Beauty</span><br>
							Banobagi<span class="about__color8 about__comma">.</span><br class="hidden-pt"><span class="about__circle-subtit">Penelitian kecantikan BANOBAGI</span>
						</h4>
					</div>
					<div class="slide-type1">
						<ul class="slide-type1__list">
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide1.jpg" loading="lazy" alt="banobagi" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide2.jpg" loading="lazy" alt="banobagi" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide3.jpg" loading="lazy" alt="banobagi" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide4.jpg" loading="lazy" alt="banobagi" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide5.jpg" loading="lazy" alt="banobagi" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide6.jpg" loading="lazy" alt="banobagi" class="slide-type1__img">
							</li>
							<li class="slide-type1__item">
								<img src="../../images/about/about-slide7.jpg" loading="lazy" alt="banobagi" class="slide-type1__img">
							</li>
						</ul>
						<a href="#" class="slide-type1__btn slide-type1__btn-prev"></a>
						<a href="#" class="slide-type1__btn slide-type1__btn-next"></a>
						<div class="slide-type1__pager"></div>
					</div>
					<p class="about__slide-txt">
						Kami terus belajar tentang teknologi. Staf medis BANOBAGI yang terdiri dari<span class="about__color9">Spesialis Bedah Plastik dari Universitas Nasional Seoul </span>
						dipilih sesuai dengan standar yang ketat dan tidak dapat menangani pasien BANOBAGI sampai mereka melewati sistem pelatihan yang sistematis. Selain itu,
						<span class="about__color9">kami mengadakan konferensi reguler untuk setiap kasus dan bidang bedah, serta program pendidikan untuk semua karyawan</span><br class="hidden-m">
						memimpin penelitian dan teknologi pasien tentang kecantikan.
					</p>
				</div>
			</div>
		</div>
		<p class="about__bottom hidden-pt">
			<span class="about__bottom__wrap">Spesialis Bedah Plastik lulusan<br class="hidden-pt"> Universitas Nasional Seoul</span>
		</p>
	</section>

	<section class="fs_section aboutSection04" data-section-name="aboutSection04">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="about__circle type-another3">
					<div class="about__circle-wrap">
						<h4 class="about__circle-tit">
							Rumah Sakit Bedah Plastik yang
							<span class="about__color10">direkomendasikan di berbagai era</span><span class="about__color10 about__comma">.</span>
						</h4>
						<p class="about__circle-subtit">Kecantikan adalah BANOBAGI</p>
						<p class="about__circle-txt">
							Seorang pasien yang menjalani operasi 18 tahun yang lalu di BANOBAGI kembali datang dengan putrinya yang telah tumbuh dewasa. Kami adalah Institusi medis yang dipercaya layaknya keluarga dan melihat pasien seperti keluarga kami. Kami adalah Institusi medis yang dipercaya oleh seluruh era dan diperkenalkan oleh rekan keluarga, kerabat dan kenalan dan menjadi Rumah Sakit Bedah Plastik kepercayaan semua orang. Hal ini hanya dapat Anda temukan di Rumah Sakit Bedah Plastik BANOBAGI.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
