<%
	type = "introduce"
	page = "location"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit type-location">Lokasi serta Panduan Perawatan Medis</h3>
		<p class="container__txt">Rumah Sakit Bedah Plastik BANOBAGI Stasiun Yeoksam, Exit 6</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="dim type-sms">dim</div>
	<div class="map__wrap">
		<div class="map-box">
			<div id="map"></div> <!-- //Google Map -->
		</div>
		<div class="map__box">
			<div class="map__info">
				<p class="map__info-kor">서울특별시 강남구 논현로 517<br> 바노바기 빌딩</p>
				<p class="map__info-eng">Gedung BANOBAGI 517 Nonhyeon-Ro, <span class="inline-block">Gangnam-Gu, Seoul Korea</span></p>
				<p class="map__info-tel"><span>TEL</span>+8210 2273 6508</p>
				<div>
					<a class="counseling-btn type-print" onclick="open_win()">Print</a>
				</div>
			</div>
		</div>
	</div><!-- //map__wrap -->
	<div class="container__wrap type-another">
		<div class="location">
			<!-- location info -->
			<div class="location__info">
			   	<ul class="location__list">
				   	<li class="location__item location__item-img1">
					   	<h4 class="location__tit">Panduan Perawatan Medis</h4>
					   	<div class="location__box">
						   	<dl class="location__dl">
							   	<dt class="location__dt">Senin ~ Jumat</dt>
							   	<dd class="location__dd">09:30~18:30</dd>
							   	<!--<dt class="location__dt">Hari Jumat</dt>
							   	<dd class="location__dd night">AM 9:30 ~ PM 8:00</dd>-->
							   	<dt class="location__dt">Sabtu</dt>
							   	<dd class="location__dd">09:30~16:00</dd>
						   	</dl>
							<span class="location__notice">(16/3, 20/4, 18/5, 15/6, 20/7 Libur)</span>
						   	<span class="location__notice">※ Kami tutup pd Hari Minggu & Libur Nasional</span>
					   	</div>
				   	</li>
				   	<li class="location__item location__item-img2">
					   	<h4 class="location__tit">BUS</h4>
					   	<p class="location__txt">
						   	<strong class="bus-color1">Bus Biru(Jalur Utama)</strong> 146, 147, 242, 341, 360, 463, 740, N13(Bus malam), N61(Bus malam),  <br class="hidden-pt">
						   	<strong class="bus-color2">Bus Hijau</strong> 4211, <br class="hidden-p hidden-m">
						  	<strong class="bus-color3">Bus Bandara</strong> 6000, 6020,<br class="hidden-p">
						   	<strong class="bus-color4">Bus langsung</strong> 1100, 1700, 2000, 2000-1, 3600, 7007, 8001, 9303, 9600
					   	</p>
				   	</li>
				   	<li class="location__item location__item-img3">
					   	<h4 class="location__tit">Metro(Subway)</h4>
					   	<p class="location__txt subway type-2">Stasiun Yeoksam Exit 6, jalan lurus 100m</p>
					   	<p class="location__txt subway type-9">Stasiun Eonju Exit 7, jalan lurus 400m</p>
				   	</li>
			   	</ul>
			</div>

			<!-- Proses Perawatan -->
			<div class="location__step">
				<h4 class="location__step-tit">Proses Perawatan</h4>
				<ul class="step__list">
					<li class="step__item is-active"><a href="" class="step__link js-step" data-slide="1">Reservasi</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="4">Kedatangan</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="7">Persiapan sebelum operasi</a></li>
					<li class="step__item"><a href="#" class="step__link js-step" data-slide="12">Jadwal pos-operasi</a></li>
				</ul>
				<div class="step__box">
					<ul class="step__slide-list">
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img1.jpg" loading="lazy" alt="Reservasi konsultasi melalui telepon" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Reservasi</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">01</span>
									<h5 class="step__slide-tit">Reservasi konsultasi melalui telepon</h5>
									<p class="step__slide-tel">+82-2-522-6636</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img2.jpg" loading="lazy" alt="Online reservation" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Reservasi</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">02</span>
									<h5 class="step__slide-tit">Konsultasi Online</h5>
									<dl class="step__slide-dl">
										<dt class="step__slide-dt">Konsultasi E-mail</dt>
										<dd class="step__slide-dd">indonesia@banobagi.com</dd>
									</dl>
									<!-- <a href="javascript:$.fnOpenCounsel();" class="step__btn">실시간상담</a><br class="hidden-pt">
									<a href="javascript:$.fnOpenCounsel();" class="step__btn type-katalk js-katalk">카톡상담</a><br class="hidden-pt">
									<a href="javascript:$.fnOpenCounsel();" class="step__btn type-cost js-cost">비용상담</a> -->
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img3.jpg" loading="lazy" alt="Preoperative instruction" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Reservasi</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">03</span>
									<h5 class="step__slide-tit">Instruksi pre-operasi</h5>
									<p class="step__txt">Mohon membaca instruksi di bawah ini jika akan melakukan & operasi di hari yg sama :</p>
									<p class="step__txt2">
										*Puasa 8 jam sebelum operasi ( Dilarang mengonsumsi apapun termasuk air, permen, dll)<br>
										*Tolong beritahukan jika Anda memiliki masalah kesehatan seperti flu / penyakit pernapasan.<br>
										*Tolong beritahukan tentang riwayat penyakit di masa lalu & saat ini, respons alergi & obat yg Anda konsumsi.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img4.jpg" loading="lazy" alt="Reception" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Visit</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">04</span>
									<h5 class="step__slide-tit">Pendaftaran</h5>
									<p class="step__txt">
										Setelah chart informasi diisi, foto pre-pemeriksaan & pengisian riwayat medis pasien akan dilakukan.
										Kemudian pasien akan dihubungkan kepada Koordinator & Dokter.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img5.jpg" loading="lazy" alt="Consultation with Medical staff" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Kunjungan</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">05</span>
									<h5 class="step__slide-tit">Konsultasi dengan Dokter</h5>
									<p class="step__txt">
										Dokter memberikan hasil diagnosis & rekomendasi metode operasi, keputusan apakah operasi diperlukan
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img6.jpg" loading="lazy" alt="Consultation with consultant" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Kunjungan</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">06</span>
									<h5 class="step__slide-tit">Konsultasi dengan Konsultan</h5>
									<p class="step__txt">
										Konsultan membantu pasien untuk mereservasikan jadwal operasi & menginformasikan instruksi pre-operasi
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img7.jpg" loading="lazy" alt="Consultation with consultant" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Pre-operasi</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">07</span>
									<h5 class="step__slide-tit">Persiapan pre-operasi</h5>
									<p class="step__txt">
										Setelah chart informasi diisi, foto pre-pemeriksaan & pengisian riwayat medis pasien akan dilakukan.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img8.jpg" loading="lazy" alt="Medical Photo shoot" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Pre-operasi</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">08</span>
									<h5 class="step__slide-tit">Pengambilan Foto Medis</h5>
									<p class="step__txt">
										Jika diperlukan, foto medis akan dilakukan
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img9.jpg" loading="lazy" alt="Consultation with Medical staff" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Pre-operasi</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">09</span>
									<h5 class="step__slide-tit">Konsultasi dengan Dokter</h5>
									<p class="step__txt">
										Penjelaskan detail pre-operasi & penjelasan sekali lagi dari Dokter.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img10.jpg" loading="lazy" alt="Anesthesia guidance" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Pre-operasi</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">10</span>
									<h5 class="step__slide-tit">Informasi Anestesi</h5>
									<p class="step__txt">
										Jika Anestesi general diperlukan, pasien akan mendapatkan penjelasan dr Dokter Spesialis Anestesi.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img11.jpg" loading="lazy" alt="Operation" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Preparation before the surgery</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">11</span>
									<h5 class="step__slide-tit">Operasi</h5>
									<p class="step__txt">
										Kami menjalankan operasi dengan pembangunan sistem perawatan medis yg sistematis & profesional melalui tenaga medis khusus di setiap bidang.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img12.jpg" loading="lazy" alt="Recovery&amp;Hospitalization" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Pos-operasi</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">12</span>
									<h5 class="step__slide-tit">Pemulihan & Rawat Inap</h5>
									<p class="step__txt">
										Setelah operasi, pasien dapat beristirahat dengan cukup di ruang pemulihan kemudian dapat berpindah ke ruang rawat inap / langsung pulang dengan bimbingan perawat.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img13.jpg" loading="lazy" alt="Self-pain controller" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Pos-operasi</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">13</span>
									<h5 class="step__slide-tit">Infus Analgesik</h5>
									<p class="step__txt">
										Ketika rasa sakit hilang, pasien dapat pulih dengan cepat.
										Kami berusaha untuk tidak melewatkan hal-hal detail melalui pemberian obat pengurang rasa sakit secara otomatis melalui alat infus analgesik
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img14.jpg" loading="lazy" alt="Rounds of surgeon" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Pos-operasi</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">14</span>
									<h5 class="step__slide-tit">Kunjungan langsung oleh Dokter</h5>
									<p class="step__txt">
										Jika diperlukan, Dokter memeriksa langsung proses pemulihan pasien setelah rawat inap.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img15.jpg" loading="lazy" alt="Treatment for deswelling and relaxation" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Pos-operasi</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">15</span>
									<h5 class="step__slide-tit">Perawatan pemulihan pembengkakan</h5>
									<p class="step__txt">
										Kami menyediakan layanan perawatan pemulihan pembengkakan untuk pemulihan yg lebih cepat.
									</p>
								</div>
							</div>
						</li>
						<li class="step__slide-item">
							<div class="step__slide-box">
								<img src="../../images/introduce/location/step_img16.jpg" loading="lazy" alt="Scar treatment" class="step__slide-img">
							</div>
							<div class="step__slide-box type-another">
								<span class="step__menu">Pos-operasi</span>
								<div class="step__slide-wrap">
									<span class="step__slide-num">16</span>
									<h5 class="step__slide-tit">Perawatan Bekas Luka</h5>
									<p class="step__txt">
										Jika pasien khawatir akan bekas luka, kami menyediakan program perawatan untuk mengobati bekas luka.
									</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- //Proses Perawatan -->
			<!-- pagination -->
	        <div class="pagination type-step">
				<ul class="pagination__list">
					<li class="pagination__item pagination__item-prev">
						<a href="#" class="pagination__link js-step-prev">
							<img src="../../images/common/paging_prev.png" loading="lazy" alt="Prev" class="invisible">
						</a>
					</li>
					<li class="pagination__item pagination__page">
						<p class="step__nowpage">1</p>/<p class="step__totalpage">16</p>
					</li>
					<li class="pagination__item pagination__item-next">
						<a href="#" class="pagination__link js-step-next">
							<img src="../../images/common/paging_next.png" loading="lazy" alt="Next" class="invisible">
						</a>
					</li>
				</ul>
	        </div>
	        <!-- //pagination -->
		</div>
		<!-- 문자 팝업 -->
		<div class="popup-sms">
			<div class="popup-sms__wrap">
				<div class="popup-sms__vertical">
					<p class="popup-sms__tit">
						연락처를 입력하시면<br>
						SMS로 <strong>약도를 전송</strong>해드립니다.
					</p>
					<div class="popup-sms__box">
						<input type="tel" placeholder="연락처를 입력해주세요" class="popup-sms__input">
						<button type="submit" class="popup-sms__button">전송</button>
					</div>
					<a href="" class="popup-sms__close js-sms-close">Tutup</a>
				</div>
			</div>
		</div>
		<!-- // 문자팝업 끝 -->
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
