<%
	type = "introduce"
	page = "floor"
%>
<% include ../_include/_header %>
<div class="container">
    <% include ../_include/_lnb %>

	<div class="c-visual type-introduce">
        <div class="c-visual__outer">
            <div class="c-visual__inner">
                <div class="c-visual__box">
                    <div class="c-visual__wrap">
                        <h3 class="c-visual__tit tit-new1">Lihat BANOBAGI</h3>
                        <p class="c-visual__txt txt-new1">Rumah Sakit Bedah Plastik BANOBAGI<br> mengutamakan kenyamanan pasien terlebih dahulu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- //c-visual -->

	<div class="container__wrap type-visual">
        <div class="tour">
            <div class="tour-tab">
                <ul class="tour-tab__list">
                    <li class="tour-tab__item is-active">
                        <a href="#" class="tour-tab__link txt-new2">Gedung Utama</a>
                    </li>
                    <li class="tour-tab__item">
                        <a href="#" class="tour-tab__link txt-new2">Gedung Annex</a>
                    </li>
                </ul><!-- //tour-tab__list -->
            </div><!-- //tour-tab -->

            <div class="tour-tab-content">
                <div class="floor">
                    <ul class="floor__list">
                        <li class="floor__item is-active">
                            <a href="#" class="floor__link txt-new2">B1</a>
                        </li>
                        <li class="floor__item">
                            <a href="#" class="floor__link txt-new2">1F</a>
                        </li>
                        <li class="floor__item">
                            <a href="#" class="floor__link txt-new2">2F</a>
                        </li>
                        <li class="floor__item">
                            <a href="#" class="floor__link txt-new2">3F</a>
                        </li>
                        <li class="floor__item">
                            <a href="#" class="floor__link txt-new2">4F</a>
                        </li>
                        <li class="floor__item">
                            <a href="#" class="floor__link txt-new2">5F</a>
                        </li>
                        <li class="floor__item">
                            <a href="#" class="floor__link txt-new2">6F</a>
                        </li>
                    </ul><!-- //floor__list -->
                </div><!-- //floor -->

                <div class="floor-content">
					<div class="floor-slider">
						<ul class="floor-slider__list owl-carousel">
							<li class="floor-slider__item">
								<div class="floor-content__box">
									<div class="floor-content__img">
										<img src="../../images/introduce/tour/tour_img_1.jpg" class="img-responsive" loading="lazy" alt=""/>
									</div>
								</div>
								<div class="floor-content__outer">
		                            <div class="floor-content__inner">
		                                <h4 class="floor-content__tit tit-new2">본관 지하1층<br class="hidden-t"> <span class="color-point2">수술실</span></h4>
		                                <p class="floor-content__txt txt-new1">안전한 수술이 이루어 질 수 있도록 신형 의료기기와 체계적인 응급 시스템을 갖춘 수술실입니다.</p>
		                            </div>
		                        </div>
							</li>
							<li class="floor-slider__item">
								<div class="floor-content__box">
									<div class="floor-content__img">
										<img src="../../images/introduce/tour/tour_img_1.jpg" class="img-responsive" loading="lazy" alt=""/>
									</div>
								</div>
								<div class="floor-content__outer">
		                            <div class="floor-content__inner">
		                                <h4 class="floor-content__tit tit-new2">본관 지하1층<br class="hidden-t"> <span class="color-point2">수술실</span></h4>
		                                <p class="floor-content__txt txt-new1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quasi distinctio illum sapiente odit aut ipsum ducimus iure repellat, dolore nisi iusto autem quod? Facere nesciunt debitis, suscipit reiciendis molestiae!</p>
		                            </div>
		                        </div>
							</li>
						</ul><!-- //floor-slider__list -->

						<div class="floor-slider__fake">
							<div class="floor-slider__inner">
								<p class="floor-slider__counter"></p>
								<div class="floor-slider__nav">
									<span class="floor-slider__btn type-prev js-slider-prev">이전</span>
									<span class="floor-slider__btn type-next js-slider-next">다음</span>
								</div>
							</div>
						</div><!-- //floor-slider__fake -->
					</div><!-- //floor-slider -->
                </div><!-- //floor-content -->
            </div><!-- //tour-tab-content -->
        </div><!-- //tour -->
	</div><!-- //container__wrap -->
</div><!-- //container -->
<% include ../_include/_footer %>
