<%
	type = "introduce"
	page = "knowledge"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h2 class="container__tit type-knowledge">수술 후 주의사항</h2>
	</div>
	<% include ../_include/_lnb %>
	<div class="knowledge-popup">
		<div class="knowledge-popup__wrap">
			<a href="" class="knowledge-popup__close js-knowledge-close">Tutup</a>
			<iframe src="https://www.youtube.com/embed/anuBCBYQJ_Q" frameborder="0"></iframe>
		</div>
	</div>
	<div class="knowledge__wrap">
		<ul class="knowledge__list">
			<li class="knowledge__item">
				<h3 class="knowledge__tit">가슴성형</h3>
				<ul class="caption__list">
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF보기</a>
					</li>
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF다운로드</a>
					</li>
					<li class="caption__item type-video1">
						<a href="" class="caption__link js-knowledge-open">주의사항 영상보기</a>
					</li>
					<!-- <li class="caption__item type-video2">
						<a href="" class="caption__link js-knowledge-open">Q&amp;A영상보기</a>
					</li> -->
				</ul>
			</li>
			<!-- //knowledge__item-->
			<li class="knowledge__item">
				<h3 class="knowledge__tit">눈성형</h3>
				<ul class="caption__list">
					<li class="caption__item type-pdf">
						<div class="caption__vertical">
							<a href="" class="caption__link">PDF보기</a>
						</div>
					</li>
					<li class="caption__item type-pdf">
						<div class="caption__vertical">
							<a href="" class="caption__link">PDF다운로드</a>
						</div>
					</li>
					<li class="caption__item type-video1">
						<div class="caption__vertical">
							<a href="" class="caption__link js-knowledge-open">주의사항 영상보기</a>
						</div>
					</li>
					<!-- <li class="caption__item type-video2">
						<a href="" class="caption__link js-knowledge-open">Q&amp;A영상보기</a>
					</li> -->
				</ul>
			</li>
			<!-- //knowledge__item-->
			<li class="knowledge__item">
				<h3 class="knowledge__tit">동안성형</h3>
				<ul class="caption__list type-another">
					<li class="caption__item type-pdf type-another">
						<div class="caption__vertical">
							<a href="" class="caption__link">PDF보기</a>
						</div>
					</li>

					<!-- <li class="caption__item type-video1">
						<a href="" class="caption__link js-knowledge-open">주의사항 영상보기</a>
					</li> -->
					<li class="caption__item type-video2">
						<div class="caption__vertical">
							<a href="" class="caption__link js-knowledge-open">Q&amp;A영상보기</a>
						</div>
					</li>
				</ul>
			</li>
			<!-- //knowledge__item-->
			<li class="knowledge__item">
				<h3 class="knowledge__tit">안면윤곽</h3>
				<ul class="caption__list">
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF보기</a>
					</li>
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF다운로드</a>
					</li>
					<li class="caption__item type-video1">
						<a href="" class="caption__link js-knowledge-open">주의사항 영상보기</a>
					</li>
					<!-- <li class="caption__item type-video2">
						<a href="" class="caption__link js-knowledge-open">Q&amp;A영상보기</a>
					</li> -->
				</ul>
			</li>
			<!-- //knowledge__item-->
			<li class="knowledge__item">
				<h3 class="knowledge__tit">양악</h3>
				<ul class="caption__list">
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF보기</a>
					</li>
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF다운로드</a>
					</li>
					<li class="caption__item type-video1">
						<a href="" class="caption__link js-knowledge-open">주의사항 영상보기</a>
					</li>
					<!-- <li class="caption__item type-video2">
						<a href="" class="caption__link js-knowledge-open">Q&amp;A영상보기</a>
					</li> -->
				</ul>
			</li>
			<!-- //knowledge__item-->
			<li class="knowledge__item">
				<h3 class="knowledge__tit">지방흡입</h3>
				<ul class="caption__list">
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF보기</a>
					</li>
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF다운로드</a>
					</li>
					<li class="caption__item type-video1">
						<a href="" class="caption__link js-knowledge-open">주의사항 영상보기</a>
					</li>
					<!-- <li class="caption__item type-video2">
						<a href="" class="caption__link js-knowledge-open">Q&amp;A영상보기</a>
					</li> -->
				</ul>
			</li>
			<!-- //knowledge__item-->
			<li class="knowledge__item">
				<h3 class="knowledge__tit">지방이식</h3>
				<ul class="caption__list">
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF보기</a>
					</li>
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF다운로드</a>
					</li>
					<li class="caption__item type-video1">
						<a href="" class="caption__link js-knowledge-open">주의사항 영상보기</a>
					</li>
					<!-- <li class="caption__item type-video2">
						<a href="" class="caption__link js-knowledge-open">Q&amp;A영상보기</a>
					</li> -->
				</ul>
			</li>
			<!-- //knowledge__item-->
			<li class="knowledge__item">
				<h3 class="knowledge__tit">코성형</h3>
				<ul class="caption__list">
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF보기</a>
					</li>
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF다운로드</a>
					</li>
					<li class="caption__item type-video1">
						<a href="" class="caption__link js-knowledge-open">주의사항 영상보기</a>
					</li>
					<!-- <li class="caption__item type-video2">
						<a href="" class="caption__link js-knowledge-open">Q&amp;A영상보기</a>
					</li> -->
				</ul>
			</li>
			<!-- //knowledge__item-->
			<li class="knowledge__item">
				<h3 class="knowledge__tit">이마성형</h3>
				<ul class="caption__list">
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF보기</a>
					</li>
					<li class="caption__item type-pdf">
						<a href="" class="caption__link">PDF다운로드</a>
					</li>
					<li class="caption__item type-video1">
						<a href="" class="caption__link js-knowledge-open">주의사항 영상보기</a>
					</li>
					<!-- <li class="caption__item type-video2">
						<a href="" class="caption__link js-knowledge-open">Q&amp;A영상보기</a>
					</li> -->
				</ul>
			</li>
			<!-- //knowledge__item-->
		</ul>
	</div>
</div><!-- //container-->
<% include ../_include/_footer %>
