<%
	type = "introduce"
	page = "history"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<div class="c-visual type-introduce">
        <div class="c-visual__outer">
            <div class="c-visual__inner">
                <div class="c-visual__box">
                    <div class="c-visual__wrap">
                        <h3 class="c-visual__tit tit-new1">Sejarah BANOBAGI</h3>
                        <p class="c-visual__txt txt-new1">
							Alasan kami bertahan dan sampai saat ini adalah karena akar dari prinsip kami adalah <br> memikirkan kepentingan pasien terlebih dahulu dibanding profit kami sendiri.
						</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="container__wrap type-visual">
		<div class="history">
			<div class="history__area">
				<h4 class="history__head"><span>Tahun 2000</span></h4>
				<ul class="history__list">
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2000</span></h5>
							<p class="history__txt txt-new1">Pembukaan pertama Rumah Sakit Bedah Plastik ‘YE’</p>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2002</span></h5>
							<p class="history__txt txt-new1">Perluasan Rumah Sakit Bedah Plastik ‘YE’</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2007</span></h5>
							<p class="history__txt txt-new1">Nama Rumah sakit diubah ke Rumah Sakit Bedah Plastik BANOBAGI secara resmi</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_1.jpg" loading="lazy" alt="Nama Rumah sakit diubah ke Rumah Sakit Bedah Plastik BANOBAGI secara resmi" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2008</span></h5>
							<p class="history__txt txt-new1">Renovasi Rumah Sakit Bedah Plastik BANOBAGI</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_2.jpg" loading="lazy" alt="Renovasi Rumah Sakit Bedah Plastik BANOBAGI" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2009</span></h5>
							<p class="history__txt txt-new1">Pendirian kantor pusat bisnis luar negeri</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_3.jpg" loading="lazy" alt="Pendirian kantor pusat bisnis luar negeri" class="img-normal">
							</div>
							<p class="history__txt txt-new1">Pendaftaran organisasi medis sebagai penyelenggara pasien asing</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="history__area">
				<h4 class="history__head"><span>Tahun 2010</span></h4>
				<ul class="history__list">
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2011</span></h5>
							<p class="history__txt txt-new1">Pemilihan organisasi tindakan medis oleh ‘Artecoll’ secara resmi</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_4.jpg" loading="lazy" alt="Pemilihan organisasi tindakan medis oleh ‘Artecoll’ secara resmi" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2012</span></h5>
							<p class="history__txt txt-new1">Pemilihan organisasi medis secara resmi untuk ‘LET ME IN’ Season 2 </p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_5.jpg" loading="lazy" alt="Pemilihan organisasi medis secara resmi untuk ‘LET ME IN’ Season 2" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2013</span></h5>
							<p class="history__txt txt-new1">Perluasan ruang operasi dari gedung utama</p>
							<p class="history__txt txt-new1">Pemilihan organisasi medis secara resmi untuk ‘LET ME IN’ Season 3</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_6.jpg" loading="lazy" alt="Pemilihan organisasi medis secara resmi untuk ‘LET ME IN’ Season 3" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2013. 11</h5>
							<p class="history__txt txt-new1">Pembangunan ruang pertukaran internasional serta gedung cabang</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_7.jpg" loading="lazy" alt="Pembangunan ruang pertukaran internasional serta gedung cabang" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2014</span></h5>
							<p class="history__txt txt-new1">Pembangunan fasilitas penelitian SVF BANOBAGI</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_8.jpg" loading="lazy" alt="Pembangunan fasilitas penelitian SVF BANOBAGI" class="img-normal">
							</div>
							<p class="history__txt txt-new1">Pemilihan organisasi medis secara resmi untuk ‘LET ME IN’ Season 4</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_9.jpg" loading="lazy" alt="Pemilihan organisasi medis secara resmi untuk ‘LET ME IN’ Season 4" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2014. 07</h5>
							<p class="history__txt txt-new1">Pemenang penghargaan atas jasa kerja sama dalam teknologi antara Korea & Cina serta pengembangan industri pariwisata medis  </p>
							<h5 class="history__date txt-new2">2014. 11</h5>
							<p class="history__txt txt-new1">Pemenang penghargaan jasa atas keunggulan sebagai organisasi pariwisata medis dari organisasi Gangnam</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_10.jpg" loading="lazy" alt="Pemenang penghargaan jasa atas keunggulan sebagai organisasi pariwisata medis dari organisasi Gangnam" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2014. 11</h5>
							<p class="history__txt txt-new1">Pemenang penghargaan utama dari Medical Asia</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_11.jpg" loading="lazy" alt="Pemenang penghargaan utama dari Medical Asia" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2014. 11</h5>
							<p class="history__txt txt-new1">Pemilihan Rumah Sakit Bedah Plastik secara resmi u/ Asosiasi Model Korea</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_12.jpg" loading="lazy" alt="Pemilihan Rumah Sakit Bedah Plastik secara resmi u/ Asosiasi Model Korea" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2014. 12</h5>
							<p class="history__txt txt-new1">Pemenang penghargaan utama lingkungan & kebudayaan hijau</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_13.jpg" loading="lazy" alt="Pemenang penghargaan utama lingkungan & kebudayaan hijau" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2015</span></h5>
							<p class="history__txt txt-new1">Pemilihan organisasi medis secara resmi untuk ‘LET ME IN’ Season 5</p>
							<h5 class="history__date txt-new2">2015. 02</h5>
							<p class="history__txt txt-new1">Pemilihan organisasi medis secara resmi untuk Vietnam ‘Change Life’ Season 1</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_14.jpg" loading="lazy" alt="Pemilihan organisasi medis secara resmi untuk Vietnam ‘Change Life’ Season 1" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2015. 07</h5>
							<p class="history__txt txt-new1">Pemenang penghargaan utama Merek Medis Hallyu dari LBMA STAR</p>
							<h5 class="history__date txt-new2">2015. 09</h5>
							<p class="history__txt txt-new1">Pemenang sektor Bedah Plastik dari Medis Kesehatan Korea</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_15.jpg" loading="lazy" alt="Pemenang sektor Bedah Plastik dari Medis Kesehatan Korea" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2015. 10</h5>
							<p class="history__txt txt-new1">Rumah Sakit Bedah Plastik BANOBAGI terpilih sebagai 10 besar nama teratas di Cina o/ media Cina</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_16.jpg" loading="lazy" alt="Rumah Sakit Bedah Plastik BANOBAGI terpilih sebagai 10 besar nama teratas di Cina o/ media Cina" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2015. 11</h5>
							<p class="history__txt txt-new1">Pemilihan organisasi unggulan dengan kegiatan menarik pasien asing dari organisasi Gangnam</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_17.jpg" loading="lazy" alt="Pemilihan organisasi unggulan dengan kegiatan menarik pasien asing dari organisasi Gangnam" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-left">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2016</span></h5>
							<h5 class="history__date txt-new2">2016. 01</h5>
							<p class="history__txt txt-new1">Pemilihan sebagai pemimpin inovatif yg memimpin Korea</p>
							<h5 class="history__date txt-new2">2016. 01</h5>
							<p class="history__txt txt-new1">Pemilihan organisasi medis secara resmi untuk Thailand ‘LET ME IN’ Season 1</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_18.jpg" loading="lazy" alt="Pemilihan organisasi medis secara resmi untuk Thailand ‘LET ME IN’ Season 1" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2016. 06</h5>
							<p class="history__txt txt-new1">Pemilihan organisasi medis secara resmi untuk <span class="inline-block">Vietnam ‘Change Life’ Season 2</span></p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_19.jpg" loading="lazy" alt="Pemilihan organisasi medis secara resmi untuk Vietnam ‘Change Life’ Season 2" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2016. 07</h5>
							<p class="history__txt txt-new1">Pembukaan pusat konsultasi di Thailand</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_22.jpg" loading="lazy" alt="Pembukaan pusat konsultasi di Thailand" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2016. 09</h5>
							<p class="history__txt txt-new1">Pemilihan organisasi medis yg disertifikasi oleh Merek Rumah Sakit Korea</p>
							<h5 class="history__date txt-new2">2016. 10</h5>
							<p class="history__txt txt-new1">Pemilihan organisasi medis secara resmi untuk Thailand ‘LET ME IN’ Season 2</p>
							<h5 class="history__date txt-new2">2016. 10</h5>
							<p class="history__txt txt-new1">Pemilihan Institusi pariwisata medis kerja sama dengan Organisasi Gangnam</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_20.jpg" loading="lazy" alt="Pemilihan Institusi pariwisata medis kerja sama dengan Organisasi Gangnam" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2016. 10</h5>
							<p class="history__txt txt-new1">Pemilihan organisasi medis secara resmi oleh PT. MOTIVA Korea</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2017</span></h5>
							<h5 class="history__date txt-new2">2017. 02</h5>
							<p class="history__txt txt-new1">Dianugerahkan penghargaan Kesehatan & Medis DIGITAL AD</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_23.jpg" loading="lazy" alt="Dianugerahkan penghargaan Kesehatan & Medis DIGITAL AD" class="img-normal">
							</div>
							<h5 class="history__date txt-new2">2017. 11</h5>
							<p class="history__txt txt-new1">Pemilihan organisasi medis secara resmi untuk Thailand ‘LET ME IN’ Season 3</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_21.jpg" loading="lazy" alt="Pemilihan organisasi medis secara resmi untuk Thailand ‘LET ME IN’ Season 3" class="img-normal">
							</div>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2018</span></h5>
							<h5 class="history__date txt-new2">2018. 10</h5>
							<p class="history__txt txt-new1">Pemilihan organisasi medis secara resmi untuk Thailand ‘LET ME IN’ Season 4</p>
						</div>
					</li>
					<li class="history__item type-right">
						<div class="history__box">
							<h5 class="history__tit tit-new2"><span class="history__line">Thn 2019</span></h5>
							<p class="history__txt txt-new1">Dipilih sebagai mitra kerjasama pariwisata medis di Seoul</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_24.jpg" loading="lazy" alt="Dipilih sebagai mitra kerjasama pariwisata medis di Seoul" class="img-normal">
							</div>
							<p class="history__txt txt-new1">Kerjasama Pendidikan Institusi Medis Sekolah Kedokteran Universitas Nasional Seoul</p>
							<div class="history__img">
								<img src="../../images/introduce/history/history_img_25.jpg" loading="lazy" alt="Kerjasama Pendidikan Institusi Medis Sekolah Kedokteran Universitas Nasional Seoul" class="img-normal">
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
