<%
	type = "content"
	page = "introduce"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- content-->
	<div class="content" data-page="introduce-rapid">
		<div class="new-visual type-rapid">
			<div class="new-visual__box">
				<div class="new-visual__outer">
					<div class="new-visual__inner">
						<p class="new-visual__subtit">Untuk penyembuhan yg cepat setelah operasi</p>
						<h3 class="new-visual__tit"><span class="color-point">Rapid Healing </span><br>Self-Care</h3>
						<p class="new-visual__txt">
							Membantu pemulihan cepat melalui obat-obatan yang diresepkan untuk memar<br> dan edema dan menenangkan kondisi kulit dan pemulihan konsentrat kulit setelah operasi.
						</p>
						<ul class="new-visual__list">
							<li class="new-visual__item"><span>#MilkThistleRecoveryLine</span></li>
							<li class="new-visual__item"><span>#ResepObat</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- //new-visual-->
        <div class="new-content-wrap">
			<div class="new-section">
				<div class="section-normal type-rapid">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">RAPID HEALING : SELF CARE PROGRAM 01</p>
					 	<h4 class="section-normal__tit tit-new1">Milk Thistle Recovery Line</h4>
					 	<p class="section-normal__txt2 txt-new2">
					 		Menggunakan
					 		<sapn class="color-point">bahan campuran yang penting untuk pemulihan kulit </sapn><br>
							dan elemen yang aman melalui tes stimulasi kulit.

					 	</p>
					 	<p class="section-normal__txt1 txt-new1">
					 		Kami menyadari bahwa setelah operasi atau perawatan, pasien khawatir tentang kulit sensitif mereka. Sehingga kami memutuskan untuk fokus dan memproduksi produk kosmetik yang ringan dan efektif dalam pemulihan. Milk Thistle Recovery Line dibuat dr hasil studi staf medis BANOBAGI.
					 	</p>
					 	<ul class="section-normal__list">
					 		<li class="section-normal__item"><div class="vertical-box">Menenangkan</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">Memulihkan</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">Melembabkan</div></li>
					 		<li class="section-normal__item"><div class="vertical-box">Menutrisi</div></li>
					 	</ul>
					</div>
					 <div class="section-normal__img">
					 	<img src="../../images/introduce/rapid/rapid_img_1.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
			</div><!-- //new-section-->
			<div class="new-section">
				<div class="new-description">
					<h5 class="tit-new2">Bagaimana menggunakan<br> Milk Thistle Recovery Line</h5>
					<div class="new-description__img">
						<img src="../../images/introduce/rapid/rapid_description_1.jpg" class="img-normal" loading="lazy" alt="Milk Thistle Recovery Line">
					</div>
					<ul class="new-description__list">
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>Anda dapat mulai menggunakannya saat mencuci muka Anda pertama kali tepat setelah operasi.
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								Setelah mencuci muka, gunakan toner milk thistle pada kapas dan gunakan itu di seluruh tekstur kulit agar terserap dgn baik.
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								Gunakan highly-enriched recovery serum agar menyerap dgn baik & aplikasikan krim untuk memberikan kelembaban pd kulit dan nutrisi untuk pemulihan kulit.
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>
								Jika Anda perlu fokus pada pemulihan dan penenangan kulit, simpan paket masker milk thistle recovery agar tetap dingin dan gunakan selama sekitar 10 ~ 20 menit pada kulit Anda.
							</p>
						</li>
						<li class="new-description__item">
							<p class="new-description__txt txt-new1">
								<span class="new-description__plus">+</span>Mereka yang memiliki kulit sensitif setelah operasi atau perawatan disarankan untuk menerapkan serum & krim untuk fokus dalam memulihkan kulit.
							</p>
						</li>
					</ul>
				</div>
			</div><!--//new-section-->
			<div class="new-section">
				<div class="new-explan type-rapid">
					<h4 class="new-explan__tit tit-new2">Nutrisi utama BANOBAGI Milk <span class="inline-block">Thistle Recovery Line</span></h4>
					<ul class="new-explan__list">
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_1.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">Milk Thistle Extract<br>(Ekstrak Pola Putih Biji Thistle)</h5>
								<p class="new-explan__txt txt-new1">
									Thistle memiliki efek anti-oksidasi yang kuat & dapat menghilangkan racun kulit juga oksigen aktif berbahaya yang dapat meningkatkan penenangan kulit dan memutihkan yang membuat kulit lebih halus dan bersinar.
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_2.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">Ekstrak Centella / Madecassoside</h5>
								<p class="new-explan__txt txt-new1">
									Menyembuhkan kulit yang rusak akibat faktor eksternal..
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_3.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">Ekstrak akar Burdock</h5>
								<p class="new-explan__txt txt-new1">
									Ekstrak akar burdock memiliki efek anti-inflamasi dan menenangkan kulit berjerawat dari peradangan.
								</p>
							</div>
						</li>
						<li class="new-explan__item">
							<div class="new-explan__img">
								<img src="../../images/introduce/rapid/rapid_explan_4.jpg" loading="lazy" alt="" class="img-w100">
							</div>
							<div class="new-explan__wrap">
								<h5 class="new-explan__subject txt-new2">Copper Tripeptide-1</h5>
								<p class="new-explan__txt txt-new1">
									Memperkuat kulit dan meningkatkan kesehatan kulit dengan efek anti-penuaan yang kuat.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="new-stripe">
					<ul class="new-stripe__list">
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_1.png" loading="lazy" alt="" class="img-responsive">
								</div>
								<h5 class="new-stripe__subject txt-new2">Formula lepasan dr seluruh bahan level EWG GREEN </h5>
								<p class="new-stripe__txt txt-new1">Toner yang memiliki bahan-bahan aman untuk digunakan yang merupakan bahan keseluruhan EWG GREEN</p>
							</div>
						</li>
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_2.png" loading="lazy" alt="" class="img-responsive">
								</div>
								<h5 class="new-stripe__subject txt-new2">Tes stimulasi kulit rampung</h5>
								<p class="new-stripe__txt txt-new1">Disetujui sebagai produk non-stimulasi yang dapat digunakan sebagai produk ringan.</p>
							</div>
						</li>
						<li class="new-stripe__item">
							<div class="new-stripe__wrap">
								<div class="new-stripe__img">
									<img src="../../images/introduce/rapid/rapid_icon_3.png" loading="lazy" alt="" class="img-responsive">
								</div>
								<h5 class="new-stripe__subject txt-new2">Tidak mengaplikasikan 11 macam bahan kimia</h5>
								<p class="new-stripe__txt txt-new1">
									6 jenis paraben, benzophenone, trietanolamina, benzil alkohol, asam sorbat, asam benzoat dan pigmentasi buatan lainnya. Tidak menggunakan aroma dan alkohol dikarenakan sangat sensitif terhadap kulit.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="new-section type-cling">
				<div class="section-normal type-rapid2">
					<div class="section-normal__wrap">
						<p class="section-normal__eng txt-new1">RAPID HEALING : SELF CARE PROGRAM 02</p>
					 	<h4 class="section-normal__tit tit-new1">Resep obat untuk mengurangi edema dan memar.</h4>
					 	<p class="section-normal__txt2 txt-new2">
					 		Sinech adalah obat yang membantu<br> <sapn class="color-point4">meringankan edema dan memar</sapn>setelah operasi plastik.
					 	</p>
					 	<p class="section-normal__txt1 txt-new1">
					 		Disetujui oleh FDA & Korea MFDS yang terbukti memiliki efek samping yang sangat minimal. Staf medis BANOBAGI memberikan instruksi bagaimana cara menggunakannya.
					 	</p>
					</div>
					 <div class="section-normal__img">
					 	<img src="../../images/introduce/rapid/rapid_img_2.png" class="img-normal" loading="lazy" alt="">
					</div>
				</div>
			</div>
        </div><!-- //new-content-wrap-->
    </div>
	<!-- //content-->

	<% include ../_include/_bfaf %>

</div> <!-- //container -->

<% include ../_include/_footer %>
