<%
	type = "content"
	page = "svf"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-cell-transplant">
	    <div class="content-visual__box">
	        <div class="content-visual__border">
	            <p class="content-visual__txt1">Sebuah evolusi teknologi injeksi peremajaan kulit</p>
	            <h3 class="content-visual__tit"># Transplantasi <span class="color-transplant1">sel lemak</span></h3>
	            <p class="content-visual__txt2">Lekuk tubuh Alami dan bertahan lama</p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content cell_transplant">
		<div class="content-wrap">
			<div class="svf-box1">
				<div class="content-section type-first">
					<div class="content-section__wrap type-unique type-sec1-bg">
						<div class="content-section__tit-box">
							<h4 class="content-section__tit type-top">
								<span class="content-section__number">
									<span class="content-section__number-wrap">01</span>
								</span>
								Transplantasi sel lemak<br> memiliki tingkat<br> penggunaan <strong class="color-transplant1">rendah</strong><br class="hidden-m">
								dan hanya memiliki <br><strong class="color-transplant1">jangka waktu<br> pemakaian pendek?</strong>
							</h4>
						</div>
						<div class="content-section__txt-box">
							<p class="content-section__txt1">
								Metode terdahulu dalam transplantasi sel lemak dilakukan secara sederhana dengan mengekstraksi segumpalan lemak lalu dimasukkan ke area yang diinginkan.
								Jaringan lemak dari bagian dalam paha – dengan adanya lapisan lemak yang tebal dan terakumulasi disana – merupakan baigan yang paling sering digunakan.
							</p>
							<p class="content-section__txt2">
								<span class="type-svf-quotation quotation_left">quotation left</span>
								Namun, metode itu tidak menghasilkan hasil terbaik. Jaringan lemak yang akan dimasukkan ke area lain, membutuhkan pertumbuhan peredaran darah di area yang baru, namun masalah dalam prosedur ini adalah terdapat perbedaan pembuluh darah antara di kulit dengan lemak tipis dan kulit yang memiliki jaringan lemak bawah kulit yang tebal.
								<span class="type-svf-quotation quotation_right">quotation right</span>
							</p>
						</div>
					</div>
					<div class="content-section__bg-img">
					</div>
				</div>
			</div>
			<div class="svf-box2">
				<div class="content-section cell_transplant-term">
					<div class="content-section__bg-wrapper">
						<div class="content-section__tit-box">
							<h4 class="content-section__tit type-center">
								<span class="content-section__number">
									<span class="content-section__number-wrap">
										02
									</span>
								</span>
								Lemak harus <br class="hidden-p">
								<strong class="color-transplant1">ditransplantasi pada<br> tingkat seluler</strong>
							</h4>
							<p class="content-section__txt1">
								Demi transplantasi lemak yang efektif, Banobagi melakukannya di tingkat seluler, kami menginjeksikan sel lemak, bukan segumpalan lemak, dan kami membuka kesempatan sel lemak itu untuk tumbuh.
							</p>
						</div>
						<div class="content-section__list-box">
							<div class="svf-trans clearfix">
								<div class="hexa-pattern type-cell-transplant">
									<ul class="hexa-pattern__list">
										<li class="hexa-pattern__item nth-1">
											<div class="hexa-pattern__wrap">
												<h5 class="hexa-pattern__tit">Sel lemak</h5>
												<p class="hexa-pattern__txt type-cell-transplant">
													Menciptakan lemak di area yang ditransplantasi
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-2">
											<div class="hexa-pattern__wrap">
												<h5 class="hexa-pattern__tit">Sel SVF</h5>
												<p class="hexa-pattern__txt type-cell-transplant">
													Akan berdiferensiasi menjadi jaringan lunak yang semestinya di area yang ditransplantasi.
												</p>
											</div>
										</li>
										<li class="hexa-pattern__item nth-3">
											<div class="hexa-pattern__wrap">
												<h5 class="hexa-pattern__tit">

													<span class="inline-block">
													   Kolagen, asam hialuronat,
													</span>
													<span class="inline-block">
														fibronektin, laminin,
													</span>
													<span class="inline-block">
														dan lainnya
													</span>
												</h5>
												<p class="hexa-pattern__txt type-cell-transplant">
													Peningkatan kulit
												</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="content-section__wrapper">
						<p class="caution-para1">
							<span class="inline-block">※ Gambar ini dapat terlihat berbeda dari</span>
							<span class="inline-block"> bentuk asli bergantung pd kondisi pemotretan dan</span>
							<span class="inline-block"> diposting dibawah perjanjian dgn pasien sendiri.</span>
						</p>
					</div>
					<div class="content-section__desc-box">
						<p class="content-section__txt1 type-unique">
							SVF membuat transplantasi seluler lebih efektif. Sel-sel SVF dimasukkan di dalam sel lemak dan akan berdiferensiasi menjadi jaringan yang sesuai dengan lokasi transplantasi, menunjang perkembangan sel lemak secara alami. Hasil yang diperoleh lebih cepat, dan sel lemak yang diinjeksikan akan menghasilkan sel lemak dari dirinya sendiri.
						</p>
						<p class="content-section__txt2">
							<strong>
								Selain itu, sekumpulan sel lemak memiliki juga kolagen dan asam hialuronat serta berbagai faktor pertumbuhan, yang membuat hasil yaitu
								<span class="color-transplant1">meningkatnya kecantikan kulit dan elastisitas kulit di lokasi transplantasi. </span>
							</strong>
						</p>
					</div>
				</div>
			</div>
			<div class="svf-box3">
				<div class="content-section">
					<div class="content-section__wrap clearfix">
						<div class="content-section__txt-box w-47">
							<h4 class="content-section__tit type-top">
								<span class="content-section__number">
									<span class="content-section__number-wrap">
										03
									</span>
								</span>
								Sel tubuhku sendiri,<br>
								<strong class="color-transplant1">
									Bisa pergi kemanapun <br>
									yang kumau.
								</strong>
							</h4>
							<p class="content-section__txt1">
								Tidak ada bahan yang lebih baik untuk dimasukkan ke tubuh seseorang selain sel punca dari tubuhnya sendiri: karena kemanapun ia pergi, ia akan menjadi jaringan yang dibutuhkan di lokasi tersebut; mengisi lapisan sel demi sel. Selain itu, prosedur ini sekarang lebih aman dengan menggunakan jarum suntik berukuran mikro yang dapat melakukan operasi tingkat seluler.
							</p>
						</div>
						<div class="content-section__img-box w-53">
							<div class="content-section__img type-background3 type-circle"></div>
						</div>
					</div>
					<div class="part-list">
						<div class="part-list__wrap">
							<ul class="part-list__items">
								<li class="part-list__item">
									<div class="part-list__item-wrapper">
										<div class="part-list__thumb type-sec3 icon0">Kening yang rata icon</div>
										<div class="part-list__desc">
											<h5 class="part-list__tit icon0">
												Kening yang rata
											</h5>
											<p class="part-list__txt">
												Kening mencakup 1/3 wajah sehingga mempengaruhi bentuk muka kita. Jika kening terlalu rata, akan tampak wajah yang maskulin. Kening ideal harus memiliki volume yang cukup dan mulus, melalui transplantasi sel lemak, dengan juga memperhatikan garis batas mata, hidung, bibir, dan dagu.
											</p>
										</div>
									</div>
								</li>
								<li class="part-list__item">
									<div class="part-list__item-wrapper">
										<div class="part-list__thumb type-sec3 icon1">Kelopak mata yang menggantung icon</div>
										<div class="part-list__desc">
											<h5 class="part-list__tit icon1">
												Kelopak mata yang menggantung
											</h5>
											<p class="part-list__txt">
												Beberapa orang memiliki jaringan lemak yang terlalu sedikit di bagian kelopak mata, sehingga lebih banyak kerutan sekitar mata. Transplantasi sel lemak merupakan solusi kelopak mata yang tampak lebih muda dan kencang.
											</p>
										</div>
									</div>
								</li>
								<li class="part-list__item">
									<div class="part-list__item-wrapper">
										<div class="part-list__thumb type-sec3 icon2">Pipi icon</div>
										<div class="part-list__desc">
											<h5 class="part-list__tit icon2">
												Pipi
											</h5>
											<p class="part-list__txt">
												Ketiadaan sel lemak yang cukup pada area pipi akan mengambil keremajaan wajah, tulang yang terlalu menonjol pun memberikan kesan wajah yang kasar. Tujuan utama menciptakan keremajaan kulit dan wajah dapat dicapai dengan transplantasi sel lemak. Pipi merupakan area yang lebih mudah ditransplantasi lemak, dan hasilnya pun bertahan lama.
											</p>
										</div>
									</div>
								</li>
								<li class="part-list__item">
									<div class="part-list__item-wrapper">
										<div class="part-list__thumb type-sec3 icon3">Lipatan pembentuk bibir icon</div>
										<div class="part-list__desc">
											<h5 class="part-list__tit icon3">
												Lipatan pembentuk bibir
											</h5>
											<p class="part-list__txt">
												Sekali lipatan pembentuk bibir ini – bagian yang terbentang di bawah hidung sampai ujung atas bibir – dibuat tegas namun halus, ekspresi wajah akan tampak lebih elegan dan alami.
											</p>
										</div>
									</div>
								</li>
								<li class="part-list__item">
									<div class="part-list__item-wrapper">
										<div class="part-list__thumb type-sec3 icon4">Pembesaran payudara icon</div>
										<div class="part-list__desc">
											<h5 class="part-list__tit icon4">
												Pembesaran payudara
											</h5>
											<p class="part-list__txt">
												Bagi tubuh yang sangat kurus, ada batasan dalam melakukan transplantasi lemak di payudara, karena dapat mengakibatkan bentuk yang sulit diatur. Namun, bagi tubuh yang cukup berisi, lebih kecil risiko terjadinya kontraktur kapsular, sehingga hasil akan lebih alami baik dari bentuk maupun tekstur payudara.
											</p>
										</div>
									</div>
								</li>
								<li class="part-list__item">
									<div class="part-list__item-wrapper">
										<div class="part-list__thumb type-sec3 icon5">Pengangkatan pinggul icon</div>
										<div class="part-list__desc">
											<h5 class="part-list__tit icon5">
												Pengangkatan pinggul
											</h5>
											<p class="part-list__txt">
												Tubuh yang meyakinkan merupakan hal pembawa keberuntungan di masa kini, sehingga makin banyak orang melakukan olahraga yang berfokus pada pembentukan tubuh. Transplantasi lemak pada daerah pinggul akan membuat kaki tampak lebih jenjang, dengan lekuk pinggul yang tegas.
											</p>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="svf-box4">
				<div class="content-section">
					<div class="content-section__wrapper">
						<div class="content-section__bg-wrapper">
							<div class="content-section__bg-color">
								<div class="content-section__tit-box">
									<p class="content-section__txt1 type-unique">Sel punca Banobagi</p>
									<h4 class="content-section__tit">
										<strong class="color-transplant1">
											Tanggung jawab pasien sama pentingnya
										</strong>
										dengan perkembangan teknologi.
									</h4>
									<div class="content-section__txt1">
										Walau pencangkokan jaringan sudah semakin lazim di masa kini, pasien harus tetap merawat dirinya demi hasil yang maksimal. Tidak seperti tulang yang memiliki bentuk tetap, jaringan lemak dapat berubah tergantung kondisi tubuh.
									</div>
								</div>
								<div class="content-section__img-wrapper clearfix">
									<div class="content-section__sec4-img">
										<div class="content-section__sec4-img1">
											<img src="../../images/svf/svf_transplant_section05-face01.png" loading="lazy" alt="">
										</div>
									</div>
									<div class="content-section__sec4-img">
										<div class="content-section__sec4-img2">
											<img src="../../images/svf/svf_transplant_section05-cigarette01.png" loading="lazy" alt="">
										</div>
									</div>
								</div>
								<p class="content-section__txt1">
									Selama sekitar 2 minggu setelah prosedur, pembuluh darah sekitar lokasi transplantasi akan bertumbuh – hal ini penting untuk mengamankan area, penting bagi pasien untuk menjaga tubuh dari faktor-faktor luar tubuh. Musuh terbesar adalah merokok: pasien harus berhenti merokok selama minimal 2 bulan sebelum dan sesudah prosedur.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-svf">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Informasi Operasi</h4>
							<!-- <p class="operation-v2__subtit">Informasi lebih lanjut mengeai transplantasi sel lemak</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
										<p class="operation-v2__txt txt-new1">
											Wajah: ± 30 menit<br>
											badan: ± 1 jam 30 menit
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
										<p class="operation-v2__txt txt-new1">
											Wajah:Anestesi Sedasi IV<br>
											badan:Anestesi Total
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
										<p class="operation-v2__txt txt-new1">
											Wajah:Tdk diperlukan<br>
											badan:Dilepas ± stlh 3 hari
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
										<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
										<p class="operation-v2__txt txt-new1"> ± 2 X</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
										<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 3 ~ 5 hari</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-svf">
								<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Nyeri dirasakan minimal karena menggunakan jarum berukuran mikro.<br>
									Sensasi seperti kulit yang tertarik dapat dirasakan, tergantung jumlah banyaknya sel lemak yang diinjeksikan.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
									<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
