<%
	type = "content"
	page = "svf"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-augment">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Menciptakan volume dengan teknologi lebih dari cangkok lemak</p>
				<h3 class="content-visual__tit"># BreastAugmentation</h3>
				<p class="content-visual__txt2">Senatural payudara diri sendiri</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content cell_transplant">
		<div class="content-wrap">
	        <div class="content-section type-first">
	            <div class="augment-box1">
	                <div class="augment-box1__box">
	                    <h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
							Jika Anda merasa terbeban akan <strong>Operasi Pembesaran Payudara</strong><br>
							<strong class="content-highlight2 type-augment">Pencangkokan lemak </strong>dapat direkomendasikan sebagai sarana <strong>alternatif.</strong>
						</h4>
	                    <p class="content-section__txt1">
							Payudara wanita adalah simbol kewanitaan serta bagian tubuh yg memberi daya tarik wanita.
							Kami tidak lagi mengaitkan presentasi tubuh dengan ketidaksenonohan. Bersama dengan itu, banyak wanita mencari operasi pembesaran payudara  karena minat yg tumbuh untuk memiliki payudara yg lebih indah.
							Namun, operasi payudara bukanlah sesuatu yg dapat diputuskan secara mudah.
							<strong>Karena prosedur ini melibatkan banyak elemen yg dapat menghentikan pasien berjalan ke ruang operasi; termasuk keengganan terhadap tindakan penyisipan implan, nyeri & waktu pemulihan yg relatif lama. </strong>
							Ketika seorang pasien menginginkan prosedur yg relatif sederhana untuk menambah volume payudara bagian atas atau memberi perubahan sedikit pada ukuran payudara, pasien pasti tidak mau risiko yg tidak sepadan dengan manfaatnya.
						</p>
	                    <p class="content-section__txt2">
							Dalam kasus seperti itu,  <span class="content-highlight type-augment type-dark color-svf7">pembesaran payudara melalui cangkok lemak dapat menjadi alternatif yg baik</span>
						</p>
	                    <div class="augment-box1__img-wrap">
	                        <div class="augment-box1__img"></div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box2">
	                <div class="augment-box2__box">
	                    <p class="content-section__txt1">
							Komposisi dalam payudara manusia sebagian besar melibatkan jaringan lemak.<br class="hidden-tm">
							Semakin banyak lemak di dalam payudara akan menambah ukuran payudara menjadi lebih besar.<br class="hidden-tm">
							Ini adalah ide dasar untuk pembesaran payudara melalui pencangkokan lemak.<br class="hidden-tm">
							Jaringan lemak diambil dari perut / paha pasien, dimurnikan, kemudian disuntikkan ke area payudara sesuai kebutuhan.
						</p>
	                    <p class="content-section__txt2">
							<span class="color-svf7">Lemak yang dicangkokkan</span>akan menyatu di dalam jaringan lemak payudara bersamaan dengan lemak lain &
							<span class="color-svf7">membentuk bentuk payudara yg indah & natural.</span>
						</p>
	                </div>
	                <div class="augment-box2__list_wrap">
	                    <div class="augment-box2__list_tit">
	                        Proses pembesaran payudara melalui pencangkokan lemak
	                    </div>
	                    <ul class="augment-box2__list">
	                        <li class="augment-box2__item nth-1">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">Lemak diekstraksi dari bagian perut atau paha</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box2__item nth-2">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">Pemurnian & Pemisahan</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box2__item nth-3">
	                            <div class="augment-box2__wrap">
	                                <div class="augment-box2__img">
	                                    <div class="augment-box2__caption">
	                                        <div class="augment-box2__vertical">Penyuntikan lemak ke dalam payudara</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box3">
	                <div class="augment-box3__box">
	                    <h4 class="content-section__tit type-center">
							<span class="content-section__number">
								<span class="content-section__number-wrap">
									02
								</span>
							</span>
							Banyak <strong>manfaat</strong>, tetapi <br class="hidden-pm">
							<strong>pasti </strong>ada juga
	                        <strong class="content-highlight2 type-augment">kerugian </strong>
						</h4>
	                    <p class="content-section__txt1">
							Keuntungan terbesar dari pembesaran payudara melalui cangkok lemak adalah hasil yg natural.<br>
							Karena metode ini hanya melengkapi lemak natural yg sudah ada di dalam payudara. Jika Anda terbebani akan prosedur menggunakan bahan buatan seperti implan, risiko efek samping seperti kapsular kontraktur jarang terjadi dan bentuk juga pergerakan payudara akan sangat natural.
							Selain itu, prosedur ini sendiri tidak terlalu mengintimidasi karena tidak melibatkan sayatan besar / penyisipan & memiliki manfaat yg signifikan dalam penginjeksian lemak sebanyak yg Anda inginkan ke area mana pun yg Anda inginkan.
							<br><br>
	                        Namun, metode augmentasi ini tidak direkomendasikan untuk pasien yg terlalu kurus dan kelemahan lain yaitu hasil akan berkurang secara bertahap seiring waktu.
						</p>
	                    <p class="content-section__txt2">
							<strong>Hasil dapat berdeda bergantung individu, tetapi dari 100% lemak yg dicangkokan ke dalam tubuh,
	                        <span class="color-svf8">30-50% lemak saja yg akan terserap ke dalam tubuh</span><br class="hidden-pm">
	                        sehingga membawa efek pengecilan pada ukuran payudara.</strong>
						</p>
	                </div>
	            </div>

	            <div class="augment-box4">
	                <div class="augment-box4__box">
	                    <div class="augment-box4__list_wrap type-strengths">
	                        <div class="augment-box4__vertical">
	                            <div class="augment-box4__list_tit type-strengths">Manfaat</div>
	                            <ul class="augment-box4__list">
	                                <li class="augment-box4__item">Bentuk & gerakan payudara yg natural</li>
	                                <li class="augment-box4__item">Tidak ada risiko efek samping dari <br class="hidden-m">implant seperti kapsular kontraktur </li>
	                                <li class="augment-box4__item">Tidak perlu sayatan / penyisipan, jadi lebih sedikit bekas luka &<br class="hidden-m"> rasa sakit, pemulihan lebih mudah</li>
	                                <li class="augment-box4__item">Prosedur yg lebih detail &<br class="hidden-m"> terkontrol dengan baik saat penyuntikan dilakukan</li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="augment-box4__list_wrap type-weaknesses">
	                        <div class="augment-box4__vertical">
	                            <div class="augment-box4__list_tit type-weaknesses">Kerugian</div>
	                            <ul class="augment-box4__list">
	                                <li class="augment-box4__item">Kurang sesuai dengan tipe tubuh kurus</li>
	                                <li class="augment-box4__item">Sebagian lemak terserap oleh tubuh & <br class="hidden-m"> hasil berkurang seiring waktu</li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box5">
	                <div class="augment-box5__wrap">
	                    <div class="augment-box5__box">
	                        <h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										03
									</span>
								</span>
								<strong>BANOBAGI</strong><br>
								menangani kekurangan kondisi tubuh melalui
								<span class="content-highlight2 type-augment type-light color-svf9">SVF</span>
							</h4>
	                        <p class="content-section__txt1">
								Alasan kegagalan jaringan lemak terserap dengan baik adalah perbedaan kecil antara jaringan lemak payudara yg asli & jaringan lemak tambahan yg disuntikkan.
								Jaringan lemak yg diekstraksi dari bagian lain ke dalam tubuh telah tumbuh sesuai dengan lokasi target walaupun sedikit berbeda dengan jaringan di payudara. Jika payudara menolak jaringan lemak karena perbedaan ini, lemak akan terserap ke dalam tubuh & hilang.

							</p>
	                        <p class="content-section__txt2">
								Oleh karena itu, metode ini dapat menghasilkan volume lebih unggul <br class="hidden-pm">
	                            daripada metode cangkok lemak biasa & hasilnya pun bertahan lebih lama
							</p>
	                    </div>
	                    <div class="augment-box5__area">
	                        <div class="augment-box5__area-wrap">
	                        <div class="augment-box5__tit">
	                            <strong>Perbedaan antara cangkok lemak biasa</strong> &amp;<br> <strong class="color-svf10">cangkok lemak SVF BANOBAGI</strong>
	                        </div>
	                        <div class="augment-box5__list_wrap type-pre">
	                            <div class="augment-box5__list_tit">
	                                Cangkok lemak yang biasa
	                            </div>
	                            <ul class="augment-box5__pre_list">
	                                <li class="augment-box5__pre_item nth-1">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">Lemak diekstraksi dari bagian tubuh lain</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__pre_item nth-2">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">Lemak yg diekstraksi disuntikan ke payudara</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__pre_item nth-3">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">
	                                                    Sebagian dari lemak yg sudah diekstraksi bertahan ; tetapi sisa lemak yg <br>
	                                                    tidak bisa bertahan akan menghilang.
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                        <div class="augment-box5__list_wrap type-bnbg">
	                            <div class="augment-box5__list_tit color-svf10">
	                                Cangkok lemak SVF BANOBAGI
	                            </div>
	                            <ul class="augment-box5__bnbg_list">
	                                <li class="augment-box5__bnbg_item nth-1">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">
	                                                    Pemisahan sel induk dari lemak setelah <br class="hidden-t">
	                                                    diekstraksi dari bagian tubuh lain
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__bnbg_item nth-2">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">Sel induk yg sudah dipisahkan disuntikan ke payudara.</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__bnbg_item nth-3">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">
	                                                    Sel induk yg dicangkokan tumbuh menjadi jaringan lemak payudara & <br>
	                                                    sebagian besar berkembang sendiri.
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                                <li class="augment-box5__bnbg_item nth-4">
	                                    <div class="augment-box5__item-wrap">
	                                        <div class="augment-box5__img">
	                                            <div class="augment-box5__caption">
	                                                <div class="augment-box5__vertical">Volume lebih tahan lama</div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box6">
	                <div class="augment-box6__box">
	                    <h4 class="content-section__tit type-center">
							<span class="content-section__number">
								<span class="content-section__number-wrap">
									04
								</span>
							</span>
							<strong class="color-svf10">Pemanfaatan SVF,</strong><br class="hidden-pt">
	                        teknologi & peralatan canggih adalah dasar.
						</h4>
	                    <p class="content-section__txt1">
							Teknologi dan peralatan canggih diperlukan untuk pencangkokan lemak berbasis SVF. BANOBAGI adalah fasilitas penelitian yg diizinkan oleh Kementerian Sains, ITC & Perencanaan Masa Depan. Kami pun dilengkapi dengan berbagai fasilitas & peralatan yg diperlukan untuk melakukan prosedur SVF yang aman. Selain itu, Spesialis kami dengan keahliannya membuat pengambilan & pencangkokan lemak lebih tepat dan natural. <br class="hidden-m">
	                        <strong>Ekstraksi SVF serbaguna membuat pencangkokan lemak BANOBAGI lebih efektif daripada yang lain walaupun dilakukan dengan jumlah jaringan lemak yg sama.</strong>
						</p>
	                    <div class="augment-box6__auth">
	                        Sertifikat Evaluasi Teknologi: Bisnis Unggul
	                    </div>
	                </div>
	            </div>
	            <div class="augment-box7">
	                <h5 class="content-section__tit augment-box7__tit">
	                    <span class="augment-box7__detail"><img src="../../images/svf/augment/augment_txt_01.png" loading="lazy" alt="detail"></span>
						<span class="augment-box7__subtit">ungguul dari BANOBAGI </span><br>
	                    Alasan <strong class="color-svf10">Augmentasi Payudara SVF</strong><br class="hidden-pt"> lebih memuaskan
	                </h5>
	                <div class="augment-box7__area">
	                    <ul class="augment-box7__list">
	                        <li class="augment-box7__item nth-1">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            Residensi Peneliti Bio-teknologi
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box7__item nth-2">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            Teknologi & keahlian yg detail <br>
	                                            untuk tidak meninggalkan bekas dalam<br class="hidden-pm">
												prosedur ekstrasksi & injeksi lemak.
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                        <li class="augment-box7__item nth-3">
	                            <div class="augment-box7__wrap">
	                                <div class="augment-box7__img">
	                                    <div class="augment-box7__caption">
	                                        <div class="augment-box7__vertical">
	                                            Dilengkapi dengan fasilitas yg diperlukan, misalnya
	                                            peralatan pengujian jumlah sel yg efektif, sistem
	                                            penyimpanan suhu ekstrem-rendah, ruang steril, dll.
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>

	        <div class="content-section">
	            <div class="augment-box8">
	                <div class="augment-box8__bg">
	                    <div class="augment-box8__box">
	                        <div class="augment-box8__tit-box">
	                            <p class="content-section__txt1 type-unique">BANOBAGI SVF</p>
	                            <h4 class="content-section__tit type-augment">
									<strong>Upaya pribadi</strong><br>
									<strong class="color-svf7">menuju hasil yg lebih memuaskan</strong>
								</h4>
	                        </div>
	                        <div class="augment-box8__img-wrap">
	                            <div class="augment-box8__img">
	                                <img src="../../images/svf/augment/augment_img_14.png" loading="lazy" alt="">
	                            </div>
	                            <div class="augment-box8__img">
	                                <img src="../../images/svf/augment/augment_img_15.png" loading="lazy" alt="">
	                            </div>
	                        </div>
	                        <div class="augment-box8__txt-wrap">
	                            <p class="content-section__txt1">
	    							Setelah sel lemak telah dicangkokkan ke payudara, <strong>membutuhkan waktu sekitar 2 minggu</strong> untuk pertumbuhan vaskular ke dalam sel lemak menjadi stabil. Oleh karena itu, untuk memaksimalkan tingkat pembesaran, perawatan khusus diperlukan dalam waktu tersebut. Yang paling penting adalah meminimalisasi gerakan & stimulasi eksternal.
	    						</p>
	                            <p class="content-section__txt2">
	    							Selain itu, merokok adalah faktor utama ng mengganggu pertumbuhan pembuluh darah, kami merekomendasikan <br class="hidden-pt">
	                                <span class="color-svf11">untuk tidak merokok ± 2 bulan</span>
	    						</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-svf type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Informasi Operasi</h4>
							<!-- <p class="operation-v2__subtit">Augmentasi payudara SVF BANOBAGI hadir dengan pemulihan yg lebih cepat</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
										<p class="operation-v2__txt txt-new1"> ± 1 jam ~ 2,5 jam bergantung pd jumlah yg diinjeksi</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
										<p class="operation-v2__txt txt-new1">Anestesi Total/Anestesi Sedasi IV</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
										<p class="operation-v2__txt txt-new1"> ± 1 X</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
										<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 3 ~ 5 hari</p>
									</div>
								</li>
							</ul>
							<div class="pain-v2 type-svf">
								<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Perasaan kencang & nyeri ringan dapat terjadi pada payudara tetapi akan berkurang seiring waktu.<br>
									Bagian lemak yg diekstraksi mungkin terasa kebal.<br>
									Prosedur ini merupakan prosedur suntikan & memiliki tingkat nyeri yg relatif rendah, tetapi jika pasien mengalami nyeri hebat, harus segera menghubungi & mengunjungi Rumah Sakit.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
									<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div> <!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
