<%
	type = "detail"
	page = "svf"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="svf detail-common">
	<section class="fs_section svfFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-svf">
					Teknologi yang <br class="hidden-pt"> <span class="color-svf0">paling aman dan efektif</span>
				</p>
				<h3 class="detail__first-txt type-svf">
					<strong class="detail__first-point">Penciptaan sel-sel yang sehat</strong><br>
					Detail dari <span class="color-svf0 weight-bold">SVF</span> Banobagi
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>SCROLL</em>
		</div>
	</section>

	<section class="fs_section svfSection01" data-section-name="svfSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-svf">
					<h4 class="detail__section-tit">
						SVF,<br>
						Metode operasi<br> <strong class="color-svf0">Banobagi</strong>
					</h4>
					<p class="detail__section-subtit">Terapi SVF yang lebih mutakhir</p>
					<p class="detail__section-txt">
						Dengan kualitas fasilitas Banobagi dan pengalaman dari para pekerja kami, kami dapat menyediakan perawatan SVF yang mengagumkan dengan menggunakan SVF dari darah, tulang sumsum, dan jaringan lemak. Sebagai contoh, <span class="color-svf1">sel-sel SVF (fraksi yang diekstraksi dari jaringan lemak bawah kulit) yang dapat digunakan langsung setelah diekstraksi dari jaringan lemak, memiliki keuntungan yaitu dapat memperbaiki diri sendiri, memperbaiki warna kulit dan elastisitasnya</span>, dan efek samping yang sangat kecil dari aktifasi faktor-faktor pertumbuhan dan sel-sel sekitarnya.
					</p>
				</div>
			</div>
		</div>
		<div class="detail__dim">screen</div>
		<div class="detail__section-bottom hidden-pt">
			<div class="detail__section-set">
				<span>Kegunaan SVF</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another0" data-popup-type="section">popup</a></span>
			</div>
		</div>
		<div class="detail__popup-m">
			<h5 class="detail__popup-m__tit">Kegunaan<span class="color-svf2">.</span></h5>
			<ul class="detail__popup-m__list">
				<li class="detail__popup-m__item">- Regenerasi sel diri sendiri</li>
				<li class="detail__popup-m__item">- Faktor-faktor pertumbuhan</li>
				<li class="detail__popup-m__item">- Proses diferensiasi</li>
				<li class="detail__popup-m__item">- Kekebalan tubuh yang meningkat</li>
				<li class="detail__popup-m__item">- Peningkatan kulit</li>
			</ul>
		</div>
	</section>

	<section class="fs_section svfSection02" data-section-name="svfSection02">
		<div class="detail__inner type-full">
			<div class="detail__popup type-svf">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">Area operasi menggunakan transplantasi sel</h5>
					<ul class="detail__popup-list">
						<li class="detail__popup-item nth-1">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">Wajah</h6>
								<p class="detail__popup-txt">Hidung, pipi, dahi, dagu, dan garis senyum</p>
							</div>
						</li>
						<li class="detail__popup-item nth-2">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">Tubuh</h6>
								<p class="detail__popup-txt">Payudara (augmentasi, rekonstruksi), Pantat</p>
							</div>
						</li>
						<li class="detail__popup-item nth-3">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">Anti penuaan</h6>
								<p class="detail__popup-txt">Keriput, elastisitas kulit, noda freckles, lingkaran-lingkaran hitam bawah mata</p>
							</div>
						</li>
						<li class="detail__popup-item nth-4">
							<div class="detail__popup-box">
								<h6 class="detail__popup-subject">Kulit</h6>
								<p class="detail__popup-txt">Warna kulit, luka, stretch marks, pori-pori, komedo</p>
							</div>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">Tutup</a>
				</div>
			</div>
			<div class="detail__section-wrap type-svf">
				<div class="detail__vertical">
					<div class="detail__section-box type-normal type-right type-svf">
						<h4 class="detail__section-tit">
							<strong>SVF,</strong><br>
							Dapat diaplikasikan pada  <strong class="color-svf0">berbagai area</strong>!
						</h4>
						<p class="detail__section-subtit">Berbagai aplikasi yang dapat dimanfaatkan dari SVF sel</p>
						<p class="detail__section-txt">
							SVF Sel yang diekstraksi dari jaringan lemak (SVF cells) tidak hanya memiliki kemampuan memperbaiki diri sendiri, tetapi juga dapat beradaptasi pada area yang disuntikkan, sehingga mudah untuk diaplikasikan pada berbagai area. Dengan pengalaman kami di bidang terapi SVF, <span class="color-svf1">Banobagi menawarkan perbaikan yang efektif dan alamiah pada berbagai area dari pembentukan jaringan parut, kulit yang menua, dan koreksi</span> di daerah wajah dan tubuh lain dengan perawatan sel punca.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-svf">
			<div class="detail__section-set">
				Berbagai aplikasi SVF<br class="hidden-p"> yang diekstraksi dari<br class="hidden-pt"> jaringan lemak (SVF cells)
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf">pop-up button</a></span>
			</div>
		</div>
	</section>

	<section class="fs_section svfSection03" data-section-name="svfSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-svf">
					<h4 class="detail__section-tit">
						SVF,<br>
						Banobagi begitu <strong class="color-svf0">memukau</strong>!
					</h4>
					<p class="detail__section-subtit">Kemampuan untuk mengumpulkan sel-sel yang berkualitas</p>
					<p class="detail__section-txt">
						Kesuksesan sel SVF tergantung pada kemampuan hidup sel yang sudah disuntikkan. Para peneliti <span class="color-svf1">bioteknologi Banobagi mengadakan prosedur SVF profesional untuk memastikan keberhasilan di hampir seluruh penanaman SVF. </span> Pengetahuan para spesialis dan teknologi canggih kami dalam mengambil sebanyak mungkin sel sehat dari sel lemak merupakan kunci dari perawatan SVF Banobagi yang bertahan lama.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section svfSection04" data-section-name="svfSection04">
		<div class="detail__inner type-full">
			<div class="detail__popup type-svf">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">Sistem penyimpanan dengan pembekuan pada suhu yang sangat rendah<span class="color-svf2">.</span></h5>
					<div class="popup-info">
						<div class="popup-info__img">Sistem penyimpanan dengan pembekuan pada suhu yang sangat rendah</div>
							<ol class="popup-info__list">
								<li class="popup-info__item">&middot; Pengulangan perawatan intensif </li>
								<li class="popup-info__item">&middot; Pencegahan hilangnya sel dan kontaminasi sel</li>
								<li class="popup-info__item">&middot; Penyimpanan dini sel-sel muda berkualitas tinggi untuk pemakaian berulang</li>
							</ol>
						</div>
						<a href="" class="detail__popup-close js-popup-close">Tutup</a>
					</div>
				</div>
				<div class="detail__section-wrap type-svf type-another">
					<div class="detail__vertical">
						<div class="detail__section-box type-wide type-right type-svf type-quotation2">
						<h4 class="detail__section-tit">
							SVF,<br>
							Terapi Banobagi <br>
							<strong class="color-svf4">dapat dilakukan beberapa kali</strong>
						</h4>
						<p class="detail__section-subtit">Sistem penyimpanan SVF dapat disimpan selama 3-5 tahun</p>
						<p class="detail__section-txt">
							Sel-sel SVF menjadi lebih rawan rusak dan terkontaminasi seiring bertambahnya waktu dari ekstraksi inisial. Oleh karena itu, metode terapi SVF tradisional hanya terbatas pada satu kali pemakaian. Namun, <span class="color-svf3">Banobagi menggunakan Sistem penyimpanan dengan pembekuan pada suhu yang sangat rendah untuk menyimpan sel-sel SVF.</span> Hal ini memungkinkan untuk perawatan beberapa kali dan pencapaian yang lebih baik.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-svf type-another">
			<div class="detail__section-set">
				Sistem penyimpanan dengan <br class="hidden-p">pembekuan minus196 derajat
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another">pop-up button</a></span>
			</div>
		</div>
	</section>

	<section class="fs_section svfSection05" data-section-name="svfSection05">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-svf">
					<h4 class="detail__section-tit">
						SVF, <br>
						Banobagi <strong class="color-svf0">Berbeda</strong>
					</h4>
					<p class="detail__section-subtit">Pengalaman selama 18 tahun dalam menciptakan lekukan tubuh di area sedot lemak yang indah</p>
					<p class="detail__section-txt">
						Langkah pertama dari penuaian SVF dan prosedur sedot lemak, dilakukan dengan cara yang berbeda di Banobagi. Saat SVF diekstraksi dari jaringan lemak, pemanasan tidak boleh dilakukan karena suhu dapat mencegah perkembangan SVF. <span class="color-svf5">Dengan pengetahuan dan pengalaman para pakar sedot lemaknya, </span>Banobagi mengekstraksi lemak dengan efektif, dan <span class="color-svf5">membuat bayangan yang indah untuk menghingdari benjolan-benjolah </span> di permukaan kulit tempat lemak disedot.
					</p>
				</div>
				<div class="layer-img2">
					<div class="layer-img2__box">img</div>
					<dl class="layer-img2__dl">
						<dt class="layer-img2__dt">* Tipe efek samping:</dt>
						<dd class="layer-img2__dd">warna kuit yang tidak rata setelah perawatan, pendarahan, pembesaran kelenjar bawah kulit, abnormalitas sensori, dan matinya jaringan kulit</dd>
					</dl>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section svfSection06" data-section-name="svfSection06">
		<div class="detail__inner type-full">
			<div class="detail__popup type-svf">
				<div class="detail__popup-wrap">
					<p class="detail__popup2-subtit">Mencegah kontaminasi Sel dan degenerasi</p>
					<h5 class="detail__popup-tit">Fasilitas Steril Kilat<span class="color-svf2">.</span></h5>
					<ul class="detail__popup2-list">
						<li class="detail__popup2-item nth-1">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">Air Shower</span>
								<h6 class="detail__popup2-subject"><span class="detail__popup2-wrap">Air Shower</span></h6>
							</div>
						</li>
						<li class="detail__popup2-item nth-2">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">Operasi Steril</span>
								<h6 class="detail__popup2-subject"><span class="detail__popup2-wrap">Operasi Steril</span></h6>
							</div>
						</li>
						<li class="detail__popup2-item nth-3">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">Fasilitas penelitian steril</span>
								<h6 class="detail__popup2-subject"><span class="detail__popup2-wrap">Fasilitas penelitian steril</span></h6>
							</div>
						</li>
						<li class="detail__popup2-item nth-4">
							<div class="detail__popup2-box">
								<span class="detail__popup2-img">Laboratorium STeril QC</span>
								<h6 class="detail__popup2-subject"><span class="detail__popup2-wrap">Laboratorium STeril QC</span></h6>
							</div>
						</li>
					</ul>
					<a href="" class="detail__popup-close js-popup-close">Tutup</a>
				</div>
			</div>
			<div class="detail__section-wrap type-svf type-another2">
				<div class="detail__vertical">
					<div class="detail__section-box type-wide type-right type-svf">
						<h4 class="detail__section-tit">
							SVF,<br>
							Banobagi mengerjakannya dengan
							<strong class="color-svf0">terperinci</strong>
						</h4>
						<p class="detail__section-subtit">Ruangan yang steril demi keamanan dan perawatan yang lebih sukses</p>
						<p class="detail__section-txt">
							Sel-sel tubuh merespon lingkungan sekitarnya dengan sangat sensitif. Sel bersifat mudah mati terhadap bakteri asing, polusi yang sangat kecil sekalipun, dan organisme lain.  <span class="color-svf6">Oleh karena itu, Banobagi menggunakan sistem ruangan steril untuk satu proses dari pemisahan sel dan isolasi sel. Perawatan yang aman dengan kerusakan minimal pada sel, sangatlah mungkin di Banobagi. </span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-svf type-another2">
			<div class="detail__section-set">
				Sistem Steril Kilat
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-svf type-another2" data-popup-type="footer">popup</a></span>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
