

//듀얼슬림
.box-style{padding-left:108px; padding-right:108px;
	@media only screen and (max-width:$tablet-size){padding-left:0; padding-right:0;}
}
.content-visual{
	&.type-dual{background:url('../images/body/dual/body_dual_img01.jpg') #EEF1F6 center bottom;}
	@media only screen and (max-width:$tablet-size){
		&.type-dual{background:url('../images/body/dual/body_dual_img01_768.jpg') no-repeat #EEF1F6 center bottom / cover;}
	}
}
.content-highlight{
	&.type-dual{background-color:#fce6df; line-height:1;}
	&.type-dual-other{background-color:#ff5a00;color: #fff;}
}
.content-highlight2{
	&.type-dual:after{background-color:#ff5a00;}
	&.type-black{background-color:#333333;
		&:after{display:none;}
	}
}

.dual-box1{position:relative; padding:0 0 270px; box-sizing:border-box; text-align:left;
	&:before{position:absolute; top:0; right:0; width:50%; height:100%; background:url('../images/body/dual/body_dual_img02.jpg') right bottom no-repeat; content:'';}
	&__box{width:50%; padding:0 16px 0 30px; box-sizing:border-box;}
	&__img{display:none;}
	.content-section__tit{margin-left:-30px;}
	@media only screen and (max-width:$tablet-size){padding:0;
		&:before{display:none;}
		&__box{width:100%; padding:0;}
		&__img{display:block; width:100%; height:0; margin-top:50px; padding-bottom:130%; background:url('../images/body/dual/body_dual_img02.jpg') center center no-repeat / cover;}
	}
	@media only screen and (max-width:$mobile-size){
		&__img{margin-top:30px; padding-bottom:156.2%; background:url('../images/body/dual/body_dual_img02_m.jpg') center center no-repeat / cover;}
		&__box{padding:0 15px;}
		.content-section__tit{margin-left:-15px;}
	}
}
.dual-box2{margin-top:-240px; padding-top:160px; padding-bottom:80px; background:url('../images/body/dual/body_dual_img03.jpg') #272726 no-repeat center top; box-sizing:border-box;
	&__tit{color:#fff;}
	&__txt{color:#afafaf !important;
		strong{color:#fff;}
	}
	&__subject{margin:90px 0 0 0; font-size:22px; font-weight:400; color:#fff; text-align:left;
		&:before{display:block; width:24px; height:0; margin-bottom:12px; border-top:2px solid #fff; height:0; content:'';}
	}
	&__list{margin:20px 0 0 -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:50%; padding-left:16px; box-sizing:border-box; list-style:none;}
	&__img{position:relative;
		img {width:100%;}
	}
	&__caption{position:absolute; left:0; right:0; bottom:0; height:50px; margin:0; text-align:center; font-size:20px; color:#fff; font-weight:400; line-height:50px; background-color:rgba(44,44,44,0.9);}
	@media only screen and (max-width:$tablet-size){margin:-100px -65px 0; padding:160px 65px 60px;
		&__subject{margin-top:60px;}
		&__list{margin-left:-10px;}
		&__item{padding-left:10px;}
	}
	@media only screen and (max-width:$mobile-size){margin:-50px -20px 0; padding:50px 20px 60px;
		.content-section__tit{padding-top:0;}
		&__subject{font-size:1.6rem;
			&:before{width:16px;}
		}
		&__list{margin-top:10px; margin-left:0;}
		&__item{width:100%; padding-left:0;
			& + &{margin-top:25px;}
		}
		&__caption{height:36px; line-height:36px; font-size:1.4rem;}
	}
}
.dual-box3{padding-top:80px; padding-bottom:50px;  background:url('../images/body/dual/body_dual_img06.jpg') no-repeat center center / cover;
	$this:&;
	&__tit{color:#fff;
		img{margin-left:6px; margin-top:-4px;}
	}
	&__subtit{font-size:30px; font-weight:200; vertical-align:middle;}
	&__detail{vertical-align:top;}
	&__doctor{position:relative; width:100%; height:0; margin-top:20px; padding-bottom:43.79%; background:url('../images/body/dual/body_dual_doctor.png') no-repeat center bottom / contain;}
	&__name{position:absolute; bottom:30px; font-size:17px; color:#fff;
		& strong{display:block; font-weight:500;}
		&.nth-1{left:0; text-align: right;}
		&.nth-2{left:0; right:0; text-align:center; color:#272726;}
		&.nth-3{right:0; text-align:left;}
	}
	&__area{margin:0 -108px; padding:30px 108px 40px; background-color:#151502;}
	&__list{margin:0 0 0 -24px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position:relative; float:left; width:33.33%; padding-left:24px; box-sizing:border-box; list-style:none;
		&.nth-1{
			#{$this}__img{background:url('../images/body/dual/body_dual_img07.jpg') no-repeat center center / cover;}
		}
		&.nth-2{
			#{$this}__img{background:url('../images/body/dual/body_dual_img08.jpg') no-repeat center center / cover;}
		}
		&.nth-3{
			#{$this}__img{background:url('../images/body/dual/body_dual_img09.jpg') no-repeat center center / cover;}
		}
	}
	&__img{width:100%; height:0; padding-bottom:69.64%;}
	&__caption{position:absolute; left:0; bottom:0; height:96px; background:rgba(16,36,51,0.8); font-size:16px; font-weight:400; color:#fff;}
	&__vertical{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
	&__doctor-img{display:none; font-size:0;}
	&__wrap{position:relative;}
	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:80px 65px 50px; background:url('../images/body/dual/body_dual_img06_768.jpg') no-repeat center center / cover;
		&__name{bottom:16px;
			&.nth-1{left:-45px;}
			&.nth-3{right:-45px;}
		}
		&__list{margin-left:-16px;}
		&__item{padding-left:16px;}
		&__area{margin:0 -65px; padding:25px 20px;}
		&__caption{padding: 0 1%;font-size:15px;}
	}
	@media only screen and (max-width:$mobile-size){margin:0 -20px; padding:50px 20px 0px;
		&__tit{padding-top:0 !important;
			img{margin-left:3px; width:66px;}
		}
		&__subtit{font-size:1.8rem;}
		&__area{margin:0 -20px; padding:20px;}
		&__doctor{position:relative; height:auto; margin:0 -20px; width:auto; padding-bottom:0; background-color:#fcfcfc; background-image:none; padding-bottom:20px;
			&:before{width:100%; height:0; padding-bottom:59.43%;  background:url('../images/body/dual/body_dual_doctor.png') no-repeat center bottom / contain; content:'';}
		}
		&__name{top:0; bottom:auto; color:#222220; font-size:1.3rem;
			&.nth-1{left:10px; text-align:center;}
			&.nth-2{position:static;}
			&.nth-3{right:10px; text-align:center;}
		}
		&__list{margin-left:0;}
		&__item{width:100%; padding-left:0;
			& + &{margin-top:25px;}
		}
		&__doctor-img{display:block; margin:20px -20px 0;
			img{width:100%;}
		}
		&__caption{right:0; height:auto; padding:10px 0; font-size:1.5rem;}
		&__vertical{display:block; width:auto; height:auto;}
	}
}
.dual-box4{
	.content-section__txt2{margin-top:0;}
	@media only screen and (max-width:$tablet-size){padding-left:64px; padding-right:64px;}
	@media only screen and (max-width:$mobile-size){padding-left:0; padding-right:0;}
}

.item-box3{
	$this:&;
	&.type-dual{margin-top:70px;
		#{$this}__item{
			&.nth-1{
				#{$this}__box:before{background:url("../images/body/dual/body_dual_img10.jpg") no-repeat center center / cover;}
			}
			&.nth-2{
				#{$this}__box:before{background:url("../images/body/dual/body_dual_img11.jpg") no-repeat center center / cover;}
			}
			&.nth-3{
				#{$this}__box:before{background:url("../images/body/dual/body_dual_img12.jpg") no-repeat center center / cover;}
			}
			&.nth-4{
				#{$this}__box:before{background:url("../images/chest/chest_reduction_img07.jpg") no-repeat center center / cover;}
			}
			&.nth-5{
				#{$this}__box:before{background:url("../images/body/dual/body_dual_img13.jpg") no-repeat center center / cover;}
			}
			&.nth-6{
				#{$this}__box:before{background:url("../images/body/dual/body_dual_img14.jpg") no-repeat center center / cover;}
			}
			&.nth-7{
				#{$this}__box:before{background:url("../images/body/dual/body_dual_img15.jpg") no-repeat center center / cover;}
			}
		}
		@media only screen and (max-width:$mobile-size){margin-top:40px;

		}
	}
}
.dual-box5{
	&__subject{display:inline-block; margin:60px 0 0 0; font-size:28px; font-weight:500;
		&:before{display:block; width:24px; height:0; margin:0 auto 12px; border-top:2px solid #000; content:'';}
	}
	@media only screen and (max-width:$tablet-size){padding-left:64px; padding-right:64px;}
	@media only screen and (max-width:$mobile-size){padding-left:0; padding-right:0;
		&__subject{margin-top:40px; font-size:1.7rem;
			&:before{width:16px; margin:0 auto 12px;}
		}
	}
}
.dual-box6{position:relative; padding-top:100px; padding-bottom:110px; background:url('../images/body/dual/body_dual_img16.jpg') no-repeat #cbcfea left bottom / contain;
	&__wrap{padding-left:40.4%; text-align:left;}
	&__box{padding-left:30px; padding-right:108px;}
	.content-section__tit{margin-left:-30px; margin-right:-60px;}
	.content-section__txt1{color:#333;}
	.quotation2{width:100%; margin-top:50px; background:transparent; border-color:#8f91a1;}
	.info-desc{background:rgba(28,28,28,0.9);}
	.info-desc__tit{color:#fff;}
	.info-desc__txt1{color:#fff;}
	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:60px 20px 40px; background:url("../images/body/dual/body_dual_img16_768.jpg") #cbcfea no-repeat
		 left bottom / contain;
		.content-section__tit{margin-right:0; word-break: keep-all;}
		&__wrap{padding-left:260px;}
		&__box{padding:0;}
		.info-desc__tit{color:#333;}
		.info-desc__txt1{color:#333;}
	}
	@media only screen and (max-width:$mobile-size){margin:0 -20px; padding:56px 0 0; background-image:none;
		&__box{padding:0 15px;}
		&__wrap{padding:0 20px;}
		&__img{position:relative; height:0; margin-top:20px; padding-bottom:106.25%; background:url("../images/body/dual/body_dual_img16_640.jpg") #cbcfea no-repeat center bottom / cover;}
		.content-section__tit{margin-left:-15px;}
		.quotation2{margin-top:30px; padding:16px 3%;}
	}
}

.after-style{
	$this:&;
	@media only screen and (max-width:$mobile-size){
		&.type-dual{
			position:absolute;bottom:40px;width: 100%;margin-top:0;padding:0 20px;box-sizing: border-box;
		}
	}
}

.operation{
	$this:&;
	&__wrapper{
		&.type-dual{background:url('../images/body/dual/body_dual_img17.jpg') no-repeat left center;}
	}
}
.status-bar{
	$this:&;
	&.type-dual{
		& #{$this}__wrap{background:url('../images/body/dual/status_bar01.png') no-repeat center center; background-size:contain}
	}
}
.dual-color1{color:#ff3600;}
.dual-color2{color:#f2ec97;}
.dual-color3{color:#2616a3 !important;}
