//부위별 지방흡입

.content-visual{
	$this:&;
	&.type-site{
		#{$this}__txt1{color:#fff;}
		#{$this}__tit{color:#fff;}
		#{$this}__txt2{color:#fff;
			&:before{background:url('../images/common/ellipsis_w.png');}
		}
	}

	@media only screen and (max-width:$mobile-size){
		&.type-site{
			#{$this}__txt2{
				&:before{background-image: url(../../images/common/white-ellipsis_m.png);background-size: 2px 21px;}
			}
		}
	}

}

.site-box1{position:relative; padding: 80px 92px 0;
	&:before{position:absolute; top:0; left:0; right:0; width:40px; height:27px; margin:0 auto; background:url('../images/common/q_left_m.png') no-repeat center center;
		background-size:contain; content:'';}
	&__txt1{margin:0; font-size:34px; font-weight:300; line-height:1.6; word-break: keep-all;
		& strong{font-weight:400;}
	}
	&__txt2{margin:44px 0 0 0; font-size:16px; color:#666; line-height:1.8; word-break: keep-all; padding: 0 25%;}
	@media only screen and (max-width:$tablet-size){
		padding-left: 0;padding-right: 0;
		&__txt1{margin:0 -15px;}
		&__txt2{margin-top:44px; padding: 0;}
	}
	@media only screen and (max-width:$mobile-size){padding-top:44px;
		&:before{width:20px; height:13px; background-size:contain;}
		&__txt1{margin:0; font-size:2.1rem;}
		&__txt2{margin-top:30px; font-size:1.4rem;}
	}
}
.site-wrap{width:1064px; margin:0px auto;
	@media only screen and (max-width:$minpc-size3){width:100%;}
}
.site-circle{margin-top:80px;
	&__img{position:relative; width:100%; height:0; padding-bottom:49.64%; background:url('../images/body/body_circle_img.png') no-repeat center bottom / contain;}
	&__box{position:absolute; top:90px; width:258px; height:258px; background:url('../images/body/body_circle.png') no-repeat center center / cover;
		&.type-left{left:0;}
		&.type-right{right:0;}
	}
	&__wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
	&__tit{margin:0; font-size:30px; font-weight:200; line-height:1.16;}
	&__point{display:block; color:#ff9f2e; font-weight:400;}
	@media only screen and (max-width:$tablet-size){margin-top:60px;
		&__img{padding-bottom:71.48%;}
		&__box{top:auto; bottom:95px; width:220px; height:220px;
			&.type-left{left:0;}
			&.type-right{right:0;}
		}
		&__tit{font-size:25px;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:25px;
		&__img{padding-bottom:71.48%;}
		&__box{bottom:25px; width:110px; height:110px;
			&.type-left{left:0;}
			&.type-right{right:0;}
		}
		&__tit{font-size:1.4rem;}
	}
}
.part-box1{padding: 150px 110px;background-color: #ffebe4;
	&__tit{margin:0; font-size: 50px;font-weight: 200;text-align: left;}
	&__tit strong{font-weight: 400;}


	@media only screen and (max-width:$tablet-size){ margin: 0 -65px;padding: 100px 65px;
		}
	@media only screen and (max-width:$mobile-size){ margin: 0 -20px;padding: 50px 20px;
		&__tit{font-size: 2.6rem;}
		}
	}

.item-box3{
	$this:&;
	&.type-body-part{margin-top:70px;
		#{$this}__item{
			&.nth-1{
				#{$this}__box:before{background: url(../images/body/site/site_img01.jpg) no-repeat center center/cover;}
				}
			&.nth-2{
				#{$this}__box:before{background: url(../images/body/site/site_img02.jpg) no-repeat center center/cover;}
				}
			&.nth-3{
				#{$this}__box:before{background: url(../images/body/site/site_img03.jpg) no-repeat center center/cover;}
				}
			&.nth-4{
				#{$this}__box:before{background: url(../images/body/site/site_img04.jpg) no-repeat center center/cover;}
				}
			&.nth-5{
				#{$this}__box:before{background: url(../images/body/site/site_img05.jpg) no-repeat center center/cover;}
				}
			&.nth-6{
				#{$this}__box:before{background: url(../images/body/site/site_img06.jpg) no-repeat center center/cover;}
				}
			&.nth-7{
				#{$this}__box:before{background: url(../images/body/site/site_img07.jpg) no-repeat center center/cover;}
				}
			&.nth-8{
				#{$this}__box:before{background: url(../images/body/site/site_img08.jpg) no-repeat center center/cover;}
				}
			}
		@media only screen and (max-width:$mobile-size){margin-top:40px;

			}
		}
	}



.site-box2{ background:url('../images/body/body_site_img02_1.png') no-repeat right 28px bottom 60px; padding-left:40px; padding-right:696px; text-align:left; word-break: keep-all;
	$this:&;
	&.type-thigh{padding-bottom:140px; background:url('../images/body/body_site_img02_2.png') no-repeat right bottom;
		& + .list-box{margin-top:0;}
	}
	&.type-forearm{padding-bottom:140px; background:url('../images/body/body_site_img02_3.png') no-repeat right bottom;
		& + .list-box{margin-top:0;}
	}
	& .content-section__tit{display:block;}
	& .quotation2__txt{font-size:19px; }
	&__img{display:none;}
	@media only screen and (max-width:$minpc-size3){padding:0; background:none;
		&.type-thigh{padding-bottom:0; background:none;
			#{$this}__img{ padding-bottom:94.68%; background:url('../images/body/body_site_img02_2_t.jpg'); background-size:cover;}
			& + .list-box{margin-top:100px;}
		}
		&.type-forearm{padding-bottom:0; background:none;
			#{$this}__img{ padding-bottom:113.79%; background:url('../images/body/body_site_img02_3_t.jpg'); background-size:cover;}
			& + .list-box{margin-top:100px;}
		}
		.content-section__txt1{margin-top:60px;}
		.content-section__txt2{margin-top:50px;}
		&__img{overflow:hidden; position:relative; display:block; width:100%; height:0; margin-top:76px; padding-bottom:120.37%; background:url('../images/body/body_site_img02_1_t.jpg'); background-size:cover;
			text-indent:-999px;
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-thigh{
			& + .list-box{margin-top:60px;}
		}
		&.type-forearm{
			& + .list-box{margin-top:60px;}
		}
		.content-section__txt1{margin-top:40px;}
		.content-section__txt2{margin-top:25px;}
		&__img{margin-top:25px;}
	}
}
.list-box.type-body-part{
		.list-box{
		&__box{background-color: #fe561b;}
		&__tit{    line-height: 1.3;}
		}
	@media only screen and (max-width:$tablet-size){padding-left: 276px;
		.list-box{
		&__wrap{width: 220px;height: 206px;}
		}
		}
	@media only screen and (max-width:$mobile-size){padding: 66px 20px 10px; padding-top: 90px;
		.list-box{
			&__wrap{ width: 141px;height: 110px;}
		}
		}
	}
.site-box4{margin-top:240px; padding-bottom:460px;  background:url('../images/body/body_site_img03.png') no-repeat center bottom; text-align: center;
	& .content-section__tit{display:block; word-break: keep-all;padding-left: 92px;padding-right: 92px;}
	 .content-section__txt1{ padding: 0 14%;}
	&__img{display:none;}
	@media only screen and (max-width:$tablet-size){margin:100px -65px 0; padding-bottom:0; background:none;
		& .content-section__tit{padding:140px 65px 0;}
		& .content-section__txt1{padding:0 65px;}
		&__img{display:block; position:relative; overflow:hidden; width:100%; height:0; margin-top:50px; text-indent:-9999px; padding-bottom:43.75%; font-size:0;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/body/body_site_img03_t.jpg') center bottom / cover; content:'';}
		}
	}
	@media only screen and (max-width:$mobile-size){margin:50px -15px 0;
		& .content-section__tit{padding:100px 15px 0;}
		& .content-section__txt1{padding:0 15px;}
		&__img{margin-top:34px;}
	}
}
.site-box5{padding:150px 110px; background-color:#ffebe4;
	$this:&;
	&__tit{font-size:50px; font-weight:200; text-align:left;
		strong{font-weight:400;}
	}
	&__list{margin-top:70px;}
	&__item{
		&:after{display:block; clear:both; content:'';}
		& + &{margin-top:34px;}
		&.nth-1{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img01.jpg') no-repeat center center / cover;}
		}
		&.nth-2{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img02.jpg') no-repeat center center / cover;}
		}
		&.nth-3{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img03.jpg') no-repeat center center / cover;}
		}
		&.nth-4{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img04.jpg') no-repeat center center / cover;}
		}
		&.nth-5{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img05.jpg') no-repeat center center / cover;}
		}
		&.nth-6{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img06.jpg') no-repeat center center / cover;}
		}
		&.nth-7{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img07.jpg') no-repeat center center / cover;}
		}
		&.nth-8{
			#{$this}__box.type-img:before{background:url('../images/body/site/site_img08.jpg') no-repeat center center / cover;}
		}
	}
	&__box{float:left;
		&.type-img{overflow:hidden; display:block; position:relative; width:40.56%; height:260px; /*padding-bottom:24.52%;*/ text-indent:-9999px;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; content:'';}
		}
		&.type-txt{width:59.44%; height:260px; background-color:#fff;}
	}
	&__wrap{display:table-cell; width:1%; height:inherit; padding:0 50px; vertical-align:middle; text-align:left;}
	&__img{position:absolute; top:0; left:0; width:100%; height:100%;}
	&__subject{font-size:24px; color:#fe561b; font-weight:400;}
	&__txt{margin-top:34px; font-size:17px; color:#666; line-height:2; word-break:keep-all;}
	@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:100px 65px;
		&__box{
			&.type-img{width:100%; height:0; padding-bottom:60.18%;}
			&.type-txt{width:100%; height:auto;}
		}
		&__wrap{display:block; width:100%; height:auto; padding:50px;}
		&__item{
			& + &{margin-top:50px;}
		}
	}
	@media only screen and (max-width:$mobile-size){margin:0 -15px; padding:50px 15px;
		&__tit{font-size:2.6rem;}
		&__list{margin-top:25px;}
		&__item{
			& + &{margin-top:40px;}
		}
		&__wrap{padding:20px;}
		&__subject{font-size:1.5rem;}
		&__txt{margin-top:15px; font-size:1.3rem;}
	}
}
.content-visual__border{
	@media only screen and (max-width:$tablet-size){border:none;}
}
.quotation2{
	&__item{line-height:1.9;}
	@media only screen and (max-width:$tablet-size){
		&.type-list{margin-top:60px; padding:56px 88px;}
		&__item{font-size:22px;}
	}
	@media only screen and (max-width:$mobile-size){
		&.type-list{margin-top:30px; padding:30px 20px;}
		&__item{font-size:1.3rem;
			& + &{margin-top:10px;}
		}
	}
}
