
.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.wrinkleFirst{background: url(../../images/wrinkle/wrinkle_detail_section01.jpg) center center; background-size: cover;
		& .detail__inner{text-align:center;}
	}
	&.wrinkleSection01{background: url(../../images/wrinkle/wrinkle_detail_section02.jpg) center 100%; background-size: cover;}
	&.wrinkleSection02{background: url(../../images/wrinkle/wrinkle_detail_section03.jpg) center 100%; background-size: cover;
		& .detail__section-box{float:right; color:#333; width:428px; bottom:12px;}
		& .detail__section-subtit{color:#333;}
	}
	&.wrinkleSection03{background: url(../../images/wrinkle/wrinkle_detail_section04.jpg) center 100%; background-size: cover;
		& .detail__section-box{width:420px; }
	}
	&.wrinkleSection04{background: url(../../images/wrinkle/wrinkle_detail_section05.jpg) center 100%; background-size: cover;
		& .detail__section-box{bottom:13px;}
	}
	&.wrinkleSection05{background: url(../../images/wrinkle/wrinkle_detail_section06.jpg) center 100%; background-size: cover;
		& .detail__section-box{float:right; width:450px; color:#333; bottom:-7px;}
		& .detail__section-subtit{color:#333;}
	}
	@media only screen and (max-width:$tablet-size){
		&.wrinkleFirst{background: url(../../images/wrinkle/wrinkle_detail_section01_992.jpg) center 100%; background-size: cover;}
		&.wrinkleSection01{background: url(../../images/wrinkle/wrinkle_detail_section02_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:auto; left:auto; width:100%;
				&.type-270{width:250px;}
			}
		}
		&.wrinkleSection02{background: url(../../images/wrinkle/wrinkle_detail_section03_768.jpg) center bottom; background-size: cover;
			& .detail__section-box{top:-110px; left:auto; width:300px;}
		}
		&.wrinkleSection03{background: url(../../images/wrinkle/wrinkle_detail_section04_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:auto; right:auto; width:300px;}
		}
		&.wrinkleSection04{background: url(../../images/wrinkle/wrinkle_detail_section05_768.jpg) center center; background-size: cover;
			& .detail__section-box{top:auto; left:auto; bottom:auto; width:100%;}
		}
		&.wrinkleSection05{background: url(../../images/wrinkle/wrinkle_detail_section06_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:auto; left:auto; bottom:auto; width:295px;}
		}
		&.wrinkleSection06{
			background:  url(../../images/wrinkle/wrinkle_detail_video_990.jpg) 0 0 /cover no-repeat;
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.wrinkleFirst{background: url(../../images/wrinkle/wrinkle_detail_section01_640.jpg) center center; background-size: cover;}
		&.wrinkleSection01{height:849px !important; background: url(../../images/wrinkle/wrinkle_detail_section02_640.jpg) center bottom; background-size: cover;}
		&.wrinkleSection02{height:930px !important; background: url(../../images/wrinkle/wrinkle_detail_section03_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:auto; bottom:-260px; width:100%;}
		}
		&.wrinkleSection03{height:850px !important; background: url(../../images/wrinkle/wrinkle_detail_section04_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:auto; left:auto; bottom:-190px; width:100%;}
		}
		&.wrinkleSection04{height:800px !important; background: url(../../images/wrinkle/wrinkle_detail_section05_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:auto; bottom:0; width:100%; margin-top:0;}
		}
		&.wrinkleSection05{height:940px !important; background: url(../../images/wrinkle/wrinkle_detail_section06_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:-206px; right:auto; bottom:auto; width:100%;}
		}
		&.wrinkleSection06{
			padding-bottom: 100px;
			background-image: url(../../images/wrinkle/wrinkle_detail_video_680.jpg);
		}
	}
	@media only screen and (max-width:$minpc-size3) and (orientation: landscape){
		&.wrinkleSection01{
			& .detail__section-box{width:100%;}
		}
		&.wrinkleSection02{background: url(../../images/wrinkle/wrinkle_detail_section03_768.jpg) center center; background-size: cover;
			& .detail__section-box{top:-20px; width:300px;}
		}
		&.wrinkleSection04{
			& .detail__section-box{bottom:auto; width:100%;}
		}
		&.wrinkleSection05{background: url(../../images/wrinkle/wrinkle_detail_section06_768.jpg) center left; background-size:cover;
			& .detail__section-box{right: -40px; width:370px;}
		}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&.wrinkleSection01{
			& .detail__section-box{top:0px;}
		}
		&.wrinkleSection02{background: url(../../images/wrinkle/wrinkle_detail_section03_640.jpg) center 45%; background-size: cover;
			& .detail__section-box{top:300px; width:100%; bottom:auto;}
		}
		&.wrinkleSection05{height:900px !important; background: url(../../images/wrinkle/wrinkle_detail_section06_640.jpg) center 68%; background-size: cover;
			& .detail__section-box{top:-260px; width:100%;}
		}
	}
}

.video{position: relative; top: 0px; height:inherit;
	$this:&;
	&__wrap{position: relative; height:100%; overflow: hidden; }
	&__wrap iframe{position: absolute;top: -45px; left: 50%;width: 100%;min-height: 100vh;height: 56.25vw;width: 100%;min-width: 177.77vh; -ms-transform: translateX(-50%);-webkit-transform: translateX(-50%);transform: translateX(-50%) ;}
	&__img{display: none;}
	&__btn{display: none;}
	&__box{    position: absolute;top: 0;left: 0;width: 100%;height: 100%;    z-index: -1;pointer-events: none;overflow: hidden;}
	&__btn--counsel{display: none;text-transform: uppercase;}
	&__desc{display: none;}
	&__screen{position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: transparent; z-index:3;}
	 	@media only screen and (max-width:$tablet-size){
		 	&__screen{display: none;}
			&__wrap{display: inline-block; margin: 0 auto; margin-top: 40px; }
		 	&__wrap.show{
			 	#{$this}__btn{display:none;}
		 	}
			&__box{z-index: 0;}
		 	&__wrap{width: 100%; height:340px;}
		 	&__wrap iframe{height: inherit; width: 600px;top: auto; min-height:0 ;min-width:0; margin-top: 0;}
		 	&__btn--counsel{position: relative; display: inline-block;font-size: 20px; font-weight: 400; margin-top: 35px; color: #ffffff; width: 250px; height: 65px; -webkit-border-radius: 35px;-moz-border-radius: 35px;border-radius: 35px;background-color: #744527; cursor: pointer;}
			&__btn--counsel:after{content: '';position: absolute; display: inline-block;width: 10px;height: 10px; right: 30px; top: calc(50% - 6px); background:  url(../../images/wrinkle/btn-arrow-right.png) 0 0 / 8px auto no-repeat;}
			&__btn--counsel:before{content: '';display: inline-block; height: 100%; vertical-align: middle;}
			&__desc{display: block; padding-top: 240px;}
			&__tit{font-size: 0; max-width: 520px; margin: 0 auto; height: 78px; background: url(../../images/wrinkle/tit_680.png) 50% no-repeat; background-size:contain;}
			&__txt1{font-size: 0; max-width: 400px; margin: 0 auto; margin-top: 10px; height: 25px; background: url(../../images/wrinkle/txt1_680.png) 50% no-repeat; background-size:contain;}
	 	}
		@media only screen and (max-width:$mobile-size){
			&__wrap{width: 100%; margin-top: 0px; height: 187px; margin-top: 23px;}
			&__wrap iframe{  width: auto;}
			&__btn--counsel{font-size: 1.5rem; width: 196px; height: 50px; margin-top: 20px;}
			&__btn--counsel:after{content: '';position: absolute; display: inline-block; width: 8px;height: 10px; right: 26px; top: calc(50% - 6px); background:  url(../../images/wrinkle/btn-arrow-right_680.png) 0 0  / 7px 9px no-repeat; ;}
			&__desc{padding-top:165px;}
			&__tit{max-width: 234px; height: 54px; background-image: url(../../images/wrinkle/tit_680.png); }
			&__txt1{max-width: 259px; height: 14px;margin-top: 8px; background-image: url(../../images/wrinkle/txt1_680.png);}
		}
		@media only screen and (max-width:$tablet-size) and (orientation: landscape){
			&__desc{padding-top:150px;}
		}
}

.fake-table{width:529px; margin-top:40px; border-top:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb;
	@media only screen and (max-width:$mobile-size){width:100%; margin-top:0px;}
	&__tit{display:table-cell; width:1%; height:36px; color:#666; font-weight:400; background-color:#ded7d2; text-align: center; vertical-align:middle; font-size:14px;
		@media only screen and (max-width:$mobile-size){height:32px; font-size:1.3rem;}
	}
	&__list{margin:0; padding:0; font-size:0;
		@media only screen and (max-width:$mobile-size){position:relative;
			&:before{position:absolute; top:0; left:0; width:100%; height:32px; background-color:#ded7d2; content:'';}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative; display:inline-block; width:28%; height:548px; font-size:12px;box-sizing: border-box;
		@media only screen and (max-width:$mobile-size){height:590px; font-size:1.2rem;}
		@media only screen and (max-width:$iphone-size){font-size:1.2rem;}
		&:first-child{width:15.4%;
			& .fake-table__tit{color:#333;}
			& .fake-table__txt{display:inline-block; width:100%; height:500px; margin:0;box-sizing: border-box;
				background:url('../../images/wrinkle/popup_img2.jpg') no-repeat center center; line-height:500px; color:#333; font-weight:400; background-color:#f5f5f5;
				@media only screen and (max-width:$mobile-size){background:url('../../images/wrinkle/popup_img2_m.jpg') center center no-repeat / contain; background-color:#f5f5f5;
					background-size:40px 442px; height:559px; line-height:1.3; padding-top:266px; }
			}
		}
		& + &{border-left:1px solid #bbbbbb;}
		&:nth-child(1){
			& .fake-table-txt{margin-top:86px;}
		}
	}
	&__txt{color:#666; line-height:1.3;
		&.type-2{background-color:#f5f5f5;}
		&.type-1{border-bottom:1px solid #eeeeee;}
		&.type-3{position:absolute; bottom:0; background-color:#b4866b; color:#fff;
			& .fake-table__wrap{height:140px;
				@media only screen and (max-width:$mobile-size){height:125px;}
				@media only screen and (max-width:$iphone-size){height:140px;}
			}
			&.type-another1{bottom:20px;}
			&.type-another2{
				@media only screen and (max-width:$mobile-size){margin-top:0;
					& .fake-table__wrap{height:95px;}
				}
			}
		}
		&.type-another1{margin-top:80px; border-top:1px solid #eee;
			@media only screen and (max-width:$mobile-size){margin-top:20px;}
		}
		&.type-another2{margin-top:40px;}
		// @media only screen and (max-width:$mobile-size){
		// 	&.type-another1{margin-top:74px;}
		// 	&.type-another2{margin-top:37px;}
		// }
	}
	&__type{display:inline-block; font-size:12px; margin-bottom:3px; padding:4px 8px; color:#fff; border-radius:20px 20px 20px 20px;
		@media only screen and (max-width:$mobile-size){font-size:1rem;}
		@media only screen and (max-width:$iphone-size){font-size:0.9rem;}
	}
	&__type1{background-color:#7d5b47;}
	&__type2{background-color:#997058;}
	&__type3{background-color:#b4866b;}
	&__type4{background-color:#ffffff; color:#b4866b;}
	&__type5{background-color:#4e3222;}
	&__wrap{display:table-cell; width:1%; height:80px; vertical-align:middle; padding:0 26px;
		@media only screen and (max-width:$mobile-size){height:100px; padding:0 8px;}
	}
}


.layer-doc3{float:right; position:relative; top:106px; width:774px; height:540px; background:url('../../images/wrinkle/popup_img1.jpg') center center; background-size:cover;
	&__box{position: absolute; bottom:0; left:0; width:100%; padding:25px; background-color:rgba(92,72,59,0.85); color:#fff; text-align:center; box-sizing:border-box;}
	&__tit{margin:0; font-size:24px; font-weight:300; line-height: 1.4;
		& .font-eng{text-transform: uppercase;}
	}
	&__txt{margin:10px 0 0 0; font-size:15px;}
	@media only screen and (max-width:$minpc-size3){width:500px; height:349px;}
	@media only screen and (max-width:$tablet-size){float:none; top:auto; width:490px; height:340px; margin:64px auto 0; background:url('../../images/wrinkle/popup_img1_t.jpg') center center; background-size:cover;
		&__box{padding:22px;}
		&__tit{font-size:20px;}
		&__txt{margin-top:7px;}
	}
	@media only screen and (max-width:$mobile-size){width:100%; padding-bottom:109.71%; height:0; background:none;
		&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../../images/wrinkle/popup_img1_m.jpg') center center;  background-size:cover; content:'';}
		&__box{padding:16px 5px;}
		&__tit{font-size:1.3rem;}
		&__txt{margin-top:5px; font-size:1.1rem;}
	}
	@media only screen and (max-width:$minpc-size3) and (orientation: landscape){top:30px;}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){width:310px; height:340px; padding-bottom:0;}
}
.layer-doc4{
	$this:&;
	@media only screen and (max-width:$minpc-size3) {
		&.type-wrinkle{float:none; position:static; bottom:auto; margin:20px 0 0;
			#{$this}__list{margin:0 auto; }
		}
	}
	@media only screen and (max-width:$minpc-size3) and (orientation: landscape){
		&.type-wrinkle{float:none; position:static; bottom:auto; margin:20px 0 0;
			#{$this}__list{width:100%; height:215px;}
		}
	}
}
.color-wrinkle0{color:#e8dad1; font-weight:300;}
.color-wrinkle1{color:#666; font-weight:300;}
.color-wrinkle2{color:#997058;}
.color-wrinkle3{color:#fff09b;}
.color-wrinkle4{color:#eedbce;}
.color-wrinkle5{color:#c17543;}
.color-wrinkle6{color:#c17543;}
.color-comma{color:#a3968e;}



.full-screen-video{
   animation-fill-mode: none !important;
}
