<%
	type = "detail"
	page = "wrinkle"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="wrinkle detail-common" data-video="true">
	<section class="fs_section wrinkleFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-wrinkle">
					Kulit yang lebih halus,<br class="hidden-pt">
					elastisitas yang lebih kuat,<br class="hidden-pt">
					penampilan yang lebih alamiah
				</p>
				<h3 class="detail__first-txt type-wrinkle">
              		<strong class="detail__first-point">Anti penuaan</strong> <br>
					Detail dari <span class="color-wrinkle2">Anti Penuaan</span> Banobagi
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Selanjutnya</em>
		</div>
	</section>

	<section class="fs_section wrinkleSection01" data-section-name="wrinkleSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-wrinkle">
              		<h4 class="detail__section-tit">
                		Metode Operasi Anti-Aging <strong class="color-wrinkle3">BANOBAGI</strong>
              		</h4>
              		<p class="detail__section-subtit">Spesialis anti penuaan yang memperhatikan sampai ekspresi wajah</p>
              		<p class="detail__section-txt">
                		Kerutan wajah sering muncul dari pengulangan ekspresi wajah selama hidup seseorang. Melakukan operasi atau perawatan anti penuaan harus didasarkan pada hal mendasar mengenai otot-otot yang terlibat dalam ekspresi-ekspresi wajah. Berdasarkan pengetahuan dan keterampilan kami yang handal,
						<span class="color-wrinkle4">Banobagi membantu mengindentifikasi perilaku otot-otot wajah tertentu dan menggunakannya untuk mencegah penuaan.</span>
						Oleh karena itu, hasil yang muncul akan lebih menawan dan tampak lebih alamiah bagi pasien.
              		</p>
				</div>
				<!--layer-doc3-->
				<div class="layer-doc3">
					<div class="layer-doc3__box">
						<h5 class="layer-doc3__tit">Dr. Barn Jaesang, yang menjadi salah satu Dokter terpilih dalam buku “12 Klinik terbaik dengan dokter yang baik” terpilih oleh Daily Joongang.</h5>
						<p class="layer-doc3__txt">Dr. Barn Jaesang telah menuliskan pengalaman keahliannya, antusiasme, dan pengalaman panjang di bidang anti penuaan.</p>
					</div>
				</div><!--//layer-doc3-->
			</div>
		</div>
	</section>

	<section class="fs_section wrinkleSection02" data-section-name="wrinkleSection02">
  		<div class="detail__inner">
			<div class="detail__vertical">
		  		<div class="detail__section-box type-wrinkle">
			  		<h4 class="detail__section-tit">
						Operasi Anti Penuaan,
						Banobagi
						<strong class="color-wrinkle5">mengembalikan keremajaan Anda</strong>
			  		</h4>
			 		<p class="detail__section-subtit">Operasi kulit, lemak, otot, dan tulang yang memperhatikan penuaan di seluruh komponen wajah</p>
			  		<p class="detail__section-txt">
                		Penuaan wajah dan kerutan akan tampak jelas karena pengurangan volume jaringan wajah, pelemahan, dan penuaan otot-otot wajah. Demi menghasilkan kecantikan alami, Banobagi memiliki sistem anti penuaan yang mengembalikan elastisitas setiap lapisan kulit, pembentukan kembali, dan rehabilitasi jaringan yang menua.
						<span class="color-wrinkle2">Para ahli di Banobagi berusaha keras membantu pasien untuk mengembalikan keremajaannya selama mungkin dan dengan perawatan anti penuaan yang sehat.</span>
              		</p>
		  		</div>
			</div>
		</div>
	</section>

	<section class="fs_section wrinkleSection03" data-section-name="wrinkleSection03">
		<div class="detail__inner type-full">
			<div class="detail__popup type-wrinkle">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">Anti Aging per area BANOBAGI<span class="color-wrinkle2">.</span></h5>
					<p class="detail__popup-subtit">Area dapat diperbaiki di banyak area</p>
					<div class="detail__popup-scroll">
						<div class="fake-table">
							<ul class="fake-table__list">
								<li class="fake-table__item">
									<h6 class="fake-table__tit">Pendek</h6>
									<p class="fake-table__txt">Panjang</p>
								</li>
								<li class="fake-table__item">
									<h6 class="fake-table__tit">Wajah atas</h6>
									<div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">Perawatan</span><br>Injeksi Dahi</div></div>
									<div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">Perawatan</span><br>Semi Permanen Filler Artecoll</div></div>
									<div class="fake-table__txt type-3 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type4">Sayatan Minimal</span><br>Endoscopic Lifting Alis</div></div>
								</li>
								<li class="fake-table__item">
									<h6 class="fake-table__tit">Wajah Tengah</h6>
									<div class="fake-table__txt type-1 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">Perawatan</span><br>Cangkok lemak</div></div>
									<div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type3">Perawatan</span><br>Semi Permanen Filler Artecoll</div></div>
									<div class="fake-table__txt type-1 type-another1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type5">Sayatan</span><br>Mid Face Lifting</div></div>
								</li>
								<li class="fake-table__item">
									<h6 class="fake-table__tit">Wajah Bawah</h6>
									<div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">Tanpa Sayatan</span><br>Lifting Benang menyerap</div></div>
									<div class="fake-table__txt type-2 type-another2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">Tanpa Sayatan</span><br>Kontur Wajah Halus</div></div>
									<div class="fake-table__txt type-1"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type1">Tanpa Sayatan</span><br>Lifting dgn Karet Elastis tanpa sayatan</div></div>
									<div class="fake-table__txt type-2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type2">Sayatan Micro</span><br>Lifting dgn Karet Elastis mengguunakan sayatan</div></div>
									<div class="fake-table__txt type-3 type-another2"><div class="fake-table__wrap"><span class="fake-table__type fake-table__type4">Sayatan</span><br>MACS Lifting seluruh wajah</div></div>
								</li>
							</ul>
						</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">Tutup</a>
				</div>
			</div>
			<div class="detail__section-wrap type-wrinkle">
				<div class="detail__vertical">
					<div class="detail__section-box type-wide type-right type-wrinkle">
						<h4 class="detail__section-tit">
							Operasi anti penuaan,
							Banobagi mempunyai <strong class="color-wrinkle3">jawabannya.</strong>
						</h4>
						<p class="detail__section-subtit">Peningkatan intensif pada area yang diinginkan dan solusi menyeluruh untuk semua area</p>
						<p class="detail__section-txt color-wrinkle4">
							Setiap bagian wajah memiliki proses penuaan dalam bentuk dan fungsi yang berbeda. Untuk hasil yang efektif, prosedur harus dilakukan sesuai karakteristik setiap organ di wajah individu. Dengan pengalaman dan teknik kami, Banobagi mengembangkan operasi anti penuaan yang meningkatkan tampilan setiap area pada wajah Anda.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-wrinkle">
			<div class="detail__section-set">
          		Anti Aging per area BANOBAGI
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-wrinkle">pop-up button</a></span>
			</div>
		</div>
	</section>

	<section class="fs_section wrinkleSection04" data-section-name="wrinkleSection04">
		<div class="detail__inner">
  			<div class="detail__vertical">
  				<div class="detail__section-box type-wide type-wrinkle">
  					<h4 class="detail__section-tit">
						Operasi anti penuaan,
						Banobagi
						<strong class="color-wrinkle3">meneliti secara terus-menerus</strong>
  					</h4>
  					<p class="detail__section-subtit">Kombinasi beberapa teknik menghasilkan hasil yang lebih baik.</p>
  					<p class="detail__section-txt">
						Para ahli dan dokter di Banobagi mengembangkan keahlian dan pembelajaran dari setiap kasus untuk meningkatkan dan menyempurnakan teknik operasi. Sebagai contoh, metode pengangkatan kulit terkini dengan benang elastis telah menurunkan waktu pemulihan dan meningkatkan hasil akhir operasi. Sebagai tambahan, SVF telah menciptakan hasil operasi yang lebih baik dan telah digunakan dengan kombinasi X-tox.  <span class="color-wrinkle4">Penggunaan aplikasi ini memerlukan teknik operasi canggih, yang diperoleh dari akumulasi pengalaman dan teknologi, sehingga kami menjamin kepuasan maksimal para pasien di Banobagi. </span>
  					</p>
  				</div>
				<!-- layer-doc4 -->
				<div class="layer-doc4 type-wrinkle">
			  		<ul class="layer-doc4__list">
			  			<li class="layer-doc4__item nth-1">
			  				<div class="layer-doc4__wrap">
			  					<h5 class="layer-doc4__tit">Lifting dengan benang elastis</h5>
			  				</div>
			  			</li>
			  			<li class="layer-doc4__item nth-2">
							<div class="layer-doc4__wrap">
			  					<h5 class="layer-doc4__tit">Penyuntikan sel lemak SVF</h5>
			  				</div>
			  			</li>
			  			<li class="layer-doc4__item nth-3">
							<div class="layer-doc4__wrap">
			  					<h5 class="layer-doc4__tit">X-tox</h5>
			  				</div>
			  			</li>
			  		</ul>
				</div>
				<!-- //layer-doc4 -->
  			</div>
		</div>
	</section>

	<section class="fs_section wrinkleSection05" data-section-name="wrinkleSection05">
		<div class="detail__inner">
		  		<div class="detail__vertical">
			  		<div class="detail__section-box type-wide type-wrinkle">
				  		<h4 class="detail__section-tit">
							Operasi anti penuaan,
							Banobagi melakukannya secara
							<strong class="color-wrinkle5">terperinci</strong>
				  		</h4>
				  		<p class="detail__section-subtit">Penyembuhan pesat untuk pasien berumur, Ketidaknyamanan yang minimal selama operasi.</p>
				  		<p class="detail__section-txt">
                		Kebanyakan orang mempertimbangkan prosedur anti penuaan saat usia mereka sudah lanjut. Pasien sering khawatir tentang pembiusan yang akan dilakukan, prosedur operasi itu sendiri, sampai dengan pemulihan pasca operasi terkait usia mereka yang sudah cukup lanjut. Banobagi telah mempelajari berbagai pengobatan anti penuaan dan operasi selama bertahun-tahun, kami juga berusaha keras mendapatkan pengetahuan yang benar tentang pemulihan pasien kami. Banobagi berjuang untuk menyediakan perawatan terbaik bagi pasien, kemanan, efektifitas, dan pemulihan yang lebih mudah. Oleh karena itu, para dokter dan spesialis secara konstan memperlengkapi dan membaharui metode operasi dengan prosedur kombinasi untuk membantu pasien memperoleh hasil yang memuaskan!
				  		</p>
			  		</div>
		  		</div>
  		</div>
	</section>

	<section class="fs_section wrinkleSection06" data-section-name="wrinkleSection06">
		<div class="video">
			<div class="video__desc">
				<div class="video__tit">Operasi Anti-Aging BANOBAGI</div>
				<div class="video__txt1">Daya tahan semi permanen selama min. 10 tahun</div>
			</div>
	  		<div class="video__wrap">
		  		<iframe id="onepage-video__iframe" class="video__item" src="https://player.vimeo.com/video/265675036?loop=1&amp;quality=1080p" frameborder="0" id="vimeo_main_iframe" webkitallowfullscreen="" mozallowfullscreen="" allow="autoplay; fullscreen"></iframe>
				<div class="video__screen"></div>
	  		</div>
	  		<div class="video__btn-area">
				<span class="video__btn--counsel js-consultation">Konsultasi</span>
	  		</div>
		</div>
	</section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
