<%
	type = "review"
	page = "photo"
%>
<% include ../_include/_header %>
<div class="container">
	<div class="container__top">
		<h3 class="container__tit photo">Photo Gallery</h3>
		<p class="container__txt">Check out the effective change of the people with BANOBAGI.</p>
	</div>
	<% include ../_include/_lnb %>
	<div class="container__wrap type-another">
		<div class="review">
			<div class="gender">
				<form action="" class="gender__form">
					<input type="radio" name="gender" id="gender_f" value="F" class="gender__input type-f" checked="checked">
					<label for="gender_f" class="gender__label">여</label>
					<input type="radio" name="gender" id="gender_m" value="M" class="gender__input type-m">
					<label for="gender_m" class="gender__label">남</label>
				</form>
			</div>

			<div class="category-tab">
				<ul class="category-tab__list">
					<li class="category-tab__item is-active">
						<a href="" class="category-tab__link">ALL</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">Face Contour</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">Body</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">Breast</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">Eyes</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">Rhinoplasty</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">Anti-aging</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">SVF</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">Revision Surgery</a>
					</li>
					<li class="category-tab__item">
						<a href="" class="category-tab__link">Special</a>
					</li>
				</ul>
			</div>

			<!--검색결과값 -->
			<!-- <div class="keyword-result">
				<div class="keyword-result__inner"><span class="point-color">올포원사각턱</span>에 대한 <span class="point-color">6건</span>의 검색 결과가 있습니다. </div>
			</div> -->
			<!--검색결과값 -->
			<div class="photo-keyword">
				<div class="photo-keyword__box">
					<div class="photo-keyword__wrap">
						<label for="p_keyword" class="photo-keyword__label">검색어</label>
						<div class="photo-keyword__area">
							<input type="text" class="photo-keyword__input" id="p_keyword" name="p_keyword" placeholder="궁금한 수술 전후 사진을 검색해보세요่">
							<button type="submit" class="photo-keyword__btn">검색</button>
						</div>
					</div>
				</div>
			</div>
			<!--검색결과 없을시 -->
			<!-- <div class="no-data text-center">
				<p class="no-data__txt"><span class="point-color">안녕하세요</span>에 대한 검색 결과가 없습니다.</p>
			</div> -->
			<!--//검색결과 없을시 -->
			<div class="photo-slide">
				<!-- 첫번째 이미지 -->
				<div class="photo-slide__wrap type-big is-active">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_01_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_01_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">Tampak depan</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">Tampak 45°</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">Tampak samping </a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
					</div>
				</div>
				<!-- 두번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_02_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_02_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">Tampak depan</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">Tampak 45° </a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">Tampak samping</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
					</div>
				</div>
				<!-- 세번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_03_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_03_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">Tampak depan</a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
					</div>
				</div>
				<!-- 네번째 이미지 -->
				<div class="photo-slide__wrap type-big">
					<div class="photo-slide__area">
						<div class="photo-slide__box type-before">
							<span class="photo-slide__cate">BEFORE</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/before_img_04_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/before_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<div class="photo-slide__box type-after">
							<span class="photo-slide__cate">수술 후 6개월</span>
							<div class="photo-slide__img is-active">
								<img src="../../images/review/photo/after_img_04_01.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_02.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
							<div class="photo-slide__img">
								<img src="../../images/review/photo/after_img_01_03.jpg" loading="lazy" alt="" class="img-responsive">
							</div>
						</div>
						<ul class="photo-slide__list">
							<li class="photo-slide__item is-active"><a href="" class="photo-slide__link">Tampak depan</a></li>
							<li class="photo-slide__item"><a href="" class="photo-slide__link">Tampak 45° </a></li>
						</ul>
					</div>
					<div class="photo-slide__txtarea">
						<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마) 양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마) 양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,</p>
					</div>
				</div>
				<a href="" class="photo-slide__btn type-prev js-slide-prev">이전</a>
				<a href="" class="photo-slide__btn type-next js-slide-next">다음</a>
			</div>
			<p class="photo-slide__noti">※ Click the surgery area to check before & after photos of the part</p>
			<div class="photo-thum">
				<ul class="photo-thum__list">
					<li class="photo-thum__item is-active">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<!-- before 가리기 -->
										<div class="photo-dim-s">
											<div class="photo-dim-s__box">
												<div class="photo-dim-s__vertical">
													<p class="photo-dim-s__txt">Before</p>
												</div>
											</div>
										</div>
										<!-- //before 가리기 -->
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_01_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">수술 후 6개월</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_01_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
					<li class="photo-thum__item">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<!-- before 가리기 -->
										<div class="photo-dim-s">
											<div class="photo-dim-s__box">
												<div class="photo-dim-s__vertical">
													<p class="photo-dim-s__txt">Before</p>
												</div>
											</div>
										</div>
										<!-- //before 가리기 -->
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_02_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">수술 후 6개월</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_02_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
					<li class="photo-thum__item">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<!-- before 가리기 -->
										<div class="photo-dim-s">
											<div class="photo-dim-s__box">
												<div class="photo-dim-s__vertical">
													<p class="photo-dim-s__txt">Before</p>
												</div>
											</div>
										</div>
										<!-- //before 가리기 -->
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_03_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">수술 후 6개월</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_03_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
					<li class="photo-thum__item">
						<div class="photo-slide type-thum">
							<div class="photo-slide__wrap">
								<div class="photo-slide__area">
									<div class="photo-slide__box type-before">
										<span class="photo-slide__cate">BEFORE</span>
										<!-- before 가리기 -->
										<div class="photo-dim-s">
											<div class="photo-dim-s__box">
												<div class="photo-dim-s__vertical">
													<p class="photo-dim-s__txt">Before</p>
												</div>
											</div>
										</div>
										<!-- //before 가리기 -->
										<div class="photo-slide__img">
											<img src="../../images/review/photo/before_img_04_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
									<div class="photo-slide__box type-after">
										<span class="photo-slide__cate">수술 후 6개월</span>
										<div class="photo-slide__img">
											<img src="../../images/review/photo/after_img_04_01.jpg" loading="lazy" alt="" class="img-responsive">
										</div>
									</div>
								</div>
								<div class="photo-slide__txtarea">
									<p class="photo-slide__txt">양악 + 올포원사각턱 + 광대축소 + 앞턱 + 코(콧대,코끝,귀연골,비중격연골,보형물,콧볼축소,휜코교정) + 지방이식(이마)</p>
								</div>
							</div>
							<a href="" class="photo-thum__link">상세보기</a>
						</div>
					</li>
				</ul>
			</div>
			<p class="review__noti">
				<span class="review__point">Legal penalties for infringement of copyrights and portrait rights if use these posts without permission.</span>
				<span class="inline-block">This image may look different from the real look depending on the shooting conditions, and was posted under the agreement of patient himself/herself.</span>
			</p>
		</div><!-- //review-->
		<div class="pagination">
			<ul class="pagination__list">
				<li class="pagination__item pagination__item-first">
					<a href="" class="pagination__link">처음</a>
				</li>
				<li class="pagination__item pagination__item-prev">
					<a href="" class="pagination__link">이전</a>
				</li>
				<li class="pagination__item pagination__item-num is-active">
					<a href="" class="pagination__link">1</a>
				</li>
				<li class="pagination__item pagination__item-num is-acitve">
					<a href="" class="pagination__link">2</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">3</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">4</a>
				</li>
				<li class="pagination__item pagination__item-num">
					<a href="" class="pagination__link">5</a>
				</li>
				<li class="pagination__item pagination__item-next">
					<a href="" class="pagination__link">다음</a>
				</li>
				<li class="pagination__item pagination__item-last">
					<a href="" class="pagination__link">마지막</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<% include ../_include/_footer %>
