/*눈매교정술*/

.color-correction1{color: #52ffe9;}
.color-correction2{color: #333;}
.color-correction3{color: #44e8c1;}
.color-correction4{color: #67e8c9;}
.color-correction5{color: #279178;}
.color-correction6{color: #0f7f65;}
.color-correction7{color: #ff3000;}
.color-correction8{color: #0a8165;}
.color-correction9{color: #068b6c;}
.color-correction10{color: #02906f;}
.color-correction11{color: #078c6d;}
.color-correction12{color: #0da27e;}
.color-correction13{color: #bff1f9;}
.color-correction14{color: #14fcc8;}
.color-correction15{color: #56ebe9;}
.color-correction16{color: #1360cf;}
.color-correction17{color: #90d7ff;}


.correction-box1{
	.content-section__txt1{padding: 0 12%;}
	.content-section__txt1{
		&.lg{font-size: 18px; padding: 0 4.5%; margin-top: 40px; line-height: 180%; letter-spacing: -1px;}
		.type-border{border-bottom: 1px solid #333;}
	}
	.content-section__txt2{padding: 0 92px;}
	&__txt1 .type-border{border-bottom: 1px solid #333333;}
	@media only screen and (max-width:$minpc-size3){


	}
	@media only screen and (max-width:$tablet-size){
		.content-section{margin-top: 40px;}
		.content-section__txt1{padding: 0; margin-top: 25px; }
		.content-section__txt2{margin: 0 auto; margin-top: 30px;padding: 0;max-width: 560px; width: 100%; box-sizing: border-box;}
		.content-section__txt2 strong{font-weight: 500;}
	}
	@media only screen and (max-width:$mobile-size){
		.content-section{margin: 0 -20px;margin-top: 40px;}
		// .content-section__tit{margin-left: -15px;}
		.content-section__txt1{ max-width:none; padding: 0 20px; margin-top: 20px;}
		.content-section__txt1{
			&.lg{font-size: 1.4rem;max-width:none; padding: 0 50px; margin-top: 30px;}
		}
		.content-section__txt2{padding: 0 5%; max-width: none;}
		.content-section__txt1{
			&.correction-1th{font-size: 1.4rem;}
		}

	}
}


.correction-box2{
	.content-section__wrapper{padding: 60px 7%; height: auto; background:#fff url('../../images/eye/eyepurpose-bg-p.jpg') 0 0/cover  no-repeat;text-align: left;}
	.content-section__number-wrap:after{background-color: #fff;}
	.content-section__tit{color: #fff; margin-left: -30px;}
	.content-section__txt1{margin-top: 23px; color: #fff;}
	.content-section__txt1{
		.type-border{border-bottom: 1px solid #fff;}
	}
	.caution-para1{position: relative; right: -30px; padding: 10px 0; color: #fff; text-align: right;}
	@media only screen and (max-width:$minpc-size3){
		.content-section__wrapper{ padding: 60px 90px; padding-top: 0px; height: 1705px; background:#fff url('../../images/eye/eyepurpose-bg-p.jpg') 0 0/cover  no-repeat;}
	}
	@media only screen and (max-width:$tablet-size){
		.content-section__tit{margin-left: 30px;}
		.content-section__txt1{ margin-top: 20px; padding-left: 60px; padding-right: 10px;}
		.content-section__wrapper{margin: 0 -65px;padding: 0; padding-top: 85px; height: auto; background-image:url('../../images/eye/eyepurpose-bg-t.jpg');}
		.caution-para1{right: 20px; padding: 10px 0 ; margin: 0 ;}
	}
	@media only screen and (max-width:$mobile-size){
		.content-section{margin: 0 -20px; margin-top: 80px;}
		.content-section__tit{ margin-left: -15px;}
		.content-section__txt1{  margin-top: 12px; padding-left: 0px; padding-right: 0px;}
		.content-section__txt1 + .content-section__txt1{margin-top: 20px;}
		.content-section__txt2{font-size: 1.5rem; max-width: none; padding: 0 15px;}
		.content-section__wrapper{margin: 0 ; padding: 0px; padding-top: 28px; height: auto; background-image:url('../../images/eye/eyepurpose-bg-m.jpg'); background-position: center bottom; -webkit-background-size: cover;background-size: cover;}
		.content-section__desc{padding: 0 35px;}
		.content-section__wrap{
			&.site-box{padding: 0 20px; }
		}


		.caution-para1{right: 10px; padding: 10px 0 15px;}
	}
}
.correction-box3{
	.content-section{margin-top: 130px;}
	.content-section__wrapper{
		&.type-left{padding-left: 110px; text-align: left;}
		&.type-width{ padding-right: 135px;}
	}
	.content-section__txt1{text-align: left; margin-bottom: 30px;}
	@media only screen and (max-width:$minpc-size3){

	}
	@media only screen and (max-width:$tablet-size){
		.content-section{margin: 120px -65px 0;}
		.content-section__wrapper{
			&.type-left{padding-left: 65px; padding-right: 35px;}
			&.type-width{ padding-right: 0px;}
		}

	}
	@media only screen and (max-width:$mobile-size){
		.content-section{margin: 0px; margin-top: 80px;}
		.content-section__wrapper{
			&.type-left{padding: 0px;}
			&.type-width{ padding: 0px;}
		}
	}
}

.correction-box4{
	.content-section{margin-top: 0;}
	.content-section__wrapper{padding: 0px 16%;}
	.content-section__txt1{margin-top: 0;line-height: 1.8;}
	.content-section__txt1 + .content-section__txt1{ margin-top: 35px;}
	.content-section__txt2{font-style: italic; padding: 0;line-height: 1.6;}
	.content-section__wrapper{ margin: 0 auto; text-align: center;}
	@media only screen and (max-width:$tablet-size){
		.content-section__txt1{ margin-top: 60px; padding: 0 5%;}
		.content-section__txt1 + .content-section__txt1{font-size: 16px; margin-top: 30px;}
		.content-section__wrapper{max-width: none;margin: 0 -65px; padding: 0 20px;}


	}
	@media only screen and (max-width:$mobile-size){
		.content-section{margin: 0px;}
		.content-section__wrapper{max-width: none; margin: 0px;  padding: 0px;}
		.content-section__txt1{ margin-top: 0px; padding: 0;}
		.content-section__txt1 + .content-section__txt1{margin-top: 23px;}

	}
}
.correction-box5{
	.content-section__wrapper{text-align: center; padding: 0 15%;}
	.content-section{margin-top: 0;}
	.content-section__txt1{margin-top: 0px;line-height: 1.8;}
	.content-section__txt1 + .content-section__txt1{ margin-top: 30px;}
	.content-section__txt2{font-style: italic;line-height: 1.6;}
	.content-section__txt2.brace{padding: 0;
		&:before{bottom:auto;left:-47px;top: calc(50% - 45px);width:31px; height:97px;background:url('../../images/eye/eye-correction-brace-left.png'); background-repeat:no-repeat; }
		&:after{bottom:auto;right:-47px;top: calc(50% - 45px);width:31px; height:97px;background:url('../../images/eye/eye-correction-brace-right.png'); background-repeat:no-repeat; }
	}
	@media only screen and (max-width:$minpc-size3){

	}
	@media only screen and (max-width:$tablet-size){
		.content-section__wrapper{max-width: none;margin: 0 -65px; padding: 0 20px;}
		.content-section__txt1{margin-top: 60px; padding: 0 5%;}
		.content-section__txt1 + .content-section__txt1{margin-top: 30px;}
		.content-section__txt2.brace{padding: 0 8%;
			&:before{left:13px;top: calc(50% - 45px);}
			&:after{right:13px;top: calc(50% - 45px);}
		}
	}
	@media only screen and (max-width:$mobile-size){
		.content-section{margin: 0px;}
		.content-section__wrapper{margin: 0;padding: 0px;}
		.content-section__txt1{font-size: 1.4rem; margin-top: 0px; padding: 0;}
		.content-section__txt1 + .content-section__txt1{ margin-top: 30px; }
		.content-section__txt2.brace{ padding: 0 40px;
			&:before{ left: -2px; top: calc(50% - 54px);}
			&:after{ right: -2px; top: calc(50% - 54px);}
		}
	}


}

.site-box14{margin-top: 40px;
	$this:&;
	&__img{font-size: 0;}
	&__outer{background: #109f7d url('../../images/eye/eyeexposure-bg-p.jpg') 0 0 no-repeat;}
	&__inner{float:right;padding: 60px 65px 50px; width: 690px;background-color: #109f7d;box-sizing: border-box;}
	&__tit{margin: 0;font-size: 30px; font-weight: 300; color: #fff;}
	&__model--m{font-size: 0; display: none;}
	&__thumb{
		&.main{margin-top: 20px;font-size: 0;}
		&.sub{margin-top: 20px;}
	}
	&__thumb img{width: 100%;}
	&__img{
		&.img02{float: left; width: 54%; }
		&.img03{float: left; width: 54%; }
		&.img04{float: left; width: 54%; }
	}
	&__thumb.sub + #{$this}__thumb.sub{margin-top: 15px;}
	&__desc{float: left; width: 46%; padding: 6px 13px; text-align: left;box-sizing: border-box;}
	&__txt1{height: 35px;margin: 0;background-color: #0c5544;color: #fff; font-size: 19px; font-weight: 400;text-align: center;}
	&__txt1:before{content: ''; display: inline-block; height: 100%; vertical-align: middle;}
	&__sub-tit{margin: 0;font-size: 16px; font-weight: 400; color: #fff;}
	&__txt2{margin: 0;font-size: 13px; font-weight: 300; margin-top: 10px; color: #fff; word-break: keep-all;}
	&__tit--m{font-size: 0;display: none;box-sizing: border-box;}
	&__info{padding: 45px 0 ;background-color: #333333;}
	&__tit--info{position: relative; display: inline-block; font-size: 30px; font-weight: 300; padding-left: 70px; color: #fff; letter-spacing: -1px; vertical-align: middle;}
	&__tit--info span{font-weight: 400;}
	&__tit--info:before{ display: inline-block; content: ''; position: absolute; left: 0;top: -6px; width: 50px;height: 56px;background: url('../../images/eye/icon-question-pm.png') 0 0 no-repeat;  }
	&__txt--info{display: block; font-size: 18px; font-weight: 300; margin-top: 20px;padding: 0 92px;color: #fff; letter-spacing: -1px; vertical-align: middle;}
	&__bf{position: relative;font-size: 0;}
	&__bf img{width:100%;}
	.progress-tag{position: absolute;min-width: 140px;font-weight: 400;color: #fff; text-transform: uppercase;
		&.type-before{ left: calc(50% - 139px);bottom: 0;}
		&.type-after{ right: calc(50% - 139px);bottom: 0;}
	}
	@media only screen and (max-width:$tablet-size){
		&__outer{}
		&__tit{font-size: 19px;}
		&__outer{margin: 0 -65px; background-image:url('../../images/eye/eyeexposure-bg-t.jpg'); background-size: contain;}
		&__inner{float:right;padding: 35px 30px; width: 445px;background-color: #109f7d;}
		&__thumb{
			&.main{margin-top: 15px;}
			&.sub{margin-top: 20px;}
		}
		&__thumb.sub + #{$this}__thumb.sub{margin-top: 7px;}
		&__desc{float: left; width: 48%; padding: 6px; padding-right: 0;}
		&__txt1{font-size: 12px; height: 23px;}
		&__img{
			&.img02{float: left; width: 52%; }
			&.img03{float: left; width: 52%; }
			&.img04{float: left; width: 52%; }
		}

		&__sub-tit{font-size: 14px;}
		&__txt2{font-size: 12px;}
		&__info{margin: 0 -65px; padding: 30px 0;}
		&__txt--info{ padding: 0 30px;font-size: 15px; text-align: left; vertical-align: top;}
		&__tit--info{font-size: 20px;padding-left: 45px;text-align: center; vertical-align: top;}
		&__tit--info:before{ left: 0;top: 0px; width: 33px;height: 36px;background-image: url('../../images/eye/icon-question-t.png'); }
		&__bf{margin: 0 -65px;}
		&__tag{ height: 20px;}

		.progress-tag{position: absolute;min-width: 90px; padding: 1px 5px;
			&.type-before{ left: calc(50% - 75px);}
			&.type-after{ right: calc(50% - 105px);}
		}
	}
	@media only screen and (max-width:$mobile-size){ margin-top: 35px;
		&__outer{margin:0px; background: none;}
		&__model--m{font-size: 0; display: block;}
		&__model--m img{width: 100%;}
		&__tit{font-size: 1.7rem;}
		&__txt1{font-size: 1.4rem; height: 25px;}
		&__inner{float:none;padding: 40px 30px; width: 100%;}
		&__thumb img{width: 50%; float: left;}
		&__thumb img.normal{width: 100%; float: none;}
		&__thumb{
			&.main{margin-top: 8px;}
			&.sub{margin-top: 15px;}
		}
		&__thumb.sub + #{$this}__thumb.sub{margin-top: 15px;}
		&__img{
			&.img02{float: none; width: 100%; }
			&.img03{float: none; width: 100%; }
			&.img04{float: none; width: 100%; }
		}
		&__sub-tit{font-size: 0; display: none;}
		&__desc{float: none; width: auto;  padding:0 15px; text-align: center;}
		&__tit--m{float: right; width: 50%; height: 68px; font-size: 1.3rem;display: block; padding: 10px; background-color: #166351; color: #fff; vertical-align: middle;}
		&__tit--m:after{content: ''; display: inline-block; vertical-align: middle; height: 100%; }
		&__box--m{display: inline-block; vertical-align: middle;}

		&__txt2{margin-top: 5px;}
		&__smallest{display: block; font-size: 1.1rem; margin-top: 3px;}
		&__info{padding: 18px 35px; margin: 0; text-align: center;}
		&__tit--info{font-size: 1.6rem; display: block; margin-left: 20px; padding-left: 30px; text-align: left; vertical-align: top;}
		&__tit--info:before{ left: 0;top: -3px; width: 25px;height: 28px;background-image: url('../../images/eye/icon-question-pm.png'); background-size: 25px 28px; }
		&__txt--info{font-size: 1.3rem; margin-top: 10px;padding: 0;}
		&__bf{margin: 0 ;}
		.progress-tag{position: absolute;min-width: 70px;
			&.type-before{ left: calc(50% - 70px);}
			&.type-after{ right: calc(50% - 70px);}
		}
	}
}



.site-box15{display: block; width: 100%; margin: 0 auto; margin-top: 68%;left: 0;right: 0; bottom: 45px; padding: 16px 0px 35px; background-color: rgba(0,0,0,0.4);box-sizing: border-box;
	$this:&;
	&__wrapper{ padding: 0 9%;margin-left: -60px;}
	&__outer{position: relative; float: left; width: 50%; padding-left: 60px;box-sizing: border-box;}
	&__outer + #{$this}__outer:before{content: ''; display: inline-block; position: absolute;top: calc(50% - 20px); left: 10px; width: 40px;height: 40px; background: url('../../images/eye/eye-correction-arrow.png') 0 0 no-repeat;  }
	&__inner{position: relative; border: 2px solid #333333;font-size: 0;}
	&__inner img{width: 100%;}
	&__inner + #{$this}__inner{position: relative; margin-left: 60px;}
	&__quotation{position: relative; max-width: 645px; margin: 0 auto;}
	&__quotation:before{content: ''; display: inline-block; position: absolute; left: -28px;top: -4px; width: 24px;height: 18px; background: url('../../images/eye/eye-correction-quotation-left-pm.png') 0 0  no-repeat;}
	&__quotation:after{content: ''; display: inline-block; position: absolute; right: 25px;bottom: -4px; width: 24px;height: 18px; background: url('../../images/eye/eye-correction-quotation-right-pm.png') 0 0  no-repeat;}
	&__txt1{ font-size: 18px; font-weight: 300; margin: 18px 0 0 0; color: #fff;box-sizing: border-box;}
	&__txt2{ font-size: 22px; font-weight: 500; font-style: italic; margin: 3px 0 0 0; color: #ffc06e;box-sizing: border-box;}
	&__info{}
	.progress-tag{position: absolute;min-width: 114px; padding: 7px 9px;color: #fff; font-weight: 400; text-transform: uppercase;
		&.type-before{ left:0;bottom: 0;}
		&.type-after{ left: 0;bottom: 0;}
	}
	@media only screen and (max-width:$minpc-size3){margin-top: 83%;
		&__inner + #{$this}__inner{margin-left: 35px;}
	}
	@media only screen and (max-width:$tablet-size){ margin:0; margin-top: 81%; padding: 20px 0; text-align: center;
		&__info{ }
		&__wrapper{ padding: 0;margin-left: 0px;}
		&__outer{padding: 0 20px;}
		&__outer + #{$this}__outer:before{top: calc(50% - 18px); left: -17px; width: 36px;height: 36px; background-image: url('../../images/eye/eye-correction-arrow-t.png');  }
		&__txt1{ width: 95%;margin: 0 auto;font-size: 15px; margin-top: 10px;}
		&__txt2{ width: 95%;margin: 0 auto;font-size: 19px; margin-top: 3px;}
		&__quotation{display: inline-block; max-width: none;}
		&__quotation:before{left: 4px;top: 7px; width: 22px;height: 14px; background-image: url('../../images/eye/eye-correction-quotation-left-t.png');}
		&__quotation:after{right: 24px;bottom: -4px; width: 22px;height: 14px; background-image: url('../../images/eye/eye-correction-quotation-right-t.png');}
		.progress-tag{padding: 1px 9px;}
	}
	@media only screen and (max-width:$mobile-size){ margin:0px;margin-top: 145%; padding: 20px 0;
		&__outer{float: none; width: auto; padding: 0px 14%;}
		&__outer + #{$this}__outer:before{ top: -10px;left: calc(50% - 10px);width: 20px;height: 20px; -webkit-background-size: 20px auto;background-size: 20px auto; background-image: url('../../images/eye/eye-correction-arrow-m.png');  z-index: 1; }
		&__inner{display: block; border: 1px solid #333333;}
		&__inner + #{$this}__inner{margin-left: 0;}
		&__tag{ font-size: 1.0rem; width: 85px; height: 12px;}
		&__txt1{ font-size: 1.2rem; margin-top: 10px; padding: 0 20px;}
		&__txt2{ font-size: 1.4rem; margin-top: 3px; padding: 0 20px;}
		&__quotation{display: inline-block; max-width: none;}
		&__quotation:before{ left: 10px;top: 7px;width: 12px;height: 9px; -webkit-background-size: 12px auto;background-size: 12px auto;  background-image: url('../../images/eye/eye-correction-quotation-left-pm.png');}
		&__quotation:after{right: 105px;bottom: 0px; width: 12px;height: 9px; -webkit-background-size: 12px auto;background-size: 12px auto; background-image: url('../../images/eye/eye-correction-quotation-right-pm.png');}
		.progress-tag{font-size: 1.1rem;min-width: 103px;}
	}

	@media only screen and (max-width:$iphone-size){
		&__quotation:after{right: 73px;}

	}
}
.diagnosis{
	$this:&;
	&__outer{width: 100%; margin-top: 50px; padding-right: 120px; padding-left: 110px;box-sizing: border-box;}
	&__inner{  display: table; width: 100%;border-top: 4px solid #0a8165;}
	&__thumb{display: table-cell; width: 38%; font-size: 0; background: url('../../images/eye/eyecareful-p.jpg') -10px 0 / cover no-repeat;}
	&__desc{display: table-cell; width: 67%;padding: 60px 45px; background-color: #f7f7f7; text-align: left;box-sizing: border-box;}
	&__tit{margin: 0;font-size: 26px;font-weight: 400;color: #333333;letter-spacing: -1px;}
	&__tit strong{font-weight: 500;}
	&__txt--numbering{font-size: 17px;font-weight: 400; margin: 30px 0 0 0; color: #333333;}
	&__txt--numbering + #{$this}__txt--numbering{margin-top: 15px;}
	&__numbering{ display: inline-block; margin-right: 5px;font-style: italic ;font-weight: 400;}
	&__txt1{position: relative; font-size: 22px; font-weight: 400; font-style: italic; margin-top: 100px; color: #333333;}
	&__txt1 .color-correction10{font-weight: 500;}
	&__txt1.type-quotation:before{content: ''; display: inline-block; position: absolute; left: calc(50% - 20px); top: -50px;  width: 40px; height: 28px;background:  url('../../images/eye/big-quotation-pm.png') 0 0 no-repeat;}
	&__ways{display: table; margin-top: 85px; padding-left: 25px; text-align: left;}
	&__circle{position: relative; font-size: 0; display: table-cell;width: 450px; height: 450px; padding: 10px; margin-top: 65px; background:  url('../../images/eye/eyecareful-circle-pm.png') 0 0 no-repeat;box-sizing: border-box;}
	&__border{border: 2px solid #fff;width: 430px; height: 430px; -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;box-sizing: border-box;}
	&__wrapper{
		&.type-desc{ display: table-cell; width: 65%; vertical-align: middle; padding-right: 13%;padding-left: 50px;}
	}

	&__sub-tit{margin:0; font-size: 28px; font-weight: 200; letter-spacing: -1px; line-height: 130%;}
	&__sub-tit .color-correction11{font-weight: 400;}
	&__txt2{margin:25px 0 0;font-size: 16px; font-weight: 200; color: #666666; word-break: keep-all;}

	@media only screen and (max-width:$tablet-size){
		&__outer{width: 100%; margin-top: 75px;padding: 0 30px;}
		&__thumb{ width: 23%; background: url('../../images/eye/eyecareful-t.jpg') 0 0 / cover no-repeat;}
		&__desc{width: 77%;padding: 55px 25px;}
		&__tit{font-size: 23px;}
		&__txt--numbering{font-size: 15px; margin-top: 25px; }
		&__txt--numbering + #{$this}__txt--numbering{margin-top: 10px;}
		&__numbering{ font-size: 15px; margin-right: 5px;}
		&__txt1{ font-size: 19px; margin-top: 100px;}
		&__txt1.type-quotation:before{left: calc(50% - 19px); top: -50px;  width: 38px; height: 24px;background-image:  url('../../images/eye/big-quotation-t.png');}
		&__ways{ margin-top: 60px; padding: 0 20px; }
		&__circle{width: 306px; height: 306px; padding: 5px; margin-top: 55px; background-image:  url('../../images/eye/eyecareful-circle-t.png');}
		&__border{width: 296px; height: 296px;}
		&__wrapper{
			&.type-desc{ width: 58%; padding-right: 0;padding-left: 20px;}
		}
		&__sub-tit{font-size: 20px; }
		&__txt2{font-size: 15px; margin-top: 20px;}
	}

	@media only screen and (max-width:$mobile-size){
		&__outer{ margin-top: 20px;padding: 0px;}
		&__thumb{display: none;}
		&__desc{width: 100%; padding: 20px 25px;}
		&__tit{font-size: 1.6rem;}
		&__txt--numbering{position: relative; padding-left: 25px; font-size: 1.3rem; margin-top: 12px; }
		&__txt--numbering + #{$this}__txt--numbering{margin-top: 8px;}
		&__numbering{position: absolute;left: 0; font-size: 1.3rem; margin-right: 0px;}
		&__txt1{ font-size: 1.5rem; margin-top: 50px;}
		&__txt1.type-quotation:before{left: calc(50% - 9px); top: -25px;  width: 19px; height: 12px; -webkit-background-size: auto 12px;background-size: auto 12px;background-image:  url('../../images/eye/big-quotation-pm.png');}
		&__ways{ display: block; margin-top: 50px; padding: 0; }
		&__circle{display: block;width: auto; height: 225px; width: 225px; margin: 0 auto; padding: 5px; margin-top: 50x; -webkit-background-size: auto 225px;background-size: auto 225px; background-image:  url('../../images/eye/eyecareful-circle-pm.png');}
		&__border{width: 215px; height: 215px;}
		&__wrapper{
			&.type-desc{ display: block; width: 100%; padding: 0px;}
		}
		&__sub-tit{font-size: 1.6rem; margin-top: 15px; letter-spacing: 0;}
		&__txt2{font-size: 1.3rem; margin-top: 12px;}
	}
}

.misunderstanding{ margin-top: 90px;
	$this:&;
	&__bg{ height:auto; padding: 190px 60px 50px; background:url('../../images/eye/eyemistaken-bg-p.jpg') 0 0 / cover no-repeat;}
	&__wrapper.align{float: right; width: 550px;}
	&__tit{margin: 0;font-size: 40px; font-weight: 500; color: #fff; }
	&__desc{margin-top: 30px; padding-right: 14%;}
	&__desc + #{$this}__desc{margin-top: 50px; }
	&__number{display: inline-block; padding-right: 5px; font-style: italic;}
	&__sub-tit{margin: 0;font-size: 20px; font-weight: 500;font-style: italic; color: #333;  }
	&__txt1{font-size: 15px; font-weight: 300; margin: 15px 0 0 0; color: #666;word-break: keep-all;}
	&__list{margin: 0 0 0 -13px;padding: 0;list-style: none;}
	&__item{float: left; width: 50%; padding-left: 13px; margin-top: 20px;box-sizing: border-box;}
	&__item:nth-child(2n+1){clear: both;}
	&__inner{font-size: 0;}
	&__inner img{width: 100%;}
	&__desc-box{height: 40px; font-size: 16px; font-weight: 400; background-color: #7a7a7a; color: #fff; text-align: center; vertical-align: middle;}
	&__desc-box:before{content: ''; display: inline-block; height: 100%; vertical-align: middle;}
	&__item:nth-child(2) .misunderstanding__desc-box{background-color: #606060;}
	&__item:nth-child(3) .misunderstanding__desc-box{background-color: #333333;}
	&__item:nth-child(4) .misunderstanding__desc-box{background-color: #082957;}
	&__info{margin: 30px 0 0; font-size: 11px; font-weight: 300; color: #fff; text-align: right;}

	&__bg-dark{height: 440px; padding: 8px; background:url('../../images/eye/eyemistaken2-bg-p.jpg') 0 0 / cover no-repeat;}
	&__inner-box{display: table; width: 100%; border: 2px solid #818182; height: 100%;}
	&__wrapper.type-eye-correction{display: table-cell; vertical-align: middle;}
	&__txt2{font-size: 17px; font-weight: 300;padding: 0 6%;color: #fff; word-break: keep-all;}
	&__txt2 .border{ border-bottom: 1px solid #10e1af;}
	&__txt2 strong{font-weight: 500;}
	&__txt3{font-size: 20px; font-weight: 300; margin-top: 35px; line-height: 210%; color: #fff; word-break: keep-all;}
	&__txt3 span{font-style: italic; font-weight: 500;}
	@media only screen and (max-width:$minpc-size3){margin: 0 -65px; margin-top: 65px;
		&__bg{ height:auto; padding: 120px 20px 40px; background-image:url('../../images/eye/eyemistaken-bg-t.jpg');background-position: center center;}
		&__wrapper.align{max-width: 460px;}
		&__tit{font-size: 32px; }
		&__desc{margin-top: 20px; padding-right: 0;}
		&__desc + #{$this}__desc{margin-top: 45px; }
		&__number{ padding-right: 5px;}
		&__sub-tit{font-size: 20px; }
		&__txt1{font-size: 15px; margin-top: 10px; }

		&__list{margin-left: -8px;}
		&__item{padding-left: 8px; margin-top: 20px;}
		&__desc-box{height: 30px; font-size: 14px;}
		&__info{font-size: 10px; margin-top: 20px; }

		&__bg-dark{height: 485px; background-image:url('../../images/eye/eyemistaken2-bg-t.jpg');}
		&__txt2{font-size: 16px; padding: 0 8%;}
		&__txt3{font-size: 18px; margin-top: 25px; }

	}
	@media only screen and (max-width:$mobile-size){ margin: 0 -20px; margin-top: 45px;
		&__bg{ height: auto; padding: 430px 20px 20px; background-color: #b0d1d8; background-size: contain;background-position: center top; background-image:url('../../images/eye/eyemistaken-bg-m.jpg');}
		&__wrapper.align{max-width: none; width:100%;}
		&__tit{font-size: 2.1rem; }
		&__desc{margin-top: 8px; }
		&__desc + #{$this}__desc{margin-top: 30px; }
		&__number{ padding-right: 5px;}
		&__sub-tit{font-size: 1.5rem; }
		&__txt1{font-size: 1.3rem; margin-top: 5px; }


		&__list{margin-left: -5px; margin-top: 15px;}
		&__item{padding-left: 5px; margin-top: 5px;}
		&__desc-box{height: 23px; font-size: 1.1rem;}
		&__info{font-size: 1,1rem; margin-top: 10px; }

		&__bg-dark{height: 424px; background-image:url('../../images/eye/eyemistaken2-bg-m.jpg');}
		&__inner-box{border: 1px solid #818182;}
		&__txt2{font-size: 1.4rem; padding: 0;}
		&__txt3{font-size: 1.6rem; margin-top: 18px; }
	}
}
.incisional-eye{height: auto; margin-top: 45px; padding: 80px 80px 55px; background: url('../../images/eye/double-bg-p.jpg') 0 0 / cover no-repeat;
	&__bar{ margin-top: 60px; display: table;width: 100%; border-radius: 50px; background-color: #333333;box-sizing: border-box;}
	&__tit{position: relative; display: table-cell; font-size: 26px;  padding-left: 60px; text-align: right; vertical-align: middle;}
	&__tit:before{ display: inline-block; content: ''; position: absolute; left: 55px;top: 20px; width: 50px;height: 56px;background: url('../../images/eye/icon-question-pm.png') 0 0 no-repeat;  }
	&__tit strong{font-weight: 500;}
	&__txt1{display: table-cell; font-size: 18px;font-weight: 200; padding: 35px; padding-left: 25px; color: #fff;  word-break: keep-all;}
	@media only screen and (max-width:$tablet-size){ height: auto; margin: 0 -65px; margin-top: 55px;padding: 120px 20px 45px; background-image: url('../../images/eye/double-bg-t.jpg');
		&__wrapper{font-size: 0;text-align: right;}
		&__bar{ margin-top: 85px; padding: 0; }
		&__tit{font-size: 20px;  padding-left: 65px;}
		&__tit:before{left:31px;top: calc(50% - 18px); width: 33px;height: 36px;background-image: url('../../images/eye/icon-question-t.png')};
		&__txt1{font-size: 14px;padding: 25px; padding-left: 0; padding-right: 37px; text-align: right; }
	}
	@media only screen and (max-width:$mobile-size){ height: auto;  margin: 0 -20px; margin-top: 25px; padding: 0px 13px; padding-bottom: 50px; background: none; background-color: #799dd2;
		&:before{content: ''; display: block; padding-bottom: 121.43%; background-image: url('../../images/eye/double-bg-m.jpg');background-size: cover; margin: 0 -13px;}
		&__wrapper{text-align: center;}
		&__bar{ margin-top: 23px; padding: 18px 32px; display: block; text-align: left; border-radius: 50px;}
		&__tit{font-size: 1.6rem;  padding-left: 28px; display: block;text-align: left;}
		&__tit:before{left:0; top:-3px; width: 25px;height: 28px;background: url('../../images/eye/icon-question-pm.png') 0 0 / 25px auto no-repeat;  }
		&__txt1{display: block; font-size: 1.3rem;padding: 0; margin-top: 7px; text-align: left;}
	}
}

.layer-doc7{ float: right;  padding-right: 40px;
	$this:&;
	&__wrapper{text-align: center;}
	&__wrapper + #{$this}__wrapper{margin-top: -48px;}
	&__outer{padding: 4px;display: inline-block; }
	&__inner{ width: 142px; height: 166px; background: url('../../images/eye/hexagon-blue-p.png') 0 0 no-repeat;}
	&__inner.type-bigger{ width: 150px; height: 174px; background: url('../../images/eye/hexagon-big-p.png') 0 0 no-repeat;}

	&__inner:before{content: ''; display: inline-block; height: 100%; vertical-align: middle;}
	&__tit{position: relative; left: -2px;display: inline-block; margin:0; font-size: 15px; font-weight: 400; font-style: italic; vertical-align: middle; color: #fff	; line-height: 130%;}
	&__tit.type-bigger{font-size: 15px; font-style: normal; line-height: 1.3; }
	@media only screen and (max-width:$tablet-size){display: none;padding-right: 0;
		&__inner{ width: 120px; height: 140px; background-image: url('../../images/eye/hexagon-blue-t.png'); background-size: 119px auto;}
		&__inner.type-bigger{ width: 126px; height: 146px;  background: url('../../images/eye/hexagon-big-t.png') 0 0 no-repeat; background-size: 126px auto; }
		&__outer.type-bigger{padding: 9px 2px;}
		&__tit{font-size: 15px;}
		&__tit.type-bigger{font-size: 21px; }
	}
	@media only screen and (max-width:$mobile-size){float: none; width: 100%; margin-top: 0;
		&__inner{ width: 82px; height: 95px; background-image: url('../../images/eye/hexagon-blue-m.png'); background-size: 82px auto; }
		&__inner.type-bigger{ width: 87px; height: 102px;  background: url('../../images/eye/hexagon-big-m.png') 0 0 no-repeat; background-size: 87px auto; }
		&__wrapper + #{$this}__wrapper{margin-top:-33px;}
		&__outer.type-bigger{padding: 4px 0px;}
		&__outer{padding: 7px 0px;}
		&__tit{font-size: 1.2rem;}
		&__tit.type-bigger{font-size: 1.6rem; }

	}
}

.advantage{display: none;
	@media only screen and (max-width:$tablet-size){
		display: inline-block;border-radius: 10px 10px 10px 10px;background-color: #326ab1;padding: 5px;text-align: left;
		&__wrap{border: 1px solid #99b5d8;margin: 5px;padding: 10px;}
		&__tit{margin: 0;font-size: 21px;font-weight: 500;color: #fff;text-align: center;}
		&__list{margin: 30px 0 0 0;padding: 0;list-style: none;}
		&__item{position: relative;padding-left: 8px;font-size: 15px;color: #fff;
			&:before{content: '';position: absolute;top: 9px;left: 0;width: 2px;height: 2px;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;background-color: #fff;}
			& + &{margin-top: 3px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{font-size: 1.8rem;}
		&__item{font-size: 1.5rem;}
	}
}
