<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-reoperation-nose">
	    <div class="content-visual__box">
	        <div class="content-visual__border type-reoperation-nose">
	            <p class="content-visual__txt1 type-reoperation-nose">Operasi Revisi dengan Mempertimbangkan Struktur Kompleks</p>
	            <h3 class="content-visual__tit type-reoperation-nose"># <span class=".color-reoper-nose1">Operasi Revisi Hidung</span></h3>
	            <p class="content-visual__txt2 type-reoperation-nose">Hidung direkonstruksi, <span class="inline-block">efek samping berkurang</span></p>
	        </div>
	    </div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
            <div class="nose-skill">
                <div class="nose-skill__wrapper clearfix">
                    <div class="nose-skill__thumb img01">Dokter Spesialis Bedah Plastik</div>
                    <div class="nose-skill__desc">
                        <div class="content-section type-first">
                            <h4 class="content-section__tit type-left">
                                <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
                                Hal penting dalam Operasi Revisi Hidung adalah
                                <strong>pengalaman</strong> &amp; <strong>keterampilan</strong> Dokter Spesialis
                            </h4>
                        </div>
                        <div class="nose-skill__thumb--t img01">Dokter Spesialis Bedah Plastik</div>
                        <p class="content-section__txt1">
                            Walaupun hidung ukurannya kecil, hidung memiliki struktur tulang, tulang rawan &amp; jaringan lunak yg kompleks.<br>
							Selain itu, semakin banyak perubahan yg dilakukan dalam operasi hidung akan semakin merumitkan struktur & jaringan asli.
							Ada banyak alasan untuk operasi revisi, misalnya, ketidakpuasan secara estetika, masalah dengan fungsi hidung, efek samping, dll. Melakukan operasi revisi pada hidung dengan segala alasan tersebut adalah hal yang sangat sensitif.
                        </p>
                        <p class="content-section__txt1">
                            <strong>Oleh karena itu, sangatlah penting untuk mendapatkan Operasi Revisi Hidung dari Spesialis yg terampil & berpengalaman.</strong> <br class="hidden-pt">
                            Apa yg diperlukan adalah pengetahuan & keterampilan dari Dokter Spesialis yg berpengalaman dalam menangani berbagai operasi di ruang operasi. BANOBAGI telah mempertahankan Tim Operasi Hidung khusus sejak pembukaan kami pada tahun 2000 & memastikan bahwa Operasi Revisi Hidung dilakukan oleh Spesialis bedah hidung yg sangat berpengalaman.
                        </p>
                        <div class="nose-skill__thumb--m img01">Dokter Spesialis Bedah Plastik</div>
                    </div>

                </div>
            </div>
            <!-- //content-section -->
            <div class="timing">
                <div class="timing__wrapper bg">
					<div class="timing__img-left"><div class="timing__img-box">before</div></div>
					<div class="timing__img-right"><div class="timing__img-box">after</div></div>
                    <h4 class="timing__tit">
                        Waktu yang tepat untuk <span class="content-highlight re-nose-timing1">Operasi Revisi Hidung</span>
                    </h4>
                    <p class="timing__txt1">
						Biasanya, pasien yg telah memutuskan Operasi Revisi ingin melakukannya sesegera mungkin.
						Ketika berhadapan dengan permasalahan hidung, stres dari ketidakpuasan sangat serius karena posisinya berada pada sentral siluet wajah & pasien cenderung menginginkan koreksi secepatnya.
                    </p>
                    <p class="timing__txt1">
						Bagaimanapun, Operasi Revisi Hidung tidak dapat dilakukan secara terburu-buru, karena ada waktu yg tepat untuk melakukan operasi.
						Walaupun hal ini bergantung pada bagaimana operasi sebelumnya, waktu yg tepat untuk Operasi Revisi adalah <span class="content-highlight re-nose-timing1">± 3~6 bulan dari operasi sebelumnya.</span> Karena Operasi Revisi yg terperinci hanya dapat dilakukan setelah seluruh jaringan stabil. Bahkan, dalam kasus peradangan, disarankan untuk membuang penyebabnya dan memastikan bahwa peradangan telah mereda sebelum melakukan Operasi Revisi.
                    </p>
                    <div class="timing__ideal">
                        <p class="timing__txt2">
                            Oleh Karena itu, ketika pasien ingin melakukan Operasi Revisi Hidung, inilah hal penting untuk memilih Klinik yg dapat
                            <span class="color-reoper-nose3">mengetahui penyebab sumber ketidakpuasan & melihat kondisi pasien melalui konsultasi yg cukup.</span>
                        </p>
                        <h5 class="timing__sub-tit">Waktu Ideal untuk Operasi Revisi Hidung</h5>
                        <ul class="timing__list clearfix">
                            <li class="timing__item">
                                <div class="timing__inner">
                                    <div class="timing__txt3">
                                        <span class="color-reoper-nose4">3 ~ 6 bulan</span><br>
                                        setelah operasi sebelumnya
                                    </div>
                                </div>
                            </li>
                            <li class="timing__item">
                                <div class="timing__inner">
                                    <div class="timing__txt3">
                                        Dalam kasus peradangan,<br>
                                        <span class="color-reoper-nose4">setelah penyebab telah dihilangkan</span>
                                    </div>
                                </div>
                            </li>
                            <li class="timing__item">
                                <div class="timing__inner">
                                    <div class="timing__txt3">
                                        Setelah peradangan<br>
                                        <span class="color-reoper-nose4">mereda</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- //content-section -->


            <!-- tab  -->
            <div class="content-tab">
                <div class="content-tab__inner">
                    <ul class="content-tab__list">
                        <li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-tip">Ujung Hidung</a></li>
                        <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-bridge">Batang Hidung</a></li>
                        <li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-prosthesis">Implan</a></li>
                    </ul>
                </div>
            </div>

            <!-- tab contents -->
            <div class="content-tab__page page-tip is-active">
                <div class="content-tab__box">
                    <div class="re-surgery type-nose-end">
                        <div class="item-box1">
                            <ul class="item-box1__list clearfix">
                                <li class="item-box1__item nth-1">
                                    <div class="item-box1__inner">
                                        <div class="item-box1__thumb">
                                            <img class="hidden-tm" src="../../images/reoperation/end-nose01-p.jpg" loading="lazy" alt="Jika ujung hidung menurun seiring waktu">
                                            <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose01-t.jpg" loading="lazy" alt="Jika ujung hidung menurun seiring waktu"> -->
                                            <img class="hidden-pt" src="../../images/reoperation/end-nose01-m.jpg" loading="lazy" alt="Jika ujung hidung menurun seiring waktu">

                                        </div>
                                        <div class="item-box1__desc">
                                            <p class="item-box1__tit tit-v4">
                                                Jika ujung hidung menurun seiring waktu
                                            </p>
                                            <p class="item-box1__txt1 txt-v1">
                                                Tulang rawan ujung hidung yg lemah & kolumela pendek memberikan resistensi yg tidak cukup ketika ujung hidung ditekan ke bawah, tulang rawan akan menurun seiring waktu dari posisi awal.<br>
                                                <span class="color-reoper-nose5">Oleh karena itu, bentuk & kekuatan ujung hidung harus diperika secara tepat pada tahap konsultasi & diagnosis sehingga ujung hidung dapat dipertajam melalui operasi pemanjangan / pemerkuat septum. </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nose-info clearfix">
                                        <ul class="nose-info__list clearfix">
                                            <li class="nose-info__item longer">
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Memeriksa dukungan struktural untuk ujung hidung melalui diagnosis akurat
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Mendukung ujung hidung melalui pemanjangan septum / operasi columella
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-box1__item nth-2">
                                    <div class="item-box1__inner">
                                        <div class="item-box1__thumb">
                                            <img class="hidden-tm" src="../../images/reoperation/end-nose02-p.jpg" loading="lazy" alt="Jika kontraktur telah meningkat & memperpendek ujung hidung">
                                            <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose02-t.jpg" loading="lazy" alt="Jika kontraktur telah meningkat & memperpendek ujung hidung"> -->
                                            <img class="hidden-pt" src="../../images/reoperation/end-nose02-m.jpg" loading="lazy" alt="Jika kontraktur telah meningkat & memperpendek ujung hidung">
                                        </div>
                                        <div class="item-box1__desc">
                                            <p class="item-box1__tit tit-v4">
                                                Jika kontraktur telah meningkat & memperpendek ujung hidung
                                            </p>
                                            <p class="item-box1__txt1 txt-v1">
                                                Ini adalah komplikasi yg jarang terjadi karena pasien tidak mengambil tindakan atas peradangan pos-operasi. <br class="hidden-t">
                                                <span class="color-reoper-nose5">Untuk memperbaikinya, ujung hidung harus dikoreksi sementara jaringan yg bermasalah di dalam hidung dihilangkan & sisa jaringan kulit dibuang.</span> Setelah itu, ujung yg turun diatur kembali melalui implan buatan / autologous. Pada saat ini, sangatlah penting untuk secukupnya memperpanjang jaringan lunak yg terkelupas sehingga ujung hidung tidak terangkat kembali. Setelah operasi, perawatan proaktif seperti menghindari merokok, mengonsumsi alcohol, melakukan massage dll diperlukan untuk mencegah terulangnya kembali permasalahan pada area hidung.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nose-info clearfix">
                                        <ul class="nose-info__list clearfix">
                                            <li class="nose-info__item longer">
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Membuang penyebab kontraktur & jaringan yg bermasalah
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Pemanjangan yg cukup pada bagian jaringan yg sudah terkelupas
                                                </p>
                                            </li>
                                            <li class="nose-info__item longer">
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Memilih implan yg sesuai untuk ditaruh di ujung hidung
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Perawatan proaktif seperti menghindari merokok, mengonsumsi alcohol, melakukan massage dll
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-box1__item nth-3">
                                    <div class="item-box1__inner">
                                        <div class="item-box1__thumb">
                                            <img class="hidden-tm" src="../../images/reoperation/end-nose03-p.jpg" loading="lazy" alt="Jika ujung hidung terlihat tumpul">
                                            <!-- <img class="hidden-pm" src="../../images/reoperation/end-nose03-t.jpg" loading="lazy" alt="Jika ujung hidung terlihat tumpul"> -->
                                            <img class="hidden-pt" src="../../images/reoperation/end-nose03-m.jpg" loading="lazy" alt="Jika ujung hidung terlihat tumpul">

                                        </div>
                                        <div class="item-box1__desc">
                                            <p class="item-box1__tit tit-v4">
                                                Jika ujung hidung terlihat tumpul
                                            </p>
                                            <p class="item-box1__txt1 txt-v1">
                                                Ujung hidung yg tampak tumpul setelah operasi tidak memuaskan banyak pasien. Hal ini dapat disebabkan ketika tulang rawan semakin turun, lemak subkutan tidak terawat dengan baik/ tulang rawan yg dicangkokkan ke ujung hidung diposisikan secara kurang tepat. Semua hal tsbt disebabkan oleh operasi sebelumnya. <span class="color-reoper-nose5">Setelah alasan ketidakpuasan telah diidentifikasi, penyesuaian dapat dilakukan dengan membuang jaringan parut kemudian mempersempit tulang rawan / mencangkokkan kembali tulang rawan ujung hidung setelah dibentuk dalam ukuran yg lebih tepat.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nose-info clearfix">
                                        <ul class="nose-info__list clearfix">
                                            <li class="nose-info__item longer">
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Koreksi revisi lebar tulang rawan ujung hidung
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Tulang rawan dicangkokan kembali setelah ukuran dibentuk lebih tepat
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-tab__page page-bridge">
                <div class="content-tab__box">
                    <div class="re-surgery type-nose-slack">
                        <div class="item-box1">
                            <ul class="item-box1__list clearfix">
                                <li class="item-box1__item nth-1">
                                    <div class="item-box1__inner">
                                        <div class="item-box1__thumb">
                                            <img class="hidden-tm" src="../../images/reoperation/slack-nose01-p.jpg" loading="lazy" alt="Jika batang hidung terasa terlalu tinggi atau terlalu rendah">
                                            <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose01-t.jpg" loading="lazy" alt="Jika batang hidung terasa terlalu tinggi atau terlalu rendah"> -->
                                            <img class="hidden-pt" src="../../images/reoperation/slack-nose01-m.jpg" loading="lazy" alt="Jika batang hidung terasa terlalu tinggi atau terlalu rendah">

                                        </div>
                                        <div class="item-box1__desc">
                                            <p class="item-box1__tit tit-v4">
                                                Jika batang hidung terasa terlalu tinggi atau terlalu rendah
                                            </p>
                                            <p class="item-box1__txt1 txt-v1">
                                                Proporsi antara fitur wajah seperti dahi, garis rahang dll, penting dalam operasi hidung & bagaimana hidung cocok dengan citra pasien juga harus diingat. Tanpa melakukannya, seberapa tinggipun batang hidung dapat terlihat terlalu tinggi / rendah. Banyak pasien yg menginginkan Operasi Revisi termasuk dalam kategori ini. Dalam kasus ini,
                                                <span class="color-reoper-nose7">hal  yg penting adalah menyesuaikan kembali tinggi batang hidung melalui perbaikan tulang / mengubah ukuran implan dengan pertimbangan keseluruhan harmoni wajah.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nose-info nose-slack clearfix">
                                        <ul class="nose-info__list clearfix">
                                            <li class="nose-info__item">
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Tinggi ditentukan oleh proporsi yg relatif terhadap fitur wajah
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Cangkok implan berukuran tepat
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-box1__item nth-2">
                                    <div class="item-box1__inner">
                                        <div class="item-box1__thumb">
                                            <img class="hidden-tm" src="../../images/reoperation/slack-nose02-p.jpg" loading="lazy" alt="Jika batang hidung terasa terlalu lebar / terlalu sempit">
                                            <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose02-t.jpg" loading="lazy" alt="Jika batang hidung terasa terlalu lebar / terlalu sempit"> -->
                                            <img class="hidden-pt" src="../../images/reoperation/slack-nose02-m.jpg" loading="lazy" alt="Jika batang hidung terasa terlalu lebar / terlalu sempit">
                                        </div>
                                        <div class="item-box1__desc">
                                            <p class="item-box1__tit tit-v4">
                                                Jika batang hidung terasa terlalu lebar / terlalu sempit
                                            </p>
                                            <p class="item-box1__txt1 txt-v1">
                                                Preferensi pada batang hidung bervariasi berdasarkan individu, tetapi secara fundamental, hal yg penting adalah siluet garis yg dimulai dari sisi dalam alis mata & mengikuti kedua sisi batang hidung. Perbedaan preferensi antara pria dan wanita juga penting untuk dipahami.
                                                <span class="color-reoper-nose7">Dalam kasus ini, kunci penyesuaian untuk batang hidung adalah membentuk implan dengan ukuran yg sesuai & dicangkokan secara simetris. </span> Area implan sebelumnya pun harus cukup dikelupas sebelum pencangkokan untuk meminimalisasi kemungkinan implan melengkung dalam ruang yg tidak cukup.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nose-info nose-slack clearfix">
                                        <ul class="nose-info__list clearfix">
                                            <li class="nose-info__item">
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Menentukan lebar hidung sesuai titik awal alis mata & proporsi individu
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Mencangkokan implan secara simetris
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Mencegah lengkungan implan dengan deskuamasi ruang implan dengan cukup
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-box1__item nth-3">
                                    <div class="item-box1__inner">
                                        <div class="item-box1__thumb">
                                            <img class="hidden-tm" src="../../images/reoperation/slack-nose03-p.jpg" loading="lazy" alt="Jika batang hidung tampak melengkung">
                                            <!-- <img class="hidden-pm" src="../../images/reoperation/slack-nose03-t.jpg" loading="lazy" alt="Jika batang hidung tampak melengkung"> -->
                                            <img class="hidden-pt" src="../../images/reoperation/slack-nose03-m.jpg" loading="lazy" alt="Jika batang hidung tampak melengkung">

                                        </div>
                                        <div class="item-box1__desc">
                                            <p class="item-box1__tit tit-v4">
                                                Jika batang hidung tampak melengkung
                                            </p>
                                            <p class="item-box1__txt1 txt-v1">
                                                Hidung terletak di tengah wajah, maka lebih sensitif terhadap asimetri atau lengkungan. Dalam kasus ini, bukan hanya lengkungan yg harus ditangani, tetapi juga simetri wajah secara keseluruhan, derajat kemiringan tulang hidung, kelengkungan garis wajah tengah & bila pernah dicangkokkan implan, apakah implan sebelumnya telah melengkung atau tidak.
                                                <span class="color-reoper-nose5">Jika penyebab kelenturan tidak dapat ditemukan selama diagnosis, dapat menyebabkan hal ini terjadi kembali. </span>
                                                Jika wajah yg asimetris atau garis tengah wajah sendiri melengkung, kontur wajah adalah pilihan, tetapi biasanya tidak ada kasus wajah yg seimbang sempurna, maka tidak ada cara untuk memperbaiki dengan sempurna untuk asimetri. Namun, jika asimetri terjadi pada bagian kemiringan tulang hidung, simetri dapat dibuat dengan osteotomi luar dgn memotong area luar tulang hidung. Tambahan lain, jika masalahnya terletak di dalam implan, ada perbaikan yg relatif lebih mudah dengan mengganti implan setelah cukup mengelupas area tersebut.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nose-info nose-slack clearfix">
                                        <ul class="nose-info__list clearfix">
                                            <li class="nose-info__item longer">
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Mengetahui penyebab asimetri melalui pemeriksaan keseluruhan wajah
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Dalam kasus asimetri <span class="color-reoper-nose8">wajah</span>, diperlukan operasi Two Jaw atau Kontur Wajah.
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Dalam kasus asimetri pada bagian <span class="color-reoper-nose8">tulang hidung yg miring,</span> kelenturan dibantu melalui osteotomi luar.
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Dalam <span class="color-reoper-nose8">kasus implan melengkung yg dicangkokan sebelumnya,</span> dapat diganti dengan implan yg baru, setelah ruang untuk implan baru dilakukan deskuamasi secukupnya untuk mencegah hal tsbt terulang lagi.
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-tab__page page-prosthesis">
                <div class="content-tab__box">
                    <div class="re-surgery type-nose-implant ">
                        <div class="item-box1">
                            <ul class="item-box1__list clearfix">
                                <li class="item-box1__item nth-1">
                                    <div class="item-box1__inner">
                                        <div class="item-box1__thumb">
                                            <img class="hidden-tm" src="../../images/reoperation/implant-nose01-p.jpg" loading="lazy" alt="Kasus dimana implan terlihat secara tembus pandang">
                                            <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose01-t.jpg" loading="lazy" alt="Kasus dimana implan terlihat secara tembus pandang"> -->
                                            <img class="hidden-pt" src="../../images/reoperation/implant-nose01-m.jpg" loading="lazy" alt="Kasus dimana implan terlihat secara tembus pandang">

                                        </div>
                                        <div class="item-box1__desc">
                                            <p class="item-box1__tit tit-v4">
                                                Kasus dimana implan terlihat secara tembus pandang
                                            </p>
                                            <p class="item-box1__txt1 txt-v1">
                                                Dalam kasus kulit pucat & tipis atau jika implan terlalu berlebihan, implan dapat terlihat. Dalam kasus ini,
												<span class="color-reoper-nose9">perbaikan dapat dilakukan dengan AlloDerm atau fascia temporal yg dapat melengkapi ketebalan kulit.</span>
                                                Tambahan lagi, dapat dicegah terulangnya lagi oleh pemindahan posisi implan lebih ke dalam daripada lapisan kulit.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nose-info nose-implant clearfix">
                                        <ul class="nose-info__list clearfix">
                                            <li class="nose-info__item">
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Melindungi kulit tipis dengan AlloDerm / fascia temporal
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Pemindahan posisi implan lebih ke dalam daripada lapisan kulit
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-box1__item nth-2">
                                    <div class="item-box1__inner">
                                        <div class="item-box1__thumb">
                                            <img class="hidden-tm" src="../../images/reoperation/implant-nose02-p.jpg" loading="lazy" alt="Kasus dimana implan batang hidung bergerak">
                                            <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose02-t.jpg" loading="lazy" alt="Kasus dimana implan batang hidung bergerak"> -->
                                            <img class="hidden-pt" src="../../images/reoperation/implant-nose02-m.jpg" loading="lazy" alt="Kasus dimana implan batang hidung bergerak">
                                        </div>
                                        <div class="item-box1__desc">
                                            <p class="item-box1__tit tit-v4">
                                                Kasus dimana implan batang hidung bergerak
                                            </p>
                                            <p class="item-box1__txt1 txt-v1">
                                                Terkadang beberapa pasien mengalami sensasi pergerakan implan batang hidung. Namun, hal ini biasanya disebabkan oleh sensasi licin yg diberikan oleh epitel berserat yg terbentuk di sekitar implant & sebenarnya pergerakan implan dalam jaringan tidak sering terjadi. Tentu saja, jika sensasi saja menyebabkan ketidaknyamanan & stres, perbaikan dapat dilakukan dengan
                                                <span class="color-reoper-nose9">memasukkan implan di bawah periosteum sesuai dengan bentuk & kurva batang hidung / menggunakan implan Gore-Tex.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nose-info clearfix nose-implant">
                                        <ul class="nose-info__list clearfix">
                                            <li class="nose-info__item">
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Memerlukan pemeriksaan terperinci apakah implan benar-benar bergerak
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Memperbaiki implan sesuai dengan bentuk & kurva batang hidung
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    penggantian implan Gore-Tex
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="item-box1__item nth-3">
                                    <div class="item-box1__inner">
                                        <div class="item-box1__thumb">
                                            <img class="hidden-tm" src="../../images/reoperation/implant-nose03-p.jpg" loading="lazy" alt="Jika tulang rawan yg dicangkokkan ke ujung hidung terlihat secara tembus pandang / tampak bengkok">
                                            <!-- <img class="hidden-pm" src="../../images/reoperation/implant-nose03-t.jpg" loading="lazy" alt="Jika tulang rawan yg dicangkokkan ke ujung hidung terlihat secara tembus pandang / tampak bengkok"> -->
                                            <img class="hidden-pt" src="../../images/reoperation/implant-nose03-m.jpg" loading="lazy" alt="Jika tulang rawan yg dicangkokkan ke ujung hidung terlihat secara tembus pandang / tampak bengkok">

                                        </div>
                                        <div class="item-box1__desc">
                                            <p class="item-box1__tit tit-v4">
                                                Jika tulang rawan yg dicangkokkan ke ujung hidung terlihat secara tembus pandang / tampak bengkok
                                            </p>
                                            <p class="item-box1__txt1 txt-v1">
                                                Jika kulit bagian ujung hidung tipis, pasien dapat melihat tulang rawan yg dicangkokkan terlihat melalui kulit / menjadi bengkok seiring waktu. Dalam kasus ini, perbaikan dapat dilakukan dengan
												<span class="color-reoper-nose9">mencangkokan dermis diri sendiri / AlloDerm yg dapat menambah ketebalan kulit antara kulit yg menipis & tulang rawan/ dengan menghapus tulang rawan asli, kemudian mencangkokan tulang rawan & dermis yg baru & diposisikan pada lokasi yg tepat.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="nose-info clearfix nose-implant">
                                        <ul class="nose-info__list clearfix">
                                            <li class="nose-info__item">
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    <span>Mencangkokkan dermis sendiri / AlloDerm yg dapat menambah ketebalan kulit antara kulit yg menipis & tulang rawan</span>
                                                </p>
                                                <p class="nose-info__txt1 txt-v3">
                                                    <span class="nose-info__dot"></span>
                                                    Menghapus tulang rawan asli, kemudian mencangkokan tulang rawan yg baru pada posisi yg tepat
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="satisfaction">
                <p class="satisfaction__txt">
                    Ini adalah contoh dari operasi revisi hidung yg umum, alasan & metode yg praktis untuk operasi revisi. Ada beberapa hal yg mungkin berbeda, bergantung pada kondisi individu. BANOBAGI bertujuan untuk melakukan Operasi revisi hidung yg lebih memuaskan melalui konsultasi
                    <span class="big"><span class="color-reoper-nose6">sistematis</span> & operasi <span class="color-reoper-nose6">komprehensif</span></span>
                </p>
            </div>
        </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
