<%
	type = "detail"
	page = "reoperation"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="reoperation detail-common">
	<section class="fs_section reoperationFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-reoperation">
					Operasi revisi dengan <span class="color-reoperation0">dasar dan prinsip-prinsip</span> kami
				</p>
				<h3 class="detail__first-txt type-reoperation">
					<strong class="detail__first-point">Pemulihan tubuh dan pikiran</strong><br>
					Detail dari <span class="color-reoperation1">Operasi Revisi</span> Banobagi
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Selanjutnya</em>
		</div>
	</section>

	<section class="fs_section reoperationSection01" data-section-name="reoperationSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-reoperation">
					<h4 class="detail__section-tit">
						Operasi revisi,<br>
						<strong class="color-reoperation1">Metode </strong>Banobagi
					</h4>
					<p class="detail__section-subtit">Perbaikan akurat dimulai dari dasar</p>
					<p class="detail__section-txt">
						Ada berbagai alasan untuk menjalankan operasi revisi dari prosedur operasi sebelumnya, tapi hanya ada satu kesimpulan; untuk mengidentifikasi dan mengkoreksi penyebab ketidakpuasan pasien dan membuatnya menjadi lebih puas daripada saat ini. <span class="color-reoperation4">Berdasarkan pada pengertian dan diagnosis, sangat diperlukan untuk mecari tahu tentang dasar prinsip operasi. </span>Banobagi mengerti kondisi setiap pasien dan menjanjikan koreksi yang tepat.
					</p>
				</div>
				<div class="layer-doc type-reoperation hidden-m"><!-- pc -->
					<h5 class="layer-doc__tit">Sistem operasi revisi Banobagi</h5>
					<ul class="layer-doc__list">
						<li class="layer-doc__item">Mengidentifikasi kebutuhan pasien</li>
						<li class="layer-doc__item">Mengerti manfaat dan tujuan</li>
						<li class="layer-doc__item">Diagnosis yang akurat</li>
						<li class="layer-doc__item">Operasi dengan dasar dan prinsip</li>
						<li class="layer-doc__item">Perawatan pasca operasi</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="detail__dim">dim</div>
		<div class="detail__popup-m">
			<div class="layer-doc hidden-pt type-reoperation">
				<h5 class="layer-doc__tit">Sistem operasi revisi Banobagi<span class="color-reoperation1">.</span></h5>
				<ul class="layer-doc__list">
					<li class="layer-doc__item">- Mengidentifikasi kebutuhan pasien</li>
					<li class="layer-doc__item">- Mengerti manfaat dan tujuan</li>
					<li class="layer-doc__item">- Diagnosis yang akurat</li>
					<li class="layer-doc__item">- Operasi dengan dasar dan prinsip</li>
					<li class="layer-doc__item">- Perawatan pasca operasi</li>
				</ul>
			</div>
		</div>
		<div class="detail__section-bottom hidden-pt type-reoperation">
			<div class="detail__section-set">
				<span>Sistem operasi revisi Banobagi</span>
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-reoperation" data-popup-type="section">button</a></span>
			</div>
		</div>
	</section>

	<section class="fs_section reoperationSection02" data-section-name="reoperationSection02">
		<div class="detail__inner type-full">
			<div class="detail__section-wrap type-reoperation type-quotation2">
				<div class="detail__section-wrap2">
					<div class="detail__vertical">
						<div class="detail__section-box type-reoperation type-wide type-quotation2">
							<h4 class="detail__section-tit">
								Operasi revisi, <br>
								Banobagi dapat
								<strong class="color-reoperation2">dipercaya</strong>
							</h4>
							<p class="detail__section-subtit">Ahli yang spesifik di bidangnya masing-masing</p>
							<p class="detail__section-txt">
								Proses prosedur revisi membutuhkan pertimbangan yang hati-hati dalam memperbaiki kerusakan jaringan, dan kemungkinan pembuangan atau penggantian material dari operasi sebelumnya. Oleh karena itu,
								<span class="color-reoperation2">sangatlah penting untuk operasi revisi dikerjakan oleh spesialis yang sangat terampil. </span>
							</p>
						</div>
					</div>
				</div>
				<!-- pc : Profil Staf Medis -->
				<div class="layer-img2 hidden-tm">
					<div class="layer-img2__box"></div>
					<a href="/introduce/introduceMedical.php" class="layer-img2__link">Profil Staf Medis</a>
				</div>
			</div>
		</div>
		<!-- mobile : Profil Staf Medis -->
		<div class="layer-img2 hidden-p">
			<div class="layer-img2__box"></div>
			<a href="/introduce/introduceMedical.php" class="layer-img2__link">Profil Staf Medis</a>
		</div>
	</section>

	<section class="fs_section reoperationSection03" data-section-name="reoperationSection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-reoperation">
					<h4 class="detail__section-tit">
						Operasi revisi, <br>
						Banobagi melakukannya dengan
						<strong class="color-reoperation1">lebih baik!</strong>
					</h4>
					<p class="detail__section-subtit">Lebih presisi dan terampil demi hasil yang lebih baik</p>
					<p class="detail__section-txt">
						Operasi revisi dapat menjadi salah satu hal paling sulit dan membuat Ahli sekalipun merasa enggan. Walau demikian, Banobagi yakin dapat melakukan operasi revisi lebih baik dibanding Rumah sakit lainnya. Selama bertahun-tahun, tim medis Banobagi telah mendapatkan kekayaan ilmu pengetahuan dan pengalaman, berfokus pada prinsip-prinsip operasi, guna membangun pengalaman dan pengetahuan yang lebih alami dan meyakinkan. <span class="color-reoperation3">Operasi revisi Banobagi menyediakan para ahli yang terampil dengan metode yang lebih baik demi hasil yang lebih baik. </span>Para pasien yang datang ke Banobagi pasti akan puas dengan hasil yang diinginkan.
					</p>
				</div>
				<div class="diagram4">
					<ul class="diagram4__list">
						<li class="diagram4__item nth-1"><div class="diagram4__wrap"><p class="diagram4__txt">Operasi revisi <br>mata</p></div></li>
						<li class="diagram4__item nth-2"><div class="diagram4__wrap"><p class="diagram4__txt">Operasi <br>revisi hidung</p></div></li>
						<li class="diagram4__item nth-3"><div class="diagram4__wrap"><p class="diagram4__txt">Operasi revisi<br>payudara</p></div></li>
						<li class="diagram4__item nth-4"><div class="diagram4__wrap"><p class="diagram4__txt">Operasi revisi<br>Banobagi</p></div></li>
						<li class="diagram4__item nth-5"><div class="diagram4__wrap"><p class="diagram4__txt">Operasi <br>revisi wajah</p></div></li>
						<li class="diagram4__item nth-6"><div class="diagram4__wrap"><p class="diagram4__txt">Operasi <br>revisi tubuh</p></div></li>
						<li class="diagram4__item nth-7"><div class="diagram4__wrap"><p class="diagram4__txt">Operasi <br>revisi Anti  penuaan</p></div></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section reoperationSection04" data-section-name="reoperationSection04">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-right type-reoperation">
					<h4 class="detail__section-tit">
						Operasi revisi,
						Banobagi mengerjakannya dengan
						<strong class="color-reoperation1">detail</strong>
					</h4>
					<p class="detail__section-subtit">Pengangkatan materi asing yang sukses</p>
					<p class="detail__section-txt">
						<span class="color-reoperation3">Pertimbangan paling penting dari pemindahan benda asing dari prosedur operasi sebelumnya adalah untuk menemukan lokasi akurat dari material asing tersebut dan mengangkatnya dengan aman serta mencegah kerusakan jaringan sekitarnya. </span> Dengan peralatan khusus dan pengalaman memukau di bidangnya, para dokter di Banobagi dapat mengidentifikasi dan mengangkat benda asing dengan aman, dan menyediakan perawatan untuk mengembalikan kerusakan jaringan yang terjadi dan efek sampingnya.
					</p>
				</div>
				<div class="layer-doc6">
					<ul class="layer-doc6__list">
						<li class="layer-doc6__item nth-1">
							<div class="layer-doc6__img"></div>
							<p class="layer-doc6__txt">Diagnosis dengan<br> teknik ultrasonografi</p>
						</li>
						<li class="layer-doc6__item nth-2">
							<div class="layer-doc6__img"></div>
							<p class="layer-doc6__txt">Pengangkatan material asing </p>
						</li>
						<li class="layer-doc6__item nth-3">
							<div class="layer-doc6__img"></div>
							<p class="layer-doc6__txt">Pengembalian bentuk</p>
						</li>
						<li class="layer-doc6__item nth-4">
							<div class="layer-doc6__img"></div>
							<p class="layer-doc6__txt">Pengobatan </p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
