<%
	type = "content"
	page = "reoperation"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-reoperation">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Impresi berbeda dari perubahan kecil</p>
				<h3 class="content-visual__tit"># Operasi revisi <span class="color-reoperation1">kelopak mata</span></h3>
				<p class="content-visual__txt2">Revisi yang lebih teliti dan terperinci</p>
			</div>
		</div>
    </div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
			<div class="content-section type-first">
				<div class="reoperation-box1">
					<div class="content-section__box w-7 type-another2">
						<h4 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
							Jika<br>
							operasi ulang memang diperlukan,
							<strong class="color-reoperation1">maka tidak perlu ragu.</strong>
						</h4>
						<p class="content-section__txt1">
							Dalam konsultasi kami, beberapa pasien menanyakan apakah operasi revisi dapat memberikan hasil yang lebih buruk dari operasi sebelumnya. Hal ini tidak memiliki bukti, namun sering menjadi alasan ketidakmauan pasien yang membutuhkan operasi kedua.
						</p>
					</div><!-- //content-section__box-->
					<div class="reoperation-box1__img">재수술 이미지1</div>
				</div><!--//reoperation-box1-->
				<div class="reoperation-box2">
					<h5 class="reoperation-box2__tit">
						Kami mampu memperbaiki dengan cara operasi, bahkan struktur tulang: operasi revisi kelopak mata - perbaikan kulit
						<strong class="color-reoperation1">cukup sederhana</strong>
					</h5>
					<p class="reoperation-box2__txt">
						Jika menggunakan metode yang tepat melalui pemeriksaan yang lengkap, dan jika klinik mempunyai kemampuan melaksanakan prosedur tanpa kesalahan, operasi revisi akan menghasilkan hasil yang memuaskan, selayaknya prosedur pertama.
					</p>
					<ul class="reoperation-box2__list">
						<li class="reoperation-box2__item"><img src="../../images/reoperation/reoperation_eye_img04.jpg" loading="lazy" alt=""></li>
						<li class="reoperation-box2__item"><img src="../../images/reoperation/reoperation_eye_img05.jpg" loading="lazy" alt=""></li>
					</ul>
				</div>
				<div class="reoperation-box3">
					<div class="content-section__box w-8 type-another0">
						<div class="reoperation-box3__wrap">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number type-another"><span class="content-section__number-wrap">02</span></span>
								Operasi revisi kelopak mata adalah seperti  <br>
								<strong class="color-reoperation5">melepaskan kekusutan benang dengan sekali pengerjaan.</strong>
							</h4>
							<p class="content-section__txt1">
								Terdapat banyak alasan untuk operasi revisi kelopak mata: ketidakpuasan terhadap fungsi mata pasca operasi, bentuk mata, bekas luka yang jelas, atau ikatan simpul yang terlepas, dan masalah tersebut dapat muncul secara bersamaan.
							</p>
							<p class="content-section__txt2 color-white">
								Bahkan pada masalah yang sama, tingkat keparahan dapat berbeda pada masing-masing individu: <br>
								Hal inilah yang membedakan dalam menentukan diagnosis yang akurat sebelum melakukan operasi revisi kelopak mata.
							</p>
						</div>
						<div class="reoperation-box3__img">img</div>
						<div class="reoperation-eye">
							<ul class="reoperation-eye__list">
								<li class="reoperation-eye__item type-before nth-1">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img01.jpg" loading="lazy" alt="수술전">
									</div>
								</li>
								<li class="reoperation-eye__item type-after nth-2">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img02.jpg" loading="lazy" alt="수술후">
									</div>
								</li>
							</ul>
							<ul class="reoperation-eye__list">
								<li class="reoperation-eye__item type-before nth-3">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img03.jpg" loading="lazy" alt="수술전">
									</div>
								</li>
								<li class="reoperation-eye__item type-after nth-4">
									<div class="reoperation-eye__wrap">
										<img src="../../images/reoperation/eye_img04.jpg" loading="lazy" alt="수술후">
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- //reoperation-box3 -->
				<div class="reoperation-box4">
					<p class="reoperation-box4__txt">
						<strong class="color-reoperation5">Setiap faktor harus diperiksa satu persatu </strong>
						- apakah karakteristik mata pada mulanya, prosedur apa yang sudah dikerjakan, apa alasan ketidakpuasan pasien terhadap hasil operasi, bagaimana bentuk mata sekarang, dan bagaimana kondisi kulit sekarang -
						<strong class="color-reoperation5">dan solusi atas permasalahan tersebut harus ditemukan.</strong>
					</p>
				</div>
			</div><!-- //content-section -->
			<div class="content-section">
				<div class="reoperation-box5">
					<h4 class="content-section__tit type-center">
						<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
						<strong>Kelopak mata yang kendur</strong>
					</h4>
					<ul class="line-img">
						<li class="line-img__item nth-1"><img src="../../images/reoperation/line_img01.png" loading="lazy" alt=""></li>
						<li class="line-img__item nth-2"><img src="../../images/reoperation/line_img02.png" loading="lazy" alt=""></li>
					</ul>
					<p class="content-section__txt1">
						Pada tahun-tahun awal dilakukannya operasi pembentukan kelopak mata ganda, lipatan kelopak mata sering terlepas. Namun demikian, teknik operasi sudah dikembangkan, sehingga risiko terlepas sudah tidak ada lagi. Namun jika tampilan kelopak mata ganda menghilang setelah beberapa tahun pasca operasi, maka hal ini menunjukkan adanya suatu kekurangan pada dokter bedah.
						<span class="color-reoperation1">BANOBAGI menggunakan teknik canggih dalam mencegah prosedur setengah matang, dengan pembuatan simpul yang lebih kuat. </span>
					</p>
				</div>
				<p class="caution-para1">
					<span class="inline-block">※ Foto ini dapat terlihat berbeda dengan aslinya, tergantung dari kondisi pemotretan,</span> <br class="hidden-tm">
					<span class="inline-block">dan publikasi foto ini telah mendapat persetujuan pasien.</span>
				</p>
				<div class="line-way">
					<ul class="line-way__list clearfix">
						<li class="line-way__item">
							<h5 class="line-way__tit nth-1">Pengenduran alamiah</h5>
							<p class="line-way__txt">
								Pada kasus tertentu, kelopak mata ganda mengendur dengan sendirinya, yang membutuhkan diskusi dan pengambilan keputusan apakah penggunaan metode pertama harus dilakukan lagi, atau harus menggunakan teknik insisi.
							</p>
						</li>
						<li class="line-way__item">
							<h5 class="line-way__tit nth-2">Keengganan pasien untuk memilih metode insisi</h5>
							<p class="line-way__txt">
								Merupakan hal yang mudah untuk menciptakan bentuk mata sesuai keinginan dengan prosedur komprehensif baru di Banobagi, yaitu pembuatan sudut dalam mata. Sebuah pertimbangan yang fleksibel dengan mempertimbangkan kemungkinan lain, tanpa keharusan membuat kelopak mata ganda.
							</p>
						</li>
					</ul>
				</div>
				<div class="reoperation-brace">
					<div class="brace type-reoperation-eye">
						<p class="brace__txt txt-v4">
							Tujuan akhir dari operasi kelopak mata adalah membentuk mata yang indah dan cocok dengan tampilan pasien:
							<strong class="color-reoperation1">penting untuk tidak terobsesi memiliki kelopak mata ganda dan bisa mempertimbangkan kemungkinan lain.</strong>
						</p>
					</div>

				</div>
			</div><!-- //content-section -->
			<div class="content-section">
				<div class="reoperation-box6">
					<div class="content-section__box w-5 type-another0">
						<h4 class="content-section__tit type-top">
							<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
							Pada kasus kelopak mata asimetris yang parah
						</h4>
						<p class="content-section__txt1">
							Sulit untuk mengevaluasi kelopak mata yang asimetris sebelum lewat masa 6 bulan pasca operasi dan pembengkakan sudah sepenuhnya hilang.
							<span class="content-highlight type-reoperation">
								Bahkan jika asimetris hanya muncul sedikit setelah bengkak hilang, maka operasi revisi tidaklah dibutuhkan.
							</span>
							<br>
							Tubuh manusia pada dasarnya tidaklah simetris sempurna; asimetris minor memang alamiah, dan kelopak mata yang simetris pun dapat terlihat sedikit asimetris karena ada struktur lain sekitar mata.
						</p>
						<p class="content-section__txt2">
							Karena diagnosis kelopak mata asimetris mencakup elemen psikologis, maka sangat penting untuk berkonsultasi dengan spesialis.
							<br>
							Jika operasi revisi kelopak mata benar-benar diharapkan, atau asimetris sangat parah,
							<br class="hidden-pt">
							<span class="color-reoperation1">
								maka koreksi dapat dibuat sesuai tinggi yang diinginkan.
							</span>
						</p>
					</div>
					<div class="reoperation-box6__img">재수술 이미지2</div>
				</div>
			</div><!-- //content-section -->
			<div class="content-section">
				<div class="reoperation-box7">
					<div class="content-section__wrap">
						<div class="content-section__box type-another2 w-7">
							<h4 class="content-section__tit type-top">
								<span class="content-section__number type-another"><span class="content-section__number-wrap">05</span></span>
								<strong>Pembengkakan<br class="hidden-p"> yang<br class="hidden-p"> menetap</strong>
							</h4>
							<p class="content-section__txt1">
								Secara medis, pembengkakan dianggap sudah hilang setelah 6-12 bulan pasca opersi.
								<br class="hidden-m"> Jika pembengkakan tampak tidak alami masih ada setelah periode ini, maka biasanya dikarenakan kesalahan desain kelopak mata ganda. di kasus seperti demikian,
								<span class="color-reoperation1">
									koreksi dapat dilakukan dengan mudah dengan memindahkan dan membuat ulang kelopak mata ganda.
								</span>
							</p>
						</div>
					</div>
				</div>
				<div class="reoperation-box8">
					<div class="reoperation-box8__wrap">
						<h5 class="reoperation-box8__tit">Kasus rumit yang menyebabkan kelopak mata menonjol keluar</h5>
						<p class="reoperation-box8__txt">
							Beberapa pasien dapat mengalami pembengkakan hebat sampai kelopak mata menonjol keluar. Hal ini biasa dikarenakan kurangnya kekuatan otot di kelopak mata, sehingga setengah bagian kelopak akan turun dan tidak dapat dinaikkan dengan sempurna.
							Beberapa tahun silam, koreksi hal ini dilakukan dengan metode insisi dan pasien yang ingin menjalani metode insisi; namun jika pasien tidak mau diinsisi, makan operasi revisi akan dilakukan tanpa menjanjikan perbaikan dari penonjolan kelopak mata.
							<br>
							<span class="content-highlight type-reoperation2">Bagaimanapun juga BANOBAGI juga menawarkan koreksi kelopak mata tanpa insisi, untuk hasil yang lebih alami dan aman.  </span>
						</p>
					</div>
				</div>
			</div>
	  	</div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
