<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-special">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Keuntungan dari Filler semi permanen</p>
				<h3 class="content-visual__tit"># <span class="color-special16">Artecoll</span> <span class="inline-block">Filler semi permanen</span></h3>
				<p class="content-visual__txt2">Institusi medis resmi yang ditunjuk untuk Artecoll</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
			<div class="artecoll-box1">
				<div class="content-section type-first">
					<div class="content-section__wrap type-special1">
						<div class="content-section__box w-6 type-another2">
							<h4 class="content-section__tit type-top">
								<span class="content-section__number type-another"><span class="content-section__number-wrap">01</span></span>
								Filler semi permanen,
								<strong class="content-highlight2 type-special">Artecoll </strong>
								adalah jawabannya
							</h4>
							<p class="content-section__txt1 type-info">
								Filler semi permanen adalah Filler yang bertahan lebih lama daripada Filler berbahan asam hialuronat konvensional (Hyaluronice Acid). Tidak seperti penyuntikan Filler Hyaluronice Acid, prosedur penyuntikan Filler Artecoll jauh lebih mudah & pemakaiannya bertahan lebih lama. Oleh karena itu, ini menjadi pilihan ideal bagi mereka yang tidak menginginkan prosedur operasi lainnya, atau mereka yang sudah pernah menjalani penyuntikan Filler di masa lampau. Terdapat berbagai merek Filler semi permanen, namun Artecoll merepresentasikan sebuah produk dengan sejarah terpanjang diantara semuanya. Sejak produksinya di 1994, Artecoll berusaha terus menjadi yang paling aman dan efektif dibandingkan produk sekelasnya melalui penelitian dan pengembangan klinis (dikenal juga secara lokal denegration nama Artesense) Alasan Artecoll menjadi sangat ternama adalah keamanannya. Beberapa pasien dapat mengalami reaksi penolakan terhadap Filler lain di tubuh. Hal ini tidak terjadi pada Artecoll karena ia tidak terpecah di dalam tubuh. Selama 8 tahun pengalaman Banobagi bersama Artec oll, pasien merasakan hasil yang lebih memuaskan dibandingkan Filler berbahan asam hialuronat lainnya.
								<span class="content-section__info pop-info">
									<a href="" class="info-btn js-info">
										<span class="info-btn__icon type-special">info-button</span>
										PMMA
										<span class="info-desc type-special">
										<span class="info-desc__item">
											<span class="info-desc__box">
												<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>Apa itu PMMA?</strong><br class="hidden-tm"></span>
												<span class="info-desc__content">
													<span class="info-desc__txt1">
														PMMA yang terdiri dari partikel mikro adalah elemen aman yang memenuhi syarat setelah pemeriksaan klinis selama 60 tahun dan peningkatan yang stabil. PMMA menghasilkan semi-permanen kolagen autogenous dengan merangsang jaringan sekitarnya di kulit
													 </span>
												</span>
											</span>
											<button class="info-desc__btn js-close">
												<span class="info-desc__stick type-left"></span>
												<span class="info-desc__stick type-another"></span>
												Tutup
											</button>
										</span>
									</span>
								  </a>
				  				</span>
								<strong class="content-highlight type-special">
									Alasan utama mengapa Banobagi memilih Artecoll adalah keamanannya dan efek positif produk yang telah dikonfirmasi melalui berbagai percobaan klinis.
								</strong>
							</p>
						</div>
						<div class="content-section__box w-5">
							<div class="content-section__img type-special1">
								<img src="../../images/special/special_artecoll_img02.png" loading="lazy" alt="">
							</div>
						</div>
					</div><!-- //content-section__wrap-->
					<div class="content-section__wrap">
						<div class="content-section__box w-9">
							<div class="pmma">
								<h5 class="pmma__tit">* Komponen<span class="color-special13">Artecoll</span></h5>
								<ul class="pmma__list">
									<li class="pmma__item nth-1">
										<p class="pmma__txt">Generasi 1</p>
									</li>
									<li class="pmma__item nth-2">
										<p class="pmma__txt">Generasi 2</p>
									</li>
									<li class="pmma__item nth-3">
										<p class="pmma__txt">Generasi 3</p>
									</li>
									<li class="pmma__item nth-4">
										<p class="pmma__txt">Generasi 4</p>
									</li>
								</ul>
							</div><!-- //pmma-->
						</div>
						<div class="content-section__box w-3">
							<div class="pmma-info">
								<h6 class="pmma-info__tit">Karakteristik dari PMMA generasi 4</h6>
								<ul class="pmma-info__list">
									<li class="pmma-info__item txt-v2">ukuran partikel 32-40 nanometer</li>
									<li class="pmma-info__item txt-v2">struktur yang tidak statis</li>
									<li class="pmma-info__item txt-v2">partikel berbentuk bola yang sangat halus</li>
									<li class="pmma-info__item txt-v2">tidak aktif dan terpecah di dalam tubuh </li>
								</ul>
							</div>
						</div>
					</div>
					<div class="pmma-noti">
						<p class="pmma-noti__txt">
							<strong>PMMA</strong>
							merupakan bahan yang sangat stabil di dalam tubuh karena ia tidak terpecah atau menyebar di area sekitar, dan termasuk memiliki peringkat tertinggi dalam kecocokannya dalam sel tubuh karena stabilitas
						</p>
					</div>
				</div>
			</div>
			<!-- //content-section -->
			<div class="artecoll-box2">
				<div class="content-section">
					<div class="content-section__wrap type-special1">
						<div class="content-section__box w-6">
							<div class="content-section__img type-special2 hidden-tm">
								<img src="../../images/special/special_artecoll_img03.jpg" loading="lazy" alt="">
							</div>
						</div>
						<div class="content-section__box w-5 type-another2 type-bottom">
							<h4 class="content-section__tit type-top">
								<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
								<strong class="content-highlight2 type-special">Keamanan</strong>
								Artecoll<br> dan kesempurnaan Banobagi telah dibuktikan oleh angka
							</h4>

							<div class="content-section__img hidden-p">
								<img src="../../images/special/special_artecoll_img03.jpg" loading="lazy" alt="">
							</div>
							<p class="content-section__txt1">
							<span class="brackets__wrap type-artecoll-m">
								<span class="content-section__point type-special">20 tahun </span> of clinical research, <br class="hidden-t">
								penelitian klinis dan diakui oleh lebih dari <span class="content-section__point type-special">40 negara</span>
							</span>
								<br>
								Artecoll pertama diperkenalkan ke industri pada tahun 1994 dan melalui banyak percobaan klinis selama 20 tahun, Artecoll telah menjadi lebih aman, lebih baik, dan filler yang lebih diandalkan dengan elemen serta bahan yang lebih baik. Artecoll merupakan satu-satunya filler yang digunakan di Korea yang telah melalui 20 tahun uji klinis. Keamanannya juga telah diakui di lebih dari 40 negara di dunia. Sertifikasi CE se-Eropa, termasuk pengakuan dari Kanada, Cina, Mexico, dan Korean KFDA.
							</p>
						</div>
					</div><!-- //content-section__wrap-->
					<div class="content-section__wrap">
						<div class="content-section__box w-11">
							<div class="content-section__img type-special3">
								<img src="../../images/special/special_artecoll_img04.jpg" loading="lazy" alt="">
							</div>
							<p class="content-section__txt1 type-another">
								<span class="brackets__wrap"><span class="content-section__point type-special">1 juta </span>pengalaman masyarakat</span>
								Lebih dari 1 juta orang sedunia telah menerima injeksi filler Artecoll selama 20 tahun ini dan perawatan pasien menunjukkan hasil yang baik, kepercayaan, kualitas, dan keamanan yang baik dari Artecoll.<br>
								<span class="brackets__wrap type-another">Para ahli dengan pengalaman <span class="content-section__point type-special">lebih dari 10 tahun,</span>hanya tersedia di
								<br class="hidden-pt"> <span class="content-section__point type-special">11 rumah sakit </span> di Korea</span>
								Pernyataan bahwa Artecoll merupakan bahan yang aman, bergantung pada keterampilan dokter yang melakukan prosedur. Manufaktur Belanda EMCM, sang pembuat Artecoll, terkenal dengan proses pengujian yang teliti pada produk-produk yang dikembangkannya. Selain itu, investigasi yang menyeluruh diikuti keterampilan dan dokter dan rumah sakit diperlukan dalam menunjang pemakaian produk. Proses penyuntikan Artecoll membutuhkan dokter yang berpengalaman lebih dari 10 tahun dalam injeksi filler, dan di Korea, hanya 11 rumah sakit yang bersertifikat untuk mengggunakan Artecoll.
							</p>
						</div>
					</div>
					<div class="content-section__wrap">
						<div class="content-section__box w-5">
							<div class="content-section__img type-special4">
								<img src="../../images/special/special_artecoll_img05.jpg" loading="lazy" alt="">
							</div>
						</div>
						<div class="content-section__box w-6 type-another3">
							<div class="quotation2 type-special">
								<p class="quotation2__txt tit-v3">Pertama  dengan Pemakaian <strong class="color-special14">20,000</strong> injeksi di Korea</p>
							</div>
							<p class="content-section__txt1">
								Artecoll pertama digunakan di Banobagi 8 tahun lalu. Kami selalu meyakinkan para pasien bahwa Artecoll sangat direkomendasi karena keamanannya sejak pertama diperkenalkan di Korea, dan pasien yang telah menggunakannya setidaknya sekali, telah kembali untuk menggunakannya lagi. Oleh karena itu,
								<strong class="content-highlight type-special">Banobagi dikenal sebagai salah satu rumah sakit yang paling sering melakukan prosedur injeksi Artecoll di korea dan lokasi lain.</strong>
							</p>
						</div>
					</div>
					<div class="content-section__wrap hidden-m type-short">
						<div class="content-section__box w-12">
							<div class="content-section__img type-special5">
								<img src="../../images/special/special_artecoll_img06.jpg" loading="lazy" alt="" class="hidden-tm">
								<img src="../../images/special/special_artecoll_img06_t.jpg" loading="lazy" alt="" class="hidden-pm">
							</div>
						</div>
					</div>
					<div class="content-section__wrap">
						<div class="content-section__box w-5 type-another3">
							<div class="quotation2">
								<p class="quotation2__txt tit-v3">Kecantikan <strong class="color-special14">yang bertahan 10 tahun</strong></p>
							</div>
						</div>
						<div class="content-section__box w-6 type-another2">
							<p class="content-section__txt1 type-0">
								Penggunaan Artecoll merupakan prosedur yang relatif sederhana dengan pembiusan lokal yang dioleskan di permukaan kulit sesaat sebelum prosedur. Prosedur ini hanya berdurasi 10 menit, namun <strong class="content-highlight type-special">hasil kecantikan Artecoll bertahan hingga 10 tahun.</strong>
							</p>
						</div>
						<div class="age">
							<ul class="age__list">
								<li class="age__item nth-1">
									<p class="age__txt">3 bulan</p>
								</li>
								<li class="age__item nth-2">
									<p class="age__txt">1 tahun</p>
								</li>
								<li class="age__item nth-3">
									<p class="age__txt">10 tahun</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- //content-section -->

			</div>
			<div class="artecoll-box3">
				<div class="content-section">
					<div class="content-section__wrap type-special1">
						<div class="content-section__box w-7">
							<div class="content-section__img type-special6 hidden-tm">
								<img src="../../images/special/special_artecoll_img07.jpg" loading="lazy" alt="">
							</div>
						</div>
						<div class="content-section__box w-4 type-bottom">
							<h4 class="content-section__tit type-top">
								<span class="content-section__number type-0"><span class="content-section__number-wrap">03</span></span>
								<strong class="content-highlight4 type-special">Kecantikan alami melalui </strong>
								proses koreksi dengan prosedur sederhana
							</h4>
						</div>
						<div class="content-section__img type-special6 hidden-p">
							<img src="../../images/special/special_artecoll_img07.jpg" loading="lazy" alt="아테콜모델이미지">
						</div>
					</div><!-- //content-section__wrap-->
					<div class="artecoll">
						<h5 class="artecoll__tit tit-v3"><span class="color-special15">Dua cara</span> efektif merawat filler Artecoll</h5>
						<ul class="artecoll__list">
							<li class="artecoll__item">
								<h6 class="artecoll__subject nth-1">Bagaimana membuat tampilan wajah keseluruhan tampak lebih muda dan segar?</h6>
								<p class="artecoll__txt txt-v3">
									Artecoll mengandung komponen utama kolagen dari lembu muda Australia. Karena kolagen ini dikenal akan keamanan dan kualitasnya yang tinggi, pasien akan merasakan perbedaan dan hasil yang bertahan lama. Hal yang diperhatikan adalah keseimbangan wajah terutama pada daerah penuaan dan keriput, rasa nyaman kulit wajah secara keseluruhan, tampilan wajah yang lebih muda, kencang, dan sehat.
								</p>
							</li>
							<li class="artecoll__item">
								<h6 class="artecoll__subject nth-2">Bagaimana memperbaiki kontur wajah tanpa menggunakan implan?</h6>
								<p class="artecoll__txt txt-v3">
									Artecoll merupakan bahan substitusi implan yang sangat baik, dalam mengoreksi bentuk dahi, tulang hidung, dagu, dan atau ujung dagu. Jika Anda tidak menginginkan prosedur pemasangan implan, maka Artecoll sangat direkomendasikan sebagai alternatif Anda.
								</p>
							</li>
						</ul>
					</div>
				</div><!-- //content-section -->
			</div>
			<div class="artecoll-box4">
				<div class="content-section">
					<div class="content-section__wrap type-special1">
						<div class="content-section__box w-12 type-another2">
							<h4 class="content-section__tit type-left">
								<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
								Perawatan 10 menit menciptakan kecantikan <strong class="content-highlight2 type-special">10 tahun</strong><br class="hidden-p">
							</h4>
							<p class="content-section__txt1 type-another">
								<span class="content-section__point"><span class="color-special14">Sertifikat keaslian yang asli</span> akan dikeluarkan.</span><br>
								Di Banobagi, sertifikat resmi Artecoll dari institusi medis, kami tunjukkan untuk meyakinkan penggunaan dan keaslian produk sebelum prosedur, dan setelah prosedur, sertifikat keaslian ini akan diberikan kepada Anda.
							</p>
						</div>
					</div>
				</div><!-- //content-section -->
			</div>

			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-special type-four">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Informasi Operasi</h4>
							<!-- <p class="operation-v2__subtit">Perawatan Artecoll selama 10 menit akan mempertahankan kecantikan selama 10 tahun</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
										<p class="operation-v2__txt txt-new1"> ± 10 menit</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
										<p class="operation-v2__txt txt-new1">Anestesi Lokal</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
										<p class="operation-v2__txt txt-new1">Tdk diperlukan</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
										<p class="operation-v2__txt txt-new1">Aktifitas sehari2 dpt dilakukan lbh cepat</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-special">
								<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 1){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Anda mungkin merasakan seperti cubitan saat injeksi dilakukan.<br>
									Anda mungkin merasakan kaku atau tidak nyaman saat Artecoll diinjeksi ke bawah kulit, tergantung jumlah Artecoll yang dimasukkan.<br>
									Selama proses injeksi Artecoll, wajar jika Anda merasakan sedikit kesemutan atau tidak nyaman, yang akan membaik sendiri seiring berjalannya waktu.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
									<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
								</div>
								<!-- <a href="https://www.banobagi.com/upload/knowledge/contour.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
