<%
	type = "content"
	page = "special"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-design">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Volume yang lebih berisi dengan prosedur yang cepat</p>
				<h3 class="content-visual__tit"><span class="color-special16">#</span> Desain filler</h3>
				<p class="content-visual__txt2">
					<span class="content-visual__bg">Kesan mempesona dari keharmonisan keseluruhan</span>
				</p>
			</div>
		</div>
    </div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
          	<div class="content-section type-first">
            	<div class="design-box1">
	              	<div class="design-box1__box type-txt">
	                	<h4 class="content-section__tit type-top">
	                  		<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	                  		Penggunaan secara utuh dan merata, keutungan tersembunyi dari proses <strong class="content-highlight2 type-special">injeksi filler</strong>
	                	</h4>
	                	<p class="content-section__txt1">
	                  		Secara umum, injeksi filler dikenal sebagai prosedur yang relative sederhana yang dapat menambahkan volume yang diperlukan pada wajah. Karena ini merupakan injeksi sederhana, nyeri dan waktu pemulihan bukanlah permasalahan, dan hasilnya pun terasa dalam waktu yang singkat. Selain itu, karena pengisinya dapat diserap secara alami oleh tubuh dalam jangka waktu lama. Injeksi filler menjadi alternatif yang baik bagi pasien yang kurang yakin dengan operasi.<br><br>
	                  		<span class="content-section__exp">Bagaimanapun juga,</span> keuntungan injeksi filler tidak hanya memberikan volume. Filler mengembangkan jaringan lunak yang dapat mencegah kerutan atau pembentukan jaringan parut, tapi ia juga dapat mengatasi berbagai masalah kulit lain seperti luka bakan atau tanda lahir. Bahan yang mengandung banyak air dapat berfungsi sebagai pelembab semua tipe kulit, sambil menstimulasi kolagen dan zat elastin untuk menciptakan kondisi kulit yang lebih kencang dan berkilau. <br><br>
	                  		Banobagi sangat mengerti dan mendayagunakan manfaat tersembunyi tersebut dalam injeksi filler
	                	</p>
	                	<div class="design-box1__img">
	                  		Design-filler Image
	                	</div>
	                	<div class="merit">
	                  		<div class="merit__wrap">
	                    		<h5 class="merit__tit">Keuntungan Injeksi<br><span>Filler Banobagi</span></h5>
	                    		<ul class="merit__list">
	                      			<li class="merit__item txt-v5">hasil yang lebih cepat</li>
	                      			<li class="merit__item txt-v5">mengatasi kerutan dan jaringan parut</li>
	                      			<li class="merit__item txt-v5">perubahan penampilan secara keseluruhan</li>
	                      			<li class="merit__item txt-v5">Volume kulit</li>
	                      			<li class="merit__item txt-v5">prosedur yang tidak perlu dikhawatirkan</li>
				                    <li class="merit__item txt-v5">kelembapan dan elastisitas yang lebih baik</li>
	                    		</ul>
	                  		</div>
	                	</div>
	              	</div>
	              	<div class="design-box1__box type-img">
	                	<img src="../../images/special/special_design_img02.png" loading="lazy" alt="Hasil yang lebih cepat - Kekhawatiran minimal - Volume kulit">
	              	</div>
            	</div><!-- //design-box1-->
	            <div class="design-box2">
	              	<div class="design-box2__img">
	                	Design-filler Image
	              	</div>
	              	<div class="design-box2__box">
	                	<h4 class="content-section__tit type-top">
	                  		<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	                  		Filler dengan desain bertujuan untuk <br>
	                  		<span class="content-highlight">memperbaiki tampilan<br> secara keseluruhan</span>
	                	</h4>
	                	<p class="content-section__txt1">
	                  		Banobagi menawarkan perawatan filler dengan desain, yang dapat mengubah bentuk wajah Anda secara keseluruhan. <br><br>
		                 	Wajah kita memberikan kesan yang besar bahkan hanya dari perubahan kecil. Hal ini disebabkan oleh keseimbangan dan keharmonisan saat ada perubahan di suatu hal kecil. Oleh karena itu, prosedur kecantikan wajah dapat menghasilkan perubahan yang sangat besar dan memuaskan dan secara bersamaan menjaga keseimbangan umum. Dengan kata laim, Injeksi filler di beberapa lokasi wajah sekali waktu dirasakan lebih efektif dibanding injeksi hanya pada 1 lokasi. Hal ini memanfaatkan keuntungan dari sifat injeksi filler yang memperbolehkan dokter bedah untuk melihat hasil  secara langsung dalam satu prosedur. Sisi wajah tampak samping, yang sering disebut sebagai “profile“ wajah (yaitu lekukan dari dahi sampai dagu), dapat diperbaiki dengan koreksi kecil dari pengisian filler dengan desain di Banobagi, yang akan menghasilkan siluet wajah yang lebih mempesona.
	                	</p>
	              	</div>
	            </div>
	            <div class="design-box3">
	              	<div class="design-box3__wrap">
	                	<p class="design-box3__txt">Perbaikan tampilan secara keseluruhan melalui injeksi filler yang mempertahankan keharmonisan wajah</p>
	              	</div>
	            </div><!-- //design-box3 -->
	            <div class="design-box4">
	              	<div class="content-section">
	                	<h4 class="content-section__tit type-center">
	                  		<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
	                  		<span class="content-highlight4">Kepuasan</span> yang lebih besar diperoleh dari <strong class="content-highlight2 type-special">keterampilan </strong> dan pengetahuan ahli tentang injeksi filler
	                	</h4>
	                	<div class="design-box4__box">
	                  		<div class="design-box4__wrap">
	                    		<div class="design-box4__img">Design-filler - Image</div>
	                    		<div class="design-vertical">
	                      			<p class="design-vertical__tit"><span>#</span>FILLER</p>
	                      			<p class="design-vertical__txt">Jumlah yang sama, dapat digunakan<br><span>untuk hasil yang berbeda</span></p>
	                    		</div>
	                  		</div>
	                  		<p class="design-box4__tit txt-v5">Injeksi filler telah memberikan hasil yang dramatis tergantung dari keterampilan dokter bedah. </p>
	                  		<p class="design-box4__txt txt-v5">
	                    		Bahkan dengan jumlah pengisi yang sama di area tertentu, hasil yang diperoleh bisa berbeda tergantung dengan bagaimana pengisi digunakan. Filler yang diinjeksikan secara tipis dan melebar, akan menonjolkan permukaan lembut; sedangkan injeksi berlapis terkonsentrasi akan memberikan bentuk yang tajam pada wajah seseorang. Oleh karena itu, sangatlah penting untuk menjalankan injeksi filler oleh seorang dokter spesialis yang mengerti betul sifat filler dan memiliki keterampilan tinggi untuk melakukan injeksi.
	                  		</p>
	                	</div>
	              	</div>
	            </div><!-- //design-box4-->
	            <div class="design-box5">
	             	<div class="design-box5__border">
	                	<h5 class="design-box5__tit tit-v2">
	                  		Banobagi merancangkan <span class="design-box5__point">siluet wajah seseorang secara khusus dan cantik </span> melalui <span class="design-box5__point">konsultasi perorangan
					  		</span><br class="hidden-tm"> dan pengalaman Panjang seputar injeksi filler.
	                	</h5>
		                <p class="design-box5__txt txt-v5">
							Komponen wajah seseorang diperiksa secara terperinci, untuk kemudian dibuat penyesuaian mendetail yang diperlukan melalui prosedur yang sensitif.
							Berdasarkan pengertian akan berbagai organ pada wajah dan lapisan kuilt wajah, disertai keahlian penggunaan filler untuk hasil yang maksimal, kami akan mentransformasi tampilan pasien menjadi berbeda dan memukau.
		                </p>
	              	</div>
	            </div><!-- //design-box5-->
	            <div class="design-box6">
	              	<div class="content-section">
	                	<div class="design-box6__wrap">
	                  		<h4 class="content-section__tit type-left">
	                    		<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
	                    		<strong class="content-highlight">Prosedur sederhana </strong> masih memerlukan perhatian khusus
	                 	 	</h4>
	                  		<p class="content-section__txt1">
	                    		Injeksi filler dikenal sebagai prosedur yang mudah dan aman. Namun demikian, selama operasi dilakukan oleh manusia, kewaspadaan harus tetap dijaga. Terdapat beberapa kasus yang memiliki efek samping (reaksi alergi, nekrosis jaringan, dan lainnya), yang walaupun sangat jarang, merupakan tanggung jawab klinik untuk siap bila terjadinya hal langka tersebut.<br><br>
	                    		<span class="content-section__rel">
									<span class="content-section__exp">BANOBAGI</span>
									melakukan tes alergi menyeluruh sebelumnya dan dilengkapi dengan tindakan pencegahan terhadap nekrosis kulit seperti
									<span class="content-section__info pop-info">
									  	<a href="" class="info-btn js-info">
											<span class="info-btn__icon type-design">Info button</span>
											sistem perawatan oksigen hiperbarik.
											<span class="info-desc type-design">
												<span class="info-desc__item">
													<span class="info-desc__box">
														<span class="info-desc__tit"><span class="info-desc__icon"></span>Terapi Oksigen Tekanan Tinggi<br class="hidden-tm"></span>
														<span class="info-desc__content">
															<img src="../../images/special/special_design_layer1-m.jpg" loading="lazy" alt="High Pressure Oxygen Therapy Image" class="info-desc__thumb">
															<span class="info-desc__txt1">
	                                                    		Alat terapi oksigen bertekanan tinggi adalah alat medis yang meningkatkan konsentrasi oksigen untuk meningkatkan oksigen yg lepas dr dalam tubuh. Dikarenakan oksigen terlarut berukuran kecil dalam ukuran molekul dan dikirim ke ujung pembuluh kapilaris, oksigen meningkatkan regenerasi sel yang sangat baik dan membuang kotoran tubuh. Oleh karena itu, oksigen dapat memulihkan jaringan yang rusak dengan cepat dan efektif untuk mengontrol kondisi fisik seperti peningkatan metabolisme dan pemulihan kekuatan fisik.
													 		</span>
														</span>
													</span>
													<button class="info-desc__btn js-close">
														<span class="info-desc__stick type-left"></span>
														<span class="info-desc__stick type-another"></span>
														Tutup
													</button>
												</span>
											</span>
										</a>
									</span>
									Kami juga hanya menggunakan filler merek asli yang disetujui FDA yang tidak berbahaya bagi tubuh manusia dan karena staf kami sangat berpengalaman, kami yakin akan keefektifan dan keamanan prosedur kami.
								</span>
	                  		</p>
	                	</div>
	                	<div class="design-box6__img">Design-filler Image</div>
		                <div class="design-box6__wrap type-another">
		                  	<ul class="design-box6__list">
		                    	<li class="design-box6__item nth-1">
		                      		<div class="design-box6__border">
		                        		<div class="design-box6__box">
		                          			<p class="design-box6__txt">Tes reaksi alergi</p>
		                        		</div>
		                      		</div>
		                    	</li>
		                    	<li class="design-box6__item nth-2">
		                      		<div class="design-box6__border">
		                        		<div class="design-box6__box">
		                         	 		<p class="design-box6__txt">Bahan filler asli</p>
		                        		</div>
		                      		</div>
		                    	</li>
		                    	<li class="design-box6__item nth-3">
		                      		<div class="design-box6__border">
		                        		<div class="design-box6__box">
		                          			<p class="design-box6__txt">Sistem penanganan kegawatdaruratan</p>
		                        		</div>
		                      		</div>
		                    	</li>
		                  	</ul>
		                </div>
	            	</div>
	        	</div><!-- //design-box6-->

				<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-special type-four">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Informasi Operasi</h4>
								<!-- <p class="operation-v2__subtit">Hasil yang lebih cepat dan volume yang lebih alamiah</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
											<p class="operation-v2__txt txt-new1">± 10 menit</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
											<p class="operation-v2__txt txt-new1">Anestesi Lokal</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
											<p class="operation-v2__txt txt-new1">Tdk diperlukan</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
											<p class="operation-v2__txt txt-new1">Aktifitas sehari2 dpt dilakukan lbh cepat</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-special">
									<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										Mungkin akan ada rasa seperti dicubil saat diinjeksi.<br>
										Tergantung dari jumlah pengisi yang digunakan, pasien mungkin merasa seperti kulit tertarik dan agak sakit.<br>
										Rasa baal mungkin muncul selama proses injeksi dan pembentukan filler, yang akan hilang seiring berjalannya waktu.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
										<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>
				</div>
    		</div>
		</div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->
<% include ../_include/_footer %>
