<%
	type = "detail"
	page = "special"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="special detail-common">
	<section class="fs_section specialFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-special">
					Sebuah Variasi pilihan, Operasi plastik yang dibutuhkan seseorang
				</p>
				<h3 class="detail__first-txt type-special">
					<strong class="detail__first-point">Meminimalisir kecemasan pasien</strong><br>
					<span class="color-special3">Detail dari Operasi Bedah plastik Banobagi</span>
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Selanjutnya</em>
		</div>
	</section>

	<section class="fs_section specialSection01" data-section-name="specialSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-special">
					<h4 class="detail__section-tit">
						Injeksi Filler, <br>
						<strong class="color-special4">Metode</strong> Banobagi
					</h4>
					<p class="detail__section-subtit">Profesionalisme dan keahlian untuk meningkatkan kepuasan pasien</p>
					<p class="detail__section-txt">
						Menempatkan atau menyuntikan Filler merupakan prosedur yang relatif sederhana namun hasilnya tergantung dari Ahli yang mengerjakannya.
						<span class="color-special5"> Banobagi memiliki tim spesialis yang ahli dan mengerti benar kondisi kulit pasien, pergerakan otot wajah, dan karakteristik filler saat akan memasukkannya dalam tubuh.</span> Oleh karena itu, pengalaman dan pengetahuan perawatan serta teknik kami membawa kepuasan bagi pasien.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section specialSection02" data-section-name="specialSection02">
		<div class="detail__inner type-full">
			<div class="detail__popup type-special">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">Keabsahan desain oleh institusi medis Artecoll</h5>
					<div class="popup-img">
						<div class="popup-img__box">Image officially approved by Artecoll</div>
						<p class="popup-img__txt">
							<strong class="color-special7">Artecoll</strong> merupakan filler semi permanen, yang telah digunakkan lebih dari jutaan kasus di seluruh dunia selama lebih dari 20 tahun
						</p>
					</div>
					<a href="" class="detail__popup-close js-popup-close">Tutup</a>
				</div>
			</div>
			<div class="detail__section-wrap type-special">
				<div class="detail__vertical">
					<div class="detail__section-box type-special type-wide type-quotation2">
						<h4 class="detail__section-tit">
							Injeksi Filler<br>
							Banobagi dapat<br>
							<strong class="color-special4">diandalkan</strong>
						</h4>
						<p class="detail__section-subtit">Artecol filler yang didesain secara resmi oleh institusi medis</p>
						<p class="detail__section-txt">
							Artecoll, jenis filler yang semi permanen, dimana produk disimpan di dalam tubuh untuk periode tertentu, <span class="color-special5">harus didesain di Rumah sakit dan dilakukan oleh spesialis yang terlatih.</span>Banobagi merupakan institusi medis resmi yang dipercaya oleh Artecoll.<span class="color-special5">Banobagi merupakan institusi medis resmi yang dipercaya oleh Artecoll. </span> Di Banobagi, kami bekerja secara aman, berpengalaman, dan mengusahakan kecantikan yang bertahan lama!
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="detail__section-bottom type-special">
			<div class="detail__section-set">
				Artecoll didesain secara <br class="hidden-pt"> resmi di institusi medis
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-special">pop-up button</a></span>
			</div>
		</div>
	</section>

	<section class="fs_section specialSection03" data-section-name="specialSection03">
		<div class="detail__inner">
				<div class="detail__vertical">
					<div class="detail__section-box type-wide type-special">
						<h4 class="detail__section-tit">
							Bedah plastik khusus<br>
							Banobagi mengerti<br>
							<span class="color-special7">kekhawatiran</span> Anda
						</h4>
						<p class="detail__section-subtit">Mengejar perbaikan di berbagai bidang</p>
						<p class="detail__section-txt">
							Tidak seperti prosedur operasi untuk kecantikan yang dilakukan pada mata, hidung, atau wajah, operasi bedah plastik sering ditujukan untuk membantu seseorang untuk memperbaiki penampilannya dari aspek bawaan lahir, kecacatan / kerusakan pasca kecelakaan. Teknik dan keterampilan profesional di Banobagi membantu pasien meningkatkan keprcayaan diri & penampilan mereka, terlepas alasan mereka melakukannya.
						</p>
					</div>
				<!-- layer-doc5 -->
				<div class="layer-doc5 type-special">
					<ul class="layer-doc5__list">
						<li class="layer-doc5__item nth-1">
							<div class="layer-doc5__wrap">
								<h5 class="layer-doc5__tit"><span class="layer-doc5__tit-wrap">Pembentukan daun telinga</span></h5>
							</div>
						</li>
						<li class="layer-doc5__item nth-2">
							<div class="layer-doc5__wrap">
								<h5 class="layer-doc5__tit"><span class="layer-doc5__tit-wrap">Pembentukan tulang tengkorak</span></h5>
							</div>
						</li>
						<li class="layer-doc5__item nth-3">
							<div class="layer-doc5__wrap">
								<h5 class="layer-doc5__tit"><span class="layer-doc5__tit-wrap">Operasi bibir sumbing</span></h5>
							</div>
						</li>
					</ul>
				</div>
				<!-- //layer-doc5 -->
				</div>
		</div>
	</section>

	<section class="fs_section specialSection04" data-section-name="specialSection04">
		<div class="detail__inner type-full">
			<div class="detail__section-wrap type-special type-another">
				<div class="detail__vertical">
					<div class="detail__section-box type-wide type-right type-special type-quotation2">
						<h4 class="detail__section-tit">
							Operasi bedah plastik khusus, <br>
							Banobagi sudah <br>
							<strong class="color-special8">berpengalaman!</strong>
						</h4>
  						<p class="detail__section-subtit">Alasan Banobagi menantang berbagai kasus operasi yang paling sulit</p>
  						<p class="detail__section-txt">
							Banyak rumah sakit yang dapat mengerjakan operasi kecantikan. Walau demikian, tidak banyak rumah sakit yang berpaku pada bedah plastik dengan prinsip-prinsip dasarnya. <span class="color-special9">Tim Banobagi yang terdiri dari para dokter yang ahli di bidangnya meneliti berbagai kasus dan mampu mengerjakan kasus-kasus sulit yang tidak mau dikerjakan oleh dokter lain pada umumnya.</span> Kami secara terus menerus belajar dan menyempurnakan prosedur sehingga menjadi yang terbaik dan terpercaya di bidang ini. Filosofi utama Banobagi adalah meningkatkan kualitas hidup pasien, dan mempertahankan kepuasan di level tertinggi yang mungkin dicapai.
  						</p>
  					</div>
				</div>
			</div>
			<p class="detail__bottom-txt type-special">
				<strong>Perawatan luka dengan<br class="hidden-pt"> SVF</strong><br class="hidden-m"> (kasus nyata perawatan <br class="hidden-pt">pasca luka bakar)
			</p>
		</div>
	</section>

	<section class="fs_section specialSection05" data-section-name="specialSection05">
		<div class="detail__inner type-full">
			<div class="detail__popup type-special">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">Sistem Pemeriksaan Medis yang Khusus<span class="color-special6">.</span></h5>
					<div class="detail__popup-scroll">
						<div class="popup-system">
							<ul class="popup-system__list">
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Pemeriksaan kesehatan dasar</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Analisis Darah</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Pemeriksaan kanker</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Tes Logam Berat</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Ultrasonografi (USG)</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Test tekanan stress</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">XRAY (RONTGEN)</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Pengamatan 3D CT</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Tes Temporo-mandibula-junction</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Tes rekam jantung</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Tes Kepadatan tulang</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Analisis urin</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Analisis fungsi ginjal</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Analisis fungsi hati</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Analisis gula darah / diabetes</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Tes fungsi jantung</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Tes fungsi jantung</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Pemeriksaan otot dan tulang</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Tes fungsi tiroid</h6>
									</div>
								</li>
								<li class="popup-system__item">
									<div class="popup-system__wrap">
										<h6 class="popup-system__tit">Pemeriksaan penyakit menular</h6>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<a href="" class="detail__popup-close js-popup-close">Tutup</a>
				</div>
			</div>
			<div class="detail__section-wrap type-special type-another2">
				<div class="detail__vertical">
					<div class="detail__section-box type-wide type-right type-special type-quotation2">
						<h4 class="detail__section-tit">
							Operasi bedah plastik khusus,<br>
							Banobagi mengerjakannya dengan<br>
							terperinci
						</h4>
						<p class="detail__section-subtit">Filosofi medis yang berperikemanusiaan,<br class="hidden-pt"> Pemeriksaan medis yang komprehensif</p>
						<p class="detail__section-txt">
							Peduli pada kesehatan dan keberadaan pasien merupakan tanggung jawab semua Rumah sakit. Berdasarkan pada filosofi tersebut, Banobagi menyediakan
							<span class="color-special10">pemeriksaan medis yang khusus, komprehensif</span>, dan spesial bagi setiap pasien.<span class="color-special10">Mulai dari pemeriksaan dasar sampai pada pemeriksaan mendetail dari tulang, kulit, darah, jaringan, berbagai jenis penyakit, kami memeriksa setiap kondisi pasien sebelum operasi </span>guna menjamin keamanan prosedur operasi.
						</p>
					</div>
				</div>
			</div>
			</div>
		<div class="detail__section-bottom type-special">
			<div class="detail__section-set">
				Sistem pemeriksaan medis<br class="hidden-pt"> yang khusus dan komprehensif
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-special" data-popup-type="footer">pop-up button</a></span>
			</div>
		</div>
	</section>
</div>
 <!-- //Content -->

<% include ../_include/_footer %>
