<%
	type = "main"
	page = "main"
%>
<% include ../_include/_header %>

<div class="intro nth-1">
	<div class="intro-video">
		<iframe src="https://player.vimeo.com/video/347459599?muted=1&amp;autoplay=1" class="intro-video__iframe" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" data-ready="true"></iframe>
	</div>
	<div class="intro__bg"></div>
	 <!-- sns -->
	<ul class="intro-sns">
		<li class="intro-sns__item">
			<a href="https://www.facebook.com/englishbanobagi/?fref=ts" target="_blank" class="intro-sns__link">
				<i class="fa fa-facebook"></i>
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="https://www.instagram.com/banobagi_english/" target="_blank" class="intro-sns__link">
				<i class="fa fa-instagram"></i>
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="http://plasticsurgeryinkoreabanobagi.blogspot.com/" target="_blank" class="intro-sns__link type-blog">
			</a>
		</li>
		<li class="intro-sns__item">
			<a href="https://www.youtube.com/channel/UCbROMeOZv37xqNxJMh2UToQ" target="_blank" class="intro-sns__link">
				<i class="fa fa-youtube-play"></i>
			</a>
		</li>
	</ul>
	<!-- //sns -->
	<!-- <div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt nth-1 js-main-txt1">
				Melebihi kecantikan
			</p>
			<p class="intro-inner__txt nth-2 js-main-txt2">
				Sampai terlihatnya hasil natural,<br>
				Upaya kami yang tak berkedip sekalipun
			</p>
			<div class="intro-inner__wrap">
				<div class="intro-inner__typed" id="typed-strings">
					<p class="intro-inner__tit">Saya adalah <span class="intro-inner__point">Detailis</span></p>
				</div>
				<p class="intro-inner__tit" id="typed"></p>
			</div>
			<p class="intro-inner__subtit js-main-txt3">Ini adalah alasan kami memanggil diri kami, Detailis</p>
		</div>
	</div> -->
	<div class="intro-inner">
		<div class="intro-inner__box">
			<p class="intro-inner__txt animated fadeInUp">yg telah memikirkan setelah 10 tahun untuk memilih BANOBAGI</p>
			<p class="intro-inner__tit animated fadeInUp delay-1s">Saya adalah <span class="intro-inner__point">Detailis </span></p>
			<div class="intro-inner__bar animated fadeInUp delay-2s">
				Ini adalah alasan kami<br> memanggil diri kami, Detailis
			</div>
		</div>
	</div>
	<!-- //txt-box-->

	<!-- intro-slide -->
	<div class="intro-slide">
		<ul class="intro-slide__list js-intro-slide">
			<li class="intro-slide__item nth-1">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">Saya adalah <span class="intro-slide__point">Detailis</span></h3>
						<p class="intro-slide__txt">
							Melebihi kecantikan sampai terlihatnya hasil natural, upaya kami yang tak berkedip sekalipun, Saya adalah Detailis
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-2">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">Dari <span class="intro-slide__point">Keamanan</span></h3>
						<p class="intro-slide__txt">
							Supaya selalu mengendalikan perubahan,
							Supaya tidak mengambil resiko untuk kecantikan
							dan tetap mengutamakan keamanan
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-3">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">Dari <span class="intro-slide__point">Kepercayaan</span></h3>
						<p class="intro-slide__txt">
							Rumah Sakit Bedah Plastik yang dipercaya oleh seluruh era
							dan diperkenalkan oleh rekan keluarga, kerabat dan kenalan
						</p>
					</div>
				</div>
			</li>
			<li class="intro-slide__item nth-4">
				<div class="intro-slide__inner">
					<div class="intro-slide__wrap">
						<h3 class="intro-slide__tit">After <span class="intro-slide__point">Care</span></h3>
						<p class="intro-slide__txt">
							Perawatan pos-operasi efektif untuk menghilangkan bengkak & lebam
							sesuai dengan jenis operasi dan kondisi setiap orang
						</p>
					</div>
				</div>
			</li>
		</ul>

		<div class="intro-slide__area">
			<div class="intro-slide__progress">
				<span class="intro-slide__bar"></span>
			</div>

			<div class="intro-slide__counter"></div>
		</div>
	</div>
	<!-- //intro-slide -->

	<div class="scroll">
		<p class="scroll__txt">SCROLL</p>
		<div class="scroll__inner">
			<i class="scroll__ball"></i>
		</div>
	</div>
</div>
<!-- focus -->
<div class="focus">
	<div class="main__wrap">
		<div class="focus__area">
			<h3 class="focus__tit main__tit type-bar">PILIHAN FOKUS</h3>
			<p class="focus__txt">Anda dapat melihat promosi lain dan program konsultasi saat ini disini</p>
			<div class="focus__wrap">
				<!-- let me in 4 -->
				<div class="focus__let4">
					<img src="../../images/temp/focus_best.jpg" loading="lazy" alt="let me in 4 Reborn Comming soon" class="img-responsive hidden-tm">
					<img src="../../images/temp/focus_best_t.jpg" loading="lazy" alt="let me in 4 Reborn Comming soon" class="img-responsive hidden-p">
					<a href="" class="focus__link">Lihat</a>
				</div>

				<div class="focus__best">
					<span class="focus__category type-promotion">Promotion</span>
					<img src="../../images/temp/focus_best.jpg" loading="lazy" alt="혜택도 풍년이다! - 바노바기 해피추석위크" class="img-responsive hidden-tm">
					<img src="../../images/temp/focus_best_t.jpg" loading="lazy" alt="혜택도 풍년이다! - 바노바기 해피추석위크" class="img-responsive hidden-p">
					<a href="" class="focus__link">Lihat</a>
				</div>
				<ul class="focus__list">
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="http://renewal.thailandbanobagi.com/review/index.php#retSection" class="focus__link">Lihat</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">Lihat</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">Lihat</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">Lihat</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">Lihat</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">Lihat</a>
					</li>
					<li class="focus__item">
						<div class="focus__img">
							<img src="../../images/temp/focus_banner.jpg" loading="lazy" alt=""  class="img-responsive">
						</div>
						<a href="" class="focus__link">Lihat</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //focus -->

<!--main-video-->
<div class="main-video">
	<div class="main-video__wrap">
		<ul class="main-video__list">
			<li class="main-video__item">
				<div class="main-video__outer">
					<h3 class="main-video__tit">BANOBAGI TV</h3>
					<p class="main-video__txt">Lihat Galeri Video Bedah Plastik BANOBAGI</p>
					<a href="https://www.youtube.com/channel/UCibg014iCi5KugH2Gn2OLCw" class="main-video__btn" target="_blank">
						<span>Kunjungi Channel BANOBAGI TV</span>
					</a>
				</div>
			</li>
			<li class="main-video__item type-video">
				<div class="main-video__inner">
					<div class="main-video__box">
						<div class="main-video__area nth-1">
							<a href="https://www.youtube.com/watch?v=lhbCeML7pZk" class="main-video__link" target="_blank">바로가기</a>
							<div class="main-video__move js-main-video"></div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--//main-video-->

<!-- real -->
<div class="real">
	<div class="real__wrap main__wrap">
		<div class="real__header">
			<span class="real__txt">Perubahan yg indah &amp; Permulaan baru</span>
			<h3 class="real__tit">
				Cerita nyata <br class="hidden-p">BANOBAGI
			</h3>
		</div>
		<div class="real__area">
			<div class="real__box">
				<ul class="real__list">
					<li class="real__item type-big">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
				</ul>
			</div>
			<div class="real__box type-another">
				<ul class="real__list">
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-big">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
					<li class="real__item type-small">
						<div class="real__category">
							<img src="../../images/temp/real_icon.png" loading="lazy" alt="">
						</div>
						<span class="real__border type-top">top</span>
						<span class="real__border type-left">right</span>
						<span class="real__border type-bottom">bottom</span>
						<span class="real__border type-right">right</span>
						<img src="../../images/temp/let_big.jpg" loading="lazy" alt="" class="real__img img-responsive">
						<a href="" class="real__link">상세보기</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //real -->

<div class="main-sns">
	<div class="main__wrap">
		<h3 class="main-sns__tit main__tit type-bar">SNS</h3>
		<div class="main-sns__list">
			<div class="main-sns__item nth-1">
				<h4 class="main-sns__subject">facebook</h4>
				<a href="https://www.facebook.com/BanobagiIndonesia" class="main-sns__link" target="_blank">바로가기</a>
			</div>
			<div class="main-sns__item nth-2">
				<h4 class="main-sns__subject">Instagram</h4>
				<a href="https://www.instagram.com/indonesia_banobagi/" class="main-sns__link" target="_blank">바로가기</a>
			</div>
			<div class="main-sns__item nth-3">
				<h4 class="main-sns__subject">Youtube</h4>
				<a href="https://www.youtube.com/channel/UCibg014iCi5KugH2Gn2OLCw" class="main-sns__link" target="_blank">바로가기</a>
			</div>
			<!--<div class="main-sns__item nth-4">
				<h4 class="main-sns__subject">LINE</h4>
				<a href="http://line.me/ti/p/@banobagiid" class="main-sns__link" target="_blank">바로가기</a>
			</div>-->
		</div>
	</div>
</div>

<div class="detail-list">
	<div class="main__wrap">
		<div class="detail-list__wrap">
			<ul class="detail-list__list js-list-slide">
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_1_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										<strong class="detail-list__point">Saya detailis</strong> Yang selalu melakukan penelitian untuk perawatan SVF berkualitas tinggi
									</h3>
									<p class="detail-list__txt">
										SVF BANOBAGI diperlengkapi dengan sistem Cell-Counting yang akurat untuk memastikan jumlah sel yang dapat bertahan setelah proses isolasi cel.
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailis</p>
										<p class="detail-list__name">Ko, Sungkun</p>
										<p class="detail-list__career">
											Peneliti SVF selama 20 tahun
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_2_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										<strong class="detail-list__point">Saya detailis</strong> Yang selalu melakukan penelitian untuk perawatan SVF berkualitas tinggi
									</h3>
									<p class="detail-list__txt">
										SVF BANOBAGI diperlengkapi dengan sistem Cell-Counting yang akurat untuk memastikan jumlah sel yang dapat bertahan setelah proses isolasi cel.
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailis</p>
										<p class="detail-list__name">Ko, Sungkun</p>
										<p class="detail-list__career">
											Peneliti SVF selama 20 tahun
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_3_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										<strong class="detail-list__point">Saya detailis</strong> Yang selalu melakukan penelitian untuk perawatan SVF berkualitas tinggi
									</h3>
									<p class="detail-list__txt">
										SVF BANOBAGI diperlengkapi dengan sistem Cell-Counting yang akurat untuk memastikan jumlah sel yang dapat bertahan setelah proses isolasi cel.
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailis</p>
										<p class="detail-list__name">Ko, Sungkun</p>
										<p class="detail-list__career">
											Peneliti SVF selama 20 tahun
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_4_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										<strong class="detail-list__point">Saya detailis</strong> Yang selalu melakukan penelitian untuk perawatan SVF berkualitas tinggi
									</h3>
									<p class="detail-list__txt">
										SVF BANOBAGI diperlengkapi dengan sistem Cell-Counting yang akurat untuk memastikan jumlah sel yang dapat bertahan setelah proses isolasi cel.
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailis</p>
										<p class="detail-list__name">Ko, Sungkun</p>
										<p class="detail-list__career">
											Peneliti SVF selama 20 tahun
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
				<li class="detail-list__item">
					<div class="detail-list__area">
						<div class="detail-list__outer type-pattern">
							<img src="../../images/main/detail_list_5_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						</div>
					</div>
					<div class="detail-list__area type-txt">
						<div class="detail-list__outer">
							<div class="detail-list__inner">
								<div class="detail-list__criterion">
									<h3 class="detail-list__tit">
										<strong class="detail-list__point">Saya detailis</strong> Yang selalu melakukan penelitian untuk perawatan SVF berkualitas tinggi
									</h3>
									<p class="detail-list__txt">
										SVF BANOBAGI diperlengkapi dengan sistem Cell-Counting yang akurat untuk memastikan jumlah sel yang dapat bertahan setelah proses isolasi cel.
									</p>
									<div class="detail-list__box">
										<p class="detail-list__point2">Detailis</p>
										<p class="detail-list__name">Ko, Sungkun</p>
										<p class="detail-list__career">
											Peneliti SVF selama 20 tahun
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<!-- //detail-list__item 반재상-->
			</ul>
			<a href="" class="detail-list__btn type-prev js-slider-prev">이전</a>
			<a href="" class="detail-list__btn type-next js-slider-next">다음</a>
		</div>
		<div class="detail-thumbnail">
			<ul class="detail-thumbnail__list">
				<li class="detail-thumbnail__item type-logo">
					<div class="detail-thumbnail__outer">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailist</p>
									<p class="detail-thumbnail__company">BANOBAGI</p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_1_1.jpg" loading="lazy" alt="반재상 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailis</p>
									<p class="detail-thumbnail__txt">Dr. Bok, Ahreum</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_2_1.jpg" loading="lazy" alt="이민영 실장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailis</p>
									<p class="detail-thumbnail__txt">Dr. Bok, Ahreum</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_3_1.jpg" loading="lazy" alt="양선미 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailis</p>
									<p class="detail-thumbnail__txt">Dr. Bok, Ahreum</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_4_1.jpg" loading="lazy" alt="김용주 원장" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailis</p>
									<p class="detail-thumbnail__txt">Dr. Bok, Ahreum</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
				<li class="detail-thumbnail__item">
					<div class="detail-thumbnail__outer">
						<img src="../../images/main/detail_list_5_1.jpg" loading="lazy" alt="고성건 연구원" class="img-responsive">
						<div class="detail-thumbnail__inner">
							<div class="detail-thumbnail__box">
								<div class="detail-thumbnail__vertical">
									<p class="detail-thumbnail__tit">Detailis</p>
									<p class="detail-thumbnail__txt">Dr. Bok, Ahreum</p>
								</div>
							</div>
						</div>
						<a href="" class="detail-thumbnail__link js-thumbnail-move">상세보기</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="detail-slide">
	<div class="detail-slide__wrap">
		<ul class="detail-slide__list js-detail-slide">
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">01</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						Sistem pemeriksaan medis secara sistematik
					</h3>
					<p class="detail-slide__txt">
						Sistem pemeriksaan secara menyeluruh dan sistematik dengan menggunakan lebih dari 20 metode untuk hasil yang aman dan memuaskan.
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img0.png" loading="lazy" alt="" class="img-responsive is-rotate hidden-tm">
						<img src="../../images/main/detail_img0_t.png" loading="lazy" alt="" class="img-responsive is-rotate hidden-p">
						<img src="../../images/main/detail_img1.png" loading="lazy" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img1_t.png" loading="lazy" alt="피부과전문의 인증 - 피부건강지킴 - 대한피부과의사회" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">02</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						Sistem keamanan yang lengkap dan menyeluruh
					</h3>
					<p class="detail-slide__txt">
						Sistem penyediaan air steril, pengaturan peralatan sterilisasi dan diinfeksi, keberadaan spesialis anestesi, sistem tenaga darurat pada kondisi gawat darurat,dll.
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img2.jpg" loading="lazy" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img2_t.jpg" loading="lazy" alt="바노바기 복합 치료 시스템 - 올인원목주름, 올인원토닝, 올인원테라피, 올인원올모공, 올인원리프팅" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">03</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						Spesialis dan Dokter Bedah lulusan Universitas Nasional Seoul
					</h3>
					<p class="detail-slide__txt">
						Grup spesialis bedah plastik dari Universitas Nasional Seoul mengetahui bagimana penanganan profesional yang telah terbukti selama 18 tahun berpengalaman sebagai tim bedah plastik dengan keterampilan-keterampilan operasi yang terperinci.
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img3.jpg" loading="lazy" alt="의료 장비 사진" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img3_t.jpg" loading="lazy" alt="의료 장비 사진" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">04</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						Data Analisis Kasus Pasien
					</h3>
					<p class="detail-slide__txt">
						Data analisis berdasarkan data yang dikumpulkan selama 18 tahun diklasifikasikan menurut usia, wilayah negara, dan jenis kelamin. Operasi dilakukan secara ilmiah sesuai bukti sistematik yang ada.
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img4.jpg" loading="lazy" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img4_t.jpg" loading="lazy" alt="김은진원장, 반재용원장, 전희대원장, *원장" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
			<li class="detail-slide__item">
				<div class="detail-slide__box type-txt">
					<span class="detail-slide__num">05</span>
					<p class="detail-slide__eng">Detail</p>
					<h3 class="detail-slide__tit">
						Sistem perawatan pasca operasi
					</h3>
					<p class="detail-slide__txt">
						Perawatan pasca operasi yang disesuaikan tiap individu untuk menangani perawatan pembengkakan maupun memar, dan menciptakan hasil yang memuaskan dengan sistem pemantauan yang ada.
					</p>
				</div>
				<div class="detail-slide__box type-img">
					<div class="detail-slide__img">
						<img src="../../images/main/detail_img5.jpg" loading="lazy" alt="의료서비스 제공" class="img-responsive hidden-tm">
						<img src="../../images/main/detail_img5_t.jpg" loading="lazy" alt="의료서비스 제공" class="img-responsive hidden-p">
					</div>
				</div>
			</li><!-- //detail-slide__item-->
		</ul>
	</div>
</div>

<div class="main-search">
	<div class="main-search__wrap">
		<h3 class="main-search__tit main__tit">CARI</h3>
		<div class="search-keyword">
			<div class="search-keyword__box">
				<label for="p_keyword" class="search-keyword__label">검색어</label>
				<button type="submit" class="search-keyword__btn">Search</button>
				<input type="text" class="search-keyword__input" id="main_keyword" name="main_keyword" placeholder="Cari kata kunci">
			</div>
		</div>
		<div class="main-search__box">
			<div class="main-search__bg">
				<div class="main-keyword">
					<div class="main-keyword__box">
						<h4 class="main-keyword__tit">Populer</h4>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">

									<li class="main-keyword__item type-first">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('Lifting');">
											<span class="main-keyword__num">1</span>Lifting
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('Hidung');">
											<span class="main-keyword__num">2</span>Hidung
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('SVF');">
											<span class="main-keyword__num">3</span>SVF
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('Filler');">
											<span class="main-keyword__num">4</span>Filler
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('Payudara');">
											<span class="main-keyword__num">5</span>Payudara
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('Mata');">
											<span class="main-keyword__num">6</span>Mata
										</a>
									</li>								</ul>
							</li><!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div>
					<div class="main-keyword__box">
						<h4 class="main-keyword__tit">Rekomendasi</h4>
						<ul class="main-keyword__area">
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">

									<li class="main-keyword__item fist">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('Lifting');">
											<span class="main-keyword__icon">#</span>Lifting
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('Hidung');">
											<span class="main-keyword__icon">#</span>Hidung
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('SVF');">
											<span class="main-keyword__icon">#</span>SVF
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
							<li class="main-keyword__area-box">
								<ul class="main-keyword__list">
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('Filler');">
											<span class="main-keyword__icon">#</span>Filler
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('Payudara');">
											<span class="main-keyword__icon">#</span>Payudara
										</a>
									</li>
									<li class="main-keyword__item">
										<a class="main-keyword__link" href="javascript:$.fnSubmit('Mata');">
											<span class="main-keyword__icon">#</span>Mata
										</a>
									</li>
								</ul>
							</li><!--//main-keyword__area-box-->
						</ul><!--//main-keyword__area-->
					</div>
				</div><!-- //main-keyword-->
			</div><!--//main-search__bg-->
		</div><!--//main-search__box-->
	</div>
</div>


<div class="main-location">
	<div class="main-location__area">
		<div id="map" class="main-location__map"></div><!-- 다음카카오지도-->
	</div>
	<div class="main-location__box">
		<div class="main-location__wrap">
			<div class="main-location__inner">
				<h3 class="main__tit">Hubungi kami</h3>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-map">location</dt>
					<dd class="main-location__dd">
						<ul class="main-location__list">
							<li class="main-location__item">Gedung BANOBAGI 517 Nonhyeon-Ro, Gangnam-Gu, Seoul Korea</li>
							<li class="main-location__item">Stasiun Yeoksam Exit 6 , Stasiun Eonju Exit 7</li>
						</ul>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-time">time</dt>
					<dd class="main-location__dd type-time">
						<ul class="main-location__list">
							<li class="main-location__item">
								Senin ~ Jumat 09:30~18:30
							</li>
							<!-- <li class="main-location__item">
								금요일 9:30 ~ 20:00<span class="main-location__night">야간진료</span>
							</li> -->
							<li class="main-location__item">
								Sabtu 09:30~16:00
							</li>
						</ul>
					</dd>
				</dl>
				<dl class="main-location__dl">
					<dt class="main-location__dt type-phone">tel</dt>
					<dd class="main-location__dd type-phone">
						<ul class="main-location__list">
							<li class="main-location__item"><a href="tel:+82.10.2273.6508" class="main-location__link">+82.10.2273.6508</a></li>
						</ul>
					</dd>
				</dl>
				<!-- <div class="main-location__group">
					<a href="" class="main-location__btn main-btn type-another js-sms-btn">
						<span class="main-btn__icon type-sms">sms</span>
						<span class="main-btn__wrap">모바일 전송</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<a href="#" onClick="open_win()" class="main-location__btn main-btn type-another hidden-tm">
						<span class="main-btn__icon type-print">sms</span>
						<span class="main-btn__wrap">약도 프린트</span>
						<span class="main-btn__wrap"><i class="fa fa-angle-right"></i></span>
					</a>
					<div class="main-form">
						<form id="mobileForm" class="main-form__form" method="post">
							<div class="main-form__wrap">
								<label for="mobileSend" class="main-form__label">sms</label>
								<input type="text" class="main-form__input" name="mobileSend" id="mobileSend" placeholder="연락처를 입력해주세요." required="">
								<button type="button" class="main-form__btn" id="">전송</button>
								<a href="" class="main-form__close js-sms-close">닫기</a>
							</div>
						</form>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>


<% include ../_include/_footer %>
