<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
	.cont{padding-top:50px;box-sizing:border-box;font-size: 0;}
    .cont img{width:100%}
    .cont__box{}
    .cont__area{}
</style>

<div class="cont">
    <!-- pc -->
    <div class="hidden-tm">
        <img src="images/landing_time/landing_time_01.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
        <img src="images/landing_time/landing_time_02.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
        <img src="images/landing_time/landing_time_03.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
        <img src="images/landing_time/landing_time_04.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
        <img src="images/landing_time/landing_time_05.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
    </div>

    <!-- mobile -->
    <div class="hidden-p">
        <img src="images/landing_time/landing_time_01_m.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
        <img src="images/landing_time/landing_time_02_m.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
        <img src="images/landing_time/landing_time_03_m.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
        <img src="images/landing_time/landing_time_04_m.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
        <img src="images/landing_time/landing_time_05_m.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
        <img src="images/landing_time/landing_time_06_m.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
        <img src="images/landing_time/landing_time_07_m.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
        <img src="images/landing_time/landing_time_08_m.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
        <img src="images/landing_time/landing_time_09_m.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
        <img src="images/landing_time/landing_time_10_m.jpg" loading="lazy" alt="Time Limit Promotion of Dr.Lee HyunTaek">
    </div>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>
