<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
	.cont{padding-top:50px;box-sizing:border-box;font-size: 0;}
    .cont img{width:100%}
    .cont__box{}
    .cont__area{max-width: 800px;margin: 0 auto;}
</style>

<div class="cont">
    <div class="cont__box">
        <div class="cont__area">
            <img src="images/landing_face/landing_face_01.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim">
            <img src="images/landing_face/landing_face_02.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim">
            <img src="images/landing_face/landing_face_03.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim">
            <img src="images/landing_face/landing_face_04.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim">
            <img src="images/landing_face/landing_face_05.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim">
            <img src="images/landing_face/landing_face_06.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim">
            <img src="images/landing_face/landing_face_07.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim">

            <img src="images/landing_face/landing_face_08.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim" usemap="#Map" />
            <map name="Map" class="imgScroll">
            	<area shape="rect" coords="67,68,422,729" href="#con_01">
                <area shape="rect" coords="424,68,779,729" href="#con_02">
              	<area shape="rect" coords="779,68,1134,729" href="#con_03">
            </map>

            <div id="con_01">
                <img src="images/landing_face/landing_face_09.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Cheekbone Relocation">
                <img src="images/landing_face/landing_face_10.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Cheekbone Relocation">
                <img src="images/landing_face/landing_face_11.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Cheekbone Relocation">
                <img src="images/landing_face/landing_face_12.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Cheekbone Relocation">
                <img src="images/landing_face/landing_face_13.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Cheekbone Relocation">
                <img src="images/landing_face/landing_face_14.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Cheekbone Relocation">
		  	</div>
            <div id="con_02">
                <img src="images/landing_face/landing_face_15.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Square jaw Reduction">
                <img src="images/landing_face/landing_face_16.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Square jaw Reduction">
                <img src="images/landing_face/landing_face_17.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Square jaw Reduction">
                <img src="images/landing_face/landing_face_18.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Square jaw Reduction">
                <img src="images/landing_face/landing_face_19.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Square jaw Reduction">
		  	</div>
            <div id="con_03">
                <img src="images/landing_face/landing_face_20.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Genioplasty">
                <img src="images/landing_face/landing_face_21.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Genioplasty">
                <img src="images/landing_face/landing_face_22.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Genioplasty">
                <img src="images/landing_face/landing_face_23.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Genioplasty">
                <img src="images/landing_face/landing_face_24.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Genioplasty">
                <img src="images/landing_face/landing_face_25.jpg" loading="lazy" alt="Dr.Park JongLim's 1 Year Genioplasty">
		  	</div>

            <img src="images/landing_face/landing_face_26.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim"">
            <img src="images/landing_face/landing_face_27.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim"">
            <img src="images/landing_face/landing_face_28.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim"">
            <img src="images/landing_face/landing_face_29.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim"">
            <img src="images/landing_face/landing_face_30.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim"">
            <img src="images/landing_face/landing_face_31.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim"">
            <img src="images/landing_face/landing_face_32.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim"">
            <img src="images/landing_face/landing_face_33.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim"">
            <img src="images/landing_face/landing_face_34.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim"">
            <img src="images/landing_face/landing_face_35.jpg" loading="lazy" alt="1 Year Face Contouring Consulting with Dr. Park JongLim"">
        </div>
    </div>
</div>

<!-- program-bottom -->
<div class="program-bottom">
    <a href="tel:8225226636"><img src="images/phone_bnbg.png" loading="lazy" alt="call for consultation 82-2-522-6636"class="program-bottom__img"></a>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>

<script src="js/jquery.rwdImageMaps.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
    	//imgScroll
    	$('.imgScroll [href^="#"]').click(function(e) {
    		e.preventDefault();
    		var target = this.hash,
    			$target = $(target);

    		$('html, body').stop().animate({
    			scrollTop: $target.offset().top
    		}, 800);
    		return false;
    	});

    	$('img[usemap]').rwdImageMaps();
    });
</script>
