<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
	.cont{padding-top:50px;box-sizing:border-box;font-size: 0;}
    .cont img{width:100%}
    .cont__box{}
    .cont__area{}
</style>

<div class="cont">
    <!-- pc -->
    <div class="hidden-tm">
        <img src="images/landing_period/landing_period_01.jpg" loading="lazy" alt="Presents 2 Limited Events">
		<img src="images/landing_period/landing_period_02.jpg" loading="lazy" alt="Presents 2 Limited Events">
		<img src="images/landing_period/landing_period_03.jpg" loading="lazy" alt="Presents 2 Limited Events">
		<img src="images/landing_period/landing_period_04.jpg" loading="lazy" alt="Presents 2 Limited Events">
		<img src="images/landing_period/landing_period_05.jpg" loading="lazy" alt="Presents 2 Limited Events">
    </div>

    <!-- mobile -->
    <div class="hidden-p">
        <img src="images/landing_period/landing_period_01_m.jpg" loading="lazy" alt="Presents 2 Limited Events">
		<img src="images/landing_period/landing_period_02_m.jpg" loading="lazy" alt="Presents 2 Limited Events">
		<img src="images/landing_period/landing_period_03_m.jpg" loading="lazy" alt="Presents 2 Limited Events">
		<img src="images/landing_period/landing_period_04_m.jpg" loading="lazy" alt="Presents 2 Limited Events">
		<img src="images/landing_period/landing_period_05_m.jpg" loading="lazy" alt="Presents 2 Limited Events">
		<img src="images/landing_period/landing_period_06_m.jpg" loading="lazy" alt="Presents 2 Limited Events">
		<img src="images/landing_period/landing_period_07_m.jpg" loading="lazy" alt="Presents 2 Limited Events">
    </div>
</div>

<% include ../_include/_quick %>
<% include ../_include/_footer %>
