<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
    .cont{padding-top:50px;box-sizing:border-box;font-size: 0;}
    .cont img{width:100%}
    .cont__box{}
    .cont__area{max-width: 800px;margin: 0 auto;}
</style>

<div class="cont">
    <div class="cont__box">
        <div class="cont__area">
            <img src="images/der_oneday/der_oneday_top.jpg" loading="lazy" alt="One day Acne Program"/>
            <img src="images/der_oneday/der_oneday_01.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_02.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_03.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_04.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_05.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_06.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_07.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_08.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_09.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_10.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_11.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_12.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_13.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_14.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_15.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_16.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_17.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_18.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_19.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_20.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_21.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_22.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_23.jpg" loading="lazy" alt="One day Acne Program">
            <img src="images/der_oneday/der_oneday_24.jpg" loading="lazy" alt="One day Acne Program">

            <a href="https://youtu.be/QJjdh382NFE" target="_blank"><img src="images/der_oneday/der_oneday_25.jpg" loading="lazy" alt="SunnyDahye's WaterGlow PRT Treatment Review"></a>
            <a href="https://www.youtube.com/watch?v=yM8x4DtCSSM" target="_blank"><img src="images/der_oneday/der_oneday_26.jpg" loading="lazy" alt="BapMokja and Haeppy's Pore Enhancement Treatment Review"></a>
            <a href="https://joeypinkk.blogspot.kr" target="_blank"><img src="images/der_oneday/der_oneday_27.jpg" loading="lazy" alt="JoeyPink's One-day Brightening Treatment Review"></a>

            <img src="images/der_oneday/der_oneday_28.jpg" loading="lazy" alt="One day Acne Program">

            <a href="https://www.whatsapp.com/?l=en" target="_blank"><img src="images/der_oneday/der_oneday_29.jpg" loading="lazy" alt="Download WhatsApp">

            <img src="images/der_oneday/der_oneday_30.jpg" loading="lazy" alt="One day Acne Program">
        </div>
    </div>
</div>

<!-- program-bottom -->
<div class="program-bottom">
    <a href="tel:8225226636"><img src="images/phone_bnbg.png" loading="lazy" alt="call for consultation 82-2-522-6636"class="program-bottom__img"></a>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
