<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
    .cont{padding-top:50px;box-sizing:border-box;font-size: 0;}
    .cont img{width:100%}
    .cont__box{}
    .cont__area{max-width: 800px;margin: 0 auto;}
</style>

<div class="cont">
    <div class="cont__box">
        <div class="cont__area">
            <img src="images/oneday/oneday_top.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_01.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_02.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_03.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_04.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_05.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_06.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_07.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_08.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_09.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_10.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_11.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_12.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_13.jpg" loading="lazy" alt="One Day Brightening Program">
            <!--<img src="images/oneday/oneday_14.jpg" loading="lazy" alt="One Day Brightening Program"> -->
            <img src="images/oneday/oneday_15.jpg" loading="lazy" alt="One Day Brightening Program">
			<img src="images/oneday/oneday_16.jpg" loading="lazy" alt="One Day Brightening Program">
            <img src="images/oneday/oneday_17.jpg" loading="lazy" alt="One Day Brightening Program">
            <img src="images/oneday/oneday_18.jpg" loading="lazy" alt="One Day Brightening Program">
            <img src="images/oneday/oneday_19.jpg" loading="lazy" alt="One Day Brightening Program">
            <img src="images/oneday/oneday_20.jpg" loading="lazy" alt="One Day Brightening Program">
            <img src="images/oneday/oneday_21.jpg" loading="lazy" alt="One Day Brightening Program">
        </div>
    </div>
</div>

<!-- program-bottom -->
<div class="program-bottom">
    <a href="tel:8225226636"><img src="images/phone_bnbg.png" loading="lazy" alt="call for consultation 82-2-522-6636"class="program-bottom__img"></a>
</div>
<!-- //program-bottom -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
