<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
	.cont{padding-top:50px; box-sizing:border-box;font-size: 0;}
    .cont img{width:100%; vertical-align:middle;}
	.cont__box{position:relative;}
	.cont__area{max-width: 1200px;margin: 0 auto;box-sizing: border-box;}
	.cont__btn{position:absolute; top:0; left:0; right:0; padding:0 38.75%; box-sizing:border-box;}
	.cont__btn a{display:block;}
    @media only screen and (max-width: 993px) {
		.cont{padding-top:60px;}
		.cont__box{background-image: url(../../images/program/landing_summer2019/landing_summer2019_bg_1_m.jpg);background-size: cover;}
    }
    @media only screen and (max-width: 681px) {
		.cont{padding-top:50px;}
		.cont__btn{padding:0 23%;}
    }
</style>

<!-- program-view -->
<div class="cont">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_1.jpg" class="hidden-tm" loading="lazy" alt="">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_2.jpg" class="hidden-tm" loading="lazy" alt="">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_3.jpg" class="hidden-tm" loading="lazy" alt="">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_4.jpg" class="hidden-tm" loading="lazy" alt="">
    <img src="../../images/program/landing_hair_relocation/hair_relocation_5.jpg" class="hidden-tm" loading="lazy" alt="">
    <img src="../../images/program/landing_hair_relocation/hair_relocation_6.jpg" class="hidden-tm" loading="lazy" alt="">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_7.jpg" class="hidden-tm" loading="lazy" alt="">

	<img src="../../images/program/landing_hair_relocation/hair_relocation_1_m.jpg" class="hidden-p" loading="lazy" alt="">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_2_m.jpg" class="hidden-p" loading="lazy" alt="">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_3_m.jpg" class="hidden-p" loading="lazy" alt="">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_4_m.jpg" class="hidden-p" loading="lazy" alt="">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_5_m.jpg" class="hidden-p" loading="lazy" alt="">
    <img src="../../images/program/landing_hair_relocation/hair_relocation_6_m.jpg" class="hidden-p" loading="lazy" alt="">
	<img src="../../images/program/landing_hair_relocation/hair_relocation_7_m.jpg" class="hidden-p" loading="lazy" alt="">

	<div class="cont__box">
		<div class="cont__btn js-consultation">
			<a href="#"><img src="../../images/program/landing_hair_relocation/hair_relocation_btn.png" class="hidden-tm" loading="lazy" alt=""></a>
			<a href="#"><img src="../../images/program/landing_hair_relocation/hair_relocation_btn_m.png" class="hidden-p" loading="lazy" alt=""></a>
		</div>
		<img src="../../images/program/landing_hair_relocation/hair_relocation_8.jpg" class="hidden-tm" loading="lazy" alt="">
		<img src="../../images/program/landing_hair_relocation/hair_relocation_8_m.jpg" class="hidden-p" loading="lazy" alt="">
	</div>
</div>
<!-- //program-view -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
