<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<link rel="stylesheet" href="../../css/program/promotion2019.css"/>

<!-- program-view -->
<div class="cont">
    <img src="../../images/program/landing_promotion2019/promotion2019_img_1.jpg" class="hidden-tm" loading="lazy" alt="2019 last event October–December Berlaku hingga 31 December 2019">
	<img src="../../images/program/landing_promotion2019/promotion2019_img_1_m.jpg" class="hidden-p" loading="lazy" alt="2019 last event October–December Berlaku hingga 31 December 2019">

    <!-- EVENT 1 -->
    <div class="cont-box1 nth-1">
        <div class="cont-box1__wrap">
            <div class="cont-box1__head">
                <img src="../../images/program/landing_promotion2019/promotion2019_img_2.jpg" class="hidden-tm" loading="lazy" alt="EVENT 1 Mata + Augmentasi Hidung 30%, Mata / Augmentasi Hidung 20%">
                <img src="../../images/program/landing_promotion2019/promotion2019_img_2_m.jpg" class="hidden-p" loading="lazy" alt="EVENT 1 Mata + Augmentasi Hidung 30%, Mata / Augmentasi Hidung 20%">
            </div>
            <div class="cont-box1__body">
                <img src="../../images/program/landing_promotion2019/promotion2019_img_3.jpg" class="hidden-tm" loading="lazy" alt="EVENT 1 Mata + Augmentasi Hidung 30%, Mata / Augmentasi Hidung 20%">
                <img src="../../images/program/landing_promotion2019/promotion2019_img_3_m.jpg" class="hidden-p" loading="lazy" alt="EVENT 1 Mata + Augmentasi Hidung 30%, Mata / Augmentasi Hidung 20%">

                <div class="cont-box1__btn">
                    <a href="https://www.indonesiabanobagi.com/review/photoGallery.php" target="_blank" class="cont-box1__link">
                        <img src="../../images/program/landing_promotion2019/promotion2019_btn_1.jpg" class="hidden-tm" loading="lazy" alt="Klik untuk melihat Foto Sebelum & Sesudah Operasi">
                        <img src="../../images/program/landing_promotion2019/promotion2019_btn_1_m.jpg" class="hidden-p" loading="lazy" alt="Klik untuk melihat Foto Sebelum & Sesudah Operasi">
                    </a>
                </div>
            </div>
        </div>

        <img src="../../images/program/landing_promotion2019/promotion2019_img_4.jpg" class="hidden-tm" loading="lazy" alt="Informasi operasi Mata & Hidung">
        <img src="../../images/program/landing_promotion2019/promotion2019_img_4_m.jpg" class="hidden-p" loading="lazy" alt="Informasi operasi Mata & Hidung">
    </div>

    <!-- EVENT 2 -->
    <div class="cont-box1 nth-2">
        <div class="cont-box1__wrap">
            <div class="cont-box1__head">
                <img src="../../images/program/landing_promotion2019/promotion2019_img_5.jpg" class="hidden-tm" loading="lazy" alt="EVENT 2 Kontur Wajah Rahang, Dagu, Tulang Pipi 2 area 25% / 1 area 20%">
                <img src="../../images/program/landing_promotion2019/promotion2019_img_5_m.jpg" class="hidden-p" loading="lazy" alt="EVENT 2 Kontur Wajah Rahang, Dagu, Tulang Pipi 2 area 25% / 1 area 20%">
            </div>
            <div class="cont-box1__body">
                <img src="../../images/program/landing_promotion2019/promotion2019_img_6.jpg" class="hidden-tm" loading="lazy" alt="EVENT 2 Kontur Wajah Rahang, Dagu, Tulang Pipi 2 area 25% / 1 area 20%">
                <img src="../../images/program/landing_promotion2019/promotion2019_img_6_m.jpg" class="hidden-p" loading="lazy" alt="EVENT 2 Kontur Wajah Rahang, Dagu, Tulang Pipi 2 area 25% / 1 area 20%">

                <div class="cont-box1__btn">
                    <a href="https://www.indonesiabanobagi.com/review/photoGallery.php" target="_blank" class="cont-box1__link">
                        <img src="../../images/program/landing_promotion2019/promotion2019_btn_1.jpg" class="hidden-tm" loading="lazy" alt="Klik untuk melihat Foto Sebelum & Sesudah Operasi">
                        <img src="../../images/program/landing_promotion2019/promotion2019_btn_1_m.jpg" class="hidden-p" loading="lazy" alt="Klik untuk melihat Foto Sebelum & Sesudah Operasi">
                    </a>
                </div>
            </div>
        </div>

        <img src="../../images/program/landing_promotion2019/promotion2019_img_7.jpg" class="hidden-tm" loading="lazy" alt="Informasi Operasi Kontur Wajah">
        <img src="../../images/program/landing_promotion2019/promotion2019_img_7_m.jpg" class="hidden-p" loading="lazy" alt="Informasi Operasi Kontur Wajah">
    </div>

    <!-- EVENT 3 -->
    <div class="cont-box1 nth-3">
        <div class="cont-box1__wrap">
            <div class="cont-box1__head">
                <img src="../../images/program/landing_promotion2019/promotion2019_img_8.jpg" class="hidden-tm" loading="lazy" alt="EVENT 3 Face Lift MACS Lifting 25% / Elasticum Lifting 25% / Mint Lifting 20%">
                <img src="../../images/program/landing_promotion2019/promotion2019_img_8_m.jpg" class="hidden-p" loading="lazy" alt="EVENT 3 Face Lift MACS Lifting 25% / Elasticum Lifting 25% / Mint Lifting 20%">
            </div>
            <div class="cont-box1__body">
                <img src="../../images/program/landing_promotion2019/promotion2019_img_9.jpg" class="hidden-tm" loading="lazy" alt="EVENT 3 Face Lift MACS Lifting 25% / Elasticum Lifting 25% / Mint Lifting 20%">
                <img src="../../images/program/landing_promotion2019/promotion2019_img_9_m.jpg" class="hidden-p" loading="lazy" alt="EVENT 3 Face Lift MACS Lifting 25% / Elasticum Lifting 25% / Mint Lifting 20%">

                <div class="cont-box1__btn">
                    <a href="https://www.indonesiabanobagi.com/review/photoGallery.php" target="_blank" class="cont-box1__link">
                        <img src="../../images/program/landing_promotion2019/promotion2019_btn_1.jpg" class="hidden-tm" loading="lazy" alt="Klik untuk melihat Foto Sebelum & Sesudah Operasi">
                        <img src="../../images/program/landing_promotion2019/promotion2019_btn_1_m.jpg" class="hidden-p" loading="lazy" alt="Klik untuk melihat Foto Sebelum & Sesudah Operasi">
                    </a>
                </div>
            </div>
        </div>

        <img src="../../images/program/landing_promotion2019/promotion2019_img_10.jpg" class="hidden-tm" loading="lazy" alt="Informasi Operasi MACS Lifting & Elasticum Lifting / Informasi Operasi Mint Lifting">
        <img src="../../images/program/landing_promotion2019/promotion2019_img_10_m.jpg" class="hidden-p" loading="lazy" alt="Informasi Operasi MACS Lifting & Elasticum Lifting / Informasi Operasi Mint Lifting">
    </div>

    <img src="../../images/program/landing_promotion2019/promotion2019_img_11.jpg" class="hidden-tm" loading="lazy" alt="untuk konsultasi dan reservasi indonesia@banobagi.com / whats app:+82 10 2273 6508">
    <img src="../../images/program/landing_promotion2019/promotion2019_img_11_m.jpg" class="hidden-p" loading="lazy" alt="untuk konsultasi dan reservasi indonesia@banobagi.com / whats app:+82 10 2273 6508">
</div>
<!-- //program-view -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
