<%
	type = "program"
	page = "program"
%>
<% include ../_include/_header %>
<% include ../_include/_popup_event %>

<style>
	.cont{padding-top:50px; box-sizing:border-box;font-size: 0;}
    .cont img{width:100%; vertical-align:middle;}
    .cont__btn{display: block;border: 0;}

    @media only screen and (max-width: 1025px) {
		.cont{padding-top:60px;}
    }
    @media only screen and (max-width: 680px) {
		.cont{padding-top:50px;}
    }
</style>

<!-- program-view -->
<div class="cont">
    <img src="../../images/program/landing_beauty_model/beauty_model_img_1.jpg" class="hidden-tm" loading="lazy" alt="OPEN REGISTRASI BEAUTY MODEL BANOBAGI">
    <img src="../../images/program/landing_beauty_model/beauty_model_img_2.jpg" class="hidden-tm" loading="lazy" alt="Inilah saatnya mewujudkan impian Anda menjadi BANOBAGI BEAUTY MODEL!">
    <img src="../../images/program/landing_beauty_model/beauty_model_img_3.jpg" class="hidden-tm" loading="lazy" alt="Waktu Pendaftaran 15 oktober 2019 – 31 Desember 2019">

    <img src="../../images/program/landing_beauty_model/beauty_model_img_1_m.jpg" class="hidden-p" loading="lazy" alt="OPEN REGISTRASI BEAUTY MODEL BANOBAGI">
    <img src="../../images/program/landing_beauty_model/beauty_model_img_2_m.jpg" class="hidden-p" loading="lazy" alt="Inilah saatnya mewujudkan impian Anda menjadi BANOBAGI BEAUTY MODEL!">
    <img src="../../images/program/landing_beauty_model/beauty_model_img_3_m.jpg" class="hidden-p" loading="lazy" alt="Waktu Pendaftaran 15 oktober 2019 – 31 Desember 2019">

    <a href="https://forms.gle/vy6vGUUGBGbeLgWH6" target="_blank" class="cont__btn">
        <img src="../../images/program/landing_beauty_model/beauty_model_img_4.jpg" class="hidden-tm" loading="lazy" alt="Klik untuk REGISTRASI">
        <img src="../../images/program/landing_beauty_model/beauty_model_img_4_m.jpg" class="hidden-p" loading="lazy" alt="Klik untuk REGISTRASI">
    </a>
</div>
<!-- //program-view -->

<% include ../_include/_quick %>
<% include ../_include/_footer %>
