.fs_section{position:relative; background-repeat: no-repeat; background-position: 50%;
	&.specialFirst{background: url(../../images/special/special_detail_section01.jpg) center center; background-size: cover;
		& .detail__inner{text-align:center;}
	}
	&.specialSection01{background: url(../../images/special/special_detail_section02.jpg) center 100%; background-size: cover;
		& .detail__section-box{bottom:-60px;}
	}
	&.specialSection02{background: url(../../images/special/special_detail_section03.jpg) center 100%; background-size: cover;
		& .detail__section-box{width:350px;}
	}
	&.specialSection03{background: url(../../images/special/special_detail_section04.jpg) center 100%; background-size: cover;
		& .detail__section-box{bottom:-50px; width:360px; color:#333;}
		& .detail__section-subtit{color:#333;}
	}
	&.specialSection04{background: url(../../images/special/special_detail_section05.jpg) center 100%; background-size: cover;
		& .detail__section-box{}
	}
	&.specialSection05{background: url(../../images/special/special_detail_section06.jpg) center 100%; background-size: cover;
		& .detail__section-box{top:-30px;}
	}
	@media only screen and (max-width:$tablet-size){
		&.specialFirst{background: url(../../images/special/special_detail_section01_768.jpg) center 100%; background-size: cover;}
		&.specialSection01{background: url(../../images/special/special_detail_section02_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:auto; left:auto; bottom:-150px; width:270px;}
		}
		&.specialSection02{background: url(../../images/special/special_detail_section03_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:auto; width:270px;}
		}
		&.specialSection03{background: url(../../images/special/special_detail_section04_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:auto; left:auto; bottom:auto; width:300px;}
		}
		&.specialSection04{background: url(../../images/special/special_detail_section05_768.jpg) center bottom; background-size: cover;
			& .detail__section-box{top:-20px; bottom:auto;}
		}
		&.specialSection05{background: url(../../images/special/special_detail_section06_768.jpg) center 100%; background-size: cover;
			& .detail__section-box{top:auto; right:auto;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&.specialFirst{background: url(../../images/special/special_detail_section01_640.jpg) center center; background-size: cover;}
		&.specialSection01{height:600px !important; background: url(../../images/special/special_detail_section02_640.jpg) center center; background-size: cover;
			& .detail__section-box{bottom:-70px; width:220px;}
		}
		&.specialSection02{height:650px !important; background: url(../../images/special/special_detail_section03_640.jpg) center center; background-size: cover;
			& .detail__section-box{width:auto;}
		}
		&.specialSection03{height:660px !important; background: url(../../images/special/special_detail_section04_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:auto;}
		}
		&.specialSection04{height:800px !important; background: url(../../images/special/special_detail_section05_640.jpg) center center; background-size: cover;
			& .detail__section-box{top:auto; width:100%;}
		}
		&.specialSection05{height:800px !important; background: url(../../images/special/special_detail_section06_640.jpg) center center; background-size: cover;
			& .detail__section-box{}
		}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		&.specialSection01{
			& .detail__section-box{bottom:0px;}
		}
		&.specialSection04{
			& .detail__section-box{top:30px; width:370px;}
		}
		&.specialSection05{
			& .detail__section-box{width:360px;}
		}
	}
	@media only screen and (max-width:$mobile-size) and (orientation: landscape){
		&.specialSection01{
			& .detail__section-box{top:auto; bottom:auto; width:350px;}
		}
	}
}

.fake-table{width:529px; margin-top:40px; border-top:1px solid #bbbbbb; border-bottom:1px solid #bbbbbb;
	@media only screen and (max-width:$mobile-size){width:100%; margin-top:0px;}
	&__tit{display:table-cell; width:1%; height:36px; color:#666; font-weight:400; background-color:#ded7d2; text-align: center; vertical-align:middle; font-size:14px;
		@media only screen and (max-width:$mobile-size){height:32px; font-size:1.3rem;}
	}
	&__list{
		@media only screen and (max-width:$mobile-size){position:relative;
			&:before{position:absolute; top:0; left:0; width:100%; height:32px; background-color:#ded7d2; content:'';}
		}
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative; display:inline-block; width:28%; height:536px; font-size:14px;
		@media only screen and (max-width:$mobile-size){height:490px; font-size:1.3rem;}
		@media only screen and (max-width:$iphone-size){font-size:1.2rem;}
		&:first-child{width:16%;
			& .fake-table__tit{color:#333;}
			& .fake-table__txt{display:inline-block; width:100%; height:500px;
				background:url('../../images/special/popup_img2.jpg') no-repeat center center; line-height:500px; color:#333; font-weight:400; background-color:#f5f5f5;
				@media only screen and (max-width:$mobile-size){background:url('../../images/special/popup_img2_m.jpg') center center no-repeat; background-color:#f5f5f5;
					background-size:40px 442px; height:459px; line-height:1.3; padding-top:205px; }
			}
		}
		& + &{border-left:1px solid #bbbbbb;}
		&:nth-child(1){
			& .fake-table-txt{margin-top:86px;}
		}
	}
	&__txt{color:#666; line-height:1.3;
		&.type-2{background-color:#f5f5f5;}
		&.type-1{border-bottom:1px solid #eeeeee;}
		&.type-3{position:absolute; bottom:0; background-color:#b4866b; color:#fff;
			& .fake-table__wrap{height:140px;
				@media only screen and (max-width:$mobile-size){height:125px;}
				@media only screen and (max-width:$iphone-size){height:140px;}
			}
		}
		&.type-another1{margin-top:80px; border-top:1px solid #eee;}
		&.type-another2{margin-top:40px;}
		// @media only screen and (max-width:$mobile-size){
		// 	&.type-another1{margin-top:74px;}
		// 	&.type-another2{margin-top:37px;}
		// }
	}
	&__type{display:inline-block; font-size:12px; margin-bottom:3px; padding:4px 8px; color:#fff; border-radius:20px 20px 20px 20px;
		@media only screen and (max-width:$mobile-size){font-size:1rem;}
		@media only screen and (max-width:$iphone-size){font-size:0.9rem;}
	}
	&__type1{background-color:#7d5b47;}
	&__type2{background-color:#997058;}
	&__type3{background-color:#b4866b;}
	&__type4{background-color:#ffffff; color:#b4866b;}
	&__wrap{display:table-cell; width:1%; height:80px; vertical-align:middle; padding:0 26px;
		@media only screen and (max-width:$mobile-size){padding:0 8px;}
	}
}

.layer-img{position:absolute; top:50%; right:15%; transform: translateY(-60%); -ms-transform: translateY(-60%);
	width:40.36%; height:49%; background:url('../../images/special/layer_img1.jpg') center center no-repeat; background-size:cover;
	@media only screen and (max-width:$tablet-size){top:auto; right:8%; left:auto; bottom:12%;  width:444px; height:282px; transform: none; background:url('../../images/special/layer_img1_t.jpg') center center; }
	@media only screen and (max-width:$mobile-size){position:relative; right:auto; bottom:auto; width:100%; height:0; margin-top:50px; padding-bottom:63.38%; background:none;
		&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../../images/special/layer_img1_m.jpg') center center; background-size:cover; content:'';}
	}
}

.popup-img{width:380px; margin:40px auto 0;box-sizing: border-box;
	&__box{overflow:hidden; width:100%; height:280px; background:url('../../images/special/special_detail_popup.jpg') no-repeat center center; text-indent:-9999px;}
	&__txt{margin-top:20px; font-size:18px;
		& strong{font-weight:400;}
	}
	@media only screen and (max-width:$mobile-size){width:100%;margin:20px auto 0; padding:0 24px;
		&__box{position:relative; overflow:hidden; width:100%; height:0; background:none;  padding-bottom:87.87%; text-indent:-9999px;
			&:after{display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:url('../../images/special/special_detail_popup_m.jpg') center center; background-size:cover; content:'';}
		}
		&__txt{margin-top:0px; font-size:1.4rem;}
	}
}


.layer-doc5{position:absolute; top:50%; transform: translateY(-50%); -ms-transform:ranslateY(-50%); width:72.81%; height:38%; right:-10%;
	$this:&;
	&:after{display:block; clear:both; content:'';}
	&__list{width:100%; height:100%; margin: 0 0 0 -16px;padding: 0;list-style: none;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; width:33.33%; height:100%; padding-left:16px; box-sizing: border-box;
		&.nth-2{margin-top:77px;
			& #{$this}__wrap{background:url('../images/special/special_detail_layer2.jpg') no-repeat center center; background-size:cover;}
		}
		&.nth-3{
			& #{$this}__wrap{background:url('../images/special/special_detail_layer3.jpg') no-repeat center center; background-size:cover;}
		}
	}
	&__wrap{position:relative; width:100%; height:100%; background:url('../images/special/special_detail_layer1.jpg'); background-size:cover;}
	&__tit{position:absolute; left:0; bottom:0; width:100%; height:35px; line-height:35px; color:#fff; font-size:16px; font-weight:400; text-align:center; background-color:#000; background-color:rgba(0,0,0,0.6);margin: 0;}

	@media only screen and (max-width:$tablet-size){right:0; width:auto; height:auto;
		&__list{margin-left:0;}
		&__item{float:none; width:184px; height:238px; padding:0;
			&.nth-2{margin-top:0; margin-left:-72px;}
			& + &{margin-top:25px;}
		}
		&__tit{height:30px; line-height: 30px; font-size:14px;}
	}
	@media only screen and (max-width:$tablet-size) and (orientation: landscape){
		right: -10%;
		&__list{margin-left: -16px;}
		&__item{float:left; width:33.33%; height:100%; padding-left:16px;
			& + &{margin-top:0;}
			&.nth-2{margin-top:77px; margin-left: 0;}
		}
		&__tit{height: 35px; line-height: 35px; font-size:16px;}
	}
	@media only screen and (max-width:$minpc-size3) and (orientation: landscape){
		width:61%; height:28%;
		&__tit{font-size:12px;}
	}
	@media only screen and (max-width:$mobile-size){position:static; top:auto; transform: none; margin:80px -15px 0;
		&__list{margin-left:-5px;}
		&__item{float:left; width:33.33%; height:auto;  padding-left:5px;
			&.nth-2{margin:0;
				& #{$this}__wrap{
					&:before{background:url('../images/special/special_detail_layer2_m.jpg') no-repeat center center; background-size:cover; }
				}
			}
			&.nth-3{
				& #{$this}__wrap{
					&:before{background:url('../images/special/special_detail_layer3_m.jpg') no-repeat center center; background-size:cover; }
				}
			}
			& + &{margin:0;}
		}
		&__wrap{position:relative; height:0; padding-bottom:137%;
			&:before{position:absolute; top:0; left:0; width:100%; height:100%; background:url('../images/special/special_detail_layer1_m.jpg') no-repeat center center; background-size:cover; content:'';}
		}
		&__tit{height:42px; line-height:1.2; font-size:1.2rem;}
		&__tit-wrap{display:table-cell; width:1%; height:inherit; vertical-align:middle;}
	}
	@media only screen and (max-width:$iphone-size){margin:70px 0 0;}
}
.popup-system{width:388px; margin:0px auto;
	$this:&;
	&__list{margin:36px 0 0 0; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative; width:180px;  color:#fff; list-style:none;
		&:nth-child(even){margin-left:27px;}
		& + & + &{margin-top:17px;
			& #{$this}__wrap{
				&:after{position:absolute; top:-17px; left:0; right:0; display:block; height:17px; width:0; margin:0px auto; border-left:1px solid #828e9f; content:'';}
			}
		}
		&:nth-child(2),&:last-child{
			& #{$this}__wrap{
				&:before{position:absolute; top:0; left:-27px; bottom:0; display:block; height:0; width:27px; margin:auto 0; border-top:1px solid #828e9f; content:'';}
			}
		}
		&:before{position:absolute; top:-2px; left:-8px; width:0px; height:0px; border-top:none; border-bottom:10px solid #fff; border-right:10px solid transparent; border-left:10px solid transparent;
			 transform: rotate(-45deg); -ms-transform: rotate(-45deg); content:'';}
	}
	&__wrap{display:table-cell; width:1%; height:40px; vertical-align:middle; text-align:center; background-color:#061d40;}
	&__tit{margin:0; font-size:14px; font-weight:400;}
	&__txt{font-size:12px; font-weight:300;}
	@media only screen and (max-width:$mobile-size){width:auto;
		&__list{margin-top:0px; margin-left:-10px;}
		&__item{width:50%; padding-left:10px; box-sizing:border-box;
			&:nth-child(even){margin-left:0px;}
			& + & + &{margin-top:10px;
				& #{$this}__wrap{
					&:after{top:-10px; height:10px;  border-left:1px solid #061d40;}
				}
			}
			&:nth-child(2),&:last-child{
				& #{$this}__wrap{
					&:before{left:0px; width:10px; border-top:1px solid #061d40;}
				}
			}
			&:before{position:absolute; top:-4px; left:3px; width:0px; height:0px; border-top:none; border-bottom:10px solid #fff; border-right:10px solid transparent; border-left:10px solid transparent;
				 transform: rotate(-45deg); -ms-transform: rotate(-45deg); content:'';}
		}
		&__wrap{height:46px; }
		&__tit{font-size:1.3rem; word-break: break-all;}
		&__txt{font-size:1.0rem;}
	}
}
.color-special0{color:#092b5d; font-weight:400;}
.color-special1{color:#333333; font-weight:400;}
.color-special2{color:#ffffff; font-weight:400;}
.color-special3{color:#092b5d;}
.color-special4{color:#78a3e8;}
.color-special5{color:#94b3cd;}
.color-special6{color:#41517c;}
.color-special7{color:#1c3da0;}
.color-special8{color:#a6c9ff;}
.color-special9{color:#9bbff6;}
.color-special10{color:#84b4ff;}
.color-special11{color:#b3d0fd;}
.color-special12{color:#05429f;}
.color-special13{color:#003976;}
.color-special14{color:#035dbd !important;}
.color-special15{color:#003378;}
.color-special16{color:#174fa5;}

.color-comma{color:#a3a3a3;}
.style-comma{
	&.type-another{margin-left:-25px; margin-right:20px;
		@media only screen and (max-width:$tablet-size){
			margin-left:-15px; margin-right:0;
		}
		@media only screen and (max-width:$mobile-size){
			margin-left:-7px;
		}
	}
}
