@charset "utf-8";
@import "mixins";

.pmma{padding-left:30px; margin-top:-40px; box-sizing:border-box;
	$this:&;
	&__tit{margin:0; font-size:24px; font-weight:500; color:#333; text-align:left;}
	&__txt{position:relative; margin:0; font-size:15px; color:#333;
		&:before{display:block; width:155px; height:153px; margin:0 auto 12px; background:url('../../images/special/pmma.png'); content:'';}
	}
	&__list{position:relative; margin:36px 0 0 -66px; padding:0;
		&:before{position:absolute; top:-17px; right:0px; display:block; width:219px; height:112px; background:url('../../images/special/magnifier.png'); content:''; z-index:10;}
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position:relative; float:left; width:22.3%; padding-left:66px; text-align:center; box-sizing:border-box; list-style:none;
		&:before{position:absolute; top:68px; left:18px; display:block; width:34px; height:20px; background:url('../../images/special/arrow.png'); content:'';}
		&:first-child:before{display:none;}
		&.nth-2{
			& #{$this}__txt:before{background-position:0 -153px;}
		}
		&.nth-3{
			& #{$this}__txt:before{background-position:0 -306px;}
		}
		&.nth-4{
			& #{$this}__txt:before{background-position:0 -459px;}
		}
	}
	@media only screen and (max-width:$tablet-size){padding-left:0; margin-top:0;
		&__list{margin-left:-7px;
			&:before{display :none;}
		}
		&__item{width:25%; padding-left:7px;
			&:before{position:absolute; top:68px; left:-2px; display:block; width:34px; height:20px; z-index:10;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__tit{font-size:1.7rem;}
		&__txt{font-size:1.3rem;
			&:before{width:120px; height:119px; margin-bottom:5px; background:url('../../images/special/pmma_m.png'); background-size:120px 476px;}
		}
		&__list{ margin-top:20px; margin-left:-52px;}
		&__item{width:50%; padding-left:52px;
			&:before{top:55px; left:14px; display:block; width:26px; height:16px; background:url('../../images/special/arrow_m.png'); background-size:26px 16px;}
			&:nth-child(odd):before{display:none;}
			& + & + &{margin-top:15px;}
			&.nth-1{
				& #{$this}__txt:before{width:100%; height:0; padding-bottom:98.33%; background:url('../../images/special/pmma1_m.png'); background-size:cover;}
			}
			&.nth-2{
				& #{$this}__txt:before{width:100%; height:0; padding-bottom:98.33%; background:url('../../images/special/pmma2_m.png'); background-size:cover;}
			}
			&.nth-3{
				& #{$this}__txt:before{width:100%; height:0; padding-bottom:98.33%; background:url('../../images/special/pmma3_m.png'); background-size:cover;}
			}
			&.nth-4{
				& #{$this}__txt:before{width:100%; height:0; padding-bottom:98.33%; background:url('../../images/special/pmma4_m.png'); background-size:cover;}
			}
		}
	}
}
.pmma-info{
	&__tit{margin:0; font-size:16px; color:#003976; font-weight:600;}
	&__list{margin:12px 0 0; padding:0;}
	&__item{position:relative; padding-left:11px; font-size:13px; font-weight:400; color:#888888; list-style:none;
		& + &{margin-top:5px;}
		&:before{position:absolute; top:9px; left:0; display:block; width:3px; height:3px; background-color:#979294; content:'';}
	}
	@media only screen and (max-width:$tablet-size){position:relative; padding-left:120px;
		&:before{position:absolute; top:0; left:30px; display:block; width:69px; height:77px; background:url('../../images/special/magnifier_t.png'); content:'';}
		&__list{
			&:after{display:block; clear:both; content:'';}
		}
		&__item{float:left; width:50%;
			& + &{margin-top:0px;}
			}
	}
	@media only screen and (max-width:$mobile-size){padding-left:110px;
		&:before{top:4px; left:10px; display:block; width:78px; height:87px; background:url('../../images/special/magnifier_m.png'); background-size:78px 87px; content:'';}
		&__tit{font-size:1.4rem;}
		&__list{margin-top:8px;}
		&__item{width:100%; padding-left:8px; font-size:1.3rem;
			& + &{margin-top:5px;}
			&:before{top:9px; width:2px; height:2px;}
		}
	}
}
.pmma-noti{clear:both; margin-top:46px; font-size:18px; color:#fff;  padding:0 90px 0 30px; line-height:1.5;
	&__txt{margin:0; padding:11px 30px; background-color:#003976; border-radius:38px 38px 38px 38px;}
	& strong{font-weight:500;}
	@media only screen and (max-width:$tablet-size){margin-top:40px; padding:0; font-size:16px;
		&__txt{padding:16px 30px; border-radius:40px 40px 40px 40px;}
	}
	@media only screen and (max-width:$mobile-size){margin-top:25px; font-size:1.4rem;
		&__txt{padding:15px 25px; border-radius:57px 57px 57px 57px;}
	}
}
.age{clear:both; width:960px; margin:0px auto; padding-top:70px;
	$this:&;
	&__list{margin:0px 0px 0px -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{float:left; position:relative; padding-left:16px; width:33.33%; list-style:none; box-sizing:border-box;
		&.nth-2{
			& #{$this}__txt:before{background-position:0 -228px;}
		}
		&.nth-3{
			& #{$this}__txt:before{background-position:0 -456px;}
			&:after{position:absolute; bottom:-20px; right:-60px; display:block; width:103px; height:131px; background:url('../../images/special/mark.png'); content:'';}
		}
	}
	&__txt{margin:0; font-size:17px; font-weight:500; color:#666;
		&:before{display:block; width:312px; height:228px; margin:0px auto 12px; background:url('../../images/special/age.png'); content:'';}
	}
	@media only screen and (max-width:$tablet-size){width:100%; padding-top:40px;
		&__list{margin:0px 0px 0px -8px;}
		&__item{padding-left:8px;
			&.nth-2{
				& #{$this}__txt:before{background-position:0 -152px;}
			}
			&.nth-3{
				& #{$this}__txt:before{background-position:0 -304px;}
				&:after{bottom:-10px; right:-40px;width:82px; height:106px; background:url('../../images/special/mark_m.png');  background-size:82px 106px;}
			}
		}
		&__txt{
			&:before{width:208px; height:152px; background-size:208px 456px;}
		}
	}
	@media only screen and (max-width:$mobile-size){
		&__list{margin:-20px 0px 0px -5px;}
		&__item{width:50%; padding-left:5px; margin-top:20px;
			&.nth-1{
				& #{$this}__txt:before{position:relative; width:100%; height:0;padding-bottom:73.3%; background:url('../../images/special/age1_m.png') no-repeat; background-size:cover; content:'';}
			}
			&.nth-2{
				& #{$this}__txt:before{position:relative; width:100%; height:0;padding-bottom:73.3%; background:url('../../images/special/age2_m.png') no-repeat; background-size:cover; content:'';}
			}
			&.nth-3{
				& #{$this}__txt:before{position:relative; width:100%; height:0;padding-bottom:73.3%; background:url('../../images/special/age3_m.png') no-repeat; background-size:cover; content:'';}
				&:after{bottom:0px; right:-45px;}
			}
		}
		&__txt{font-size:1.4rem;
			&:before{width:auto; height:auto; margin-bottom:5px; background-size:auto;}
		}
	}
}
.artecoll{margin-top:60px; width:1190px; text-align:left; padding-left:0px;
	&__tit{font-size:30px; font-weight:400;}
	&__list{margin:36px 0 0; padding:0;}
	&__item{list-style:none;
		& + &{margin-top:56px;}
	}
	&__subject{position:relative; margin:0; padding-left:30px; font-size:20px; font-weight:500; box-sizing:border-box;
		&:before{position:absolute; top:-2px; left:0; display:block; width:26px; padding:2px 0; background:#333; color:#fff; content:''; text-align:center;}
		&.nth-1:before{content:'1';}
		&.nth-2:before{content:'2';}
	}
	&__txt{margin-top:14px; padding-left:30px; font-size:17px; line-height:1.7;}
	@media only screen and (max-width:$minpc-size3){width:100%;}
	@media only screen and (max-width:$tablet-size){padding-left:0;}
	@media only screen and (max-width:$mobile-size){
		&__tit{font-size:1.8rem;}
		&__list{margin-top:26px;}
		&__item{
			& + &{margin-top:40px;}
		}
		&__subject{padding-left:25px; font-size:1.6rem;
			&:before{width:20px; padding:1px 0 2px;}
		}
		&__txt{margin-top:7px; padding-left:25px; font-size:1.4rem;}
	}
}


.artecoll-box2{
	.type-artecoll-m{display: inline-block; padding: 0 30px;}
	.type-artecoll-m:before{font-size: 37px;top: 10px;}
	.type-artecoll-m:after{font-size: 37px;top: 10px;}
	.quotation2{padding: 2.1% 13%;}
	.quotation2__txt{font-weight: 400;}
	.content-section__wrap.type-short{margin-top: 30px;}
	.brackets__wrap.type-artecoll-m{display: inline-block;padding: 0 30px; box-sizing:border-box;}
	@media only screen and (max-width:$tablet-size){
		.content-section__img{margin-top: 50px; height: auto; font-size:0;}
		.content-section__img img{width: 100%;}
		.type-artecoll-m:before{top: -5px;}
		.type-artecoll-m:after{top: -5px;}
		.brackets__wrap.type-another:after{top: 25px;}
		}

	@media only screen and (max-width:$mobile-size){
		.type-artecoll-m{display: block;padding: 0px 25px; text-align: center;}
		.type-artecoll-m:before{left: 15px; font-size: 4rem; top: 50%; -webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
		.type-artecoll-m:after{right: 15px; font-size: 4rem;top: 50%; -webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
		.brackets__wrap.type-artecoll-m{width: 100%;}
		.brackets__wrap.type-another:after, .brackets__wrap.type-another:before{top: calc(50% - 40px);}
		.quotation2{width: 100%;}
		}
	}
.artecoll-box3{
	@media only screen and (max-width:$tablet-size){
		.content-section__img{margin-top: 50px;}
		.content-section__box.w-4{float: none;}
		}
	@media only screen and (max-width:$mobile-size){
		.content-section__img{margin-top: 50px; height: auto;}
		}
	}

.artecoll-box4{
	.content-section__txt1.type-another{    padding-right: 6%;}
	@media only screen and (max-width:$tablet-size){
		.content-section__txt1.type-another{    padding-right: 0%;}
		}
	@media only screen and (max-width:$mobile-size){padding: 0 15px;}
	}
