@charset "utf-8";
@import "mixins";

	//디자인 필러
	.content-visual{
		$this:&;
		&.type-design{
			#{$this}__txt2{color:#555;
				& strong{color:#333;}
			}
			#{$this}__bg{display:inline-block; padding:5px 40px; background-color:rgba(255,255,255,0.2); border:1px solid rgba(255,255,255,0.2);;}
		}
		@media only screen and (max-width:$tablet-size){
			&.type-design{
				#{$this}__txt2{color:#555;
					& strong{color:#333;}
				}
				#{$this}__bg{display:inline-block; padding:4px 4px 5px 8px; background-color:rgba(255,255,255,0.1);}
			}
		}
	}

	.design-box1{position:relative; text-align:left;
		&__box{
			&.type-txt{width:614px; padding-bottom:85px;}
			&.type-img{position:absolute; bottom:0; right:0; width:100%; padding-left:624px; box-sizing:border-box; font-size:0;
				img{max-width:100%;}
			}
		}
		.content-section__tit{margin-left: 0px;}
		.content-section__exp{font-size:25px; font-weight:400; color:#333;}
		.merit__item{font-weight: 400;}
		&__img{display:none;}
		@media only screen and (max-width:$tablet-size){ padding-top: 0px;
			&__box{
				&.type-txt{width:100%;}
				&.type-img{display:none;}
			}
			&__img{overflow:hidden; display:block; width:100%; height:0; margin-top:40px; padding-bottom:93.57%; background:url('../../images/special/special_design_img02_768.jpg') no-repeat center center / cover; text-indent:-9999px;}
		}
		@media only screen and (max-width:$mobile-size){    padding: 0 7px;
			&__box{
				&.type-txt{padding-bottom:66px;}
			}
			&__img{margin-top:0;}
			.content-section__tit{margin-left: -3px;}
			.content-section__number{left:0;}
			.content-section__exp{font-size:1.7rem;}
		}
	}

	.merit{position:relative; margin-top:85px; padding-left:42px; box-sizing:border-box;
		&:before{position:absolute; top:0; left:0; bottom:0; margin:auto 0; width:140px; height:140px; background:url('../../images/special/special_design_icon1.png'); content:'';}
		&__wrap{width:541px; padding:36px 0px 36px 125px; border:6px solid #8dd7e1; border-radius:20px; box-sizing:border-box;}
		&__tit{margin:0; font-size:22px; font-weight:500; color:#333;
			span{color:#189fd7;}
		}
		&__list{margin:26px 0 0; padding:0;
			&:after{display:block; clear:both; content:'';}
		}
		&__item{position:relative; width:100%; margin-top:16px;padding-left:10px; color:#444; list-style:none;
			&:before{position:absolute; top:0; left:0; bottom:0; margin:auto 0; display:block; width:4px; height:4px; border-radius:50%; background-color:#444; content:'';}
		}
		@media only screen and (max-width:$tablet-size){margin-top:0; margin-left:30px;}
		@media only screen and (max-width:$mobile-size){margin-left:0; padding-left:0;
			&:before{top:-20px; bottom:auto; width:70px; height:70px; background-size:70px;}
			&__wrap{width:100%; padding:16px 24px; border-width:3px;}
			&__tit{text-align:center; font-size:1.7rem;}
			&__list{margin-top:24px;}
			&__item{margin-top:8px;padding-left:7px; font-size:1.4rem;
				&:before{width:2px; height:2px;}
			}
		}
	}

	.design-box2{padding:100px 109px 150px 0; background:url('../../images/special/special_design_img03.jpg') no-repeat center center / cover; text-align:left;
		&__box{padding-left:58%;}
		.content-section__number-wrap{
			&:after{background-color:#fff;}
		}
		.content-section{text-align: left;}
		.content-section__tit{color:#fff;}
		.content-section__tit + .content-section__txt1{margin-top:28px;}
		.content-section__txt1{color:#fff;}
		.content-highlight{display:inline-block; background-color:#fff; color:#427bc7; font-weight:600; padding:5px 0 3px; line-height:1;}
		&__img{display:none;}
		@media only screen and (max-width:$tablet-size){margin:0 -65px; padding:0;
			&__box{padding:50px 65px 90px; background-image:none; background-color:#92b2d9;}
			&__img{overflow:hidden; display:block; width:100%; height:0; padding-bottom:87.76%;  background:url('../../images/special/special_design_img03_768.jpg') no-repeat center center / cover; text-indent:-999px;}
		}
		@media only screen and (max-width:$mobile-size){margin:0 -20px;
			&__box{padding:25px 19px 45px;}
			&__img{padding-bottom:141.56%;  background:url('../../images/special/special_design_img03_640.jpg') no-repeat center center / cover;}
		}
	}
	.design-box3{position:relative; display:block;  width:100%; height:738px; text-align:center; background:url('../../images/special/special_design_img04.jpg') no-repeat center center / cover;
		&__wrap{position:absolute; width:100%; bottom:60px; padding:0 9.3%; box-sizing:border-box;}
		&__txt{display:block; width:100%; padding:26px 0; color:#fff; border:1px solid rgba(255,255,255,0.3); font-size:22px; font-weight:400; background-color:rgba(2,52,136,0.3); letter-spacing:6px; line-height:1.5;box-sizing: border-box;}
		@media only screen and (max-width:$tablet-size){width:auto; height:0; margin:0 -65px; padding-bottom:97.39%; background:url('../../images/special/special_design_img04_768.jpg') no-repeat center center / cover;
			&__wrap{padding:0 30px; position:absolute; width:100%; bottom:50px;}
		}
		@media only screen and (max-width:$mobile-size){margin:0 -20px; padding-bottom:267.5%; background:url('../../images/special/special_design_img04_640.jpg') no-repeat center center / cover;
			&__wrap{bottom:25px; padding:0 15px;}
			&__txt{padding:22px 28px; font-size:1.4rem; letter-spacing:4px;}
		}
	}
	.design-box4{ padding:0 15.625%;
		.content-section__tit.type-left{text-align: center;}
		.content-highlight4{position:relative; display:inline-block;
			&:after{position:absolute; width:100%; height:30%; bottom:0; left:0;  background-color:#d9f1fc; content:''; z-index:-1;}
		}
		&__wrap{position:relative; }
		&__box{padding-right:126px;}
		&__img{position:relative; top:0; left:0; width:100%; height:0; margin-top:110px; padding-bottom:150.13%; background:url('../../images/special/special_design_img05.jpg') no-repeat center center / cover; text-indent:-9999px; font-size:0;
			&:before{position:absolute; top:-38px; right:-38px; width:320px; height:566px; background-color:#ecf7fb; z-index:-1; content:'';}
		}

		&__tit{margin-top:14px;  text-align: left; color:#333;}
		&__tit.txt-v5{font-weight: 400;}
		&__txt{margin-top:10px; text-align: left; color:#666;}
		@media only screen and (max-width:$tablet-size){ padding:0;
			&__box{padding-right:82px;}
			&__img{
				&:before{position:absolute; top:-38px; right:-38px; width:248px; height:408px; background-color:#ecf7fb; z-index:-1; content:'';}
			}
		}
		@media only screen and (max-width:$mobile-size){
			&__box{padding-right:70px;}
			&__img{margin-top:35px;
				&:before{top:-15px; right:-15px; width:100px; height:174px;}
			}
			&__tit{margin-right:-70px;}
			&__txt{margin-top:14px; margin-right:-70px; font-size:1.4rem;}
		}
	}

	.design-vertical{position:absolute; bottom:200px; right:-286px; color:#333; text-align:left; -ms-transform: rotate(90deg);transform: rotate(90deg);
		&__tit{margin:0; font-size:34px; font-weight:600; font-family:$font-pt;
			span{color:#0f63ce;}
		}
		&__txt{margin:0; padding-left:80px; font-size:16px; font-weight:400; box-sizing:border-box;
			span{color:#0254a1;}
		}

		@media only screen and (max-width:$tablet-size){right: -257px;}
		@media only screen and (max-width:$mobile-size){bottom:164px; right:-197px;
			&__tit{font-size:2.4rem;}
			&__txt{padding-left:50px; font-size:1.4rem;}
		}
	}

	.design-box5{margin-top:60px; padding:16px; background:url('../../images/special/special_design_img06.jpg') no-repeat center center / cover;
		&__border{padding:190px 0 90px; border:1px solid #4c4946;}
		&__tit{ color:#fff; }
		&__tit.tit-v2{font-weight: 400;}
		&__point{color:#49acff; line-height:1.7;}
		&__txt{position:relative; font-size:17px; line-height:1.7; color:#d6d6d6; word-break:keep-all;
			&:before{display:block; width:2px; height:31px; margin:16px auto 10px; background:url('../../images/special/special_design_icon2.png') no-repeat center center / cover; content:'';}
		}
		@media only screen and (max-width:$tablet-size){margin:60px -65px 0; padding:15px;
			&__border{padding:190px 50px 40px}
		}
		@media only screen and (max-width:$mobile-size){margin:25px -20px 0; padding:8px; background:url('../../images/special/special_design_img06_640.jpg') no-repeat center center / cover;
			&__border{padding:60px 14px 44px;}
			&__tit{font-size:1.6rem;}
			&__txt{font-size:1.4rem;
				&:before{display:block; width:2px; height:15px; margin:14px auto 14px; background:url('../../images/special/special_design_icon2_m.png') no-repeat center center / 2px 15px; }
			}
		}
	}

	.design-box6{ padding-bottom: 98px;
		$this:&;
		&__wrap{padding:0 11.32%;
			&.type-another{position:absolute; left:0; bottom:-98px;}
		}
		.content-section{    position: relative;padding: 100px 0 0;background-color: #b2d3d8;text-align: left;}
		.content-highlight{display:inline-block; background-color:#333333; color:#fff; font-weight:600;  padding:5px 0 3px; line-height:1;}
		.content-section__tit{ color:#333; margin-left: -30px;}
		.content-section__exp{font-size:25px; font-weight:400; color:#333;}
		&__img{position:relative; top:0; left:0; margin-top: -1px; width:100%; height:0; padding-bottom:74.789%; background:url('../../images/special/special_design_img07.png') no-repeat center center / cover; text-indent:-9999px; font-size:0;}
		&__list{margin:0 0 0 -16px; padding:0;
			&:after{display:block; clear:both; content:'';}
		}
		&__item{float:left; width:33.33%; padding-left:16px; box-sizing:border-box; list-style:none;
			&.nth-1{
				#{$this}__box:before{ background:url('../../images/special/special_design_layer2.jpg') no-repeat center center / cover;}
			}
			&.nth-2{
				#{$this}__box:before{ background:url('../../images/special/special_design_layer3.jpg') no-repeat center center / cover;}
			}
			&.nth-3{
				#{$this}__box:before{ background:url('../../images/special/special_design_layer4.jpg') no-repeat center center / cover;}
			}
		}
		&__border{padding:5px 5px 0 5px; background-color:#54a6b2;}
		&__txt{display:table-cell; width:1%; height:45px; font-size:18px; color:#fff; text-align:center; vertical-align:middle;}
		&__box{
			&:before{position:relative; display:block;  width:100%; height:0; padding-bottom:67.36%; content:'';}
		}

		@media only screen and (max-width:$tablet-size){
			.content-section{margin:0px -65px 0; margin-top: 100px;}
			&__wrap{padding:0 65px;
				&.type-another{padding:0 20px;}
			}
			&__box{
				&:before{padding-bottom:102.75%;}
			}
			&__item{float:left; width:33.33%; padding-left:16px;
				&.nth-1{
					#{$this}__box:before{ background:url('../../images/special/special_design_layer2_768.jpg') no-repeat center center / cover;}
				}
				&.nth-2{
					#{$this}__box:before{ background:url('../../images/special/special_design_layer3_768.jpg') no-repeat center center / cover;}
				}
				&.nth-3{
					#{$this}__box:before{ background:url('../../images/special/special_design_layer4_768.jpg') no-repeat center center / cover;}
				}
			}
		}
		@media only screen and (max-width:$mobile-size){ padding-bottom: 45px;
			.content-section{margin: 0 -20px 0; margin-top: 50px;  padding-top:34px; background-color:#b2d3d8;}
			&__wrap{padding:0 35px;
				&.type-another{    padding: 0 20px; bottom: -45px;}
			}
			.content-section__tit{ color:#333; margin-left: -15px;}
			&__list{margin-left:-5px;}
			&__item{padding-left:5px;}
			&__txt{font-size:1.2rem; line-height:1.4;}
			&__img{padding-bottom:116.25%; background:url('../../images/special/special_design_img07_640.jpg') no-repeat center center / cover;}
			.content-section__tit{padding-top:64px;}
			.content-section__number{left:-15px;}
			.content-section__exp{font-size:1.7rem;}
			.content-section__info{
				position:static;

				.info-btn{
					text-align: left;
				}
			}
			.content-section__rel{position:relative;}
		}
	}
