@charset "UTF-8";
@import "../mixins";

.cont{padding-top:50px; box-sizing:border-box;font-size: 0;
    img{width:100%; vertical-align:middle;}

    @media only screen and (max-width: $tablet-size){
        padding-top:60px;
    }
    @media only screen and (max-width: $mobile-size){
        padding-top:50px;
    }
}

.cont-box1{padding-top: 6.3%;
    $this:&;

    &.nth-1{background-color: #fdeef1;}
    &.nth-2{background-color: #ecf5f4;
        #{$this}__head{float: right;}
        #{$this}__btn{bottom: 3.89%;}
    }
    &.nth-3{background-color: #fcdfe1;
        #{$this}__btn{bottom: 0;}
    }

    &__wrap{padding: 0 18.75%;font-size: 0;box-sizing: border-box;
        &:after{content: '';display: block;clear: both;}
    }
    &__head{float: left;width: 57.25%;}
    &__body{position: relative;float: left;width: 42.75%;}
    &__btn{position: absolute;bottom: 6.72%;right: 0;}
    &__link{display: block;border: 0;}

    @media only screen and (max-width: $tablet-size){
        padding-top: 0;

        &__wrap{padding: 0;}
        &__head{float: none;width: 100%;}
        &__body{position: static;float: none;width: 100%;}
        &__btn{position: static;padding: 0 18.05%;}
    }
}
