@charset "utf-8";
@import "mixins";
//공통파일은 포토에 있음
.review{padding-bottom:26px; border-bottom:1px solid #eee; box-sizing:border-box;
	&__noti{margin:26px 0 0 0; text-align:center; font-size:12px; color:#8a8a8a; line-height:1.7;}
	&__point{display:block; font-size:13px; color:$black3;}
	&.type-view{border-bottom:2px solid #666;}
	@media only screen and (max-width: $mobile-size) {
		&__noti{font-size:1rem;}
		&__point{margin-bottom:6px; font-size:1.1rem;}
	}
}
//공통
.gender{position:relative;
	$this:&;
	&__form{text-align:center; font-size:0;}
	&__label{display:inline-block; width:62px; height:63px; cursor:pointer;}
	&__input{overflow: hidden; position: absolute; top: auto; width: 1px; height: 1px; padding: 0; margin: -1px; border: 0; clip: rect(0, 0, 0, 0);
		&.type-f{
			& + #{$this}__label{background:url('../images/review/photo/gender_f_off.png') no-repeat center center / contain;}
			&:checked{
				& + #{$this}__label{background:url('../images/review/photo/gender_f_on.png') no-repeat center center / contain;}
			}
		}
		&.type-m{
			& + #{$this}__label{margin-left:10px; background:url('../images/review/photo/gender_m_off.png') no-repeat center center / contain;}
			&:checked{
				& + #{$this}__label{background:url('../images/review/photo/gender_m_on.png') no-repeat center center / contain;}
			}
		}
	}
	@media only screen and (max-width: $mobile-size) {
		&__label{width:50px; height:50px;}
	}
}

.keyword-result{width:100%; height: 80px; display: inline-table; vertical-align: top; margin-top: 50px; border: 5px solid #eee;
	&__inner{display: table-cell; vertical-align: middle; text-align: center; font-size: 18px; color: #2d2d2d; word-break: keep-all;}
	@media only screen and (max-width: $tablet-size) {margin-top:30px;}
	@media only screen and (max-width: $mobile-size) {border-width:2px;
		&__inner{font-size:1.4rem;}
	}
}

.photo-keyword{width: 100%; margin-top:40px; padding:0 108px; box-sizing:border-box;
	&__box{width: 100%; padding: 7px 34px 7px 0;; border: 1px solid #E3E3E3; border-radius: 50px; background: #FCFCFC; box-sizing:border-box;}
	&__wrap{position:relative; width:100%;}
	&__label{position:absolute; top:0; left:35px; bottom:0; display:inline-block; width:27px; height:20px; margin:auto 0; background:url('../images/review/photo/photo_off.png') no-repeat center center / contain; text-indent: -9999px;
		&.is-focus{background: url('../images/review/photo/photo_on.png') no-repeat center center / contain;}
	}
	&__area{position:relative; padding:0 20px 0 78px;
		&:before{position:absolute; top:0; left:78px; bottom:0; display:block; width:0; height:15px; margin:auto 0; border-left:1px solid #ddd; content:'';}
	}
	&__input{width:100%; height:34px; border: 0; padding: 6px 15px; font-size: 13px; color: #333; box-sizing:border-box; background:transparent; outline:0;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #8d8d8d;}
		&::-moz-placeholder { /* Firefox 19+ */  color: #8d8d8d;}
		&:-ms-input-placeholder { /* IE 10+ */ color: #8d8d8d;}
		&:-moz-placeholder { /* Firefox 18- */ color: #8d8d8d;}
	}
	&__btn{overflow:hidden; position:absolute; top:0; bottom:0; right:0; width: 20px; height:20px; margin:auto 0;border: 0; background: url('../images/common/search_common.png') no-repeat center center / contain; border-radius: 0; outline: 0; z-index:10;
		cursor:pointer; text-indent:-9999px;}
	@media only screen and (max-width: $tablet-size) {margin-top:30px; padding:0;}
	@media only screen and (max-width: $mobile-size) {
		&__box{padding:3px 22px 3px 0;}
		&__area{padding:0 14px 0 54px;
			&:before{left:54px; height:12px;}
		}
		&__label{left:21px; width:22px; height:16px;}
		&__input{padding:3px 7px; font-size:1.2rem;}
		&__btn{width:14px; height:14px;}
	}
}
.photo-slide{position:relative; margin-top:50px; padding:0 40px; box-sizing:border-box;
	$this:&;
	&.type-thum{margin-top:0; padding:0;
		#{$this}__txtarea{display:block; width:auto; height:auto; padding:15px 20px; text-align:left;}
		#{$this}__txt{overflow:hidden; display:-webkit-box; width:auto; -webkit-line-clamp: 2; -webkit-box-orient:vertical; word-wrap:break-word; height:42px; text-overflow: ellipsis;}
		#{$this}__wrap{display:block; border-bottom:5px solid $color-point;}
		#{$this}__img{display:block;}
		#{$this}__cate{display:none;}
		#{$this}__box{
			&.type-after{
				#{$this}__cate{top:auto; left:auto; right:auto; bottom:0; display:block; width:100%; text-align:center; background:transparent; font-size:12px; color:#3e3e3e;}
			}
		}
	}
	&.type-main{
		#{$this}__list{display:inline-block; left:auto; right:0; bottom:0;}
		#{$this}__wrap{display:block; position:relative; border:none; padding-bottom:48px;}
		#{$this}__item{background-color:#fff;
			&.is-active{background-color:#666;
				#{$this}__link{color:#fff;}
			}
			& + #{$this}__item{margin-left:3px;}
		}
		#{$this}__link{width:38px; height:38px; border:1px solid #666666; font-size:11px; color:#888; line-height:38px;}
		#{$this}__txt{font-size:18px; color:#fffbe7;}
		#{$this}__btn{bottom:48px;}
		#{$this}__vertical{text-align:center;}
		#{$this}__area{border-bottom:5px solid $color-point;}
	}
	&__popup{position:absolute; left:0; bottom:0; width:100%; background:rgba(20,22,26,0.7);}
	&__slide{z-index:60;}
	&__inner{height:80px;}
	&__vertical{overflow:hidden; display:table-cell; height:inherit; padding:5px 60px; vertical-align:middle; box-sizing:border-box; text-align:left;}
	&__wrap{display:none; border:1px solid #E3E3E4; box-sizing:border-box;
		&.is-active{display:block;}
		&.type-big{cursor:move;}
	}
	&__box{position:relative; float:left; width:50%;
		&.type-after{
			#{$this}__cate{background-color:#353535;}
		}
	}
	&__cate{position:absolute; top:0; left:0; padding: 7px 12px 5px; background: #6F6F6F; color:#fff; z-index:45; box-sizing:border-box;}
	&__img{display:none; width:100%; height:0; padding-bottom:106.66%;
		&.is-active{display:block;}
	}
	&__txtarea{display:table-cell; width:1%; height:68px; padding:10px 20px; border-top:1px solid #E3E3E4; vertical-align:middle; background-color:#fcfcfc; text-align:center; box-sizing:border-box;
		.point-color{background-color:#fffcc6;}
	}
	&__tit{display:none; margin:0; font-size:40px; font-weight:$medium; color:#fff;}
	&__txt{margin:0;font-size:14px; color:$black1; line-height:1.5;  box-sizing:border-box;}
	&__bar{display:none; margin:20px 0 0 0; font-size:29px; font-weight:100; transform:rotate(26deg); color:#fff;}
	&__area{position:relative; border:1px solid #E3E3E4; border-bottom:none;  box-sizing:border-box;
		&:after{display:block; clear:both; content:'';}
	}
	&__list{position:absolute; left:0; bottom:0px; right:0; margin:0; padding:0; text-align:center; font-size:0; z-index:45; text-align:center;}
	&__item{display:inline-block; background-color:#7B7B7B; list-style:none;
		& + &{margin-left:1px;}
		&.is-active{background-color:$color-point;}
	}
	&__link{display:block; width:108px; height:50px; line-height:50px; font-size:13px; color:#fff; text-decoration:none;}
	&__btn{overflow:hidden; position:absolute; top:0; bottom:0; margin:auto 0; z-index:65;
		display:block; width:70px; height:60px; text-indent:-9999px;
		&.type-prev{left:0px; background:url('../images/review/photo/photo_arrow_prev.png');}
		&.type-next{right:0px; background:url('../images/review/photo/photo_arrow_next.png');}
	}
	&__noti{margin:8px 0 0 0; font-size: 13px; color: #aaa; text-align:center;}
	&__view{display:none;}
	&__part{color:inherit; text-decoration:none;}
	@media only screen and (max-width: $tablet-size) {margin-top:30px; padding:0;
		&.type-thum{margin-top:0; padding:0;
			#{$this}__txt{-webkit-line-clamp:1;  height:19px; }
			#{$this}__txtarea{display:block; width:auto; height:auto; padding:14px;}
		}
		&.type-main{
			#{$this}__list{display:inline-block; left:0; right:0; bottom:5px; margin:0px auto;}
			#{$this}__wrap{position:static; padding-bottom:0;}
			#{$this}__txt{margin-top:24px; color:$color-point;}
			#{$this}__btn{display:block; bottom:0;
				&.type-prev{left:-35px;}
				&.type-next{right:-35px;}
			}
		}
		&__btn{display:none;}
		&__txt{overflow:hidden;}
		&__popup{display:none;height:100%; border:1px solid #898989; z-index:65; background:rgba(0, 0, 0, 0.85); box-sizing:border-box;
			&.is-active{display:block;}
		}
		&__inner{display:inline-table; height:100%;}
		&__tit{display:block;}
		&__bar{display:inline-block;}
		&__vertical{width:auto;}
		&__view{overflow:hidden; position:absolute; bottom:44px; right:10px; display:none; width:48px; height:48px; background:url('../images/main/more.png') no-repeat center center;
			text-indent:-9999px; z-index:60;
			&.is-active{display:block;}
		}
	}
	@media only screen and (max-width: $mobile-size) {padding:0 50px;
		&.type-thum{
			#{$this}__txtarea{display:none;}
			#{$this}__box{width:50%;}
			#{$this}__cate{min-width:auto; font-size:1.0rem;}
			#{$this}__wrap{border-width:3px;}
		}
		&.type-main{padding:0;
			#{$this}__item{position:relative; display:inline-block; padding:0 7px; background-color:transparent;
				&.is-active{background-color:transparent;
					#{$this}__link{color:$color-point;}
				}
				&:before{position:absolute; top:0; bottom:0; left:0; width:0; height:10px; border-left:1px solid #d6d6d6; content:'';}
				&:first-child{
					&:before{display:none;}
				}
				& + #{$this}__item{margin-top:0;}
			}
			#{$this}__link{width:auto; height:auto; border:none; line-height:1; font-size:1.3rem;}
			#{$this}__wrap{padding-bottom:30px;}
			#{$this}__txt{margin-top:15px; font-size:1.4rem;}
			#{$this}__btn{bottom:30px; width:50px; height:70px;
				&.type-prev{background:url('../images/review/photo/photo_arrow_prev_m.png') no-repeat center center / contain;}
				&.type-next{background:url('../images/review/photo/photo_arrow_next_m.png') no-repeat center center / contain;}
			}
			#{$this}__area{border-bottom-width:3px;}
		}
		&__box{width:100%;}
		&__cate{min-width:70px; padding:4px 7px 5px 6px; font-size:1.1rem; text-align:center; letter-spacing:-1px;}
		&__txtarea{display:block; width:auto; height:auto; padding:5%;}
		&__tit{font-size:2.1rem;}
		&__txt{font-size:1.3rem;}
		&__noti{font-size:1.2rem;}
		&__area{position:static;}
		&__bar{margin-top:10px; font-size:1.5rem;}
		&__list{left:0; right:auto; bottom:0; width:auto;}
		&__item{display:block;
			& + &{margin-top:5px; margin-left:0;}
		}
		&__vertical{padding:5px 45px;}
		&__link{display:table-cell; width:45px; height:50px; line-height:1.2; font-size:1.1rem; vertical-align:middle;}
		&__view{width:45px; height:45px; background:url('../images/main/more_m.jpg') no-repeat center center / contain;}
	}
}
.photo-thum{margin-top:50px;
	$this:&;
	&__list{margin:0 0 0 -16px; padding:0;
		&:after{display:block; clear:both; content:'';}
	}
	&__item{position:relative; float:left; width:25%; padding-left:16px; list-style:none; box-sizing:border-box; list-style:none;
		&.is-active{
			#{$this}__link{box-shadow: inset 0px 0px 0px 5px rgba(252,108,45,1); }
		}
	}
	&__link{position:absolute; top:0; left:0; display:block; width:100%; height:100%; overflow:hidden; text-indent:-9999px; font-size:0; z-index:30;}
	@media only screen and (max-width: $tablet-size) {margin-top:30px;
		&__list{margin-left:-12px;}
		&__item{width:50%; padding-left:12px;
			& + & + &{margin-top:30px;}
		}
	}
	@media only screen and (max-width: $mobile-size) {margin-top:25px;
		&__item{
			& + & + &{margin-top:20px;}
			&.is-active{
				#{$this}__link{box-shadow: inset 0px 0px 0px 3px rgba(252,108,45,1); }
			}
		}
	}
}

.photo-dim{position:absolute; width:100%; height:100%; padding:15%; background-color:rgba(0,0,0,0.6); z-index:40; box-sizing:border-box;
	&__box{display:inline-table; width:100%; height:100%; background-color:rgba(0,0,0,0.9); text-align:center; color:#fff;}
	&__vertical{display:table-cell; padding:0 10px; box-sizing:border-box; vertical-align:middle;}
	&__txt{margin:0; font-size:15px;}
	&__point{color:#ff4d4a;}
	&__tit{margin:60px 0 0 0; font-size:18px; font-weight:$regular; line-height:1.5;}
	&__btn{display:inline-block; width:200px; margin-top:8.7%; padding:13px 0 14px; font-size:15px; border:1px solid #fff; border-radius:25px;
		text-transform: uppercase; color:inherit; transition:all 0.3s; text-decoration:none;
		&:hover{background-color:#fff; color:$black1;}
	}
	@media only screen and (max-width: $tablet-size) {padding:30px;
		&__txt{font-size:14px;}
		&__tit{margin-top:40px; font-size:15px;}
		&__btn{width:174px; font-size:13px;
			&:hover{background-color:transparent; color:#fff;}
		}
	}
	@media only screen and (max-width: $mobile-size) {padding:0; background-color:rgba(0,0,0,0.9);
		&__box{background-color:transparent;}
		&__txt{display:none;}
		&__tit{font-size:1.4rem;}
		&__btn{width:145px; margin-top:16px; padding:8px 0 9px; font-size:1.3rem;}
	}
}

.photo-dim-s{position:absolute; top:0; left:0; width:100%; height:100%; padding:4px; background-color:rgba(74,74,75,0.9); z-index:1; box-sizing:border-box; text-align:center;
	&__box{display:inline-table; width:100%; height:100%; border:1px solid #848282; background-color:rgba(51,51,51,0.6); box-sizing:border-box;}
	&__vertical{display:table-cell; vertical-align:middle;}
	&__txt{margin:0; font-size:17px; color:#a5a4a4;}
	@media only screen and (max-width: $tablet-size) {
		&__txt{font-size:20px;}
	}
	@media only screen and (max-width: $mobile-size) {padding:2px;
		&__txt{font-size:1.1rem;}
	}
}
