
/*가슴확대술*/

/*공통*/

.type-chest-extension {

	.item-box2__tit {color: #fff;}
	.item-box2__txt1 {color: #fff;}
	.item-box2__outer {border: 4px solid #8c25f9;
		@media only screen and (max-width:$mobile-size) {
			border-width: 2px;
			}

		}
	.item-box2__inner {display: block;border: none;padding: 30px 9.5% 25px; height: auto; box-sizing:border-box;}
	.item-box2__thumb {
		font-size: 0;
		position: relative;
		height: 0;
		padding-bottom: 42.41%;
		background: 50% 50% / cover no-repeat;
		@media only screen and (max-width:$tablet-size){
			padding-bottom: 71.47%;
			}
		@media only screen and (max-width:$mobile-size) {
			padding-bottom: 40.49%;
			}
		&:before {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			content: '';
			}
		&.type-pic1 {
			&:before {
				background: url(../../images/chest/chest_extention_img04.jpg) 50% 50% / cover no-repeat;
				@media only screen and (max-width:$tablet-size){
					background: url(../../images/chest/chest_extention_img04_768.jpg) 50% 50% / cover no-repeat;
					}
				@media only screen and (max-width:$mobile-size) {background: url(../../images/chest/chest_extention_img04_680.jpg) 50% 50% / cover no-repeat;
					background: url(../../images/chest/chest_extention_img04_680.jpg) 50% 50% / cover no-repeat;
					}
				}
			}
		&.type-pic2 {
			&:before {
				background: url(../../images/chest/chest_extention_img05.jpg) 50% 50% / cover no-repeat;
				@media only screen and (max-width:$tablet-size){
					background: url(../../images/chest/chest_extention_img05_768.jpg) 50% 50% / cover no-repeat;
					}
				@media only screen and (max-width:$mobile-size) {
					background: url(../../images/chest/chest_extention_img05_680.jpg) 50% 50% / cover no-repeat;
					}
				}
			}
		&.type-pic8 {
			&:before {
				background: url(../../images/chest/chest_extention_img11.jpg) 50% 50% / cover no-repeat;
				@media only screen and (max-width:$tablet-size){
					background: url(../../images/chest/chest_extention_img11_768.jpg) 50% 50% / cover no-repeat;
					}
				@media only screen and (max-width:$mobile-size) {
					background: url(../../images/chest/chest_extention_img11_680.jpg) 50% 50% / cover no-repeat;
					}
				}
			}
		&.type-pic9 {
			&:before {
				background: url(../../images/chest/chest_extention_img12.jpg) 50% 50% / cover no-repeat;
				@media only screen and (max-width:$tablet-size){
					background: url(../../images/chest/chest_extention_img12_768.jpg) 50% 50% / cover no-repeat;
					}
				@media only screen and (max-width:$mobile-size) {
					background: url(../../images/chest/chest_extention_img12_680.jpg) 50% 50% / cover no-repeat;
					}
				}
			}
		&.type-pic10{
			&:before {
				background: url(../../images/chest/chest_extention_img13.jpg) 50% 50% / cover no-repeat;
				@media only screen and (max-width:$tablet-size){
					background: url(../../images/chest/chest_extention_img13_768.jpg) 50% 50% / cover no-repeat;
					}
				@media only screen and (max-width:$mobile-size) {
					background: url(../../images/chest/chest_extention_img13_680.jpg) 50% 50% / cover no-repeat;
					}
				}
			}
		&.type-pic11{
			&:before {
				background: url(../../images/chest/chest_extention_img14.jpg) 50% 50% / cover no-repeat;
				@media only screen and (max-width:$tablet-size){
					background: url(../../images/chest/chest_extention_img14_768.jpg) 50% 50% / cover no-repeat;
					}
				@media only screen and (max-width:$mobile-size) {
					background: url(../../images/chest/chest_extention_img14_680.jpg) 50% 50% / cover no-repeat;
					}
				}
			}
		}
	.item-box2__list {margin:40px 0 0 -20px; padding:0;
		@media only screen and (max-width: $mobile-size){
			margin: 0;
			margin-top: 23px;
			}

		}
	.item-box2__item{display: block; padding-left: 20px; float: left; width: 50%; list-style:none; box-sizing:border-box;
		@media only screen and (max-width: $mobile-size){
			width: 100%;
			float: none;
			padding: 0;
			& + .item-box2__item{margin-top: 17px;}
			}

		}
	.extension-box1 {
		margin-top: 83px;
		@media only screen and (max-width:$mobile-size) {
			margin-top: 51px;
			}

		.item-box2__outer {border-color: #8c25f9;}
		.item-box2__inner {background-color: #6b1ac1;}
		}
	.extension-box2 {
		@media only screen and (max-width: $mobile-size){
			margin-top: 75px;
			}
		.kind-req__tit {color: #333333;}
		.kind-req__tit:before {background-color: #333;}
		}
	.extension-box3{
		@media only screen and (max-width: $tablet-size) {}
		@media only screen and (max-width: $mobile-size) {
			margin-top: 75px;
			}
		.info-btn__icon{top: 2px;}

		.item-box2__thumb{

			@media only screen and (max-width: $tablet-size) {}
			@media only screen and (max-width: $mobile-size) {
				height:0;
				padding-bottom: 38.98%;

				}
			}
		.item-box2__inner{background-color: #590ea8;}
		.item-box2__outer{border-color: #450687;}
		}
	.extension-box4 {
		@media only screen and (max-width: $mobile-size) {
			margin-top: 75px;
			}
		.item-box2__list{margin: 0; margin-top: 40px;
			@media only screen and (max-width: $mobile-size) {
				margin-top: 23px;
				}
			}
		.item-box2__item {width: 33.33%;
			@media only screen and (max-width: $tablet-size) {
				width: 100%;
				float: none;
				padding: 0;
				display: table;
				& + .item-box2__item{margin-top: 25px;}
				}
			@media only screen and (max-width: $mobile-size) {
				display: block;
				}


			}
		.item-box2__thumb {
			@media only screen and (max-width:$tablet-size){
				display: table-cell;
				width: 50%;
				height: auto;
				padding-bottom:  46.15%;
				}
			@media only screen and (max-width:$mobile-size) {
				width: 100%;
				}
			@media only screen and (max-width:$mobile-size) {
				height: 0;
				display: block;
				}
			&.type-pic12 {
				background-size: cover;
				background-image: url(../../images/chest/chest_extention_img15.jpg);
				@media only screen and (max-width:$tablet-size){
					background-size: cover;
					background-image: url(../../images/chest/chest_extention_img15_768.jpg);
					}
				@media only screen and (max-width:$mobile-size) {
					background-image: url(../../images/chest/chest_extention_img15_680.jpg);
					-webkit-background-size: cover;
					background-size: cover;
					}
				}
			&.type-pic13 {
				background-size: cover;
				background-image: url(../../images/chest/chest_extention_img16.jpg);
				@media only screen and (max-width:$tablet-size){
					background-size: cover;
					background-image: url(../../images/chest/chest_extention_img16_768.jpg);
					}
				@media only screen and (max-width:$mobile-size) {
					background-image: url(../../images/chest/chest_extention_img16_680.jpg);
					-webkit-background-size: cover;
					background-size: cover;
					}
				}
			&.type-pic14 {
				background-size: cover;
				background-image: url(../../images/chest/chest_extention_img17.jpg);
				@media only screen and (max-width:$tablet-size){
					background-size: cover;
					background-image: url(../../images/chest/chest_extention_img17_768.jpg);
					}
				@media only screen and (max-width:$mobile-size) {
					-webkit-background-size: cover;
					background-size: cover;
					background-image: url(../../images/chest/chest_extention_img17_680.jpg);
					}
				}
			}
		.item-box2__outer{border-color: #450687;}
		.item-box2__inner{background-color: #690ccb;
			@media only screen and (max-width:$tablet-size){
				width: 50%;
				display: table-cell;
				padding: 0 17px;
				}
			@media only screen and (max-width:$mobile-size) {
				width: 100%;
				display: block;
				padding: 25px 18px;
				}
			}
		}
	.interaction {
		.content-section__wrap{margin-left: 0;}
		.content-section {
			position: relative;
			text-align: center;
			}
		.content-section__tit.type-left{
			text-align: left;
			}
		.content-section__txt1{
			position: relative;
			top: -8px;
			padding-right: 40px;
			margin-top: 0;
			@media only screen and (max-width:$tablet-size){
				top: 0;
				margin-top: 40px;
				}
			@media only screen and (max-width:$mobile-size) {
				padding: 0px;
				margin-top: 25px;
				}
			}
		.content-section__wrap {
			@media only screen and (max-width: 1200px) {
				position: relative;
				padding-left: 286px;
				}
			@media only screen and (max-width:$tablet-size){
				padding: 0;
				}
			}
		.content-section__item {
			float: left;
			width: 67%;
			@media only screen and (max-width: 1200px) {
				}
			@media only screen and (max-width:$tablet-size){
				float: none;
				width: auto;
				}
			&.type-width {
				float: left;
				width: 33%;
				@media only screen and (max-width: 1200px) {
					position: absolute;
					left: 0;
					top: 0;
					}
				@media only screen and (max-width:$tablet-size){
					position: static;
					float: none;
					width: auto;
					}

				}
			}
		.content-section__img {
			background: url(../../images/chest/chest_extention_img02.jpg) 50% 50% / cover no-repeat;
			padding-top: 74.74%;
			@media only screen and (max-width:$tablet-size){
				position: relative;
				width: 100%;
				height: 0;
				padding-top: 71.69%;
				background: none;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: url(../../images/chest/chest_extention_img02_768.jpg) 50% 50% / cover no-repeat;
					}
				}
			}
		.content-section__desc {
			padding-left: 30px;
			text-align: left;
			@media only screen and (max-width:$tablet-size){
				padding: 0;
				}
			}
		}
	.kind-req {
		&__tit {
			margin: 80px 0 0;
			position: relative;
			color: #FFFFFF;
			text-align: center;
			font-weight: 600;
			font-size: 26px;
			@media only screen and (max-width:$mobile-size) {
				font-size: 2rem;
				margin-top: 0;
				}
			}
		&__tit:before {
			content: "";
			display: inline-block;
			position: absolute;
			left: calc(50% - 12px);
			top: -24px;
			width: 24px;
			height: 2px;
			background-color: #fff;
			@media only screen and (max-width:$mobile-size) {
				width: 12px;
				height: 1px;
				left: calc(50% - 6px);
				top: -12px;
				}
			}

		.content-section {
			position: relative;
			@media only screen and (max-width:$mobile-size) {
				padding-bottom: 0;
				}
			}
		.content-section__tit {text-align: center;}
		.content-section__bg-wrapper {
			padding: 0 7px;
			}
		.content-section__wrapper {
			background: #f5f5f5 url(../../images/chest/chest_extention_img03.jpg) 0 0 no-repeat;
			-webkit-background-size: 100%;
			background-size: 100%;
			padding: 0 9%;
			padding-bottom: 98px;
			margin-top: 65px;
			@media only screen and (max-width: 1200px) {
				}
			@media only screen and (max-width:$tablet-size){
				-webkit-background-size: auto;
				background-size: auto;
				padding: 0 35px;
				padding-bottom: 95px;
				margin: 0 -65px;
				margin-top: 70px;
				background-position: top center;

				}
			@media only screen and (max-width:$mobile-size) {
				position: relative;
				background: none;
				margin: 0 -20px;
				margin-top: 50px;
				padding: 0 19px 35px;
				background-color: #f5f5f5;
				z-index: -1;
				}
			&.type-background:before {
				@media only screen and (max-width:$mobile-size) {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 0;
					padding-bottom: 101.85%;
					z-index: -1;
					content: '';
					background: #f5f5f5 url(../../images/chest/chest_extention_img03_680.jpg) 0 0 / cover no-repeat;
					}
				}
			}
		.content-section__txt1{
			padding: 0 14%;
			@media only screen and (max-width:$tablet-size){
				padding: 0;
				}
			}
		.content-section__txt {
			&.type-sub {
				margin:0;
				padding-top: 100px;
				padding-bottom: 15px;
				color: #9c9c9c;
				font-size: 18px;
				font-weight: 200;
				box-sizing:border-box;
				@media only screen and (max-width:$mobile-size) {
					padding-top: 45px;
					font-size: 1.3rem;
					}
				}
			}
		.content-section__quotation {
			padding: 0 17%; box-sizing:border-box;
			@media only screen and (max-width: 1200px) {
				}
			@media only screen and (max-width:$tablet-size){
				padding: 0 45px;
				width: 100%;
				}
			@media only screen and (max-width:$mobile-size) {
				padding: 0 15px;
				min-width: 286px;
				}
			}

		.content-section__quotation-wrapper {
			border: 2px solid #5d5f60;
			padding: 7px;
			}

		.content-section__tit-quote {
			margin:0;
			color: #FFFFFF;
			font-weight: 600;
			font-size: 32px;
			@media only screen and (max-width:$mobile-size) {
				font-size: 2.1rem;
				}
			}
		.content-section__border-box {
			margin: 0 auto;
			max-width: 680px;
			padding: 8px;
			border: 2px solid #5d5f61;
			height: 118px;
			margin-top: 15px;
			@media only screen and (max-width:$mobile-size) {
				margin-top: 10px;
				min-width: 285px;
				height: 60px;
				}
			}
		.content-section__tit-border {
			border: 1px solid #4a4b4c;
			width: 100%;
			height: 100%;
			color: #FFFFFF;
			font-weight: 300;
			letter-spacing: 13px;
			font-size: 32px;
			line-height: 98px;
			@media only screen and (max-width:$mobile-size) {
				font-size: 2.1rem;
				line-height: 40px;
				}
			}
		}
	.operation-ways {
		&__tit {
			margin: 80px 0 0;
			position: relative;
			color: #FFFFFF;
			text-align: center;
			font-weight: 600;
			font-size: 26px;
			@media only screen and (max-width:$mobile-size) {
				font-size: 2.0rem;
				margin-top: 0;
				}
			}
		&__tit:before {
			content: "";
			display: inline-block;
			position: absolute;
			left: calc(50% - 12px);
			top: -24px;
			width: 24px;
			height: 2px;
			background-color: #fff;
			@media only screen and (max-width:$mobile-size) {
				width: 12px;
				height: 1px;
				left: calc(50% - 6px);
				top: -12px;
				}
			}
		.content-section {
			text-align: left;
			@media only screen and (max-width:$mobile-size) {
				}
			}
		.content-section__wrapper{
			padding-left: 70px;
			@media only screen and (max-width:$tablet-size) {
				padding-left: 28px;
				}
			@media only screen and (max-width:$mobile-size) {
				padding: 0 15px;
				}
			}
		.content-section__bg {
			background: url(../../images/chest/chest_extention_img24.jpg) 50% 50% / cover no-repeat;
			padding: 0 8%;
			padding-bottom: 56px;
			padding-top: 110px;
			@media only screen and (max-width:$tablet-size){
				margin: 0 -65px;
				padding: 0 35px;
				padding-bottom: 95px;
				padding-top: 110px;
				}
			@media only screen and (max-width:$mobile-size) {
				background: url(../../images/chest/chest_extention_img24_680.jpg) top center / cover no-repeat;
				margin: 0 -20px;
				padding: 0 20px;
				padding-top: 50px;
				padding-bottom: 45px;
				}
			}
		.content-section__tit-wrap {
			padding: 230px 180px 0;
			@media only screen and (max-width:$tablet-size){
				padding: 0 85px;
				padding-top: 230px;
				}
			@media only screen and (max-width:$mobile-size) {
				padding: 115px 30px 0;
				}
			}
		.content-section__tit {
			color: #FFFFFF;
			margin-left: -30px;
			@media only screen and (max-width: $mobile-size) {
				margin-left: -15px;
				}
			}
		.content-section__tit:before {
			}
		.content-section__txt1 {
			color: #FFFFFF;
			padding-right: 18%;
			@media only screen and (max-width:$mobile-size) {
				padding: 0;
				}
			}
		/*OPERATION WAYS category2*/
		&__cate2-wrap {
			}
		&__tit2:before {
			content: "";
			display: inline-block;
			position: absolute;
			left: 50%;
			top: -24px;
			width: 23px;
			height: 3px;
			background-color: #FFFFFF;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			@media only screen and (max-width:$mobile-size) {
				height: 2px;
				width: 14px;
				top: -15px;
				}
			}
		&__list2 {
			padding: 0 96px;
			padding-bottom: 60px;
			@media only screen and (max-width:$tablet-size){
				padding: 0 63px;
				}
			@media only screen and (max-width:$mobile-size) {
				padding: 0 20px;
				}
			}
		&__item2 {
			margin-top: 41px;
			float: left;
			width: 33.333%;
			padding: 0 14px;
			@media only screen and (max-width: 1200px) {
				padding: 0 2px;
				}
			@media only screen and (max-width:$tablet-size){
				float: none;
				width: 100%;
				}
			@media only screen and (max-width:$mobile-size) {
				margin-top: 24px;
				}
			}
		&__box2 {
			// height: 578px;
			border: 5px solid #450687;
			background-color: #590ea8;
			@media only screen and (max-width:$tablet-size){
				height: auto;
				}
			}
		}
		.responsibility {
			@media only screen and (max-width: $mobile-size) {
				padding: 0;margin-top: 0;
			}
			&__tit-wrap{text-align: center;}
			&__tit {position: relative;text-align: center;font-size: 60px;color: #333333;font-weight: 300;line-height: 1.3;
				@media only screen and (max-width: $tablet-size) {
					padding: 0;
				}
				@media only screen and (max-width: $mobile-size) {
					font-size: 3.0rem;
				}
			}
			.content-section__tit.type-left{text-align: center;
				@media only screen and (max-width: $mobile-size) {
					text-align: left;
				}
			}
			&__contents-box {margin-top: 130px;
				@media only screen and (max-width: $tablet-size) {
					margin: 0 -65px;padding: 0 20px;
				}
				@media only screen and (max-width: $mobile-size) {
					margin: 0 -20px;margin-top: 40px;
				}
			}
			.content-section__txt1{padding: 0 11%;
				@media only screen and (max-width: $mobile-size) {
					padding: 0px;
				}
			}
			&__list {margin: 50px 0 0 0; padding: 0 5% 0 9%;list-style: none;box-sizing: border-box;
				@media only screen and (max-width: $minpc-size3) {
					text-align: center;
				}
				@media only screen and (max-width: $tablet-size) {
					padding-left: 15%;padding-right: 0;font-size: 0;text-align: center;
				}
				@media only screen and (max-width: $mobile-size) {
					padding: 0px;margin-top: 150px;
				}
			}
			&__item {text-align: left;width: 100%;padding: 0px 12px;margin-top: 60px;
				@media only screen and (max-width: $minpc-size3) {
					vertical-align: top;
				}
				@media only screen and (max-width: $tablet-size) {
					padding: 0;float: none;width: 100%;vertical-align: top;
					&.type-mt20 {
						@media only screen and (max-width: $tablet-size) {
							margin-top: 40px;padding: 0;
						}
						@media only screen and (max-width: $mobile-size) {
							margin-top: 100px;
						}
					}
				}
				@media only screen and (max-width: $mobile-size) {
					float: none;display: block;width: auto;margin-top: 110px;padding: 0;
				}
			}
			&__item:first-child{margin-top: 0;}
			&__item.type-special{margin-left: -105px;
				@media only screen and (max-width:$tablet-size){
					padding: 0;
				}
				@media only screen and (max-width:$mobile-size) {
					margin: 0;margin-top: 110px;
				}
				.responsibility__thumb{left: auto;right: -105px;
					@media only screen and (max-width:$mobile-size) {
						top: -87px;right: calc(50% - 87px);
					}
				}
				.responsibility__desc{padding-right: 34%;padding-left: 8%;
					@media only screen and (max-width:$mobile-size) {
						text-align: center;padding: 110px 20px 35px;
					}
				}
			}
			&__box {display:table-cell; height:345px; vertical-align:middle; position: relative;background-color: #333333;-webkit-border-radius: 106px;-moz-border-radius: 106px;border-radius: 106px;
				@media only screen and (max-width:$tablet-size){}
				@media only screen and (max-width:$mobile-size) {display:block; height:auto;
					-webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;
				}
			}
			&__desc {text-align: left;vertical-align: top;padding-left: 25%;padding-right: 5%; box-sizing: border-box;
				@media only screen and (max-width: $tablet-size) {
					padding-left: 35%;
				}
				@media only screen and (max-width: $mobile-size) {
					text-align: center;padding: 110px 20px 35px ;
				}
			}
			&__thumb{position: absolute;background: 50% 50% / cover no-repeat;font-size: 0;top: -30px;left: -110px;height: 0;padding-bottom: 31.87%;width: 32%;
				@media only screen and (max-width: $tablet-size) {top:0;
					padding-bottom: 49%;width: 49%;
				}
				@media only screen and (max-width: $mobile-size) {
					width: 174px;padding-bottom: 174px;top: -87px;left: calc(50% - 87px);
				}
				&.type-pic15{background-image: url(../images/chest/chest_extention_img18.png)}
				&.type-pic15:after{content: '';display: inline-block;width: 86px;height: 86px;background: url(../images/chest/redribbon-icon.png) 0 0  / cover no-repeat;position: absolute;right: 0;bottom: 0;
					@media only screen and (max-width: $mobile-size) {
						width: 34px;height: 34px;right: 20px;
					}
				}
				&.type-pic16{background-image: url(../images/chest/chest_extention_img19.png)}
				&.type-pic17{background-image: url(../images/chest/chest_extention_img20.png)}
			}
			&__item-tit {margin: 0;color: #fbf9f9;font-size: 20px;font-weight: 500;
				@media only screen and (max-width: $mobile-size) {
					font-size: 1.6rem;
				}
			}
			&__item-txt {font-weight: 300;margin: 20px 0 0 0;color: #fbf9f9;font-size: 14px;line-height: 1.7;-ms-word-break: keep-all;word-break: keep-all;
				strong{font-weight: 500;}
				@media only screen and (max-width: $mobile-size) {
					font-size: 1.4rem;margin-top: 15px;
				}
			}
		}
	.recovery {
		margin-top: 240px;
		@media only screen and (max-width: $tablet-size) {
			margin-top: 100px;
			}
		@media only screen and (max-width: $mobile-size) {
			margin-top: 50px;
			}
		&__wrap {
			padding: 0px 209px;
			@media only screen and (max-width:$tablet-size){
				padding: 0;
				}
			}
		.content-section__txt1{

			@media only screen and (max-width:$mobile-size) {
				padding: 0 5px;
				}
			}

		.content-section__tit.type-top{
			@media only screen and (max-width:$mobile-size) {
				margin-left: 23px;
				}
			}
		&__tit {
			position: relative;
			font-size: 60px;
			color: #333333;
			font-weight: 300;
			line-height: 1.33;
			@media only screen and (max-width:$tablet-size){
				padding: 0 40px;
				}
			@media only screen and (max-width:$mobile-size) {
				font-size: 3.0rem;
				}
			}
		&__img-wrapper {
			margin-top: 50px;
			@media only screen and (max-width:$mobile-size) {
				padding: 0 30px;
				margin-top: 25px;
				}
			}
		&__pic-list {
			float: left;
			width: 50%;
			box-sizing:border-box;
			@media only screen and (max-width:$mobile-size) {
				float: none;
				width: auto;
				}
			}
		&__pic-list:first-child {
			padding-right: 8px;
			@media only screen and (max-width:$mobile-size) {
				padding: 0;
				}
			}
		&__pic-list:last-child {
			padding-left: 8px;
			@media only screen and (max-width:$mobile-size) {
				padding: 0;
				}
			}
		&__pic-item {
			position: relative;
			height: 0;
			padding-bottom: 64.90%;
			@media only screen and (max-width:$mobile-size) {
				padding-bottom: 65.01%;
				}
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				}

			&.pic18 {
				&:before {
					background: 50% 50% /cover no-repeat;
					background-image: url(../../images/chest/chest_extention_img21.jpg);
					}
				@media only screen and (max-width:$tablet-size){
					background-image: url(../../images/chest/chest_extention_img21_768.jpg);
					}
				@media only screen and (max-width:$mobile-size) {
					background-image: url(../../images/chest/chest_extention_img21_680.jpg);
					}
				}
			&.pic19 {
				&:before {
					background: 50% 50% /cover no-repeat;
					background-image: url(../../images/chest/chest_extention_img22.jpg);
					}
				@media only screen and (max-width:$tablet-size){
					background-image: url(../../images/chest/chest_extention_img22_768.jpg);
					}
				@media only screen and (max-width:$mobile-size) {
					background-image: url(../../images/chest/chest_extention_img22_680.jpg);
					}

				}
			}
		&__txt {
			margin-top: 40px;
			line-height: 2.1;
			font-size: 17px;
			font-weight: 300;
			color: #666666;
			word-break: keep-all;
			@media only screen and (max-width:$tablet-size){
				margin-top: 20px;
				}
			@media only screen and (max-width:$mobile-size) {
				margin-top: 20px;
				font-size: 1.4rem;
				line-height: 1.7;
				-ms-word-break: normal;
				word-break: normal;
				}

			}

		}

	/*CATEGORY1*/
	.category-list {
		/*CATEGORY2*/
		&__cate-2 {width: 1068px; margin: 0px auto;
			@media only screen and (max-width:$tablet-size){
				width: 100%;
				}
			}
		&__cate-3{margin-top: 80px;
			@media only screen and (max-width: $tablet-size) {
				margin-top: 80px;
				}
			@media only screen and (max-width: $mobile-size) {
				margin-top: 65px;
				}
			}
		&__tit2 {
			margin-top: 114px;
			position: relative;
			color: #333333;
			text-align: center;
			font-weight: 400;
			font-size: 26px;
			letter-spacing: 25px;
			@media only screen and (max-width:$mobile-size) {
				margin-top: 31px;
				font-size: 1.6rem;
				letter-spacing: 13px;
				}
			}
		&__tit2:before {
			content: "";
			display: inline-block;
			position: absolute;
			left: 50%;
			top: -24px;
			width: 23px;
			height: 3px;
			background-color: #363839;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			@media only screen and (max-width:$mobile-size) {
				width: 14px;
				height: 2px;
				}
			}
		&__list-wrapper {margin:0; padding:0;
			@media only screen and (max-width: 1200px) {
				}
			@media only screen and (max-width:$mobile-size) {
				padding: 0;
				padding-left: 39px;
				margin-left: 0;
				margin-top: -15px;
				}
			}
		&__category2 {list-style:none;
			width: 100%;
			@media only screen and (max-width: $mobile-size) {
				float: none;
				width: 100%;
				padding: 0;
				margin-top: 35px;
				& + .category-list__category2{margin-top: 15px;}
				}
			&.type-center {
				}
			}
		&__cate-box2 {
			font-size: 0;
			position: relative;
			height: auto;
			text-align: left;
			background-color: #333333;
			margin-top: 40px;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			border-radius: 100px;
			@media only screen and (max-width: 1200px) {
				min-height: 200px;
				-webkit-border-radius: 140px;
				-moz-border-radius: 140px;
				border-radius: 140px;
				}
			@media only screen and (max-width:$mobile-size) {
				height: auto;
				margin-top: 35px;
				border-radius: 10px 40px 40px 40px;
				margin-top: 0;
				padding-top: 0;

				}
			}
		&__thumb2 {
			position: relative;
			height: 0;
			width: 200px;
			height: 0;
			padding-bottom: 200px;
			display: inline-block;
			@media only screen and (max-width: $minpc-size3) {
				}

			@media only screen and (max-width:$mobile-size) {
				position: absolute;
				width: 100px;
				height: 100px;
				top: 0;
				left: -39px;
				padding-bottom: 0;
				}
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: '';
				@media only screen and (max-width:$mobile-size) {
					display: none;
					}
				}
			&.type-pic3 {
				&:before {
					background: url(../../images/chest/chest_extention_img06.png) no-repeat center center / cover;
					}
				@media only screen and (max-width:$mobile-size) {
					background: url(../../images/chest/chest_extention_img06.png) no-repeat center center / cover;
					background-size: 100px 100px;
					}
				}
			&.type-pic4 {
				&:before {
					background: url(../../images/chest/chest_extention_img07.png) no-repeat center center / cover;
					}
				@media only screen and (max-width:$mobile-size) {
					background: url(../../images/chest/chest_extention_img07.png) no-repeat center center / cover;
					background-size: 100px 100px;
					}
				}
			&.type-pic5 {
				&:before {
					background: url(../../images/chest/chest_extention_img08.png) no-repeat center center / cover;
					}
				@media only screen and (max-width:$mobile-size) {
					background: url(../../images/chest/chest_extention_img08.png) no-repeat center center / cover;
					background-size: 100px 100px;
					}
				}
			&.type-pic6 {
				&:before {
					background: url(../../images/chest/chest_extention_img09.png) no-repeat center center / cover;
					}
				@media only screen and (max-width:$mobile-size) {
					background: url(../../images/chest/chest_extention_img09.png) no-repeat center center / cover;
					background-size: 100px 100px;
					}
				}
			&.type-pic7 {
				&:before {
					background: url(../../images/chest/chest_extention_img10.png) no-repeat center center / cover;
					}
				@media only screen and (max-width:$mobile-size) {
					background: url(../../images/chest/chest_extention_img10.png) no-repeat center center / cover;
					background-size: 100px 100px;
					}
				}
			}
		&__desc2 {
			display: inline-block;
			width: calc(100% - 200px);
			padding: 40px 20px;
			vertical-align: top;
			text-align: left;
			box-sizing:border-box;
			@media only screen and (max-width: 1200px) {
				max-width: none;
				padding: 30px 20px;
				padding-right: 40px;
				}
			@media only screen and (max-width:$mobile-size) {
				height: auto;
				padding: 25px 15px 25px 70px;
				width: 100%;
				}
			}
		&__cate2-tit {
			font-size: 20px;
			color: #fbf9f9;
			font-weight: 400;
			margin:0;
			@media only screen and (max-width:$mobile-size) {
				font-size: 1.7rem;
				text-align: left;
				}
			}
		&__cate2-txt {
			margin: 15px 0 0 0;
			font-weight: 300;
			color: #d9d9d9;
			font-size: 15px;
			line-height: 1.5;
			word-break: keep-all;
			@media only screen and (max-width:$mobile-size) {
				font-size: 1.4rem;
				text-align: left;
				}
			}

		/*CATEGORY3*/
		&__tit3 {
			position: relative;
			text-align: center;
			letter-spacing: 24px;
			color: #333333;
			font-size: 26px;
			font-weight: 400;
			margin-top: 125px;
			}
		&__tit3:before {
			position: absolute;
			width: 23px;
			height: 3px;
			background-color: #333333;
			content: '';
			display: inline-block;
			top: -26px;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
			}
		&__wrapper3 {
			padding: 0 102px;
			@media only screen and (max-width:$mobile-size) {
				padding: 0;
				}
			}
		&__category3 {
			float: left;
			width: 50%;
			padding: 8px;
			margin-top: 41px;
			@media only screen and (max-width:$mobile-size) {
				float: none;
				width: auto;
				}
			}
		&__cate3-box {
			border: 5px solid #8c25f9;
			height: 442px;
			background-color: #6b1ac1;
			}
		&__thumb3 {
			height: 218px;
			background: 50% 50% / cover no-repeat;
			&.type-pic8 {
				background-image: url(../../images/chest/chest_extention_img11.jpg)
				}
			&.type-pic9 {
				background-image: url(../../images/chest/chest_extention_img12.jpg)
				}
			}
		&__desc3 {
			padding: 30px 25px 25px;
			text-align: center;
			}
		&__cate3-tit {
			position: relative;
			color: #FFFFFF;
			text-align: center;
			font-weight: 300;
			font-weight: 400;
			font-size: 20px;
			}
		&__cate3-tit:before {
			content: "";
			display: inline-block;
			position: absolute;
			left: 50%;
			top: 40px;
			width: 16px;
			height: 2px;
			background-color: #FFFFFF;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			}
		&__cate3-txt {
			margin-top: 40px;
			color: #FFFFFF;
			font-weight: 200;
			font-size: 14px;
			line-height: 1.5;
			}
		}
	.info-desc__tit{
		@media only screen and (max-width: 375px) {
			font-size: 1.6rem;
			}
		}

	}
