<%
	type = "detail"
	page = "body"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="body detail-common">
	<section class="fs_section bodyFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-body">
					<span class="color-body0">Tubuh</span> yang sehat, tubuh yang <span class="color-body0">seimbang,</span>
					<span class="detail__first-piece type-body"><span class="color-body0">Adalah</span> tubuh yang cantik</span>
				</p>
				<h3 class="detail__first-txt type-body">
					<strong class="detail__first-point">Garis dan lengkung tubuh yang cantik</strong><br>
					Detail prosedur <span class="color-body1">operasi tubuh</span> BANOBAGI
				</h3>
			</div>
		</div>
		<div class="scroll">
			<div class="inner">
				<i></i>
			</div>
			<em>Selanjutnya</em>
		</div>
	</section>

	<section class="fs_section bodySection01" data-section-name="bodySection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-down type-body type-quotation2">
		            <h4 class="detail__section-tit">
						Operasi tubuh,
					    Metode operasi
						<span class="color-body1">BANOBAGI</span>
		            </h4>
					<p class="detail__section-subtit">
						Peralatan canggih, Spesialis yang handal
					</p>
					<p class="detail__section-txt color-body3">
						Walaupun didukung dengan peralatan yang modern dan canggih, hasil maksimal yang diinginkan tak akan dapat terwujud jika tidak didukung oleh spesialis-spesialis yang kompeten menggunakannya. Pertimbangan terpenting dalam operasi tubuh <span class="color-body1">adalah pengertian mengenai keseimbangan tubuh</span> dan <span class="color-body1">keterampilan para dokter bedah</span> melalui pengalaman selama bertahun-tahun. Tim operasi tubuh BANOBAGI telah menyempurnakan, meningkatkan, dan meraih pengalaman yang sangat luas sejak didirikan pada tahun 2000. BANOBAGI bangga dalam membantu pasien memperoleh transformasi tubuhnya menjadi cantik dan seimbang, melalui kombinasi berbagai peralatan dan pengalaman dari para dokter spesialis kami.
					</p>
		        </div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection02" data-section-name="bodySection02">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-down type-body type-another">
					<h4 class="detail__section-tit">
						Operasi tubuh BANOBAGI memiliki
						<span class="color-body1">jawabannya!</span>
					</h4>
					<p class="detail__section-subtit">Usaha kami untuk membentuk tubuh lebih cantik dan seimbang. </p>
					<p class="detail__section-txt">
						Prosedur untuk memperbaiki bentuk tubuh seseorang harus disesuaikan dengan setiap individu dan dengan standar keindahan masing-masing. Oleh sebab itu,
						<span class="color-body1">BANOBAGI ahli dalam berbagai teknik dan keterampilan seperti sedot lemak, implan silikon, pengaturan jaringan lemak pada bagian tubuh tertentu, body lifting, dan lainnya.</span> Analisis ilmiah melalui konsultasi terperinci dan penanganan dari spesialis kami adalah alasan BANOBAGI dapat memperolah hasil yang efektif.
					</p>
				</div>
				<!-- detail-layer -->
				<div class="detail-layer">
					<div class="detail-box body-1">
						<div class="detail-box__vertical">
							<div class="detail-box__img">Pemeriksaan sebelum dan sesudah operasi</div>
							<div class="detail-box__wrap">
								<h5 class="detail-box__tit">Pemeriksaan sebelum dan sesudah operasi</h5>
								<p class="detail-box__txt">
									Komposisi tubuh, keseimbangan tubuh dan analisa otot lemak skeletal, diagnosis obesitas, kegunaan indeks edema, pertumbuhan kedalaman kurva lemak, metabolism basal, penilaian gaya hidup.
								</p>
							</div>
						</div>
					</div>
					<div class="detail-box body-2">
						<div class="detail-box__vertical">
							<div class="detail-box__img">Program peningkatan tubuh</div>
							<div class="detail-box__wrap">
								<h5 class="detail-box__tit">Program peningkatan tubuh</h5>
								<p class="detail-box__txt">
									Penyisipan implant, perawatan obesitas untuk kehidupan sehari-hari, lifting tubuh
								</p>
							</div>
						</div>
					</div>
				</div>
				<!-- //detail-layer-->
			</div>
		</div>
	</section>

	<section class="fs_section bodySection03" data-section-name="bodySection03">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-right type-body type-quotation2">
				<h4 class="detail__section-tit">
					Operasi tubuh,
					BANOBAGI terus berkembang menuju puncak
					<span class=color-body1>kompetisi</span>
				</h4>
				<p class="detail__section-subtit">Metode efektif unuk menghilangkan lemak dalam jumlah besar melalui sedot lemak</p>
				<p class="detail__section-txt color-body3">
					Seringkali, penghilangan lemak tubuh dalam jumlah besar melalui sedot lemak tidak disarankan dalam sekali tindakan karena tubuh dan kesehatan pasien dapat berubah drastis. Maka, metode lama menghilangkan lemak dengan sedot lemak yang dilakukan secara berulang kali dan kunjungan berkali-kali terbilang tidak efektif secara waktu maupun hasil.
					Namun, <span class="color-body1">para ahli BANOBAGI dapat menghilangkan lemak dalam jumlah besar melalui sedot lemak dengan sekali prosedur tanpa risiko,</span>
					melalui pengetahuan dan pengalaman tim spesialis bedah plastik kami. BANOBAGI akan melalukan operasi yang aman dengan hasil yang efektif di saat yang bersamaan.
				</p>
			</div>
			</div>
		</div>

	</section>

	<section class="fs_section bodySection05" data-section-name="bodySection05">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-body">
					<h4 class="detail__section-tit">
						Operasi tubuh,
						BANOBAGI mengatur hasil Anda
						Untuk <span class=color-body1>jangka waktu yang panjang</span>
					</h4>
					<p class="detail__section-subtit">BANOBAGI berusaha keras untuk mempertahankan hasil dan memelihara kecantikan tubuh untuk jangka waktu yang panjang</p>
					<p class="detail__section-txt">
						Pasien yang sudah mengalami sedot lemak atau menjalani operasi tubuh sering khawatir mengenai kembalinya tubuh ke bentuk semula atau kehilangan elastisitas kulit setelah menjalani operasi.
						Memiliki gaya hidup sehat setelah operasi sangat penting dalam mempertahankan tubuh Anda. Oleh karena itu, BANOBAGI
						<span class="color-body1">menyediakan perawatan pasca operasi termasuk program diet dan pengobatan untuk pasien obesitas,</span>
						sehingga bentuk tubuh Anda dapat bertahan lama. Menjaga tubuh Anda tetap langsing memang tidak mudah, tapi BANOBAGI akan selalu menemani dan mendukung Anda!
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="fs_section bodySection04" data-section-name="bodySection04">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-wide type-body">
					<h4 class="detail__section-tit">
						Operasi tubuh
						BANOBAGI sangatlah
						<span class="color-body1">terperinci</span>
					</h4>
					<p class="detail__section-subtit">Sistem manajeman untuk meminimasilisir pembentukan luka, Proyek Pemulihan luka</p>
					<p class="detail__section-txt">
						Kehilangan kepercayaan diri karena bekas luka pasca operasi dapat menjadi hal yang sangat sulit, bahkan saat Anda puas dengan hasil operasi yang mengubah tubuh Anda.
						<span class="color-body1">Munculnya bekas luka pasca operasi bukanlah hal yang tak bisa dihindari.</span>
						Perawatan bekas luka juga merupakan bagian dari operasi tubuh. BANOBAGI telah menciptakan dan mengembangkan proyek menghilangkan bekas luka untuk semua tipe bekas luka, seperti yang berwarna merah, yang berbentuk saluran, dan yang membentuk cekungan di tubuh, dapat diubah menjadi kulit yang halus dan tak terlihat.
					</p>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- //Content -->


<% include ../_include/_footer %>
