<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>
	<!-- visual -->
	<div class="content-visual type-site">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Pengurangan lemak pada lokasi terpilih yang diinginkan</p>
				<h3 class="content-visual__tit"># Penyedotan Lemak terlokalisasi</h3>
				<p class="content-visual__txt2">Dimana saja di dalam tubuh dengan percaya diri</p>
			</div>
		</div>
    </div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content type-body-fat">
		<div class="content-wrap">
			<div class="content-section type-first">
	  			<div class="site-box1">
	  				<h4 class="site-box1__txt1">
	  					Bersama para pakar yang memahami bagian-bagian tubuh dan berpengalaman dalam sedot lemak, BANOBAGI menawarkan penanganan sedot lemak untuk
						<strong class="color-body2">menangani masalah tubuh</strong> dan <strong class="color-body2">badan yang lebih seimbang.</strong>
	  				</h4>
	  				<p class="site-box1__txt2">
	  					Penyedotan lemak secara menyeluruh merupakan solusi baik untuk obesitas secara umum, namun bila pasien memiliki kekhawatiran pada bagian tubuh tertentu, maka lebih efektif untuk menghasilkan keseimbangan tubuh proporsional dengan penyedotan lemak terlokalisasi
	  				</p>
	  			</div>
	  			<div class="site-circle">
	  				<div class="site-wrap">
	  					<div class="site-circle__img">
	  						<div class="site-circle__box type-left">
	  							<div class="site-circle__wrap">
	  								<p class="site-circle__tit">
	  									<span class="site-circle__point">Kecepatan</span>
										tubuh
	  								</p>
	  							</div>
	  						</div>
	  						<div class="site-circle__box type-right">
	  							<div class="site-circle__wrap">
	  								<p class="site-circle__tit">
	  									<span class="site-circle__point">Keseimbangan</span>
										tubuh
	  								</p>
	  							</div>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
	  		</div><!-- //content-section -->

	  		<!-- tab  -->
	  		<div class="content-tab type-margin">
	  			<div class="content-tab__inner">
	  				<ul class="content-tab__list">
	  					<li class="content-tab__item is-active"><a href="" class="content-tab__link" data-tab="page-abdomen">Perut/ lemak pinggang</a></li>
	  					<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-thigh">Paha</a></li>
	  					<li class="content-tab__item"><a href="" class="content-tab__link" data-tab="page-arms">Lengan</a></li>
	  				</ul>
	  			</div>
	  		</div>


	  		<!-- tab contents -->
	  		<div class="content-tab__page page-abdomen is-active">
	  			<div class="content-tab__box">
	  				<div class="site-box2">
	  					<h4 class="content-section__tit type-top">
	  						<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	  						Penanganan lemak perut dapat menjadi
	  						<strong class="color-body2">motivasi dalam menurunkan berat badan.</strong>
	  					</h4>
	  					<div class="site-box2__img">
	  						img
	  					</div>
	  					<p class="content-section__txt1">
	  						Obesitas pada perut pastinya merupakan sumber kesulitan bagi mereka yang menginginkan tubuh ramping. Perut yang bulat membuat kita terlihat malas bahkan mengurangi kemampuan atletik kita. Terlebih lagi, masalah langsungnya adalah obesitas juga terkait langsung sebagai penyebab berbagai penyakit seperti penyakit jantung dan pembuluh darah.
	  					</p>
	  					<p class="content-section__txt2">
	  						Maka kami menyarankan agar lemak perut dihilangkan sesegera mungkin, demi keindahan dan juga kesehatan tubuh.
	  					</p>
	  					<div class="quotation2 type-list">
	  						<ul class="quotation2__list">
	  							<li class="quotation2__item type-tit">
	  								Sedot lemak dengan ultrasonic + sedot lemak getaran
	  							</li>
	  							<li class="quotation2__item">
	  								penurunan berat badan 3-5 kg atau lingkar pinggang 5-10 cm lebih ramping (hasil dapat bervariasi)
	  							</li>
	  							<li class="quotation2__item">
	  								membutuhkan pemakaian bahan kompresi khusus selama sekitar 3 bulan
	  							</li>
	  						</ul>
	  					</div>
	  				</div>

	  				<div class="list-box type-body-part">
	  					<div class="list-box__box">
	  						<div class="list-box__wrap">
	  							<div class="list-box__vertical">
	  								<h5 class="list-box__tit tit-v3">
	  									Titik<br hidden-pt>
										pembentukan<br class="hidden-m">
	  									perut
	  								</h5>
	  							</div>
	  						</div>
	  					</div>
	  					<ul class="list-box__list">
	  						<li class="list-box__item txt-v3">bekas luka minimal karena teknik insisi dari pusar atau di area rambut pubis</li>
	  						<li class="list-box__item txt-v3">pembentukan yang presisi, memperhitungkan jaringan ikat perut dalam prosesnya</li>
	  						<li class="list-box__item txt-v3">menghilangkan seluruh sel lemak, mencegah munculnya sel kembali</li>
	  					</ul>
	  				</div>


	  				<div class="site-box4">
	  					<h4 class="content-section__tit type-center">
	  						<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	  						Obesitas perut mempengaruhi setiap orang secara berbeda, tergantung dari
	  						<span class="content-highlight2 type-body">kondisi badan masing-masing individu yang unik.</span>
	  					</h4>
	  					<p class="content-section__txt1">
	  						Oleh karena itu, hasil dari sedot lemak dan kepuasannya, bervariasi tergantung dari letak fokus prosedur, walaupun bila volume lemak yang dikurangi setara. BANOBAGI membuat diagnosis secara hati-hati sejak awal, dan mendesain bentuk tubuh pasien yang diinginkan berdasarkan konsultasi yang terperinci.
	  					</p>
	  					<div class="site-box4__img">mobile img</div>
	  				</div><!-- //site-box4 -->
	  				<div class="part-box1">
	  					<h5 class="part-box1__tit"><strong>Area utama</strong> untuk sedot lemak</h5>
	  					<div class="item-box3 type-body-part">
	  						<ul class="item-box3__list">
	  							<li class="item-box3__item nth-1">
	  								<div class="item-box3__box">
	  									<div class="item-box3__wrap">
	  										<h6 class="item-box3__tit tit-v2"><span class="color-body2">Perut bagian bawah</span></h6>
	  										<p class="item-box3__txt txt-v1">
	  											Bentuk umum dari obesitas perut.  Penanganan bertujuan mengurangi jumlah volume yamg besar dari sel lemak, dan membutuhkan persiapan yang matang untuk mencegah kekenduran kulit.
	  										</p>
	  									</div>
	  								</div>
	  							</li>
	  							<li class="item-box3__item nth-2">
	  								<div class="item-box3__box">
	  									<div class="item-box3__wrap">
	  										<h6 class="item-box3__tit tit-v2"><span class="color-body2">Perut bagian samping</span></h6>
	  										<p class="item-box3__txt txt-v1">
	  											Bentuk tubuh ramping, terlihat dari depan, bergantung pada pinggang. Bagi wanita, desain melengkung untuk menonjolkan bentuk feminin pasien merupakan kuncinya.
	  										</p>
	  									</div>
	  								</div>
	  							</li>
	  							<li class="item-box3__item nth-3">
	  								<div class="item-box3__box">
	  									<div class="item-box3__wrap">
	  										<h6 class="item-box3__tit tit-v2"><span class="color-body2">Pinggang</span></h6>
	  										<p class="item-box3__txt txt-v1">
	  											Sel lemak lama menumpuk di pinggang, dan karena lebih sulit dihilangkan sekali waktu, sedot lemak bersamaan dengan bagian perut samping dibutuhkan.
	  										</p>
	  									</div>
	  								</div>
	  							</li>
	  						</ul>
	  					</div><!-- //item-box3-->
	  				</div>



					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Informasi Operasi</h4>
									<!-- <p class="operation-v2__subtit">Informasi lebih lanjut mengenai sedot lemak perut</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
												<p class="operation-v2__txt txt-new1">± 1 ~ 1 jam 30 menit</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
												<p class="operation-v2__txt txt-new1">Anestesi Total/Anestesi Sedasi IV</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
												<p class="operation-v2__txt txt-new1"> Dilepas ± stlh 7 hari</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
												<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
												<p class="operation-v2__txt txt-new1">
													Massage, Perawatan Pembengkakan & Lebam ± 2X
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
												<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 3 ~ 5 hari</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Nyeri minimal dengan pembiusan umum. <br>
											Pasien bisa mengalami bengkak dan mati rasa, yang akan membaik dengan kompres dingin. <br>
											Bengkak menyeluruh dan nyeri akan teratasi melalui program penyembuhan kami.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
											<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
	  			</div>
	  		</div>

	  		<div class="content-tab__page page-thigh">
	  			<div class="content-tab__box">
	  				<div class="site-box2 type-thigh">
	  					<h4 class="content-section__tit type-top">
	  						<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	  						<strong class="color-body2">Timbunan lemak</strong>
							dengan penyimpanan mendalam sel-sel lemak
	  					</h4>
	  					<div class="site-box2__img"></div>
	  					<p class="content-section__txt1">
	  						Penyimpanan sel-sel lemak, padat dan bersarang, menyimpan banyak kalori yang dibutuhkan manusia untuk bertahan hidup. Hal ini menjadikan berbagai upaya penurunan berat badan, baik diet maupun olahraga sulit menghilangkan bagian ini.
	  					</p>
	  					<p class="content-section__txt2">
	  						Hal ini berarti juga peran sedot lemak akan menghasilkan perubahan yang cemerlang.
	  					</p>
	  					<div class="quotation2 type-list">
	  						<ul class="quotation2__list">
	  							<li class="quotation2__item type-tit">
	  								Sedot lemak ultrasonic
	  							</li>
	  							<li class="quotation2__item">
	  								mengurangi sekitar 1000 – 2500 ml sel lemak (dalam setiap paha)
	  							</li>
	  							<li class="quotation2__item">
	  								membutuhkan pemakaian bahan ketat khusus sekitar 2 bulan
	  							</li>
	  						</ul>
	  					</div>
	  				</div>

	  				<div class="list-box type-body-part">
	  					<div class="list-box__box">
	  						<div class="list-box__wrap">
	  							<div class="list-box__vertical">
	  								<h5 class="list-box__tit tit-v3">
	  									Titik pembentukan<br class="hidden-m">
	  									POINT
	  								</h5>
	  							</div>
	  						</div>
	  					</div>
	  					<ul class="list-box__list">
	  						<li class="list-box__item txt-v3">prosedur yang hati-hati demi menghasilkan permukaan yang mulus</li>
	  						<li class="list-box__item txt-v3">sedot lemak profesional yang menghasilkan bentuk ideal dan menghindari bentuk bagian tubuh bawah yang aneh</li>
	  						<li class="list-box__item txt-v3">menghilangkan seluruh sel lemak, mencegah munculnya kembali</li>
	  					</ul>
	  				</div>

	  				<div class="site-box4">
	  					<h4 class="content-section__tit type-center">
	  						<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	  						Obesitas di daerah paha mempengaruhi tiap orang secara berbeda, tergantung
	  						<span class="content-highlight2 type-body">bentuk tubuh masing-masing yang unik.</span>
	  					</h4>
	  					<p class="content-section__txt1">
	  						Oleh karena itu, hasil dari sedot lemak dan kepuasannya bervariasi tergantung fokus prosedur, bahkan jika jumlah lemak yang disedot setara. BANOBAGI membuat diagnosis dengan seksama sejak awal sehingga menghasilkan bentuk tubuh sesuai keinginan pasien pada konsultasi yang terperinci.
	  					</p>
	  					<div class="site-box4__img">img</div>
	  				</div><!-- //site-box4 -->
	  				<div class="part-box1">
	  					<h5 class="part-box1__tit"><strong>Area utama</strong> sedot lemak</h5>
	  					<div class="item-box3 type-body-part">
	  						<ul class="item-box3__list">
	  							<li class="item-box3__item nth-4">
	  								<div class="item-box3__box">
	  									<div class="item-box3__wrap">
	  										<h6 class="item-box3__tit tit-v2"><span class="color-body2">Di bawah pantat</span></h6>
	  										<p class="item-box3__txt txt-v1">
	  											Selulit muncul terutama di daerah ini, dan membutuhkan sedot lemak yang tidak terbatas pada bentuk lurus. Namun menghasilkan impresi pantat yang kencang.
	  										</p>
	  									</div>
	  								</div>
	  							</li>
	  							<li class="item-box3__item nth-5">
	  								<div class="item-box3__box">
	  									<div class="item-box3__wrap">
	  										<h6 class="item-box3__tit tit-v2"><span class="color-body2">Diantara kedua paha</span></h6>
	  										<p class="item-box3__txt txt-v1">
	  											Area ini merupakan parameter obesitas yang sensitif, dan usaha yang terfokus disini akan merampingkan tampilan keseluruhan kaki.
	  										</p>
	  									</div>
	  								</div>
	  							</li>
	  							<li class="item-box3__item nth-6">
	  								<div class="item-box3__box">
	  									<div class="item-box3__wrap">
	  										<h6 class="item-box3__tit tit-v2"><span class="color-body2">Paha bagian luar</span></h6>
	  										<p class="item-box3__txt txt-v1">
	  											Area ini menentukan siluet kaki bagaimanapun pakaiannya, dan oleh karena itu dibutuhkan desain yang sensual sesuai dengan bentuk tubuh secara keseluruhan.
	  										</p>
	  									</div>
	  								</div>
	  							</li>
	  						</ul>
	  					</div><!-- //item-box3-->
	  				</div>


					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Informasi Operasi</h4>
									<!-- <p class="operation-v2__subtit">Informasi selanjutnya untuk Liposuction Paha</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
												<p class="operation-v2__txt txt-new1">± 1 jam 30 menit</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
												<p class="operation-v2__txt txt-new1">Anestesi Total/Anestesi Sedasi IV</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
												<p class="operation-v2__txt txt-new1"> Dilepas ± stlh 7 hari</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
												<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
												<p class="operation-v2__txt txt-new1">
													Massage, Perawatan Pembengkakan & Lebam ± 2X
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
												<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 3 ~ 5 hari</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Nyeri minimal dengan pembiusan umum.<br>
											Pasien bisa mengalami bengkak dan mati rasa, yang akan membaik dengan kompres dingin.<br>
											 Bengkak menyeluruh dan nyeri akan teratasi melalui program penyembuhan kami.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
											<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
	  			</div>
	  		</div>

	  		<div class="content-tab__page page-arms">
	  			<div class="content-tab__box">

	  				<div class="site-box2 type-forearm">
	  					<h4 class="content-section__tit type-top">
	  						<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
	  						Diantara semua bagian tubuh, lengan ialah
	  						<strong class="color-body2">bagian yang paling sering terlihat.</strong>
	  					</h4>
	  					<div class="site-box2__img">
	  						img
	  					</div>
	  					<p class="content-section__txt1">
	  						Secara umum, diantara seluruh area sedot lemak, lengan merupakan bagian yang paling terlihat. Lengan yang ramping memberikan kesan bahwa Anda sehat dan tidak terbebani, lengan juga merupakan area yang paling dulu terlihat saat Anda bertambah gemuk.
	  					</p>
	  					<p class="content-section__txt2">
	  						Permasalahannya – seperti paha – penyimpanan sel lemak banyak bersembunyi dibalik lengan, menjadikan berbagai usaha menurunkan berat badan tidak berdampak pada lengan.
	  					</p>
	  					<div class="quotation2 type-list">
	  						<ul class="quotation2__list">
	  							<li class="quotation2__item type-tit">
	  								Sedot lemak ultrasonic
	  							</li>
	  							<li class="quotation2__item">
	  								mengurangi sekitar 500-1000 ml lemak (per lengan)
	  							</li>
	  							<li class="quotation2__item">
	  								membutuhkan pemakaian bahan kompresi khusus selama 2-3 bulan
	  							</li>
	  						</ul>
	  					</div>
	  				</div>
	  				<div class="list-box type-body-part">
	  					<div class="list-box__box">
	  						<div class="list-box__wrap">
	  							<div class="list-box__vertical">
	  								<h5 class="list-box__tit tit-v3">
	  									Titik pembentukan<br class="hidden-m">
	  									lengan
	  								</h5>
	  							</div>
	  						</div>
	  					</div>
	  					<ul class="list-box__list">
	  						<li class="list-box__item txt-v3">insisi dibawah siku atau ketiak untuk meminimalisir jaringan parut</li>
	  						<li class="list-box__item txt-v3">sedot lemak secara presisi sepanjang bentuk lengan untuk hasil yang alami</li>
	  						<li class="list-box__item txt-v3">eliminasi seluruh sel lemak, mencegah munculnya kembali</li>
	  					</ul>
	  				</div>
	  				<div class="site-box4">
	  					<h4 class="content-section__tit type-center">
	  						<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
	  						Obesitas pada lengan mempengaruhi setiap orang secara berbeda,
	  						<span class="content-highlight2 type-body">tergantung bentuk tubuh masing-masing yang unik.</span>
	  					</h4>
	  					<p class="content-section__txt1">
	  						Oleh karena itu, hasil sedot lemak dan kepuasannya bervariasi tergantung dari fokus prosedur, bahkan pada penyedotan lemak yang jumlahnya setara. BANOBAGI membuat diagnosis secara berhati-hati sejak awal, dan mendesain kurva tubuh sesuai keinginan pasien berdasarkan konsultasi yang terperinci.
	  					</p>
	  					<div class="site-box4__img">mobile</div>
	  				</div><!-- //site-box4 -->
	  				<div class="part-box1">
	  					<h5 class="part-box1__tit"><strong>Area utama </strong> sedot lemak</h5>
	  					<div class="item-box3 type-body-part">
	  						<ul class="item-box3__list">
	  							<li class="item-box3__item nth-7">
	  								<div class="item-box3__box">
	  									<div class="item-box3__wrap">
	  										<h6 class="item-box3__tit tit-v2"><span class="color-body2">Lengan bagian dalam</span></h6>
	  										<p class="item-box3__txt txt-v1">
	  											Sebagian besar lengan tampak kendur dan menggantung saat lengan dibentangkan. Maka pengurangan yang seimbang untuk menjaga bentuk ramping kedua lengan sangat penting.
	  										</p>
	  									</div>
	  								</div>
	  							</li>
	  							<li class="item-box3__item nth-8">
	  								<div class="item-box3__box">
	  									<div class="item-box3__wrap">
	  										<h6 class="item-box3__tit tit-v2"><span class="color-body2">Lengan bagian luar</span></h6>
	  										<p class="item-box3__txt txt-v1">
	  											Lemak pada lengan bagian luar membuat lengan tampak gemuk. Penanganan bertujuan untuk membuat lengan tampak berlekuk.
	  										</p>
	  									</div>
	  								</div>
	  							</li>
	  						</ul>
	  					</div><!-- //item-box3-->
	  				</div>
					<div class="new-section">
						<div class="new-section__wrap type-w">
							<div class="operation-v2 type-body">
								<div class="operation-v2__wrap">
									<h4 class="operation-v2__tit">Informasi Operasi</h4>
									<!-- <p class="operation-v2__subtit">Informasi lebih lanjut terkait sedot lemak lengan</p> -->
									<ul class="operation-v2__list">
										<li class="operation-v2__item nth-1 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
												<p class="operation-v2__txt txt-new1">± 1 jam</p>
											</div>
										</li>
										<li class="operation-v2__item nth-2 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
												<p class="operation-v2__txt txt-new1">
													Anestesi Total/Anestesi Sedasi IV
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-3 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
												<p class="operation-v2__txt txt-new1"> Dilepas ± stlh 7 hari</p>
											</div>
										</li>
										<li class="operation-v2__item nth-4 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
												<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
											</div>
										</li>
										<li class="operation-v2__item nth-5 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
												<p class="operation-v2__txt txt-new1">
													Massage, Perawatan Pembengkakan & Lebam ± 2X
												</p>
											</div>
										</li>
										<li class="operation-v2__item nth-6 js-op-height">
											<div class="operation-v2__box">
												<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
												<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 3 ~ 5 hari</p>
											</div>
										</li>

									</ul>
									<div class="pain-v2 type-body">
										<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
										<ol class="pain-v2__list">
											<% for(var i = 1; i<= 10; i++){%>
												<%if(i <= 3){%>
													<li class="<%="pain-v2__item is-active nth-"+i%>">
														<div class="pain-v2__square">circle</div>
													</li>
												<%}else{%>
													<li class="<%="pain-v2__item nth-"+i%>">
														<div class="pain-v2__wrap">
															<div class="pain-v2__square">circle</div>
														</div>
													</li>
												<%}%>
											<%}%>
										</ol>
										<p class="pain-v2__txt txt-new1">
											Nyeri minimal dengan pembiusan umum. <br>
											Pasien bisa mengalami bengkak dan mati rasa, yang akan membaik dengan kompres dingin. <br>
											Bengkak menyeluruh dan nyeri akan teratasi melalui program penyembuhan kami.
										</p>
										<div class="pain-v2__box">
											<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
											<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
										</div>
									</div><!-- //pain -->
								</div>
							</div>
						</div>
		            </div>
	  			</div>
	  		</div>
	    </div>
	</div>
	<!-- Content -->

	<% include ../_include/_bfaf %>
</div><!-- // container -->


<% include ../_include/_footer %>
