<%
	type = "content"
	page = "body"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-dual">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Seperti pepatah mengatakan sambil menyelam minum air</p>
	    		<h3 class="content-visual__tit"><span class="dual-color1">#</span> Dual-Slim</h3>
				<p class="content-visual__txt2">Siluet Badan Atas yang Seimbang dan Ramping</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- Content -->
	<div class="content">
		<div class="content-wrap">
	        <div class="content-section type-first">
	          	<div class="dual-box1">
	            	<div class="dual-box1__box">
	              		<h4 class="content-section__tit type-left">
							<span class="content-section__number ">
								<span class="content-section__number-wrap">
									01
								</span>
							</span>
	                		<strong class="content-highlight2 type-dual">Obesitas badan atas</strong><br>
	                		<strong>sering</strong><br>
	                		beriringan dengan <strong>pembesaran payudara</strong>
	              		</h4>
	              		<p class="content-section__txt1">
	                		Terkait dengan obesitas badan atas, kita biasanya melihat dari sisi perut dan pinggang. Namun, akumulasi lemak pada perut dan pinggang sering menimbulkan pembesaran pada payudara. Ketika obesitas semakin bertambah, pembesaran pada payudara juga akan bertambah, sehingga menimbulkan masalah kesehatan lain seperti eczema dibawah kulit payudara & masalah tulang belakang.
	              		</p>
	              		<p class="content-section__txt2">
	                		Oleh karena itu, obesitas badan atas harus <span class="dual-color1">ditangani bersamaan dengan pembesaran pada payudara</span> dan sebaiknya
	                		<span class="content-highlight type-dual">melakukan perubahan bentuk badan yg seimbang dan ramping secara keseluruhan</span>
	              		</p>
	              		<div class="dual-box1__img"></div>
	            	</div>
	          	</div>
	        </div>
	        <div class="content-section">
	          	<div class="dual-box2 box-style">
	            	<h4 class="content-section__tit dual-box2__tit">
	              		<strong class="dual-color2">Dual-Slim</strong>, <strong>efektif</strong> karena BANOBAGI
	            	</h4>
	            	<p class="content-section__txt1 dual-box2__txt">
						Dual-Slim adalah prosedur yang memanfaatkan keahlian khusus BANOBAGI dalam kontur badan dan memperbesar payudara.
						Dari konsultasi tahap pertama, BANOBAGI menawarkan <strong>desain sesuai dengan keseimbangan badan secara keseluruhan bukan</strong> hanya untuk payudara. Oleh karena itu, pasien dapat mengharapkan bentuk badan yang seimbang dengan garis tubuh yg indah dari payudara sampai kontur badan
	            	</p>
	            	<h5 class="dual-box2__subject">
						Dual-Slim: liposuction badan atas + reduksi payudara
					</h5>
	            	<ul class="dual-box2__list">
	              		<li class="dual-box2__item">
	                		<div class="dual-box2__img">
	                  			<img src="../../images/body/dual/body_dual_img04.jpg" loading="lazy" alt="Liposuction sederhana">
	                  			<p class="dual-box2__caption">Liposuction sederhana</p>
	                		</div>
	              		</li>
	              		<li class="dual-box2__item">
	                		<div class="dual-box2__img">
	                  			<img src="../../images/body/dual/body_dual_img05.jpg" loading="lazy" alt="Dual-Slim">
	                  			<p class="dual-box2__caption">Dual-Slim</p>
	                		</div>
	              		</li>
	            	</ul>
	          	</div>
	          	<div class="dual-box3 box-style">
	            	<h4 class="content-section__tit dual-box3__tit">
	              		<span class="dual-box3__detail"><img src="../../images/body/dual/body_dual_txt.png" loading="lazy" alt="detail"></span><span class="dual-box3__subtit">luar biasa dari BANOBAGI</span><br>
	              		<span class="inline-block">Spesialis dalam</span> <strong class="dual-color2">Kontur Badan</strong>
	            	</h4>
	            	<div class="dual-box3__doctor-img">
	              		<img src="../../images/body/dual/body_dual_doctor_m.png" loading="lazy" alt="DR.Jaesang Barn,DR.Kyunam Han,DR.Yongjoon Noh">
	            	</div>
	            	<div class="dual-box3__doctor">
	              		<div class="dual-box3__name nth-1">
	                		Spesialis <br class="hidden-p">Bedah Plastik
	                		<strong>Dr. Han Kyunam</strong>
	              		</div>
	              		<div class="dual-box3__name nth-2">
	                		Spesialis <br class="hidden-p">Bedah Plastik
	                		<strong>Dr. Barn Jaesang</strong>
	              		</div>
	              		<div class="dual-box3__name nth-3">
	                		Spesialis <br class="hidden-p">Bedah Plastik
	                		<strong>Dr. Noh Yongjoon</strong>
	              		</div>
	            	</div>
	            	<div class="dual-box3__area">
	              		<ul class="dual-box3__list">
	                		<li class="dual-box3__item nth-1">
	                  			<div class="dual-box3__wrap">
	                  				<div class="dual-box3__img">
	                  	  				<div class="dual-box3__caption">
	                  	    				<div class="dual-box3__vertical">
	                  	      					Kontur Badan + Payudara<br>
	                  	      					Spesialisasi dalam dua bidang
	                  	    				</div>
	                  	  				</div>
	                  				</div>
	                  			</div>
	                		</li>
	                		<li class="dual-box3__item nth-2">
	                  			<div class="dual-box3__wrap">
	                  				<div class="dual-box3__img">
	                  	  				<div class="dual-box3__caption">
	                  	    				<div class="dual-box3__vertical">
	                  	      					Tidak hanya bagian perut, tetapi termasuk payudara juga<br>
	                  	      					ertimbangan keseimbangan badan atas secara keseluruhan
	                  	    				</div>
	                  	  				</div>
	                  				</div>
	                  			</div>
	                		</li>
	                		<li class="dual-box3__item nth-3">
	                  			<div class="dual-box3__wrap">
	                  				<div class="dual-box3__img">
	                  	  				<div class="dual-box3__caption">
	                  	    				<div class="dual-box3__vertical">
												Teknik untuk operasi yang aman dan tepat
	                  	    				</div>
	                  	  				</div>
	                  				</div>
	                  			</div>
	                		</li>
	              		</ul>
	            	</div>
	          	</div>
	        </div>
	        <div class="content-section">
	          	<div class="dual-box4 box-style">
	           		<h4 class="content-section__tit type-center">
						<span class="content-section__number ">
							<span class="content-section__number-wrap">
								02
							</span>
						</span>
	              		Pasien kami dapat memilih jenis  <strong class="content-highlight2 type-dual">reduksi payudara </strong><br>
						yang sesuai dengan kebutuhan mereka
	            	</h4>
	            	<p class="content-section__txt1">Operasi reduksi payudara diklasifikasikan menjadi 4 jenis, masing-masing operasi ada keunggulan dan kelemahan.</p>
	            	<p class="content-section__txt2">Sangatlah penting dalam  <span class="dual-color1">memilih jenis operasi yang sesuai untuk diri sendiri </span>melalui konsultasi yg cukup.</p>
	            	<div class="item-box3 type-dual">
	              		<ul class="item-box3__list">
	                		<li class="item-box3__item nth-1">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h5 class="item-box3__tit tit-v2">Operasi reduksi payudara melalui sayatan areolar</h5>
	                      				<p class="item-box3__txt txt-v1">
					                        Metode ini mereduksi jaringan di payudara melalui sayatan sekitar areola & dapat dilakukan untuk kasus payudara tidak terlalu besar. Sayatan areolar meninggalkan bekas luka yang hampir tidak terlihat & prosedur ini sebagian besar tidak mengganggu fungsi payudara.
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	                		<li class="item-box3__item nth-2">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h5 class="item-box3__tit tit-v2">Reduksi payudara melalui sayatan vertikal</h5>
	                      				<p class="item-box3__txt txt-v1">
					                        Sayatan vertikal mengakses jaringan payudara melalui sayatan panjang 4-5 cm dari areola. Metode ini diciptakan untuk saling melengkapi keunggulan dan kelemahan dari sayatan bentuk “O” & sayatan areolar. Waktu operasi yg pendek & masa penyembuhan yg cepat dapat menjadi keunggulan bagi pasien & bentuk payudara bisa disesuaikan secara mudah tetapi memiliki kelemahan yaitu meninggalkan bekas luka yg sedikit terlihat.
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	                		<li class="item-box3__item nth-3">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h5 class="item-box3__tit tit-v2">Reduksi payudara melalui sayatan “Bentuk O”</h5>
	                      				<p class="item-box3__txt txt-v1">
					                        Ini adalah metode reduksi payudara yg paling umum, metode ini dapat dilakukan untuk hampir semua kasus termasuk payudara yg relatif besar, kekenduran payudara yg parah dll. Hasilnya dapat diprediksi dengan mudah, sensitifitas puting dapat dipertahankan dan memungkinkannya pemindahan posisi puting secara mudah. Bagaimanapun, karena metode ini dapat meninggalkan bekas luka pada bagian bawah putting & garis bawah payudara, pasien harus memikirkan metode lain jika ingin menghindari bekas luka.
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	                		<li class="item-box3__item nth-4">
	                  			<div class="item-box3__box">
	                    			<div class="item-box3__wrap">
	                      				<h5 class="item-box3__tit tit-v2">Reduksi payudara melalui liposuction</h5>
	                      				<p class="item-box3__txt txt-v1">
					                        Metode ini mengurangi ukuran payudara dengan cara menyedot lemak dr dalam payudara. Metode ini sangat berguna untuk kasus penggemukan pada payudara oleh karena obesitas seluruh badan. Metode ini dinilai sangat cocok karena tidak membutuhkan banyak waktu & tidak perlu khawatir dlm hal bekas luka. Bagaimanapun, ada batasan dalam kasus payudara yg terlalu besar dikarenakan kulit dapat terlihat kendur setelah operasi.
	                      				</p>
	                    			</div>
	                  			</div>
	                		</li>
	              		</ul>
	           	 	</div><!-- //item-box3-->
	          	</div>
	        </div>
	        <div class="content-section">
	          	<div class="dual-box5 box-style">
	            	<h4 class="content-section__tit type-center">
						<span class="content-section__number ">
							<span class="content-section__number-wrap">
								03
							</span>
						</span>
	              		<strong>Obesitas perut </strong> dapat terlihat berbeda  <strong class="content-highlight2 type-dual">bergantung pada kondisi probadi</strong>
	            	</h4><br>
		            <h5 class="dual-box5__subject">
		              	Bagian badan utama untuk <span class="dual-color1">Dual-Slim</span>
		            </h5>
	            	<div class="item-box3 type-dual">
	              		<ul class="item-box3__list">
	                		<li class="item-box3__item nth-5">
	                  			<div class="item-box3__box">
				                    <div class="item-box3__wrap">
				                      	<h6 class="item-box3__tit tit-v2">Perut bagian bawah</h6>
				                      	<p class="item-box3__txt txt-v1">
				                        	Kebanyakan kasus dari obesitas perut. Perawatan ditujukan untuk mengurangi sejumlah besar lemak, tetapi prosedur ini membutuhkan perhitungan yang teliti untuk mencegah kendur.
				                      	</p>
				                    </div>
	                  			</div>
	                		</li>
			                <li class="item-box3__item nth-6">
			                  	<div class="item-box3__box">
			                    	<div class="item-box3__wrap">
			                      		<h6 class="item-box3__tit tit-v2">Perut samping(lovehandle)</h6>
			                      		<p class="item-box3__txt txt-v1">
			                        		Salah satu bagian badan yg paling penting untuk memperlihatkan siluet yg ramping, kami selalu mengutamakan desain yg dapat meningkatkan garis yg indah untuk wanita
			                      		</p>
			                    	</div>
			                  	</div>
			                </li>
			                <li class="item-box3__item nth-7">
			                  	<div class="item-box3__box">
			                    	<div class="item-box3__wrap">
			                      		<h6 class="item-box3__tit tit-v2">Pinggang</h6>
			                      		<p class="item-box3__txt txt-v1">
					                        Sebagai bagian dimana lemak lama yg menumpuk banyak ditemukan. Liposuction pinggang bersamaan dgn liposuction secara keseluruhan diperlukan karena sekali lemak terbentuk di bagian tersebut, akan sangat sulit dihilangkan
			                      		</p>
			                    	</div>
			                  </div>
			                </li>
	              		</ul>
	            	</div><!-- //item-box3-->
	          	</div>
	        </div>
	        <div class="content-section">
	          	<div class="dual-box6 pop-info box-style">
	            	<div class="dual-box6__wrap">
	              		<div class="dual-box6__box">
	                		<h4 class="content-section__tit type-left">
								<span class="content-section__number ">
									<span class="content-section__number-wrap">
										04
									</span>
								</span>
			                  	Tingkat <strong>kepuasan</strong> yg lebih melalui<br class="hidden-tm">
			                  	<strong class="content-highlight2 type-black">perawatan setelah operasi</strong>
	                		</h4>
	                		<p class="content-section__txt1">
	                  			Perawatan pos-operasi Dual Slim dilakukan sama seperti pada Kontur badan. Perawatan pos-operasi kami yg proaktif & sistematis teramasuk terapi
	                  			<a href="" class="info-btn js-info">
				                    <span class="info-btn__icon">인포버튼</span>
				                    biophoton
		                    		<span class="info-desc">
										<span class="info-desc__item">
											<span class="info-desc__box">
												<span class="info-desc__tit"><span class="info-desc__icon"></span>Apa itu <strong>Bio-Photon</strong>?<br class="hidden-tm"></span>
												<span class="info-desc__content">
													<img src="../../images/body/dual/body_dual_info-img.jpg" loading="lazy" alt="Bio-Photon" class="info-desc__thumb">
													<span class="info-desc__txt1">
														Bio-Photon adalah alat pemanas sistem terbaru yang terbuat dari bahan garis PDP(Platinum Diamond Photon) yang menggabungkan partikel nano dari platinum dan berlian. Energi cahaya 4~14 mikron yang dipancarkan oleh PDP memperbaiki kondisi tubuh, meningkatkan daya tahan tubuh dan membantu melepaskan zat dan racun berbahaya. Selain itu, meningkatkan sirkulasi darah dan juga memiliki efek mengurai lemak tubuh yang secara aktif.
													 </span>
												</span>
											</span>
											<button class="info-desc__btn js-close">
												<span class="info-desc__stick type-left"></span>
												<span class="info-desc__stick type-another"></span>
												Tutup
											</button>
										</span>
									</span>
	                  			</a>
		                  		&amp; program massage, menawarkan penyembuhan lebih cepat & bentuk payudara yang lebih indah.
	                		</p>
		                	<div class="quotation2">
		                  		<p class="quotation2__txt txt-v5">Selain itu,  <span class="dual-color3">perawatan kolaboratif dengan BANOBAGI Dermatologi</span>memberikan pasien kami perawatan yang lebih detail untuk bekas luka pasca operasi</p>
		                	</div>
	              		</div>
	            	</div>
					<div class="dual-box6__img">
						<div class="after-style type-chest type-dual">
							<ul class="after-style__list">
								<li class="after-style__item nth-1">
									<div class="after-style__txt txt-new2">1 bln pos-operasi</div>
								</li>
								<li class="after-style__item nth-2">
									<div class="after-style__txt txt-new2">6 bln pos-operasi</div>
								</li>
								<li class="after-style__item nth-3">
									<div class="after-style__txt txt-new2">12 bln pos-operasi</div>
								</li>
							</ul>
						</div>
	            	</div>
	       		</div>
	    	</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Informasi Operasi</h4>
							<!-- <p class="operation-v2__subtit">BANOBAGI Dual-Slim Penyembuhan cepat</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
										<p class="operation-v2__txt txt-new1"> ± 3 jam</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
										<p class="operation-v2__txt txt-new1">Anestesi Total</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
										<p class="operation-v2__txt txt-new1">Pembuangan secara bertahap <span class="inline-block">± 8 ~ 15 hari</span></p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
										<p class="operation-v2__txt txt-new1">± 1 hari</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
										<p class="operation-v2__txt txt-new1"> ± 4 ~ 5 X</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
										<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 5 ~ 7 hari</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Pasien dapat merasa nyeri sesudah operasi, tetapi semakin lama akan semakin berkurang. Mohon diperhatikan.<br>
									Menyentuh bagian operasi akan menimbulkan sakit sakit & membuka bagian luka.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
									<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
		</div><!--//content-wrap-->
	</div>
	<!-- //Content -->

	<% include ../_include/_bfaf %>
</div> <!-- //container -->

<% include ../_include/_footer %>
