<%
	type = "content"
	page = "body"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-body-fat">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Keputusan besar bagi titik perubahan dalam hidupmu</p>
				<h3 class="content-visual__tit"><span class="color-body1">#</span> Sedot lemak seluruh tubuh</h3>
				<p class="content-visual__txt2">Perbaikan keseluruhan garis tubuh secara serentak</p>
			</div>
		</div>
    </div>
    <!-- //visual -->

	<!-- Content -->
	<div class="content type-body-fat">
		<div class="content-wrap">
		   	<div class="content-section type-first type-body-fat">
			 	<h4 class="content-section__tit type-center type-unique">
			   		<span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
			  		Kami menyediakan bantuan yang tulus menyikapi
			   		<strong class="color-body1">kekhawatiran</strong> dan <strong class="color-body1">kegelisahan</strong> Anda
			 	</h4>
			 	<ul class="box-style1__list type-special">
			   		<li class="box-style1__item w-4">
				 		<div class="box-style1__img">
				   			<img src="../../images/body/body_fat_img02.jpg" loading="lazy" alt="" class="img-responsive">
				 		</div>
			   		</li>
			   		<li class="box-style1__item w-8">
				 		<div class="box-style1__wrap">
				   			<p class="content-section__txt1 type-margin">
								Obesitas harus ditangani. Obesitas sulit diselesaikan hanya dengan usaha individu yang terken dan seringkali dibutuhkan bantuan profesional dari pakar dan tim medis untuk menanganinya. BANOBAGI telah melakukan sedot lemak selama lebih dari 19 tahun dan telah melihat banyak pasien obesitas. Kami paham usaha yang besar pasien untuk  mengunjungi klinik kami dan memutuskan untuk melakukan operasi. Oleh karena itu, konsultasi pada tahap awal kami lakukan dengan terperinci dan mendalam terkait bentuk tubuh pasien dan mengamati lebih dekat pola gaya hidup pasien.
				   			</p>
				   			<p class="content-section__txt1">
					   			Prosedur Banobagi menghilangkan sejumlah besar sel lemak tidak hanya dilakukan demi membentuk tubuh yang lebih ramping, namun juga menyediakan perubahan motivasi pasien terhadap kualitas hidupnya.
  								<span class="box-style1__point1 pop-info">
              		    	    Bahkan setelah operasi, kami menjalankan
  								<span class="box-style1__info">
  								<a href="" class="info-btn js-info ">
  									<span class="info-btn__icon type-body-fat">info-button</span>
  									tindak lanjut
  									<span class="info-desc type-body-fat">
  									<span class="info-desc__item">
  										<span class="info-desc__box">
  											<span class="info-desc__tit"><span class="info-desc__icon"></span><strong>Sistem Follow-Up</strong><br class="hidden-tm"></span>
  											<span class="info-desc__content">
  												<span class="info-desc__txt1">
  													Ketulusan BANOBAGI adalah dengan mendukung berbagai cara jika tidak ada perubahan dalam ukuran 6 bulan setelah operasi.
  												</span>
  											</span>
  										</span>
  										<button class="info-desc__btn js-close">
  											<span class="info-desc__stick type-left"></span>
  											<span class="info-desc__stick type-another"></span>
  											Tutup
  										</button>
  									</span>
  								</span>
  								</a>
  								untuk teliti memonitor dan membantu pasien menangani perubahan besar tubuhnya
                                </span>
                  				</span>
					   		</p>
					 	</div>
				   	</li>
			 	</ul>
		   	</div>
		   	<div class="content-section type-img">
			 	<ul class="box-style1__list type-another">
			   		<!-- //mobile img -->
			   		<li class="box-style1__item w-6">
					 	<h4 class="content-section__tit type-top">
					   		<span class="content-section__number type-right"><span class="content-section__number-wrap">02</span></span>
							Sedot lemak seluruh tubuh,
							Prosedur yang sebaiknya dilakukan
							<span class="box-style1__point2">sekaligus serentak. </span>
					 	</h4>

					 	<!--mobile Img -->
					 	<div class="box-style1__item hidden-p">
					   		<div class="box-style1__img-m">mobile img</div>
					 	</div>

					 	<p class="content-section__txt1">
							Alasan kami menyarankan sedot lemak seluruh tubuh adalah untuk keseimbangan tubuh. Jika operasi terbagi menjadi beberapa kunjungan, seringkali kunjungan kedua atau ketiga akan kurang presisi, sehingga kepuasan pasien berkurang akibat pembengkakan yang masih ada dari operasi sebelumnya dan tidak memberikan tubuh cukup waktu untuk pemulihan sepenuhnya.
					 	</p>
					 	<div class="box-style1__txt2">
					   		<div class="brace type-body-fat">
							 	<p class="brace__txt txt-v4">
									Sangat sedikit rumah sakit yang mampu menjalankan sedot lemak seluruh tubuh
									<span class="color-body1">dengan prosedur 1 hari saja.</span>
							 	</p>
					   		</div>
					 	</div>
					 	<p class="content-section__txt1">
							Hal ini disebabkan operasi yang menghilangkan sekitar 8.000 – 10.000cc sel lemak tubuh dalam sekaligus akan melemahkan dan menurunkan kondisi fisik pasien. Perubahan drastis tubuh, seperti perubahan elektrolit dan darah, dapat memberikan efek samping atau dampak negatif pada tubuh. Namun, hal-hal ini kembali lagi pada pengalaman, pengetahuan, dan kemampuan sang ahli bedah.
					 	</p>
					 	<p class="content-section__txt1">
							<strong class="box-style1__point1">Para pakar dan dokter tim bedah Banobagi sangat berbeda, dikarenakan mereka dapat melakukan prosedur sedot lemak 1 kali dalam 1 hari.</strong>
							Dengan pengalaman dan keterampilan yang luas, kami meminimalisir perdarahan dalam mengangkat sejumlah besar lemak dalam sekaligus. Sebagai tambahan, para ahli anestesi Banobagi dapat memonitor dan mengontrol kondisi pasien selama operasi dilakukan, karena keahlian dan pengalaman bertahun-tahun mereka bersama kami. Bahkan, Banobagi telah menjalankan sedot lemak bertahun-tahun tanpa adanya kejadian tidak terduga dan tanpa kecelakaan.
					 	</p>
					 	<div class="box-style1__box">
							<div class="quotation2 type-body-fat">
								<p class="quotation2__txt type-big tit-v4">Berapa tebal lemak yang berkurang <strong class="color-body1">setelah sedot lemak?</strong></p>
								<p class="quotation2__txt txt-v5 type-margin">Perut 8~15cm &nbsp;&nbsp; <span>/</span> &nbsp;&nbsp;Paha 5~10cm &nbsp;&nbsp;<br class="hidden-pt"> <span>/</span> &nbsp;&nbsp;Lengan 4~8cm</p>
							</div>
						</div>
						<p class="box-style1__txt3">※ Hasil dapat bervariasi setiap individu</p>
				   	</li>
			   		<!--pc Img -->
			   		<li class="box-style1__item hidden-tm">
						<div class="box-style1__img--bg type-special">
					   		<img src="../../images/body/body_fat_img03.jpg" loading="lazy" alt="">
					 	</div>
			   		</li>
			   		<!--pc Img -->
				</ul>
		   	</div>
		   	<div class="content-section type-body1">
			 	<ul class="box-style1__list type-another">
			   		<li class="box-style1__item w-4">
				 		<div class="content-wrap">
				   			<div class="box-style1__img--bg hidden-tm">
					 			<img src="../../images/body/body_fat_img04_.jpg" loading="lazy" alt="">
				   			</div>
				 		</div>
			   		</li>
			   		<li class="box-style1__item w-8 type-unique">
				 		<div class="type-upper">
				   			<h4 class="content-section__tit type-top">
					 			<span class="content-section__number type-another"><span class="content-section__number-wrap">03</span></span>
								Keharmonisan antara ilmu pengetahuan, kedokteran, dan
								<strong class="color-body1">estetika</strong>
				   			</h4>
				   			<div class="box-style1__img-m hidden-p type-another"></div>
					   		<p class="content-section__txt1">
							   	Teknik menghancurkan dan mengekstrak sel lemak melalui sedot lemak merupakan bagian dari ilmu pengetahuan. Menjalankan operasi dengan teknik dan peralatan yang berkualitas tinggi dapat mengurangi kesalahan operasi dan menghasilkan operasi yang efektif bagi pasien.
					   		</p>
						   	<p class="content-section__txt1 type-another">
							   	Berikutnya adalah meminimalisir kerusakan jaringan tisu sekitar atau cedera selama operasi dilakukan, merupakan bagian dari obat.<br>
		  						<strong class="box-style1__point1">Operasi yang dilakukan oleh tim bedah ahli di bidangnya akan meminimalisir perdarahan dan kerusakan jaringan sekitar. </strong>
						   	</p>
				   			<p class="content-section__txt1">
					   			Langkah terakhir adalah estetika, yang berfokus pada menciptakan lekuk tubuh yang indah. Berdasarkan penelitian jangka panjang kami mengenai keseimbangan tubuh dan pemahaman terhadap kegelisahan Anda, kami mengembangkan sistem yang disesuaikan dengan kebutuhan demi kepuasan pasien dengan hasil sedot lemak Banobagi.
				  		 	</p>
				 		</div>
			   		</li>
			 	</ul>

			 	<div class="way">
			   		<div class="way__wrap">
				 		<ul class="way__list">
				   			<li class="way__item nth-1">
					 			<p class="way__txt">
						 			Sedot lemak dengan laser pada titik-titik pembentukan
					 			</p>
				   			</li>
				   			<li class="way__item nth-2">
					 			<p class="way__txt">
						 			Sedot lemak cairan plasma dengan laser
					 			</p>
				   			</li>
				   			<li class="way__item nth-3">
					 			<p class="way__txt">
						 			Sedot lemak dengan pengencangan kulit
					 			</p>
				   			</li>
				   			<li class="way__item nth-4">
					 			<p class="way__txt">
									Sedot lemak dengan bantuan laser Erchonia
					 			</p>
				   			</li>
				   			<li class="way__item nth-5">
					 			<p class="way__txt">
					   				Sedot lemak sekaligus memperbaiki sel lemak
					 			</p>
				   			</li>
				   			<li class="way__item nth-6">
					 			<p class="way__txt">
					   				Perbaikan sel lemak
					 			</p>
				   			</li>
				   			<li class="way__item nth-7">
					 			<p class="way__txt">
						 			Sedot lemak dengan Teknik bius bawah kulit
					 			</p>
				   			</li>
				 		</ul>
			   		</div>
			 	</div>
		   	</div>
		   	<div class="content-section">
			 	<ul class="box-style1__list">
			   		<li class="box-style1__item w-12 type-unique">
				 		<div class="box-style1__people">
				   			<h4 class="content-section__tit type-left">
					 			<span class="content-section__number"><span class="content-section__number-wrap">04</span></span>
					 			Banobagi yakin akan <strong class="box-style1__point2">keamanan</strong>
				   			</h4>
				 		</div>
				 		<p class="content-section__txt1 type-center">
						 	Saat sedot lemak dilakukan di area tertentu saja, bius lokal dengan sedasi sering dilakukan. Bagaimanapun juga, selama proses sedot lemak seluruh tubuh, pasien akan dibius umum. Hal ini dikarenakan, prosedur ini mencakup banyak area tubuh pasien dan harus mengangkat sel lemak dalam jumlah besar dalam sekaligus. Maka prosedur sedot lemak seluruh tubuh dengan bius umum biasanya membuat pasien lebih tidak merasa sakit.<br>
				   			<strong class="box-style1__point1 type-big">Tim dokter anestesi Banobagi ada di rumah sakit dan bertanggung jawab dalam keselamatan pasien selama proses operasi.</strong><br>
				   			<strong>Oleh karena itu, kami mempersiapkan kondisi pasien sebaik mungkin demi hasil yang optimal.  </strong>
				 		</p>
			   		</li>
			 	</ul>
		   	</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-body">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Informasi Operasi</h4>
							<!-- <p class="operation-v2__subtit">Sedot lemak seluruh tubuh akan pulih secara cepat</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
										<p class="operation-v2__txt txt-new1"> ± 4 ~ 5 jam</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
										<p class="operation-v2__txt txt-new1">Anestesi Total</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
										<p class="operation-v2__txt txt-new1"> Dilepas ± stlh 1 hari</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
										<p class="operation-v2__txt txt-new1"> ± 1 hari</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
										<p class="operation-v2__txt txt-new1">
											Massage, Perawatan Pembengkakan & Lebam ± 2X
										</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
										<p class="operation-v2__txt txt-new1">
											Aktifitas normal dpt dilakukan stlh ± 3 ~ 5 hari
											<span class="inline-block"> Aktifitas yg berat disarankan u/ dilakukan stlh ± 1 bulan</span>
										</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-body">
								<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 4){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Karena, prosedur kami dilakukan dengan bius umum, pasien tidak merasakan nyeri sama sekali saat operasi.<br>
									Anda dapat merasakan ketidaknyamanan pasca operasi dan pembengkakan, tetapi ini akan mengecil dengan sendirinya seiring waktu.<br>
									Kompres dingin yang disiapkan oleh Banobagi juga akan membantu meringankan bengkak dan nyeri.<br>
									Karena operasi yang dilakukan mencakup area seluruh tubuh, Anda dapat merasakan nyeri dalam beraktivitas sehari-hari selama 2-3 hari pasca operasi.<br>
									Kami membantu meringankan nyeri dan memar secara bertahap dengan program pemulihan pasca operasi kami.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
									<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
								</div>
								<!-- <a href="<?php echo SITE_UPLOAD_URL?>/knowledge/liposuction.pdf" target="_blank" class="operation-v2__link"><span>수술 후 주의사항 보기</span></a> -->
							</div><!-- //pain -->
						</div>
					</div>
				</div>
            </div>
			<!--operation-->
		</div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
 </div><!-- // container -->

 <% include ../_include/_footer %>
