<%
	type = "content"
	page = "nose"
%>
<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
    <div class="content-visual type-nose">
		<div class="content-visual__box">
			<p class="content-visual__txt1">Dasar-dasar operasi hidung,  <span class="inline-block">yang selalu sangat penting</span></p>
			<h3 class="content-visual__tit"># <span class="color-nose5">Augmentasi</span> <span class="inline-block">Hidung</span></h3>
			<p class="content-visual__txt2">Demi sudut yang ideal</p>
		</div>
    </div>
    <!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
			<div class="low-box1">
				<div class="content-section type-first">
					<div class="content-section__wrap type-left type-unique">
						<div class="content-section__box w-5 type-nose">
							<div class="nose-side__img">
								<h4 class="content-section__tit type-left">
									<span class="content-section__number type-0"><span class="content-section__number-wrap">01</span></span>
									Alasan mendasar harus dimengerti untuk menghasilkan
									<strong class="color-nose5">prosedur yang aman dan akurat</strong>.
								</h4>
								<p class="content-section__txt1 type-special">
									<strong>Mengapa pasien menginginkan hidung yang tegas atau mancung?</strong><br>
									Hidung terletak di tengah wajah dan merupakan organ yang paling mudah dilihat pada wajah
								</p>
								<div class="quotation2 type-another tit-v4">
									Oleh karena itu,
									<span class="color-nose5">bentuk hidung, warna, dan impresi wajah yang berbeda</span>
									berperan dalam menentukan kesan hidung mancung atau tegas.
								</div>
							</div>
							<p class="content-section__txt1">
								Saat bentuk hidung lebih baik, wajah akan tampak lebih hidup secara 3 dimensi, dan memiliki impresi yang lebih mempesona. Oleh sebab itu, pasien yang memiliki tulang hidung yang kurang tegas, ingin mengubah impresi wajah mereka dengan augmentasi hidung yang secara dramatis mengubah bentuk hidung dan disebut sebagai “hidung tinggi” di Korea. Augmentasi pemancungan hidung di Banobagi tidak hanya berfokus pada memberikan kesan “hidung tinggi”.
							</p>
							<!-- pc용 -->
							<p class="content-section__txt2">
								<span class="content-highlight type-nose"><span class="color-nose5">Banobagi mengerti mengapa dan bagaiamana hidung berperan penting bagi banyak orang</span>, </span>
								<span class="content-highlight type-nose">selain dari memberikan proporsionalitas yang pas pada wajah. Kami memiliki </span>
								<span class="content-highlight type-nose">pengalaman dan pengetahuan para ahli dalam menggunakan bahan yang tepat untuk
								menghasilkan hasil operasi efektif dan hasil yang terbaik. </span>
							</p>
						</div>
						<div class="content-section__box w-7 hidden-tm type-nose">
							<div class="content-section__img type-nose1">
								<img src="../../images/nose/nose_low_img02.jpg" loading="lazy" alt="" class="">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="low-box2">
				<div class="content-section type-number">
					<h4 class="content-section__tit type-center">
						<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
						<span class="content-highlight2 type-nose">Tidak ada penggunaan secara manual </span><br> dalam operasi pemancungan hidung Banobagi
					</h4>
					<div class="content-section__wrap">
						<div class="content-section__box w-6">
							<div class="content-section__img type-nose1">
								<img src="../../images/nose/nose_low_img03.jpg" loading="lazy" alt="Augmentasi hidung" class="">
							</div>
						</div>
						<div class="content-section__box w-6 type-another">
							<div class="brace type-nose">
								<h5 class="brace__tit"><span class="color-nose5">Keragaman</span> operasi tulang hidung Banobagi</h5>
								<p class="brace__txt">Metode operasi tunggal atau kombinasi untuk menghasilkan hidung yang tampak lebih cantik dan alami. </p>
							</div>
							<p class="content-section__txt1">
								<strong>Prosedur operasi pemancungan hidung Banobagi tidaklah terpatok pada 1 metode saja.</strong><br>
								Alasannya adalah setiap pasien memiliki pendekatan dan keinginan memilih prosedur yang berbeda-beda, termasuk jenis implan yang ada, pasien dapat memilih berbagai prosedur operasi dalam memaksimalkan kecantikan dan dayatarik hidungnya. Berdasarkan prinsip operasi pembentukan hidung, operasi yang kompleks dapat dilakukan tergantung dari kondisi wajah pasien, keinginan pasien, dan keputusan yang diperoleh setelah berkonsultasi sebelum operasi.
							</p>
							<p class="content-section__txt2">
								<span class="content-highlight type-nose">Adalah <span class="color-nose5">hal yang esensial untuk mendesain bentuk hidung </span> terbaik bagi penampilan pasien, terkait simetris, lokasi, ukuran, </span>
								<span class="content-highlight type-nose">dan batas hidung dalam meningkatkan karakteristik secara keseluruhan. </span>
							</p>
						</div>
					</div>
					<ul class="nose-detail__list">
						<li class="nose-detail__item nth-1">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">Operasi pemancungan hidung </h6>
								<p class="nose-detail__txt txt-v5">
									Metode operasi untuk mengaugmentasi tulang hidung
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-2">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">Pembentukan puncuk hidung</h6>
								<p class="nose-detail__txt txt-v5">
									Metode operasi untuk merampingkan ujung hidung untuk menonjolkan tampilan 3 dimensi
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-3">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">Reduksi kelebaran hidung</h6>
								<p class="nose-detail__txt txt-v5">
									Pengurangan ukuran lebar lubang hidung diperlukan untuk keseimbangan dari keseluruhan hidung dan wajah.
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-4">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">Reseksi punuk hidung</h6>
								<p class="nose-detail__txt txt-v5">
									Membuat garis hidung Anda mulus dan lurus untuk mempercantik dan melegakan hidung saat bernafas.
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-5">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">Koreksi hidung bengkok</h6>
								<p class="nose-detail__txt txt-v5">
									Berbagai metode operasi dapat digunakan dalam rangka meningkatkan fungsi dan memperbaiki bentuk hidung menjadi lebih seimbang dengan wajah.
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-6">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">Koreksi sekat hidung bagian bawah (kolumela)</h6>
								<p class="nose-detail__txt txt-v5">
									Kolumela terletak diantara kedual lubang hidung, sebagai penyangga ujung puncak hidung. Posisi kolumela menjadikannya penting bagi keseimbangan fungsi kedua lubang hidung dan penampilan yang lebih cantik
								</p>
							</div>
						</li>
						<li class="nose-detail__item nth-7">
							<div class="nose-detail__wrap">
								<h6 class="nose-detail__tit tit-v2">Pemotongan tulang hidung</h6>
								<p class="nose-detail__txt txt-v5">
									Reduksi tulang hidung yang lebar pada kedua sisi dari hidung dilakukan untuk membuat hidung tampak memukau dan tegas.
								</p>
							</div>
						</li>
					</ul>
					<!-- //nose-detail__list -->
				</div>
			</div>
			<div class="low-box3">
				<div class="content-section type-full type-number">
					<div class="content-section__wrap type-nose1">
						<div class="content-section__box w-5 type-another type-nose">
							<h4 class="content-section__tit type-top">
								<span class="content-section__number"><span class="content-section__number-wrap">03</span></span>
								<strong>Hidung yang</strong> <br class="hidden-m">
								<strong class="color-nose5">cocok </strong><br>
								<strong>dengan wajah Anda</strong>
							</h4>
							<p class="content-section__sub-tit">
								Sebuah hidung yang tampak cantik dari segala sudut
							</p>
							<p class="content-section__txt1">
								<span class="inline-block">Tujuan utama dari augmentasi pemancungan hidung adalah untuk memberikan bentuk yang lebih jelas dan baik. </span>
								<span class="inline-block">Selain itu, hidung harus tampak alami, cantik, simetris, dan cocok dengan keseluruhan organ wajah. </span><br class="hidden-pm">
								<span class="inline-block">Oleh karena itu, <span class="color-nose5">augmentasi pemancungan hidung Banobagi tidak hanya mempertimbangkan bentuk hidung semata. </span></span><br class="hidden-pm">
								Kami juga memandang secara holistik melalui konsultasi yang mendetail, mencakup bentuk kening, tulang pipi, dan bentuk dagu, demi penampilan yang lebih cantik dan alami dari berbagai sudut.
							</p>
						</div>
						<div class="content-section__box hidden-pt">
							<div class="content-section__img type-nose2"></div>
						</div>
					</div><!--content-section__wrap -->
					<div class="point-box">
						<div class="point-box__border">
							<ul class="point-box__list">
								<li class="point-box__item">
									<div class="point-box__img nth-1"></div>
								</li>
								<li class="point-box__item">
									<div class="point-box__wrap">
										<span class="point-box__number">Point 01</span>
										<h5 class="point-box__tit">Eksotisnya pucuk hidung</h5>
										<p class="point-box__txt txt-v5">
											Bagian pucuk hidung merupakan bagian penting dalammenampilkan hidung yang lebih cantik. Bentuk yang bulat tipis dan menonjol jelas di ujung hidung akan membantu hidung terlihat lebih alami dan cantik.
										</p>
									</div>
								</li>
								<li class="point-box__item">
									<div class="point-box__wrap">
										<span class="point-box__number">Point 02</span>
										<h5 class="point-box__tit">
											Pengertian tentang bahan-bahan operasi. Keterampilan yang dibutuhkan untuk mengeluarkan kecantikan alami.
										</h5>
										<p class="point-box__txt txt-v5">
											Kami memiliki kemampuan dan berbagai pilihan untuk digunakan, baik bahan maupun keterampilan; mulai dari tulang rawan artifisial, lapisan otot tulang sisi tengkorak, dan penggunaan jaringan lemak, apakah menggunakan buatan seperti silikon, Goretex, atau Gore Silie. Untuk alasan inilah kami dapat mengerjakan prosedur yang alami, aman, dan spesifik sesuai kondisi pasien.
										</p>
									</div>
								</li>
								<li class="point-box__item">
									<div class="point-box__img nth-2"></div>
								</li>
								<li class="point-box__item">
									<div class="point-box__img nth-3"></div>
								</li>
								<li class="point-box__item">
									<div class="point-box__wrap">
										<span class="point-box__number">Point 03</span>
										<h5 class="point-box__tit">Kecantikan melibatkan sudut pandang dan proporsionalitas</h5>
										<p class="point-box__txt txt-v5">
											Banobagi mengadakan operasi pembentukan hidung berdasarkan pengukuran yang cermat dengan sudut alami dan perbandingan antara kening, mulut, dan organ wajah lainnya secara tepat. Oleh karena itu, hasil yang diciptakan tampak lebih simetris, alami, dan memukau.
										</p>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div><!-- content-section -->


			</div>
			<div class="new-section">
					<div class="new-section__wrap type-w">
						<div class="operation-v2 type-nose">
							<div class="operation-v2__wrap">
								<h4 class="operation-v2__tit">Informasi Operasi</h4>
								<!-- <p class="operation-v2__subtit">Operasi pemancungan hidung Banobagi memiliki prosedur dengan waktu pemulihan yang cepat</p> -->
								<ul class="operation-v2__list">
									<li class="operation-v2__item nth-1 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
											<p class="operation-v2__txt txt-new1"> ± 1 ~ 1jam 30 menit</p>
										</div>
									</li>
									<li class="operation-v2__item nth-2 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
											<p class="operation-v2__txt txt-new1">Anestesi Sedasi IV</p>
										</div>
									</li>
									<li class="operation-v2__item nth-3 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
											<p class="operation-v2__txt txt-new1">Dilepas ± stlh 5 hari</p>
										</div>
									</li>
									<li class="operation-v2__item nth-4 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Waktu Hospitalisasi</h5>
											<p class="operation-v2__txt txt-new1">Pulang di hari yg sama</p>
										</div>
									</li>
									<li class="operation-v2__item nth-5 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
											<p class="operation-v2__txt txt-new1">± 2 X</p>
										</div>
									</li>
									<li class="operation-v2__item nth-6 js-op-height">
										<div class="operation-v2__box">
											<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
											<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 5 ~ 7 hari</p>
										</div>
									</li>

								</ul>
								<div class="pain-v2 type-nose">
									<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
									<ol class="pain-v2__list">
										<% for(var i = 1; i<= 10; i++){%>
											<%if(i <= 1){%>
												<li class="<%="pain-v2__item is-active nth-"+i%>">
													<div class="pain-v2__square">circle</div>
												</li>
											<%}else{%>
												<li class="<%="pain-v2__item nth-"+i%>">
													<div class="pain-v2__wrap">
														<div class="pain-v2__square">circle</div>
													</div>
												</li>
											<%}%>
										<%}%>
									</ol>
									<p class="pain-v2__txt txt-new1">
										<p class="operation__pain-txt"><span class="color-nose5">Proses pemulihan yang cepat </span>akan membantu para pasien sehat dengan cepat.<br>
										Ketidaknyamanan seperti merasa memiliki benda asing dalam tubuh adalah normal pasca operasi, namun akan segera hilang dengan sendirinya seiring berjalannya waktu.<br>
										Obat anti nyeri yang diresepkan akan membantu menghilangkan nyeri dengan cepat.<br>
										Anda juga dapat merasakan rasa panas di area yang sedang pemulihan, dan dapat menggunakan kompres dingin untuk mengurangi rasa tidak nyaman dan bengkak tersebut, jika diperlukan.
									</p>
									<div class="pain-v2__box">
										<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
										<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
									</div>
								</div><!-- //pain -->
							</div>
						</div>
					</div>

	            </div>
		</div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
