<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
	<div class="content-visual type-nose-reduction">
		<div class="content-visual__box">
			<div class="content-visual__border type-nose-reduction">
				<p class="content-visual__txt1 type-nose-reduction">Menyeimbangkan Harmoni Wajah Secara Natural</p>
				<h3 class="content-visual__tit type-nose-reduction"># <span class="type-nose-reduction">Reduksi Hidung Besar</span></h3>
				<p class="content-visual__txt2 type-nose-reduction">Menyesuaikan keseimbangan Hidung dengan wajah</p>
			</div>
		</div>
	</div>
	<!-- //visual -->

	<!-- content -->
	<div class="content">
		<div class="content-wrap">
	      	<div class="reduction-box1">
	        	<div class="content-section type-first">
	          		<h4 class="content-section__tit type-top">
			            <span class="content-section__number"><span class="content-section__number-wrap">01</span></span>
			            <strong>Hidung besar menghalangi</strong>
						<br class="hidden-tm">pesona fitur wajah lainnya
	          		</h4>
	          		<div class="content-section__wrapper clearfix">

			            <div class="content-section__thumb type-unique">
			              	<img class="hidden-m" src="../../images/nose/need-01-pt.png" loading="lazy" alt="model">
			              	<img class="hidden-pt" src="../../images/nose/need-01-m.png" loading="lazy" alt="model">
			            </div>
			            <div class="content-section__txt-box type-unique">
				            <p class="content-section__txt1">
				                Bersamaan dengan letaknya di pusat wajah, hidung adalah bagian wajah yg paling bersifat 3D. Apalagi hidung adalah bagian wajah yg paling mencolok mata. <br>
				                <strong class="type-bigger">Tetapi bagaimana jika ukuran hidung terlalu berlebihan?</strong>
				            </p>
			              	<p class="content-section__txt1">
			                	<span class="content-highlight type-nose-reduction1">Itulah alasan mengapa  <strong>reduksi hidung besar </strong>dibutuhkan</span><br>
			                	Reduksi hidung sendiri memiliki arti ‘mengurangi’ ukuran hidung yg terlalu besar agar sesuai dengan wajah.<br class="hidden-tm">
			                	Prosedur ini membuat hidung lebih sesuai dengan ukuran wajah agar terlihat lebih bersinar. <br class="hidden-m">
			                	Hal ini pun menyeimbangkan keseluruhan siluet wajah untuk memberi kesan wajah yg harmonis.
			              	</p>
			              	<div class="reduction-effects quotation2">
				                <h5 class="reduction-effects__tit tit-v2">
				                  	Manfaat Reduksi Hidung
				                </h5>
				                <ol class="reduction-effects__list">
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">01</span>
				                    	<p class="reduction-effects__txt1">Kesan wajah yg lebih indah</p>
				                  	</li>
					                <li class="reduction-effects__item">
					                    <span class="reduction-effects__numbering">02</span>
					                    <p class="reduction-effects__txt1">Hidung yg terilhat halus dan fresh</p>
					                </li>
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">03</span>
				                    	<p class="reduction-effects__txt1">Efek volume 3D pada wajah</p>
				                  	</li>
				                </ol>
			              	</div>
			            </div>
	          		</div>
	        	</div>
	      	</div>
	      	<div class="reduction-box2">
	        	<div class="ideal-reduction">
	          		<h5 class="ideal-reduction__tit">
						<strong class="content-highlight type-nose-reduction3">Reduksi Hidung</strong> yang ideal
	          		</h5>
	          		<div class="ideal-reduction__wrapper">
	            		<div class="ideal-reduction__wrapper type-bg-t">
	              			model
	            		</div>
	            		<div class="ideal-reduction__wrapper type-bg">
	              			model
	              			<div class="reduction-effects quotation2">
				                <ol class="reduction-effects__list">
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">01</span>
				                    	<p class="reduction-effects__txt1">Ukuran proporsional secara harmonis</p>
				                  	</li>
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">02</span>
				                    	<p class="reduction-effects__txt1">Penyesuaian ukuran secara 3D</p>
				                  	</li>
				                  	<li class="reduction-effects__item">
				                    	<span class="reduction-effects__numbering">03</span>
				                    	<p class="reduction-effects__txt1">Bentuk yg sesuai dengan citra wajah</p>
				                  	</li>
				                </ol>
	              			</div>
	            		</div>
	          		</div>
	        	</div>
	        	<!-- content-section -->
	      	</div>
	      	<div class="reduction-box3">
	        	<div class="content-section">
		          	<div class="content-section__wrapper type-bg">
		            	<h4 class="content-section__tit type-center">
		              		<span class="content-section__number"><span class="content-section__number-wrap">02</span></span>
							Keterampilan Dokter Spesialis<br class="hidden-tm"> <strong>sangat penting</strong> untuk<br class="hidden-tm">
		              		<span class="content-highlight type-nose-reduction2">Prosedur yang komprehensif</span>
		            	</h4>
		            	<p class="content-section__txt1">
		              		Reduksi Hidung membutuhkan berbagai prosedur seperti berikut; yaitu koreksi <br class="hidden-m">
		              		tulang hidung, tulang rawan & jaringan bagian hidung.
		            	</p>
			            <p class="content-section__txt1">
			              	Hidung bagian atas yg tebal & lebar dapat dikurangi melalui osteotomi interior & sayap hidung diperbaiki melalui osteotomi eksterior.<br class="hidden-tm">
			              	Pada area hidung bagian bawah, lebar hidung diperkecil sambil menjaga tinggi batang hidung. Tinggi Septum frontal dikurangi dan mereduksi tulang rawan bagian luar & penyesuaian lubang hidung.<br class="hidden-m">
			              	Setelah ukuran keseluruhan telah diatur, beberapa prosedur akan dilanjutkan seperti mengasah ujung hidung, mengurangi lebar lubang hidung dll.
			            </p>
			            <p class="content-section__txt3 txt-v5">
							Reduksi hidung membutuhkan perbaikan yg kompleks seperti dijelaskan atas.<br class="hidden-tm">
							Oleh karena itu, sangat penting untuk melakukan prosedur oleh Dokter Spesialis Bedah Plastik yg<br class="hidden-tm">
							<span class="color-reduction2">berpengetahuan luas & berpengalaman.</span>
			            </p>
			            <div class="content-section__wrapper face">
							Osteotomi Eksterior Osteotomi + Interior Koreksi + Septum Tip-Plasty + Reduksi sayap hidung
			            </div>
		          	</div>
		          	<div class="content-section__wrapper type-bg2">
		            	<div class="nose-team">
		              		<h5 class="nose-team__tit">
		                		BANOBAGI
		                		<strong>Tim Spesial Bedah Plastik Hidung</strong>
		              		</h5>
			              	<p class="nose-team__txt1">
			                	<strong>Tim Spesial Bedah Plastik Hidung</strong> yg telah memiliki pengalaman bertahun-tahun bertujuan menciptakan<br class="hidden-tm"> hidung yg sesuai dengan spesifikasi pasien untuk mendapatkan hidung yg terlihat indah dari sudut manapun.
			              	</p>
			              	<div class="nose-team__thumb">
			                	<img class="hidden-tm" src="../../images/nose/docs-p.png" loading="lazy" alt="DR.Jaegon Kim, DR.Harkyoung Kim, DR.Kyunam Han, DR.Hyuntaek Lee, DR.Yongjoon Noh">
			                	<img class="hidden-pm" src="../../images/nose/docs-t.png" loading="lazy" alt="DR.Jaegon Kim, DR.Harkyoung Kim, DR.Kyunam Han, DR.Hyuntaek Lee, DR.Yongjoon Noh">
			                	<img class="hidden-pt" src="../../images/nose/docs-m.png" loading="lazy" alt="DR.Jaegon Kim, DR.Harkyoung Kim, DR.Kyunam Han, DR.Hyuntaek Lee, DR.Yongjoon Noh">
			              	</div>
		            	</div>
		          	</div>
	        	</div>
	        	<!-- content-section -->
	      	</div>
			<div class="new-section">
				<div class="new-section__wrap type-w">
					<div class="operation-v2 type-nose">
						<div class="operation-v2__wrap">
							<h4 class="operation-v2__tit">Informasi Operasi</h4>
							<!-- <p class="operation-v2__subtit">Reduksi Hidung BANOBAGI menawarkan pemulihan yg lebih cepat</p> -->
							<ul class="operation-v2__list">
								<li class="operation-v2__item nth-1 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
										<p class="operation-v2__txt txt-new1"> ± 1 jam 30 menit ~ 2 jam</p>
									</div>
								</li>
								<li class="operation-v2__item nth-2 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
										<p class="operation-v2__txt txt-new1">Anestesi Sedasi IV/Anestesi Total</p>
									</div>
								</li>
								<li class="operation-v2__item nth-3 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
										<p class="operation-v2__txt txt-new1">Dilepas ± stlh 5 hari</p>
									</div>
								</li>
								<li class="operation-v2__item nth-4 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Material Operasi</h5>
										<p class="operation-v2__txt txt-new1">Dermis, silikon dll</p>
									</div>
								</li>
								<li class="operation-v2__item nth-5 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
										<p class="operation-v2__txt txt-new1"> ± 2 X</p>
									</div>
								</li>
								<li class="operation-v2__item nth-6 js-op-height">
									<div class="operation-v2__box">
										<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
										<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 5 ~ 7 hari</p>
									</div>
								</li>

							</ul>
							<div class="pain-v2 type-nose">
								<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
								<ol class="pain-v2__list">
									<% for(var i = 1; i<= 10; i++){%>
										<%if(i <= 2){%>
											<li class="<%="pain-v2__item is-active nth-"+i%>">
												<div class="pain-v2__square">circle</div>
											</li>
										<%}else{%>
											<li class="<%="pain-v2__item nth-"+i%>">
												<div class="pain-v2__wrap">
													<div class="pain-v2__square">circle</div>
												</div>
											</li>
										<%}%>
									<%}%>
								</ol>
								<p class="pain-v2__txt txt-new1">
									Kami menawarkan pemulihan yg lebih cepat & proaktif melalui Proyek Penyembuhan Cepat kami.<br>
									Pasien mungkin mengalami nyeri pegal saat anestesi hilang tetapi nyeri akan mereda seiring waktu.<br>
									 Hanya sedikit rasa sakit yg akan terjadi selama pencabutan benang & desinfeksi.<br>
									 Nyeri & demam akibat pembengkakan dapat dikurangi melalui obat penghilang rasa sakit yg diresepkan & kompres dingin.
								</p>
								<div class="pain-v2__box">
									<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
									<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
								</div>
							</div><!-- //pain -->
						</div>
					</div>
				</div>

            </div>
	    </div>
	</div>
	<!-- //content -->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
