<%
	type = "content"
	page = "nose"
%>

<% include ../_include/_header %>
<div class="container">
	<% include ../_include/_lnb %>

	<!-- visual -->
    <div class="content-visual type-case">
		<div class="content-visual__box">
			<div class="content-visual__border">
				<p class="content-visual__txt1">Karakter yg berbeda, metode yg berbeda</p>
				<h3 class="content-visual__tit"># <span class="color-nose8">Jenis</span> Operasi Hidung</h3>
				<p class="content-visual__txt2">Sebuah usaha perbaikan bagi setiap kasus yang mungkin ada</p>
			</div>
		</div>
    </div>
	<!-- //visual -->

	<!-- content-->
	<div class="content">
		<div class="content-wrap">
	        <div class="content-section type-case">
	          	<div class="nose-case__wrap">
	            	<div class="content-tab">
	              		<div class="content-tab__inner">
	               			<ul class="content-tab__list">
	                  			<li class="content-tab__item is-active"><a href=""  class="content-tab__link" data-tab="page-hooked">Perbaikan hidung bengkok<br class="hidden-pt"> / meluruskan</a></li>
	                  			<li class="content-tab__item"><a href=""  class="content-tab__link" data-tab="page-arrow">“hidung busur”<br class="hidden-pt"> / operasi hidung panjang</a></li>
	                 	 		<!--<li class="content-tab2__item"><a href=""  class="content-tab__link" data-tab="page-upturn">들창코 / 짧은 코 성형</a></li>
	                  			<li class="content-tab2__item"><a href=""  class="content-tab__link" data-tab="page-bend">휜 코 교정술</a></li>-->
	                		</ul>
	              		</div>
	            	</div>

	            	<div class="content-tab__page page-hooked is-active">
	              		<div class="content-box__box">
	                		<div class="casetype-box1">
	                  			<div class="casetype-box1__wrap">
	                    			<div class="casetype-box1__box type-hawk">
	                      				<h4 class="casetype-box1__tit">Pembuangan<br> / meluruskan<br> hidung bengkok </h4>
	                      				<p class="casetype-box1__txt">Mengikis adalah salah satu cara dari beberapa solusi</p>
	                      				<div class="casetype-box1__bracket">
	                        				Operasi hidung yang bengkok merupakan prosedur kompleks:<br> kuncinya adalah
	                        				<span>menemukan jawaban yang benar diantara<br> berbagai kemungkinan. </span>
	                      				</div>
	                    			</div>
	                  			</div>
	                  			<div class="casetype-box1__bg">
	                    			<div class="comparison">
	                     		 		<ul class="comparison__list">
	                        				<li class="comparison__item nth-1">
	                          					<span class="comparison__subject">Sebelum</span>
	                        				</li>
					                        <li class="comparison__item nth-2">
					                          	<span class="comparison__subject">Sesudah</span>
					                        </li>
	                      				</ul>
	                    			</div>
	                  			</div>
	                		</div><!--//casetype-box1-->

	                		<div class="casetype-box2">
	                  			<div class="quotation2">
	                    			<p class="quotation2__txt txt-v5">Diagnosis yang akurat dan prosedur yang <span class="color-nose6">tepat mencegah pembentukan kembali permukaan tulang</span> dan <span class="inline-block"><span class="color-nose6">menciptakan perbaikan yang luar biasa.</span></span></p>
	                  			</div>
	                		</div>

	                		<div class="casetype-box3">
	                  			<ul class="casetype-box3__list">
	                    			<li class="casetype-box3__item nth-1">
	                      				<div class="casetype-box3__img nth-1"></div>
	                    			</li>
	                    			<li class="casetype-box3__item nth-2">
	                      				<p class="casetype-box3__txt txt-v1">
	                        				Hidung bengkok tidak dapat dikoreksi sesederhana hidung yang terlalu menonjol di sebagian kecil tulang hidung. Beberapa hal harus turut diperhitungkan: derajat bengkoknya tulang, kelebaran tulang hidung, tinggi dan bentuk dari puncak hidung, dan pendekatan operasi yang ada pun beragam. Jika suatu jenis prosedur digunakan pada semua kasus yang berbeda-beda, maka akan banyak tampak keganjilan, hidung yang tampak pendek, tulang hidung yang tampak rata, atau sudut hidung yang terlihat kurang indah. <br class="hidden-m">
	                        				<strong class="content-highlight type-case">Banobagi, dengan pengetahuan dan ketepatan diagnosis kami, dapat mengantisipasi kemungkinan-kemungkinan tersebut, hidung bengkok dapat kami tangani tanpa menjadi menebal di kemudian hari dengan prosedur yang paling tepat.</strong> Selain itu, kami menjalankan operasi secara komprehensif dengan metode yang tepat seperti meninggikan hidung dengan implan atau pun pembentukan dari sel tubuh sendiri, atau merampingkan tulang hidung setelah bagian yang bengkok diluruskan. Hal ini memberikan pasien kesempurnaan hidung yang cocok bagi wajah mereka.
	                      				</p>
	                    			</li>
	                  			</ul>
	                		</div>

	                		<div class="list-box">
	                  			<div class="list-box__box">
	                    			<div class="list-box__wrap">
	                      				<div class="list-box__vertical">
	                        				<h5 class="list-box__tit tit-v3">
												<strong>Poin</strong>
	                          					Operasi hidung
	                        				</h5>
	                      				</div>
	                    			</div>
	                  			</div>

	                  			<ul class="list-box__list">
	                    			<li class="list-box__item txt-v3">memahat bagian bengkok menjadi siluet hidung yang cantik</li>
				                    <li class="list-box__item txt-v3">mempertajam aksen puncak hidung</li>
				                    <li class="list-box__item txt-v3">memperbaiki bentuk hidung melalui prosedur yang komprehensif</li>
	                  			</ul>
	                		</div>

	              		</div>

						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">Informasi Operasi</h4>
										<!-- <p class="operation-v2__subtit">Pembuangan hidung bengkok membutuhkan waktu pemulihan yang cepat</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
													<p class="operation-v2__txt txt-new1"> ± 1 jam 30 menit ~ 2 jam</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
													<p class="operation-v2__txt txt-new1">Anestesi Sedasi IV/Anestesi Lokal</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
													<p class="operation-v2__txt txt-new1">Dilepas ± stlh 5 hari</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Material Operasi</h5>
													<p class="operation-v2__txt txt-new1">Dermis, silikon dll</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
													<p class="operation-v2__txt txt-new1"> ± 2X</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
													<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 5 ~ 7 hari</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">circle</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">circle</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												Pembiusan dengan sedasi tidak perlu dikhawatirkan. Nyeri tidak akan terasa sampai obat bius hilang, disertai rasa tidak nyaman yang mungkin muncul.<br>
												Kami akan meresepkan obat anti nyeri berupa obat-obatan yang mudah didapat. <br>
												Kompres dingin juga dapat dilakukan untuk mengurangi rasa hangat dan tidak nyaman di wajah. <br>
												Proyek pemulihan cepat kami dilengkapi fasilitas guna menunjang pemulihan yang mulus. <br>
												Selain itu, pasien harus menjaga agar lokasi yang dioperasi tidak terkena barang atau benturan dari luar.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
												<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>

			            </div>
	                	<!--operation-->
	              	</div><!-- //content-tab__page-->
			        <!-- //Perbaikan hidung bengkok / meluruskan -->

					<div class="content-tab__page page-arrow">
		              	<div class="content-box__box">
		                	<div class="casetype-box1 type-arrow">
			                  	<div class="casetype-box1__wrap">
			                    	<div class="casetype-box1__box">
			                      		<h4 class="casetype-box1__tit">“hidung busur”<br> / operasi hidung panjang</h4>
			                      		<div class="casetype-box1__bracket">
			                        		Kepuasan yang lebih dari operasi yang sama tergantung dari <br>
			                        		<span>kepekaan dokter bedah.</span>
			                      		</div>
			                      		<p class="casetype-box1__txt">Menyempurnakan sudut dan puncak hidung ideal</p>
			                    	</div>
			                  	</div>
			                  	<div class="casetype-box1__bg">
			                    	<div class="comparison">
			                      		<ul class="comparison__list">
			                        		<li class="comparison__item nth-3">
			                          			<span class="comparison__subject">Sebelum</span>
			                        		</li>
					                        <li class="comparison__item nth-4">
					                          	<span class="comparison__subject">Sesudah</span>
					                        </li>
			                      		</ul>
			                    	</div>
			                  	</div>
			                </div><!--//casetype-box1-->
			                <div class="casetype-box2">
			                  	<div class="quotation2">
			                    	<p class="quotation2__txt txt-v5">
			                      		Harus dimengerti bahwa yang menentukan Panjang hidung adalah <span class="color-nose6">perbandingan dan sudut hidung.</span>
			                    	</p>
			                  	</div>
			                </div>
			                <div class="casetype-box3">
			                  	<ul class="casetype-box3__list">
			                    	<li class="casetype-box3__item nth-1">
			                      		<div class="casetype-box3__img nth-2"></div>
			                    	</li>
			                    	<li class="casetype-box3__item nth-2">
			                      		<p class="casetype-box3__txt txt-v1">
			                          		Hidung berbentuk busur merupakan hidung yang terlalu panjang dibandingkan ukuran wajah, sehingga hidung tampak menggantung ke bawah. Hal ini dapat dikoreksi dengan cukup mudah, yaitu memperbaiki Panjang hidung dengan eksisi tulang rawan penyekat hidung dan menariknya ke atas menuju puncak hidung.<br><br>

			                          		Bagaimanapun juga, apakah pedekatan itu secara estetik akan membuahkan hasil ynag lebih indah merupakan pertanyaan lain. Bahkan jika panjang hidung tetap sama, sudut antara lekukan di bawah sekat lubang hidung dengan area sekitarnya berbeda, dapat memberikan impresi yang berbeda. <strong class="content-highlight type-case">Akhirnya, hal apa yang menjadi krusial dalam operasi hidung busur adalah menentukan sudut ideal antara puncak hidung dengan lekukan di bawah sekat lubang hidung</strong> Ini merupakan dimana Banobagi yakin; berkat kepekaan estetika yang unggul dan pengalaman yang banyak.
			                      		</p>
			                    	</li>
			                  	</ul>
			                </div>
			                <div class="list-box">
			                  	<div class="list-box__box">
			                    	<div class="list-box__wrap">
			                      		<div class="list-box__vertical">
			                        		<h5 class="list-box__tit tit-v3">
												<strong>Poin</strong>
												Operasi hidung
			                        		</h5>
			                      		</div>
			                    	</div>
			                  	</div>
			                  	<ul class="list-box__list">
				                    <li class="list-box__item txt-v3">Secara ideal mengoreksi sudut antara lekukan di bawah sekat lubang hidung dengan puncak hidung</li>
				                    <li class="list-box__item txt-v3">memperkuat aksen hidung yang awet muda dengan memperbaiki proporsionalitas hidung</li>
				                    <li class="list-box__item txt-v3">memperbaiki tampilan hidung yang menggantung dengan menonjolkan puncak hidung</li>
			                  	</ul>
			                </div>
		              	</div>
						<div class="new-section">
							<div class="new-section__wrap type-w">
								<div class="operation-v2 type-nose">
									<div class="operation-v2__wrap">
										<h4 class="operation-v2__tit">Informasi Operasi</h4>
										<!-- <p class="operation-v2__subtit">“hidung busur” / operasi hidung Panjang memiliki pemulihan yang cepat</p> -->
										<ul class="operation-v2__list">
											<li class="operation-v2__item nth-1 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Waktu Operasi</h5>
													<p class="operation-v2__txt txt-new1"> ± 1 jam 30 menit ~ 2 jam</p>
												</div>
											</li>
											<li class="operation-v2__item nth-2 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Jenis Anestesi</h5>
													<p class="operation-v2__txt txt-new1">Anestesi Sedasi IV</p>
												</div>
											</li>
											<li class="operation-v2__item nth-3 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Pencabutan Benang</h5>
													<p class="operation-v2__txt txt-new1">Dilepas ± stlh 5 hari</p>
												</div>
											</li>
											<li class="operation-v2__item nth-7 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Material Operasi</h5>
													<p class="operation-v2__txt txt-new1">Tdk diperlukan</p>
												</div>
											</li>
											<li class="operation-v2__item nth-5 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Kunjungan Perawatan</h5>
													<p class="operation-v2__txt txt-new1"> ± 2 X</p>
												</div>
											</li>
											<li class="operation-v2__item nth-6 js-op-height">
												<div class="operation-v2__box">
													<h5 class="operation-v2__subject txt-new2">Penyembuhan</h5>
													<p class="operation-v2__txt txt-new1">Aktifitas normal dpt dilakukan stlh ± 5 ~ 7 hari</p>
												</div>
											</li>

										</ul>
										<div class="pain-v2 type-nose">
											<h5 class="pain-v2__tit txt-new2">Rasa sakit Pos-Operasi</h5>
											<ol class="pain-v2__list">
												<% for(var i = 1; i<= 10; i++){%>
													<%if(i <= 2){%>
														<li class="<%="pain-v2__item is-active nth-"+i%>">
															<div class="pain-v2__square">circle</div>
														</li>
													<%}else{%>
														<li class="<%="pain-v2__item nth-"+i%>">
															<div class="pain-v2__wrap">
																<div class="pain-v2__square">circle</div>
															</div>
														</li>
													<%}%>
												<%}%>
											</ol>
											<p class="pain-v2__txt txt-new1">
												Pembiusan dengan sedasi tidak perlu mengkhawatirkan akan nyeri.<br>
												Rasa tidak nyaman dapat muncul saat obat bius sudah hilang efeknya.<br>
												Kami akan memberikan obat anti nyeri yang mudah didapatkan.<br>
												Kompres dingin juga dapat dilakukan untuk mengurangi rasa hangat di wajah.<br>
												Proyek pemulihan cepat kami difasilitasi dengan lengkap sehingga pemulihan pasien berjalan mulus.<br>
												Namun penting untuk diingat bahwa pasien harus menjaga lokasi operasi agar tidak tersentuh atau terkena tekanan dari luar sebelum implan tersebut menetap.
											</p>
											<div class="pain-v2__box">
												<p class="pain-v2__noti txt-new4">* berdasarkan pasien sesungguhnya melalui kuisioner</p>
												<p class="pain-v2__noti txt-new4">* bukan standar baku, pengalaman pasien bervariasi</p>
											</div>
										</div><!-- //pain -->
									</div>
								</div>
							</div>
			            </div>
						<!--수술정보-->
		            </div><!-- //content-tab__page-->
		            <!-- //“hidung busur” / operasi hidung panjang -->

		            <div class="content-tab__page page-upturn low">
		              	<div class="content-box__box">
		                	<div class="casetype-box1 type-low">
		                  		<div class="casetype-box1__wrap">
		                    		<div class="casetype-box1__box">
		                      			<h4 class="casetype-box1__tit">들창코 / 짧은 코 성형</h4>
		                      			<p class="casetype-box1__txt2">
		                        			철저한 계산으로 무리 없이 곧게 늘려줍니다<br>
		                        			그래서 <strong>더 안전하고 자연스럽습니다</strong>
		                      			</p>
		                    		</div>
		                  		</div>
		                  		<div class="casetype-box1__bg">
		                    		<div class="comparison type-low">
		                      			<ul class="comparison__list">
		                        			<li class="comparison__item nth-5">
		                          				<span class="comparison__subject">before</span>
		                        			</li>
		                        			<li class="comparison__item nth-6">
		                          				<span class="comparison__subject">after</span>
		                        			</li>
		                      			</ul>
		                    		</div>
		                  		</div>
		                	</div><!--//casetype-box1-->
		                	<div class="casetype-box2">
		                  		<div class="quotation2">
		                    		<p class="quotation2__txt txt-v5">
		                      			인위적이기 때문에 부작용이 생기는 것입니다.<br class="hidden-pt">
		                      			<span class="inline-block"><span class="color-nose6">뼈와 피부의 자연스러움을 계산</span>할 수 있는<br class="hidden-pt"> 안목과 기술이 필요합니다.</span>
		                    		</p>
		                  		</div>
		                	</div>
		                	<div class="casetype-box3">
		                  		<ul class="casetype-box3__list">
		                    		<li class="casetype-box3__item nth-1">
		                      			<div class="casetype-box3__img nth-3"></div>
		                    		</li>
		                    		<li class="casetype-box3__item nth-2">
		                      			<p class="casetype-box3__txt txt-v1">
		                        			코가 짧은 들창코는 교정하기 까다로운 케이스로 인식됩니다. 있는 것을 교정하는 것이 아닌, 없는 것을 새로 만들어야
		                        			하는 수술이기 때문이죠. 이런 수술은 자칫 잘못 접근하게 되면 자연스럽지 못한 결과를 얻게 되거나 재발 위험 등의
		                        			부작용이 있습니다. <br><br>


					                        그렇기 때문에  <strong class="content-highlight type-case">들창코 / 짧은 코 성형은 다년간 쌓아온 수술 경험을 토대로 한 철저한 계산과 세밀한 수술이
					                        필요합니다.</strong>  코 길이 연장에 필요한 자가연골이나 비중격 연골을 적합한 크기로 잘라 뼈의 부담을 줄이고, 피부의
					                        당김 정도까지 계산해 길이를 맞춰야 합니다. 그렇게 해야 코 끝이 틀어지거나 이전의 형태로 돌아가는 것을 막을 수
					                        있습니다. 이런 체계적인 계산으로 진행됐기에 더욱 자연스럽고 안전합니다.
		                      			</p>
		                    		</li>
		                  		</ul>
		                	</div>
		                	<div class="list-box">
		                  		<div class="list-box__box">
		                    		<div class="list-box__wrap">
		                      			<div class="list-box__vertical">
			                       	 		<h5 class="list-box__tit tit-v3">
		                          				코성형<br class="hidden-m">
		                          				<strong>POINT</strong>
		                        			</h5>
		                      			</div>
		                    		</div>
		                  		</div>
		                  		<ul class="list-box__list">
				                    <li class="list-box__item txt-v3">짧은 길이의 코를 시원한 느낌으로 연장</li>
				                    <li class="list-box__item txt-v3">콧구멍의 노출을 줄여 단정한 이미지 강조</li>
				                    <li class="list-box__item txt-v3">섬세한 연장으로 자연스러움 추구</li>
		                  		</ul>
		                	</div>
		              	</div>

		              	<div class="operation type-six type-case2">
		                	<div class="operation__wrapper type-case3">
		                  		<div class="operation__area">
		                    		<div class="operation__box">
		                      			<h4 class="operation__tit">수술정보</h4>
				                      	<p class="operation__sub-tit">들창코 / 짧은 코 성형은 회복이 빠릅니다</p>
		                      			<ul class="operation__list">
		                        			<li class="operation__item nth-1">
		                          				<div class="operation__wrap">
		                            				<h5 class="operation__item-tit">수술시간</h5>
		                            				<p class="operation__item-txt"><span class="inline-block">약 1시간 30분</span><span class="inline-block">~ 2시간</span></p>
		                          				</div>
		                        			</li>
		                        			<li class="operation__item nth-2">
		                          				<div class="operation__wrap">
		                            				<h5 class="operation__item-tit">마취방법</h5>
		                            				<p class="operation__item-txt"><span class="inline-block">수면마취</span></p>
		                          				</div>
		                        			</li>
		                        			<li class="operation__item nth-3">
		                          				<div class="operation__wrap">
		                            				<h5 class="operation__item-tit">실밥제거</h5>
		                            				<p class="operation__item-txt">약 5일</p>
		                          				</div>
		                        			</li>
					                        <li class="operation__item nth-4">
					                          	<div class="operation__wrap">
					                            	<h5 class="operation__item-tit">회복</h5>
					                            	<p class="operation__item-txt">약 1일 후 <span class="inline-block">일상생활</span></p>
					                          	</div>
					                        </li>
					                        <li class="operation__item nth-5">
					                          	<div class="operation__wrap">
					                            	<h5 class="operation__item-tit">내원치료</h5>
					                            	<p class="operation__item-txt">
					                              		약 2회 내외
					                            	</p>
					                          	</div>
					                        </li>
		                        			<li class="operation__item nth-7">
		                          				<div class="operation__wrap">
		                            				<h5 class="operation__item-tit">수술재료</h5>
						                            <p class="operation__item-txt">
						                              	<span class="inline-block">필요없음</span>
						                            </p>
		                          				</div>
		                       	 			</li>
		                      			</ul><!-- //operation__list-->
		                      			<div class="operation__pain">
		                        			<h5 class="operation__pain-tit">수술 후 체감 통증</h5>
					                        <div class="status-bar type-nose2">
					                          	<div class="status-bar__wrap">수술 후 체감 통증 이미지</div>
					                        </div>
					                        <p class="operation__pain-txt"><span class="color-nose7">수면마취</span>로 인한 통증 걱정은 줄였습니다.</p>
					                        <p class="operation__pain-txt">마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다. </p>
					                        <p class="operation__pain-txt">많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.</p>
					                        <p class="operation__pain-txt">열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다. </p>
					                        <p class="operation__pain-txt">래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다. </p>
					                        <p class="operation__pain-txt">보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다. </p>
					                        <ul class="operation__noti">
					                          	<li class="operation__noti-txt">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다. </li>
					                          	<li class="operation__noti-txt">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</li>
					                        </ul>
		                      			</div>
		                    		</div>
		                    		<!-- //operation__box -->
		                  		</div>
		                  		<!-- //operation__wrap -->
		                	</div><!--operation-->
		                	<!--operation-->
			            </div>
			            <!--수술정보-->
		            </div><!-- //content-tab__page-->
		            <!-- //들창코 / 짧은 코 성형 -->

		            <div class="content-tab__page page-bend bend">
		              	<div class="content-box__box">
		                	<div class="casetype-box1 type-bend">
		                  		<div class="casetype-box1__wrap">
		                    		<div class="casetype-box1__box">
		                      			<h4 class="casetype-box1__tit">휜 코 교정술</h4>
		                      			<p class="casetype-box1__txt2">
		                        			<strong class="color-nose6">코의 기능적 문제</strong>를 본질적으로 바로잡는다면<br>
		                        			모양은 저절로 아름다워집니다.
		                      			</p>
		                    		</div>
		                  		</div>
		                  		<div class="casetype-box1__bg">
		                    		<div class="comparison type-bend">
		                      			<ul class="comparison__list">
					                        <li class="comparison__item nth-7">
					                          	<span class="comparison__subject">before</span>
					                        </li>
					                        <li class="comparison__item nth-8">
					                          	<span class="comparison__subject">after</span>
					                        </li>
		                      			</ul>
		                    		</div>
		                  		</div>
		                	</div><!--//casetype-box1-->
		                	<div class="casetype-box2">
		                  		<div class="quotation2">
		                    		<p class="quotation2__txt txt-v5">
		                      			복잡한 코의 내부까지 교정하는 것은<br class="hidden-pt"> 까다롭습니다.<br class="hidden-m"> 하지만 <span class="color-nose6">근본적인<br class="hidden-pt"> 문제 해결</span>을 위해 반드시 해야 합니다.
		                    		</p>
		                  		</div>
		                	</div>
		                	<div class="casetype-box3">
		                  		<ul class="casetype-box3__list">
		                    		<li class="casetype-box3__item nth-1">
		                      			<div class="casetype-box3__img nth-4"></div>
		                    		</li>
		                    		<li class="casetype-box3__item nth-2">
		                      			<p class="casetype-box3__txt txt-v1">
		                        			휜 코를 겉만 바르게 돌리려는 것은 의미가 없습니다. 대부분의 경우, 휜 코는 내부를
					                        구성하는 조직들이 전체적으로 함께 휘어져 있기 때문입니다. 그래서 휜 코는 외형적인 콤플렉스뿐만 아니라
					                        기능적인 문제를 동반하기도 합니다.<br><br>


					                        특히 비중격이 심하게 휘어있을 경우에는 코막힘, 비염, 코골이, 편두통 등을 유발하는데요, 이를 바로잡기 위해서는
					                        <strong class="content-highlight type-case">초기 진단 과정에서 코의 내부를 정확히 파악하고 비중격 성형술이나내-외측 절골술, 외측연골 교정 등
					                          복합적인 수술을 상태에 맞게 진행하는 것이 중요합니다. </strong>
					                        건물을 바로 세우듯이 코의 기본 뼈대와 구성 조직을 반듯하게 하는 것이죠. 물론 이런 내부 조직의 복합적인 수술을
					                        정밀하게 진행하기 위해서는 고도의 전문성과 경험을 갖춘 의사가 집도해야 합니다. 
		                      			</p>
		                    		</li>
		                  		</ul>
		                	</div>
		                	<div class="list-box">
		                  		<div class="list-box__box">
		                    		<div class="list-box__wrap">
		                      			<div class="list-box__vertical">
		                        			<h5 class="list-box__tit tit-v3">
		                          				코성형<br class="hidden-m">
		                          				<strong>POINT</strong>
		                        			</h5>
		                      			</div>
		                    		</div>
		                  		</div>
				                <ul class="list-box__list">
				                    <li class="list-box__item txt-v3">코의 구조적 바탕을 교정하여 코의 기능을 원활하게</li>
				                    <li class="list-box__item txt-v3">얼굴의 전체적인 휘어짐과 근육의 발달을 파악해 자연스럽고 곧은 이미지 추구</li>
				                </ul>
		                	</div>
		              	</div>
		              	<div class="operation type-six type-case2">
		                	<div class="operation__wrapper type-case4">
		                  		<div class="operation__area">
		                    		<div class="operation__box">
			                      		<h4 class="operation__tit">수술정보</h4>
			                      		<p class="operation__sub-tit">휜 코 교정술은 회복이 빠릅니다</p>
			                      		<ul class="operation__list">
		                        			<li class="operation__item nth-1">
		                          				<div class="operation__wrap">
						                            <h5 class="operation__item-tit">수술시간</h5>
						                            <p class="operation__item-txt"><span class="inline-block">약 1시간 30분</span><span class="inline-block">~ 2시간</span></p>
		                          				</div>
		                        			</li>
		                        			<li class="operation__item nth-2">
					                          	<div class="operation__wrap">
					                            	<h5 class="operation__item-tit">마취방법</h5>
					                            	<p class="operation__item-txt"><span class="inline-block">전신마취</span></p>
					                          	</div>
		                        			</li>
					                        <li class="operation__item nth-3">
					                          	<div class="operation__wrap">
					                            	<h5 class="operation__item-tit">실밥제거</h5>
					                            	<p class="operation__item-txt">약 5일</p>
					                          	</div>
					                        </li>
					                        <li class="operation__item nth-4">
					                          	<div class="operation__wrap">
					                            	<h5 class="operation__item-tit">회복</h5>
					                            	<p class="operation__item-txt">약 1일 후<span class="inline-block">일상생활</span></p>
					                          	</div>
					                        </li>
					                        <li class="operation__item nth-5">
					                          	<div class="operation__wrap">
					                            	<h5 class="operation__item-tit">내원치료</h5>
					                            	<p class="operation__item-txt">
					                              		약 2회 내외
					                            	</p>
					                          	</div>
					                        </li>
					                        <li class="operation__item nth-7">
					                          	<div class="operation__wrap">
					                            	<h5 class="operation__item-tit">수술재료</h5>
					                            	<p class="operation__item-txt">
					                              		<span class="inline-block">실리콘 등</span>
					                            	</p>
					                          	</div>
					                        </li>
		                      			</ul><!-- //operation__list-->
		                      			<div class="operation__pain">
		                        			<h5 class="operation__pain-tit">수술 후 체감 통증</h5>
					                        <div class="status-bar type-nose2">
					                          	<div class="status-bar__wrap">수술 후 체감 통증 이미지</div>
					                        </div>
					                        <p class="operation__pain-txt"><span class="color-nose7">수면마취</span>로 인한 통증 걱정은 줄였습니다. </p>
					                        <p class="operation__pain-txt">마취가 풀리면서 욱신거리고 약간의 불쾌감을 동반하는 정도의 통증을 느끼게 됩니다. </p>
					                        <p class="operation__pain-txt">많이 불편하신 분들께는 진통제 복용을 권유해드립니다. 이후 약국에서 파는 진통제 정도로 제어할 수 있습니다.</p>
					                        <p class="operation__pain-txt">열감이 느껴지신다면 냉찜질을 하시는 것도 도움이 됩니다. </p>
					                        <p class="operation__pain-txt">래피드 힐링 프로젝트를 통해 비교적 빠른 회복이 가능합니다. </p>
					                        <p class="operation__pain-txt">보형물이 자리 잡을 때까지 충격을 주지 않는 것이 중요합니다.</p>
					                        <ul class="operation__noti">
					                          	<li class="operation__noti-txt">* 실제 수술하신 환자분들의 수술 후 설문 자료를 통해 평균을 냈습니다. </li>
					                          	<li class="operation__noti-txt">* 절대적 수치는 아니고 개인차가 있을 수 있으니 참고만 해주시기 바랍니다.</li>
					                        </ul>
		                      			</div>
				                    </div>
				                    <!-- //operation__box -->
				                </div>
				                <!-- //operation__wrap -->
			                </div><!--operation-->
			                <!--operation-->
		              	</div>
		              	<!--수술정보-->
		              	<!-- //들창코 / 짧은 코 성형 -->
		            </div><!-- //content-tab__page-->
	            </div>
	        </div>
	    </div>
	</div>
	<!-- //content-->

	<% include ../_include/_bfaf %>
</div><!-- //container-->
<% include ../_include/_footer %>
