<%
	type = "detail"
	page = "nose"
%>
<% include ../_include/_header %>

<!-- Content -->
<div class="nose detail-common">
    <section class="fs_section noseFirst js-first" data-section-name="home">
		<div class="detail__inner">
			<div class="detail__vertical">
				<p class="detail__first-tit type-nose">
					Keharmonisan wajah, <span class="inline-block">implan, dan metode operasi</span>
				</p>
				<h3 class="detail__first-txt type-nose">
                  	<strong class="detail__first-point">Operasi hidung yang disesuaikan dengan pasien</strong><br>
                    Perincian dari <span class="color-nose1">Operasi hidung</span> Banobagi.
				</h3>
			</div>
		</div>
    </section>

    <section class="fs_section noseSection01" data-section-name="noseSection01">
		<div class="detail__inner">
			<div class="detail__vertical">
				<div class="detail__section-box type-normal type-nose">
	              	<h4 class="detail__section-tit">
	                	Operasi hidung,<br>
						Metode operasi <span class="color-nose1">Banobagi</span>
	              	</h4>
	              	<p class="detail__section-subtit">
                    	Konsultasi perorangan yang membahas mengenai wajah pasien dari berbagai sudut pandang.
                  	</p>
	              	<p class="detail__section-txt">
                    	Seberapapun bagusnya hidung seseorang, tampilannya dapat menjadi tidak menarik jika tidak sesuai dengaan bentuk wajahnya. Hidung sebagai organ yang terletak di wajah, akan terlihat berbeda tergantung pada kecocokan wajahnya. Kami mengerti bahwa yang terpenting adalah keharmonisan dan proporsionalisme wajah pasien. Oleh karena itu, Banobagi dapat mengusulkan bentuk ideal hidung pasien yang akan cocok dengan dirinya.
                  	</p>
	            </div>
			</div>
		</div>
    </section>

	<section class="fs_section noseSection02" data-section-name="noseSection02">
	  	<div class="detail__inner">
			<div class="detail__vertical">
			  	<div class="detail__section-box type-nose type-wide type-quotation2">
				  	<h4 class="detail__section-tit">
					  	Operasi hidung,<br>
						Banobagi adalah <span class="color-nose1">kepercayaan diri.</span>
				  	</h4>
				  	<p class="detail__section-subtit">Berbagai jenis operasi hidung dan teknologi.</p>
				  	<p class="detail__section-txt">
                    	Untuk sebuah hidung yang cantik, ada banyak hal yang harus dipertimbangkan seperti tinggi hidung, tulang rawan, panjang hidung, lebar tulang, ketebalan lapisan kulit, lubang hidung, dan jenis implan yang digunakan. Oleh karena itu, operasi hidung membutuhkan proses desain yang rumit. <span class="color-nose3">Banobagi telah mempraktikkan operasi hidung selama bertahun-tahun</span> dan kami melakukan pendekatan yang berbeda tiap individu walaupun jenis operasi yang sama telah kami lakukan berulang kali.
                  	</p>
			  	</div>
			</div>
		</div>
	</section>

	<section class="fs_section noseSection03" data-section-name="noseSection03">
		<div class="detail__inner">
  		  	<div class="detail__vertical">
  			  	<div class="detail__section-box type-wide type-nose">
  				  	<h4 class="detail__section-tit">
  					  	Operasi hidung,<br>
						Banobagi <span class="color-nose1">terampil</span> melakukannya.
  				  	</h4>
  				  	<p class="detail__section-subtit">Pemilihan dan penempatan bahan yang tepat</p>
  				  	<p class="detail__section-txt">
                    	Merupakan hal yang sulit untuk mengatakan mana lebih bagus, antara menggunakan implan atau menggunakan bahan tambahan dari tubuh pasien itu sendiri. Hasil akhir berbeda tergantung dari bentuk asli hidung pasien dan karakteristik kulitnya. Penggunaan bahan yang tepat dan aman lebih penting dibanding sekedar jenis bahan yang digunakan. <span class="color-nose2">Tim operasi hidung Banobagi memiliki pengalaman selama bertahun-tahun, telah mengadakan penelitian besar, dan menyempurnakan keterampilan dalam penggunaan bahan sesuai kebutuhan pasien.</span>
                  	</p>
  			  	</div>
			  	<!-- layer-doc4 -->
			  	<div class="layer-doc4 type-nose">
				  	<ul class="layer-doc4__list">
				  		<li class="layer-doc4__item nth-1">
				  			<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">Bahan-bahan Operasi hidung</h5>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-2">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">Penggunaan organ tubuh pasien</h5>
								<p class="layer-doc4__txt">
		                            Tulang rawan telinga, tulang rawan sekat hidung, kulit, jaringan lemak, dan lainnya.
								</p>
				  			</div>
				  		</li>
				  		<li class="layer-doc4__item nth-3">
							<div class="layer-doc4__wrap">
				  				<h5 class="layer-doc4__tit">Implan buatan</h5>
								<p class="layer-doc4__txt">
	                            	Silikon, gore-tex, siligore, dan lainnya.
								</p>
				  			</div>
				  		</li>
				  	</ul>
			  	</div>
			  	<!-- //layer-doc4 -->
  			</div>
		</div>
    </section>

	<section class="fs_section noseSection04" data-section-name="noseSection04">
		<div class="detail__inner type-full">
			<div class="detail__popup type-nose">
				<div class="detail__popup-wrap">
					<h5 class="detail__popup-tit">Proyek Penyembuhan Cepat</h5>
					<p class="detail__popup-subtit">Program pasca operasi akan mengurangi bengkak, memar, dan nyeri sekitar 30-50 persen. </p>
					<div class="detail__popup-scroll">
						<ul class="detail__popup-list">
							<li class="detail__popup-item nth-1">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">Teknik operasi yang memukau</h6>
									<p class="detail__popup-txt">Dengan pengalaman dan metode operasi yang canggih, teknik operasi meminimalisir kerusakan jaringan dan perdarahan.</p>
								</div>
							</li>
							<li class="detail__popup-item nth-2">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">Pengobatan sebelum dan sesudah operasi</h6>
									<p class="detail__popup-txt">Pengujian obat-obatan yang tepat serta pemberian obat-obatan yang benar diperlukan untuk penyembuhan yang lebih cepat.</p>
								</div>
							</li>
							<li class="detail__popup-item nth-3">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">Obat-obat untuk penyembuhan yang cepat</h6>
									<p class="detail__popup-txt">Obat-obat yang mengaktivasi peredaran darah sirkulasi mikro akan meningkatkan toleransi tubuh terhadap bengkak dan memar.</p>
								</div>
							</li>
							<li class="detail__popup-item nth-4">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">Krim ekstrak dari Cica Bio Arnica</h6>
									<p class="detail__popup-txt">Penggunaan krim lembut ini akan mengurangi nyeri, bengkak, dan memar.</p>
								</div>
							</li>
							<li class="detail__popup-item nth-5">
								<div class="detail__popup-box">
									<h6 class="detail__popup-subject">Perawatan laser penenang</h6>
									<p class="detail__popup-txt">Terapi laser dapat digunakan untuk mengurangi nyeri, anti peradangan, dan menyerap bengkak.</p>
								</div>
							</li>
						</ul>
					</div>
					<a href="" class="detail__popup-close js-popup-close">Tutup</a>
				</div>
			</div>
  			<div class="detail__section-wrap type-nose">
  				<div class="detail__vertical">
  					<div class="detail__section-box type-wide type-right type-nose type-quotation2">
						<h4 class="detail__section-tit">
							Operasi hidung,<br>
							Banobagi melakukannya dengan <span class="color-nose4">terperinci</span>
						</h4>
						<p class="detail__section-subtit">Proyek Penyembuhan Cepat dibentuk melalui komunikasi dengan pasien kami.</p>
						<p class="detail__section-txt">
                         	Banyak orang memikirkan penyembuhan jangka panjang, bengkak, memar, dan nyeri terkait operasi hidung yang menyertai prosedur itu sendiri. Banobagi mengerti hal tersebut, oleh karena itu <span class="color-nose4">kami mengembangkan Proyek penyembuhan cepat dalam rangka pemulihan secepat mungkin setelah prosedur operasi.</span>
						</p>
					</div>
  				</div>
  			</div>
  		</div>
		<div class="detail__section-bottom type-nose">
			<div class="detail__section-set">
              	Proyek Penyembuhan Cepat<br class="hidden-pt">
				Banobagi
				<span class="detail__section-bottomWrap"><a href="#" class="detail__popup-btn js-popup-open type-nose">pop-up button</a></span>
			</div>
		</div>
    </section>

	<section class="fs_section noseSection05" data-section-name="noseSection05">
		<div class="detail__inner type-full">
    		<div class="detail__section-wrap type-nose type-another">
    			<div class="detail__vertical">
    				<div class="detail__section-box type-normal type-nose type-quotation2">
	  					<h4 class="detail__section-tit">
							Operasi hidung,<br>
							Banobagi <span class="color-nose4">mendengarkan</span> pasien kami.
	  					</h4>
	  					<p class="detail__section-subtit">Alasan Banobagi menjadwalkan konferensi reguler</p>
	  					<p class="detail__section-txt">
                            <span class="color-nose4">Tim ahli dan profesional Banobagi mengadakan konfernensi minimal dua kali sebulan untuk mengedukasi dan meningkatkan kualitas prosedur kami. </span> Semua karyawan di departemen operasi hidung, termasuk para konsultan, dokter spesialis, perawat, para pasien, dan terapis akan berkumpul mendiskusikan kasus unik demi meningkatkan hasil operasi dan berbagi pengalaman. Karena kami tidak melupakan proses ini selama 17tahun terakhir, kami yakin dan mampu menyediakan Anda operasi yang holistik, terperinci, dan memuaskan. Demi perawatan medis yang lebih baik, hasil yang lebih memuaskan, dan pelayanan yang lebih nyaman, Banobagi mengurus segalanya secara terperinci.
                        </p>
	  				</div>
					<div class="layer-img"></div>
    			</div>
    		</div>
    	</div>
    </section>
</div>
<!-- //Content -->

<% include ../_include/_footer %>
