@charset "UTF-8";
@import "mixins";
@import "vendor";
.m-gnb{position:fixed; bottom:0; left:-100%; display:none; width:100%; height:calc(100% - 59px;); background:#262626; z-index:11; overflow:hidden; transition: all 0.3s;
	border-top:1px solid #363636;
	&__wrap{overflow-y:scroll;
		&:after{display:block; clear:both; content:'';}
	}
	&.js-open-d{left:0;}
	@media only screen and (max-width:$tablet-size){display:block;}
	@media only screen and (max-width:$mobile-size){height:calc(100% - 49px);}
}
.mobile-menu{display:none; position:absolute; bottom:0; left:0; padding-top:3px; width:47px; height:inherit; text-align: center; box-sizing:border-box; z-index:50; cursor:pointer;
	$this:&;
	&__wrap{position:relative; display:block; width:100%; height:100%;}
	&__line{position:absolute; top:-1px; left:0; right:0; bottom:0; display:block; height:1px; width:26px; background-color:#fff; margin:auto; transition: all linear 0.2s;
		&:before{position:absolute; top:-9px; left:0; width:100%; height:1px; background:#fff; transition: all linear 0.2s; content:'';}
		&:after{position:absolute; bottom:-9px; left:0; width:100%; height:1px; background:#fff; transition: all linear 0.2s; content:'';}
	}
	@media only screen and (max-width:$tablet-size){display:block;}
	@media only screen and (max-width:$mobile-size){
		&__line{width:20px;
			&:before{position:absolute; top:-7px;}
			&:after{position:absolute; bottom:-7px;}
		}
	}
}

.m-menu{position:absolute; bottom:0; left:0; z-index:-1;
	@media only screen and (max-width:$tablet-size){top:55px; border-top:1px solid #363636;}
	&:after{display:block; clear:both; content:'';}
}
.national-gnb{padding:7px 14px; width:100%; max-width:640px; margin:0px auto; box-sizing:border-box;
	&__list{margin:0 0 -17px 0; padding:0; text-align: justify;
		&:after{display:inline-block; width:100%; content:'';}
	}
	&__item{ display:inline-block; width:40px; height:40px; text-indent:-9999px;
		&.nth-1{background:url('../images/common/flag_icon_10.png'); background-size:40px 40px; }
		&.nth-2{background:url('../images/common/flag_icon_08.png'); background-size:40px 40px; }
		&.nth-3{background:url('../images/common/flag_icon_05.png'); background-size:40px 40px; }
		&.nth-4{background:url('../images/common/flag_icon_09.png'); background-size:40px 40px; }
		&.nth-5{background:url('../images/common/flag_icon_06.png'); background-size:40px 40px; }
		&.nth-6{background:url('../images/common/flag_icon_11.png'); background-size:40px 40px; }
		&.nth-7{background:url('../images/common/flag_icon_12.png'); background-size:40px 40px; }
	}
	&__link{display:block; width:100%; height:100%;}
	@media only screen and (max-width:$mobile-size){overflow-x: auto; overflow-y: hidden; padding:7px 0; -webkit-overflow-scrolling: touch;
		&__list{overflow:visible; margin:0; white-space:nowrap;
			&:after{display:none;}
		}
		&__item{
			& + &{margin-left:20px;}
			&:first-of-type{margin-left:14px;}
			&:last-of-type{margin-right:14px;}
		}
	}
}
.m-1depth{float:left; width:90px; height:100%; border-right:1px solid #434343; box-sizing:border-box; overflow:auto; -webkit-overflow-scrolling: touch;
	$this:&;
	&__list{width:100%; padding:0; margin:0;}
	&__icon{position:relative; display:block;
		&:before{display:block; width:30px; height:36px; margin:0 auto 8px; background:url('../images/common/gnb/gnb_icon1.png'); background-size:30px 36px; content:'';}
	}
	&__item{height:90px; box-sizing:border-box;  list-style:none;
		&.is-active{background-color:#b916a4;}
		& + &{border-top:1px solid #434343;}
		&.nth-2{
			& #{$this}__icon:before{width:30px; height:27px; background:url('../images/common/gnb/gnb_icon2.png'); background-size:30px 27px;}
		}
		&.nth-3{
			& #{$this}__icon:before{width:31px; height:17px; background:url('../images/common/gnb/gnb_icon3.png'); background-size:31px 17px;}
		}
		&.nth-4{
			& #{$this}__icon:before{width:30px; height:19px; background:url('../images/common/gnb/gnb_icon4.png'); background-size:30px 19px;}
		}
		&.nth-5{
			& #{$this}__icon:before{width:19px; height:26px; background:url('../images/common/gnb/gnb_icon5.png'); background-size:19px 26px;}
		}
		&.nth-6{
			& #{$this}__icon:before{width:30px; height:36px; background:url('../images/common/gnb/gnb_icon6.png'); background-size:30px 36px;}
		}
		&.nth-7{
			& #{$this}__icon:before{width:30px; height:30px; background:url('../images/common/gnb/gnb_icon7.png'); background-size:30px 30px;}
		}
		&.nth-8{
			& #{$this}__icon:before{width:30px; height:28px; background:url('../images/common/gnb/gnb_icon8.png'); background-size:30px 28px;}
		}
		&.nth-9{
			& #{$this}__icon:before{width:27px; height:32px; background:url('../images/common/gnb/gnb_icon13.png'); background-size:27px 32px;}
		}
		&.nth-10{
			& #{$this}__icon:before{width:30px; height:30px; background:url('../images/common/gnb/gnb_icon9.png'); background-size:30px 30px;}
		}
		&.nth-11{
			& #{$this}__icon:before{width:30px; height:26px; background:url('../images/common/gnb/gnb_icon10.png'); background-size:30px 26px;}
		}
		&.nth-12{
			& #{$this}__icon:before{width:30px; height:25px; background:url('../images/common/gnb/gnb_icon11.png'); background-size:30px 25px;}
		}
		&.nth-13{
			& #{$this}__icon:before{width:30px; height:21px; background:url('../images/common/gnb/gnb_icon12.png'); background-size:30px 21px;}
		}
	}
	&__link{display:table-cell; width:1%; height:inherit; vertical-align:middle; font-size:1.1rem; text-align:center; color:#fff; text-decoration:none;
		&:hover,&:active,&:visited{color:#fff;}
	}
	@media only screen and (max-width:$tablet-size){
		&__item{
			&:last-child{border-bottom:1px solid #434343;}
		}
	}
}
.m-2depth{float:right; height:100%; overflow-y:auto;   width:calc(100% - 90px); -webkit-overflow-scrolling: touch;
	$this:&;
	&__list{display:none; padding:0; margin:0; font-size:0;
		&.is-active{display:block;}
	}
	&__item{background-color:#434343; list-style:none;
		& + &{border-top:1px solid #323232;}
		&.type-3depth{
			& #{$this}__wrap{
				&:before{position:absolute; right:0; top:0; bottom:0; width:13px; height:0; margin:auto 0; border-top:1px solid #999; content:'';}
				&:after{position:absolute; right:6px; top:0; bottom:0; width:0px; height:13px; margin:auto 0; border-left:1px solid #999; content:'';}
			}
			&.is-active{
				& #{$this}__wrap:after{display:none;}
				& #{$this}__link{color:#fff;}
			}
		}
		&.is-active + &{border-top:none}
		&.is-active{
			& .m-3depth__list{display:block;}
		}
		&.type-logout{text-align:center;
			& #{$this}__wrap{display:inline-block; width:auto; padding-left:25px; text-align:center;
				&:before{position:absolute; top:0; left:0; display:block; width:19px; height:20px; background:url('../images/common/gnb/logout_icon.png'); background-size:19px 20px; content:'';}
			}
		}
	}
	&__link{display:table-cell; width:1%; height:50px; padding:0 25px; vertical-align:middle; color:#d7d7d7; font-size:1.4rem; line-height:1.3; text-decoration:none;
		&:hover,&:active,&:visited{color:#d7d7d7;}
	}
	&__wrap{position:relative; display:block; width:100%; padding-right:16px; box-sizing:border-box;}
}

.m-3depth{
	&__list{display:none; padding:0; margin:0;
		&.is-active{display:block;}
	}
	&__item{background-color:#262626; border-top:1px solid #363636; list-style:none;
		&:last-child{border-bottom:1px solid #363636;}
	}
	&__link{display:table-cell; width:1%; height:40px; padding:0 25px; vertical-align:middle; color:#b0b0b0; font-size:1.3rem; text-decoration:none;
		&:hover,&:active,&:visited{color:#b0b0b0;}
	}
}
.m-review{
	$this:&;
	&__item{display:inline-block; width:50%; margin-top:20px; text-align:center;
		@media only screen and (max-width:$tablet-size){width:25%;}
		@media only screen and (max-width:$mobile-size){width:50%;}
		&.nth-1{
			& #{$this}__tit:before{background:url('../images/common/gnb/review_icon1_m.png'); background-size:88px 88px;}
		}
		&.nth-2{
			& #{$this}__tit:before{background:url('../images/common/gnb/review_icon2_m.png'); background-size:88px 88px;}
		}
		&.nth-3{
			& #{$this}__tit:before{background:url('../images/common/gnb/review_icon3_m.png'); background-size:88px 88px;}
		}
		&.nth-4{
			& #{$this}__tit:before{background:url('../images/common/gnb/review_icon4_m.png'); background-size:88px 88px;}
		}
	}
	&__tit{display:block; margin:0; font-size:1.4rem; color:#b8b8b8; text-transform: uppercase; text-decoration:none;
		&:before{display:block; width:88px; height:88px; margin:0px auto 10px; content:'';}
	}
}
